<div class="box box-success" *ngIf="student != null">

  <div class="">
    <img [src]="config._BASE_URI+'Content/static/images/updatePhoto/banner_actualiza_foto.gif'" alt="" class="img-responsive center-block ">
    <div class="row">
      <div class="col-md-3">
        <h4 class="box-title text-center">Foto actual</h4>
        <div class="box-body no-padding">
          <img [src]="config._API_URI+'/personal/photo/'+student.person_id"  class="img-responsive center-block" alt="Actual"/>
        </div>
      </div>
      <div class="col-md-6">
        <h4 class="box-title text-center">Subir foto</h4>
        <div class="box-body no-padding">
          <img [src]="config._API_URI+'api/personal/photo/'+student.person_id"  class="img-responsive center-block" alt="Nueva"/>
        </div>
      </div>
      <div class="col-md-3">
        <h4 class="box-title text-center">Nueva foto recortada</h4>
        <div class="box-body no-padding">
          <img [src]="config._API_URI+'api/personal/photo/'+student.person_id"  class="img-responsive center-block" alt="Recortada"/>
        </div>
      </div>
    </div>
    <br><br>
    <div class="">
        <img [src]="config._BASE_URI+'Content/static/images/updatePhoto/aspectos_actualiza_foto.jpg'" alt="" class="img-responsive center-block">
    </div>

  </div>

</div>
