.animate-increase-full
  animation-direction: normal
  animation-duration: 18s
  animation-name: increasefull
  animation-timing-function: cubic-bezier(.35,.1,0,1)

.rotation-infinite
  -moz-animation: spin 4s linear infinite
  -webkit-animation: spin 4s linear infinite
  animation: spin 4s linear infinite

@keyframes increasefull
  from
    width: 0%
  to
    width: 100%;
@keyframes spin
  100%
    -moz-transform: rotate(360deg)
    -webkit-transform: rotate(360deg)
    transform: rotate(360deg)
