.pulse-sc, .pulse-sc-2
  animation-duration: 2s
  animation-iteration-count: infinite
  animation-name: pulseSC
.pulse-sc-2
  animation-name: pulseSC2
@keyframes pulseSC
  0%,100%
    -moz-transform: scale(1)
    -ms-transform: scale(1)
    -o-transform: scale(1)
    -webkit-transform: scale(1)
    transform: scale(1)
  50%
    -moz-transform: scale(1.1)
    -ms-transform: scale(1.1)
    -o-transform: scale(1.1)
    -webkit-transform: scale(1.1)
    transform: scale(1.1)

@keyframes pulseSC2
  0%,100%
    -moz-transform: scale(1)
    -ms-transform: scale(1)
    -o-transform: scale(1)
    -webkit-transform: scale(1)
    transform: scale(1)
  50%
    -moz-transform: scale(1.2)
    -ms-transform: scale(1.2)
    -o-transform: scale(1.2)
    -webkit-transform: scale(1.2)
    transform: scale(1.2)
