.pulse
  overflow: visible
  position: relative
  &:before
    background-color: inherit
    border-radius: inherit
    content: ''
    display: block
    height: 100%
    left: 0
    position: absolute
    top: 0
    width: 100%
    -webkit-animation: pulse-animation 1s infinite
    animation: pulse-animation 1s infinite
    -webkit-transition: opacity 2s, transform 2s, -webkit-transform 2s
    transition: opacity 2s, transform 2s, -webkit-transform 2s
    z-index: -1

@keyframes pulse-animation
  0%
    opacity: 1
    -webkit-transform: scale(1)
    transform: scale(1)
  50%
    opacity: 0
    -webkit-transform: scale(1.5)
    transform: scale(1.5)
  100%
    opacity: 0
    -webkit-transform: scale(1.5)
    transform: scale(1.5)
