<div class="container-fluid">

  <div class="box box-info">
    <div class="overlay" *ngIf="load === true">
      <i class="fa fa-refresh fa-spin"></i>
    </div>
    <div class="box-body">
      <div class="box-header with-border">
        <h3 class="box-title">
          Constancias de Tercio y Quinto Superior &nbsp;
          <span class="pull-right badge bg-orange help" data-toggle="tooltip" data-placement="right" 
                title="NO genera deuda. NO requiere que el código se encuentre en la tabla de
                egresados para generar la constancia. Si no encuentra al código en egresados muestra info de
                ingreso a la UC">
            gratuito <i class="fa fa-question-circle-o"></i>
          </span>
        </h3>
        <h3 class="box-title pull-right">[Batch]</h3>
      </div>
      <div class="form-horizontal">
        <div class="box-body">
          <div class="form-group">
            <label class="col-sm-2 control-label">Códigos</label>
            <div class="col-sm-10">
              <input class="form-control" type="text" name="estudiantes" placeholder="Códigos de UC" [(ngModel)]="stringCodes" (ngModelChange)="separateCodes()"
                ng>
            </div>
          </div>
          <div class="form-group" *ngIf="lstCodes != undefined  && lstCodes.length > 0">
            <div class="col-sm-offset-2 col-sm-10 col-md-7">
              <span class="badge bg-teal hand">Códigos ingresados
                <span class="badge bg-teal-active">
                  {{lstCodes.length}}
                </span>
              </span>
            </div>
            <div class="col-sm-offset-2 col-sm-10 col-md-7">
              <span>
                <span class="badge bg-gray" *ngFor="let code of lstCodes"><i class="fa fa-user"></i> {{code}}
                </span>&nbsp;
              </span>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10 col-md-7">
              <button type="submit" class="btn btn-info" (click)="getStudents()" [disabled]="lstCodes == undefined || lstCodes.length <= 0">
                <i class="fa fa-search"></i> Buscar Estudiantes
              </button>
              <button type="button" class="btn btn-default" (click)="clear()">
                <i class="fa fa-trash-o"></i> Limpiar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="box box-info" *ngIf="lstCodes != undefined  && lstCodes.length > 0 && lstTerms != undefined && lstTerms.length > 0 && graduates != undefined  && graduates.length > 0">
    <div class="overlay" *ngIf="load === true">
      <i class="fa fa-refresh fa-spin"></i>
    </div>
    <div class="box-body">
      <div class="box-header with-border">
        <h3 class="box-title">Per&iacute;odo Acad&eacute;mico de Matr&iacute;cula</h3>
        <h3 class="box-title pull-right"></h3>
      </div>
      <div class="form-horizontal">
        <div class="box-body">
          <div class="form-group" [ngClass]="{ 'has-error': term == undefined }">
            <label class="col-sm-2 control-label">Per&iacute;odo</label>
            <div class="col-sm-10">
              <select class="form-control" [(ngModel)]="term">
                <option *ngFor="let period of lstTerms" value="{{ period }}">{{ period }}</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10 col-md-7">
              <small class="text-info">
                <i class="fa fa-info-circle"></i>
                Se generar&aacute; constancia de matr&iacute;cula del per&iacute;odo ingresado.<br/>
                <i class="fa fa-info-circle"></i>
                Se genera un nuevo documento cada vez que se realiza la acción de "Generar Constancia".
              </small>
            </div>
          </div>
        </div>
        <!-- /.box-body -->
      </div>
    </div>
  </div>

  <div class="box box-info" *ngIf="graduates != undefined  && graduates.length > 0">
    <div class="overlay" *ngIf="load === true">
      <i class="fa fa-refresh fa-spin"></i>
    </div>
    <div class="box-header with-border">
      <h3 class="box-title">Resultados de B&uacute;squeda</h3>
      <div class="box-tools pull-right">
        <div class="has-feedback">
          <button class="btn btn-default btn-sm" type="button" name="todos" (click)="selectAll()">
            Seleccionar todos
          </button>
          <button class="btn btn-info btn-sm" type="button" name="constancia" *ngIf="term != undefined && graduates != undefined  && graduates.length > 0"
            (click)="generateDocument()">
            Generar Constancia
          </button>
        </div>
      </div>
    </div>
    <div class="box-body table-responsive no-padding">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th></th>
            <th>C&oacute;digo</th>
            <th>Nombre</th>
            <th>Per&iacute;odo egreso</th>
            <th>Modalidad</th>
            <th>Escuela</th>
            <th>Constancia</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let e of graduates; let i = index" [attr.data-index]="i" 
              [ngClass]="{ 'info': e.is_selected, 'success': e.payment_status == 1 && e.download,
              'text-danger': e.school_id == '0' && e.academic_status != -4 }">
            <td>{{ i + 1 }}</td>
            <td (click)="setStudentsToProcess(e)">
              <i class="fa fa-check-square-o" *ngIf="e.is_selected"></i>
              <i class="fa fa-square-o" *ngIf="!e.is_selected"></i>
            </td>
            <td>{{ e.student_id }}</td>
            <td>{{ e.student_name }}</td>
            <td>
              <span *ngIf="e.academic_status == 4">{{ e.graduation_period }}</span>
              <span *ngIf="e.academic_status == -4" class="label label-warning">no egresado</span>
              <span *ngIf="e.academic_status == 0" class="label label-danger">no encontrado</span>
            </td>
            <td>
              <span *ngIf="e.modality_id != '0'" title="{{ e.modality_id }}" class="help" data-toggle="tooltip" data-placement="top">
                {{ e.modality_name }}
              </span>
            </td>
            <td>
              <span *ngIf="e.school_id != '0'" title="{{ e.school_id }}" class="help" data-toggle="tooltip" data-placement="top">
                {{ e.school_name }}
              </span>
            </td>
            <td>
              <i class="fa fa-cog" *ngIf="e.is_selected && !e.download && e.school_id != '0' && e.doc_url == null && e.payment_status != 2 && e.payment_status != 3 && e.other_period == null && !e.processing && !e.ProcessingError "></i>
              <i class="fa fa-cog fa-spin fa-fw" *ngIf="e.processing && e.is_selected && e.other_period == null && !e.ProcessingError"></i>
              <i class="fa fa-exclamation-triangle" *ngIf="e.ProcessingError"></i>
              <button class="btn btn-danger btn-xs" type="button" name="button" disabled *ngIf="(!e.is_selected && e.school_id == '0') || (e.is_selected && e.school_id == '0') || (e.is_selected && e.payment_status == 3)">
                No Disponible
              </button>
              <button class="btn btn-warning btn-xs" type="button" name="button" disabled *ngIf="e.is_selected && e.payment_status == 2">
                Pendiente Pago
              </button>
              <span *ngIf="e.other_period">
                <button class="btn btn-xs bg-orange-active" (click)="generateOtherTerm(e)">
                  {{e.other_period}}
                </button>
              </span>
              <span *ngIf="e.download && !e.processing">
                <a class="label label-info" title="Ver PDF" target="_blank" href="{{ e.doc_url }}" data-toggle="tooltip" data-placement="top">
                  <i class="fa fa-eye"></i>
                </a>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>