﻿<html>
<head>
</head>
<body>
    <div style='width:550px;font-family:Calibri;margin:0 auto'>
        <div style='text-align:center'>
            <img src='https://campusvirtual.continental.edu.pe/index_v3/logo_uc_campus.gif' class='CToWUd'>
        </div>
        <div style='text-align:center;padding-bottom:10px'>
            OFICINA DE PROGRAMACIÓN ACADÉMICA
        </div>
        <div style='border-top-style:solid;border-top-width:1px;border-bottom-style:solid;border-bottom-width:1px;text-align:center;font-weight:bold;font-size:19px;padding:5px'>
            AUTORIZACIÓN PARA USO DE AULA
        </div>
        <div style='padding-top:10px'>
            Estimado Usuario: {{mensaje.destinatario_nombre}}.
        </div>
        <div style='padding-bottom:10px;padding-top:10px'>
            Por medio del presente se confirma el uso de:
        </div>
        <table width='100%' rules='all' border='1' style='font-family:Calibri'>
            <tbody>
                <tr>
                    <td style='background-color:#0b2161;color:white;padding-left:10px'>Aula</td>
                    <td style='padding-left:10px;font-size:20px'><strong>{{mensaje.aula}}</strong></td>
                </tr>
                <tr>
                    <td style='background-color:#0b2161;color:white;padding-left:10px'>Motivo</td>
                    <td style='padding-left:10px'>{{mensaje.motivo}}</td>
                </tr>
                <tr>
                    <td style='background-color:#0b2161;color:white;padding-left:10px'>Detalle</td>
                    <td style='padding-left:10px'>{{mensaje.detalle}}</td>
                </tr>
                <tr>
                    <td style='background-color:#0b2161;color:white;padding-left:10px'>Tipo de Usuario</td>
                    <td style='padding-left:10px'>{{mensaje.tipo_usuario}}</td>
                </tr>
            </tbody>
        </table>
        <div style='padding-top:10px'>
            <table>
                <tbody>
                    <tr>
                        <td style='background-color:#0b2161;color:white;padding-left:10px'>Fechas</td>
                        <td style='background-color:#0b2161;color:white;padding-left:10px'>Horas</td>
                    </tr>
                    <tr>
                        <td style='padding-left:10px'>{{mensaje.fecha}}</td>
                        <td style='padding-left:10px'>{{mensaje.hora}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div style='padding-top:10px'>
            <strong>Nota:</strong><br>
            Este es el único medio probatorio de su reserva de ambientes  por lo que debe  ser impreso para ser presentado a quién lo solicite cuando ingrese al aula.<br><br>
            Si necesita algún requerimiento adicional (24 horas antes) o tiene algún incidente en el ambiente reservado comuníquese con las siguientes personas:<br><br>
            <table width='100%' rules='all' border='1' style='font-family:Calibri'>
                <tbody>
                    <tr>
                        <td style='background-color:#0b2161;color:white'><p style='font-size:13px;margin:0px' align='center'>INCIDENTE</p></td>
                        <td style='background-color:#0b2161;color:white'><p style='font-size:13px;margin:0px' align='center'>RESPONSABLE</p></td>
                    </tr>
                    <tr>
                        <td><p style='font-size:12px;margin:0px'>Equipo de cómputo y multimedia, acceso a internet.</p></td>
                        <td><p style='font-size:12px;margin:0px'>Guillermo Jaramillo - #957952394</p></td>
                    </tr>
                    <tr>
                        <td><p style='font-size:12px;margin:0px'>Puertas cerradas, mobiliario, ecran, pizarra, otros</p></td>
                        <td>
                            <p style='font-size:12px;margin:0px'>
                                Josué Galdos Talaverano - #950816124<br>
                                Celia Gutarra Alayo - #995062405
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td><p style='font-size:12px;margin:0px'>Otros</p></td>
                        <td>
                            <p style='font-size:12px;margin:0px'>
                                José Meza Vento - 964807723 - *935337<br>
                                Katia Montero Barrionuevo - #988492002<br>
                                Joel Bastidas Valdivia - 995885577 - #756672
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div style='padding-top:10px'>
            Atentamente,<br>
            <strong>OFICINA DE PROGRAMACIÓN ACADÉMICA</strong><div class='yj6qo'></div><div class='adL'>
            </div>
        </div><div class='adL'>
        </div>
    </div>
    <body>
</html>