<loading *ngIf="loadingStatus"></loading>
<div *ngIf="!loadingStatus">
  <!-- cabecera resumen -->
  <div *ngIf="status==undefined || status!=null ">
    <!-- Mensaje de examen de clasificación -->
    <div class="callout callout-warning" *ngIf="status.need_recategorize">
      <h4><i class="icon fa fa-warning"></i> Necesita tomar el examen de clasificación de idioma!</h4>
      <p>Has excedido los tres meses desde tu último ciclo cursado. De acuerdo a nuestro reglamento, debes rendir un examen de clasificación para continuar tus estudios.</p>
      <p>Por favor, acércate a nuestras oficinas del Centro de Idiomas para tramitar la evaluación.</p>
    </div>
    <!-- resumen académico -->
    <div class="row">
      <section class="col-sm-4" *ngIf="!hideStatus">
        <div class="small-box bg-green">
          <div class="inner">
            <h3>{{st.getLanguage(status.language)}} - {{(status.cycle - 1) | number : '2.0-2'}}</h3>
            <p>Último ciclo completado</p>
          </div>
          <div class="icon">
            <i class="fa fa-check"></i>
          </div>
        </div>
      </section>
      <section class="col-sm-4" *ngIf="!hideStatus">
        <div class="small-box bg-orange">
          <div class="inner">
            <h3>{{status.modality_name}}</h3>
            <p>Modalidad</p>
          </div>
          <div class="icon">
            <i class="fa fa-sitemap"></i>
          </div>
        </div>
      </section>
    </div>
    <div *ngIf="warningCIC" class="callout callout-warning">
      <h4>{{warningCICTitle}}</h4>
      <p>{{warningCICDescription}}</p>
    </div>
    <!-- Offers -->
    <div *ngIf="!viewSchedule && offers != null && offers.length > 0 && !status.need_recategorize" class="card card-primary">
      <div class="header">
        <h3 class="title"><i class="fc-schedule"></i> Horarios para {{st.getLanguage(status.language)}} - Ciclo {{status.cycle | number : '2.0-2'}}</h3>
      </div>
      <div class="body pt-0" *ngIf="modalities">
        <!-- Modalidades-->
        <div *ngFor="let mod of modalities">
          <div class="row" *ngIf="mod.offers.length > 0">
            <h3 class="text-center">Modalidad {{mod.name}}</h3>
            <div class="col-sm-4" *ngFor="let offer of mod.offers">
              <div class="card card-default card-clickable" (click)="getSchedule(offer)">
                <h4 class="text-primary text-center">{{offer.section}}</h4>
                <p><i class="fa fa-user text-primary"></i> {{offer.teacher}}</p>
                <p><i class="fa fa-calendar text-primary"></i> del {{ offer.startDate | date: 'dd/MM/yyyy'}} al
                  {{ offer.endDate | date: 'dd/MM/yyyy'}}</p>
                <div class="footer bg-red"  *ngIf="offer.teacher==='DOCENTE NO ASIGNADO'">
                  <p class="m-0"><small>En proceso de asignación de docente</small></p>
                </div>
                <div class="footer bg-primary" *ngIf="offer.teacher!=='DOCENTE NO ASIGNADO'">
                  <p class="m-0"><i class="fa fa-arrow-circle-right"></i> <small>Ver detalle.</small></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> 
    <!-- Schedule -->
    <div *ngIf="viewSchedule">
      <loading *ngIf="loadingSchedule" text="Cargando el horario..."></loading>
      <section *ngIf="!loadingSchedule" class="box box-primary">
        <header class="box-header" *ngIf="!successEnrollment">
          <div class="box-tools pull-right">
            <button *ngIf="seeEnrollment" type="button" class="btn bt-sm bg-aqua" (click)="returnSchedule()"><i class="fa fa-calendar"></i> Ver Horario</button>
            <button type="button" class="btn btn-primary bt-sm bg-blue-active" (click)="returnSectionsList()" *ngIf="!alreadyEnrolled"><i class="fa fa-arrow-left"></i> Volver al Menú</button>
          </div>
        </header>
        <div *ngIf="successEnrollment">
          <div class="box-body">
            <div class="col-md-12">
                <div class="content-schedule">
                    <h1 style="text-align: center" class="text-green">Prematrícula realizada</h1>
                    <ul class="col-xs-6 col-xs-offset-3" style="text-align: justify">
                      <li style="text-align: center;">Tu prematrícula fue realizada de manera exitosa. Puedes efectuar el pago correspondiente desde esta misma plataforma o en Caja de la Universidad.</li>
                    </ul>
                </div>
              </div>
          </div>
        </div>
        <article class="box-body text-center">
          <h3 class="text-blue-active"> Sección: {{currentOffer.section}}</h3>
          <h4> 
              <i class="fa fa-flag"></i> Idioma: {{st.getLanguage(currentOffer.program)}} &nbsp;&nbsp;
              <i class="fa fa-bars"></i> Ciclo {{currentOffer.cycle | number : '2.0-2'}} &nbsp;&nbsp;
              <i class="fa fa-sitemap"></i> Modalidad {{st.getCICModality(currentOffer.modality)}}
            </h4>
          <p>
            <i class="fa fa-user"></i> Docente: {{currentOffer.teacher}} &nbsp;&nbsp;
            <i class="fa fa-building"></i> Aula: {{schedule[0].courses[0].classroom}}
          </p>
          
          <p><i class="fa fa-calendar"></i> Clases:  del {{ currentOffer.startDate | date: 'dd/MM/yyyy'}}
              al  {{ currentOffer.endDate | date: 'dd/MM/yyyy'}}</p>
        </article>

        <div *ngIf="schedule!=null && !seeEnrollment">
            <div class="box-body">
              <!-- START Schedule -->
              <div class="col-md-12">
                  <div class="content-schedule">
                    <div class="timeline-schedule" style="padding-top: 57px;">
                      <ul class="hours">
                        <li *ngFor="let hour of arrayHours">
                          <span>{{hour}}</span>
                        </li>
                      </ul>
                    </div>
                    <div class="week">
                      <ul class="weekdays">
                        <li class="weekday" [ngClass]="{'hidden-day': item.courses.length === 0}" *ngFor="let item of schedule">
                          <div class="name-day bg-blue-active">
                            <span>{{item.day}}</span>
                          </div>
                          <ul class="courses" *ngIf="item.courses.length > 0" [ngStyle]="{'height': heightDay}">
                              <li class="course" [ngClass]="{'bg-green':course.parent, 'bg-aqua': !course.parent, 'pos-sta':offeredCourse}" *ngFor="let course of item.courses" [ngStyle]="{'height': course.height, 'top': course.top}">
                                <p [attr.data-toggle]="'tooltip'" [attr.data-placement]="'right'" [attr.data-original-title]="course.start+' - '+course.end+' - '+course.teacher">
                                  <span class="hidden-lg hidden-md text-bold">{{course.name}}</span>
                                  <span class="course-times">{{ course.start | timeTo12 }} - {{ course.end | timeTo12 }}</span>
                                  <em class="course-name" *ngIf="'courseNumber' === 'one'">
                                    <b>{{ course.name | upperCase }}</b>
                                  </em>
                                  <em class="course-name text-capitalize">{{ course.teacher | titleCase }}</em>
                                  <em class="course-name text-capitalize">Aula: {{ course.classroom | titleCase }}</em>
                                </p>
                              </li>
                            </ul>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- END Schedule -->
            </div>
          </div>
          <footer class="box-footer" style="text-align: center;padding-top: 35px;padding-bottom: 20px;" *ngIf="schedule!=null && !seeEnrollment">
            <button class="btn btn-lg pull-center bg-red" type="submit" (click)="getEnrollmentView()" *ngIf="!successEnrollment && !alreadyEnrolled">Prematrícula</button>
          </footer>

          <div *ngIf="seeEnrollment">
            <div class="box-body">
              <div class="form-group">
                  <h3 class="text-blue-active" style="text-align: center;"> Realiza tu prematrícula</h3>
                  <ul class="col-xs-6 col-xs-offset-3" style="text-align: justify">
                    <li>Al realizar la prematrícula te generaremos el monto a pagar, el cual podrás efectuar desde esta misma plataforma o en Caja de la Universidad.</li>
                  </ul>
                  <p style="text-align: center" class="col-xs-6 col-xs-offset-3"></p>
                <label class="col-xs-6 col-xs-offset-3 control-label text-align:right;">Términos y condiciones</label>
                <div class="col-xs-6 col-xs-offset-3">
                    <div style="border: 1px solid #e5e5e5; height: 200px; overflow: auto; padding: 10px;">
                      <ol type="1">
                        <li>En el caso que el estudiante hubiera dejado sus estudios en el CIC, puede retomarlos en el ciclo que le corresponda en un plazo no mayor a noventa (90) días de haber concluido el ciclo anterior. Excepcionalmente, se concederá diez (10) días adicionales, en los casos en los que el estudiante pudiera matricularse inmediatamente en un ciclo de su interés en el CIC, al término de los noventa (90) días antes estipulados. Si el estudiante hubiere excedido el plazo indicado (90 días) deberá rendir un examen de clasificación.</li>
                        <li>Los estudiantes que no asistan a clases desde el primer día señalado en el horario del ciclo al que se matricularon, se hacen responsables de las horas de inasistencia transcurridas, asumiendo la pérdida de evaluaciones y el posible impedimento de tomar el examen final (12 horas de inasistencia en los cursos de inglés y 9 horas en italiano y portugués, que hacen el 30% por ciclo).</li>  
                        <li>La Universidad se reserva el derecho a cerrar un grupo programado cuando no se alcance el mínimo de veinticinco (25) estudiantes matriculados en una asignatura; ello en virtud a que dicho mínimo permite cubrir los costos académicos y administrativos asumidos.</li>
                      </ol>
                    </div>
                </div>
            </div>
           <div class="form-group">
                <div class="col-xs-6 col-xs-offset-3">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="agree" value="agree" [(ngModel)]="matriculaConfirmado"/> Declaro estar de acuerdo con la información recibida u obtenida y haber leído el material de información otorgado.
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group" *ngIf="!runEnrollmentStatus">
              <div class="col-xs-12 ">
                <footer class="box-footer" style="text-align:center;" >
                  <button class="btn btn-lg pull-center bg-red" type="submit" (click)="runEnrollment(currentOffer.section)">Finalizar prematrícula</button>
                </footer>
              </div>
            </div>
            <div class="form-group" *ngIf="runEnrollmentStatus">
              <div class="col-xs-12">
                  <footer class="box-footer" style="text-align:center;" >
                        <div class="overlay" >
                            <i class="fa fa-refresh fa-spin"></i>
                        </div><br><br>
                        
                  </footer>
              </div>
            </div>
            </div>
          </div>
          <div *ngIf="succes">
              <div class="box-body">
  
                <div class="form-group">
                    <h3 class="text-blue-active" style="text-align: center;"> MATRÍCULA SATISFACTORIA</h3>
              </div>
   
              </div>
            </div>
      </section>
    </div>
  </div>

  <div *ngIf="!status">
    <div [hidden]="loadingStatus">
      <!-- Mensaje de ninguna matricula-->
      <div class="callout callout-warning">
        <h4>No tienes ninguna matrícula en idiomas!</h4>
        <p>Por favor acérquese a una de las oficinas del 
          <a href="https://idiomas.ucontinental.edu.pe/" target="_new">Centro de Idiomas</a>
          para mayor información sobre la matrícula.</p>
      </div>
    </div>
  </div>
 
</div>

<!-- Message View -->
<div *ngIf="primeMsg">
  <p-growl [(value)]="primeMsg" [baseZIndex]="500"></p-growl>
</div>
