<div *ngIf="status">
  <div class="callout callout-warning" *ngIf="status.need_recategorize">
    <h4><i class="icon fa fa-warning"></i> Necesita tomar el examen de clasificación de idioma!</h4>
    <p>Por haber excedido los tres meses de acuerdo al reglamento, 
    desde su último ciclo cursado; usted tiene que rendir un examen 
    de clasificación para continuar sus estudios.</p>
    <p>Debe acercarse a las oficinas del <a href="https://idiomas.ucontinental.edu.pe/" target="_new"> Centro de Idiomas</a> en el local más cercano.</p>
  </div>
  <div class="row">
    <section class="col-sm-5 col-xs-12">
      <div class="small-box bg-green">
        <div class="inner">
          <h3>{{st.getLanguage(status.language)}} - {{(status.cycle - 1) | number : '2.0-2'}}</h3>
          <p>Último ciclo completado</p>
        </div>
        <div class="icon">
          <i class="fa fa-check"></i>
        </div>
      </div>
    </section>

    <section class="col-sm-3 col-xs-6">
      <div class="small-box bg-orange">
        <div class="inner">
          <h3>Intensivo</h3>
          <p>Modalidad</p>
        </div>
        <div class="icon">
          <i class="fa fa-sitemap"></i>
        </div>
      </div>
    </section>

  </div>

  <!-- Schedule -->
  <div *ngIf="currentOffer">
    <section class="box box-primary">
      <article class="box-body text-center">
        <h3>Sección: {{currentOffer.section}}</h3>
        <h4> 
          <i class="fa fa-flag"></i> Idioma: {{st.getLanguage(currentOffer.program)}} &nbsp;&nbsp;
          <i class="fa fa-bars"></i> Ciclo {{currentOffer.cycle | number : '2.0-2'}} &nbsp;&nbsp;
          <i class="fa fa-sitemap"></i> Modalidad {{st.getCICModality(currentOffer.modality)}}
        </h4>
        <p><i class="fa fa-user"></i> Docente: {{currentOffer.teacher}}</p>
        <p><i class="fa fa-calendar"></i> Clases:  del {{ currentOffer.startDate | date: 'dd/MM/yyyy'}}
            al  {{ currentOffer.endDate | date: 'dd/MM/yyyy'}}</p>
      </article>
    </section>
    <div *ngIf="schedule">
      <div [hidden]="loadingSchedule">
        <uc-schedule [schedule]="schedule || []" 
                      noDataMsg="Por la fecha de inicio de la asignatura, aún no se muestran los horarios.​"
                      title="Horario de idioma extranjero">
        </uc-schedule>
      </div>
    </div>
    <div *ngIf="schedule === null">
      <div class="callout callout-warning">
        <h4>Por la fecha de inicio del asignatura, aún no se muestran los horarios.</h4>
      </div>
    </div>
  </div>
  <div *ngIf="!currentOffer && !loadingSchedule">
      <div class="callout callout-warning">
        <h4><i class="icon fa fa-warning"></i> No tienes una matrícula vigente.!</h4>
        <p>No podemos encontrar ninguna matrícula en alguna asignatura.</p>
        <p>Para más información acérquese a las oficinas del <a href="https://idiomas.ucontinental.edu.pe/" target="_new">Centro de Idiomas</a>.</p>
      </div>
  </div>
  <div [hidden]="!loadingSchedule">
    <loading text="Cargando el horario."></loading>
  </div>
</div>
<div *ngIf="!status">
  <div [hidden]="loadingStatus">
    <!-- Mensaje de ninguna matrícula-->
    <div class="callout callout-warning">
      <h4>No tienes ninguna matrícula en idiomas!</h4>
      <p>Por favor acérquese a una de las oficinas del <a href="https://idiomas.ucontinental.edu.pe/" target="_new"> Centro de Idiomas </a>
        para mayor información sobre la matrícula.</p>
    </div>
  </div>
  <div [hidden]="!loadingStatus">
    <loading text="Cargando el estado del alumno."></loading>
  </div>
</div>
