<div class="modal fade" id="appModal" tabindex="-1" role="dialog" aria-labelledby="myModal" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header border-bottom">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title text-primary" id="myModalLabel">Mensaje</h4>
      </div>
      <div class="modal-body">
        <p>Los datos a continuación no tienen validez a efectos de matrícula, el objetivo es orientarte sobre los 
          horarios de las asignaturas disponibles según el período académico {{term}} al 
          <span class="text-red">{{fech.getDate()}} de {{config.getMonthName(this.fech.getMonth() + 1)}} de 
            {{fech.getFullYear()}} a las {{fech.getHours()}}:{{(fech.getMinutes() < 10)? '0'+ fech.getMinutes() : fech.getMinutes()}} horas.</span>
        </p>
      </div>
      <div class="text-center pb">
        <button type="button" class="btn bg-primary text-white" data-dismiss="modal">Entendido</button>
      </div>
    </div>
  </div>
</div>

<p-growl [(value)]="primeMsg" [baseZIndex]="100" [sticky]="true"></p-growl>
