.alert-student
  position: relative;
  padding: .75rem 15px
  margin-bottom: 15px
  border: 1px solid transparent
  border-radius: .25rem

@each $nameColor, $color in $theme-colors
  .alert-student-#{$nameColor}
    color: darken( $color, 20% ) !important
    background-color: lighten( $color, 45% ) !important
    border-color: lighten( $color, 20% ) !important
