
.bg-white
  background-color: $white !important
  
// colores generales del tema
@each $nameColor, $color in $theme-colors
  // color de fondo
  .bg-#{$nameColor}
    background-color: $color !important
    color: $white !important
  // color de fondo al pasar mouse
  .bg-#{$nameColor}-h
    &:hover
      color: $white !important
      background-color: $color !important
  // colores lighten
  .bg-#{$nameColor}-light
    background-color: lighten( $color, 10% ) !important
    color: $white !important
  // colores deshabilitados
  .bg-#{$nameColor}-disabled
    background-color: lighten( $color, 25% ) !important
    color: $white !important
  // colores active
  .bg-#{$nameColor}-active
    background-color: darken( $color, 10% ) !important
    color: $white !important
  // colores dark
  .bg-#{$nameColor}-dark
    background-color: darken( $color, 15% ) !important
    color: $white !important

.bg-aqua-dark
  background-color: #0195b9 !important
  color: $white !important

.bg-body
  background-color: $body !important

.bg-black-transparent
  background-color: rgba($black, .3) !important

.bg-transparent
  background-color: transparent !important

.bg-light
  background-color: #e6e6e6 !important
.bg-light-h:hover
  background-color: #e6e6e6
