@each $nameColor, $color in $theme-colors
  .bg-#{$nameColor}-outline
    background-color: $white !important
    border: 1px solid $color !important
    color: $color !important
    &:hover, &.active
      background-color: $color !important
      color: $white !important
  .active
    .bg-#{$nameColor}-outline
      background-color: $color !important
      border: 1px solid $color !important
      color: $white !important
