.circle-image-icon
  width: 100px !important
  height: 100px !important
  font-size: 50px !important
  border-radius: 50% !important
  line-height: 50px

@media (max-width: $screen-md-max)
  .circle-image-icon
    width: 86px !important
    height: 86px !important
    font-size: 40px !important
    line-height: 40px

@media (max-width: $screen-sm-min)
  .circle-image-icon
    width: 72px !important
    height: 72px !important
    font-size: 30px !important
    line-height: 30px
