// styles for display
.d-none
  display: none !important
.dr-none
  display: none

.d-inline
  display: inline !important
.dr-inline
  display: inline

.d-inline-block
  display: inline-block !important
.dr-inline-block
  display: inline-block

.d-block
  display: block !important
.dr-block
  display: block

.d-table
  display: table !important
.dr-table
  display: table

.d-table-cell
  display: table-cell !important
.dr-table-cell
  display: table-cell

.d-table-row
  display: table-row !important
.dr-table-row
  display: table-row

.d-inline-flex
  display: inline-flex !important
.dr-inline-flex
  display: inline-flex

.d-flex
  display: flex !important
.dr-flex
  display: flex
.align-items-center
  ms-flex-align: center !important
  align-items: center !important
.align-content-center
  -ms-flex-line-pack: center !important
  align-content: center !important
.flex-wrap
  -ms-flex-wrap: wrap !important
  flex-wrap: wrap !important
.justify-content-center
  -ms-flex-pack: center !important
  justify-content: center !important
