// display flex like bootstrap 4

  
.d-flex
  display: flex !important

.dr-flex
  display: flex

.d-inline-flex
  display: inline-flex !important

.dr-inline-flex
  display: inline-flex

.flex-row
  ms-flex-direction: row !important
  flex-direction: row !important
  &-reverse
    ms-flex-direction: row-reverse !important
    flex-direction: row-reverse !important

.flex-column
  -ms-flex-direction: column !important
  flex-direction: column !important
  &-reverse
    -ms-flex-direction: column-reverse !important
    flex-direction: column-reverse !important

.justify-content
  &-start
    -ms-flex-pack: start !important
    justify-content: flex-start !important
  &-end
    -ms-flex-pack: end !important
    justify-content: flex-end !important
  &-center
    -ms-flex-pack: center !important
    justify-content: center !important
  &-between
    -ms-flex-pack: justify !important
    justify-content: space-between !important
  &-around
    -ms-flex-pack: distribute !important
    justify-content: space-around !important

.align-items
  &-start
    -ms-flex-align: start !important
    align-items: flex-start !important
  &-end
    -ms-flex-align: end !important
    align-items: flex-end !important
  &-center
    -ms-flex-align: center !important
    align-items: center !important
  &-baseline
    -ms-flex-align: baseline !important
    align-items: baseline !important
  &-stretch
    -ms-flex-align: stretch !important
    align-items: stretch !important

// Responsive for device
@media only screen and (min-width: $screen-sm-min)
  .d-sm-flex
    display: flex !important

@media only screen and (min-width: $screen-md-min)
  .d-md-flex
    display: flex !important

@media only screen and (min-width: $screen-lg-min)
  .d-lg-flex
    display: flex !important
