// estilo para elementos con acciones
// como editar, eliminar u otro
.with-actions
  &>span.actions
    border-left: 1px solid $gray-500
    display: none
    position: absolute
    right: 0
    z-index: 2
    background-color: $white
    padding: 0 5px
  &:hover
    &>span.actions
      display: inline-block

@media screen and (max-width: 768px)
  .with-actions
    &>span.actions
      display: inline-block
