// Usar con etiquetas i que contienen fontawesone
i.fa-button
  +borderRadius(100%)
  cursor: pointer
  display: inline-block
  font-size: 20px
  height: 30px
  line-height: 30px
  text-align: center
  width: 30px
