// styles for fonts
.font-10rem
  font-size: 10rem
.font-9rem
  font-size: 9rem
.font-8rem
  font-size: 8rem
.font-7rem
  font-size: 7rem
.font-6rem
  font-size: 6rem
.font-5rem
  font-size: 5rem
.font-4rem
  font-size: 4rem
.font-3rem
  font-size: 3rem
.font-2rem
  font-size: 2rem
.font-1rem
  font-size: 1rem
