.img-rounded-lg
  width: 90px !important
  height: 90px !important

.img-rounded-md
  width: 80px !important
  height: 80px !important

.img-rounded-sm
  width: 60px !important
  height: 60px !important

.img-rounded-lg, .img-rounded-md, .img-rounded-sm
  +borderRadius(50%)
  display: flex !important
  -ms-flex-align: center !important
  align-items: center!important
  -ms-flex-direction: column !important
  flex-direction: column!important
  flex-wrap: wrap !important
  -ms-flex-pack: center !important
  justify-content: center !important
