.m
  margin: 15px !important
.m-0
  margin: 0 !important
.m-1
  margin: 0.25rem !important
.m-2
  margin: 0.5rem !important
.m-3
  margin: 1rem !important
.m-4
  margin: 1.5rem !important
.m-5
  margin: 3rem !important

@each $direction, $initial in $directions
  .m#{$initial}
    margin-#{$direction}: 15px !important
  .m#{$initial}-0
    margin-#{$direction}: 0 !important
  .m#{$initial}-1
    margin-#{$direction}: 0.25rem !important
  .m#{$initial}-2
    margin-#{$direction}: 0.5rem !important
  .m#{$initial}-3
    margin-#{$direction}: 1rem !important
  .m#{$initial}-4
    margin-#{$direction}: 1.5rem !important
  .m#{$initial}-5
    margin-#{$direction}: 3rem !important

.mh, .mx
  margin: 0 15px !important
.mh-1, .mx-1
  margin: 0 0.25rem !important
.mh-2, .mx-2
  margin: 0 0.5rem !important
.mh-3, .mx-3
  margin: 0 1rem !important
.mh-4, .mx-4
  margin: 0 1.5rem !important
.mh-5, .mx-5
  margin: 0 3rem !important

.mv, .my
  margin: 15px 0 !important
.mv-1, .my-1
  margin: 0.25rem 0 !important
.mv-2, .my-2
  margin: 0.5rem 0 !important
.mv-3, .my-3
  margin: 1rem 0 !important
.mv-4, .my-4
  margin: 1.5rem 0 !important
.mv-5, .my-5
  margin: 3rem 0 !important
.m-auto
  margin: auto
