//padding
.p
  padding: 15px !important
.p-0
  padding: 0 !important
.p-1
  padding: 0.25rem !important
.p-2
  padding: 0.5rem !important
.p-3
  padding: 1rem !important
.p-4
  padding: 1.5rem !important
.p-5
  padding: 3rem !important

@each $direction, $initial in $directions
  .p#{$initial}
    padding-#{$direction}: 15px !important
  .p#{$initial}-0
    padding-#{$direction}: 0 !important
  .p#{$initial}-1
    padding-#{$direction}: 0.25rem !important
  .p#{$initial}-2
    padding-#{$direction}: 0.5rem !important
  .p#{$initial}-3
    padding-#{$direction}: 1rem !important
  .p#{$initial}-4
    padding-#{$direction}: 1.5rem !important
  .p#{$initial}-5
    padding-#{$direction}: 3rem !important

.ph, .px
  padding: 0 15px !important
.ph-1, .px-1
  padding: 0 0.25rem !important
.ph-2, .px-2
  padding: 0 0.5rem !important
.ph-3, .px-3
  padding: 0 1rem !important
.ph-4, .px-4
  padding: 0 1.5rem !important
.ph-5, .px-5
  padding: 0 3rem !important

.pv, .py
  padding: 15px 0 !important
.pv-1, .py-1
  padding: 0.25rem 0 !important
.pv-2, .py-2
  padding: 0.5rem 0 !important
.pv-3, .py-3
  padding: 1rem 0 !important
.pv-4, .py-4
  padding: 1.5rem 0 !important
.pv-5, .py-5
  padding: 3rem 0 !important
