// styles for posiciones
.position-absolute
  position: absolute !important
.position-relative
  position: relative !important
.position-fixed
  position: fixed !important
.position-static
  position: static !important

.top-0
  top: 0 !important
.bottom-0
  bottom: 0 !important
.right-0
  right: 0 !important
.left-0
  left: 0 !important
