.switch
  display: inline-block
  height: 25px
  margin: 8px
  position: relative
  transform: translateY(50%)
  width: 50px
  .slider
    background-color: $gray-500
    border-radius: 25px
    border: 3px solid transparent
    bottom: 0
    box-shadow: 0 0 0 2px $gray-500, 0 0 4px $gray-500
    cursor: pointer
    left: 0
    overflow: hidden
    position: absolute
    right: 0
    top: 0
    transition: .4s
    &:before
      position: absolute
      content: ""
      width: 100%
      height: 100%
      background: $white
      border-radius: 25px
      transform: translateX(-25px)
      transition: .4s
  input
    display: none
    &:checked
      &+.slider
        box-shadow: 0 0 0 2px $primary,0 0 2px $primary
        background-color: $primary
        &:before
          transform: translateX(25px)
          background: $white
