
$durations: 500, 300, 250, 150, 75
@each $duration in $durations
  .trans-duration-#{$duration}
    transition-duration: #{$duration}ms
    -webkit-transition-duration: #{$duration}ms
    -moz-transition-duration: #{$duration}ms
    -o-transition-duration: #{$duration}ms

$typeFunctions: 'linear', 'ease', 'ease-in', 'ease-out', 'ease-in-out'
@each $type in $typeFunctions
  .trans-tim-function-#{$type}
    transition-timing-function: $type
    -webkit-transition-timing-function: $type
    -moz-transition-timing-function: $type
    -o-transition-timing-function: $type
