// Estilos para la propiedad z-index

.z-index-1
  z-index: 1 !important
.z-index-2
  z-index: 2 !important
.z-index-3
  z-index: 3 !important
.z-index-4
  z-index: 4 !important
.z-index-5
  z-index: 5 !important
.z-index-10
  z-index: 10 !important
.z-index-20
  z-index:-20 !important
.z-index-30
  z-index:-30 !important
.z-index-40
  z-index:-40 !important
.z-index-50
  z-index:-50 !important
