@import ./background
@import ./backgroundOutline
@import ./elementWithActions
@import ./fontSize
@import ./displayFlex
@import ./displayType
@import ./position
@import ./switch
@import ./padding
@import ./margin
@import ./form
@import ./faButton
@import ./width
@import ./modal
@import ./float
@import ./svgIcon
@import ./imageRounded
@import ./zIndex
@import ./circleImageIcon
@import ./caujs
@import ./alert
@import ./transition

.hand
  cursor: pointer

// style for border
.cau-border-all
  border: 1px solid #cacaca
.cau-border-tb
  border: 0
  border-top: 1px solid #cacaca
  border-bottom: 1px solid #cacaca
.cau-border-rl
  border: 0
  border-right: 1px solid #cacaca
  border-left: 1px solid #cacaca
.cau-border-t
  border-top: 1px solid #cacaca
.cau-border-r
  border-right: 1px solid #cacaca
.cau-border-b
  border-bottom: 1px solid #cacaca
.cau-border-l
  border-left: 1px solid #cacaca
.cau-border-s-da
  border-style: dashed
.cau-border-s-do
  border-style: dotted

.box-shadow
  +boxShadow(0px, 0px, 10px, #000)

img.img-profile-s
  max-height: 85px
  margin: auto

img
  &.img-65
    width: 65px !important
