<div class="box box-default">
  <div class="overlay" *ngIf="loading">
    <i class="fa fa-refresh fa-spin"></i>
  </div>
  <header class="box-header with-border">
    <h3 class="box-title"><i class="fa fa-file-text"></i> Solicitud</h3>
  </header>
  <section class="box-body form-horizontal" *ngIf="errorMessageCancelRequest">
    <div class="callout callout-warning">
      <h4><i class="fa fa-ban"></i>Error al cancelar solicitud</h4>
      <p>Tenemos un problema para cancelar tu solicitude. <br> estamos trabajando para solucionar este problema. Por favor
        vuelva a intentarlo más tarde o comuniquece con el administrador.</p>
    </div>
  </section>
  <section class="box-body box-comments" *ngIf="request !== null">
    <!-- resumen de la solicitud -->
    <bo-request-abstract [request]="request" [config]="config" (update)="getIdealFlow(flow, $event)"></bo-request-abstract>

    <div class="box-comment" *ngIf="request.state === config.STATE_PAYMENT_PENDING && request.online_payment_id">
      <div class="comment-text">
        <a [href]="config.PAYMENT_GATEWAY+request.online_payment_id" class="btn btn-primary" target="_blank">
          Paga online <i class="fa fa-credit-card"></i>
        </a>
        <input type="button" value="Cancelar Solicitud" class="btn btn-danger" (click)="cancelRequest(request)">
      </div>
    </div>

    <!--<div class="box-comment" *ngIf="request.state === config.STATE_INITIAL || request.state === config.STATE_PAYMENT_PENDING">
      <div class="comment-text">
        <button type="button" class="btn btn-danger" name="button"> <i class="fa fa-times"></i> Solicitar Cancelación</button>
      </div>
    </div>-->
  </section>
  <section class="box-body box-comments" *ngIf="request === null">
    <loading [text]="'CARGANDO SU SOLICITUD'"></loading>
  </section>
  <div class="box-footer" *ngIf="request !== null">
    <header>
      <h5> <i class="fa fa-list-ul"></i> Vida de la Solicitud</h5>
      <hr>
    </header>
    <div class="col-md-12">
      <request-flow [ideal-flow]="ideal_flow" [request]="request" [logs]="logs">
      </request-flow>
    </div>
  </div>
</div>