<div class="row" *ngIf="!showDetails">
  <div class="col-md-12">
    <div class="box box-default">
      <header class="box-header with-border">
        <h3 class="box-title"><i class="fa fa-list"></i> Seguimiento de tus solicitudes</h3>
      </header>
      <section class="box-body">
        <div class="input-group input-group-sm">
          <input class="form-control" type="text" name="filter" [(ngModel)]="filter">
          <span class="input-group-btn">
            <input type="submit" class="btn btn-info btn-flat" value="buscar" [disabled]="true">
          </span>
        </div>
      </section>
      <section class="box-body form-horizontal" *ngIf="errorMessage">
        <div class="callout callout-warning">
          <h4><i class="fa fa-ban"></i>Error al listar tus solicitudes</h4>
          <p>Tenemos un problema para listar tus solicitudes. <br> estamos trabajando para solucionar este problema.
            Por
            favor vuelva a intentarlo más tarde o comuniquece con el administrador.</p>
        </div>
      </section>
    </div>
  </div>
  <div class="col-md-12">
    <div class="box box-default" *ngIf="requests.length > 0">
      <header class="box-header with-border">
        <h3 class="box-title"><i class="fa fa-list"></i> Resultados</h3>
      </header>
      <div class="table-responsive table-material">
        <table class="table table-striped table-condensed">
          <thead>
            <tr class="bg-info text-white">
              <th>Código de Solicitud</th>
              <th>Solicitante</th>
              <th>Tipo de Solicitud</th>
              <th>Estado</th>
              <th>Fecha Solicitada</th>
            </tr>
          </thead>
          <tbody>
            <tr class="hand" *ngFor="let request of requests | loopFilter: filter" (click)="goDetails(request.id)">
              <td><b>{{request.id}}</b></td>
              <td><b>{{request.student_name}}</b></td>
              <td><b>{{request.document_name}}</b></td>
              <td><b>{{request.state_name}}</b></td>
              <td><b>{{request.creation_date | date: 'dd/MM/yyyy hh:mm'}}</b></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="showDetails">
  <div class="col-md-12">
    <div class="box box-default">
      <div class="overlay" *ngIf="loading">
        <i class="fa fa-refresh fa-spin"></i>
      </div>
      <header class="box-header with-border">
        <h3 class="box-title"><i class="fa fa-file-text"></i> Solicitud</h3>
        <button class="btn btn-info pull-right" (click)="closeDetails()"><i class="fa fa-reply"></i> Volver</button>
      </header>
      <section class="box-body form-horizontal" *ngIf="errorMessageCancelRequest">
        <div class="callout callout-warning">
          <h4><i class="fa fa-ban"></i>Error al cancelar solicitud</h4>
          <p>Tenemos un problema para cancelar tu solicitude. <br> estamos trabajando para solucionar este problema.
            Por
            favor vuelva a intentarlo más tarde o comuniquece con el administrador.</p>
        </div>
      </section>
      <section class="box-body box-comments" *ngIf="request != null">
        <!-- resumen de la solicitud -->
        <bo-request-abstract [request]="request" [config]="configFile" (update)="getIdealFlow(flow, $event)"></bo-request-abstract>
        <div class="box-comment" *ngIf="request.state === configFile.STATE_PAYMENT_PENDING && request.online_payment_id">
          <div class="comment-text">
            <a [href]="configFile.PAYMENT_GATEWAY+request.online_payment_id" class="btn btn-primary" target="_blank">
              Paga online <i class="fa fa-credit-card"></i>
            </a>
            <input type="button" value="Cancelar Solicitud" class="btn btn-danger" (click)="cancelRequest(request)">
          </div>
        </div>

      </section>
      <section class="box-body box-comments" *ngIf="request === null">
        <loading [text]="'CARGANDO SU SOLICITUD'"></loading>
      </section>
      <div class="box-footer" *ngIf="request != null">
        <header>
          <h4><i class="fa fa-list-ul"></i> Vida de la Solicitud</h4>
          <hr>
        </header>
        <request-flow [ideal-flow]="ideal_flow" [request]="request" [logs]="logs"></request-flow>
      </div>
    </div>
  </div>
</div>
