<div class="card card-primary">
  <div class="header">
    <h3 class="title">Reporte de matriculados en talleres</h3>
  </div>
  <div class="body">
    <form class="form-inline" #filterForm="ngForm">
      <div class="form-group">
        <label>Filtrar por periodo <span class="text-danger"> *</span></label>
        <select id="term" name="term" class="form-control" [(ngModel)]="searchTerm" required>
          <option value="" disabled>-- Seleccionar --</option>
          <option [value]="term.termDescription" *ngFor="let term of terms">{{ term.termDescription }}</option>
        </select>
      </div>
      <button [disabled]="!filterForm.valid || isBusy" class="btn bg-primary form-control"
        (click)="getEnrolledStudentsActivity()"><i class="fa fa-search"></i> Buscar</button>
    </form>
  </div>
  <div class="body" *ngIf="reportEnrolleds?.length > 0 && !isBusy">
    <div class="text-right m-4">
      <button class="btn btn-outline-primary pull-left" (click)="back()"><i class="fa fa-arrow-left"></i>
        Regresar</button>
      <button [disabled]="isBusy" class="btn bg-primary" (click)="downloadEnrolled()"
        *ngIf="reportEnrolleds?.length > 0 && !isBusy"><i class="fa fa-download"></i> Descargar</button>
    </div>
    <div class="col-xs-12">
      <div class="table-responsive table-material">
        <table class="table">
          <thead class="bg-info">
            <tr>
              <th [style.width.%]="10">#</th>
              <th [style.width.%]="10">DNI</th>
              <th [style.width.%]="10">Pidm</th>
              <th [style.width.%]="25">IDAlumno</th>
              <th [style.width.%]="15">NRC</th>
              <th [style.width.%]="30">Periodo académico</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let reportEnrolled of reportEnrolleds; let i = index">
              <td> {{ i + 1 }} </td>
              <td> {{ reportEnrolled.documentNumber }} </td>
              <td> {{ reportEnrolled.pidmStudent }} </td>
              <td> {{ reportEnrolled.idAlumno }} </td>
              <td>
                {{ reportEnrolled.nrc === '' || reportEnrolled.nrc === null ? 'No asignado' : reportEnrolled.nrc }}
              </td>
              <td> {{ reportEnrolled.startPeriod }} </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="footer">
    <button class="btn btn-outline-primary" (click)="back()"><i class="fa fa-arrow-left"></i> Regresar</button>
    <button [disabled]="isBusy" class="btn bg-primary pull-right" (click)="downloadEnrolled()"
      *ngIf="reportEnrolleds?.length > 0 && !isBusy"><i class="fa fa-download"></i> Descargar</button>
  </div>
</div>
<loading *ngIf="isBusy"></loading>
<div class="alert alert-info" *ngIf="reportEnrolleds?.length === 0 && !isBusy">
  No existen programaciones de actividades de tipo taller
</div>