<loading *ngIf="isBusy"></loading>
<!-- Inicio de la vista de Reporte de Actividades - Tipo Taller-->
<div class="card card-primary" *ngIf="activitiesWorkshop?.length > 0 && !isBusy">
  <div class="header">
    <h3 class="title">Reporte de actividades (talleres)</h3>
  </div>
  <!-- Inicio de resultados de actividades de tipo taller-->
  <div class="body">
    <div class="text-right m-4">
      <button [disabled]="!thereIsPendingActivities" class="btn bg-primary" *ngIf="activitiesWorkshop?.length > 0"
        title="Solo actividades pendientes" (click)="replicateWorkshopActivity()">
        <i class="fa fa-refresh"></i> Replicar actividades y descargar</button>
    </div>
    <div class="table-responsive table-material">
      <table class="table" id="reportActivities">
        <thead class="bg-info">
          <tr>
            <th class="va-middle" [style.width.%]="1">Materia</th>
            <th class="va-middle" [style.width.%]="1">Código</th>
            <th class="va-middle" [style.width.%]="15"><span class="help" data-placement="right" data-toggle="tooltip"
                title="" data-original-title="Nombre corto de la actividad"> Actividad <i
                  class="fa fa-question-circle-o"></i></span>
            </th>
            <th class="va-middle" [style.width.%]="15"> <span class="help" data-placement="right" data-toggle="tooltip"
                title="" data-original-title="Nombre largo de la actividad"> Actividad <i
                  class="fa fa-question-circle-o"></i>
              </span></th>
            <th class="va-middle">Escuela</th>
            <th class="va-middle">División</th>
            <th class="va-middle"><span class="help" data-placement="right" data-toggle="tooltip" title=""
                data-original-title="Asignatura activa">
                Status <i class="fa fa-question-circle-o"></i></span></th>
            <th class="va-middle">Créditos</th>
            <th class="va-middle"> <span class="help" data-placement="right" data-toggle="tooltip" title=""
                data-original-title="Horas de teoría">
                Hs. Teoría <i class="fa fa-question-circle-o"></i></span> </th>
            <th class="va-middle"> <span class="help" data-placement="right" data-toggle="tooltip" title=""
                data-original-title="Horas de laboratorio">
                Hs. de laboratorio <i class="fa fa-question-circle-o"></i></span> </th>
            <th class="va-middle">Contacto</th>
            <th class="va-middle">Límite</th>
            <th class="va-middle"> <span class="help" data-placement="right" data-toggle="tooltip" title=""
                data-original-title="Estado de repetición">
                Stat. Rept <i class="fa fa-question-circle-o"></i></span> </th>
            <th class="va-middle">Nivel</th>
            <th class="va-middle"> <span class="help" data-placement="right" data-toggle="tooltip" title=""
                data-original-title="Modo de calificar">
                Modo calific. <i class="fa fa-question-circle-o"></i></span> </th>
            <th class="va-middle"> <span class="help" data-placement="right" data-toggle="tooltip" title=""
                data-original-title="Predefinido">
                Predef. <i class="fa fa-question-circle-o"></i></span> </th>
            <th class="va-middle">Tipo Horario</th>
            <th class="va-middle"> <span class="help" data-placement="right" data-toggle="tooltip" title=""
                data-original-title="Método educativo">
                Método Edu. <i class="fa fa-question-circle-o"></i></span> </th>
            <th class="va-middle">Carga Trabajo</th>
            <th class="text-center va-middle">Estado</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ap of activitiesWorkshop; let i=index">
            <td class="va-middle"> ASEX </td>
            <td class="va-middle"> {{ ap.bannerCode }} </td>
            <td class="va-middle"> {{ ap.shortName }} </td>
            <td class="va-middle"> {{ ap.name }} </td>
            <td class="va-middle"> 06 </td>
            <td class="va-middle"> UCCI </td>
            <td class="va-middle"> A </td>
            <td class="va-middle"> {{ ap.credits }} </td>
            <td class="va-middle"> 0 </td>
            <td class="va-middle"> 2 </td>
            <td class="va-middle"> 2 </td>
            <td class="va-middle"> 2 </td>
            <td class="va-middle"> R </td>
            <td class="va-middle"> PG </td>
            <td class="va-middle"> S </td>
            <td class="va-middle"> 1 </td>
            <td class="va-middle"> PPL </td>
            <td class="va-middle"> P </td>
            <td class="va-middle"> 2 </td>
            <td class="text-center va-middle">
              <div *ngIf="!ap.isReplicated">
                <span class="badge bg-orange">Pendiente</span>
              </div>
              <div class="va-middle" *ngIf="ap.isReplicated">
                <span class="badge bg-blue">Replicado</span>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="footer">
    <button class="btn btn-outline-primary" (click)="back()"><i class="fa fa-arrow-left"></i> Regresar</button>
    <button [disabled]="!thereIsPendingActivities" class="btn bg-primary pull-right"
      *ngIf="activitiesWorkshop?.length > 0" title="Solo actividades pendientes" (click)="replicateWorkshopActivity()">
      <i class="fa fa-refresh"></i> Replicar actividades y descargar</button>
  </div>
</div>

<div *ngIf="primeMsg">
  <p-growl [(value)]="primeMsg" [baseZIndex]="100" [sticky]="true"></p-growl>
</div>

<!-- Fin de la vista de Reporte de Actividades - Tipo Taller-->
<div class="alert alert-info" *ngIf="activitiesWorkshop?.length === 0 && !isBusy">
  No existen actividades de tipo taller
</div>