<!-- Inicio de formulario de reporte de programaciones de actividades de tipo taller -->
<div class="card card-primary">
  <div class="header">
    <h3 class="title">Reporte de horarios</h3>
  </div>
  <div class="body">
    <form class="form-inline" #filterForm="ngForm">
      <div class="form-group">
        <label>Filtrar por periodo <span class="text-danger"> *</span></label>
        <select id="term" name="term" class="form-control" [(ngModel)]="searchTerm" required>
          <option value="" disabled>-- Seleccionar --</option>
          <option [value]="term.termDescription" *ngFor="let term of terms">{{ term.termDescription }}</option>
        </select>
      </div>
      <button [disabled]="!filterForm.valid || isBusy" class="btn bg-primary form-control"
        (click)="getProgrammingActivitiesByTerm()"> <i class="fa fa-search"></i> Buscar</button>
    </form>
  </div>
  <!-- Inicio de resultados de programaciones de actividades de tipo taller-->
  <div class="body" *ngIf="activitiesProgramming?.length > 0 && !isBusy">
    <div class="text-right m-4">
      <button class="btn btn-outline-primary pull-left" (click)="back()"><i class="fa fa-arrow-left">
        </i>Regresar</button>
      <button [disabled]="!thereIsPendingActivity" class="btn bg-primary"
        *ngIf="activitiesProgramming?.length > 0 && !isBusy" title="Solo se descargará programaciones pendientes"
        (click)="replicateProgrammingActivity()"> <i class="fa fa-refresh"></i> Replicar horarios y descargar
      </button>
    </div>
    <div class="col-xs-12">
      <div class="table-responsive table-material">
        <table class="table" id="reportActivities">
          <thead class="bg-info">
            <tr>
              <th class="va-middle">Matería</th>
              <th class="va-middle">NRC</th>
              <th class="va-middle">Código</th>
              <th class="va-middle"> <span class="help" data-placement="right" data-toggle="tooltip" title=""
                  data-original-title="Nombre corto de la actividad"> Actividad <i class="fa fa-question-circle-o"> </i>
                </span></th>
              <th class="va-middle"> <span class="help" data-placement="right" data-toggle="tooltip" title=""
                  data-original-title="Nombre largo de la actividad"> Actividad <i class="fa fa-question-circle-o"> </i>
                </span></th>
              <th class="va-middle">Campus</th>
              <th class="va-middle">Modalidad</th>
              <th class="va-middle">Escuela</th>
              <th class="va-middle">Inicio clases</th>
              <th class="va-middle">Fin clases</th>
              <th class="va-middle">Periodo</th>
              <th class="va-middle">Día</th>
              <th class="va-middle">Lugar</th>
              <th class="va-middle"> <span class="help" data-placement="right" data-toggle="tooltip" title=""
                  data-original-title="Hora inicio. De clases"> H. Inicio <i class="fa fa-question-circle-o"></i></span>
              </th>
              <th class="va-middle"><span class="help" data-placement="right" data-toggle="tooltip" title=""
                  data-original-title="Hora fin. De clases"> H. Fin <i class="fa fa-question-circle-o"></i></span></th>
              <th class="va-middle"><span class="help" data-placement="right" data-toggle="tooltip" title=""
                  data-original-title="Máximo de vacantes"> Máx. Vacantes <i class="fa fa-question-circle-o"></i></span>
              </th>
              <th class="va-middle">DNI de docente</th>
              <th class="va-middle">Nombre de docente</th>
              <th class="text-center va-middle">Estado</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let ap of activitiesProgramming">
              <td class="va-middle"> ASEX </td>
              <td class="va-middle"> <span
                  class="badge">{{ ap.nrc === '' || ap.nrc === null ? 'NO ASIGNADO' : ap.nrc }}</span> </td>
              <td class="va-middle"> {{ ap.activity?.bannerCode }} </td>
              <td class="va-middle"> {{ ap.activity?.shortName }} </td>
              <td class="va-middle"> {{ ap.activity?.name}}</td>
              <td class="va-middle"> {{ ap.idModality }} </td>
              <td class="va-middle"> {{ ap.idCampus }}</td>
              <td class="va-middle"> 06 </td>
              <td class="va-middle"> {{ ap.startDateActivity | date:'dd/MM/yyy' }} </td>
              <td class="va-middle"> {{ ap.endDateActivity | date:'dd/MM/yyy' }} </td>
              <td class="va-middle"> {{ ap.startPeriod }} </td>
              <td class="va-middle"> {{ ap.sessionDay }}</td>
              <td class="va-middle"> {{ ap.sessionPlace }}</td>
              <td class="va-middle"> {{ ap.startHour }}</td>
              <td class="va-middle"> {{ ap.endHour }}</td>
              <td class="va-middle"> {{ ap.maxQuantityVacancy}} </td>
              <td class="va-middle"> {{ ap.documentTeacher}} </td>
              <td class="va-middle"> {{ ap.nameTeacher}} </td>
              <td class="text-center va-middle">
                <div class="va-middle" *ngIf="!ap.replicated"><span class="badge bg-orange">Pendiente</span></div>
                <div class="va-middle" *ngIf="ap.replicated"><span class="badge bg-blue">Replicado</span></div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="footer">
    <button class="btn btn-outline-primary" (click)="back()"><i class="fa fa-arrow-left"></i> Regresar</button>
    <button [disabled]="!thereIsPendingActivity" class="btn bg-primary pull-right"
      *ngIf="activitiesProgramming?.length > 0 && !isBusy" title="Solo se descargará programaciones pendientes"
      (click)="replicateProgrammingActivity()"> <i class="fa fa-refresh"></i> Replicar horarios y descargar
    </button>
  </div>
</div>

<!-- Fin de la vista Reporte de Programaciones de Actividad - Tipo Taller -->
<loading *ngIf="isBusy"></loading>

<!-- Inicio de mensaje si esque no existe resultados -->
<div class="alert alert-info" *ngIf="activitiesProgramming?.length === 0 && !isBusy">
  No existen programaciones de actividades de tipo taller
</div>
<!-- Fin de mensaje si esque no existe resultados -->

<div *ngIf="primeMsg">
  <p-growl [(value)]="primeMsg" [baseZIndex]="100" [sticky]="true"></p-growl>
</div>