<!-- Menu -->
<div class="row" *ngIf="!showActivities && !showProgrammingActivity && !showStudent">
  <div class="col-lg-4 col-sm-6 col-xs-12" *ngFor="let menu of menuOptions">
    <a (click)="changeMenu(menu.method)" class="hand">
      <div class="info-box">
        <span class="info-box-icon bg-aqua"><i [class]="[menu.icon]"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">&nbsp;</span>
          <span class="info-box-number">{{menu.name}}</span>
        </div>
      </div>
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <vuc-report-activities *ngIf="showActivities" (messageEvent)="receiveMessage($event)"></vuc-report-activities>
    <vuc-report-programming-activity *ngIf="showProgrammingActivity" (messageEvent)="receiveMessage($event)"></vuc-report-programming-activity>
    <vuc-report-student  *ngIf="showStudent" (messageEvent)="receiveMessage($event)"></vuc-report-student>
  </div>
</div>