﻿@{
    ViewBag.Title = "Backoffice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<backoffice> 
    <div class="loader-box">
        <div class="loader-logo">
            <img src="@Url.Content("~/")Content/static/images/isotipo-black.svg" alt="">
        </div>
        <div class="loader-circle extra"></div>
        <div class="loader-circle loader-circle-static extra"></div>
        <div class="loader-circumference"></div>
        <div class="loader-circumference another"></div>
        <div class="loader-text">Cargando...</div>
    </div>
</backoffice>

@section scripts {
    <script>
        window.choices = @(new HtmlString(ViewBag.choices));
        window.terms = @(new HtmlString(ViewBag.terms));
        window.surveys = @(new HtmlString(ViewBag.surveys));
    </script>
    <script type="text/javascript" src="@Url.Content("~/dist/executive/executive-polyfills.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/dist/executive/executive-vendor.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/dist/executive/executive-app.js")"></script>
}
