﻿@{
    ViewBag.Title = "Seleccion de Perfil de Administrativo";
    Layout = "~/Views/Shared/_LayoutBlank.cshtml";
}

<div class="lockscreen-logo">
    <div class="rounded-top bg-white pv">
        <img src="@Url.Content("~/Content/static/images/logo-horizontal-black.svg")" alt="UC" />
    </div>
    <h1 class="text-white">Servicios Virtuales</h1>
</div>
<!-- User name -->
<div class="lockscreen-name text-white pb">
    <p> <strong>Bienvenid@@</strong> @ViewBag.person.first_name @ViewBag.person.last_name</p>
    <p> Por favor seleccione una sede para continuar.</p>
</div>

<!-- START LOCK SCREEN ITEM -->
<div class="lockscreen-item">
    <!-- lockscreen image -->
    <div class="lockscreen-image">
        <img src="@Url.Content("~/api/personal/photo/" + @ViewBag.person.person_id)" alt="User Image">
    </div>

    <div class="profile lockscreen-credentials"><br /></div>
    @if (ViewBag.campus_list != null && ViewBag.campus_list.Count > 0)
    {
        foreach (var campus in ViewBag.campus_list)
        {
            <div data-sede="@campus.id" class="sedes profile lockscreen-credentials pv text-primary-h hand">
                <div class="input-group text-primary-h">
                    <small>
                         @campus.name
                    </small>
                    <div class="input-group-btn">
                        <div class="btn-profile btn" name="enviar">
                            <i class="fa fa-arrow-right text-muted"></i>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <div class="col-xs-12">
            <h2 class="text-white">Lo sentimos, no tienes sedes asignadas.</h2>
        </div>
    }

</div>

<div class="lockscreen-footer text-center text-white pb">
    <p>&copy; @DateTime.Now.Year - <b>Universidad Continental</b></p>
</div>

@section scripts {
    <script>
    $(document).ready(function () {
        $('.set-profile').on('click', function () {
            var data = $(this).attr('data');
            setProfile(data);
        });
        $('.sedes').on('click', function () {
            var sede = $(this).attr('data-sede');
            setProfile(sede);
        });
    });
    function setProfile(data) {
        $.ajax({
            type: 'POST',
            url: '@Url.Content("~/api/executive/profile/")'+data,
            dataType: 'json',
            success: function (data) {
                console.log('redirect to -> @Url.Content("~/backoffice")');
                window.location = '@Url.Content("~/backoffice")';
            },
            error: function (err) {
                console.log('error', err);
            }
        });
    }
    </script>
}
