<div class="cauform" ng-controller="dependentVerificationCtrl" ng-init="init()">
  <form name="step7Frm">
    <!-- who -->
    <div class="row form-group">
      <div class="col-sm-3">
        <label for="who">
          <span ng-if="mode == 'write'" class="text-danger">(*)</span>
          Parentesco:
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-if="mode == 'read' || dependent.relation != 'O'">
          <strong ng-if="dependent.other_relation">{{dependent.other_relation}}</strong>
          <div  ng-switch="dependent.relation" ng-show="!dependent.other_relation">
            <strong ng-switch-when="P"> Padre</strong>
            <strong ng-switch-when="M"> Madre</strong>
            <strong ng-switch-when="C"> Cónyuge</strong>
            <strong ng-switch-when="H"> Hermano(a)</strong>
            <strong ng-switch-when="I"> Hijo(a)</strong>
            <strong ng-switch-when="O"> Otro Familiar</strong>
          </div>
        </div>
        <div ng-if="mode == 'write' &&  dependent.relation == 'O'">
          <input type="text" ng-model="dependent.other_relation" class="form-control" ng-pattern="/^([A-Za-zñÑ\s])+$/" required>
          <span class="text-danger" ng-show="mode == 'write' && dependentFrm.father_name.$error.required">Este Campo es Requerido.</span>
          <span class="text-danger" ng-show="mode == 'write' && dependentFrm.mother_name.$error.pattern">Error parentesco.</span>
        </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <!-- Economic Type -->
    <div class="row form-group">
      <div class="col-sm-3">
        <label for="who">
          <span ng-show="mode == 'write'" class="text-danger">(*)</span>
          Situación economica familiar:
        </label>
      </div>
      <div class="col-sm-5" ng-switch="dependent.economic_type">
        <span ng-switch-when="A"> <strong> Aporta</strong>  a la economia familiar </span>
        <span ng-switch-when="D"> <strong> Depende</strong> de la economia familiar </span>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <!--Documento de Identidad -->
    <div class="row form-group">
      <div class="col-sm-3">
        <label for="document">
          <span ng-show="mode == 'write'" class="text-danger">(*)</span>
          Documento de Identidad:
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong ng-show="dependent.document_type=='DNI'">DNI</strong>
          <strong ng-show="dependent.document_type=='CE'">CARNÉ DE EXTRANJERÍA</strong>
          <strong ng-show="dependent.document_type=='CEPass'">PASAPORTE</strong>
          {{dependent.document_number}}
        </div>
        <div ng-show="mode == 'write'">
          <radiogroup class="col-xs-5 nopadding">

            <div class='radio'>
              <label>
                <input type="radio" name="document_type" value="DNI" ng-model="dependent.document_type" cd-show-help  ng-required="!dependent.document_type">
                DNI
              </label>
            </div>

            <div class='radio'>
            <label ><input type="radio" name="document_type" value="CE" ng-model="dependent.document_type" cd-show-help  ng-required="!dependent.document_type"> CARNÉ DE EXTRANJERÍA</label>
              </div>
            <div class='radio'>
            <label ><input type="radio" name="document_type" value="CEPass" ng-model="dependent.document_type" cd-show-help  ng-required="!dependent.document_type"> PASAPORTE</label>
              </div>
          </radiogroup>
          <div class="col-xs-7 nopadding">
            <label for="document_number">Número</label>
            <input class="form-control" type="text" name="document_number" ng-model="dependent.document_number" cd-show-help minlenght="8" maxlength="11" ng-pattern="/^[0-9]{8,11}$/" required>
            <span class="text-danger" ng-show="mode == 'write' && step1Frm.document_number.$error.required">Este Campo es Requerido.</span>
            <span class="text-danger" ng-show="mode == 'write' && step4Frm.ind_ruc.$error.pattern">El DNI esta formado por 8 numeros <br>El ruc esta formado por 11 numeros Enteros.</span>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="help-message hidden" name="document_type">
          <div class="help-message-arrow"></div>
          <div class="help-message-content">
              <strong>Tipo de Documento de Identidad:</strong> <br>
              Si eres <strong>Peruano</strong> seguramente cuentas con un <strong>DNI</strong>(Documento Nacional de Identificación) <br>
              Si eres <strong>Extranjero</strong> seguramente cuentas con un <strong>CE</strong>(Carnet de Extranjeria) <br>
          </div>
        </div>
      </div>
    </div>
    <!-- nombres -->
    <div class="row form-group">
      <div class="col-sm-3">
        <label for="father_name">
          <span ng-show="mode == 'write'" class="text-danger">(*)</span>
          Apellido Paterno:
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong >{{dependent.father_name}}</strong>
        </div>
        <div ng-show="mode == 'write'">
          <input type="test" name="father_name" ng-model="dependent.father_name" class="form-control" ng-pattern="/^([A-Za-zñÑ\s])+$/" required>
          <span class="text-danger" ng-show="mode == 'write' && dependentFrm.father_name.$error.required">Este Campo es Requerido.</span>
          <span class="text-danger" ng-show="mode == 'write' && dependentFrm.father_name.$error.pattern">Error nombre .</span>
        </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>


    <div class="row form-group">
      <div class="col-sm-3">
        <label for="mother_name">
          <span ng-show="mode == 'write'" class="text-danger">(*)</span>
          Apellido materno:
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong >{{dependent.mother_name}}</strong>
        </div>
        <div ng-show="mode == 'write'">
          <input type="test" name="mother_name" ng-model="dependent.mother_name" class="form-control" cd-show-help  ng-pattern="/^([A-Za-zñÑ\s])+$/" required>
          <span class="text-danger" ng-show="mode == 'write' && dependentFrm.mother_name.$error.required">Este Campo es Requerido.</span>
          <span class="text-danger" ng-show="mode == 'write' && dependentFrm.mother_name.$error.pattern">Error nombre .</span>
        </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-sm-3">
        <label for="first_name">
          <span ng-show="mode == 'write'" class="text-danger">(*)</span>
          Nombres:
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong >{{dependent.first_name}}</strong>
        </div>
        <div ng-show="mode == 'write'">
          <input type="test" name="first_name" ng-model="dependent.first_name" class="form-control" cd-show-help  ng-pattern="/^([A-Za-zñÑ\s])+$/" required>
          <span class="text-danger" ng-show="mode == 'write' && dependentFrm.first_name.$error.required">Este Campo es Requerido.</span>
          <span class="text-danger" ng-show="mode == 'write' && dependentFrm.first_name.$error.pattern">Enombe nombre .</span>
        </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <!-- Máximo grado de estudios alcanzado -->
    <div class="row form-group">
      <div class="col-sm-3">
        <label for="last_grade">
          <span ng-show="mode == 'write'" class="text-danger">(*)</span>
          Máximo grado de estudios alcanzado:
        </label>
      </div>
      <div class="col-sm-5">
          <div ng-show="mode == 'read'">
              <strong>{{dependent.last_grade}}</strong>
          </div>
          <div ng-show="mode == 'write'">
              <select ng-model="dependent.last_grade" class="form-control" cd-show-help="last_grade" required>
                <option value="Sin estudios">Sin estudios</option>
                <option value="Educación inicial">Educación inicial</option>
                <option value="Educación primaria">Educación primaria</option>
                <option value="Educación secundaria">Educación secundaria</option>
                <option value="Educación técnica (instituto superior, etc)">Educación técnica (instituto superior, etc)</option>
                <option value="Educación superior pedagógica">Educación superior pedagógica</option>
                <option value="Educación universitaria">Educación universitaria</option>
                <option value="Educación universitaria de postgrado">Educación universitaria de postgrado</option>
                <option value="Fuerzas armadas y policiales">Fuerzas armadas y policiales</option>
              </select>
              <span class="text-danger" ng-show="mode == 'write' && step6Frm.last_grade.$error.required">Este Campo es Requerido.</span>
          </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <!-- Tipo de Institución  -->
    <div class="row form-group">
      <div class="col-sm-3">
        <label for="college_type">
          <span ng-show="mode == 'write'" class="text-danger">(*)</span>
          Tipo de Institución:
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong ng-show=" dependent.college_type == '1' ">Pública</strong>
          <strong ng-show=" dependent.college_type == '2' ">Privada</strong>
        </div>
        <div ng-show="mode == 'write'">
          <select name="college_type" ng-model="dependent.college_type" class="form-control" required>
            <option value="1">Pública</option>
            <option value="2">Privada</option>
          </select>
          <span class="text-danger" ng-show="mode == 'write' && dependentFrm.college_type.$error.required">Este Campo es Requerido.</span>
        </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <!-- Monto de ultima pension-->
    <div class="row form-group" ng-if="dependent.type_institution == '2'">
      <div class="col-sm-3">
        <label for="college_pension">
          <span ng-show="mode == 'write'" class="text-danger">(*)</span>
          Monto de ultima pensión:
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong>{{dependent.college_pension}}</strong>
        </div>
        <div ng-show="mode == 'write'">
          <input type="number" step="0.01" name="college_pension" ng-model="dependent.college_pension" class="form-control" required>
          <span class="text-danger" ng-show="mode == 'write' && dependentFrm.college_pension.$error.required">Este Campo es Requerido.</span>
        </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <!--  Estudia en la universidad contiental-->
    <div class="row form-group">
      <div class="col-sm-3">
        <label for="conti_student">
          <span ng-show="mode == 'write'" class="text-danger">(*)</span>
          ¿Estudia en la universidad Contiental?
        </label>
      </div>
      <div class="col-sm-5">
          <cd-yes-no mode="mode" value="dependent.conti_student"></cd-yes-no>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <!-- Submit button -->
    <div class="row" ng-show="mode == 'read'">
      <div class="col-sm-8 text-right">
        <button class="btn btn-default" ng-show="mode == 'read'" ng-click="goBack()"> Regresar</button>
      </div>
    </div>

    <div class="row" ng-show="mode == 'write'">
      <div class="col-sm-8 text-right">
        <input ng-disabled="step7Frm.$invalid" type="submit" value="Guardar" class="btn btn-primary" ng-click="save(dependent)" dis-btn>
      </div>
    </div>
  </form>
</div>
