<section class="panel" ng-init="init()">
  <header class="panel-heading">
    <strong> Administracion de relaciones familiares para la ficha socioeconómica</strong>
  </header>
  <div class="panel-body">
    <form name="studentForm" class="row" ng-hide="alumno">
      <div class="col-sm-12">
        <div class="input-group">
          <input class="form-control" type="text" name="student" ng-model="student_id" placeholder="Codigo del alumno" required>
          <span class="input-group-btn">
            <button ng-disabled="studentForm.$error.required" class="btn btn-primary"  ng-click="searchStudent(student_id)"><span class="glyphicon glyphicon-search"></span> Elegir alumno </button>
          </span>
        </div>
      </div>
    </form>
    <div class="row" ng-show="alumno">
      <di class="col-sm-12">
        <span class="pull-right">
          <button type="button" name="button" ng-click="clean()"> volver a buscar</button>
        </span>
        {{alumno.get_fullname_str}} (<strong> {{alumno.id}}</strong>)
      </di>
    </div>
  </div>
  <div class="panel-body" ng-show="familiars">
    <section class="row">
      <div class="col-sm-6 col-xs-12">
        <header><strong>Padre</strong></header>
        <article class="person-card row" ng-repeat="familiar in familiars | filter:{relation_type: 'P'}:true ">
          <div class="col-sm-8">
            <div> <strong>ID:</strong> {{familiar.who}} </div>
            <div> <strong>DNI/CE:</strong>{{familiar.person.dni_str}}</div>
            <div> <strong>Nombres:</strong>{{familiar.person.appaterno_str}} {{familiar.person.apmaterno_str}}, {{familiar.person.nombres_str}}</div>
          </div>
          <div class="col-sm-4">
            <remconfirm binding-action="removeFamiliar(familiar)" msg="¿Seguro?"></remconfirm>
          </div>
        </article>
      </div>
      <div class="col-sm-6 col-xs-12">
        <header><strong>Madre</strong></header>
        <article class="person-card row" ng-repeat="familiar in familiars | filter:{relation_type: 'M'}:true ">
          <div class="col-sm-8">
            <div> <strong>ID:</strong> {{familiar.who}} </div>
            <div> <strong>DNI/CE:</strong>{{familiar.person.dni_str}}</div>
            <div> <strong>Nombres:</strong>{{familiar.person.appaterno_str}} {{familiar.person.apmaterno_str}}, {{familiar.person.nombres_str}}</div>
          </div>
          <div class="col-sm-4">
            <remconfirm binding-action="removeFamiliar(familiar)" msg="¿Seguro?"></remconfirm>
          </div>
        </article>
      </div>
    </section>
    <hr>
    <section class="row">
      <div class="col-sm-6 col-xs-12">
        <header><strong>Padrastro</strong></header>
        <article class="person-card row" ng-repeat="familiar in familiars | filter:{relation_type: 'D'}:true ">
          <div class="col-sm-8">
            <div> <strong>ID:</strong> {{familiar.who}} </div>
            <div> <strong>DNI/CE:</strong>{{familiar.person.dni_str}}</div>
            <div> <strong>Nombres:</strong>{{familiar.person.appaterno_str}} {{familiar.person.apmaterno_str}}, {{familiar.person.nombres_str}}</div>
          </div>
          <div class="col-sm-4">
            <remconfirm binding-action="removeFamiliar(familiar)" msg="¿Seguro?"></remconfirm>
          </div>
        </article>
      </div>
      <div class="col-sm-6 col-xs-12">
        <header><strong>Madrastra</strong></header>
        <article class="person-card row" ng-repeat="familiar in familiars | filter:{relation_type: 'R'}:true ">
          <div class="col-sm-8">
            <div> <strong>ID:</strong> {{familiar.who}} </div>
            <div> <strong>DNI/CE:</strong>{{familiar.person.dni_str}}</div>
            <div> <strong>Nombres:</strong>{{familiar.person.appaterno_str}} {{familiar.person.apmaterno_str}}, {{familiar.person.nombres_str}}</div>
          </div>
          <div class="col-sm-4">
            <remconfirm binding-action="removeFamiliar(familiar)" msg="¿Seguro?"></remconfirm>
          </div>
        </article>
      </div>
    </section>
    <hr>
    <section class="row">
      <div class="col-sm-12 col-xs-12">
        <header><strong>Conyuge</strong></header>
        <article class="col-sm-6 col-xs-12" ng-repeat="familiar in familiars | filter:{relation_type: 'C'}:true ">
          <div class="col-sm-8">
            <div> <strong>ID:</strong> {{familiar.who}} </div>
            <div> <strong>DNI/CE:</strong>{{familiar.person.dni_str}}</div>
            <div> <strong>Nombres:</strong>{{familiar.person.appaterno_str}} {{familiar.person.apmaterno_str}}, {{familiar.person.nombres_str}}</div>
          </div>
          <div class="col-sm-4">
            <remconfirm binding-action="removeFamiliar(familiar)" msg="¿Seguro?"></remconfirm>
          </div>
        </article>
      </div>
    </section>
    <hr>
    <section class="row">
      <div class="col-sm-6 col-xs-12">
        <header><strong>Hermanos(as)</strong></header>
        <article class="person-card row" ng-repeat="familiar in familiars | filter:{relation_type: 'H'}:true ">
          <div class="col-sm-8">
            <div> <strong>ID:</strong> {{familiar.who}} </div>
            <div> <strong>DNI/CE:</strong>{{familiar.person.dni_str}}</div>
            <div> <strong>Nombres:</strong>{{familiar.person.appaterno_str}} {{familiar.person.apmaterno_str}}, {{familiar.person.nombres_str}}</div>
          </div>
          <div class="col-sm-4">
            <remconfirm binding-action="removeFamiliar(familiar)" msg="¿Seguro?"></remconfirm>
          </div>
        </article>
      </div>
      <div class="col-sm-6 col-xs-12">
        <header><strong>Hijos(as)</strong></header>
        <article class="person-card row" ng-repeat="familiar in familiars | filter:{relation_type: 'I'}:true ">
          <div class="col-sm-8">
            <div> <strong>ID:</strong> {{familiar.who}} </div>
            <div> <strong>DNI/CE:</strong>{{familiar.person.dni_str}}</div>
            <div> <strong>Nombres:</strong>{{familiar.person.appaterno_str}} {{familiar.person.apmaterno_str}}, {{familiar.person.nombres_str}}</div>
          </div>
          <div class="col-sm-4">
            <remconfirm binding-action="removeFamiliar(familiar)" msg="¿Seguro?"></remconfirm>
          </div>
        </article>
      </div>
    </section>
    <hr>
    <section class="row">
      <div class="col-sm-6 col-xs-12">
        <header><strong>Abuelo</strong></header>
        <article class="person-card row" ng-repeat="familiar in familiars | filter:{relation_type: 'A'}:true ">
          <div class="col-sm-8">
            <div> <strong>ID:</strong> {{familiar.who}} </div>
            <div> <strong>DNI/CE:</strong>{{familiar.person.dni_str}}</div>
            <div> <strong>Nombres:</strong>{{familiar.person.appaterno_str}} {{familiar.person.apmaterno_str}}, {{familiar.person.nombres_str}}</div>
          </div>
          <div class="col-sm-4">
            <remconfirm binding-action="removeFamiliar(familiar)" msg="¿Seguro?"></remconfirm>
          </div>
        </article>
      </div>
      <div class="col-sm-6 col-xs-12">
        <header><strong>Tio</strong></header>
        <article class="person-card row" ng-repeat="familiar in familiars | filter:{relation_type: 'T'}:true ">
          <div class="col-sm-8">
            <div> <strong>ID:</strong> {{familiar.who}} </div>
            <div> <strong>DNI/CE:</strong>{{familiar.person.dni_str}}</div>
            <div> <strong>Nombres:</strong>{{familiar.person.appaterno_str}} {{familiar.person.apmaterno_str}}, {{familiar.person.nombres_str}}</div>
          </div>
          <div class="col-sm-4">
            <remconfirm binding-action="removeFamiliar(familiar)" msg="¿Seguro?"></remconfirm>
          </div>
        </article>
      </div>
    </section>
    <hr>
    <section class="row">
      <div class="col-sm-12 col-xs-12">
        <header><strong>Otro</strong></header>
        <article class="person-card row" ng-repeat="familiar in familiars | filter:{relation_type: 'O'}:true ">
          <div class="col-sm-8">
            <div> <strong>ID:</strong> {{familiar.who}} </div>
            <div> <strong>DNI/CE:</strong>{{familiar.person.dni_str}}</div>
            <div> <strong>Nombres:</strong>{{familiar.person.appaterno_str}} {{familiar.person.apmaterno_str}}, {{familiar.person.nombres_str}}</div>
          </div>
          <div class="col-sm-4">
            <remconfirm binding-action="removeFamiliar(familiar)" msg="¿Seguro?"></remconfirm>
          </div>
        </article>
      </div>
    </section>
    <hr>
  </div>
  <div class="panel-body" ng-hide="familiars">
    <div ng-switch="result">
      <p ng-switch-when="-1" class="text-danger">Hubo un Error al Recibir los datos, verifique el codigo e intentelo de nuevo.</p>
      <p ng-switch-when="0">No se Encontro Familiares de este alumno.</p>
      <p ng-switch-default>Escriba el codigo de un alumno para buscar sus relaciones familiares.</p>
    </div>
  </div>
  <footer class="panel-footer"></footer>
</section>
