<div ng-init="init()">
  <div class="panel">
    <header class="panel-heading">
      Ficha Socieconomica - Para Asesores de Bienestar
    </header>
    <section class="panel-body">
      <strong>Elegir alumno del cual buscar ficha: </strong>
      <div class="row">
        <div class="col-lg-12">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Código de alumno" ng-model="code">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="button" ng-click="searchStudent(code)">
                <i class="fa fa-search"></i> Buscar
              </button>
            </span>
          </div><!-- /input-group -->
        </div>
        <div class="clearfix">
        </div>
        <hr>
      </div>
      <div class="row" ng-show="alumno">
        <di class="col-sm-12">
          <span class="pull-right">
            <a ui-sref=".student({student_id: code})" class="btn btn-primary"> ir a ficha</a>
          </span>
          {{alumno.full_name}} (<strong>{{alumno.id}}</strong>)
        </di>
      </div>

    </section>
    <footer class="panel-footer"></footer>
  </div>
</div>
