<li class="item card-item-success p-0" *ngFor="let student of students">
  <a [routerLink]="url+student.id" class="d-block p">
    <img class="img-65 d-inline-block" alt="student photo" [src]="'api/personal/photo/'+student.person_id">
    <div class="d-inline-block position-absolute float-right">
      <p class="pl text-primary"><strong>{{student.id}}</strong></p>
      <p class="pl text-secondary"><strong>{{student.full_name}}</strong></p>
    </div>
  </a>
</li>
