<div class="box box-default">
  <header class="box-header with-border">
    <h3 class="box-title"><i class="fa fa-users"></i> Busqueda del estudiante</h3>
  </header>
  <section class="box-body">
    <form class="input-group input-group-sm col-md-12"  (ngSubmit)="searchStudent(studentSought)" #searchForm="ngForm">
      <div class="col-md-12" *ngIf="messageType">
        <div class="alert alert-info" role="alert">
          <strong><i class="fa fa-info"></i> Importante: </strong>{{messageType}}
        </div>
      </div>
      <div class="col-md-8">
        <div class="form-group">
          <input class="form-control" type="text" [(ngModel)]="studentSought" name="studentSought" required>
        </div>
      </div>
      <div class="col-md-4">
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
          <div class="btn-group" role="group">
            <button type="button" class="btn" [ngClass]="(btnActive)?'btn-primary':'btn-default'" (click)="changeSearchBy('dni')">DNI</button>
          </div>
          <div class="btn-group" role="group">
            <button type="button" class="btn" [ngClass]="(!btnActive)?'btn-primary':'btn-default'" (click)="changeSearchBy('name')">NOMBRE</button>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <br>
          <button type="submit" class="btn btn-info pull-right" [disabled]="!searchForm.form.valid || disableSearch">Buscar Estudiante</button>
        </div>
      </div>
    </form>
  </section>
  <div [hidden]="!loading">
    <loading [text]="'buscando . . .'"></loading>
  </div>
  <section class="box-body form-horizontal" *ngIf="errorMessage">
    <div class="callout callout-warning">
      <h4><i class="fa fa-ban"></i> Lo sentimos</h4>
      <p>El estudiante que esta buscando no se pudo encontrar. <br>Por favor verifique el código o nombre y vuelva a intentarlo</p>
    </div>
  </section>
</div>

<div class="box box-default" *ngIf="foundStudents">
  <header class="box-header with-border">
    <h3 class="box-title"><i class="fa fa-list"></i> Resultados</h3>
  </header>
  <section class="box-body">
    <ul class="products-list product-list-in-box">
      <card-student [url]="'estudiante/'" [students]="foundStudents"></card-student>
    </ul>
  </section>
</div>

