﻿﻿<!-- Inicio de reporte de programaciones de actividad -->
<div class="card card-primary" *ngIf="!isBusy">
  <div *ngIf="showListProgrammedActivities" class="header">
    <h2 class="title">Administrar actividad <button class="btn bg-primary" (click)="newActivityProgramming()">
        <i class="fa fa-plus fa-fw"></i>Agregar</button></h2>
  </div>
  <div *ngIf="showListProgrammedActivities" class="body">
    <!-- Formulario de búsqueda de programación de actividades -->
    <form #filterForm="ngForm">
      <div class="card-p">
        <div class="form-group col-md-3">
          <label>Tipo de actividad <span class="text-danger"> *</span></label>
          <select #idactivitytype="ngModel" id="idActivityType" name="idActivityType" [(ngModel)]="idActivityType"
            class="form-control" #idactivitytype="ngModel" required>
            <option value="0" disabled> -- Seleccione --</option>
            <option *ngFor="let activityType of activitiesType" [value]="activityType.id">{{ activityType.name }}
            </option>
          </select>
        </div>
        <div class="form-group col-md-3">
          <label> Seleccione modalidad</label>
          <select id="idModality" name="idModality" [(ngModel)]="idModality" class="form-control">
            <option value=""> -- Todas --</option>
            <option *ngFor="let department of departments" [ngValue]="department.id">
              {{ department.name }} </option>
          </select>
        </div>
        <div class="form-group col-md-3" *ngIf="idModality !='UVIR'">
          <label> Seleccione campus</label>
          <select id="idCampus" name="idCampus" [(ngModel)]="idCampus" class="form-control">
            <option value=""> -- Todos --</option>
            <option *ngFor="let c of campus" [ngValue]="c.id"> {{ c.name }} </option>
          </select>
        </div>
        <div class="form-group col-md-3">
          <label>Filtrar por periodo</label>
          <select id="term" name="term" class="form-control" [(ngModel)]="searchTerm" #periodoTerm="ngModel">
            <option value=""> -- Todos --</option>
            <option [value]="term.termDescription" *ngFor="let term of terms">{{ term.termDescription }}</option>
          </select>
        </div>
        <div class="form-group col-md-12 text-right">
          <button [disabled]="idActivityType === 0" type="submit" class="btn bg-primary" (click)="findActivities()">
            <i class="fa fa-search"></i> Buscar</button>
        </div>
      </div>
    </form>
    <!-- Fin Formulario de búsqueda de programación de actividades -->
  </div>

  <!-- Resultados de la búsqueda de programación de actividades -->
  <div class="body" *ngIf="activitiesProgramming?.length > 0 && showListProgrammedActivities">
    <div
      *ngIf="activitiesProgramming?.length > 0 && activitiesProgramming != undefined && activitiesProgramming != null"
      class="col-xs-12">
      <div class="table-responsive table-material">
        <table class="table">
          <thead class="bg-info">
            <tr>
              <th class="text-center">N°</th>
              <th>Actividad</th>
              <th>Tipo</th>
              <th>Período</th>
              <th>Modalidad</th>
              <th>Campus</th>
              <th>Responsable</th>
              <th>Estado</th>
              <th class="text-center">Opciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let ap of activitiesProgramming; let i=index">
              <td class="va-middle text-center"> {{ i+1 }} </td>
              <td class="va-middle"> {{ ap.activity?.shortName }} </td>
              <td class="va-middle">
                <span class="badge" [class.bg-success]="ap.activity?.activityType?.name === 'Programa'"
                  [class.bg-primary]="ap.activity?.activityType?.name === 'Taller'">
                  {{ ap.activity?.activityType?.name }}
                </span>
              </td>
              <td class="va-middle"> {{ ap.startPeriod }} </td>
              <td> <span class="badge bg-primary">{{ap.department?.name}}</span></td>
              <td><span class="badge"> {{ap.campus?.name}} </span> </td>
              <td class="va-middle">
                <span class="badge bg-light-blue-active"><i class="fa fa-id-card fa-fw"></i>
                  {{ ap.nameTeacher }}</span>
              </td>
              <td class="va-middle"><span class="badge"
                  [class.bg-success]="ap.replicated === true && ap.activity?.activityType?.id === 2">
                  {{ ap.activity?.activityType?.id === 1 ? 'No se replica' : (ap.replicated === true ? 'Replicado' 
                  : 'No replicado')}}</span></td>
              <td class="va-middle text-left">
                <button class="btn bg-primary btn-sm"
                  (click)="editActivityProgramming(ap.id, ap.activity?.activityType?.id)"><i
                    class="fa fa-edit fa-fw"></i>
                  Editar</button>
                <button (click)="deleteActivityProgramming(ap.id)" class="btn btn-outline-danger btn-sm"
                  *ngIf="!ap.replicated">
                  <i class="fa fa-trash-o fa-fw"></i> Eliminar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- Fin Resultados de la búsqueda de programación de actividades -->
  </div>

  <!-- Inicio de mensaje de alerta en caso no existan datos -->
  <div class="body" *ngIf="activitiesProgramming?.length <= 0 && activitiesProgramming != null && activitiesProgramming 
  != undefined && showListProgrammedActivities">
    <div class="callout callout-warning">
      <h4>Sin resultados</h4>
      <p>
        No existen programaciones de actividades para los parámetros ingresados, intente con otros.
      </p>
    </div>
  </div>
  <!-- Fin de mensaje en alerta en caso no existan datos -->

  <!-- Programmed Activity Information Form -->
  <div *ngIf="showFormNewActivityProgramming" class="header">
    <h3 class="title">Información de la programación</h3>
    <p class="text-danger" *ngIf="activityProgramming.replicated">
      <i class="fa fa-exclamation-triangle"></i> Esta programación se encuentra registrada en BANNER, los cambios que
      se realicen no se verán reflejados en BANNER.
    </p>
  </div>
  <div *ngIf="showFormNewActivityProgramming" class="body">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <!-- Formulario de Información General -->
          <div class="header bg-info">
            <h2 class="title">Información general</h2>
          </div>
          <div class="body">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
              <div class="form-group">
                <label for="actType">Tipo de actividad<span class="text-danger"> *</span></label>
                <select [(ngModel)]="idActivityTypeSelected" (ngModelChange)="changeActivityType()" class="form-control"
                  name="actType" id="actType">
                  <option value="0" disabled> -- Seleccione --</option>
                  <option *ngFor="let actType of activitiesType" [value]="actType.id"> {{actType.name}} </option>
                </select>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
              <loading *ngIf="isLoadingActivity" [text]="'Cargando actividad...'" [size]="'small'"></loading>
              <div class="form-group" *ngIf="!isLoadingActivity">
                <label for="idActivity">Actividad<span class="text-danger"> *</span></label>
                <select [disabled]="idActivityTypeSelected ? null : 'true'" (change)="cleanModality()"
                  [(ngModel)]="activityProgramming.idActivity" class="form-control" name="idActivity" id="idActivity">
                  <option value="0" disabled> -- Seleccione -- </option>
                  <option *ngFor="let activity of activities" [value]="activity.id"
                    [selected]="activityProgramming.idActivity == activity.id && activity">
                    {{activity.shortName}} </option>
                </select>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
              <div class="form-group">
                <label for="startPeriod">Período académico<span class="text-danger"> *</span></label>
                <input required type="text" pattern="[0-9]+" class="form-control" id="startPeriod" name="startPeriod"
                  placeholder="Ej. 201810" [(ngModel)]="activityProgramming.startPeriod" (keypress)="keyPress($event)"
                  [maxLength]="6">
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
              <div class="form-group">
                <label for="curriculum">Plan de estudios<span class="text-danger"> *</span></label>
                <div class="form-control">
                  <label class="checkbox-inline" *ngFor="let vucActProgCurriculum of curriculum">
                    <input type="checkbox" [value]="vucActProgCurriculum.curriculum"
                      (click)="selectCurriculum(vucActProgCurriculum.curriculum)"
                      [id]="'curriculum'+ vucActProgCurriculum.curriculum"
                      name="curriculum-{{ vucActProgCurriculum.curriculum }}"
                      [checked]="activityProgramming.id>0 && check(activityProgramming, vucActProgCurriculum.curriculum)"
                      (change)="verifyChangeActivityProgram()"> {{ vucActProgCurriculum.curriculum }}
                  </label>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
              <div class="form-group">
                <label for="idDepartment">Modalidad<span class="text-danger"> *</span></label>
                <select [disabled]="idActivityTypeSelected ? null : 'true'" (change)="cleanCampus()"
                  [(ngModel)]="activityProgramming.idModality" class="form-control" name="idDepartment"
                  id="idDepartment">
                  <option value="" disabled>-- Seleccione --</option>
                  <option *ngFor="let department of departments"
                    [selected]="activityProgramming.idModality == department.id && department" [value]="department.id">
                    {{department.name}} </option>
                </select>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
              <div class="form-group">
                <label for="idCampus">Campus<span class="text-danger"> *</span></label>
                <select [disabled]="(idActivityTypeSelected ? null : 'true') || activityProgramming.idModality === null
                  || activityProgramming.idModality=='UVIR'" [(ngModel)]="activityProgramming.idCampus"
                  class="form-control" name="idCampus" id="idCampus">
                  <option value="" disabled> -- Seleccione -- </option>
                  <option *ngFor="let camp of campus" [selected]="activityProgramming.idCampus == camp.id && camp"
                    [value]="camp.id"> {{camp.name}}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="form-group">
                <label for="studentProfile">Perfil de estudiante<span class="text-danger"> *</span></label>
                <textarea required class="form-control" rows="7" id="studentProfile" name="studentProfile"
                  placeholder="Descripción del perfil de estudiante"
                  [(ngModel)]="activityProgramming.studentProfile"></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <!-- Formulario de Responsable -->
          <div class="header bg-info">
            <h2 class="title">Información de responsable</h2>
          </div>
          <div class="body">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
              <div class="form-group">
                <label for="responsibleType">Tipo de responsable<span class="text-danger"> *</span></label>
                <select [disabled]="(idActivityTypeSelected ? null : 'true')" [(ngModel)]="responsibleTypeSelected"
                  class="form-control" name="respType" id="respType" (change)="responsibleSelected(); clean()">
                  <option *ngFor="let respType of responsibleTypes; let i = index"
                    [disabled]="i==0 || (idActivityTypeSelected==2 && respType.value==2)" [ngValue]="respType.value">
                    {{respType.description}} </option>
                </select>
              </div>
            </div>
            <!-- Empieza movido docente -->
            <div *ngIf="showExternalResponsible">
              <!-- Ingresar responsable manualmente -->
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                <div class="form-group">
                  <label for="nameTeacher">Responsable de actividad<span class="text-danger"> *</span>
                    <span class="label label-info">Apellidos y nombres</span></label>
                  <input [(ngModel)]="activityProgramming.nameTeacher" required type="text" class="form-control"
                    id="nameTeacher" name="nameTeacher" placeholder="Nombre de responsable">
                </div>
              </div>
            </div>
            <div *ngIf="showUniversityTeacher">
              <!-- Búsqueda por DNI -->
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                <form role="form" (submit)="searchTeacher()">
                  <div class="form-group">
                    <label for="documentTeacher">Documento de docente<span class="text-danger"> *</span></label>
                    <div class="input-group">
                      <input type="text" class="form-control" (keypress)="keyPress($event)" placeholder="Ingresar DNI"
                        name="documentTeacher" [(ngModel)]="activityProgramming.documentTeacher" [maxLength]="8">
                      <span class="input-group-btn">
                        <button [disabled]="searchTeacherValidate()" type="submit" class="btn btn-info btn-flat">
                          <i class="fa fa-search"></i></button>
                        <button [disabled]="activityProgramming.documentTeacher ? null : 'true'" type="button"
                          class="btn btn-default btn-flat" (click)="clean()"><i class="fa fa-eraser"></i></button>
                      </span>
                    </div>
                  </div>
                </form>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                <loading *ngIf="isLoadingTeacher" [text]="'Cargando información de docente...'" [size]="'small'">
                </loading>
                <div class="form-group" *ngIf="!isLoadingTeacher">
                  <label for="getNameTeacher">Nombre de docente<span class="text-danger"> *</span></label>
                  <div class="form-control">
                    <dd class="text-aqua" *ngIf="activityProgramming.documentTeacher === null">Debe ingresar el
                      documento de un docente.</dd>
                    <dd *ngIf="teacherInfoSearched !== null && teacherInfoSearched.documentNumber !== null">
                      {{teacherInfoSearched.fullName}} </dd>
                    <dd class="text-red" *ngIf="notFoundTeacher">No se ha encontrado ningún docente.</dd>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card inherit">
          <!-- Formulario de Fechas -->
          <div class="header bg-info">
            <h2 class="title">Información de fechas</h2>
          </div>
          <div class="body">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
              <div class="form-group">
                <label for="startDateEnrollment">Fecha de inicio de matrícula<span class="text-danger"> *</span></label>
                <p-calendar [(ngModel)]="activityProgramming.startDateEnrollment" [locale]="es"
                  dateFormat="DD', 'dd' de 'MM' de 'yy" showButtonBar="true" [showIcon]="true" readonlyInput="true"
                  name="startDateEnrollment" #startDateEnrollment="ngModel" [style]="{'width':'95%'}"
                  [inputStyle]="{'width':'95%'}"></p-calendar>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
              <div class="form-group">
                <label for="endDateEnrollment">Fecha de fin de matrícula<span class="text-danger"> *</span></label>
                <p-calendar [(ngModel)]="activityProgramming.endDateEnrollment" [locale]="es"
                  dateFormat="DD', 'dd' de 'MM' de 'yy" showButtonBar="true" [showIcon]="true" readonlyInput="true"
                  name="endDateEnrollment" #endDateEnrollment="ngModel" [style]="{'width':'95%'}"
                  [inputStyle]="{'width':'95%'}"></p-calendar>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
              <div class="form-group">
                <label for="startDateActivity">Fecha de inicio de actividad<span class="text-danger"> *</span></label>
                <p-calendar [(ngModel)]="activityProgramming.startDateActivity" [locale]="es"
                  dateFormat="DD', 'dd' de 'MM' de 'yy" showButtonBar="true" [showIcon]="true" readonlyInput="true"
                  name="startDateActivity" #startDateActivity="ngModel" [style]="{'width':'95%'}"
                  [inputStyle]="{'width':'95%'}"></p-calendar>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
              <div class="form-group">
                <label for="endDateActivity">Fecha de fin de actividad<span class="text-danger"> *</span></label>
                <p-calendar [(ngModel)]="activityProgramming.endDateActivity" [locale]="es"
                  dateFormat="DD', 'dd' de 'MM' de 'yy" showButtonBar="true" [showIcon]="true" readonlyInput="true"
                  name="endDateActivity" #endDateActivity="ngModel" [style]="{'width':'95%'}"
                  [inputStyle]="{'width':'95%'}"></p-calendar>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card" *ngIf="showCost">
      <!-- Formulario de Información Financiera -->
      <div class="header bg-info">
        <h2 class="title">Información financiera</h2>
      </div>
      <div class="body">
        <div class="col-xs-6 col-sm-6">
          <label for="cost">Costo</label>
          <span class="label label-warning" disabled id="cost" name="cost">{{activityProgramming.cost}}</span>
        </div>
        <div class="col-xs-6 col-sm-6">
          <label for="currency">Moneda</label>
          <span class="label label-warning" disabled id="cost" name="cost">{{activityProgramming.currency}} (Nuevos
            Soles)</span>
        </div>
      </div>
    </div>
    <div class="card">
      <!-- Formulario de Información de Horarios -->
      <div class="header bg-info">
        <h2 class="title">Información de horarios</h2>
      </div>
      <div class="body">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="form-group">
              <label for="maxVacancy">Cantidad de vacantes<span class="text-danger"> *</span></label>
              <input required type="number" class="form-control" id="maxVacancy" name="maxVacancy"
                [(ngModel)]="activityProgramming.maxQuantityVacancy">
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-4">
            <div class="form-group">
              <label for="schedType">Tipo de horario<span class="text-danger"> *</span></label>
              <select [(ngModel)]="activityProgramming.idScheduleType" class="form-control" name="schedType"
                id="schedType" (change)="scheduleTypeSelected()">
                <option value="" disabled>Selecciona un tipo de horario</option>
                <option *ngFor="let schedType of scheduleTypes"
                  [selected]="activityProgramming.idScheduleType == schedType.id && schedType" [ngValue]="schedType.id">
                  {{ schedType.name }} </option>
              </select>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="showScheduleDescription">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="form-group">
              <label for="scheduleDescription">Descripción de horario y lugar<span class="text-danger">
                  *</span></label>
              <textarea class="form-control" rows="7" id="scheduleDescription" name="scheduleDescription"
                placeholder="Descripción de horario y lugar"
                [(ngModel)]="activityProgramming.scheduleDescription"></textarea>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="showScheduleNoDescription">
          <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <div class="form-group">
              <label for="day">Día<span class="text-danger"> *</span></label>
              <select [(ngModel)]="activityProgramming.sessionDay" class="form-control" name="day" id="day">
                <option *ngFor="let day of daysSchedule; let i = index" [disabled]="i==0" [ngValue]="day.value">
                  {{day.description}} </option>
              </select>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
            <div class="form-group">
              <label for="startHour">Hora de inicio<span class="text-danger"> *</span> <span
                  class="label label-info">Formato 24 horas</span></label>
              <input type="time" class="form-control" id="startHour" name="startHour"
                [(ngModel)]="activityProgramming.startHour">
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
            <div class="form-group">
              <label for="endHour">Hora de fin<span class="text-danger"> *</span> <span class="label label-info">Formato
                  24 horas</span></label>
              <input type="time" class="form-control" id="endHour" name="endHour"
                [(ngModel)]="activityProgramming.endHour">
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <div class="form-group">
              <label for="place">Lugar<span class="text-danger"> *</span></label>
              <input type="text" class="form-control" id="place" name="place" placeholder="Lugar"
                [(ngModel)]="activityProgramming.sessionPlace">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="showFormNewActivityProgramming" class="footer text-right">
    <span class="pull-left text-red">
      Los campos marcados con <span class="text-danger">*</span> son obligatorios.
    </span>
    <button *ngIf="activityProgramming?.id === 0" type="submit" class="btn bg-primary"
      (click)="createActivityProgramming();"><i class="fa fa-save fa-fw"></i> Guardar</button>
    <button *ngIf="activityProgramming?.id > 0 && !activityProgramming.replicated" type="submit" class="btn bg-primary"
      (click)="updateActivityProgramming();"><i class="fa fa-save fa-fw"></i> Actualizar</button>
    <button type="submit" class="btn btn-danger" (click)="cancel()"><i class="fa fa-close fa-fw"></i>
      Cancelar</button>
  </div>
</div>

<loading *ngIf="isBusy"></loading>
<!-- Fin de reporte de programaciones de actividad -->

<div *ngIf="primeMsg">
  <p-growl [(value)]="primeMsg" [baseZIndex]="500" life="6000"></p-growl>
</div>