<loading *ngIf="isBusy" text="Cargando..."></loading>

<!-- Catálogo de ejes -->
<div class="card card-primary" *ngIf="!showFormAxi  && !showFormActivity && !isBusy">
  <div class="header">
    <h2 class="title">Administración de ejes <a class="btn bg-primary" (click)="newAxi()">
        <i class="fa fa-plus"></i> Agregar Eje</a></h2>
  </div>
  <div class="body">
    <div *ngIf="axis.length > 0">
      <!-- Lista de ejes -->
      <div class="card card-primary" *ngFor="let axi of axis; let i = index">
        <!-- Opciones de ejes -->
        <div class="header">
          <h2 class="title text-bold text-primary">{{axi.name}}
            <button class="btn bg-primary" (click)="editAxi(axi.id)">
              <i class="fa fa-edit"></i> Editar</button>
            <button class=" btn bg-primary" (click)="newActivity(axi.id)">
              <i class="fa fa-plus"></i> Agregar
            </button>
            <button *ngIf="axi.activities?.length == 0" class="btn btn-outline-danger" (click)="deleteAxi(axi.id)"><i
                class="fa fa-trash"></i> Eliminar</button>
          </h2>
        </div>
        <!-- Fin opciones de ejes -->
        <div class="body">
          <div *ngIf="axi.activities?.length ==  0">
            <p>Este eje no cuenta con actividades, <a (click)="newActivity(axi.id)" style="cursor: pointer">registra</a>
              uno.</p>
          </div>
          <!-- Lista de actividades -->
          <div class="table-responsive table-material" *ngIf="axi.activities?.length > 0">
            <table class="table">
              <thead class="bg-info">
                <tr>
                  <th class="col-md-4">Actividad
                    
                  </th>
                  <th class="col-md-1">Tipo</th>
                  <th class="col-md-1">Estado</th>
                  <th class="col-md-1">Visible</th>
                  <th class="col-md-2 text-center">Opciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let activity of axi.activities">
                  <td class="va-middle">{{activity.name}}</td>
                  <td class="va-middle">
                    <span class="badge" [class.bg-success]="activity.idActivityType === 1"
                      [class.bg-primary]="activity.idActivityType === 2">
                      {{activity?.activityType?.name}}
                    </span>
                  </td>
                  <td class="va-middle" *ngIf="activity.isReplicated && activity.idActivityType === 2">
                    <span class="badge bg-primary">Replicado</span>
                  </td>
                  <td class="va-middle" *ngIf="!activity.isReplicated && activity.idActivityType === 2">
                    <span class="badge">No replicado</span>
                  </td>
                  <td class="va-middle" *ngIf="activity.idActivityType === 1">
                    <span class="badge bg-info">No se replica</span>
                  </td>
                  <td class="va-middle">
                    <label class="switch no-margin" [style.top.px]="-10">
                      <input type="checkbox" name="visible" [(ngModel)]="activity.visible">
                      <span class="slider text-white" (click)="desactivateActivity(activity.id)"></span>
                    </label>
                    <label for="visible">{{activity.visible? 'Si':'No'}}</label>
                  </td>
                  <td class="text-center va-middle">
                    <button class="btn bg-primary btn-sm" (click)="editActivity(activity.id)">
                      <i class="fa fa-edit"></i> Editar</button>
                    <button class="btn btn-outline-danger btn-sm" (click)="deleteActivity(activity.id)">
                      <i class="fa fa-trash"></i> Eliminar</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- Fin lista de actividades -->
        </div>
      </div>
      <!-- Fin lista de ejes -->
    </div>
    <div *ngIf="axis.length == 0 || axis === null">
      <div class="alert alert-info">
        No se ha registrado ningun eje.
      </div>
    </div>
  </div>
</div>
<!-- Fin del catálogo de ejes -->
<!-- Formulario de ejes -->
<div class="card card-primary" *ngIf="showFormAxi && !isBusy">
  <div class="header bg-primary">
    <h3 *ngIf="axi?.id == 0" class="title">Registrar nuevo eje</h3>
    <h3 *ngIf="axi.id > 0" class="title">Actualizar eje <span class="badge"> {{ axis[axi.id - 1].name }} </span></h3>
  </div>
  <div class="body">
    <form [formGroup]="axiForm">
      <div class="form-group" [class.has-error]="!axiForm?.controls.name?.pristine && axiForm?.controls.name?.invalid">
        <label for="nombre">Nombre</label>
        <input (focusout)="getAxiByName()" type="text" class="form-control" id="nombre" name="name"
          [(ngModel)]="axi.name" (ngModelChange)="verifyChange()" formControlName="name">
        <div *ngIf="!axiForm?.controls.name?.pristine">
          <span *ngIf="axiForm?.controls.name?.errors?.required"
            class="help-block">{{axiValidation.name.required}}</span>
          <span *ngIf="axiForm?.controls.name?.errors?.minlength"
            class="help-block">{{axiValidation.name.minlength}}</span>
          <span *ngIf="axiForm?.controls.name?.errors?.maxlength"
            class="help-block">{{axiValidation.name.maxlength}}</span>
          <span *ngIf="axiForm?.controls.name?.errors?.existName" class="help-block">Ya existe el nombre
            del Eje, escriba otro nombre</span>
        </div>
      </div>
      <div class="form-group"
        [class.has-error]="!axiForm?.controls.description?.pristine && axiForm?.controls.description?.invalid">
        <label for="descripcion">Descripción</label>
        <textarea class="form-control" rows="5" id="descripcion" name="description" [(ngModel)]="axi.description"
          (ngModelChange)="verifyChange()" formControlName="description"></textarea>
        <div *ngIf="!axiForm?.controls.description?.pristine">
          <span *ngIf="axiForm?.controls.description?.errors?.required"
            class="help-block">{{axiValidation.description.required}}</span>
          <span *ngIf="axiForm?.controls.description?.errors?.minlength"
            class="help-block">{{axiValidation.description.minlength}}</span>
          <span *ngIf="axiForm?.controls.description?.errors?.maxlength"
            class="help-block">{{axiValidation.description.maxlength}}</span>
        </div>
      </div>
      <div class="form-group">
        <label>Escoja una imagen:
          <span class="label label-info">Formatos permitidos: PNG, JPG, JPEG</span>
          <span class="label label-warning">Dimensiones recomendables de la imagen 1800 x 150</span>
        </label>
        <input class="inline" type="file" accept="image/png, image/jpeg, image/jpg" id="rutaimagen"
          (change)="onChange($event.target.files)" name="imageEncode">
        <div *ngIf="axi.imagePath == null || axi.imagePath == '' && axi.id > 0" class="col-xs-12">
          <span class="label label-info">Este eje no tiene una imagen registrada</span>
        </div>
        <div class="col-xs-12" *ngIf="axi.imagePath != null && axi.imagePath != ''">
          <div>
            <span class="label label-info">Imagen actual</span>
          </div>
          <div class="card" style="width: 1780px; height: 148px; margin: 0 auto;">
            <img class="img-responsive" [src]="axi.imagePath" class="img-responsive" style="max-width: 100%;" />
          </div>
        </div>
        <div *ngIf="imageEncode != null" class="col-xs-12">
          <div>
            <span class="label label-success">Imagen seleccionada</span>
          </div>
          <div class="card" style="width: 1780px; height: 148px; margin: 0 auto;">
            <img class="img-responsive" [src]="imageEncode" alt="imagen eje" style="max-width: 100%;">
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="footer text-right">
    <button [disabled]="axiForm.invalid || isBusy" class="btn bg-primary text-white" *ngIf="axi?.id == 0"
      (click)="createAxi()"><i class="fa fa-save"></i> Guardar</button>
    <button [disabled]="axiForm.status == 'INVALID' || !change" class="btn bg-primary text-white" *ngIf="axi.id > 0"
      (click)="updateAxi()"><i class="fa fa-save"></i> Actualizar</button>
    <button class="btn bg-danger" (click)="cancel()"><i class="fa fa-close"></i> Cancelar</button>
  </div>
</div>
<!-- Fin del formulario de ejes -->
<!-- Formulario de actividades -->
<div class="card card-primary" *ngIf="showFormActivity && !isBusy">
  <div class="header bg-primary">
    <h3 *ngIf="activity?.id == 0" class="title">Registrar nueva actividad</h3>
    <h3 *ngIf="activity.id > 0" class="title">Actualizar actividad
      <span class="badge" data-placement="right" data-toggle="tooltip" title=""
        data-original-title="Nombre corto de la actividad"> {{ nameActivity }} </span></h3>
  </div>
  <div class="body">
    <form [formGroup]="activityForm">
      <div class="form-group col-xs-12 col-md-4 margin-bottom">
        <label for="idActivityType">Tipo de Actividad:</label>
        <select (change)="verifyChangeActivity()" [(ngModel)]="activity.idActivityType" class="form-control"
          name="idActivityType" id="idActivityType" formControlName="idActivityType">
          <option value="0" disabled>-- Seleccione un tipo de actividad --</option>
          <option *ngFor="let activityType of activitiesTypes" [ngValue]="activityType.id">{{activityType.name}}
          </option>
        </select>
        <div class="text-danger" *ngIf="!activityForm?.controls.idActivityType?.pristine">
          <span *ngIf="activityForm?.controls.idActivityType?.errors?.required"
            class="help-block">{{activityValidation.idActivityType.required}}</span>
        </div>
      </div>
      <div class="form-group col-xs-12 col-md-4 margin-bottom"
        [class.has-error]="!activityForm?.controls.shortName?.pristine && activityForm?.controls.shortName?.invalid">
        <label for="shortName">Nombre corto de la Actividad:</label>
        <input (blur)="getActivityByShortName()" type="text" class="form-control" id="shortName" name="shortName"
          [(ngModel)]="activity.shortName" formControlName="shortName" (ngModelChange)="verifyChangeActivity()">
        <div *ngIf="!activityForm?.controls.shortName?.pristine">
          <span *ngIf="activityForm?.controls.shortName?.errors?.required"
            class="help-block">{{activityValidation.shortName.required}}</span>
          <span *ngIf="activityForm?.controls.shortName?.errors?.minlength"
            class="help-block">{{activityValidation.shortName.minlength}}</span>
          <span *ngIf="activityForm?.controls.shortName?.errors?.maxlength"
            class="help-block">{{activityValidation.shortName.maxlength}}</span>
          <span *ngIf="activityForm?.controls.shortName?.errors?.existName"
            class="help-block">{{activityValidation.shortName.existName}}</span>
        </div>
      </div>
      <div class="form-group col-xs-12 col-md-4 margin-bottom"
        [class.has-error]="!activityForm?.controls.name?.pristine && activityForm?.controls.name?.invalid">
        <label for="name">Nombre de la Actividad:</label>
        <input (blur)="getActivityByName()" type="text" class="form-control" id="name" name="name"
          [(ngModel)]="activity.name" formControlName="name" (ngModelChange)="verifyChangeActivity()">
        <div *ngIf="!activityForm?.controls.name?.pristine">
          <span *ngIf="activityForm?.controls.name?.errors?.required"
            class="help-block">{{activityValidation.name.required}}</span>
          <span *ngIf="activityForm?.controls.name?.errors?.minlength"
            class="help-block">{{activityValidation.name.minlength}}</span>
          <span *ngIf="activityForm?.controls.name?.errors?.maxlength"
            class="help-block">{{activityValidation.name.maxlength}}</span>
          <span *ngIf="activityForm?.controls.name?.errors?.existName"
            class="help-block">{{activityValidation.name.existName}}</span>
        </div>
      </div>
      <div class="form-group col-xs-12 col-md-6 margin-bottom"
        [class.has-error]="!activityForm?.controls.description?.pristine && activityForm?.controls.description?.invalid">
        <label for="description">Descripcion de la Actividad:</label>
        <textarea class="form-control" rows="8" id="description" name="description" [(ngModel)]="activity.description"
          formControlName="description" (ngModelChange)="verifyChangeActivity()"></textarea>
        <div *ngIf="!activityForm?.controls.description?.pristine">
          <span *ngIf="activityForm?.controls.description?.errors?.required"
            class="help-block">{{activityValidation.description.required}}</span>
          <span *ngIf="activityForm?.controls.description?.errors?.minlength"
            class="help-block">{{activityValidation.description.minlength}}</span>
          <span *ngIf="activityForm?.controls.description?.errors?.maxlength"
            class="help-block">{{activityValidation.description.maxlength}}</span>
        </div>
      </div>
      <div class="form-group col-xs-12 col-md-6 margin-bottom"
        [class.has-error]="!activityForm?.controls.other?.pristine && activityForm?.controls.other?.invalid">
        <label for="other">Otros:</label>
        <textarea class="form-control" rows="8" id="other" name="other" [(ngModel)]="activity.other"
          formControlName="other" (ngModelChange)="verifyChangeActivity()"></textarea>
        <div *ngIf="!activityForm?.controls.other?.pristine">
          <span *ngIf="activityForm?.controls.other?.errors?.minlength"
            class="help-block">{{activityValidation.other.minlength}}</span>
          <span *ngIf="activityForm?.controls.other?.errors?.maxlength"
            class="help-block">{{activityValidation.other.maxlength}}</span>
        </div>
      </div>
      <div class="form-group col-xs-12 col-md-6 margin-bottom">
        <label for="convalidationTypes">Elija el o los Tipos de Acreditación:<span class="text-danger">
            *</span></label>
        <div class="form-control">
          <label class="checkbox-inline" *ngFor="let vucConv of convalidationTypes"><input type="checkbox"
              [value]="vucConv.id" (click)="selectConvalidation(vucConv.id)" [id]="'convalidationTypes'+ vucConv.id"
              name="convalidationTypes-{{vucConv.id}}" [checked]="activity.id>0 && check(activity,vucConv.id)"
              (change)="verifyChangeActivity(); resetCredit(vucConv.id)">{{vucConv.name}}</label>
        </div>
        <div class="text-danger" *ngIf="!activityForm?.controls.convalidationTypes?.pristine">
          <span *ngIf="activityForm?.controls.convalidationTypes?.errors?.required">
            {{activityValidation.convalidationTypes.required}}
          </span>
        </div>
      </div>
      <div class="form-group col-xs-12 col-md-6 margin-bottom">
        <label *ngIf="!showCredits" for="credits">
          Ingrese la cantidad de Créditos:<span class="text-danger"> *</span>
        </label>
        <select [(ngModel)]="activity.credits" *ngIf="!showCredits" class="form-control" name="credits" id="credits"
          formControlName="credits" (change)="verifyChangeActivity()" required>
          <option *ngFor="let credit of quantityCredits; let i = index" [disabled]="i==0" [ngValue]="credit.value">
            {{credit.description}}</option>
        </select>
        <div *ngIf="showCredits" class="text-blue">
          <span>No existe créditos para Proyección Social</span>
        </div>
        <div class="text-danger" *ngIf="!activityForm?.controls.credits?.pristine">
          <span *ngIf="activityForm?.controls.credits?.errors?.required">
            {{activityValidation.credits.required}}
          </span>
        </div>
      </div>
      <div class="form-group col-xs-12 margin-bottom">
        <label>Escoja una imagen:
          <span class="label label-info">Archivos permitidos: PNG, JPG, JPEG</span>
          <span class="label label-warning">Dimensiones recomendables de la imagen 1800 x 150</span>
        </label>
        <input class="inline" type="file" accept="image/png, image/jpeg, image/jpg" id="rutaimagen"
          (change)="onChangeActivity($event.target.files)" name="imageEncode">
        <div class="row">
          <div class="col-xs-12" *ngIf="activity.imagePath == null && activity.idAxi != 0 && activity.id != 0">
            <span class="label label-info">Este actividad no tiene una imagen registrada</span>
          </div>
          <div class="col-xs-12" *ngIf="activity.imagePath != '' && activity.imagePath != null">
            <span class="label label-info">Imagen actual</span>
            <div class="card" style="width: 1780px; height: 148px; margin: 0 auto;">
              <img class="img-responsive" [src]="activity.imagePath" style="max-width: 100%;" />
            </div>
          </div>
          <div class="col-xs-12" *ngIf="imageEncode != null">
            <span class="label label-success">Imagen seleccionada</span>
            <div class="card" style="width: 1780px; height: 148px; margin: 0 auto;">
              <img class="img-responsive" [src]="imageEncode" alt="imagen no encontrato" style="max-width: 100%;">
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="footer text-right">
    <span class="pull-left text-red">Los campos marcados con <span class="text-red">*</span> son obligatorios.</span>
    <button
      [disabled]="activityForm.invalid || activity.convalidationTypesId.length <= 0 || activity.idActivityType <= 0"
      class="btn bg-primary text-white" *ngIf="activity?.id == 0" (click)="createActivity()">
      <i class="fa fa-save"></i> Guardar</button>
    <button [disabled]="activityForm.invalid || !change || activity.convalidationTypesId.length <= 0"
      class="btn bg-primary text-white" *ngIf="activity.id > 0" (click)="updateActivity()">
      <i class="fa fa-save"></i> Actualizar</button>
    <button class="btn bg-danger" (click)="cancel()"><i class="fa fa-close"></i> Cancelar</button>
  </div>
</div>
<!-- Fin del formulario de actividades -->

<div *ngIf="primeMsg">
  <p-growl [(value)]="primeMsg" [baseZIndex]="500" life="6000"></p-growl>
</div>