<!-- Inicio de registro de nueva convalidación -->
<div class="card card-primary inherit">
  <div class="header">
    <h2 class="title">Registrar reconocimiento</h2>
  </div>
  <div class="body">
    <form role="form" (submit)="searchStudentsForm.valid && searchStudents()" #searchStudentsForm="ngForm">
      <div class="form-group row text-right">
        <label class="col-sm-2 control-label">DNI Estudiante</label>
        <div class="col-sm-10 col-md-7">
          <input (keypress)="keyPress($event)" class="form-control" name="studentsByDni" type="text" pattern="[0-9 ]+"
            name="studentsByDni" placeholder="Ingrese los dni separados por un espacio" [(ngModel)]="studentsByDni"
            (ngModelChange)="splitDni()" required minlength="8" #studentsInput="ngModel">
        </div>
      </div>
      <div class="form-group row" *ngIf="students != undefined && students.length > 0">
        <div class="col-sm-offset-2 col-sm-10 col-md-7">
          <span class="badge bg-teal hand" (click)="showStudentsList()">Códigos ingresados
            <span class="badge bg-teal-active" *ngIf="students != undefined">
              {{ students.length }}
            </span>
          </span>
        </div>
        <div class="col-sm-offset-2 col-sm-10 col-md-7" *ngIf="isShowStudentsList">
          <span *ngFor="let student of students">
            <span class="badge bg-gray"><i class="fa fa-user"></i> {{ student }}</span>&nbsp;
          </span>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-offset-2 col-sm-10 col-md-7">
          <button type="submit" class="btn bg-primary" [attr.disabled]="searchStudentsForm.valid ? null : 'true'">
            <i class="fa fa-search"></i> Buscar Estudiantes </button>
        </div>
      </div>
    </form>
    <form #registerRecognition="ngForm">
      <!-- Inicio de lista de estudiantes con sus reconocimientos -->
      <div class="form-group col-md-12" *ngIf="foundStudents.length > 0">
        <div class="table-responsive table-material">
          <table class="table">
            <thead class="bg-info">
              <tr>
                <th class="text-center">#</th>
                <th>DNI</th>
                <th>Estudiante</th>
                <th>Reconocimientos</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let student of foundStudents; let i=index">
                <td class="text-center"> {{i+1}} </td>
                <td> {{student.dni}} </td>
                <td> {{student.nomCompleto}} </td>
                <td class="va-middle">
                  <div [style.margin-bottom.px]="6" *ngFor="let recognition of student.recognitions">
                    <label class="badge label-primary" data-toggle="tooltip"
                      [title]="recognition.description">{{recognition.reason}}</label>
                    <label class="badge label-default">{{recognition.recognitionDate |
                                            date:'dd/MM/yyyy'}}</label>
                    <a [href]="recognition.pathEvidency" class="btn btn-xs bg-primary"><i class="fa fa-download"></i>
                      Evidencia</a>
                  </div>
                </td>
              </tr>
            </tbody>
            <tfoot *ngIf="notFoundDnis.length > 0">
              <tr *ngFor="let dni of notFoundDnis">
                <td class="text-center"> - </td>
                <td> {{dni}} </td>
                <td><label class="label label-warning">Estudiante no encontrado</label></td>
                <td><label class="label label-danger">No se registrará este DNI</label></td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
      <!-- Fin de lista de estudiantes con sus reconocimientos -->
      <div *ngIf="foundStudents.length > 0 && searchStudentsForm.submitted && !isBusy">
        <div class="form-group col-md-12">
          <label for="motivo">Motivo<span class="text-danger">*</span></label>
          <input type="text" class="form-control" name="reason" [(ngModel)]="recognition.reason" required
            #reason="ngModel">
          <div class="text-danger" *ngIf="!reason.valid && reason.touched">
            <span>Ingrese un motivo</span>
          </div>
        </div>
        <div class="form-group col-md-12">
          <label for="descripcion">Descripción</label>
          <textarea class="form-control" rows="3" name="description" [(ngModel)]="recognition.description"
            #description="ngModel" style="resize: none;"></textarea>
        </div>
        <div class="form-group col-xs-12 col-md-6 col-lg-3">
          <label>Tipo de Acreditación<span class="text-danger">*</span></label>
          <div>
            <label *ngFor="let e of convalidationTypes; let i=index" class="radio-inline" [for]="'tipo-acr'+ i">
              <input type="radio" [id]="'tipo-acr'+ i" (change)="resetCredit()"
                [(ngModel)]="recognition.idConvalidationType" [value]="e.id" name="idConvalidationType" required
                #idConvalidationType="ngModel" /> {{e.name}} </label>
          </div>
        </div>
        <div class="form-group col-xs-12 col-md-6 col-lg-3" *ngIf="recognition.idConvalidationType === 1">
          <label for="credit">Cr&eacute;dito(s)<span class="text-danger">*</span></label>
          <div>
            <select *ngIf="!isSocialProjectSelected" id="credit" name="credit" [(ngModel)]="recognition.credit"
              class="form-control" required>
              <option disabled value="">-- Seleccione la cantidad de créditos --</option>
              <option value="1">1 crédito</option>
              <option value="2">2 créditos</option>
            </select>
          </div>
        </div>
        <div class="form-group col-xs-12 col-md-6 col-lg-3">
          <label for="startFech">Fecha de Acreditación<span class="text-danger">*</span></label>
          <div>
            <p-calendar name="recognitionDate" [locale]="locale" dateFormat="dd/mm/yy" [monthNavigator]="true"
              [yearNavigator]="true" yearRange="{{wata - 1}}:{{wata}}" [showIcon]="true"
              [(ngModel)]="recognition.recognitionDate" required #recognitionDate="ngModel"></p-calendar>
          </div>
          <div class="text-danger" *ngIf="!recognitionDate.valid && recognitionDate.touched">
            <span>Elija una fecha de acreditación</span>
          </div>
        </div>
        <div class="form-group col-xs-12 col-md-6 col-lg-3">
          <label>Evidencias<span class="text-danger">*</span> <span class="label label-warning">Archivo
              permitido: .zip</span></label>
          <input type="file" (change)="onChange($event.target.files)" accept=".zip, .rar">
          <input type="hidden" name="pathCode" [(ngModel)]="recognition.pathCode" required #pathCode="ngModel">
          <div class="text-danger" *ngIf="!pathCode.valid && pathCode.touched">
            <span>Seleccione una evidencia</span>
          </div>
        </div>
      </div>
      <div class="alert alert-warning" *ngIf="foundStudents.length <= 0 && searchStudentsForm.submitted && !isBusy">
        No se encontraron resultados
      </div>
    </form>
  </div>
  <div class="footer text-right" *ngIf="foundStudents.length > 0 && searchStudentsForm.submitted && !isBusy">
    <span class="pull-left text-red">Los campos marcados con <span class="text-red">*</span> son obligatorios.</span>
    <button class="btn bg-primary text-white" [disabled]="registerRecognition.invalid"
      (click)="create();registerRecognition.resetForm(); searchStudentsForm.resetForm()">
      <i class="fa fa-save"></i> Guardar</button>
    <button class="btn btn-danger" (click)="registerRecognition.resetForm(); searchStudentsForm.resetForm(); clean();">
      <i class="fa fa-close"></i> Cancelar</button>
  </div>
  <loading *ngIf="isBusy"></loading>
</div>
<!-- Fin de registro de nueva convalidación -->

<div *ngIf="primeMsg">
  <p-growl [(value)]="primeMsg" [baseZIndex]="500" life="6000"></p-growl>
</div>