<div class="card card-primary">
  <div class="header">
    <h2 class="title">Búsqueda de horarios - Cumplimiento</h2>
  </div>
  <div class="body">
    <!-- Inicio de formulario de búsqueda de programación de actividades -->
    <form #filterForm="ngForm">
      <div class="form-group col-md-3">
        <label>Tipo de actividad <span class="text-danger"> *</span></label>
        <select [disabled]="filterForm.submitted && activities?.length > 0" #idactivitytype="ngModel"
          id="idActivityType" name="idActivityType" [(ngModel)]="idActivityType" class="form-control" required>
          <option value="0" disabled>-- Seleccione un tipo de actividad --</option>
          <option *ngFor="let activityType of activitiesTypes" [ngValue]="activityType.id">{{activityType.name}}
          </option>
        </select>
      </div>
      <div class="form-group col-md-3">
        <label>Tipo de modalidad <span class="text-danger"> *</span></label>
        <select [disabled]="filterForm.submitted && activities?.length > 0" (change)="cleanCampus()"
          #idmodality="ngModel" id="idModality" name="idModality" [(ngModel)]="idModality" class="form-control"
          required>
          <option value="" disabled>-- Seleccione una modalidad --</option>
          <option *ngFor="let modality of modalities" [ngValue]="modality.id">{{modality.name}}</option>
        </select>
      </div>
      <div class="form-group col-md-3">
        <label>Seleccione un campus <span class="text-danger"> *</span></label>
        <select [disabled]="filterForm.submitted && activities?.length > 0 || idModality == 'UVIR'" #idcampus="ngModel"
          id="idCampus" name="idCampus" [(ngModel)]="idCampus" class="form-control" required>
          <option value="" disabled>-- Seleccione un campus --</option>
          <option *ngFor="let c of campus" [ngValue]="c.id">{{c.name}}</option>
        </select>
      </div>
      <div class="form-group col-md-3">
        <label>Nombre de actividad</label>
        <input [disabled]="filterForm.submitted && activities?.length > 0" type="text" class="form-control"
          name="activityName" [(ngModel)]="activityName">
      </div>
      <div class="col-md-12 text-right">
        <button [disabled]="filterForm.valid ? null : 'true' || idActivityType === 0 || idModality === '' || idCampus === ''" type="submit"
          class="btn bg-primary" (click)="findProgrammingActivities()"><i class="fa fa-search"></i> Buscar</button>
        <button [disabled]="isBusy" class="btn btn-outline-primary" (click)="cleanSearch(filterForm)">Nueva
          búsqueda</button>
      </div>
    </form>
    <!-- Fin de formulario de búsqueda de programación de actividades -->
  </div>
  <!-- Inicio de resultados de la búsqueda de programación de actividades -->
  <div class="body" *ngIf="filterForm.submitted && !isShowSearch">
    <div class="col-xs-12" *ngIf="activities?.length > 0 && activities != undefined && activities != null">
      <div class="table-responsive table-material">
        <table class="table">
          <thead class="bg-info">
            <tr>
              <th>#</th>
              <th>Actividad</th>
              <th>Inicio - Fin</th>
              <th>Horario</th>
              <th>Modalidad</th>
              <th>Campus</th>
              <th [style.width.px]="271" class="text-center">Opciones</th>
            </tr>
          </thead>
          <tbody>
            <tr class="va-middle" *ngFor="let activity of activities; let i = index">
              <td class="va-middle"> {{ i + 1 }} </td>
              <td class="va-middle"> {{ activity.activity.shortName }} </td>
              <td class="va-middle">
                Del: {{ activity.startDateActivity | date:'dd/MM/yyy' }}
                Al: {{ activity.endDateActivity | date:'dd/MM/yyy' }}
              </td>
              <td class="va-middle" *ngIf="activity.idScheduleType === 'D'"> {{ activity.scheduleDescription }} </td>
              <td class="va-middle" *ngIf="activity.idScheduleType === 'ND'">
                Día: {{ activity.sessionDay }} - De: {{ activity.startHour }} - {{ activity.endHour }}
              </td>
              <td class="va-middle"> <span class="badge bg-primary"> {{ activity.department.name }} </span> </td>
              <td class="va-middle"> <span class="badge"> {{ activity.campus.name }} </span></td>
              <td class="va-middle" [style.width.px]="271">
                <button *ngIf="idActivityType == 1" type="button" class="btn bg-primary" data-toggle="tooltip"
                  data-placement="bottom" (click)="getReporte(activity)">
                  <i class="fa fa-eye" aria-hidden="true"></i> Ver reporte </button>
                <button *ngIf="idActivityType == 2" type="button" class="btn bg-primary" data-toggle="tooltip"
                  data-placement="bottom" (click)="getStudent(activity, activity.startPeriod)">
                  <i class="fa fa-eye" aria-hidden="true"></i> Ver reporte </button>
                <button *ngIf="idActivityType == 1 && !activity.hasTracing" type="button" class="btn bg-primary"
                  data-toggle="tooltip" data-placement="bottom" title="Registrar estudiantes"
                  (click)="getEnrolledStudents(activity)"><i class="fa fa-plus"></i>
                  Registrar </button>
              </td>
              <!-- Fin de Opciones -->
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- Fin de resultados de la búsqueda de programación de actividades -->
  <div class="body" *ngIf="activities?.length == 0 && activities != null && activities != undefined">
    <div class="alert alert-info">
      <p>No existen programaciones de actividades para los parámetros ingresados, intente con otros.</p>
    </div>
  </div>
</div>
<loading *ngIf="isBusy"></loading>

<!-------------------------------- Inicio del isRegisterMode y enrolledStudents --------------------------->
<div class="card card-primary" *ngIf="isRegisterMode && enrolledStudents?.length > 0 && enrolledStudents 
  != undefined && enrolledStudents != null && !isShowRegister && isShowSearch">
  <div class="header bg-primary">
    <h3 class="title">Registro de cumplimiento <span class="badge"> {{ nameActivity }} </span> </h3>
  </div>
  <div class="body">
    <button (click)="activateGroupBoxes()" class="btn bg-primary">Activar ingreso de datos por bloques</button>
    <div *ngIf="isBlockBoxesActive" [style.margin-top.px]="16">
      <form>
        <div class="col-xs-12 col-md-6 col-lg-3">
          <label for="dniBox">DNI(s)</label>
          <textarea (change)="splitDni()" [(ngModel)]="dniBox" class="form-control" name="dniBox" id="dniBox"
            rows="10"></textarea>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
          <label for="hours">Horas</label>
          <textarea [disabled]="dnis.length == 0" (change)="splitHour()" [(ngModel)]="hourBox" class="form-control"
            name="hours" id="hours" rows="10"></textarea>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
          <label for="scores">Calificaciones</label>
          <textarea [disabled]="dnis.length == 0" (change)="splitScore()" [(ngModel)]="scoreBox" class="form-control"
            name="scores" id="scores" rows="10"></textarea>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
          <label for="observations">Observaciones</label>
          <textarea [disabled]="dnis.length == 0" (change)="splitObservation()" [(ngModel)]="observationBox"
            class="form-control" name="observations" id="observations" rows="10"></textarea>
        </div>
      </form>
    </div>
  </div>
  <div class="body">
    <form #tracingForm="ngForm">
      <div class="table-responsive table-material">
        <table class="table">
          <thead class="bg-info">
            <tr>
              <th>DNI</th>
              <th>Ciclo</th>
              <th>Nombre</th>
              <th>Horas</th>
              <th>Calificación</th>
              <th>Observaciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let student of enrolledStudents; let i = index">
              <td class="va-middle">{{student.student.documentNumber}}</td>
              <td class="va-middle">{{student.cycle}}</td>
              <td class="va-middle">{{student.student.fullNameStudent}}</td>
              <td class="va-middle"><input required #hour type="number" [name]="'hour' + i" step="0.1" [min]="0"
                  [max]="999" class="va-middle" [(ngModel)]="tracingStudents[i].hours"></td>
              <td class="va-middle"><input required #score type="number" [name]="'score' + i" step="0.1" [min]="0"
                  [max]="20" class="va-middle" [(ngModel)]="tracingStudents[i].score"></td>
              <td class="va-middle"><input required #observation type="text" [name]="'observation' + i"
                  [(ngModel)]="tracingStudents[i].observation"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </form>
  </div>
  <div class="footer text-right">
    <button class="btn btn-outline-primary pull-left" (click)="back()"><i class="fa fa-arrow-left"></i> Regresar
    </button>
    <button [attr.disabled]="tracingForm.invalid ? 'true' : null" type="submit" class="btn bg-primary"
      (click)="saveTracing()"><i class="fa fa-save"></i> Registrar cumplimiento</button>
  </div>
  <div class="overlay" *ngIf="isBusy">
    <i class="fa fa-refresh fa-spin"></i>
  </div>
</div>
<!-------------------------------- Fin del isRegisterMode y enrolledStudents --------------------------->

<!------------------------------ Inicio del formulario tracingReports ------------------------------------->
<div class="card card-primary" *ngIf="tracingReports?.length > 0 && tracingReports != null && tracingReports != undefined
  && isShowSearch && !isShowReport">
  <div class="header bg-primary">
    <h3 class="title">Reporte en programa <span class="badge"> {{ nameActivity }} </span> </h3>
  </div>
  <div class="body">
    <button class="btn btn-outline-primary pull-left" [disabled]="" (click)="back()">
      <i class="fa fa-arrow-left"></i> Regresar</button>
    <button class="btn bg-primary pull-right" data-toggle="tooltip" data-placement="bottom"
      title="Descargar relación de estudiantes" (click)="download()"><i class="fa fa-download" aria-hidden="true"></i>
      Descargar reporte</button>
  </div>
  <div class="body">
    <div class="table-responsive table-material">
      <table id="report" class="table">
        <thead class="bg-info">
          <tr>
            <th>Actividad</th>
            <th>DNI</th>
            <th>Estudiante</th>
            <th>EAP</th>
            <th>Estado</th>
            <th>Horas</th>
            <th>Calificación</th>
            <th>Observaciones</th>
            <th>Fecha de registro</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tracing of tracingReports">
            <td class="va-middle">{{tracing.activityName}}</td>
            <td class="va-middle">{{tracing.dni}}</td>
            <td class="va-middle">{{tracing.fullName}}</td>
            <td class="va-middle">{{tracing.eap}}</td>
            <td class="va-middle" class="text-center"><span class="badge" [class.bg-danger]="tracing.score < 14"
                [class.bg-success]="tracing.score >= 14">{{tracing.state}}</span></td>
            <td class="va-middle">{{tracing.hours}}</td>
            <td class="va-middle" class="text-center"><span class="badge" [class.bg-danger]="tracing.score < 14"
                [class.bg-success]="tracing.score >= 14">{{tracing.score}}</span></td>
            <td class="va-middle">{{tracing.observation}}</td>
            <td class="va-middle">{{tracing.createdAt | date:'dd/MM/yyyy'}}</td>
            <td class="va-middle">
              <button *ngIf="!tracing.hasCertificate && tracing.state === 'Aprobado'" type="button"
                class="btn bg-primary" data-toggle="tooltip" data-placement="bottom"
                (click)="getCertificate(tracing.pidm, $event)"><i class="fa fa-file-pdf-o"></i>
                Generar constancia</button>
              <a type="button" class="btn bg-primary" *ngIf="tracing.hasCertificate && tracing.state === 'Aprobado'"
                [href]="tracing.certificatePath" target="_blank"><i class="fa fa-download"></i>
                Descargar</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!---------------- Fin del formulario tracingReports ----------------------->

<!-------------- Inicio del formulario enrolledProgramActivities --------------------->
<div class="card card-primary" *ngIf="enrolledProgramActivities?.length > 0 && enrolledProgramActivities != null 
  && enrolledProgramActivities != undefined && isShowSearch && !isShowActivity">
  <div class="header bg-primary">
    <h3 class="title">Reporte en taller <span class="badge"> {{ nameActivity }} </span> </h3>
  </div>
  <div class="body">
    <div class="text-right">
      <button class="btn btn-outline-primary pull-left" (click)="back()"><i class="fa fa-arrow-left"></i> Regresar
      </button>
      <button class="btn bg-primary" data-toggle="tooltip" data-placement="bottom"
        title="Descargar relación de estudiantes" (click)="downloadStudentsAccredited()">
        <i class="fa fa-download"></i> Descargar Reporte
      </button>
    </div>
  </div>
  <div class="body">
    <div class="table-responsive table-material">
      <table class="table">
        <thead class="bg-info">
          <tr>
            <th>#</th>
            <th>Modalidad</th>
            <th>Actividad</th>
            <th>DNI</th>
            <th>Estudiante</th>
            <th class="text-center">Calificación</th>
            <th class="text-center">Asistencia</th>
            <th class="text-center">Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let accreditStudent of enrolledProgramActivities; let i = index">
            <td class="va-middle"> {{ i +1}} </td>
            <td class="va-middle"> <span class="badge bg-primary"> {{accreditStudent.departmend.name}} </span></td>
            <td class="va-middle"> {{ accreditStudent.student.courseName }} </td>
            <td class="va-middle"> {{ accreditStudent.student.documentNumber }} </td>
            <td class="va-middle"> {{ accreditStudent.student.fullNameStudent }} </td>
            <td class="text-center va-middle"> {{ accreditStudent.student.finalScore }} </td>
            <td class="text-center va-middle"> {{ accreditStudent.student.percentageAssistance }} <span>%</span></td>
            <!-- Inicio de opciones -->
            <td class="text-center va-middle">
              <button *ngIf="!accreditStudent.hasCertificate"
                (click)="getCertificate(accreditStudent.pidmStudent, $event)" type="button"
                class="btn btn-sm btn-flat btn-info" data-toggle="tooltip" data-placement="bottom"><i
                  class="fa fa-file-pdf-o"></i> Generar Constancia</button>
              <a [href]="accreditStudent.certificatePath" *ngIf="accreditStudent.hasCertificate" type="button"
                class="btn btn-sm btn-flat bg-primary" target="_blank"><i class="fa fa-download"></i>
                Descargar Constancia</a>
            </td>
            <!-- Fin de opciones -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!---------------- Fin del formulario enrolledProgramActivities ----------------------->

<div *ngIf="primeMsg">
  <p-growl [(value)]="primeMsg" [baseZIndex]="500" life="6000"></p-growl>
</div>

<div *ngIf="primeMsg1 && !isBusy && tracingReports?.length === 0 || enrolledStudents?.length === 0 
  || enrolledProgramActivities?.length === 0">
  <p-growl [(value)]="primeMsg1" [baseZIndex]="100" [sticky]="true"></p-growl>
</div>