<div class="card card-primary">
  <div class="header">
    <h2 class="title">Búsqueda de horarios - Seleccionados</h2>
  </div>
  <div class="body">
    <!-- Formulario de búsqueda de programación de actividades -->
    <form #filterForm="ngForm">
      <div class="form-group col-md-3">
        <label>Tipo de actividad <span class="text-danger"> *</span></label>
        <select [disabled]="filterForm.submitted && activities?.length > 0" #idactivitytype="ngModel"
          id="idActivityType" name="idActivityType" class="form-control" [(ngModel)]="idActivityType"
          class="form-control" required>
          <option value="0" disabled>-- Seleccione un tipo de actividad --</option>
          <option *ngFor="let activityType of activitiesTypes" [ngValue]="activityType.id">{{ activityType.name }}
          </option>
        </select>
      </div>
      <div class="form-group col-md-3">
        <label>Seleccione una modalidad <span class="text-danger"> *</span></label>
        <select [disabled]="filterForm.submitted && activities?.length > 0" (change)="cleanCampus()"
          #idmodality="ngModel" id="idModality" name="idModality" [(ngModel)]="idModality" class="form-control"
          required>
          <option value="" disabled>-- Seleccione una modalidad --</option>
          <option *ngFor="let modality of modalities" [ngValue]="modality.id">{{ modality.name }}</option>
        </select>
      </div>
      <div class="form-group col-md-3">
        <label>Seleccione un campus <span class="text-danger"> *</span></label>
        <select [disabled]="filterForm.submitted && activities?.length > 0 || idModality == 'UVIR'" #idcampus="ngModel"
          id="idCampus" name="idCampus" [(ngModel)]="idCampus" class="form-control" required>
          <option value="" disabled>-- Seleccione un campus --</option>
          <option *ngFor="let c of campus" [ngValue]="c.id"> {{ c.name }} </option>
        </select>
      </div>
      <div class="form-group col-md-3">
        <label>Nombre de actividad</label>
        <input [disabled]="filterForm.submitted && activities?.length > 0" type="text" class="form-control"
          name="activityName" [(ngModel)]="activityName">
      </div>
      <div class="col-md-12 text-right">
        <button [disabled]="filterForm.valid ? null : 'true' || idActivityType === 0 || idModality === '' || idCampus === ''" type="submit"
          class="btn bg-primary" (click)="findActivities()"><i class="fa fa-search"></i> Buscar</button>
        <button [disabled]="isBusy" class="btn btn-outline-primary" (click)="clean()">Nueva búsqueda</button>
      </div>
    </form>
    <!-- Fin Formulario de búsqueda de programación de actividades -->
  </div>
  <!-- Resultados de la búsqueda de programación de actividades -->
  <div class="body" *ngIf="filterForm.submitted && !isShowSearch">
    <div class="col-xs-12" *ngIf="activities?.length > 0 && activities != undefined && activities != null">
      <div class="table-responsive table-material">
        <table class="table">
          <thead class="bg-info">
            <tr>
              <th>#</th>
              <th>Actividad</th>
              <th>Inicio - Fin</th>
              <th>Horario</th>
              <th>Modalidad</th>
              <th>Campus</th>
              <th [style.width.px]="271" class="text-center">Opciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let activity of activities; let i = index">
              <td class="va-middle"> {{ i + 1 }} </td>
              <td class="va-middle"> {{ activity.activity.shortName }} </td>
              <td class="va-middle"> {{ activity.startDateActivity | date:'dd/MM/yyy' }} -
                {{ activity.endDateActivity | date:'dd/MM/yyy'}} </td>
              <td class="va-middle" *ngIf="activity.idScheduleType === 'D'"> {{ activity.scheduleDescription }} </td>
              <td class="va-middle" *ngIf="activity.idScheduleType === 'ND'">
                Día: {{ activity.sessionDay }} - De: {{ activity.startHour }} - {{ activity.endHour }}
              </td>
              <td class="va-middle"> <span class="badge bg-primary"> {{activity.department.name}} </span></td>
              <td class="va-middle"> <span class="badge"> {{activity.campus.name}} </span> </td>
              <td class="va-middle" [style.width.px]="271">
                <button (click)="getByEnrolledProgram(activity.id, i+1)" type="button" class="btn bg-primary"
                  data-toggle="tooltip" data-placement="bottom"><i class="fa fa-eye"></i> Ver relación </button>
                <button (click)="register(activity)" type="button" class="btn bg-primary"
                  *ngIf="idActivityType == 1 && !activity.hasSelected" data-toggle="tooltip" data-placement="bottom">
                  <i class="fa fa-plus"></i> Registrar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="body" *ngIf="activities?.length == 0 && activities != null && activities != undefined">
    <div class="alert alert-info">
      No existen programaciones de actividades para los parámetros ingresados, intente con otros.
    </div>
  </div>
  <loading *ngIf="isBusy"></loading>
</div>

<!-- Relación de estudiantes isncritos en una actividad -->
<div class="card card-primary" *ngIf="enrolledProgramStudents?.length > 0 && enrolledProgramStudents != null
   && enrolledProgramStudents != undefined && !isBusy && isShowSearch && !isShowReport">
  <div class="header bg-primary">
    <h2 class="title"> <span class="badge"> {{ currentIndex }} </span> {{enrolledProgramStudents[0].name}} <span
        class="badge">{{enrolledProgramStudents[0].activityType}}</span></h2>
  </div>
  <div class="body">
    <button class="btn btn-outline-primary pull-left" (click)="back(); cleanSearch()"><i class="fa fa-arrow-left"></i>
      Regresar</button>
    <button (click)="downloadStudentsInformation()" type="button" class="btn bg-primary pull-right"
      data-toggle="tooltip" data-placement="bottom" title="Descargar relación de estudiantes">
      <i class="fa fa-download"></i> Descargar relación </button>
  </div>
  <div class="body">
    <div class="table-responsive table-material">
      <table class="table">
        <thead class="bg-info">
          <tr>
            <th [style.width.%]="3">#</th>
            <th [style.width.%]="11">Periodo Programación</th>
            <th [style.width.%]="13">Fecha de Inicio y Fin de actividad</th>
            <th [style.width.%]="5">DNI</th>
            <th [style.width.%]="15">Apellidos y Nombres</th>
            <th [style.width.%]="5">Celular</th>
            <th [style.width.%]="3">Ciclo</th>
            <th [style.width.%]="5">Campus</th>
            <th [style.width.%]="5" class="text-center">Plan de estudios</th>
            <th [style.width.%]="5" class="text-center">Estado</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let student of enrolledProgramStudents; let i = index">
            <td class="va-middle"> {{ i + 1 }} </td>
            <td class="va-middle"> {{ student.startPeriod }} </td>
            <td class="va-middle"> {{ student.startDateActivity | date:'dd/MM/yyy' }} -
              {{ student.endDateActivity | date:'dd/MM/yyy' }}
            </td>
            <td class="va-middle"> {{ student.documentNumber }} </td>
            <td class="va-middle"> {{ student.fullName }} </td>
            <td class="va-middle"> {{ student.phone }} </td>
            <td class="text-center"> {{ student.cycle }} </td>
            <td class="va-middle"> {{ student.campus.name }} </td>
            <td class="text-center"> {{ student.curriculum }} </td>
            <td class="va-middle"
              *ngIf="student.confirmed == false && student.activityType == 'Programa' && student.dateConfirmed == null">
              <span class="badge">Pre Inscrito</span> </td>
            <td class="va-middle"
              *ngIf="student.confirmed == false && student.activityType == 'Programa' && student.dateConfirmed != null">
              <span class="badge bg-danger">No seleccionado</span> </td>
            <td class="va-middle"
              *ngIf="student.confirmed == true && student.activityType == 'Programa' && student.dateConfirmed != null">
              <span class="badge bg-success">Seleccionado</span> </td>
            <td class="va-middle" *ngIf="student.activityType == 'Taller' "> <span class="badge bg-success">Matriculado
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- Fin Relación de estudiantes isncritos en una actividad -->

<!-- Registo de estudiantes seleccionados -->
<div class="card card-primary" *ngIf="selectedStudent.idProgramActivity > 0 && enrolledProgramStudents !== null && 
  !isBusy && !isShowRegister && isShowSearch">
  <div class="header bg-primary">
    <h3 class="title">Registrar estudiantes aceptados en el programa <span class="badge"> {{ nameActivity }} </span>
    </h3>
  </div>
  <div class="body">
    <form role="form" (submit)="searchStudentsForm.valid && searchStudents()" #searchStudentsForm="ngForm">
      <div class="form-group row">
        <label class="col-sm-2 control-label">DNI Estudiante</label>
        <div class="col-sm-10 col-md-7">
          <input (keypress)="keyPress($event)" class="form-control" name="studentsByDni" type="text" pattern="[0-9 ]+"
            name="studentsByDni" placeholder="Ingrese los dni separados por un espacio" [(ngModel)]="studentsByDni"
            (ngModelChange)="splitDni()" required minlength="8" #studentsInput="ngModel">
        </div>
      </div>
      <div class="form-group row" *ngIf="students != undefined && students.length > 0">
        <div class="col-sm-offset-2 col-sm-10 col-md-7">
          <span class="badge bg-teal hand" (click)="showStudentsList()">Códigos ingresados
            <span class="badge bg-teal-active" *ngIf="students != undefined">
              {{ students.length }}
            </span>
          </span>
        </div>
        <div class="col-sm-offset-2 col-sm-10 col-md-7" *ngIf="isShowStudentsList">
          <span *ngFor="let student of students">
            <span class="badge bg-gray"><i class="fa fa-user"></i> {{ student }}</span>&nbsp;
          </span>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-offset-2 col-sm-10 col-md-7">
          <button type="submit" class="btn bg-primary" [attr.disabled]="searchStudentsForm.valid ? null : 'true'">
            <i class="fa fa-search"></i> Buscar Estudiantes </button>
          <button type="button" class="btn btn-default" (click)="searchStudentsForm.resetForm();">
            <i class="fa fa-trash-o"></i> Limpiar </button>
        </div>
      </div>
    </form>
  </div>
  <div class="body" *ngIf="foundStudents.length > 0">
    <div class="table-responsive no-padding">
      <table class="table table-bordered table-hover table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>DNI</th>
            <th>Nombre Completo</th>
            <th>Estado</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let student of foundStudents; let i=index">
            <td class="va-middle"> {{ i+1 }} </td>
            <td class="va-middle"> {{ student.dni }} </td>
            <td class="va-middle"> {{ student.nomCompleto }} </td>
            <td class="va-middle"><label class="badge bg-primary">Seleccionado</label></td>
          </tr>
        </tbody>
        <tfoot *ngIf="notFoundStudents.length > 0">
          <tr *ngFor="let studentDni of notFoundStudents">
            <td class="va-middle"> - </td>
            <td class="va-middle"> {{studentDni}} </td>
            <td class="va-middle"><label class="label label-warning">Estudiante no encontrado</label></td>
          </tr>
        </tfoot>
      </table>
    </div>
    <div class="alert alert-info" role="alert" *ngIf="foundStudents.length <= 0 && !searchStudentsForm.submitted">
      Debe de ingresar al menos un alumno
    </div>
  </div>
  <div class="footer" *ngIf="foundStudents.length > 0">
    <button class="btn btn-outline-primary" (click)="back(); cleanSearch()"><i class="fa fa-arrow-left"></i>
      Regresar</button>
    <button (click)="saveStudents()" class="btn bg-primary"><i class="fa fa-save"></i> Registrar alumnos
      seleccionados</button>
  </div>
</div>
<!-- Fin Registo de estudiantes seleccionados -->

<div *ngIf="primeMsg">
  <p-growl [(value)]="primeMsg" [baseZIndex]="500" life="6000"></p-growl>
</div>

<div *ngIf="primeMsg1 && !isBusy && enrolledProgramStudents?.length === 0 && selectedStudent.idProgramActivity === 0">
  <p-growl [(value)]="primeMsg1" [baseZIndex]="100" [sticky]="true"></p-growl>
</div>