<div class="row" ng-controller="certificateCtrl" ng-init="init()">
  <section class="col-sm-12">
    <div class="panel">
    <div class="panel-heading">
      Certificados de Estudios Promocionales
    </div> 
    <div class="panel-body">
      <a ui-sref=".step1">
        <article class="process-step col-sm-12 col-xs-12 col-md-5 hand panel" ng-click="step(1);">
          <h3>Paso <span class="number-step">1</span></h3>
          <div>
            <ul>
              <li>Creacion de Solicitudes de Certificados de Estudios Promocionales en Lotes</li>
              <li>Derivacion a Registros Academicos</li>
            </ul>
          </div>
        </article>
      </a>
      <a ui-sref=".step2">
        <article class="process-step col-sm-12 col-md-5 col-xs-12 hand panel" ng-click="step(2)">
          <h3>Paso <span class="number-step">2</span></h3>
          <div>
            <ul>
              <li>Solicitudes derivadas de Registros Academicos a Centro de Atencion al Usuario</li>
              <li>Impresion de Certificados Aprobados</li>
            </ul>
          </div>
        </article>
      </a>
    </div>
    </div>
  </section>
</div>