<div class="row" ng-controller="certificateCtrl" ng-init="init()">
  <section class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Filtrando Estudiantes</h3>
      </div>
      <div class="panel-body" id="bar-loading-alumnos">
        <form name="formFiltro" ng-submit="iniciarBusquedaPaso1(formFiltro);submitted=true;">
          <div class="row">
            <div class="form-group tree-toggler text-primary col-sm-8">
              <div class="input-group">
                <span class="input-group-addon" id="sizing-addon2">Escuela Academica</span>
                <select id="escuela" class="form-control taller" aria-describedby="sizing-addon2" name="escuela" ng-model="escuela" required>
                    <option ng-repeat="esc in escuelas"  ng-value="esc.id">
                    {{esc.name}}
                  </option>
                </select>
              </div>
              <div ng-show="formFiltro.escuela.$error.required && submitted===true">
                  <span class="text-danger error-message">Es necesario seleccionar una escuela academica</span>
              </div>
            </div>
            <div class="input-group col-sm-4">
              <input class="btn btn-primary btn-taller" role="submit" type="submit" value="Buscar" id="button-buscar"/>
            </div>
          </div>
        </form>
        <hr/>
        <div class="row" ng-show="alumnos.length">
          <div class="col-sm-6">
            <div class="input-group">
              <span class="input-group-addon" id="sizing-addon2">Codigo</span>
              <input type="text" class="form-control" name="idAlumno" ng-model="search.IDAlumno" placeholder="000000000" aria-describedby="sizing-addon2" >
            </div>
          </div>
          <div class="col-sm-6">
            <div class="input-group">
              <span class="input-group-addon" id="sizing-addon2">Periodo Egreso</span>
              <select ng-model="search.IDPerAcad" class="form-control taller" ng-change="selectPeriodoFinalizo(this)">
                <option value="">
                  Todos
                </option>
                <option ng-repeat="perAcad in alumnos|unique:'IDPerAcad'|orderBy:perAcad:true" ng-value="perAcad">
                  {{perAcad}}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div ng-if="alumnos.length">
          <div class="table-responsive">
            <table class="table table-hover fancy-table">
              <thead>
                <tr>
                  <th class="text-center">
                    Codigo
                  </th>
                  <th class="text-center">
                    Nombre
                  </th>
                  <th class="text-center">
                    Periodo Egreso
                  </th>
                  <th class="text-center">
                    Accion
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="alumno in alumnos|filter:search">
                  <td class="text-center">
                    {{alumno.IDAlumno}}
                  </td>
                  <td class="text-left">
                    {{alumno.nombre_alumno}}
                  </td>
                  <td class="text-center">
                    {{alumno.IDPerAcad}}
                  </td>
                  <td class="text-center">
                    <a href="javascript:void(0);" ng-click="passToList(alumno)" class="btn btn-default btn-xs button-large" ng-class="{'disabled': !alumno.habilitado}">
                      <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>  
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="col-sm-6" ng-class="{'disabled':alumnosSeleccionados.count}">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Certificado de Estudios a Procesar</h3>
      </div>
      <div class="panel-body" id="bar-loading-constancias">
        <form name="formProceso" ng-submit="procesarCertificados(formProceso);submittedConstancias=true;">
          <div class="row">
            <div class="col-sm-4">
              <div class="input-group">
                <input class="btn btn-primary btn-taller text-right" role="submit" type="submit" value="Generar Solicitudes" id="button-procesar"/>  
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group tree-toggler nav-header text-primary col-sm-8">
              <div class="col-sm-12" ng-show="mostrarError">
                <div ng-repeat="error in errores">
                  <span class="text-danger error-message">*{{error.descripcion}}</span>
                </div>
              </div>
            </div>
          </div>
        </form> 
        <div ng-if="alumnosSeleccionados.length">
          <div class="table-responsive">
            <table class="table table-hover fancy-table">
              <thead>
                <tr>
                  <th class="text-center">
                    Estatus
                  </th>
                  <th class="text-center">
                    Id Solicitud
                  </th>
                  <th class="text-center">
                    Id Alumno 
                  </th>
                  <th class="text-center">
                    Nombre
                  </th>
                  <th class="text-center">
                    Accion
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="alumno in alumnosSeleccionados" id="cons-{{alumno.IDAlumno}}">
                  <th class="text-center">
                    <span class="label" ng-class="{'label-primary': alumno.estado_id==0 || alumno.estado_id==3 || alumno.estado_id==7, 'label-success': alumno.estado_id==2}">
                      {{alumno.estado_descripcion }}
                    </span>
                  </th>
                  <td class="text-center">
                    {{alumno.id_solicitud}}
                  </td>
                  <td class="text-center">
                    {{alumno.IDAlumno}}
                  </td>
                  <td class="text-left">
                    {{alumno.nombre_alumno}}
                  </td>
                  <td class="text-center">
                    <a href="javascript:void(0);" ng-click="removeFromSelected(alumno)" class="btn btn-default btn-xs button-large" ng-class="{'enabled': !alumno.habilitado}">
                      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>  
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>  
        </div>
      </div>
    </div>
  </section>
</div>