<div class="row" ng-controller="constancyCtrl" ng-init="init()">
  <section class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Filtrando Estudiantes</h3>
      </div>
      <div class="panel-body" id="bar-loading-alumnos">
        <form name="formFiltro" ng-submit="iniciarBusquedaIndividual(formFiltro);submitted=true;">
          <div class="row">
            <div class="form-group tree-toggler nav-header text-primary col-sm-8">
              <div class="input-group">
                <span class="input-group-addon" id="sizing-addon2">Codigo Estudiante</span>
                <input type="text" class="form-control" name="IDAlumno" ng-model="IDAlumno" placeholder="000000000" aria-describedby="sizing-addon2" ng-pattern="'[0-9]*'" required>
              </div>
            </div>
            <div class="input-group col-sm-4">
              <input class="btn btn-primary btn-taller" role="submit" type="submit" value="Buscar" id="button-buscar"/>
            </div>
          </div>
        </form>
        <div ng-if="alumnos.length">
          <div class="table-responsive">
            <table class="table table-hover fancy-table">
              <thead>
                <tr>
                  <th class="text-center">
                    Codigo
                  </th>
                  <th class="text-center">
                    Nombre
                  </th>
                  <th class="text-center">
                    Periodo Egreso
                  </th>
                  <th class="text-center">
                    Accion
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="alumno in alumnos|filter:search" ng-class="{danger:!alumno.egresado}">
                  <td class="text-center">
                    {{alumno.IDAlumno}}
                  </td>
                  <td class="text-left">
                    {{alumno.nombre_alumno}}
                  </td>
                  <td class="text-center">
                    <span ng-show="alumno.egresado"> {{alumno.IDPerAcad}}</span>
                    <span class="label label-danger" ng-show="!alumno.egresado">
                      No egresado
                    </span>

                  </td>
                  <td class="text-center">
                    <a href="javascript:void(0);" ng-click="passToList(alumno)" class="btn btn-default btn-xs button-large" ng-class="{'disabled': !alumno.habilitado}">
                      <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="col-sm-6" ng-class="{'disabled':alumnosSeleccionados.count}">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Estudiantes a Procesar</h3>
      </div>
      <div class="panel-body" id="bar-loading-constancias">
        <form name="formProceso" ng-submit="procesarConstancias(formProceso);submittedConstancias=true;">
          <div class="row">
            <div class="form-group tree-toggler nav-header text-primary col-sm-8">
              <div class="input-group">
                <span class="input-group-addon" id="sizing-addon2">Periodo Academico</span>
                <input type="text" class="form-control" name="periodoAcademico" ng-model="periodoAcademico" placeholder="0000-0" aria-describedby="sizing-addon2" ng-pattern="'^[0-9]{4}-[0-9]{1}$'" required>
              </div>
              <div class="col-sm-12" ng-show="mostrarError">
                <div ng-repeat="error in errores">
                  <span class="text-danger error-message">*{{error.descripcion}}</span>
                </div>
              </div>
              <div class="col-sm-12" ng-show="formProceso.periodoAcademico.$error.required && submittedConstancias===true">
                  <span class="text-danger error-message">Es necesario ingresar un periodo.</span>
              </div>
              <div class="col-sm-12" ng-show="formProceso.periodoAcademico.$error.pattern && submittedConstancias===true">
                  <span class="text-danger error-message">*El periodo debe de ser de este patron 0000-0</span>
              </div>
            </div>
            <div class="input-group col-sm-4">
              <input class="btn btn-primary btn-taller text-right" role="submit" type="submit" value="Procesar" id="button-procesar"/>
            </div>
          </div>
        </form>
        <div ng-if="alumnosSeleccionados.length">
          <div class="table-responsive">
            <table class="table table-hover fancy-table">
              <thead>
                <tr>
                  <th class="text-center">
                    <br/>
                  </th>
                  <th class="text-center">
                    Status
                  </th>
                  <th class="text-center">
                    Codigo
                  </th>
                  <th class="text-center">
                    Nombre
                  </th>
                  <th class="text-center">
                    Accion
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="alumno in alumnosSeleccionados" id="cons-{{alumno.IDAlumno}}">
                  <td class="text-center">
                    <a ng-if="alumno.status===1" ng-href="{{alumno.ruta_archivo}}"
                      class="enabled" download="constancia-matricula-secretaria-{{alumno.IDAlumno}}.pdf">
                      <span class="glyphicon glyphicon-paperclip"
                        aria-hidden="true">
                        </span>
                    </a>
                    <a ng-if="alumno.status!==1" href="javascript:void(null)" ng-click="procesarConstanciaIndividual(alumno)"
                      ng-class="{'disabled': alumno.status===0 ,'enabled': alumno.status===2 || alumno.status===3 }">
                      <span
                        ng-class="{'glyphicon glyphicon-info-sign': alumno.status===0, 'btn btn-primary btn-xs': alumno.status===2 || alumno.status===3}"
                        aria-hidden="true">
                        {{alumno.status === 2 ? alumno.periodo_str_anterior : '' }}
                        {{alumno.status === 3 ? alumno.periodo_str_proximo : '' }}
                        </span>
                    </a>
                  </td>
                  <th class="text-center">
                    <span class="label" ng-class="{'label-default': alumno.status===0, 'label-success': alumno.status===1, 'label-primary': alumno.status===2 || alumno.status===3}">
                      {{alumno.status | statusToTextConstancy }}
                    </span>
                  </th>
                  <td class="text-center">
                    {{alumno.IDAlumno}}
                  </td>
                  <td class="text-left">
                    {{alumno.nombre_alumno}}
                  </td>
                  <td class="text-center">
                    <a href="javascript:void(0);" ng-click="removeFromSelected(alumno)" class="btn btn-default btn-xs button-large" ng-class="{'enabled': !alumno.habilitado}">
                      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
