<div class="row" ng-controller="constancyCtrl" ng-init="init()">
  <section class="col-sm-12">
    <div class="panel">
    <div class="panel-heading">
      Constancias de Estudios Para Bachiller y/o Titulados - Secretaria General
    </div> 
    <div class="panel-body">
      <a ui-sref=".grupal">
        <article class="process-step col-sm-12 col-xs-12 col-md-5 hand panel" >
          <h3>Generacion de forma <strong class="label label-primary">Grupal</strong></h3>
          <div>
            <ul>
              <li>Se genera las constancias de forma grupal</li>
              <li>Se lista estudiantes que pagaron por bachiller o Titulacion </li>
            </ul>
          </div>
        </article>
      </a>
      <a ui-sref=".individual">
        <article class="process-step col-sm-12 col-md-5 col-xs-12 hand panel" >
          <h3>Generacion de Forma <strong class="label label-primary">Individual</strong></h3>
          <div>
            <ul>
              <li>Se seleccionan estudiantes por codigo.</li>
              <li>No verifica pago.</li>
              <li>Se genera sus constancias.</li>
            </ul>
          </div>
        </article>
      </a>
    </div>
    </div>
  </section>
</div>