<div class="row" ng-controller="certificateCtrl" ng-init="init()">
  <section class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Filtrando Solicitudes</h3>
      </div>
      <div class="panel-body" id="bar-loading-alumnos">
        <form name="formFiltro" ng-submit="iniciarBusquedaPaso2(formFiltro);submitted=true;" class="highlight">
          <div class="row">

            <div class="form-group tree-toggler nav-header text-primary col-sm-6">
              <div class="input-group">
                <span class="input-group-addon" id="sizing-addon2">Generado Desde:</span>
                <input type="text" class="form-control" name="fechaDesde" ng-model="fechaDesde" placeholder="00/00/0000" aria-describedby="sizing-addon2" ng-pattern="/^(?:(?:31(\/|-|\.)(?:0?[13578]|1[02]|(?:01|03|05|07|08|10|12)))\1|(?:(?:29|30)(\/|-|\.)(?:0?[1,3-9]|1[0-2]|(?:01|03|04|05|06|07|08|09|10|11|12))\2))(?:(?:1[6-9]|[2-9]\d)?\d{2})$|^(?:29(\/|-|\.)(?:0?2|(?:02))\3(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00))))$|^(?:0?[1-9]|1\d|2[0-8])(\/|-|\.)(?:(?:0?[1-9]|(?:01|02|03|04|05|06|07|08|09))|(?:1[0-2]|(?:10|11|12)))\4(?:(?:1[6-9]|[2-9]\d)?\d{2})$/" required>
              </div>
              <div ng-show="formFiltro.fechaDesde.$error.required && submitted===true">
                  <span class="text-danger error-message">Es necesario indicar fecha inicio del filtro.</span>
              </div>
              <div ng-show="formFiltro.fechaDesde.$error.pattern && submitted===true">
                  <span class="text-danger error-message">La fecha no es correcta.</span>
              </div>
            </div>
            <div class="form-group tree-toggler nav-header text-primary col-sm-6">
              <div class="input-group">
                <span class="input-group-addon" id="sizing-addon2">Generado Hasta</span>
                <input type="text" class="form-control" name="fechaHasta" ng-model="fechaHasta" placeholder="00/00/0000" aria-describedby="sizing-addon2" ng-pattern="/^(?:(?:31(\/|-|\.)(?:0?[13578]|1[02]|(?:01|03|05|07|08|10|12)))\1|(?:(?:29|30)(\/|-|\.)(?:0?[1,3-9]|1[0-2]|(?:01|03|04|05|06|07|08|09|10|11|12))\2))(?:(?:1[6-9]|[2-9]\d)?\d{2})$|^(?:29(\/|-|\.)(?:0?2|(?:02))\3(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00))))$|^(?:0?[1-9]|1\d|2[0-8])(\/|-|\.)(?:(?:0?[1-9]|(?:01|02|03|04|05|06|07|08|09))|(?:1[0-2]|(?:10|11|12)))\4(?:(?:1[6-9]|[2-9]\d)?\d{2})$/" required>
              </div>
              <div ng-show="formFiltro.fechaHasta.$error.required && submitted===true">
                  <span class="text-danger error-message">Es necesario indicar fecha fin del filtro.</span>
              </div>
              <div ng-show="formFiltro.fechaHasta.$error.pattern && submitted===true">
                  <span class="text-danger error-message">La fecha no es correcta.</span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group tree-toggler nav-header text-primary col-sm-9">
              <div class="input-group">
                <span class="input-group-addon" id="sizing-addon2">Escuela Academica</span>
                <select id="escuela" class="form-control taller" aria-describedby="sizing-addon2" name="escuela" ng-model="escuela" required>
                    <option ng-repeat="esc in escuelas"  ng-value="esc.id">
                    {{esc.name}}
                  </option>
                </select>
              </div>
              <div ng-show="formFiltro.escuela.$error.required && submitted===true">
                  <span class="text-danger error-message">Es necesario seleccionar una escuela academica</span>
              </div>
            </div>
            <div class="form-group tree-toggler nav-header text-primary col-sm-3">
              <div class="input-group">
                <input class="btn btn-primary btn-taller" role="submit" type="submit" value="Buscar Solicitudes" id="button-buscar"/>
              </div>
            </div>
          </div>
        </form>
        <hr/>
        <div class="row" ng-show="solicitudesDerivadas.length">
          <div class="col-sm-6">
            <div class="input-group">
              <span class="input-group-addon" id="sizing-addon2">Codigo</span>
              <input type="text" class="form-control" name="idAlumno" ng-model="search.IdAlumno" placeholder="000000000" aria-describedby="sizing-addon2" >
            </div>
          </div>
        </div>
        <div ng-if="solicitudesDerivadas.length">
          <div class="table-responsive">
            <table class="table table-hover fancy-table">
              <thead>
                <tr>
                  <th class="text-center">
                    Id Alumno
                  </th>
                  <th class="text-center">
                    Nombre
                  </th>
                  <th class="text-center">
                    Id Solicitud
                  </th>
                  <th class="text-center">
                    Creó
                  </th>
                  <th class="text-center">
                    Accion
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="solicitud in solicitudesDerivadas|filter:search">
                  <td class="text-center">
                    {{solicitud.IdAlumno}}
                  </td>
                  <td class="text-left">
                    {{solicitud.NomSolicitante}}
                  </td>
                  <td class="text-center">
                    {{solicitud.IdSolicitud}}
                  </td>
                  <td class="text-center">
                    {{solicitud.FecSolicitud}}
                  </td>
                  <td class="text-center">
                    <a href="javascript:void(0);" ng-click="passToListPaso2(solicitud)" class="btn btn-default btn-xs button-large" ng-class="{'disabled': !solicitud.habilitado}">
                      <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>  
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="col-sm-6" ng-class="{'disabled':alumnosSeleccionados.count}">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Certificado de Estudios a Imprimir 2</h3>
      </div>
      <div class="panel-body" id="bar-loading-constancias">
        <form name="formProceso" ng-submit="imprimirCertificados(formProceso);">
          <div class="row">
            <div class="col-sm-4">
              <div class="input-group">
                <input class="btn btn-primary btn-taller text-right" role="submit" type="submit" value="Generar Certificados" id="button-procesar"/>  
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group tree-toggler nav-header text-primary col-sm-8">
              <div class="col-sm-12" ng-show="mostrarError">
                <div ng-repeat="error in errores">
                  <span class="text-danger error-message">*{{error.descripcion}}</span>
                </div>
              </div>
            </div>
          </div>
        </form> 
        <div ng-if="solicitudesSeleccionadas.length">
          <div class="table-responsive">
            <table class="table table-hover fancy-table">
              <thead>
                <tr>
                  <th >
                    <br/>
                  </th>
                  <th class="text-center">
                    Estado
                  </th>
                  <th class="text-center">
                    Id Alumno
                  </th>
                  <th class="text-center">
                    Id Solicitud
                  </th>
                  <th class="text-center">
                    Nombre
                  </th>
                  <th class="text-center">
                    Accion
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="solicitud in solicitudesSeleccionadas" id="cert-{{solicitud.IdSolicitud}}">
                  <td class="text-center">
                    <a ng-if="solicitud.estado_id===4" ng-href="{{solicitud.ruta_archivo}}" 
                      class="enabled" download="constancia-matricula-secretaria-{{solicitud.IdAlumno}}.pdf">
                      <span class="glyphicon glyphicon-paperclip" aria-hidden="true">
                      </span>  
                    </a>
                    <a ng-if="solicitud.estado_id!==4" href="javascript:void(null)" ng-class="{'disabled': solicitud.estado_id!==4}">
                      <span 
                        class="glyphicon glyphicon-info-sign" 
                        aria-hidden="true">
                        </span>  
                    </a>
                  </td>
                  <th class="text-center">
                    <span class="label" ng-class="{'label-default': solicitud.estado_id===0, 'label-success': solicitud.estado_id===4, 'label-primary': solicitud.estado_id===2 || solicitud.estado_id===3}">
                      {{solicitud.estado_descripcion }}
                    </span>
                  </th>
                  <td class="text-center">
                    {{solicitud.IdAlumno}}
                  </td>
                  <td class="text-center">
                    {{solicitud.IdSolicitud}}
                  </td>
                  <td class="text-left">
                    {{solicitud.NomSolicitante}}
                  </td>
                  <td class="text-center">
                    <a href="javascript:void(0);" ng-click="removeFromSelectedPaso2(solicitud)" class="btn btn-default btn-xs button-large" ng-class="{'enabled': !solicitud.habilitado}">
                      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>  
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>  
        </div>
      </div>
    </div>
  </section>
</div>