<div class="row">
  <div class="col-md-3">
    <div class="box box-solid">
      <div class="box-header with-border">
        <h3 class="box-title">Buscar</h3>
      </div>
      <div class="box-body no-padding">
        <ul class="nav nav-pills nav-stacked">
          <li [ngClass]="{'active': (search_type === 'student_names')}" (click)="setInbox($event, 'student_names')">
            <a><i class="fa fa-inbox"></i> Por nombres del estudiante </a>
          </li>
          <li [ngClass]="{'active': (search_type === 'student_code')}" (click)="setInbox($event, 'student_code')">
            <a><i class="fa fa-inbox"></i> Por código del estudiante </a>
          </li>
          <li [ngClass]="{'active': (search_type === 'date')}" (click)="setInbox($event, 'date')">
            <a><i class="fa fa-inbox"></i> Por fecha de aprovación </a>
          </li>
          <li [ngClass]="{'active': (search_type === 'date_range')}" (click)="setInbox($event, 'date_range')">
            <a><i class="fa fa-inbox"></i> Por rango de fechas </a>
          </li>
          <li [ngClass]="{'active': (search_type === 'code_list')}" (click)="setInbox($event, 'code_list')">
            <a><i class="fa fa-inbox"></i> Por grupo de códigos de estudiante </a>
          </li>
        </ul>
      </div>
      <!-- /.box-body -->
    </div>
  </div>
  <div class="col-md-9">
    <!-- Formulario de busqueda -->
    <div class="box box-default">
      <header class="box-header with-border">
        <h3 class="box-title"><i class="fa fa-file-text"></i> Parametros de busqueda</h3>
        <div class="box-tools">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
          </button>
        </div>
      </header>
      <section class="box-body" [ngSwitch]="search_type">
        <ng-template ngSwitchCase="student_names">
          <form name="studentNamesForm">
            <div class="box-body">
              <div class="form-group">
                <label for="student_names">Apellidos y nombres</label>
                <input class="form-control" id="studentNames" name="studentNames" type="text" required>
              </div>
            </div>
            <div class="box-footer">
              <button type="submit" class="btn btn-primary">Buscar</button>
            </div>
          </form>
        </ng-template>
        <ng-template ngSwitchCase="student_code">
          <form name="studentCodeForm">
            <div class="box-body">
              <div class="form-group">
                <label for="student_names">Código de estudiante</label>
                <input class="form-control" id="studentCode" name="studentCode" type="text" required>
              </div>
            </div>
            <div class="box-footer">
              <button type="submit" class="btn btn-primary">Buscar</button>
            </div>
          </form>
        </ng-template>
        <ng-template ngSwitchCase="date">
          <form name="dateForm">
            <div class="box-body">
              <div class="form-group">
                <label for="student_names">Fecha de aprobación</label>
                <input class="form-control" id="date" name="date" type="text" placeholder="dd/MM/yyyy ejemplo 11/02/2017" required>
              </div>
            </div>
            <div class="box-footer">
              <button type="submit" class="btn btn-primary">Buscar</button>
            </div>
          </form>
        </ng-template>
        <ng-template ngSwitchCase="date_range">
          <form name="dateForm">
            <div class="box-body">
              <div class="row">
                <div class="col-sm-6">
                  <label for="student_names">Fecha de inicio</label>
                  <input class="form-control" id="dateInit" name="dateInit" type="text" placeholder="dd/MM/yyyy ejemplo 01/02/2017" required>
                </div>
                <div class="col-sm-6">
                  <label for="student_names">Fecha final</label>
                  <input class="form-control" id="dateEnd" name="dateEnd" type="text" placeholder="dd/MM/yyyy ejemplo 28/02/2017" required>
                </div>
              </div>
            </div>
            <div class="box-footer">
              <button type="submit" class="btn btn-primary">Buscar</button>
            </div>
          </form>
        </ng-template>
        <ng-template ngSwitchCase="code_list">
          <form name="studentNamesForm">
            <div class="box-body">
              <div class="form-group">
                <label for="student_names">Lista de códigos</label>
                <input class="form-control" id="codeList" name="codeList" type="text" placeholder="código, código2, etc..." required>
              </div>
            </div>
            <div class="box-footer">
              <button type="submit" class="btn btn-primary">Buscar</button>
            </div>
          </form>
        </ng-template>
        <ng-template ngSwitchDefault>...</ng-template>
      </section>
    </div>
    <div class="box box-default">
      <header class="box-header with-border">
        <h3 class="box-title"><i class="fa fa-file-text"></i> Resultados</h3>
      </header>
      <section class="box-body no-padding">
        <div class="table-responsive">
          <table class="table table-hover table-striped">
            <thead>
              <tr >
                <th> # </th>
                <th> Practica </th>
                <th> Fecha de aprobación </th>
                <th> Estudiante </th>
                <th> Documento </th>
              </tr>
            </thead>
            <tbody *ngIf="inbox === 'pending'">
            </tbody>
