<div class="row d-md-flex justify-content-center align-items-stretch clearfix" *ngIf="!option">

  <div class="card card-primary col-md-6 p-0 m mt-0">
    <div class="header bg-primary">
      <h4 class="title text-center">Matrícula 1, 2, 3</h4>
    </div>
    <div class="body pv clearfix">
      <h4 class="mt-0 mr ml">¡Dile hola a una nueva experiencia de matrícula!</h4>

      <ul class="steps scrollViewX text-center m pt-0 mh bg-light-h hand" role="steps"
        (click)="setOption('new')">
        <li class="scrollViewItem p rounded">
          <h3 class="mt-0 mb-0 p-2 rounded text-bold">1</h3>
          <div class="border p circle-image-icon position-relative m-auto trans-duration-500 trans-tim-function-ease-out {{stepClass.step1}}">
            <svg-img imageName="inquest" width="100%"></svg-img>
          </div>
          <h4 class="mt-0 mb-0 p-2 rounded text-bold">Prepárate</h4>
        </li>
        <li class="scrollViewItem p rounded bg-light-h">
          <h3 class="mt-0 mb-0 p-2 rounded text-bold">2</h3>
          <div class="border p circle-image-icon position-relative m-auto trans-duration-500 trans-tim-function-ease-out {{stepClass.step2}}">
            <svg-img imageName="payment" width="100%"></svg-img>
          </div>
          <h4 class="mt-0 mb-0 p-2 rounded text-bold">Realiza tus pagos</h4>
        </li>
        <li class="scrollViewItem p rounded bg-light-h">
          <h3 class="mt-0 mb-0 p-2 rounded text-bold">3</h3>
          <div class="border p circle-image-icon position-relative m-auto trans-duration-500 trans-tim-function-ease-out {{stepClass.step3}}">
            <svg-img imageName="survey" width="100%"></svg-img>
          </div>
          <h4 class="mt-0 mb-0 p-2 rounded text-bold">Matricúlate</h4>
        </li>
      </ul>
      <div class="text-center mt mh">
        <div class="alert-student alert-student-primary">
          <h4 class="m-0"><i class="fa fa-bell"></i> Una nueva forma para realizar tu matrícula en tres pasos simples y rápidos.</h4>
        </div>
        <button class="btn bg-primary btn-lg" (click)="setOption('new')"
                angulartics2On="click" 
                angularticsAction="SetMatricula123" 
                [angularticsLabel]="student.id" 
                angularticsCategory="matricula"> 
          Probar
        </button>
      </div>
    </div>
  </div>

  <div class="card card-success col-md-6 p-0 m mt-0">
    <div class="header bg-success">
      <h4 class="title text-center">Matrícula anterior</h4>
    </div>
    <div class="body">
      <h4 class="mt-0">Ingresa al proceso de matrícula que ya conoces.</h4>
      <img class="mb hand" [src]="baseUrl+'Content/static/images/matriculaOld.png'" alt="Matrícula estandar"
        style="width: 100%;" (click)="setOption('old')">
      <div class="text-center">
        <button class="btn bg-success btn-lg" (click)="setOption('old')"
                angulartics2On="click" 
                angularticsAction="SetMatriculaClasica" 
                [angularticsLabel]="student.id" 
                angularticsCategory="matricula"> 
          Ingresar
        </button>
      </div>
    </div>
  </div>

</div>


<div *ngIf="option==='old'">
  <submodule-menu moduleUri="matricula"></submodule-menu>
  <div class="alert-student alert-student-primary">
    <h4 class="mt-0"><i class="icon fa fa-warning"></i> Ingresa a la nueva forma de matrícula "Matrícula 1, 2, 3"</h4>
    <button class="btn bg-primary" (click)="setOption('new')"
            angulartics2On="click" 
            angularticsAction="ReturnMatricula123" 
            [angularticsLabel]="student.id" 
            angularticsCategory="matriculaCalsica">
    Ir a la nueva versión
  </button>
  </div>
</div>

<div *ngIf="option==='new'">
  <enrollment-123></enrollment-123>
  <div class="alert-student alert-student-primary">
    <h4 class="mt-0"><i class="icon fa fa-warning"></i> ¿Extrañas la versión anterior?</h4>
    <button class="btn bg-primary" (click)="setOption('old')"
            angulartics2On="click" 
            angularticsAction="ReturnMatriculaClasica" 
            [angularticsLabel]="student.id" 
            angularticsCategory="matricula123">
      Ir a la versión anterior
    </button>
  </div>

</div>
