<div class="box">
  <div class="box-header with-border">
    <h2 class="box-title">
      <span class="fa fa-file-pdf-o"></span> LISTA DE CONVENIOS
    </h2>
    <div class="box-tools pull-right">
      <span class="fa fa-search"></span>
      <input type="text" placeholder="Buscar empresa" name="filter" [(ngModel)]="filter">
    </div>
  </div>
  <div [hidden]="!loading">
      <loading [text]="'buscando . . .'"></loading>
  </div>
  <div class="box-body">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th><b>CONTRATO</b></th>
            <th><b>EMPRESA</b></th>
            <th><b>FEC. INICIO</b></th>
            <th><b>FEC. FIN</b></th>
            <th><b>ACTIVO</b></th>
          </tr>
        </thead>
        <tbody>
          <tr class="hand" *ngFor="let item of list | loopFilter: filter"
           (click)="agreementDetail(item.id)">
            <td>{{item.cod_contract}}</td>
            <td>{{item.company_name}}</td>
            <td>{{item.start_date | date: 'mediumDate'}}</td>
            <td>{{item.end_date | date: 'mediumDate'}}</td>
            <td>
              <span *ngIf="item.active === 1">
                <label class="label label-success">SI</label>
              </span>
              <span *ngIf="item.active === 0">
                <label class="label label-danger">NO</label>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- /.box-body -->
  <div class="box-footer">
    Universidad Continental
  </div>
  <!-- /.box-footer-->
</div>
