<div class="row">
    <div class="col-md-12">
        <div class="box box-info" *ngIf="agreemnt !== undefined">
            <div class="box-header with-border">
                <span class="fa fa-pencil-square-o"></span>
                <h3 class="box-title">Actualizar convenios</h3>
            </div>
            <form class="form-horizontal" #xyzForm="ngForm">
                <div class="box-body">
                    <div>
                        <div class="col-sm-12">
                            <div *ngIf="agreemnt.active == '1'" class="form-group bg-green-active color-palette text-center">
                                <span>ESTADO: Activo</span>
                            </div>
                            <div *ngIf="agreemnt.active == '0'" class="form-group bg-red-active color-palette text-center">
                                <span>ESTADO: Inactivo</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="ContractCod" class="col-sm-2 control-label">Código de Contrato 
                            <span class="text-danger" [hidden]="!ContractCod.errors">*</span>
                        </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" maxlength="10" minlength="1"
                                placeholder="Código de Contrato" name="ContractCod" #ContractCod="ngModel" 
                                [(ngModel)]="agreemnt.cod_contract" required>
                            <span class="text-danger" [hidden]="!ContractCod.errors">Campo requerido</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="CompanyName" class="col-sm-2 control-label">Nombre de Empresa
                                <span class="text-danger" [hidden]="!CompanyName.errors">*</span>
                        </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="Nombre de Empresa" 
                                    name="CompanyName"  #CompanyName="ngModel"
                                    [(ngModel)]="agreemnt.company_name" required>
                            <span class="text-danger" [hidden]="!CompanyName.errors">Campo requerido</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Fecha de inicio:</label>
                        <p-calendar [(ngModel)]="agreemnt.start_date" class="col-sm-4" 
                                    dateFormat="dd/mm/yy" name="start_date" 
                                    [maxDate]="agreemnt.end_date" readonlyInput="true" required>
                        </p-calendar>

                        <label class="col-sm-2 control-label">Fecha de fin:</label>
                        <p-calendar [(ngModel)]="agreemnt.end_date" class="col-sm-4" 
                                    dateFormat="dd/mm/yy" name="end_date" 
                                    [minDate]="agreemnt.start_date"  readonlyInput="true" required>
                        </p-calendar>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-6">
                            <label class="col-sm-4 control-label">Familiaridad: </label>
                            <div class="col-sm-8">
                                <select [(ngModel)]="agreemnt.grad_fam" class="form-control" name="grad_fam">
                                    <option *ngFor="let item of listFamiliarity" value="{{item.id}}">{{item.description}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" [(ngModel)]="agreemnt.disapproved" name="disapproved"> Cond. Desaprobado
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" [(ngModel)]="agreemnt.renovation_auto" name="renovation_automatic"> Renov. Automática
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="alert alert-success alert-dismissible" *ngIf="updateAg == true">
                        <h4>
                            <i class="icon fa fa-check"></i> Éxito
                        </h4>
                        <p>{{updateMessage}}</p>
                    </div>
                    <div class="alert alert-danger alert-dismissible" *ngIf="updateAg == false">
                        <h4>
                            <i class="icon fa fa-times"></i> Error
                        </h4>
                        <p>{{updateMessage}}</p>
                    </div>
                    <div class="box-header with-border">
                        <span class="fa fa-info-circle"></span>
                        <h4 class="box-title">Detalles del convenio</h4>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <label class="col-sm-2 text-center">
                                <span class="fa fa-university"></span>
                                <b>Modalidad</b>
                            </label>
                            <label class="col-sm-5 text-center">
                                <span class="fa fa-percent"></span>
                                <b>Descuento Matrícula</b>
                            </label>
                            <label class="col-sm-5 text-center">
                                <span class="fa fa-percent"></span>
                                <b>Descuento Cuota</b>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div *ngFor="let detalle of listDetail; let i = index;" class="col-sm-12">
                            <div class="col-sm-2">
                                <div *ngIf="detalle.modality == 'ADM'" class="form-group bg-green-active color-palette text-center">
                                    <span>Ciclo Regular</span>
                                </div>
                                <div *ngIf="detalle.modality == 'ADG'" class="form-group bg-red color-palette text-center">
                                    <span>Gente que Trabaja</span>
                                </div>
                                <div *ngIf="detalle.modality == 'ADV'" class="form-group bg-blue-active color-palette text-center">
                                    <span>Virtual</span>
                                </div>
                            </div>
                            <span class="col-sm-1"></span>
                            <p-spinner size="30" name="percentenrollment_{{i}}" class="col-sm-3 text-center"
                                [(ngModel)]="listDetail[i].percent_enrollment" 
                                [min]="0" [max]="100" required>
                            </p-spinner>
                            <span class="col-sm-2"></span>
                            <p-spinner size="30" [name]="'percentcuot_'+i" class="col-sm-3 text-center"
                                [(ngModel)]="listDetail[i].percent_cuot" 
                                [min]="0" [max]="100" required>
                            </p-spinner>
                            <span class="col-sm-1"></span>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <button type="submit" class="btn btn-default" (click)="backAgreement()">
                        <span class="fa fa-reply"></span>
                        Atrás
                    </button>
                    <button type="submit" class="btn btn-info pull-right" 
                            (click)="updateAgreement(agreemnt, listDetail, $event)"
                            [disabled]="!xyzForm.form.valid">
                        <span class="fa fa-refresh"></span>
                        Actualizar
                    </button>
                </div>
                <div class="alert alert-success alert-dismissible" *ngIf="updateAgDetail == true">
                    <h4>
                        <i class="icon fa fa-check"></i> Éxito
                    </h4>
                    <p>{{updateMessageDetail}}</p>
                </div>
                <div class="alert alert-danger alert-dismissible" *ngIf="updateAgDetail == false">
                    <h4>
                        <i class="icon fa fa-times"></i> Error
                    </h4>
                    <p>{{updateMessageDetail}}</p>
                </div>
            </form>
        </div>
    </div>
</div>
