<div class="row">
  <div class="col-md-12">
    <div [hidden]="!loading">
      <loading [text]="'buscando . . .'"></loading>
    </div>
    <div class="box box-info" *ngIf="studentLoading && profile !== undefined">
      <div class="box-header with-border">
        <span class="fa fa-tags"></span>
        <h3 class="box-title">Datos del estudiante:</h3>
      </div>
      <div class="box-body" *ngIf="profile.status == 3 || profile.status == 2">
        <ul class="products-list product-list-in-box">
          <li class="item select-student-success">
            <div class="product-img">
              <img alt="student photo" [src]="'api/personal/photo/'+student.person_id">
            </div>
            <div class="product-info">
              <span class="product-title"> {{student.id}}
                <span class="product-description">{{student.full_name}}</span>
                <span class="product-description">{{profile.program.name}}</span>
                <span class="product-description" *ngIf="profile.department == 'UREG'">
                  {{profile.campus.name}} - MODALIDAD REGULAR
                </span>
                <span class="product-description" *ngIf="profile.department == 'UPGT'">
                  {{profile.campus.name}} - GENTE QUE TRABAJA
                </span>
                <span class="product-description" *ngIf="profile.department == 'UVIR'">
                  {{profile.campus.name}} - MODALIDAD VIRTUAL
                </span>
              </span>
            </div>
          </li>
        </ul>
        <hr />
        <form class="form">
          <div class="box box-primary" *ngIf="listBenefitStudent.length > 0">
            <div class="box-header with-border">
              <h4 class="box-title">
                <span class="fa fa-list-ul"></span>
                Lista de Beneficios Asignados
              </h4>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                  <i class="fa fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="box-body">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr class="text-bold">
                      <th>Campus</th>
                      <th>Modalidad</th>
                      <th>Período</th>
                      <th>Beneficio</th>
                      <th>Fecha</th>
                      <th>Observación</th>
                      <th>Usuario</th>
                      <th>Activo</th>
                      <th>Eliminar</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of listBenefitStudent">
                      <td>{{item.campus}}</td>
                      <td *ngIf="item.modality == 'ADM'">
                        Ciclo Regular
                      </td>
                      <td *ngIf="item.modality == 'ADG'">
                        Gente que Trabaja
                      </td>
                      <td *ngIf="item.modality == 'ADV'">
                        Virtual
                      </td>
                      <td>{{item.term}}</td>
                      <td>{{item.benefit}}</td>
                      <td>{{item.date | date: 'mediumDate'}}</td>
                      <td>{{item.observation}}</td>
                      <td>{{item.user}}</td>
                      <td>
                        <span *ngIf="item.active === 1">
                          <label class="label label-success">SI</label>
                        </span>
                        <span *ngIf="item.active === 0">
                          <label class="label label-danger">NO</label>
                        </span>
                      </td>
                      <td><button class="btn btn-flat bg-danger btn-sm" data-toggle="modal" data-target="#modal-default"
                      (click)="setBenefitDelete(item)"><i class="fa fa-trash"></i></button></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </form>
        <form class="form" #xyzForm="ngForm">

          <div class="col-md-12">
            <div class="form-group">
              <h4>
                <span class="fa fa-caret-square-o-right"></span>
                Asignar Descuento
              </h4>
            </div>
            <div class="form-group">
              <select class="form-control" name="discount" (change)="changeDiscount($event.target.value)">
                <option value="" disabled="disabled"> Elegir opción</option>
                <option *ngFor="let item of list" value="{{item.discount_id}}">{{item.discount_name}}</option>
              </select>
            </div>
          </div>
          <div class="col-md-12" *ngIf="selectedDiscount">
            <div [hidden]="selectedDiscount.discount_type != 'B'" class="callout callout-warning">
              <h4>
                <i class="icon fa fa-eye"></i> Atención
              </h4>
              <p>Para asignar un descuento de Beca, verificar que el estudiante ya tenga una cuenta
                corriente
                en el período solicitado.</p>
            </div>
          </div>

          <div *ngIf="selectedDiscount">
            <div class="col-md-12">
              <div class="col-md-9">
                <div class="col-md-12">
                  <label class="text-center">Descripcion</label>
                </div>
                <div class="col-md-12">
                  <input class="form-control" disabled="true" type="text" name="description" [(ngModel)]="selectedDiscount.description">
                </div>
              </div>
              <div class="col-md-3">
                <div class="col-md-12">
                  <label class="text-center">Período</label>
                </div>
                <div class="col-md-12">
                  <p-inputMask [(ngModel)]="newAsignacion.term" mask="2099-9" name="term" required></p-inputMask>
                </div>
              </div>
            </div>

            <div class="col-md-12">
              <div class="col-md-12">
                <div class="col-md-2">
                  <label>Desc. Matricula (%)</label>
                  <input class="form-control" disabled="true" type="text" name="desc_enrollment" [(ngModel)]="selectedDiscount.desc_enrollment">
                </div>
                <div class="col-md-2">
                  <label>Desc. Cuota (%)</label>
                  <input class="form-control" disabled="true" type="text" name="desc_cout" [(ngModel)]="selectedDiscount.desc_cout">
                </div>
                <div class="col-md-2">
                  <label>Cronograma</label>
                  <select class="form-control" name="beca" [(ngModel)]="newAsignacion.schedule" required>
                    <option value="" disabled="disabled" name="beca"> Elegir opción</option>
                    <option *ngIf="profile.department == 'UREG' && profile.campus.code == 'HYO'" values="01">01</option>
                    <option *ngIf="profile.department == 'UREG' && profile.campus.code == 'HYO'" values="02">02</option>
                    <option *ngIf="profile.department == 'UREG' && profile.campus.code == 'HYO'" values="20">20</option>
                    <option *ngIf="profile.department == 'UREG' && profile.campus.code == 'ARQP'" values="16">16</option>
                    <option *ngIf="profile.department == 'UREG' && profile.campus.code == 'ARQP'" values="18">18</option>
                    <option *ngIf="profile.department == 'UREG' && profile.campus.code == 'LIMA'" values="19">19</option>
                    <option *ngIf="profile.department == 'UPGT' && profile.campus.code == 'HYO'" values="03">03</option>
                    <option *ngIf="profile.department == 'UPGT' && profile.campus.code == 'HYO'" values="05">05</option>
                    <option *ngIf="profile.department == 'UPGT' && profile.campus.code == 'ARQP'" values="10">10</option>
                    <option *ngIf="profile.department == 'UPGT' && profile.campus.code == 'ARQP'" values="13">13</option>
                    <option *ngIf="profile.department == 'UPGT' && profile.campus.code == 'CUZ'" values="14">14</option>
                    <option *ngIf="profile.department == 'UPGT' && profile.campus.code == 'CUZ'" values="15">15</option>
                    <option *ngIf="profile.department == 'UPGT' && profile.campus.code == 'LIMA'" values="06">06</option>
                    <option *ngIf="profile.department == 'UVIR' && profile.campus.code == 'VIR'" values="08">08</option>
                    <option *ngIf="profile.department == 'UVIR' && profile.campus.code == 'VIR'" values="09">09</option>
                  </select>
                </div>
                <div class="col-md-3">
                  <label>Beca/MediaBeca/Tercio de Beca</label>
                  <select class="form-control"
                    name="beca" [(ngModel)]="newAsignacion.beca" required>
                    <option value="" *ngIf="selectedDiscount.beca != false || selectedDiscount.half_beca != false ||
                     selectedDiscount.third_beca != false"disabled="disabled" name="beca"> Elegir opción</option>
                    <option value="B" *ngIf="selectedDiscount.beca == true">Beca</option>
                    <option value="M" *ngIf="selectedDiscount.half_beca == true">Media Beca</option>
                    <option value="T" *ngIf="selectedDiscount.third_beca == true">Tercio de Beca</option>
                    <option value="N" *ngIf="selectedDiscount.beca == false && selectedDiscount.half_beca == false && 
                    selectedDiscount.third_beca == false">NO DISPONIBLE</option>
                  </select>
                </div>
                <div class="col-md-3">
                  <label>Escala</label>
                  <select class="form-control" name="beca" [(ngModel)]="newAsignacion.scale" required>
                    <option *ngIf="selectedDiscount.scale" value="" disabled="disabled" name="beca"> Elegir
                      opción</option>
                    <option *ngIf="selectedDiscount.scale" values="1">1</option>
                    <option *ngIf="selectedDiscount.scale && profile.campus.code != 'VIR'" values="2">2</option>
                    <option *ngIf="selectedDiscount.scale && profile.campus.code != 'VIR'" values="3">3</option>
                    <option *ngIf="selectedDiscount.scale && profile.campus.code != 'VIR' && profile.campus.code != 'LIMA'"
                      values="4">4</option>
                    <option *ngIf="selectedDiscount.scale && profile.campus.code == 'VIR'" values="A">A</option>
                    <option *ngIf="selectedDiscount.scale && profile.campus.code == 'VIR'" values="B">B</option>
                    <option *ngIf="!selectedDiscount.scale" value="N" selected >NO DISPONIBLE</option>
                  </select>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group col-md-12">
                  <label>Observacion</label>
                  <input class="form-control" type="text" name="observation" [(ngModel)]="newAsignacion.observation"
                    placeholder="Registre una observación" required>
                </div>
              </div>
            </div>

            <div class="col-md-12">
              <button type="submit" class="btn btn-primary pull-right" (click)="createAsign($event)" [disabled]="!xyzForm.form.valid">
                <span class="fa fa-save"></span> Crear
              </button>
              <div [hidden]="!createLoading">
                <loading [text]="'buscando . . .'"></loading>
              </div>
            </div>
            <div class="col-md-12 mt">
              <div *ngIf="messageCreate">
                <div [hidden]="!messageCreate.validate" class="callout callout-success">
                  <h4><i class="icon fa fa-check"></i> Éxito</h4>
                  <p>{{messageCreate.message}}</p>
                </div>
                <div [hidden]="messageCreate.validate" class="callout callout-danger">
                  <h4><i class="icon fa fa-times"></i> Error</h4>
                  <p>{{messageCreate.message}}</p>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="box-body" *ngIf="profile == null || (profile.status != 3 && profile.status != 2)">
        <div class="callout callout-danger">
          <h4><i class="icon fa fa-ban"></i> Perfil de estudiante no encontrado</h4>
          <p>Lamentamos informar que el estudiante no tiene perfil de Estudiante.</p>
          <p>Por favor, verificar el código e intentelo nuevamente.</p>
        </div>
      </div>
      <div class="box-footer">
        <button type="submit" class="btn btn-default" (click)="back()">
          <span class="fa fa-arrow-left"></span> Atrás
        </button>
      </div>
    </div>
    <div class="box-body" *ngIf="!studentLoading">
      <div class="callout callout-danger">
        <h4><i class="icon fa fa-ban"></i> Estudiante no encontrado</h4>
        <p>
          Lamentamos informar que el estudiante que busca no tiene registro de postulaciones o matrículas.
        </p>
        <p>Por favor, verificar el código e intentelo nuevamente.</p>
      </div>
    </div>
  </div>
</div>

<div *ngIf="primeMsg">
  <p-growl [(value)]="primeMsg" [baseZIndex]="500" life="6000"></p-growl>
</div>

<div class="modal fade" id="modal-default">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="clearBenefitDelete()">
          <span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Confirmación</h4>
          </div>
          <div class="modal-body">
          <p>¿Esta seguro de eliminar el beneficio?</p>
          <p>*Al eliminar se revertirán los efectos del beneficio permanentemente.</p>
          </div>
          <div class="modal-footer">
          <button type="button" class="btn btn-debug pull-left" data-dismiss="modal" (click)="clearBenefitDelete()">Cancelar</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteBenefit()">Eliminar Beneficio</button>
        </div>
      </div>
    <!-- /.modal-content -->
    </div>
  </div>
<!-- /.modal-dialog -->
</div>
