<div class="row">
    <div class="col-md-12">
        <div class="box box-info">
            <div class="box-header with-border">
                <span class="fa fa-plus-square"></span>
                <h3 class="box-title">Nuevo Convenio</h3>
            </div>
            <form class="form-horizontal" #xyzForm="ngForm">
                <div class="box-body">
                    <div class="form-group">
                        <label for="ContractCod" class="col-sm-2 control-label">Código de Contrato
                            <span class="text-danger" [hidden]="!ContractCod.errors">*</span>
                        </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" maxlength="10" minlength="1" placeholder="Código de Contrato" name="ContractCod"
                                #ContractCod="ngModel" [(ngModel)]="newAgreement.cod_contract" required>
                            <span class="text-danger" [hidden]="!ContractCod.errors">Campo requerido</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="CompanyName" class="col-sm-2 control-label">Nombre de Empresa
                            <span class="text-danger" [hidden]="!CompanyName.errors">*</span>
                        </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="Nombre de Empresa" name="CompanyName" #CompanyName="ngModel" [(ngModel)]="newAgreement.company_name"
                                required>
                            <span class="text-danger" [hidden]="!CompanyName.errors">Campo requerido</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Fecha de inicio:</label>
                        <p-calendar [(ngModel)]="newAgreement.start_date" class="col-sm-4" dateFormat="dd/mm/yy" name="start_date" [maxDate]="newAgreement.end_date"
                            readonlyInput="true">
                        </p-calendar>

                        <label class="col-sm-2 control-label">Fecha de fin:</label>
                        <p-calendar [(ngModel)]="newAgreement.end_date" class="col-sm-4" dateFormat="dd/mm/yy" name="end_date" [minDate]="newAgreement.start_date"
                            readonlyInput="true">
                        </p-calendar>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-6">
                            <label class="col-sm-4 control-label">Familiaridad: </label>
                            <div class="col-sm-8">
                                <select [(ngModel)]="newAgreement.grad_fam" class="form-control" name="grad_fam">
                                    <option *ngFor="let item of listFamiliarity" value="{{item.id}}">{{item.description}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" [(ngModel)]="newAgreement.disapproved" name="disapproved"> Cond. Desaprobado
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" [(ngModel)]="newAgreement.renovation_auto" name="renovation_automatic"> Renov. Automática
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="box-header with-border">
                        <span class="fa fa-table"></span>
                        <h4 class="box-title">Detalles del Convenio</h4>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <label class="col-sm-2 text-center">
                                <span class="fa fa-university"></span>
                                <b>Modalidad</b>
                            </label>
                            <label class="col-sm-5 text-center">
                                <span class="fa fa-percent"></span>
                                <b>Descuento Matrícula</b>
                            </label>
                            <label class="col-sm-5 text-center">
                                <span class="fa fa-percent"></span>
                                <b>Descuento Cuota</b>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="col-sm-2">
                                <div class="form-group bg-red color-palette text-center">
                                    <span>Gente que Trabaja</span>
                                </div>
                                <div class="form-group bg-green-active color-palette text-center">
                                    <span>Ciclo Regular</span>
                                </div>
                                <div class="form-group bg-blue-active color-palette text-center">
                                    <span>Virtual</span>
                                </div>
                            </div>
                            <span class="col-sm-1"></span>
                            <div class="col-sm-3">
                                <p-spinner size="30" name="perEnrollmentADG" class="text-center" [(ngModel)]="newAgreement.percent_enrollmentADG" 
                                    [min]="0" [max]="100" required>
                                </p-spinner>
                                <p-spinner size="30" name="perEnrollmentADM" class="text-center" [(ngModel)]="newAgreement.percent_enrollmentADM" 
                                    [min]="0" [max]="100" required>
                                </p-spinner>
                                <p-spinner size="30" name="perEnrollmentADV" class="text-center" [(ngModel)]="newAgreement.percent_enrollmentADV" 
                                    [min]="0" [max]="100" required>
                                </p-spinner>
                            </div>
                            <span class="col-sm-2"></span>
                            <div class="col-sm-3">
                                <p-spinner size="30" name="perCuotADG" class="text-center" [(ngModel)]="newAgreement.percent_cuotADG" 
                                    [min]="0" [max]="100" required>
                                </p-spinner>
                                <p-spinner size="30" name="perCuotADM" class="text-center" [(ngModel)]="newAgreement.percent_cuotADM"
                                    [min]="0" [max]="100" required>
                                </p-spinner>
                                <p-spinner size="30" name="perCuotADV" class="text-center" [(ngModel)]="newAgreement.percent_cuotADV" 
                                    [min]="0" [max]="100" required>
                                </p-spinner>
                            </div>
                            <span class="col-sm-1"></span>
                        </div>
                    </div>
                </div>
                <div class="box-footer" [hidden]="disableButton">
                    <button type="submit" class="btn btn-info pull-right" 
                            [disabled]="!xyzForm.form.valid"
                            (click)="createAgreement()">
                        <span class="fa fa-save"></span>
                        Crear
                    </button>
                </div>
                <div *ngIf="messageCreate">
                    <div [hidden]="!messageCreate.validate" class="alert alert-success alert-dismissible">
                        <h4>
                            <i class="icon fa fa-check"></i> Éxito
                        </h4>
                        <p>{{messageCreate.message}}</p>
                    </div>
                    <div [hidden]="messageCreate.validate" class="alert alert-danger alert-dismissible">
                        <h4>
                            <i class="icon fa fa-times"></i> Error
                        </h4>
                        <p>{{messageCreate.message}}</p>
                    </div>
                </div>
                
            </form>
        </div>
    </div>
</div>
