<section class="box-body px" *ngIf="noteClaim != null">
  <!--Datos reclamo-->
  <!-- Section: Features v.2 -->

  <!-- Descripción de reclamo -->
  <div class="card">
    <div class="header bg-info">
      <h3 class="title">Reclamo</h3>
    </div>
    <div class="body">
      <div class="row">
        <div class="col-md-4 print-md">
          <div class="card p pb-0 text-center">
            <h4 class="m-0 text-bold">{{noteClaim.subject.term}}</h4>
            <p><b>Periodo</b></p>
          </div>
        </div>
        <div class="col-md-4 print-md">
          <div class="card p pb-0 text-center">
            <h4 class="m-0 text-bold">
              {{noteClaim.year}}-{{ backofficeConfigService.completeStringWithCaracter(noteClaim.noteClaimNumber, '0', 6) }}
            </h4>
            <p><b>Número</b></p>
          </div>
        </div>
        <div class="col-md-4 print-md">
          <div class="card p pb-0 text-center">
            <h4 class="m-0 text-bold" *ngIf="noteClaim.hasPhysicalEvidence">Si</h4>
            <h4 class="m-0 text-bold" *ngIf="!noteClaim.hasPhysicalEvidence">No</h4>
            <p><b>¿Evidencia física?</b></p>
          </div>
        </div>
        <div class="col-md-4 print-md">
          <div class="card p pb-0 text-center">
            <h4 class="m-0 text-bold">{{getNamebyCampus(noteClaim.subject.campus)}}</h4>
            <p><b>Sede</b></p>
          </div>
        </div>
        <div class="col-md-4 print-md">
          <div class="card p pb-0 text-center">
            <h4 class="m-0 text-bold">{{backofficeConfigService.getDepartmentName(noteClaim.subject.department)}}</h4>
            <p><b>Modalidad</b></p>
          </div>
        </div>
        <div class="col-md-4 print-md">
          <div class="card p pb-0 text-center">
            <h4 class="m-0 text-bold">{{getNameType(noteClaim.type)}}</h4>
            <p><b>Tipo</b></p>
          </div>
        </div>
        <div class="col-md-4 print-md">
          <div class="card p pb-0 text-center">
            <h4 class="m-0 text-bold">{{noteClaim.dateCreated | date: 'dd/MM/yyyy hh:mm'}}</h4>
            <p><b>Fecha</b></p>
          </div>
        </div>
        <div class="col-md-4 print-md">
          <div class="card p pb-0 text-center">
            <h4 class="m-0 text-bold">{{noteClaim.scoreClaim}}</h4>
            <p><b>Nota reclamada</b></p>
          </div>
        </div>
        <div class="col-md-4 print-md">
          <div class="card p pb-0 text-center">
            <h4 class="m-0 text-bold">{{noteClaim.subject.nrc}}</h4>
            <p><b>NRC</b></p>
          </div>
        </div>
        <div class="col-md-6 print-md">
          <div class="card p pb-0">
            <h4 class="text-bold mt-0">Asignatura:</h4>
            <p>{{noteClaim.subject.subjetID}} - {{noteClaim.subject.subjetName}}</p>
          </div>
        </div>
        <div class="col-md-6 print-md">
          <div class="card p pb-0">
            <h4 class="text-bold mt-0">Componente:</h4>
            <p>{{noteClaim.componentData.name}}
              <span *ngIf="noteClaim.subComponentData != null"> - {{noteClaim.subComponentData.name}}</span></p>
          </div>
        </div>

        <div class="col-md-12 col-sm-12 print-sm">
          <div class="card px">
            <h4 class="mv text-bold mt-0">Motivo:</h4>
            <p>{{noteClaim.reason}}</p>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- Fin Descripción de reclamo -->


  <hr>
  <!--Datos del estudiante y docente-->
  <div class="row" *ngIf="!getFlow">
    <!-- Datos del docente -->
    <div class="col-md-6 print-md">
      <div class="card">
        <div class="header bg-info">
          <h4 class="title text-white">Docente</h4>
        </div>
        <div class="body">
          <p><b>Número de documento:</b> {{noteClaim.teacherData.document_type}}
            {{noteClaim.teacherData.document_number}}</p>
          <p><b>Nombres:</b> {{noteClaim.teacherData.full_name}}</p>
          <p><b>Celular:</b>
            <span *ngIf="noteClaim.teacherData.cellPhone != null">{{noteClaim.teacherData.cellPhone}}</span>
            <span
              *ngIf="noteClaim.teacherData.cellPhone == null || noteClaim.teacherData.cellPhone.trim() == ''">---</span>
          </p>
          <p><b>RPM:</b>
            <span *ngIf="noteClaim.teacherData.rpm != null">{{noteClaim.teacherData.rpm}}</span>
            <span *ngIf="noteClaim.teacherData.rpm == null || noteClaim.teacherData.rpm.trim() == ''">---</span>
          </p>
          <p><b>Email:</b>
            <span *ngIf="noteClaim.teacherData.email1 != null">{{noteClaim.teacherData.email1}}</span>
            <span *ngIf="noteClaim.teacherData.email1 == null || noteClaim.teacherData.email1.trim() == ''">---</span>
          </p>
          <p><b>Usuario:</b> {{noteClaim.teacherData.userName}}</p>
        </div>
      </div>
    </div>
    <!-- Fin Datos del docente -->

    <!-- Datos del estudiante -->
    <div class="col-md-6 print-md">
      <div class="card">
        <div class="header bg-info">
          <h4 class="title text-white">Estudiante</h4>
        </div>
        <div class="body">
          <p><b>Número de documento:</b> {{noteClaim.studentData.document_type}}
            {{noteClaim.studentData.document_number}}</p>
          <p><b>Nombres:</b> {{noteClaim.studentData.full_name}}</p>
          <p><b>Celular:</b>
            <span *ngIf="noteClaim.studentData.cellPhone != null">{{noteClaim.studentData.cellPhone}}</span>
            <span
              *ngIf="noteClaim.studentData.cellPhone == null || noteClaim.studentData.cellPhone.trim() == ''">---</span>
          </p>
          <p><b>RPM:</b>
            <span *ngIf="noteClaim.studentData.rpm != null">{{noteClaim.studentData.rpm}}</span>
            <span *ngIf="noteClaim.studentData.rpm == null || noteClaim.studentData.rpm.trim() == ''">---</span>
          </p>
          <p><b>Email:</b>
            <span *ngIf="noteClaim.studentData.email1 != null">{{noteClaim.studentData.email1}}</span>
            <span *ngIf="noteClaim.studentData.email1 == null || noteClaim.studentData.email1.trim() == ''">---</span>
          </p>
          <p><b>Usuario:</b> --- </p>
        </div>
      </div>
    </div>
    <!-- Fin Datos del estudiante -->
  </div>
  <!--Fin Datos del estudiante y docente-->

  <!--Archivos Adjuntos-->
  <div class="card hidden-print">
    <div class="header bg-info">
      <h3 class="title text-white">Archivos adjuntos</h3>
    </div>
    <div class="body pv">
      <div class="col-md-12" *ngIf="noteClaim.files == null || noteClaim.files.length <= 0">
        <span> No existen archivos.</span>
      </div>
      <div class="col-md-3" *ngFor="let file of noteClaim.files">
        <div class="list-group">
          <a class="list-group-item" href="api/learningassessment/FileNoteClaim/{{file.id}}" download="{{file.name}}">
            <div class="row">
              <div class="col-md-10 text-truncate">
                {{file.name}}
              </div>
              <div class="col-md-2">
                <i aria-hidden="true" class="fa fa-cloud-download"></i>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!--Fin Archivos Adjuntos-->

  <!--Seguimiento-->
  <div class="card hidden-print" *ngIf="getFlow">
    <div class="header bg-info">
      <h3 class="title">Seguimiento</h3>
    </div>
    <div class="body">
      <div class="timelineh-container text-center">
        <ul class="timelineh timelineh-horizontal">
          <!---->
          <li class="timeline-item" *ngFor="let item of flow">
            <div class="timeline-panel p-2"
              [ngClass]="{'item-success': noteClaim.status > item.Id, 'item-primary': noteClaim.status == item.Id, 'item-secondary': noteClaim.status < item.Id }">
              <div class="timeline-heading">
                <h4 class="timeline-title">{{item.NameStatus}}</h4>
                <p class="text-left">
                  <small class="text-muted" *ngIf="noteClaim.status < item.Id || noteClaim.status == item.Id">
                    <i class="fa fa-hourglass-start "></i> pendiente
                  </small>
                  <small class="text-muted" *ngIf="noteClaim.status > item.Id">Procesado</small>
                </p>
                <p class="text-left">
                  <small>
                    <i class="fa fa-building-o"> {{item.NameOffice}}</i>
                  </small>
                </p>
              </div>
            </div>
            <div class="timeline-badge "
              [ngClass]="{'bg-success': noteClaim.status > item.Id, 'bg-primary': noteClaim.status == item.Id, 'bg-secondary': noteClaim.status < item.Id }">
              <i class="fa fa-pencil-square-o"></i>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!--Fin Seguimiento-->

  <!--Reporte de docente-->
  <div class="card" *ngIf="noteClaim.reportTeacher != null && !getFlow">
    <div class="header bg-info">
      <h3 class="title text-bold">Reporte docente</h3>
    </div>
    <div class="body">
      <div class="row">
        <div class="col-md-6 print-md">
          <div class="card p pb-0 text-center">
            <h4 class="m-0 text-bold">{{noteClaim.reportTeacher.dateCreated | date: 'dd/MM/yyyy hh:mm'}}</h4>
            <p><b>Fecha</b></p>
          </div>
        </div>
        <div class="col-md-6 print-md">
          <div class="card p pb-0 text-center">
            <h4 class="m-0 text-bold" *ngIf="noteClaim.reportTeacher.proceeds">Si</h4>
            <h4 class="m-0 text-bold" *ngIf="!noteClaim.reportTeacher.proceeds">No</h4>
            <p><b>¿Procede cambio de nota?</b></p>
          </div>
        </div>

        <div class="col-md-6 print-md" *ngIf="noteClaim.reportTeacher.proceeds">
          <div class="card p pb-0 text-center">
            <h4 class="m-0 text-bold">{{noteClaim.reportTeacher.scoreCorrect}}</h4>
            <p><b>Nota correcta</b></p>
          </div>
        </div>
        <div class="col-md-6 print-md" *ngIf="noteClaim.reportTeacher.proceeds">
          <div class="card p pb-0 text-center">
            <h4 class="m-0 text-bold">{{noteClaim.reportTeacher.dateChange | date: 'dd/MM/yyyy hh:mm'}}</h4>
            <p><b>Fecha de cambio</b></p>
          </div>
        </div>

        <div class="col-md-12 print-md">
          <div class="card p">
            <h4 class="text-bold mt-0">Motivo:</h4>
            <p>{{noteClaim.reportTeacher.reason}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Fin Reporte de docente-->

  <!--Archivos Adjuntos-->
  <div class="card hidden-print" *ngIf="noteClaim.reportTeacher != null && !getFlow">
    <div class="header bg-info">
      <h3 class="title text-bold">Archivos adjuntos de reporte docente</h3>
    </div>
    <div class="body pv">
      <div class="col-md-3" *ngFor="let file of noteClaim.reportTeacher.files">
        <div class="list-group">
          <a class="list-group-item" href="api/learningassessment/FileNoteClaim/{{file.id}}" download="{{file.name}}">
            <div class="row">
              <div class="col-md-10 text-truncate">
                {{file.name}}
              </div>
              <div class="col-md-2">
                <i aria-hidden="true" class="fa fa-cloud-download"></i>
              </div>
            </div>
          </a>
        </div>
      </div>
      <span *ngIf="noteClaim.reportTeacher.files == null || noteClaim.reportTeacher.files.length <= 0"> No existen
        archivos.</span>
    </div>
  </div>
</section>