<div class="box box-default">
  <div class="overlay" *ngIf="load === true">
    <i class="fa fa-refresh fa-spin"></i>
  </div>
  <header class="box-header with-border">
    <div>
      <div class="box-tools pull-right" style = "z-index: 1;">
        <a (click)="returnPageDetails()" class="btn btn-sm btn-default">
          <i class="fa fa-arrow-left"></i> Regresar</a>
      </div>
    </div>
    <div class="clearfix"></div>
  </header>
<!--================================================detalle======================================================-->
  <ldr-claims-details [page_id]="page_id" (getState)="setStatePage($event)"></ldr-claims-details>
<!--=================================================================================================================-->
<!--================================================Derivación======================================================-->
  <ldr-claims-derivates [page_id]="page_id" [state]="state"></ldr-claims-derivates>
<!--=================================================================================================================-->
<!--================================================Respuestas Area Legal======================================================-->

<div *ngIf="derivate != null &&  derivate.answers != null && derivate.answers.length > 0">
  <header class="box-header">
    <h3 class="box-title"><i class="fa fa-file-text"></i> Respuesta(s)</h3>
  </header>
  <section class="box-body box-comments"  *ngFor="let answer of derivate.answers">
    <div class="box-comment">
      <div class="comment-text">
        <div>
          <div class="col-md-11 row">
            Persona que respondio: <strong>{{answer.answer_names}}</strong>.|
            <span class="badge bg-green" *ngIf="answer.answer_state == config.LDR_STATE_ANSWER_ACCEPTED">
              <i class="fa fa-tag"></i>
              Aprobado.
            </span>

            <br><br>
            Respuesta: <strong>{{answer.answer_note}}</strong>
            <br><br>
            <div class="col-md-3 list-group" *ngFor="let file of answer.files">
              <a href="api/claimsbook/File/{{file.file_id}}" download = "{{file.file_name}}" class="list-group-item">{{file.file_name}}</a>
            </div>
          </div>
          <div class="col-md-1" *ngIf="derivate.derivate_state == config.LDR_STATE_DERIVATE_RESOLVED  && derivate.staff_involved_type == config.LDR_TYPE_INVOLVED_BOSS">
            <button type="button" class="btn btn-primary btn-success withImageAndIcon  center-block" (click) = "acceptAnswerDerivate(answer.answer_id)">
              <div class="fa-lg withFolder48">
                <i class="fa fa-check"></i>
              </div>
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>






<!--================================================================================================================-->


<!--================================================acciones======================================================-->
  <section class="box-body box-comments" *ngIf="state === config.LDR_STATE_PAGE_ANSWERED && derivate != null && staff_ivolved != null">

    <div class="box-comment" *ngIf="staff_ivolved.staff_involved_type == config.LDR_TYPE_INVOLVED_BOSS && staff_ivolved.staff_derivate_state == config.LDR_STATE_STAFF_NOT_DERIVATED">
      <div class="comment-text row">
        <div class = "col-md-3"></div>
        <div class = "col-md-3"><button type="button" class="form-control btn btn-info" (click)="resolvedPageClaim()">Responder</button><br><br></div>
        <div class = "col-md-3"><button type="button" class="form-control btn btn-info" (click)="createDerivation()">Derivar</button><br><br></div>
        <div class = "col-md-3"></div>
      </div>
    </div>

    <div class="box-comment" *ngIf="staff_ivolved.staff_involved_type == config.LDR_TYPE_INVOLVED_BOSS && staff_ivolved.staff_derivate_state == config.LDR_STATE_STAFF_DERIVATED">
      <div class="comment-text row">
        <div class = "col-md-3"></div>
        <div class = "col-md-6"><button type="button" class="form-control btn btn-info" (click)="resolvedPageClaim()">Responder</button><br><br></div>
        <div class = "col-md-3"></div>
      </div>
    </div>

    <div class="box-comment" *ngIf="staff_ivolved.staff_involved_type == config.LDR_TYPE_INVOLVED_COLLABORATOR">
      <div class="comment-text row">
        <div class = "col-md-3"></div>
        <div class = "col-md-6"><button type="button" class="form-control btn btn-info" (click)="resolvedPageClaim()">Responder</button><br><br></div>
        <div class = "col-md-3"></div>
      </div>
    </div>
  </section>
<!--==============================================================================================================-->
</div>
