<div class="row">
  <div class="col-md-3">
    <div class="box box-solid">
      <div class="overlay" *ngIf="load === true">
        <i class="fa fa-refresh fa-spin"></i>
      </div>
      <div class="box-header with-border">
        <h3 class="box-title">Libro de Reclamaciones</h3>
        <div class="box-tools">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
          </button>
        </div>
      </div>

      <div class="box-body no-padding">
        <ul class="nav nav-pills nav-stacked">
          <li [ngClass]="{'active': (state === config.LDR_STATE_PAGE_PENDING)}" (click)="setState(config.LDR_STATE_PAGE_PENDING)">
            <a><i class="fa fa-hourglass"></i> Derivados a Área Legal
              <span class="label label-primary pull-right">{{pending_claims.length}}</span>
            </a>
          </li>
          <li [ngClass]="{'active': (state === config.LDR_STATE_PAGE_DERIVATED)}" (click)="setState(config.LDR_STATE_PAGE_DERIVATED)">
            <a><i class="fa fa-envelope-o"></i> Derivados a colaboradores
            <span class="label bg-yellow pull-right">{{derivated_claims.length}}</span></a>
          </li>
          <li [ngClass]="{'active': (state === config.LDR_STATE_PAGE_RESOLVED)}" (click)="setState(config.LDR_STATE_PAGE_RESOLVED)">
            <a><i class="fa fa-file-text-o"></i> Revisados por Área Legal
            <span class="label bg-aqua pull-right">{{resolved_claims.length}}</span></a>
          </li>
          <li [ngClass]="{'active': (state === config.LDR_STATE_PAGE_FINALIZED)}" (click)="setState(config.LDR_STATE_PAGE_FINALIZED)">
            <a><i class="fa fa-file-text-o"></i> Casos cerrados
            <span class="label bg-green pull-right">{{finalized_claims.length}}</span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-md-9">
    <div class="box box-default">
      <div class="overlay" *ngIf="load === true">
        <i class="fa fa-refresh fa-spin"></i>
      </div>
      <header class="box-header with-border">
        <h3 class="box-title"><i class="fa fa-file-text"></i> {{title}}</h3>
        <div class="box-tools pull-right">
          <div class="has-feedback">
            <input type="text" class="form-control input-sm" name="filter" [(ngModel)]="filter" placeholder="Filtrar">
            <span class="glyphicon glyphicon-search form-control-feedback"></span>
          </div>
        </div>
      </header>

      <!--===========================================PENDIENTES==========================================================-->
      <section class="box-body no-padding">
        <div class="table-responsive">
          <table class="table table-hover table-striped">
            <thead>
              <tr>
                <th> Dependencia </th>
                <th> Año </th>
                <th> Número </th>
                <th> Tipo </th>
                <th> Origen </th>
                <td> Campus </td>
                <th> Usuario </th>
                <th> Detalle Servicio </th>
                <th> Fec. Creado</th>
                <th *ngIf="state === config.LDR_STATE_PAGE_DERIVATED || state === config.LDR_STATE_PAGE_PENDING"> - </th>
                <th *ngIf="state === config.LDR_STATE_PAGE_DISMISSED">Fec. Desestimado</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let claims of claims_active | loopFilter: filter" (click)="gotoPageDetail(claims.page_id, claims.derivate_id )">
                <td>{{claims.page_div}}</td>
                <td>{{claims.page_year}}</td>
                <td>{{claims.page_numeration}}</td>
                <td>{{claims.page_type_well}} - {{claims.page_type_claim}}</td>
                <td>{{getNameOrigin(claims.page_origin)}}</td>
                <td>{{claims.campus_name}}</td>
                <td>{{claims.page_first_name}} {{claims.page_last_name}}</td>
                <td>{{claims.page_description_claim.substr(0,30)}}</td>
                <td>{{claims.page_date_create | date: 'dd/MM/yyyy hh:mm'}}</td>
                <td *ngIf="state === config.LDR_STATE_PAGE_DERIVATED || state === config.LDR_STATE_PAGE_PENDING">
                  <small class="label label-danger" *ngIf="getDaysRemaining(claims.page_date_create) <= 3"><i class="fa fa-clock-o"></i> Faltan {{getDaysRemaining(claims.page_date_create)}} días</small>
                  <small class="label label-warning" *ngIf="getDaysRemaining(claims.page_date_create) > 3 && getDaysRemaining(claims.date_create) <= 7"><i class="fa fa-clock-o"></i>Faltan {{getDaysRemaining(claims.page_date_create)}} días</small>
                  <small class="label label-success" *ngIf="getDaysRemaining(claims.page_date_create) > 7"><i class="fa fa-clock-o"></i>Faltan {{getDaysRemaining(claims.page_date_create)}} días</small>
                </td>
                <td  *ngIf="state === config.LDR_STATE_PAGE_DISMISSED || state === config.LDR_STATE_PAGE_RESOLVED || state === config.LDR_STATE_PAGE_FINALIZED" > {{claims.page_date_finalized | date: 'dd/MM/yyyy hh:mm'}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
      <!--=====================================================================================================================-->

      <div class="box-footer">
      </div>
    </div>
  </div>
</div>
