<li class="dropdown notifications-menu" *ngIf="type === 1">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true" *ngIf="type == 1">
    <i class="fa fa-bell-o"></i>
    <span *ngIf="(requeriments.length + debts.length) > 0" class="label label-warning pulse pulse-sc-2">{{requeriments.length + debts.length}}</span>
  </a>
  <ul class="dropdown-menu" *ngIf="type == 1 && (requeriments.length + debts.length) > 0">
    <li class="header" *ngIf="requeriments.length > 0">Requisitos pendientes:</li>
    <li *ngFor="let req of requeriments">
      <a href="#">
        <i class="fa fa-warning text-aqua"></i> {{req.name}}
      </a>
    </li>
    <li class="header" *ngIf="debts.length > 0">Usted tiene deudas pendientes.</li>
  </ul>
</li>

<div *ngIf="type == 2 && (requeriments.length > 0 || debts.length > 0)">
  <div class="alert alert-warning alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <h4><i class="icon fa fa-warning"></i> Alerta!</h4>
    <p *ngIf="requeriments.length > 0">Usted tiene requisitos por entregar.</p>
    <p *ngIf="debts.length > 0">Usted tiene deudas pendientes.</p>
  </div>
</div>
