<div *ngIf="validateDebt">
  <div class="callout callout-warning">
    <h4><i class="icon fa fa-warning"></i> Aviso</h4>
    <p>Acceso restringido a los servicios administrativos virtuales.</p>
    <p>Por presentar una o más deudas pendientes.</p>
  </div>
</div>
