<div class="box box-info">
  <div class="box-header with-border">
    <h3 class="box-title">
      <i class="fa fa-search"></i> Historial de estudiante
    </h3>
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <!-- form start -->
    <form class="form-horizontal" #searchForm="ngForm">
      <div class="form-group">
        <label for="estudiantes" class="col-sm-2 control-label">Estudiantes</label>
        <div class="col-sm-10 col-md-7">
          <input class="form-control" id="estudiantes" [(ngModel)]="estudiantes"
                 (ngModelChange)="getStudentsArray()" name="estudiantes" placeholder="Códigos de Estudiantes"
                 type="text" [disabled]="searching">
        </div>
      </div>
      <div class="form-group" *ngIf="students != undefined && students.length > 0">
        <div class="col-sm-offset-2 col-sm-10 col-md-7">
          <span class="badge bg-teal hand" (click)="showStudentsCodeList()">
            Códigos ingresados
            <span class="badge bg-teal-active" *ngIf="students != undefined">{{ students.length }}</span>
          </span>
        </div>
        <div class="col-sm-offset-2 col-sm-10 col-md-7" *ngIf="showStudentsList">
          <span *ngFor="let s of students">
            <span class="badge bg-gray"> <i class="fa fa-user"></i> {{ s }}</span>&nbsp;
          </span>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10 col-md-7">
          <button type="submit" class="btn btn-info" (click)="search()"
                  [disabled]="!isValidInput() || searching">
            <i class="fa fa-search"></i> Buscar Estudiantes
          </button>
          <button type="button" class="btn btn-default" (click)="clean()"
                  [disabled]="!isValidInput() || searching">
            <i class="fa fa-trash-o"></i> Limpiar
          </button>
        </div>
      </div>
    </form>
  </div>
  <!-- /.box-body -->
</div>
<!-- /.box -->

<div *ngIf="searching && studentSearchResult === undefined">
  <loading></loading>
</div>

<div class="box" [ngClass]="{ 'box-success': studentSearchResult.length, 'box-warning': !studentSearchResult.length }"
     *ngIf="studentSearchResult !== undefined">
  <div class="box-header with-border">
    <h3 class="box-title">
      <span *ngIf="studentSearchResult.length != 0">{{ studentSearchResult.length }}</span> Resultados de Búsqueda
    </h3>
  </div>
  <!-- /.box-header -->
  <div class="box-body table-responsive no-padding">
    <table class="table table-hover">
      <thead>
      <tr>
        <th class="text-muted">#</th>
        <th>Código</th>
        <th>Estudiante</th>
        <th>Idioma</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngIf="studentSearchResult.length === 0">
        <td colspan="5" class="warning text-center text-warning">No se encontraron resultados</td>
      </tr>
      <tr *ngFor="let c of studentSearchResult; let i = index" [attr.data-index]="i">
        <td class="text-muted">{{ i + 1 }}</td>
        <td [ngClass]="{ 'text-danger': c.persona === null, 'text-orange': c.persona !== null && !c.profiles.length }">
          {{ c.studentId }}
        </td>
        <td>
          <span *ngIf="c.persona !== null" [ngClass]="{ 'text-orange': !c.profiles.length }">
            <span *ngIf="c.persona.full_name !== null">{{ c.persona.full_name }}</span>
          </span>
          <span *ngIf="c.persona !== null"><span *ngIf="c.persona.full_name === null">CÓDIGO NO ENCONTRADO</span></span>
          <span *ngIf="c.persona === null" class="text-danger">CÓDIGO NO ENCONTRADO</span>
        </td>
        <td>
          <span *ngIf="c.profiles !== null">
            <span *ngFor="let profile of c.profiles">
              <span class="badge bg-purple-active">
                {{ profile.language.languageName }}
                <span class="badge bg-purple">{{ profile.cycle }}</span>
              </span>
            </span>
          </span>
        </td>
        <td>
          <span class="btn btn-info btn-xs" *ngIf="c.profiles !== null && c.profiles.length"
                (click)="goToStudentLanguageRecord(c.studentId)">
            <i class="fa fa-info-circle"></i> detalle
          </span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <!-- /.box-body -->
</div>
<!-- /.box -->
