<div *ngIf="loading">
  <loading></loading>
</div>
<div class="row" *ngIf="!loading && student !== undefined">
  <div class="col-md-12" *ngIf="student.persona === null">
    <div class="callout callout-danger">
      <h4><i class="fa fa-exclamation-triangle"></i> Estudiante no encontrado!</h4>
      <p>El estudiante con código <b>{{ student.studentId }}</b> no fue encontrado.</p>
    </div>
  </div>
  <div class="col-md-3" *ngIf="student.persona !== null">
    <!-- Profile Image -->
    <div class="box box-primary">
      <div class="box-body box-profile">
        <img class="profile-user-img img-responsive img-circle" [src]="'api/personal/photo/'+student.persona.id"
             alt="User profile picture">
        <h3 class="profile-username text-center">{{student.persona.last_name}}</h3>
        <p class="text-muted text-center">Estudiante</p>
        <ul class="list-group list-group-unbordered">
          <li class="list-group-item">
            <b>{{student.persona.first_name}}</b>
            <span class="pull-right">
              <i class="fa fa-user-circle-o" title="Nombres" data-toggle="tooltip" data-placement="left"></i>
            </span>
          </li>
          <li class="list-group-item">
            <b>{{student.persona.document_number}}</b>
            <span class="pull-right">
              <i class="fa fa-id-card-o " title="{{student.persona.document_type}}" data-toggle="tooltip"
                 data-placement="left"></i>
            </span>
          </li>
          <li class="list-group-item">
            <b>{{student.persona.birthdate | date:'d MMM'}}</b>
            <span class="pull-right">
              <i class="fa fa-birthday-cake" title="Cumpleaños" data-toggle="tooltip" data-placement="left"></i>
            </span>
          </li>
        </ul>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
    <a class="btn btn-info btn-block" [routerLink]="['../']">
      <i class="fa fa-search"></i> Buscar estudiante</a>
  </div>
  <!-- /.col -->
  <div class="col-md-9" *ngIf="student.persona !== null">
    <div class="row">
      <div class="col-md-12">
        <div class="nav-tabs-custom">
          <ul class="nav nav-tabs">
            <li class="active">
              <a href="#activity" data-toggle="tab"><i class="fa fa-globe"></i> Idiomas</a>
            </li>
            <li class="pull-right">
              <span class="btn btn-sm bg-yellow not-allowed" *ngIf="updating">
                <i class="fa fa-spinner fa-pulse fa-fw"></i> Actualizando
              </span>
              <button class="btn btn-default btn-sm" *ngIf="!updating" (click)="getData()">
                <i class="fa fa-refresh"></i> Actualizar
              </button>
            </li>
          </ul>
          <div class="tab-content">
            <div class="active tab-pane" id="activity">
              <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                  <thead>
                  <tr>
                    <th class="text-muted">#</th>
                    <th>Código</th>
                    <th>Idioma</th>
                    <th>Ciclo</th>
                    <th>Inicio CIC</th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody *ngIf="student != null">
                  <tr *ngIf="student.profiles.length <= 0">
                    <td colspan="6" class="warning text-center text-warning text-bold">
                      No se encontraron idiomas para el estudiante {{ student.studentId }}.
                    </td>
                  </tr>
                  <tr *ngFor="let profile of student.profiles; let i = index" [attr.data-index]="i">
                    <td class="text-muted">{{ i + 1 }}</td>
                    <td>{{ profile.studentId }}</td>
                    <td>{{ profile.language.languageName }}</td>
                    <td>{{ profile.cycle }}</td>
                    <td>{{ profile.startDateAtCic | date: 'mediumDate' }}</td>
                    <td>
                      <span *ngIf="!loadingDetail" class="btn btn-info btn-xs hand"
                            (click)="getLanguageRecord(profile.language.languageId)">
                        <i class="fa fa-plus"></i> detalle
                      </span>
                      <span *ngIf="loadingDetail">
                        <i class="fa fa-spinner fa-pulse fa-fw"></i> cargando...
                      </span>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.box-body -->
            </div>
            <!-- /.tab-pane -->
          </div>
          <!-- /.tab-content -->
        </div>
        <!-- /.nav-tabs-custom -->
      </div>
      <!-- /.col -->
      <div class="col-xs-12" *ngIf="studentLangRecord !== null && studentLangRecord !== undefined">
        <div class="alert alert-info">
          <h4><i class="fa fa-info-circle"></i> Nota</h4>
          <p>La información que se muestra a continuación solo considera las notas aprobatorias del estudiante.</p>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="box box-info" *ngIf="studentLangRecord !== null && studentLangRecord !== undefined">
          <div class="box-header">
            <h3 class="box-title"><i class="fa fa-globe"></i> Idioma: {{ studentLangRecord.language.languageName }}</h3>
            <div class="box-tools text-muted">
              <i class="fa fa-user-circle-o"></i> {{ studentLangRecord.languageRecord[0].studentId }}
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body table-responsive no-padding">
            <table class="table table-hover">
              <tr>
                <th class="text-muted">#</th>
                <th>Período</th>
                <th>Fecha inicio</th>
                <th>Código</th>
                <th>Idioma</th>
                <th>Sección</th>
                <th>Ciclo</th>
                <th>Promedio</th>
                <th>Modalidad</th>
                <th></th>
              </tr>
              <tr *ngFor="let record of studentLangRecord.languageRecord; let i = index">
                <td class="text-muted">{{ i + 1 }}</td>
                <td>{{ record.term }}</td>
                <td>{{ record.startDate | date: 'mediumDate' }}</td>
                <td>{{ record.studentId }}</td>
                <td>{{ studentLangRecord.language.languageName }}</td>
                <td>{{ record.classroom }}</td>
                <td>
                  <span *ngIf="record.testCycle === null">{{ record.cycle.cycleNumber }}</span>
                  <span *ngIf="record.testCycle !== null">{{ record.testCycle }}</span>
                </td>
                <td>
                  <span *ngIf="record.n51 === null">{{ record.n50 }}</span>
                  <span *ngIf="record.n51 !== null">{{ record.n51 }}</span>
                </td>
                <td>{{ record.cycle.type }}</td>
                <td>
                  <span *ngIf="record.testCycle !== null" data-toggle="tooltip" data-placement="top"
                        title="{{ record.testComment }}" class="help">
                    {{ util.getSlice(record.testComment, 23) }}
                  </span>
                </td>
              </tr>
            </table>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>
  </div>
  <!-- /.col -->
</div>
<!-- /.row -->
