<div>
  <div ng-hide="confirm" class="text-right">
    <button class="btn btn-big btn-default" ng-click="confirm=true"> <span class="glyphicon glyphicon-trash" ></span> </button>
  </div>
  <div ng-show="confirm" class="text-center">
    <p class="text-danger">
      {{msg}}
    </p>
    <button class="btn btn-xs btn-primary" ng-click="bindAction()"> Si <span class="glyphicon glyphicon-ok"></span> </button>
    <button class="btn btn-xs btn-danger" ng-click="confirm=false"> No <span class="glyphicon glyphicon-remove"></span> </button>
  </div>
</div>
