<div class="btn-group btn-group-circle">
  <button type="button" ng-click="ch_opt(1)" ng-class="(value == '1')?'btn-primary':'btn-default'" class="btn btn-xs" ng-disable="mode ==  'write'"> Si </button>
  <button type="button" ng-click="ch_opt(0)" ng-class="(value == '1')?'btn-default':'btn-primary'" class="btn btn-xs" ng-disable="mode ==  'write'"> No </button>
</div>
