﻿@{
    ViewBag.Title = "Frontdesk";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<parent>
    <div class="loader-box">
        <div class="loader-logo">
            <img src="@Url.Content("~/")Content/static/images/isotipo-black.svg" alt="">
        </div>
        <div class="loader-circle extra"></div>
        <div class="loader-circle loader-circle-static extra"></div>
        <div class="loader-circumference"></div>
        <div class="loader-circumference another"></div>
        <div class="loader-text">Cargando...</div>
    </div>
</parent>

@section scripts {
    <script>
    //global variables
    window.student = @(new HtmlString(Json.Encode(ViewBag.student)));
    window.choices = @(new HtmlString(ViewBag.choices));
    window.terms = @(new HtmlString(ViewBag.terms));
    window.surveys = @(new HtmlString(ViewBag.surveys));
    </script>
<script type="text/javascript" src="@Url.Content("~/dist/parent/parent-polyfills.js")"></script>
<script type="text/javascript" src="@Url.Content("~/dist/parent/parent-vendor.js")"></script>
<script type="text/javascript" src="@Url.Content("~/dist/parent/parent-app.js")"></script>
}
