﻿@{
    ViewBag.Title = "Selección de hijo";
    Layout = "~/Views/Shared/_LayoutBlank.cshtml";
    bool childs = false; // variable para saber si cuenta con un hijo por lo menos a cargo
}

@foreach (var student in ViewBag.lista_students)
{
    if (student.active)
    {
        childs = true;
    }
}

<div class="lockscreen-logo mb-0">
    <div class="rounded-top bg-white pv">
        <img src="@Url.Content("~/Content/static/images/logo-horizontal-black.svg")" alt="UC" />
    </div>

    <h1 class="text-white">Portal del Padre</h1>
</div>

<!-- User name -->
<div class="lockscreen-name text-white mb">
    <p>¡Bienvenid@(@ViewBag.person.gender == "0" ? "a" : "o") <b>@ViewBag.person.first_name @ViewBag.person.last_name</b>!</p>
    @if (childs)
    {
        <p>Seleccione un estudiante.</p>
    }
</div>

@if (!childs)
{
    <div class="lockscreen-name mb bg-white pv">
        <p class="text-red">Usted no cuenta con un estudiante a cargo, si cree que es un error comuniquese con Bienestar Estudiantil, gracias.</p>
    </div>
}


<!-- START LOCK SCREEN ITEM -->
    @if (childs)
    {
        <div class="row text-center card-all-student" style="text-align: center;">
            <div class="col-md-12">
                <button class="btn bg-primary all-student" type="button" name="button"><i class="fa fa-eye"></i> Ver todos</button>
                <p></p>
            </div>
            @foreach (var student in ViewBag.lista_students)
            {
                if (student.active)
                {
                <div class="col-md-4 col-sm-6 card-student-@student.child.id card-student" style="display: inline-block; float: none;">
                    <div class="card thumbnail rounded mb-0">
                        @if (@student.profile.Count == 1)
                        {
                            <a href="#" class="student-@student.child.id text-dark text-primary-h" onclick="setStudent('UCCI','@student.profile[0].levl', '@student.profile[0].program.id', '@student.profile[0].person_id')">
                                <img class="rounded" src="@Url.Content("~/api/personal/photo/"+@student.child.id)" alt="Student Image" style="width:93px; height:124px;">
                                <p class="mb-0 text-truncate"><b>@student.child.first_name</b></p>
                            </a>
                        }
                        else
                        {
                            <a href="#" id="@student.child.id" class="text-dark text-primary-h">
                                <img class="rounded" src="@Url.Content("~/api/personal/photo/"+@student.child.id)" alt="Student Image" style="width:93px; height:124px;">
                                <p class="mb-0 text-truncate"><b>@student.child.first_name</b></p>
                            </a>
                        }
                    </div>
                </div>
                }
            }
        </div>
    }

<div id="loading" class="row text-white text-center" style="display:none;">
    <div class="col-md-12">
        <i class="fa fa-spinner fa-pulse fa-4x fa-fw"></i>
        <p>Cargando los datos del estudiante..</p>
    </div>
</div>
@if (childs)
{
    <div class="row ph">
        @foreach (var student in ViewBag.lista_students)
        {
            <div class="col-md-12 career-student-@student.child.id career-list">
                <ul class="list-group">
                    @foreach (var item in student.profile)
                    {
                        <li class="list-group-item hand text-secondary text-primary-h" onclick="setStudent('UCCI','@item.levl', '@item.program.id', '@item.person_id')">
                            <span class="badge"><i class="fa fa-chevron-right"></i></span>
                            <small>
                                @item.div @item.program.name
                            </small>
                        </li>
                    }
                </ul>
            </div>
        }
    </div>
}

<div class="lockscreen-footer text-center text-white">
    @if (ViewBag.mix)
    {
        <p>También puedes</p>
        <a href="../parent/select-profile" class="btn bg-primary"><i class="fa fa-users"></i> Cambiar de perfil</a>
    }
</div>

<div class="lockscreen-footer text-center text-white pb">
    &copy; @DateTime.Now.Year - <b>Universidad Continental</b>
</div>

<!-- /.lockscreen-item -->

@section scripts {
    <script>
        $(document).ready(function () {
            $('.career-list').hide();
            $('.all-student').hide();
            $('.arroy-student').hide();
            $('.card a').click(function (event) {
                event.preventDefault();
                $('.all-student').show();
                //console.log($(this).attr('id'));
                $('.career-list').hide();
                $('.card-student').hide();
                $(".card-student-" + $(this).attr('id')).toggle();
                $(".career-student-" + $(this).attr('id')).toggle();
                $(".arroy-student-" + $(this).attr('id')).toggle();
            });
            $('.all-student').click(function (event) {
                event.preventDefault();
                $('.card-student').show();
                $('.career-list').hide();
                $('.arroy-student').hide();
                $('.all-student').hide();
            });
            // setear session de estudiante hijo
        });
        function setStudent(div, levl, program, student_id) {
            $('.card-all-student').hide();
            $('.card-student').hide();
            $('.career-list').hide();
            $('#loading').show();
            $.ajax({
                type: 'POST',
                url: '@Url.Content("~/")api/parent/studentProfile',
                data: {
                    div: div,
                    levl: levl,
                    program: program,
                    student_id: student_id
                },
                success: function (data) {
                    document.location = '@Url.Content("~/")parent'
                },
                error: function (err) {
                    // FIXME mostrar mensaje de error
                },
                dataType: 'json'
            });
        }
    </script>
}