﻿@{
    ViewBag.Title = "Selección de entrada como padre o alumno";
    Layout = "~/Views/Shared/_LayoutBlank.cshtml";
}

<div class="lockscreen-logo">
    <div class="rounded-top bg-white pv">
        <img src="@Url.Content("~/Content/static/images/logo-horizontal-black.svg")" alt="UC" />
    </div>
    <h1 class="text-white text-bold">Portal del Padre</h1>
</div>

<!-- User name -->
<div class="lockscreen-name text-white ph">
    <p>¡Bienvenid@(@ViewBag.person.gender=="0"? "a":"o") <b>@ViewBag.person.first_name @ViewBag.person.last_name</b>!</p>
    <p>¿Qué tipo de cuenta quiere utilizar hoy?</p>
</div>
<br />
<div class="row" style="text-align:center;">
    <div class="col-md-4 inline-block">
        <div class="card thumbnail border-radius-10">
            <a href="@Url.Content("~/frontdesk")" class="text-dark text-primary-h">
                <i class="@(@ViewBag.person.gender == "0" ? "fc-student-girl" : "fc-student") rounded pv" style="font-size: 100px;"></i>
                <p class="mb-0"><b>Estudiante</b></p>
            </a>
        </div>
    </div>
    <div class="col-md-4 inline-block">
        <div class="card thumbnail rounded">
            <a href="@Url.Content("~/parent/select-student")" class="text-dark text-primary-h">
                <i class="@(@ViewBag.person.gender == "0" ? "fc-mother" : "fc-father") rounded pv" style="font-size: 100px;"></i>
                <p class="mb-0"><b>Apoderado</b></p>
            </a>
        </div>
    </div>
</div>

<div class="lockscreen-footer text-center panel-title text-white pb">
    <p>&copy; @DateTime.Now.Year - <b>Universidad Continental</b></p>
</div>