<div class="container-fluid">
  <div class="box box-body">
    <div class="overlay" *ngIf="load">
      <i class="fa fa-refresh fa-spin"></i>
    </div>
    <div class="form-group row">
      <div class="col-sm-4">
        <label for="Modality">Modalidad <span class="text-danger">*</span></label>
        <select class="form-control" name="Modality" [(ngModel)]="modality">
          <option *ngFor="let departament of config.DEPARTAMENT_NAMES" value="{{departament.id}}">
            {{departament.name}}
          </option>
          <option value="">Todos</option>
        </select>
      </div>
      <div class="col-sm-4">
        <label for="campus">Sede <span class="text-danger">*</span></label>
        <select class="form-control" name="campus" [(ngModel)]="campus">
          <option *ngFor="let campus of allCampus" value="{{campus.id}}" selected>
            {{campus.name}}
          </option>
          <option value="">Todos</option>
        </select>
      </div>
      <div class="col-sm-4">
        <label for="terms">Período <span class="text-danger">*</span></label>
        <select class="form-control" name="terms" [(ngModel)]="term">
          <option *ngFor="let term of terms" value="{{term}}" selected>{{term}}</option>
        </select>
      </div>
      <div class="col-sm-4">
        <label for="group">Grupo <span class="text-danger">*</span></label>
        <select class="form-control" name="group" [(ngModel)]="group">
          <option value="1">Grupo 1</option>
          <option value="2">Grupo 2</option>
          <option value="">Todos</option>
        </select>
      </div>

      <div class="col-sm-4">
        <label for="group"></label>
        <input type="button" name="ver" value="ver" class="form-control btn btn-info btn-md" (click)="getReport()">
      </div>

      <div class="col-sm-4" *ngIf="report && report.length > 0">
        <label for="group"></label>
        <input type="button" name="Descargar Excel" value="Descargar Excel" class="form-control btn btn-success btn-md"
          (click)="downloadReport()">
      </div>

    </div>
  </div>

  <div class="box box-body" *ngIf="report && report.length > 0">
    <div class="overlay" *ngIf="load">
      <i class="fa fa-refresh fa-spin"></i>
    </div>
    <div class="row box-body">
      <div class="col-sm-12 table-responsive">
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>Modalidad</th>
              <th>Sede</th>
              <th>Período</th>
              <th>Grupo</th>
              <th>NRC</th>
              <th>¿NRC Activo?</th>
              <th>Parte Periodo</th>
              <th>Asignatura</th>
              <th>Fecha Inicio</th>
              <th>Fecha Fin</th>
              <th>Fecha Examen</th>
              <th>Aula</th>
              <th>¿Programación Activa?</th>
              <th>¿Publico?</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of report">
              <td>{{getNamebyModality(item.nrcForSubstituteExam.department)}}</td>
              <td>{{getNamebyCampus(item.nrcForSubstituteExam.campus)}}</td>
              <td>{{item.nrcForSubstituteExam.term}}</td>
              <td>{{item.nrcForSubstituteExam.module}}</td>
              <td>{{item.nrcForSubstituteExam.nrc}}</td>
              <td>
                <span *ngIf="item.nrcForSubstituteExam.active">Si</span>
                <span *ngIf="!item.nrcForSubstituteExam.active">No</span>
              </td>
              <td>{{item.nrcForSubstituteExam.partTerm}}</td>
              <td>{{item.nrcForSubstituteExam.subjetName}}</td>
              <td>{{item.nrcProgrammned.inicialRegistrationDate | date: 'dd/MM/yyyy hh:mm:ss a'}}</td>
              <td>{{item.nrcProgrammned.finalRegistrationDate | date: 'dd/MM/yyyy hh:mm:ss a'}}</td>
              <td>{{item.nrcProgrammned.examDate | date: 'dd/MM/yyyy hh:mm:ss a'}}</td>
              <td>{{item.nrcProgrammned.classRoom}}</td>
              <td>
                <span *ngIf="item.nrcProgrammned.active">Si</span>
                <span *ngIf="!item.nrcProgrammned.active">Si</span>
              </td>
              <td>
                <span *ngIf="item.nrcProgrammned.isPublic">Si</span>
                <span *ngIf="!item.nrcProgrammned.isPublic">Si</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>