<div class="container-fluid">
  <div class="box box-body">
    <div class="overlay" *ngIf="load === true">
      <i class="fa fa-refresh fa-spin"></i>
    </div>
    <div class="form-group row">
      <div class="col-sm-3">
        <label for="terms">Período <span class="text-danger">*</span></label>
        <select class="form-control" name="terms"  [(ngModel)]="term">
          <option *ngFor="let term of terms" value="{{term}}" selected>{{term}}</option>
        </select>
      </div>

      <div class="col-sm-3">
        <label for="group">Grupo <span class="text-danger">*</span></label>
        <select class="form-control" name="group"  [(ngModel)]="group">
          <option value = "1" >Grupo 1</option>
          <option value = "2" >Grupo 2</option>
          <option value = "">Todos</option>
        </select>
      </div>

      <div class="col-sm-3">
        <label for="Modality">Modalidad <span class="text-danger">*</span></label>
        <select class="form-control" name="Modality" [(ngModel)]="modality">
          <option *ngFor="let departament of config.DEPARTAMENT_NAMES" value="{{departament.id}}">{{departament.name}}</option>
          <option value = "">Todos</option>
        </select>
      </div>
      <div class="col-sm-3">
        <label for="">-<span class="text-danger">*</span></label>
        <input type="button" name="ver" value="ver" class="form-control btn btn-info btn-md" (click)="getReport()">
        <br>
        <p class="form-control btn btn-success btn-md" *ngIf="report != null && report.length > 0" (click)="downloadReport()">
          <span class="fa fa-file-excel"></span> Descargar Excel
        </p>
        <!--<input type="button" name="download" value="Descargar" class="form-control btn btn-success btn-md" *ngIf="report != null && report.length > 0" (click)="downloadReport()">-->
      </div>
    </div>
  </div>

  <div class="box box-body">
    <div class="overlay" *ngIf="load === true">
      <i class="fa fa-refresh fa-spin"></i>
    </div>
    <div class="row box-body" *ngIf="report != null && report.length > 0">
      <div class="col-sm-12 table-responsive">
        <table class="table table-striped table-bordered" id="tblReport">
          <thead>
            <tr>
              <th>Código de estudiante</th>
              <th>Nombre</th>
              <th>Facultad</th>
              <th>Carrera</th>
              <th>NRC</th>
              <th>Aula</th>
              <th>Fecha examen</th>
              <th>Parte Período</th>
              <th>Modalidad Estudiante</th>
              <th>Campus</th>
              <!--<th>Código Asignatura</th>-->
              <th>Asignatura</th>
              <!--<th>C1</th>
              <th>EP</th>
              <th>C2</th>
              <th>EF</th>-->
              <th>Cargo</th>
              <th>Deuda</th>
              <th>Abono</th>
              <th>IDSeccion</th>
              <th>Grupo</th>
              <th>Fecha de solicitud</th>
              <th>Justificación</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of report">
              <td>{{data.r1_student_id}}</td>
              <td>{{data.r1_student_name}}</td>
              <td>{{data.r1_name_faculty}}</td>
              <td>{{data.r1_school_name}}</td>
              <td>{{data.r1_nrc}}</td>
              <td>{{data.r1ClassRoom}}</td>
              <td>{{data.r1ExamDate | date: 'dd/MM/yyyy hh:mm:ss a'}}</td>
              <td>{{data.r1_part_period}}</td>
              <td>{{data.r1_modality}}</td>
              <td>{{data.r1_campus_name}}</td>
              <!--<td>{{data.r1_course_id}}</td>-->
              <td>{{data.r1_course_name}}</td>
              <!--<td>{{data.r1_score_c1}}</td>
              <td>{{data.r1_score_ep}}</td>
              <td>{{data.r1_score_c2}}</td>
              <td>{{data.r1_score_ef}}</td>-->
              <td>{{data.r1_ammount}}</td>
              <td>{{data.r1_debt}}</td>
              <td>{{data.r1_deposit}}</td>
              <td>{{data.r1_section_id}}</td>
              <td>{{data.r1_group}}</td>
              <td>{{data.r1_request_date | date: 'dd/MM/yyyy hh:mm:ss a'}}</td>
              <td>{{data.r1_proof}}</td>
            </tr>
            <tr>
              <td colspan="17"></td>
              <td><b>Total: {{report.length}}</b></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
