
<div class="card card-primary hidden-print">
  <div class="header">
    <h3 class="title"><i class="fa fa-calendar"></i> Períodos: <small class="text-primary">disponible sólo a partir del 201710</small></h3>
  </div>
  <div class="body pb-0">
    <loading [text]="'Cargando períodos...'" [size]="'small'" *ngIf="loadingPeriods"></loading>
    <ul class="scrollViewX text-center mt-0 p-1 pb" *ngIf="!loadingPeriods && !errorPeriods.error">
      <li class="scrollViewItem" *ngFor="let term of periods">
        <button class="btn btn-lg btn-outline-primary" [ngClass]="{'bg-primary':currentPeriod==term}"
          (click)="getConsolidatedByPeriod(term)">{{term}}</button>
      </li>
    </ul>
    <callout-component *ngIf="errorPeriods.error" [callout]="errorPeriods.data"></callout-component>
  </div>
</div>

<div class="card card-primary" *ngIf="!errorPeriods.error">
  <div class="header">
    <h3 class="title"><i class="fa fa-calendar"></i> 
      Consolidado de matrícula: <strong class="text-primary">{{currentPeriod}}</strong> 
      <strong *ngIf="consolidate.closeEnrollment.activityDate != undefined">N° 
        {{consolidate.closeEnrollment.activityDate.getDate()+''+(consolidate.closeEnrollment.activityDate.getMonth()+1)+''+consolidate.closeEnrollment.activityDate.getFullYear()}}-{{consolidate.closeEnrollment.activityDate.getHours()+''+consolidate.closeEnrollment.activityDate.getMinutes()}}
      </strong></h3>
  </div>
  <div class="body">
    <div class="row text-center hidden-print" *ngIf="!loadingConsolidate && !errorConsolidate.error">
      <div class="col-lg-4 col-md-4">
        <div class="card">
          <h4 class="title text-bold text-primary">{{student.profile.college.name}}</h4>
          <h5 class="text-secondary">Facultad</h5>
        </div>
      </div>
      <div class="col-lg-6 col-md-8">
        <div class="card">
          <h4 class="title text-bold text-primary">{{student.profile.program.name}}</h4>
          <h5 class="text-secondary">Escuela</h5>
        </div>
      </div>
      <div class="col-lg-2 col-md-6">
        <div class="card">
          <h4 class="title text-bold text-primary">{{currentPeriod}}</h4>
          <h5 class="text-secondary">Período</h5>
        </div>
      </div>
      
      <div class="col-lg-2 col-md-6">
        <div class="card">
          <h4 class="title text-bold text-primary">{{student.id}}</h4>
          <h5 class="text-secondary">Código</h5>
        </div>
      </div>
      <div class="col-lg-7 col-md-8">
        <div class="card">
          <h4 class="title text-bold text-primary">{{student.full_name}}</h4>
          <h5 class="text-secondary">Estudiante</h5>
        </div>
      </div>
      <div class="col-lg-3 col-md-4" *ngIf="consolidate.closeEnrollment.activityDate != undefined">
        <div class="card">
          <h4 class="title text-bold text-primary">
            {{(consolidate.closeEnrollment.activityDate.getDate() < 10)? '0'+consolidate.closeEnrollment.activityDate.getDate():consolidate.closeEnrollment.activityDate.getDate()}}/{{(consolidate.closeEnrollment.activityDate.getMonth()+1 < 10)? '0'+(consolidate.closeEnrollment.activityDate.getMonth()+1):consolidate.closeEnrollment.activityDate.getMonth()}}/{{consolidate.closeEnrollment.activityDate.getFullYear()}}
          </h4>
          <h5 class="text-secondary">Fecha de cierre</h5>
        </div>
      </div>
    </div>
    <div class="row visible-print-block ml" *ngIf="!loadingConsolidate && !errorConsolidate.error">
      <p>Facultad: <strong>{{student.profile.college.name}}</strong></p>
      <p>Escuela: <strong>{{student.profile.program.name}}</strong></p>
      <p>Período: <strong>{{currentPeriod}}</strong></p>
      <p>Código: <strong>{{student.id}}</strong></p>
      <p>Estudiante: <strong>{{student.full_name}}</strong></p>
      <p *ngIf="consolidate.closeEnrollment.activityDate != undefined">Fecha de cierre: <strong>
        {{(consolidate.closeEnrollment.activityDate.getDate() < 10)? '0'+consolidate.closeEnrollment.activityDate.getDate():consolidate.closeEnrollment.activityDate.getDate()}}/{{(consolidate.closeEnrollment.activityDate.getMonth()+1 < 10)? '0'+(consolidate.closeEnrollment.activityDate.getMonth()+1):consolidate.closeEnrollment.activityDate.getMonth()}}/{{consolidate.closeEnrollment.activityDate.getFullYear()}}
      </strong></p>
    </div>
    
    <!-- <pre>{{student | json}}</pre> -->
    <loading [text]="'Cargando consolidado...'" *ngIf="loadingConsolidate"></loading>
    <div class="table-responsive table-material" *ngIf="!loadingConsolidate && !errorConsolidate.error">
      <table class="table">
        <thead class="bg-info text-white">
          <tr>
            <th class="text-center">Código</th>
            <th class="text-center">Asignatura</th>
            <th class="text-center">HT</th>
            <th class="text-center">HP</th>
            <th class="text-center">Créditos</th>
            <th class="text-center">Sección</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let course of consolidate.courses">
            <td class="text-center">{{course.subject+course.nrc}}</td>
            <td>{{course.name}}</td>
            <td class="text-center">{{course.theoreticalHours}}</td>
            <td class="text-center">{{course.practicalHours}}</td>
            <td class="text-center">{{course.credits}}</td>
            <td class="text-center">{{course.nrc}}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr class="bg-info text-white">
            <td></td>
            <td class="text-right"><strong>Totales</strong></td>
            <td class="text-center">{{totalHt}}</td>
            <td class="text-center">{{totalHp}}</td>
            <td class="text-center">{{totalCredits}}</td>
            <td class="text-center"></td>
          </tr>
        </tfoot>
      </table>
    </div>
    <message-student *ngIf="!loadingConsolidate && errorConsolidate.error" [message]="errorConsolidate.data"></message-student>
  </div>
</div>
