.scrollViewX
  overflow-x: auto
  overflow-y: hidden
  padding: 15px 0
  position: relative
  white-space: nowrap
  &::-webkit-scrollbar
    height: 5px
  &::-webkit-scrollbar-track
    +borderRadius(10px)
    +boxShadow(0, 0, 6px, transparent)
  &::-webkit-scrollbar-thumb
    +borderRadius(10px)
    +boxShadow(0, 0, 6px, rgba($black,.3))
    background-color: rgba($black, .4)
  .scrollViewItem
    display: inline-block
    float: none !important
    padding: 0 15px
    position: relative
  &[role="steps"]
    .scrollViewItem
      &:before
        border: 1px solid $gray-400
        bottom: 50%
        content: " "
        position: absolute
        right: 0
        width: 100%
      &:first-child
        &:before
          width: 50%
      &:last-child
        &:before
          width: 50%
          right: 50%

// @media (max-width: $screen-md-max)
//   .scrollViewX
//     &[role="steps"]
//       .scrollViewItem
//         &:before
//           bottom: 58px

// @media (max-width: $screen-sm-max)
//   .scrollViewX
//     &[role="steps"]
//       .scrollViewItem
//         &:before
//           bottom: 51px
