      <div class="box box-info">
          <div class="box-header with-border">
              <h3 class="box-title"><i class="fa fa-flag-o"></i> Reporte Estudiantes UC Matriculados en el Centro de Idiomas Agrupados por Facultad - Programa</h3>
          </div>
          <!-- /.box-header -->
          <!-- form start -->
          <form class="form-horizontal">
              <div class="box-body">
                  <div class="callout callout-info">
                      <h4>Estudiantes UC - CIC</h4>
                      <p>Generación de reportes sobre estudiantes de la Universidad Continental:</p>
                      <ul>
                          <li>Estudiantes UC Matriculados en el Centro de Idiomas</li>
                          <li>Estudiantes UC NO Matriculados en el Centro de Idiomas</li>
                      </ul>
                      <button type="submit" class="btn btn-default"><i class="fa fa-cogs"></i> Generar Reporte</button>
                  </div>
              </div>
              <!-- /.box-body -->
          </form>

      </div>
      <!-- /.box -->

      <div class="row">
          <div class="col-md-6">
              <div class="box box-success">
                  <div class="box-header with-border">
                      <i class="fa fa-thumbs-o-up"></i>
                      <h3 class="box-title">Matriculados</h3>
                  </div>
                  <!-- /.box-header -->
                  <div class="box-body">
                      <div class="callout callout-success">
                          <h4>Reporte Matriculados</h4>
                          <p>Lista de estudiantes de la UC que actualmente se encuentran matriculados en algún idioma del CIC.</p>
                          <button type="submit" class="btn btn-primary"><i class="fa fa-download"></i> Descargar</button>
                      </div>
                  </div>
                  <!-- /.box-body -->
              </div>
              <!-- /.box -->
          </div>
          <!-- /.col -->
          <div class="col-md-6">
              <div class="box box-warning">
                  <div class="box-header with-border">
                      <i class="fa fa-exclamation-triangle"></i>
                      <h3 class="box-title">No Matriculados</h3>
                  </div>
                  <!-- /.box-header -->
                  <div class="box-body">
                      <div class="callout callout-warning">
                          <h4>Reporte NO Matriculados</h4>
                          <p>Lista de estudiantes de la UC que actualmente NO se encuentran matriculados en ningún idioma del CIC.</p>
                          <button type="submit" class="btn btn-primary"><i class="fa fa-download"></i> Descargar</button>
                      </div>
                  </div>
                  <!-- /.box-body -->
              </div>
              <!-- /.box -->
          </div>
          <!-- /.col -->
      </div>
      <!-- /.row -->
