<div class="box box-info">
  <div class="box-header with-border">
    <h3 class="box-title"><i class="fa fa-flag-o"></i> Reporte Documentos Emitidos por el Centro de Idiomas</h3>
  </div>
  <form class="form-horizontal" #searchForm="ngForm">
    <div class="box-body">
      <div class="form-group">
        <label class="col-sm-2 control-label">Idioma CIC</label>
        <div class="col-sm-10 col-md-7">
          <select class="form-control" [(ngModel)]="idioma" name="idioma">
            <option *ngFor="let lang of languages" value="{{lang.languageId}}">{{lang.languageName}}</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Período CIC</label>
        <div class="col-sm-10 col-md-7">
          <select class="form-control" [(ngModel)]="periodo" name="periodo">
            <option *ngFor="let p of periods" value="{{p.period_id}}">{{p.period_id}}</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Programa CIC</label>
        <div class="col-sm-10 col-md-7">
          <select class="form-control" [(ngModel)]="programaIdioma" name="programaIdioma">
            <option *ngFor="let lp of languagePrograms"
                    value="{{lp.languageProgramId}}">{{lp.languageProgramName}}</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10 col-md-7">
          <button type="submit" class="btn btn-info" [disabled]="!isAllSelected()"><i class="fa fa-cogs"></i> Generar
            Reporte
          </button>
          <button type="button" class="btn btn-default" (click)="clean()" [disabled]="!isAnySelected()"><i
              class="fa fa-trash-o"></i>
            Limpiar
          </button>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="row">
  <div class="col-lg-4 col-sm-6 col-xs-12">
    <a class="info-box bg-aqua" [routerLink]="['']">
      <span class="info-box-icon"><i class="fa fa-flag-o"></i></span>
      <div class="info-box-content">
        <span class="info-box-text">Constancia de Matrícula</span>
        <span class="info-box-number">41,410</span>
        <div class="progress">
          <div class="progress-bar width-70"></div>
        </div>
        <span class="progress-description"><i class="fa fa-download"></i> Descargar</span>
      </div>
    </a>
  </div>
  <div class="col-lg-4 col-sm-6 col-xs-12">
    <a class="info-box bg-aqua" [routerLink]="['']">
      <span class="info-box-icon"><i class="fa fa-graduation-cap"></i></span>
      <div class="info-box-content">
        <span class="info-box-text">CAIE</span>
        <span class="info-box-number">41,410</span>
        <div class="progress">
          <div class="progress-bar width-70"></div>
        </div>
        <span class="progress-description"><i class="fa fa-download"></i> Descargar</span>
      </div>
    </a>
  </div>
  <div class="col-lg-4 col-sm-6 col-xs-12">
    <a class="info-box bg-aqua" [routerLink]="['']">
      <span class="info-box-icon"><i class="fa fa-file-text-o"></i></span>
      <div class="info-box-content">
        <span class="info-box-text">Certificado Estudios</span>
        <span class="info-box-number">41,410</span>
        <div class="progress">
          <div class="progress-bar width-70"></div>
        </div>
        <span class="progress-description"><i class="fa fa-download"></i> Descargar</span>
      </div>
    </a>
  </div>
  <div class="col-lg-4 col-sm-6 col-xs-12">
    <a class="info-box bg-aqua" [routerLink]="['']">
      <span class="info-box-icon"><i class="fa fa-bookmark-o"></i></span>
      <div class="info-box-content">
        <span class="info-box-text">Diplomas</span>
        <span class="info-box-number">41,410</span>
        <div class="progress">
          <div class="progress-bar width-70"></div>
        </div>
        <span class="progress-description"><i class="fa fa-download"></i> Descargar</span>
      </div>
    </a>
  </div>
</div>
