<div class="row">
  <div class="col-lg-4 col-sm-6 col-xs-12" *ngFor="let menu of allMenus">
    <a class="card card-clickable card-submodule" [ngClass]="menu.cardStyle" *ngIf="!menu.externalLink" [routerLink]="[menu.uri]">
      <div class="card-image bg-primary">
        <i [ngClass]="[menu.icon]"></i>
      </div>
      <div class="card-content">
        <h3 class="card-title">{{menu.name}}</h3>
        <p class="info text-truncate text-truncate-nsm"><i class="fa fa-arrow-circle-right text-blue"></i> {{menu.description || 'Más información'}}
        </p>
      </div>
    </a>
    <a class="card card-clickable card-submodule" [ngClass]="menu.cardStyle" *ngIf="menu.externalLink" href="{{ menu.uri }}" target="_blank">
      <div class="card-image bg-primary">
        <i [ngClass]="[menu.icon]"></i>
      </div>
      <div class="card-content">
        <h3 class="card-title">{{menu.name}}</h3>
        <p class="info text-truncate text-truncate-nsm"><i class="fa fa-arrow-circle-right text-blue"></i> {{menu.description || 'Más información'}}
        </p>
      </div>
    </a>
  </div>
</div>
