<section class="content">
  <div class="error-page">
    <h2 class="headline text-yellow"> 404</h2>
    <div class="error-content">
      <h3><i class="fa fa-warning text-yellow"></i> Oops! Página no encontrada.</h3>
      <p>No hemos podido encontrar la página que buscabas.<br />
        Mientras tanto, puedes ir a:</p> 
      <ul>
        <li><a [routerLink]="['']"><i class="fa fa-home"></i> página principal</a></li>
        <li><a class="text-yellow hand" onclick="window.history.go(-1); return false;"><i class="fa fa-undo"></i> volver atrás</a></li>
      </ul> 
    </div>
  </div>
</section>
