<section class="content">
    <div class="error-page">
      <h2 class="headline text-yellow"> 401</h2>
      <div class="error-content">
        <h3><i class="fa fa-warning text-yellow"></i> Acceso no autorizado!</h3>
        <p>No tienes permisos para acceder a esta página.<br />
          Mientras tanto, puede ir a:</p>
        <ul>
            <li><a [routerLink]="['']"><i class="fa fa-home"></i> página principal</a></li>
        </ul>
      </div>
    </div>
  </section>
