<div [@fadeInOut] *ngIf="show" class="card card-primary">
  <div class="header">
    <h3 class="title"><svg-icon iconName="alert-circle" iconStyle="solid"></svg-icon> Pasos para tu inicio de clases en el período <strong class="text-primary">{{term.term}}</strong></h3>
  </div>

  <div class="body p-0 pt">
    <!-- Deudas pendiente activas -->
    <div class="col-lg-3 col-md-6">
      <div class="d-flex align-items-center justify-content-center card card-default border-bottom-3 border-orange" (click)="openModal(debtsActives,'payment')"
        [ngClass]="{'border-success bg-white': !debtsActives, 'card-clickable':debtsActives}">
        <div class="bg-orange d-flex justify-content-center align-content-center flex-wrap img-rounded-sm"
          [ngClass]="{'bg-success': !debtsActives}">
          <svg-img imageName="payment" width="40px"></svg-img>
        </div>
        <div class="ml-2">
          <h4 class="m-0 text-orange text-bold" [ngClass]="{'text-success': !debtsActives }">Paso 1 <svg-icon
              iconName="step-start" iconStyle="solid"></svg-icon>
          </h4>
          <h4 class="m-0 text-dark text-bold">Pagos</h4>
          <p class="m-0 text-success text-bold" *ngIf="!debtsActives">
            <i class="fa fa-check-circle" aria-hidden="true"></i> Realizados
          </p>
          <p class="m-0 text-orange text-bold" *ngIf="debtsActives">
            <i class="fa fa-exclamation-circle" aria-hidden="true"></i> Pendientes
          </p>
        </div>
      </div>
    </div>
    
    <!-- Documentos pendientes -->
    <div class="col-lg-3 col-md-6">
      <div class="d-flex align-items-center justify-content-center card card-default border-bottom-3 border-orange" (click)="openModal((requeriments.length > 0),'document')"
        [ngClass]="{'border-success': requeriments.length == 0, 'border-secondary': (requeriments.length > 0 && terms.length <= 1), 'card-clickable':(requeriments.length>0 && !debtsActives)}">
        <div class="bg-orange d-flex justify-content-center align-content-center flex-wrap img-rounded-sm"
          [ngClass]="{'bg-success': (requeriments.length == 0), 'bg-secondary-disabled': (requeriments.length > 0 && terms.length <= 1)}">
          <svg-img imageName="file" width="40px"></svg-img>
        </div>
        <div class="ml-2">
          <h4 class="m-0 text-orange text-bold"
            [ngClass]="{'text-success': (requeriments.length == 0), 'text-secondary-disabled': (requeriments.length > 0 && terms.length <= 1)}">
            Paso 2 <svg-icon iconName="step-next" iconStyle="solid"></svg-icon>
          </h4>
          <h4 class="m-0 text-dark text-bold">Documentos</h4>
          <p class="m-0 text-success text-bold" *ngIf="requeriments.length == 0">
            <i class="fa fa-check-circle" aria-hidden="true"></i> Entregados
          </p>
          <p class="m-0 text-orange text-bold" *ngIf="requeriments.length > 0"
            [ngClass]="{'text-secondary': (requeriments.length > 0 && terms.length <= 1)}">
            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
            Pendientes <span class="badge bg-orange"
              [ngClass]="{'bg-secondary': (requeriments.length > 0 && terms.length <= 1)}">{{requeriments.length}}</span>
          </p>
        </div>
      </div>
    </div>
    
    <!-- Si el estudiante ha seleccionado asignaturas para asistir -->
    <div class="col-lg-3 col-md-6">
      <div class="d-flex align-items-center justify-content-center card card-default border-bottom-3 border-orange" (click)="openModal((courses.length<=0),'subject')"
        [ngClass]="{'border-success': courses.length>0, 'card-clickable': courses.length<=0}">
        <div class="d-flex justify-content-center align-content-center flex-wrap img-rounded-sm bg-orange"
          [ngClass]="{'bg-success': courses.length>0}">
          <svg-img imageName="survey" width="40px"></svg-img>
        </div>
        <div class="ml-2">
          <h4 class="m-0 text-orange text-bold" [ngClass]="{'text-success': courses.length>0}">Paso 3 <svg-icon
              iconName="step-next" iconStyle="solid"></svg-icon>
          </h4>
          <h4 class="m-0 text-dark text-bold">Asignaturas</h4>
          <p class="m-0 text-orange text-bold" *ngIf="courses.length==0">Pendiente</p>
          <p class="m-0 text-success text-bold" *ngIf="courses.length>0">
            <i class="fa fa-check-circle" aria-hidden="true"></i> Incrito en {{courses.length}}
          </p>
        </div>
      </div>
    </div>
    
    <!-- Todo ok -->
    <div class="col-lg-3 col-md-6">
      <div class="d-flex align-items-center justify-content-center card card-default border-bottom-3 border-orange"
        [ngClass]="{'border-success': allOkToClass()}">
        <div class="d-flex justify-content-center align-content-center flex-wrap img-rounded-sm bg-orange"
          [ngClass]="{'bg-success': allOkToClass()}">
          <svg-img imageName="developer" width="40px"></svg-img>
        </div>
        <div class="ml-2">
          <h4 class="m-0 text-orange text-bold" *ngIf="!allOkToClass()">Aún tienes pendientes</h4>
          <h4 class="m-0 text-success text-bold" *ngIf="allOkToClass()">
            <i class="fa fa-check-circle" aria-hidden="true"></i>
            Todo listo para tus clases
          </h4>
        </div>
      </div>
    </div>

  </div>
  <div class="modal fade" id="infoEnrollmentModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
    <div class="modal-dialog modal-md" [ngClass]="{'modal-xl':modalType == 'payment'}" role="document">
      <div class="modal-content">
        <div class="modal-header border-bottom">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h3 class="modal-title text-primary" id="myModalLabel" *ngIf="modalType == 'payment'">Pagos pendientes</h3>
          <h3 class="modal-title text-primary" id="myModalLabel" *ngIf="modalType == 'document'">Documentos pendientes</h3>
          <h3 class="modal-title text-primary" id="myModalLabel" *ngIf="modalType == 'subject'">Asignaturas pendientes</h3>
        </div>
        <div class="modal-body" *ngIf="modalType == 'payment'">
          <h3 class="mt-0">Tienes deudas activas(vencidas o vigentes)</h3>
          <p>Por lo que se le pide que realize el pago de las mismas, para su inicio en el periodo <strong class="text-primary">{{term.term}}</strong>.</p>
          <economic-status></economic-status>
        </div>
        <div class="modal-body" *ngIf="modalType == 'document'">
          <p>Usted tiene documentos pendientes por entregar</p>

          <ul>
            <li *ngFor="let doc of requeriments">{{doc.name}}</li>
          </ul>
        </div>
        <div class="modal-body" *ngIf="modalType == 'subject'">
          <p>No tiene asignaturas seleccionadas</p>
          <p>Para que puedas asistir a clases debes de estar matriculado en por lo menos una asignatura, por lo que te damos dos formas de realizarla.</p>
          <ul>
            <li>Matrícula con el apoyo de la oficina de <strong data-original-title="Centro de Atención y Soluciones" data-placement="top" data-toggle="tooltip">CAS</strong>, tf. 481430 anexo 626</li>
            <li>Hacerlo por mi cuenta desde la plataforma de matrícula llendo a <a class="btn bg-primary" href="https://campusvirtualxe11.continental.edu.pe/StudentRegistrationSsb">Matricularme</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
