@media print
  .card
    border-top-width: 1px
    margin-bottom: $space-print*2 !important
    .header
      padding: 5px
    .title
      font-size: 10px
      &.with-toggle
        .toggle
          display: none
    .body
      padding: 5px
      position: relative
    .card
      margin-bottom: 0 !important
