// grid
@media print
  .row
    position:  relative !important
    margin: 0 !important
  @for $i from 1 through 12
    .col-sm-#{$i}.print-sm
      width: ((100% / 12) * $i) !important
      float: left !important
      margin-bottom: $space-print !important
      padding: 0px 5px !important
    .col-md-#{$i}.print-md
      width: ((100% / 12) * $i) !important
      float: left !important
      margin-bottom: $space-print !important
      padding: 0px 5px !important
    .col-lg-#{$i}.print-lg
      width: ((100% / 12) * $i) !important
      float: left !important
      margin-bottom: $space-print !important
      padding: 0px 5px !important
