//margin
@media print
  .m, .m-1, .m-2, .m-3, .m-4, .m-5
    margin: $space-print !important
  .mt, .mt-1, .mt-2, .mt-3, .mt-4, .mt-5
    margin-top: $space-print !important
  .mr, .mr-1, .mr-2, .mr-3, .mr-4, .mr-5
    margin-right: $space-print !important
  .mb, .mb-1, .mb-2, .mb-3, .mb-4, .mb-5
    margin-bottom: $space-print !important
  .ml, .ml-1, .ml-2, .ml-3, .ml-4, .ml-5
    margin-left: $space-print !important

  .mh, .mx, .mh-1, .mx-1, .mh-2, .mx-2, .mh-3, .mx-3, .mh-4, .mx-4, .mh-5, .mx-5
    margin: 0 $space-print !important
  .mv, .my, .mv-1, .my-1, .mv-2, .my-2, .mv-3, .my-3, .mv-4, .my-4, .mv-5, .my-5
    margin: $space-print 0 !important

  .m-0
    margin: 0 !important
  .mt-0
    margin-top: 0 !important
  .mb-0
    margin-bottom: 0 !important
  .mr-0
    margin-right: 0 !important
  .ml-0
    margin-left: 0 !important
