//padding
@media print
  .p, .p-1, .p-2, .p-3, .p-4, .p-5
    padding: $space-print !important
  .pt, .pt-1, .pt-2, .pt-3, .pt-4, .pt-5
    padding-top: $space-print
  .pr, .pr-1, .pr-2, .pr-3, .pr-4, .pr-5
    padding-right: $space-print !important
  .pb, .pb-1, .pb-2, .pb-3, .pb-4, .pb-5
    padding-bottom: $space-print !important
  .pl, .pl-1, .pl-2, .pl-3, .pl-4, .pl-5
    padding-left: $space-print !important

  .ph, .px, .ph-1, .px-1, .ph-2, .px-2, .ph-3, .px-3, .ph-4, .px-4, .ph-5, .px-5
    padding: 0 $space-print !important
  .pv, .py, .pv-1, .py-1, .pv-2, .py-2, .pv-3, .py-3, .pv-4, .py-4, .pv-5, .py-5
    padding: $space-print 0 !important

  .p-0
    padding: 0 !important
  .pt-0
    padding-top: 0 !important
  .pb-0
    padding-bottom: 0 !important
  .pr-0
    padding-right: 0 !important
  .pl-0
    padding-left: 0 !important
