@media print
  .table-material
    overflow: inherit !important
    table
      margin-bottom: 10px !important 
      border: 1px solid $gray-300
      thead
        tr
          th
            padding: 5px 3px !important
            width: auto !important
            font-size: 10px !important
            font-weight: $font-Bold
            color: $black !important
            vertical-align: middle !important
            background-color: $gray-300 !important
      tbody
        tr
          td
            padding: 5px 3px !important
            vertical-align: middle !important
            font-size: 8px !important
            background-color: $white !important
          &:nth-child(odd), &:nth-child(even), &.selected
            td
              background-color: $white !important

      tfoot
        tr
          th, td
            padding: 5px 3px !important
            font-size: 10px !important
            background-color: $gray-300
