@import ./grid
@import ./card
@import ./table
@import ./displayFlex
@import ./padding
@import ./margin

abbr.no-print-title
  border-bottom: 0 !important
  text-decoration: none !important
  &:after
    content: none !important

// general styles
@media print
  *
    font-size: 10px !important
  p
    margin-bottom: $space-print !important
  hr
    border-top-color: $gray-400 !important
    margin-top: $space-print*3 !important
    margin-bottom: $space-print*3 !important
