﻿@{
    ViewBag.Title = "Frontdesk - Ficha Socieconomica";
    Layout = "~/Views/Shared/_LayoutDeprecated.cshtml";
}

<div ui-view></div>
@section scripts {
    <script type="text/javascript">
    </script>
}