<div *ngIf="claimIdSelected == null">
  <report-card2 [claimNote]="true" (termSelected)="getTerm($event)"></report-card2>

  <div class="card card-primary hidden-print" *ngIf="term != null">
    <div class="header with-toggle">
      <h3 class="title text-bold"><i class="fa fa-list-alt"></i> Reclamos {{term}}
      </h3>
    </div>
    <section class="body text-bold p-0 pt">
      <div class="col-md-12 p-0">
        <div class="table-responsive table-material">
          <table class="table">
            <thead class="bg-info">
              <tr>
                <th class="text-center">Año</th>
                <th class="text-center">Número</th>
                <th class="text-center">Tipo</th>
                <th class="text-center">Asignatura</th>
                <th class="text-center">Fecha</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="loading">
                <td colspan="5">
                  <loading [size]="'small'"></loading>
                </td>
              </tr>
              <tr *ngIf="(noteClaims == null || noteClaims.length <= 0) && !loading">
                <td colspan="5" class="text-center">No tiene ningun reclamo</td>
              </tr>
              <tr *ngFor="let noteClaim of noteClaims" (click)="loading = true; claimIdSelected = noteClaim.id">
                <td class="text-center">{{ noteClaim.year }}</td>
                <td class="text-center">
                  {{ backofficeConfigService.completeStringWithCaracter(noteClaim.noteClaimNumber, '0', 6) }}</td>
                <td class="text-center">{{ noteClaim.type }}</td>
                <td class="text-center">{{ noteClaim.subject.subjetName }}</td>
                <td class="text-center">{{ noteClaim.dateCreated | date: 'dd/MM/yyyy hh:mm' }}</td>
              </tr>
            </tbody>

          </table>

        </div>

      </div>
    </section>
  </div>
</div>

<!--Datos de Reclamo-->
<div class="box box-default" *ngIf="claimIdSelected != null">
  <!--Cabecera-->
  <header class="box-header with-border">
    <h3 class="box-title"><i class="fa fa-file-text"></i> Datos del reclamo</h3>
    <button class="btn btn-info pull-right hidden-print" (click)="loading = true; claimIdSelected = null"><i class="fa fa-reply"></i>
      Volver</button>
    <button class="btn bg-secondary pull-right mr hidden-print" onclick="window.print()"><i class="fa fa-print"></i>
      Imprimir</button>
  </header>
  <!--Fin Cabecera-->
  <loading *ngIf="loading"></loading>
  <!--Reclamo-->
  <oea-view-note-claim [claimId]="claimIdSelected" [getFlow]="true" (endChargue)="chargueDetailsClaim($event)">
  </oea-view-note-claim>
  <!--Fin Reclamo-->
</div>
<!--Fin Datos de Reclamo-->
