<div class="box box-warning" *ngIf="claimSavedId == null">
  <div class="overlay" *ngIf="loading === true">
    <i class="fa fa-refresh fa-spin"></i>
  </div>
  <!--Cabecera-->
  <header class="box-header with-border">
    <i class="fa fa-file-text"></i>
    <h3 class="box-title">Solicitud de reclamo de nota</h3>
  </header>

  <!--Mensajes de validacion de documento-->
  <section class="box-body form-horizontal" *ngIf="noteClaim != null && !noteClaim.isValid">
    <div class="callout callout-warning">
      <h4><i class="fa fa-ban"></i> Error!</h4>
      <p>{{noteClaim.msgValid}}</p>
    </div>
  </section>

  <div class="box-body form-horizontal" *ngIf="noteClaim != null && noteClaim.isValid">
    <!--Descripción del documento-->
    <div class="document-description">
      <div class="card card-default">
        <div class="col-sm-12">
          <h4>Ten en consideración que, este proceso es válido en cumplimiento al <a target="_blank"
              href="https://ucontinental.edu.pe/documentos/informacion_institucional/2019/reglamento-academico.pdf">Artículo
              74 del Reglamento Académico</a>, el cual establece que el trámite de tu solicitud de Revisión de
            la Calificación procede en los siguientes casos:</h4>
          <ul>
            <li>
              Revisión de la calificación: Solicita la revisión de la calificación directamente a tu docente en el
              <b>momento de la corrección del examen y entrega de notas del componente
                en reclamo.</b> Debes de fundamentar académicamente tu revisión.</li>
            <li>
              Rectificación de nota: Solicita la rectificación <b>dentro del día hábil siguiente a la publicación de la
                nota en cualquier componente</b> y recuerda adjuntar la evidencia respectiva.</li>
          </ul>
          <span>En ambos casos, el docente tiene un plazo de dos (2) días hábiles para absolver tu pedido; su decisión
            es inimpugnable y debe informar a Registros Académicos en caso
            tu nota necesite ser rectificada y en cumplimiento al Calendario Académico.</span>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <!--Fin Descripción del documento-->

    <!--Inputs-->

    <!-- tipo-->
    <div class="form-group">
      <label class="col-sm-2 control-label">Solicito</label>
      <div class="col-sm-10">
        <select name="" id="" class="form-control" [(ngModel)]="noteClaim.type">
          <option disabled selected>Selecciona una opción</option>
          <option *ngFor="let type of backofficeConfigService.OEA_TYPES_NOTE_CLAIM" value="{{type.id}}">{{type.name}}
          </option>
        </select>
      </div>
    </div>
    <!-- Fin tipo-->

    <!--Detalle componente solicitado-->
    <div class="form-group">
      <label class="col-sm-2 control-label">De la asignatura</label>
      <div class="col-sm-10">
        <label class="control-label"><b>{{noteClaim.subject.subjetName}}</b> del <b>{{noteClaim.componentData.name}}
            <span *ngIf="noteClaim.subComponentData != null"> - {{noteClaim.subComponentData.name}}</span>
            - de la nota {{noteClaim.scoreClaim}}</b>
        </label>
      </div>
    </div>
    <!-- Fin Detalle componente solicitado-->

    <!-- Motivo -->
    <div class="form-group">
      <label class="col-sm-2 control-label">Por el siguiente motivo<br />
        <small *ngIf="noteClaim.reason ===  '' || !noteClaim.reason" class="text-red form-extra-small">Ingresa el motivo
          de tu reclamo.</small><br>
        <small *ngIf="noteClaim.reason ===  '' || !noteClaim.reason  || noteClaim.reason.trim().length < 5"
          class="text-red form-extra-small">Como mínimo 5 caracteres.</small>
      </label>
      <div class="col-sm-10">
        <textarea class="form-control mt" rows="3" placeholder="Motivo de la solicitud..."
          [(ngModel)]="noteClaim.reason" name="noteClaim.reason"></textarea>
      </div>
    </div>
    <!-- Fin Motivo -->

    <!-- Evidencias fisicas? -->
    <div class="form-group">
      <label class="col-sm-2 control-label">¿Presentarás evidencias físicas?<br />
      </label>
      <div class="col-sm-10">
        <p-inputSwitch name="activeProgram" onLabel="Si" offLabel="No" [(ngModel)]="noteClaim.hasPhysicalEvidence">
        </p-inputSwitch>
      </div>
    </div>
    <!-- Fin Evidencias fisicas? -->

    <!-- Evidencias fisicas? -->
    <div class="form-group">
      <label class="col-sm-2 control-label">Subir evidencias<br />
      </label>
      <div class="col-sm-10">
        <button class="btn btn-sm btn-primary" name="button" type="button"
          data-original-title="Adjunta escaneos, documentos, imágenes o comprimidos." data-placement="top"
          data-toggle="tooltip" (click)="files.push(null)"> <i class="fa fa-plus" data-original-title="Matrícula"
            data-placement="top" data-toggle="tooltip"></i> Agregar evidencia</button>
        <br><br>
        <div *ngFor="let fl of files; let i = index" [attr.data-index]="i" class="row">
          <input type="file" (change)="assignFile($event, i)" class="col-sm-2" style="color:transparent;"
            accept=".xlsx,.xls,image/*,.doc, .docx,.ppt, .pptx,.txt,.pdf,.zip,.rar,.7z">
          <div class="col-sm-4" *ngIf="fl != null">{{fl.name}}</div>
          <div class="col-sm-6" *ngIf="fl == null">No se ha seleccionado ningún archivo</div>
          <div class="col-sm-2">
            <button class="btn btn-sm btn-danger" name="button" type="button" (click)="files.splice(i, 1);"> <i
                class="fa fa-times"></i></button>
          </div>
          <br><br>
        </div>
        <br>
      </div>
    </div>
    <!-- Fin Evidencias fisicas? -->

    <!-- mensaje final -->
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        Solicito derivar a quien corresponda.
      </div>
    </div>
    <!--fin Inputs-->
  </div>

  <!--buttons-->
  <footer class="box-footer">
    <div class="callout callout-warning" *ngIf="msgError != null && msgError.length > 0">
      <h4><i class="fa fa-ban"></i> Error!</h4>
      <p>{{msgError}}</p>
    </div>
    <button type="submit" class="btn btn-default" (click)="location.back();">Cancelar</button>
    <button type="submit" class="btn btn-primary pull-right" (click)="saveClaim()"
      *ngIf="noteClaim != null && noteClaim.isValid" [disabled]="!validateSave()">Guardar reclamo</button>
  </footer>

</div>

<!--Datos de Reclamo-->
<div class="box box-default" *ngIf="claimSavedId != null">
  <!--Cabecera-->
  <header class="box-header with-border">
    <h3 class="box-title"><i class="fa fa-file-text"></i> Datos del reclamo</h3>
    <button class="btn btn-info pull-right hidden-print" (click)="location.back();"><i class="fa fa-reply"></i>
      Volver</button>
    <button class="btn bg-secondary pull-right mr hidden-print" onclick="window.print()"><i class="fa fa-print"></i>
      Imprimir</button>
  </header>
  <!--Fin Cabecera-->

  <!--Reclamo-->
  <oea-view-note-claim [claimId]="claimSavedId" [getFlow]="true" (endChargue)="chargueDetailsClaim($event)">
  </oea-view-note-claim>
  <!--Fin Reclamo-->
</div>
<!--Fin Datos de Reclamo-->