<div class="row">
  <div class="col-md-12" *ngIf="loading && !processing">
    <loading [text]="'Cargando períodos . . .'"></loading>
  </div>
  <div class="col-xs-12" *ngIf="registryTerm">
    <div class="box box-info">
      <div class="box-header with-border">
        <h3 class="box-title">Registro nuevo período</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body" *ngIf="term !== undefined && term !== null">
        <form class="form-horizontal" #termForm="ngForm">
          <div class="form-group">
            <label for="term" class="col-sm-2 control-label">Período</label>
            <div class="col-sm-10 col-md-7">
              <input type="text" class="form-control" id="term" name="term" required="required" minlength="6"
                     maxlength="6" placeholder="Período académico p.e. {{ wata }}10" [(ngModel)]="term.term"
                     #periodo="ngModel">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Fecha inicio</label>
            <div class="col-sm-10 col-md-7">
              <p-calendar [(ngModel)]="term.start_date" dateFormat="dd/mm/yy" [showIcon]="true" [locale]="es"
                          [monthNavigator]="true" [yearNavigator]="true" yearRange="{{wata-100}}:{{wata}}"
                          showButtonBar="true" [readonlyInput]="true" inputStyleClass="isqon-chunka-pichqayoq"
                          styleClass="pachak" [required]="true" name="beginDate" #inicio="ngModel"></p-calendar>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Fecha fin</label>
            <div class="col-sm-10 col-md-7">
              <p-calendar [(ngModel)]="term.end_date" dateFormat="dd/mm/yy" [showIcon]="true" [locale]="es"
                          [monthNavigator]="true" [yearNavigator]="true" yearRange="{{wata-100}}:{{wata}}"
                          showButtonBar="true" [readonlyInput]="true" inputStyleClass="isqon-chunka-pichqayoq"
                          styleClass="pachak" [required]="true" name="endDate" #fin="ngModel"></p-calendar>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-info" [disabled]="!termForm.valid" (click)="save(term)">
                <i class="fa fa-save"></i> Guardar
              </button>
              <button type="submit" class="btn btn-default" (click)="close()">
                <i class="fa fa-trash"></i> Cancelar
              </button>
            </div>
          </div>
        </form>
      </div>
      <!-- /.box-body -->
      <div class="overlay" *ngIf="processing">
        <i class="fa fa-refresh fa-spin"></i>
      </div>
      <!-- end loading -->
    </div>
    <!-- /.box -->
  </div>
  <div class="col-xs-12" *ngIf="termList.length">
    <div class="box box-warning">
      <div class="box-header">
        <h3 class="box-title">Lista de períodos académicos</h3>

        <div class="box-tools pull-right">
          <div class="has-feedback" [hidden]="true">
            <input type="text" class="form-control input-sm" placeholder="Buscar" [(ngModel)]="filter">
            <span class="fa fa-search form-control-feedback"></span>
          </div>
          <div class="has-feedback">
            <button type="button" class="btn btn-default btn-sm" (click)="registryNewTerm()" *ngIf="!registryTerm">
              <i class="fa fa-plus"></i> nuevo
            </button>
            <button type="button" class="btn btn-default btn-sm" (click)="close()" *ngIf="registryTerm">
              <i class="fa fa-times"></i> cancelar
            </button>
          </div>
        </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
          <thead>
          <tr>
            <th></th>
            <th>Período</th>
            <th>Inicio</th>
            <th>Fin</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let term of termList"
              [ngClass]="{'info': term.active, 'warning': term.edit}">
            <td class="text-center"><i class="fa fa-clock-o" *ngIf="term.active"></i></td>
            <td>{{ term.term }}</td>
            <td>
              <span [hidden]="term.edit === true">{{ term.start_date | date:'mediumDate' }}</span>
              <span [hidden]="term.edit === false">
                <p-calendar [(ngModel)]="term.start_date" dateFormat="dd/mm/yy" [showIcon]="true" [locale]="es"
                            [monthNavigator]="true" [yearNavigator]="true" yearRange="{{wata-100}}:{{wata}}"
                            showButtonBar="true" [readonlyInput]="true"></p-calendar>
              </span>
            </td>
            <td>
              <span [hidden]="term.edit === true">{{ term.end_date | date:'mediumDate' }}</span>
              <span [hidden]="term.edit === false">
                <p-calendar [(ngModel)]="term.end_date" dateFormat="dd/mm/yy" [showIcon]="true" [locale]="es"
                            [monthNavigator]="true" [yearNavigator]="true" yearRange="{{wata-100}}:{{wata}}"
                            showButtonBar="true" [readonlyInput]="true"></p-calendar>
              </span>
            </td>
            <td>
              <button type="button" class="btn btn-primary btn-xs" *ngIf="!term.edit" (click)="term.edit = true">
                <i class="fa fa-pencil"></i>
              </button>
              <button type="button" class="btn btn-success btn-xs" *ngIf="term.edit" (click)="update(term)">
                <i class="fa fa-save"></i>
              </button>
              <button type="button" class="btn btn-danger btn-xs" *ngIf="term.edit" (click)="delete(term)">
                <i class="fa fa-trash"></i>
              </button>
              <button type="button" class="btn btn-warning btn-xs" *ngIf="term.edit" (click)="cancel(term)">
                <i class="fa fa-times"></i>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <!-- /.box-body -->
      <div class="overlay" *ngIf="processing">
        <i class="fa fa-refresh fa-spin"></i>
      </div>
      <!-- end loading -->
    </div>
    <!-- /.box -->
  </div>
</div>
