<div class="row">
  <div class="col-md-12">
    <div class="box box-default">
      <header class="box-header with-border">
        <h3 class="box-title"><i class="fa fa-search"></i> Filtros: Reporte de egresados</h3>
      </header>
      <div class="box-body">
        <!-- -----------------filters--------------------------->
        <div *ngFor="let search of search_data;let i=index;" class="d-inline-block p" style="margin-right:10px;margin-top:5px;margin-bottom:15px;background-color:#eee;">
          <p>{{search.name}}</p>
          <div class="btn-group">
            <button type="button" class="btn btn-sm" [ngClass]="{'btn-primary': search.has,'btn-default': !search.has }" (click)="changeValue(i,'has')">
              <span class="glyphicon glyphicon-ok"></span>
            </button>
            <button type="button" class="btn btn-sm"  [ngClass]="{'btn-primary': search.hasnt,'btn-default': !search.hasnt }" (click)="changeValue(i,'hasnt')">
              <span class="glyphicon glyphicon-remove"></span>
            </button>
          </div>
        </div>
          <!-- botones -->
        <span class="btn btn-primary" (click)="searchGraduates()">Buscar</span>
        <button ng-show="students.length" class="btn btn-success btn-lg pull-right" (click)="table2excel()"  *ngIf="graduates.length">Descargar</button>

      </div>
      <section class="box-body no-padding" *ngIf="graduates.length">
        <div class="table-responsive">
          <table class="table table-hover table-striped table-bordered" id="table-graduates">
            <thead>
              <tr>
                <th>DNI</th>
                <th>Estudiante</th>
                <th>Carrera</th>
                <th>Semestre de ingreso</th>
                <th>Semestre de egreso</th>
                <th>Título</th>
                <th>Bachiller</th>
                <th>Proyección</th>
                <th>Idioma</th>
                <th>Práctica</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let graduate of graduates">
                <td>{{graduate.dni}} </td>
                <td>{{graduate.student_name}} </td>
                <td>{{graduate.program_description}} </td>
                <td>{{graduate.first_semester}} </td>
                <td>{{graduate.last_semester}} </td>
                <td>
                  <span [hidden]="1">
                    <span *ngIf="graduate.degree">si</span>
                    <span *ngIf="!graduate.degree">no</span>
                  </span>
                  <i class="fa fa-check" *ngIf="graduate.degree"></i>
                  <i class="fa fa-close" *ngIf="!graduate.degree"></i>
                </td>
                <td>
                  <span [hidden]="1">
                    <span *ngIf="graduate.bachelor" >si</span>
                    <span *ngIf="!graduate.bachelor" >no</span>
                  </span>
                  <i class="fa fa-check" *ngIf="graduate.bachelor"></i>
                  <i class="fa fa-close" *ngIf="!graduate.bachelor"></i>
                </td>
                <td>
                  <span [hidden]="1">
                    <span *ngIf="graduate.projection">si</span>
                    <span *ngIf="!graduate.projection">no</span>
                  </span>
                  <i class="fa fa-check" *ngIf="graduate.projection"></i>
                  <i class="fa fa-close" *ngIf="!graduate.projection"></i>
                 </td>
                <td>
                  <span [hidden]="1">
                    <span *ngIf="graduate.language">si</span>
                    <span *ngIf="!graduate.language">no</span>
                  </span>
                  <i class="fa fa-check" *ngIf="graduate.language"></i>
                  <i class="fa fa-close" *ngIf="!graduate.language"></i>
                 </td>
                <td>
                  <span [hidden]="1">
                    <span *ngIf="graduate.practice">si</span>
                    <span *ngIf="!graduate.practice">no</span>
                  </span>
                  <i class="fa fa-check" *ngIf="graduate.practice"></i>
                  <i class="fa fa-close" *ngIf="!graduate.practice"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
      <div class="box-footer">
      </div>
    </div>
  </div>
</div>
