<loading *ngIf="document_stat === 'pre'"></loading>

<div class="box box-warning" *ngIf="document_stat === 'on'">
  <header class="box-header with-border">
    <h3 class="box-title"><i class="fa fa-file-text"></i> Creación de solicitud: Convalidación de asignaturas</h3>
  </header>
  <section class="box-body form-horizontal">
    <!-- Detalles de la solicitud -->
    <div class="document-description">
      <blockquote>
          <strong>La convalidación de asignaturas</strong> se refiere al reconocimiento oficial que le da 
          validez a los estudios que llevaste previamente en otra institución o carrera, permitiéndote disminuir la 
          carga académica o, en su defecto, la duración de la carrera a elegir en nuestra universidad.
        <button class="btn btn-success btn-xs" (click)="seeDemo=!seeDemo"><i class="fa fa-file"></i> ver ejemplo</button>
      </blockquote>
      <div *ngIf="seeDemo" class="text-center">
        <div class="card card-default d-inline-block">
          <img class="img-responsive" [src]="configServiceFile._BASE_URI+'Content/static/images/docs/transferResolution.jpg'" alt="doc">
          <br>
          <button (click)="seeDemo = false" class="btn bg-secondary text-white"><i class="fa fa-times"></i> Cerrar</button>
        </div>
      </div>
    </div>

    <!-- Solicito .. -->
    <div class="form-group">
      <label class="col-sm-2 control-label">Solicito</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" value="Convalidación de asignaturas" disabled>
      </div>
    </div>

    <!-- convalidaciones previas -->
    <div class="row" *ngIf="document.transfers.length>0">
      <div class="col-sm-2"></div>
      <div class="col-sm-10">
        <div class="card card-info">
          <h3 class="text-info text-bold">Usted cuenta con convalidaciones anteriores:</h3>
          <p>¿Desea solicitar una ampliación?
            <a [routerLink]="['ampliacion']" class="btn bg-info text-white">Solicitar</a>
          </p>
          <ul class="list-group">
            <li class="list-group-item border-info text-black" *ngFor="let transfer of document.transfers">{{transfer.institution_name}} - {{transfer.term}}</li>
          </ul>
          <div class="ico text-info">
            <i class="fa fa-info fa-2x"></i>
          </div>
        </div>
      </div>
    </div>


    <!-- Tipo de Convalidación-->
    <div class="form-group">
      <label class="col-sm-2 control-label">Sugerencias</label>
      <div class="col-sm-10">
        <div class="form-group pr">
          <ul>
            <li>Son convalidables aquellas asignaturas cuyo contenido y creditaje son equivalentes a nuestros planes 
              de estudios actuales.</li>
            <li>La aprobación de las convalidaciones compete a cada coordinador de la escuela académico profesional</li>
            <li>Asignatura matriculada en nuestro plan de estudios, asignatura que no se convalida.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Requisitos</label>
        <div class="col-sm-10">
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th colspan="5" class="text-center"> Requisitos para convalidaciones</th>
                </tr>
                <tr>
                  <td colspan="5">
                    <em>Estos documentos se deben entrega en el lapso de 3 días calendario en la oficina del Centro de Atención y Soluciones,
                      de lo contrario la solicitud será cancelada.</em>
                  </td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="text-center va-middle" rowspan="3">
                    &nbsp;
                    <img class="size-full aligncenter" src="https://ucontinental.edu.pe/web/wp-content/uploads/2016/08/isotipo-black-ucontinental.png"
                      alt="" height="47">
                  </td>
                  <td class="text-center" colspan="4">Copia de pago por derecho de matrícula</td>
                </tr>
                <tr>
                  <td class="text-center" colspan="4">Solicitud</td>
                </tr>
                <tr>
                  <td class="text-center" colspan="2">Institutos</td>
                  <td class="text-center" colspan="2">Universidades</td>
                </tr>
                <tr>
                  <td>
                    <em>&nbsp;</em>
                  </td>
                  <td class="va-middle text-center">
                    <strong>Instituto Continental</strong>
                  </td>
                  <td class="va-middle text-center">
                    <strong>Otros institutos</strong>
                  </td>
                  <td class="va-middle text-center">
                    <strong>Universidad Continental</strong>
                  </td>
                  <td class="va-middle text-center">
                    <strong>Otras Universidades</strong>
                  </td>
                </tr>
                <tr>
                  <td class="va-middle">
                    <strong>Certificado de estudio original</strong>
                  </td>
                  <td class="va-middle">Certificado de estudio original + certificado adicional</td>
                  <td class="va-middle">Certificado de estudio original</td>
                  <td class="va-middle">Historial académico</td>
                  <td class="va-middle">Certificado de estudio original</td>
                </tr>
                <tr>
                  <td class="va-middle">
                    <strong>Sílabos</strong>
                  </td>
                  <td class="va-middle"></td>
                  <td class="va-middle">Sílabos fedateados por la institución de origen</td>
                  <td class="va-middle"></td>
                  <td class="va-middle">Sílabos fedateados por la institución de origen</td>
                </tr>
                <tr>
                  <td class="va-middle">
                    <strong>Título profesional</strong>
                  </td>
                  <td class="va-middle">Certificado de egresado y/o copia legalizada del título profesional</td>
                  <td class="va-middle">Certificado de egresado y/o copia legalizada del título profesional</td>
                  <td class="va-middle"></td>
                  <td class="va-middle"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
    </div>

    <!-- Descripción -->
    <div class="form-group">
      <label class="col-sm-2 control-label">Por el siguiente motivo<br/>
        <small *ngIf="description ===  '' || !description" class="text-red form-extra-small">Ingresa el motivo de tu solicitud</small>
      </label>
      <div class="col-sm-10">
        <textarea class="form-control mt" rows="3" placeholder="Motivo de la solicitud..." [(ngModel)]="description" name="description"></textarea>
      </div>
    </div>
    <!-- mensaje final -->
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        Solicito derivar a quien corresponda.
      </div>
    </div>
    <!-- mensaje de error -->
    <div class="form-group" *ngIf="error_message !==  ''">
      <div class="col-sm-offset-2 col-sm-10">
        <div class="alert alert-danger alert-dismissible">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <h4><i class="icon fa fa-ban"></i> Error!</h4> {{error_message}}
        </div>
      </div>
    </div>
  </section>
  <!-- /.box-body -->
  <footer class="box-footer">
    <button type="submit" class="btn btn-primary pull-right" (click)="createDocument($event, description)" [disabled]="description ===  '' || !description">Generar solicitud</button>
  </footer>
  <!-- /.box-footer -->
</div>
<div *ngIf="document_stat === 'post'">
  <abstract-request [student]="student" [document]="document.name" [request]="request" [description]="description">
  </abstract-request>
</div>
