<loading *ngIf="document_stat === 'pre'"></loading>

<div class="box box-warning" *ngIf="document_stat === 'on'">
  <header class="box-header with-border">
    <i class="fa fa-file-text"></i>
    <h3 class="box-title">Creación de solicitud: Ampliación de Convalidación de asignaturas</h3>
  </header>
  <section class="box-body form-horizontal">
    <div class="document-description">
      <blockquote>
          La ampliación de convalidación de asignaturas se refiere cuando el 
          estudiante solicita la reevaluación de las asignaturas no 
          convalidados en su primer trámite de convalidación.
        <button class="btn btn-success btn-xs" (click)="seeDemo=!seeDemo"><i class="fa fa-file"></i> ver ejemplo</button>
      </blockquote>
      <div *ngIf="seeDemo" class="text-center">
        <div class="card card-default d-inline-block">
          <img class="img-responsive" [src]="configServiceFile._BASE_URI+'Content/static/images/docs/transferResolution.jpg'" alt="doc">
          <br>
          <button (click)="seeDemo = false" class="btn bg-secondary text-white"><i class="fa fa-times"></i> Cerrar</button>
        </div>
      </div>
    </div>

    <!-- Solicito .. -->
    <div class="form-group">
      <label class="col-sm-2 control-label">Solicito</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" value="Ampliación de Convalidación de asignaturas" disabled>
      </div>
    </div>
    
    <!-- Sugerencias -->
    <div class="form-group">
      <label class="col-sm-2 control-label">Sugerencias</label>
      <div class="col-sm-10">
        <div class="form-group pr">
          <ul>
            <li>Son convalidables aquellas asignaturas cuyo contenido y creditaje son equivalentes a nuestros planes 
              de estudios actuales.</li>
            <li>La aprobación de las convalidaciones compete a cada coordinador de la escuela académico profesional</li>
            <li>Asignatura matriculada en nuestro plan de estudios, asignatura que no se convalida.</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Requisitos -->
    <div class="form-group">
        <label class="col-sm-2 control-label">Requisitos</label>
        <div class="col-sm-10">
        <div class="form-group pr">
          <p>
            <strong> * Estos requisitos no son obligatorios y dependen 
              del trámite que se desea realizar.</strong>
              <br>
            <em>
              Los documentos a entregar deben presentarce en el área de 
              convalidaciones en los próximos X días calendarios al 
              registro de la solicitud.
            </em>
          </p>
          <ul>
            <li>Certificado de estudios original.</li>
            <li>Sílabos fedateados por la institución de origen.</li>
            <li>Historial académico.</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- lista de convalidaciones previas -->
    <div class="form-group" *ngIf="document.transfers.length > 0">
      <div class="col-sm-12 col-md-10">
        <p>Seleccione una de las convalidaciones sobre la cual desea realizar la ampliación.</p>
        <ul class="list-group col-sm-12">
          <li class="list-group-item col-sm-12" *ngFor="let transfer of document.transfers; let i = index;">
            <div class="col-sm-6 col-md-3 text-center">
              <p>{{transfer.term}} - {{transfer.tseq}} - {{transfer.seq}}</p>
            </div>
            <div class="col-sm-6 col-md-8 text-center">
              <p>{{transfer.institution_name}}</p>
            </div>
            <div class="col-sm-12 col-md-1 text-center">
              <div class="checkbox">
                <label>
                  <input class="ng-valid ng-dirty ng-touched" type="radio" [value]="transfer" [(ngModel)]="select_transfer" required>
                </label>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <!-- Tipo de Convalidación-->
    <div class="form-group">
      <label class="col-sm-2 control-label">Asignatura</label>
      <div class="col-sm-10">
        <div class="form-group">
          <p>Acontinuación seleccione las asignatura que concidera se le deben convalidar.</p>
        </div>
      </div>
    </div>

    <!-- buscador de asignatura pendientes -->
    <div class="form-group text-center">
      <div class="col-md-10 col-md-offset-2">
        <div class="input-group">
          <input type="text" [(ngModel)]="filter" class="form-control" placeholder="Search for...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button"><i class="fa fa-search fa-lg"></i></button>
          </span>
        </div>
      </div>
    </div>
    <div class="form-group" [hidden]="filter ===  '' || !filter">
      <div class="col-md-10 col-md-offset-2">
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let course of courses | loopFilter: filter; let i = index;">
            <p>{{course.name}} <a class="btn btn-primary pull-right" (click)="addCourseConvalidate(course)"><i class="fa fa-plus fa-lg"></i> Agregar</a></p>
          </li>
        </ul>
      </div>
    </div>

    <!-- Lista de coursos a convalidar -->
    <div class="form-group">
      <div class="col-md-10 col-md-offset-2">
        <table class="table" [hidden]="!ampliaciones || ampliaciones.length === 0">
          <thead>
            <tr>
              <th class="text-center">U. Continental</th>
              <th class="text-center">Otro</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let ampliacion of ampliaciones">
              <th><span class="label label-warning" (click)="removeCourseConvalidate(ampliacion)">Quitar</span> {{ampliacion.name}}</th>
              <th>
                <input type="text" class="form-control" [(ngModel)]="ampliacion.course_convalidator" placeholder="Nombre de la asignatura con el que convalidara">
              </th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>


    <!-- mensaje final -->
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        Solicito derivar a quien corresponda.
      </div>
    </div>
    <!-- mensaje de error -->
    <div class="form-group" *ngIf="error_message !==  ''">
      <div class="col-sm-offset-2 col-sm-10">
        <div class="alert alert-danger alert-dismissible">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <h4><i class="icon fa fa-ban"></i> Error!</h4> {{error_message}}
        </div>
      </div>
    </div>
  </section>
  <!-- /.box-body -->
  <footer class="box-footer">
    <button type="submit" class="btn btn-primary pull-right" (click)="createDocument($event)" [disabled]="validator()">Generar solicitud</button>
  </footer>
  <!-- /.box-footer -->
</div>
<div *ngIf="document_stat === 'post'">
  <abstract-request [student]="student" [document]="document.name" [request]="request" [description]="description">
  </abstract-request>
</div>
