<req-debts-message [student]="student"></req-debts-message>

<loading *ngIf="documentStatus === 'pre'"></loading>

<div class="box box-warning" *ngIf="documentStatus === 'on'">
  <header class="box-header with-border">
    <i class="fa fa-file-text"></i>
    <h3 class="box-title">Creación de solicitud: Constancia de ingreso</h3>
  </header>
  <section class="box-body form-horizontal">
    <div class="document-description">
      <blockquote>
        Es el documento que detalla el ingreso del estudiante a la Universidad Continental.
        <button class="btn btn-warning btn-xs" (click)="seeDetails=!seeDetails"><i class="fa fa-eye"></i> ver detalles</button>
        <button class="btn btn-success btn-xs" (click)="seeDemo=!seeDemo"><i class="fa fa-file"></i> ver ejemplo</button>
      </blockquote>
      <div class="row" class="card card-default" *ngIf="seeDetails">
        <div class="col-sm-6">
          <h4>Requisitos</h4>
          <ul>
            <li>No tener deudas pendientes del período actual o anterior.</li>
            <li>No tener pendiente la entrega de documentos.</li>
            <li>El trámite de la constancia de ingreso es gratuito la primera vez, posteriormente tiene un costo de S/
              15.00. Además del recibo de pago de este monto, se debe pagar el derecho de trámite por un S/ 1.00.</li>
          </ul>
          <small>
            * El pago se puede efectuar en caja de la Universidad Continental, agentes autorizados (Scotiabank, BBVA y Caja
            Centro) y vía online.
          </small>
        </div>
        <div class="col-sm-6">
          <h4>Consideraciones</h4>
          <ul>
            <li>Todo trámite se realiza utilizando tus credenciales de acceso al Campus virtual que te identifica como
              el titular.</li>
            <li>La entrega de la constancia de ingreso se puede realizar de <b>forma virtual</b> (a través del correo
              electrónico institucional) o <b>en los módulos del Centro de Atención y Soluciones</b>.</li>
            <li>Para la entrega del documento en los módulos, debes presentar tu DNI, caso contrario una copia simple
              del DNI del interesado con una carta poder simple.</li>
            <li>El documento será tramitado en dos horas, aproximadamente, según horario de oficina.</li>
          </ul>
        </div>
        <div class="clearfix"></div>
      </div>
      <div *ngIf="seeDemo" class="text-center">
        <div class="card card-default d-inline-block">
          <img class="img-responsive" [src]="configServiceFile._BASE_URI+'Content/static/images/docs/entryProof.jpg'" alt="doc">
          <br>
          <button (click)="seeDemo = false" class="btn bg-secondary text-white"><i class="fa fa-times"></i> Cerrar</button>
        </div>
      </div>
    </div>
    <!-- Solicito .. -->
    <div class="form-group">
      <label class="col-sm-2 control-label">Solicito</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" value="Constancia de ingreso" disabled>
      </div>
    </div>
    <!-- Monto a pagar-->
    <div class="form-group">
      <label class="col-sm-2 control-label">Monto a pagar</label>
      <div class="col-sm-10 text-green form-amount" *ngIf="document.first_request === true">
        S/ 0.00
        <small class="text-red form-extra-small"> Por ser la primera vez esta solicitud no tiene costo alguno.</small>
      </div>
      <div class="col-sm-10 text-green form-amount" *ngIf="document.first_request === false">
        S/ {{ (document.cost.amount + 1) | number:'2.2-2'}}
      </div>
    </div>
    <!-- Descripción -->
    <div class="form-group">
      <label class="col-sm-2 control-label">Por el siguiente motivo<br />
        <small *ngIf="description ===  '' || !description" class="text-red form-extra-small">Ingresa motivo de
          solicitud</small>
      </label>
      <div class="col-sm-10">
        <span *ngFor="let reason of listDocumentReasons">
          <button class="btn btn-default btn-flat" (click)="setReason(reason.message)">
            {{ reason.id }}
          </button>
        </span>
        <textarea class="form-control mt" rows="3" placeholder="Motivo de la solicitud..." [(ngModel)]="description"
          name="description"></textarea>
      </div>
    </div>
    <!-- mensaje final -->
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        Solicito derivar a quien corresponda.
      </div>
    </div>
    <!-- mensaje de error -->
    <div class="form-group" *ngIf="errorMessage !==  ''">
      <div class="col-sm-offset-2 col-sm-10">
        <div class="alert alert-danger alert-dismissible">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <h4><i class="icon fa fa-ban"></i> Error!</h4>
          {{errorMessage}}
        </div>
      </div>
    </div>
  </section>
  <!-- /.box-body -->
  <footer class="box-footer">
    <button type="submit" class="btn btn-danger" onclick="window.history.go(-1); return false;">Cancelar</button>
    <button type="submit" class="btn btn-primary pull-right" (click)="createDocument($event, description)" [disabled]="description ===  '' || !description">Generar
      solicitud</button>
  </footer>
  <!-- /.box-footer -->
</div>
<div *ngIf="documentStatus === 'post'">
  <abstract-request [student]="student" [document]="document.name" [request]="request" [description]="description"></abstract-request>
</div>
