<req-debts-message [student]="student"></req-debts-message>
<div class="box box-warning" *ngIf="document_stat === 'pre'">
  <loading></loading>
</div>
<div class="">

</div>

<div class="box box-warning" *ngIf="document_stat === 'on'">
  <header class="box-header with-border">
    <i class="fa fa-file-text"></i>
    <h3 class="box-title">Creación de solicitud:
      {{document.name}}</h3>
  </header>

  <section class="box-body form-horizontal">
    <div class="document-description">
      <blockquote>
        Es el documento que acredita los períodos académicos en que el estudiante perteneció al tercio, quinto o décimo
        superior.
        <button class="btn btn-warning btn-xs" (click)="seeDetails=!seeDetails">
          <i class="fa fa-eye"></i> ver detalles</button>
        <button class="btn btn-success btn-xs" (click)="seeDemo=!seeDemo">
          <i class="fa fa-file"></i> ver ejemplo</button>
      </blockquote>
      <div class="row" class="card card-default" *ngIf="seeDetails">
        <div class="col-sm-6">
          <h4>Requisitos</h4>
          <ul>
            <li>Debes pertenecer al tercio, quinto o décimo superior.</li>
            <li>No tener deudas pendientes del período actual o anterior.</li>
            <li>No tener pendiente la entrega de documentos.</li>
            <li>Realizar el pago por constancia de tercio, quinto o décimo superior y derecho de trámite: S/ 15.00 y
              S/1.00,
              respectivamente.</li>
          </ul>
          <small>
            * El pago se puede efectuar en caja de la Universidad Continental, agentes autorizados (Scotiabank, BBVA y Caja
            Centro) y vía online.
          </small>
        </div>
        <div class="col-sm-6">
          <h4>Consideraciones</h4>
          <ul>
            <li>Todo trámite se realiza utilizando tus credenciales de acceso al Campus virtual que te identifica como
              el titular.</li>
            <li>La entrega de la constancia de tercio, quinto, décimo superior se puede realizar de
              <b>forma virtual</b> (a través del correo electrónico institucional)
              <b>o en los módulos del Centro de Atención y Soluciones</b>.</li>
            <li>Para la entrega del documento en los módulos, debes presentar tu DNI, caso contrario una copia simple
              del DNI
              del interesado con una carta poder simple.</li>
            <li>El documento será tramitado en dos horas, aproximadamente, en horario de oficina.</li>
          </ul>
        </div>
        <div class="clearfix"></div>
      </div>
      <div *ngIf="seeDemo" class="text-center">
        <div class="card card-default d-inline-block">
          <img class="img-responsive" [src]="configServiceFile._BASE_URI+'Content/static/images/docs/proof3510Promo.jpg'"
            alt="doc">
          <br>
          <button (click)="seeDemo = false" class="btn bg-secondary text-white"><i class="fa fa-times"></i> Cerrar</button>
        </div>
      </div>
    </div>
    <!-- Solicito .. -->
    <div class="form-group">
      <label class="col-sm-2 control-label">Solicito</label>

      <div class="col-sm-10">
        <input type="text" class="form-control" value="{{document.name}}" disabled>
      </div>
    </div>
    <!-- Error message -->
    <section class="box-body form-horizontal" *ngIf="document.promo === null">
      <div class="callout callout-danger">
        <h4><i class="fa fa-info"></i> Aviso</h4>
        <p>Usted no puede solicitar el documento, por no alcanzar el tercio superior.</p>
      </div>
    </section>
    <div *ngIf="document.promo !== null">
      <div class="form-group">
        <label class="col-sm-2 control-label">Detalle</label>
        <div class="col-sm-10">
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th> Período</th>
                  <th> Cumplimiento</th>
                  <th> Nota</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td> {{document.promo.term}}</td>
                  <td> {{document.promo.order}}</td>
                  <td> {{document.promo.score}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Monto a pagar</label>
        <div class="col-sm-10 text-green form-amount">
          S/ {{formCost() | number:'2.2-2'}}
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Por el siguiente motivo<br />
          <small *ngIf="description ===  '' || !description" class="text-red form-extra-small">Ingresa motivo de
            solicitud</small>
        </label>

        <div class="col-sm-10">
          <span *ngFor="let reason of list_document_reasons">
            <button class="btn btn-default btn-flat" (click)="setReason(reason.message)">
              {{ reason.id }}
            </button>
          </span>
          <textarea class="form-control mt" rows="3" placeholder="Motivo de la solicitud..." [(ngModel)]="description"
            name="description"></textarea>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          Solicito derivar a quien corresponda.
        </div>
      </div>
      <div class="form-group" *ngIf="error_message !==  ''">
        <div class="col-sm-offset-2 col-sm-10">
          <div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h4>
              <i class="icon fa fa-ban"></i>
              Error!</h4>
            {{error_message}}
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /.box-body -->
  <div class="box-footer">
    <button type="submit" class="btn btn-default">Cancelar</button>
    <button type="submit" class="btn btn-primary pull-right" (click)="createDocument($event, description)" [disabled]="formCost() === 1 || description ===  '' || !description || document.promo === null">
      Generar solicitud
    </button>
  </div>
  <!-- /.box-footer -->
</div>

<div *ngIf="document_stat === 'post'">
  <abstract-request [student]="student" [document]="document.name" [request]="request" [description]="description"></abstract-request>
</div>
