<req-debts-message [student]="student"></req-debts-message>
<!-- loading -->
<div class="box box-default" *ngIf="document_stat === 'pre'">
  <loading></loading>
</div>

<div class="box box-warning" *ngIf="document_stat === 'on'">
  <!-- header -->
  <header class="box-header with-border">
    <i class="fa fa-file-text"></i>
    <h3 class="box-title">Creación de solicitud: Constancia de estudios personalizada</h3>
  </header>
  <!-- no validation -->
  <section class="box-body form-horizontal" *ngIf="!document.is_valid">
    <div class="callout callout-danger">
      <h4><i class="fa fa-ban"></i> Error!</h4>
      <p>{{document.stack_error}}</p>
    </div>
  </section>

  <section class="box-body form-horizontal" *ngIf="document.is_valid">
    <div class="document-description">
      <blockquote>
        Documento personalizado en el contenido, detallado por el estudiante y aprobado por la oficina de Registros
        Académicos.
        <button class="btn btn-warning btn-xs" (click)="seeDetails=!seeDetails"><i class="fa fa-eye"></i> ver
          detalles</button>
      </blockquote>
      <div class="row" class="card card-default" *ngIf="seeDetails">
        <div class="col-sm-6">
          <h4>Requisitos</h4>
          <ul>
            <li>No tener deudas pendientes del período actual o anterior.</li>
            <li>No tener pendiente la entrega de documentos.</li>
            <li>Realizar el pago por constancia personalizada y derecho de trámite: S/ 30.00 y S /1.00,
              respectivamente.</li>
          </ul>
          <small>
            * El pago se puede efectuar en caja de la Universidad Continental, agentes autorizados (Scotiabank, BBVA y Caja
            Centro) y vía online.
          </small>
        </div>
        <div class="col-sm-6">
          <h4>Consideraciones</h4>
          <ul>
            <li>Debes detallar el contenido de la constancia personalizada a solicitar.</li>
            <li>Todo trámite se realiza utilizando tus credenciales de acceso al campus virtual que te identifica como
              el titular.</li>
            <li>La entrega de la constancia personalizada se puede realizar de <b>forma virtual</b> (a través del
              correo electrónico institucional) o <b>en los módulos del Centro de Atención y Soluciones</b>.</li>
            <li>Para la entrega del documento en los módulos debes presentar su DNI, caso contrario una copia simple
              del DNI del interesado con una carta poder simple.</li>
            <li>El documento será tramitado en tres días hábiles, aproximadamente.</li>
          </ul>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <!-- Solicito .. -->
    <div class="form-group">
      <label class="col-sm-2 control-label">Solicito</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" value="Constancia de estudios personalizada" disabled>
      </div>
    </div>
    <!-- options-->
    <div class="form-group">
      <label class="col-sm-2 control-label">
        <i class="fa fa-exclamation-triangle"></i>
        Detalles
      </label>
      <div class="col-sm-10">
        <p> Rellena detalladamente lo que requieres de esta solicitud, y esta será evaluada por el área pertinente.</p>
      </div>
    </div>
    <!-- Monto a pagar-->
    <div class="form-group" *ngIf="type!=2">
      <label class="col-sm-2 control-label">Monto a pagar</label>
      <div class="col-sm-10 text-green form-amount">
        S/ {{document.cost.amount + 1 | number:'2.2-2'}} <br>
        <small> El monto será cargado solo si se acepta la solicitud.</small>
      </div>
    </div>
    <!-- Descripción -->
    <div class="form-group">
      <label class="col-sm-2 control-label">Por el siguiente motivo<br />
        <small *ngIf="description ===  '' || !description" class="text-red form-extra-small">Ingresa motivo de
          solicitud</small>
      </label>
      <div class="col-sm-10">
        <textarea class="form-control mt" rows="3" placeholder="Motivo de la solicitud..." [(ngModel)]="description"
          name="description"></textarea>
      </div>
    </div>
    <!-- mensaje final -->
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        Solicito derivar a quien corresponda.
      </div>
    </div>
    <!-- mensaje de error -->
    <div class="form-group" *ngIf="error_message !=undefined">
      <div class="col-sm-offset-2 col-sm-10">
        <div class="alert alert-danger alert-dismissible">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <h4>
            <i class="icon fa fa-ban"></i>
            Error!</h4>
          {{error_message}}
        </div>
      </div>
    </div>
  </section>

  <!-- /.box-body -->
  <footer class="box-footer">
    <button type="submit" class="btn btn-default">Cancelar</button>
    <button type="submit" class="btn btn-primary pull-right" (click)="createDocument($event, description)" [disabled]="description ===  '' || !description">Generar
      solicitud</button>
  </footer>
  <!-- /.box-footer -->
</div>

<div *ngIf="document_stat === 'post'">
  <abstract-request [student]="student" [document]="document.name" [request]="request" [description]="description">
  </abstract-request>
</div>
