<req-debts-message [student]="student"></req-debts-message>

<loading *ngIf="documentStatus === 'pre'"></loading>

<div class="box box-warning" *ngIf="documentStatus === 'on'">
  <!-- header -->
  <header class="box-header with-border">
    <i class="fa fa-file-text"></i>
    <h3 class="box-title">Creación de solicitud: Constancia de estudios general</h3>
  </header>
  <!-- no validation -->
  <section class="box-body form-horizontal" *ngIf="!document.is_valid">
    <div class="callout callout-danger">
      <h4>
        <i class="fa fa-ban"></i> Error!</h4>
      <div *ngFor="let msg of document.stack_error">
        <p>{{msg}}</p>
      </div>
    </div>
  </section>
  <div class="box-body form-horizontal">
    <div class="document-description">
      <blockquote>
        Es el documento que acredita que el estudiante está matriculado y cursa el período vigente o que estudió hasta
        un período académico determinado en la Universidad Continental.
        <button class="btn btn-warning btn-xs" (click)="seeDetails=!seeDetails">
          <i class="fa fa-eye"></i> ver detalles</button>
        <button class="btn btn-success btn-xs" (click)="seeDemo=!seeDemo">
          <i class="fa fa-file"></i> ver ejemplo</button>
      </blockquote>
      <div class="row" class="card card-default" *ngIf="seeDetails">
        <div class="col-sm-6">
          <h4>Requisitos</h4>
          <ul>
            <li>Debes registrar matrícula vigente.</li>
            <li>No tener deudas pendientes del período actual o anterior.</li>
            <li>No tener pendiente la entrega de documentos.</li>
            <li>Realizar el pago por constancia de estudio y derecho de trámite: S/ 15.00 y S/1.00, respectivamente.</li>
          </ul>
          <small>
            * El pago se puede efectuar en caja de la Universidad Continental, en agentes autorizados (Scotiabank, BBVA y Caja
            Centro) y vía
            online.
          </small>
        </div>
        <div class="col-sm-6">
          <h4>Consideraciones</h4>
          <ul>
            <li>Todo trámite se realiza utilizando tus credenciales de acceso al Campus virtual que te identifica como
              el titular.</li>
            <li>La entrega de la constancia de estudio se puede realizar de
              <b>forma virtual</b> (a través de tu correo electrónico institucional) o
              <b>en los módulos del Centro de Atención y Soluciones</b>.</li>
            <li>Para la entrega del documento en los módulos debes presentar tu DNI, caso contrario, una copia simple
              del DNI
              del interesado con una carta poder simple.</li>
            <li>El documento será tramitado en dos horas, aproximadamente, en horario de oficina.</li>
          </ul>
        </div>
        <div class="clearfix"></div>
      </div>
      <div *ngIf="seeDemo" class="text-center">
        <div class="card card-default d-inline-block">
          <img class="img-responsive" [src]="configServiceFile._BASE_URI+'Content/static/images/docs/studiesProof.jpg'" alt="doc">
          <br>
          <button (click)="seeDemo = false" class="btn bg-secondary text-white"><i class="fa fa-times"></i> Cerrar</button>
        </div>
      </div>
    </div>
  </div>
  <section class="box-body form-horizontal" *ngIf="document.is_valid">
    <!-- Solicito .. -->
    <div class="form-group">
      <label class="col-sm-2 control-label">Solicito</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" value="Constancia de estudios general" disabled>
      </div>
    </div>
    <!-- options-->
    <div class="form-group" *ngIf="type==2">
      <label class="col-sm-2 control-label" [ngClass]="{'text-red': (formCost() === 1) }">
        <i class="fa fa-exclamation-triangle" *ngIf="formCost() === 1"></i>
        Períodos
        <br />
        <small *ngIf="formCost() === 1" class="form-extra-small">Selecciona mínimo un período</small>
      </label>
      <div class="col-sm-10">
        <div class="checkbox" *ngFor="let period of document.term_list; let i = index;">
          <label>
            <input type="checkbox" [(ngModel)]="setTermList[i]"> {{period}}
          </label>
        </div>
      </div>
    </div>
    <!-- Monto a pagar-->
    <div class="form-group" *ngIf="type!=2">
      <label class="col-sm-2 control-label">Monto a pagar</label>
      <div class="col-sm-10 text-green form-amount">
        S/ {{document.cost.amount + 1 | number:'2.2-2'}}
      </div>
    </div>
    <!-- Monto a pagar by terms-->
    <div class="form-group" *ngIf="type==2">
      <label class="col-sm-2 control-label">Monto a pagar</label>
      <div class="col-sm-10 text-red form-amount" *ngIf="formCost() === 1">
        <!--<input type="text" class="form-control" value="0.00" disabled>-->
        S/ 0.00
      </div>
      <div class="col-sm-10 text-green form-amount" *ngIf="formCost() !== 1">
        <!--<input type="text" class="form-control" value="{{formCost()}} Soles" disabled>-->
        S/ {{formCost() | number:'2.2-2'}}
      </div>
    </div>
    <!-- Descripción -->
    <div class="form-group">
      <label class="col-sm-2 control-label">Por el siguiente motivo
        <br />
        <small *ngIf="description ===  '' || !description" class="text-red form-extra-small">Ingresa motivo de
          solicitud</small>
      </label>
      <div class="col-sm-10">
        <span *ngFor="let reason of listDocumentReasons">
          <button class="btn btn-default btn-flat" (click)="setReason(reason.message)">
            {{ reason.id }}
          </button>
        </span>
        <textarea class="form-control mt" rows="3" placeholder="Motivo de la solicitud..." [(ngModel)]="description"
          name="description"></textarea>
      </div>
    </div>
    <!-- mensaje final -->
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        Solicito derivar a quien corresponda.
      </div>
    </div>
    <!-- mensaje de error -->
    <div class="form-group" *ngIf="errorMessage !=undefined">
      <div class="col-sm-offset-2 col-sm-10">
        <div class="alert alert-danger alert-dismissible">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <h4>
            <i class="icon fa fa-ban"></i>
            Error!</h4>
          {{errorMessage}}
        </div>
      </div>
    </div>
  </section>

  <footer class="box-footer">
    <button type="submit" class="btn btn-danger" onclick="window.history.go(-1); return false;">Cancelar</button>
    <button type="submit" class="btn btn-primary pull-right" (click)="createDocument($event, description)" [disabled]="description ===  '' || !description">Generar
      solicitud</button>
  </footer>
</div>

<div *ngIf="documentStatus === 'post'">
  <abstract-request [student]="student" [document]="document.name" [request]="request" [description]="description"></abstract-request>
</div>
