<loading *ngIf="document_stat === 'pre'"></loading>

<req-debts-message [student]="student"></req-debts-message>

<div class="box box-warning" *ngIf="document_stat === 'on'">
  <header class="box-header with-border">
    <i class="fa fa-file-text"></i>
    <h3 class="box-title">Creación de solicitud: Certificado de estudios</h3>
  </header>
  <section class="box-body form-horizontal">

    <!-- Aviso si no teine matriculas -->
    <div class="form-group" *ngIf="document.period_list.length === 0">
      <div class="col-sm-offset-2 col-sm-10">
        <div class="alert alert-danger alert-dismissible">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <h4><i class="icon fa fa-info"></i>Aviso:</h4>
          Usted no registra ninguna matrícula concluida por lo cual no puede generar este documento.
        </div>
      </div>
    </div>
    <div class="document-description">
      <blockquote>
        Documento que enlista y certifica las notas aprobadas del estudiante por período.
        <button class="btn btn-warning btn-xs" (click)="seeDetails=!seeDetails"><i class="fa fa-eye"></i> ver
          detalles</button>
        <button class="btn btn-success btn-xs" (click)="seeDemo=!seeDemo"><i class="fa fa-file"></i> ver ejemplo</button>
      </blockquote>
      <div class="row" class="card card-default" *ngIf="seeDetails">
        <div class="col-sm-6">
          <h4>Requisitos</h4>
          <ul>
            <li>Tener foto en tu Campus virtual.</li>
            <li>No tener deudas pendientes del período actual o anterior.</li>
            <li>No tener pendiente la entrega de documentos.</li>
            <li>Realizar el pago por certificado de estudios (S/ 22.00) por período académico) y derecho de trámite (S/
              1.00).</li>
          </ul>
          <small>
            * El pago se puede efectuar en caja de la Universidad Continental, agentes autorizados (Scotiabank, BBVA y Caja
            Centro) y vía online.
          </small>
        </div>
        <div class="col-sm-6">
          <h4>Consideraciones</h4>
          <ul>
            <li>Todo trámite se realiza utilizando tus credenciales de acceso al Campus virtual que te identifica como
              el titular.</li>
            <li>La entrega del certificado de estudios se puede realizar de <b>forma virtual</b> (a través del correo
              electrónico institucional) o <b>en los módulos del Centro de Atención y Soluciones</b>.</li>
            <li>Para la entrega del documento en los módulos, deberás presentar tu DNI, caso contrario una copia simple
              del DNI del encargado con una carta poder simple.</li>
            <li>El documento será tramitado en tres días hábiles, aproximadamente.</li>
          </ul>
        </div>
        <div class="clearfix"></div>
      </div>
      <div *ngIf="seeDemo" class="text-center">
        <div class="card card-default d-inline-block">
          <img class="img-responsive" [src]="configServiceFile._BASE_URI+'Content/static/images/docs/studiesCertificate.jpg'" alt="doc">
          <br>
          <button (click)="seeDemo = false" class="btn bg-secondary text-white"><i class="fa fa-times"></i> Cerrar</button>
        </div>
      </div>
    </div>

    <!-- Solicito .. -->
    <div class="form-group">
      <label class="col-sm-2 control-label">Solicito</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" value="Certificado de estudios" disabled>
      </div>
    </div>
    <!-- Seleccionar Períodos -->
    <div class="form-group">
      <label class="col-sm-2 control-label" [ngClass]="{'text-red': (formCost() === 1) }">
        <i class="fa fa-exclamation-triangle" *ngIf="formCost() === 1"></i>
        Períodos<br />
        <small *ngIf="formCost() === 1" class="form-extra-small">Selecciona mínimo un período</small>
      </label>
      <div class="col-sm-10">
        <div class="checkbox" *ngFor="let period of document.period_list; let i = index;">
          <label>
            <input type="checkbox" [(ngModel)]="set_period_list[i]">
            {{period}}.° período
          </label>
        </div>
      </div>
    </div>
    <!-- monto a pagar-->
    <div class="form-group">
      <label class="col-sm-2 control-label">Monto a pagar </label>
      <div class="col-sm-10 text-red form-amount" *ngIf="formCost() === 1">S/ 0.00</div>
      <div class="col-sm-10 text-green form-amount" *ngIf="formCost() !== 1">
        S/ {{formCost() | number:'1.2-2' }}
      </div>
    </div>
    <!-- Descripción -->
    <div class="form-group">
      <label class="col-sm-2 control-label">Por el siguiente motivo<br />
        <small *ngIf="description ===  '' || !description" class="text-red form-extra-small">Ingresa motivo de
          solicitud</small>
      </label>
      <div class="col-sm-10">
        <span *ngFor="let reason of list_document_reasons">
          <button class="btn btn-default btn-flat" (click)="setReason(reason.message)">
            {{ reason.id }}
          </button>
        </span>
        <textarea class="form-control mt" rows="3" placeholder="Motivo de la solicitud..." [(ngModel)]="description"
          name="description"></textarea>
      </div>
    </div>
    <!-- mensaje final -->
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        Solicito derivar a quien corresponda.
      </div>
    </div>
    <!-- mensaje de error -->
    <div class="form-group" *ngIf="error_message !==  ''">
      <div class="col-sm-offset-2 col-sm-10">
        <div class="alert alert-danger alert-dismissible">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <h4><i class="icon fa fa-ban"></i> Error!</h4>
          {{error_message}}
        </div>
      </div>
    </div>
  </section>
  <!-- /.box-body -->
  <footer class="box-footer">
    <button type="submit" class="btn btn-danger" onclick="window.history.go(-1); return false;">Cancelar</button>
    <button type="submit" class="btn btn-primary pull-right" (click)="createDocument($event, description)" [disabled]="formCost() === 1 || description ===  '' || !description">Generar
      solicitud</button>
  </footer>
  <!-- /.box-footer -->
</div>
<div *ngIf="document_stat === 'post'">
  <abstract-request [student]="student" [document]="document.name" [request]="request" [description]="description">
  </abstract-request>
</div>
