<loading *ngIf="document_stat === 'pre'"></loading>

<req-debts-message [student]="student"></req-debts-message>

<div *ngIf="document_stat === 'on' && document.has_photo === false">
  <div class="alert alert-danger alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <h4>
      <i class="icon fa fa-ban"></i>
      Error!
    </h4>
    No tiene Foto por lo cual no puede generar esta solicitud.
  </div>
</div>

<div class="box box-primary" *ngIf="document_stat === 'on'  && document.has_photo === true">
    <header class="box-header with-border">
      <i class="fa fa-file-text"></i>
      <h3 class="box-title">Creación de solicitud:
          {{document.name}}
      </h3>
    </header>
    <section class="box-body form-horizontal">

      <!-- Solicito .. -->
      <div class="form-group">
        <label class="col-sm-2 control-label">Solicito</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" value="{{document.name}}" disabled>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Monto a pagar</label>
        <div class="col-sm-10 text-green form-amount">
          S/ {{document.cost.amount | number:'2.2-2'}}
        </div>
      </div>

      <div class="form-group" *ngIf="error_message !==  ''">
        <div class="col-sm-offset-2 col-sm-10">
          <div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h4>
              <i class="icon fa fa-ban"></i>
              Error!</h4>
            {{error_message}}
          </div>
        </div>
      </div>
  </section>
  <!-- /.box-body -->
  <div class="box-footer">
    <button type="submit" class="btn btn-danger" onclick="window.history.go(-1); return false;">Cancelar</button>
    <button type="submit" class="btn btn-primary pull-right" (click)="createDocument($event, description)" >Generar solicitud</button>
  </div>
  <!-- /.box-footer -->
</div>

<div *ngIf="document_stat === 'post'">
  <abstract-request [student]="student" [document]="document.name" [request]="request" [description]="description"></abstract-request>
</div>
