<div class="box box-default">
  <div class="overlay" *ngIf="load === true">
    <i class="fa fa-refresh fa-spin"></i>
  </div>
  <header class="box-header with-border">
    <h3 class="box-title"><i class="fa fa-file-text"></i> Información de la Solicitud</h3>
    <div class="box-tools hidden-print">
      <a routerLink="/backoffice/cou-personal/solicitudes" class="btn btn-default">
        <i class="fa fa-arrow-left"></i> Regresar</a>
    </div>
  </header>
  <section class="box-body box-comments" *ngIf="request === null">
    <loading [text]="'CARGANDO SU SOLICITUD'"></loading>
  </section>
  <section class="box-body box-comments" *ngIf="request !== null && student_profile !=  undefined">
    <div class="callout callout-danger" *ngIf="error_message && error_message.length > 5 ">
      <h4><i class="fa fa-ban"></i>Lo sentimos, ah ocurrido un error.</h4>
      <p>{{error_message}}.</p>
    </div>
    <!-- resumen de la solicitud -->
    <bo-request-abstract [request]="request" [config]="config" (update)="getIdealFlow(flow, $event)"></bo-request-abstract>

    <!-- Verificación de documentos -->
    <div *ngIf="request.state === config.STATE_DOCUMENT_VERIFICATION">
      <hr>
      <!-- solo pra convalidacion -->
      <div class="box-comment" *ngIf="request.document_id === config.DOC_CONVALIDATION">
        <!-- datos de la universidad -->
        <div class="comment-text">
          Datos de universidad:
        </div>
        <div class="comment-text">
          <form class="col-sm-12 bg-white">
            <!-- Datos de Universidades -->
            <div class="row">
              <div class="col-sm-8 border">
                <p><strong>De:</strong></p>
                <div class="row">
                  <label class="col-sm-6" for="">Institución de procedencia:</label>
                  <div class="col-sm-6 form-group">
                    <input class="form-control" [(ngModel)]="conva.institution" type="text" name="institution">
                  </div>
                </div>
                <div class="row">
                  <div class="hidden-xs col-sm-12 form-group">
                    <input class="form-control" type="text" name="" value="" disabled="">
                  </div>
                </div>
                <div class="row">
                  <label class="col-sm-6" for=""></label>
                  <div class="col-sm-6 form-group text-right">
                    <button class="btn btn-success" (click)="saveConvalidationData($event, institution, program, campus)">
                      <i class="fa fa-save"></i> Guardar
                    </button>
                    <div class="text-aqua" *ngIf="data.sending">
                      <i class="fa fa-spinner"></i> Guardando... por favor espere.
                    </div>
                    <div class="text-success" *ngIf="data.sended">
                      <i class="fa fa-ok"></i> Guardado.
                    </div>
                    <div class="text-danger" *ngIf="data.sending">
                      <i class="fa fa-times"></i> lo sentimos, hubo un error al intentar guardar. por favor intentelo de
                      nuevo más tarde.
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 border">
                <p><strong>A:</strong></p>
                <div class="row">
                  <label class="visible-xs col-sm-12" for="">Institución de destino:</label>
                  <div class="col-sm-12 form-group">
                    <input class="form-control" type="text" name="de" value="Universidad Continental" disabled>
                  </div>
                </div>
                <div class="row">
                  <label class="visible-xs col-sm-12" for="">Carrera de destino:</label>
                  <div class="col-sm-12 form-group">
                    <input class="form-control" type="text" name="de" value="{{student_profile.program.name}}" disabled>
                  </div>
                </div>
                <div class="row">
                  <label class="visible-xs col-sm-12" for="">Campus destino:</label>
                  <div class="col-sm-12 form-group">
                    <input class="form-control" type="text" name="de" value="{{student_profile.campus.name}}" disabled="">
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <!-- end datos de la universidad -->
      </div>
      <!-- /end solo pra convalidacion -->
      <!-- solo ampliacion de convalidacion -->
      <div *ngIf="request.document_id === config.DOC_CONVALIDATION_EXTENSION">
        <!-- Resumen de Asignatutas solicitados por el alumno -->
        <div class="box-comment" *ngIf="request.document_id === config.DOC_CONVALIDATION_EXTENSION">
          <div class="comment-text">
            Asignatutas Solicitados por el estudiante:
            <div class="table-responsive bg-white">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th colspan="2" class="text-center col-sm-6">UC</th>
                    <th class="text-center col-sm-6">{{request.opts.transfer.institution_name}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let course of request.opts.courses">
                    <td>{{course.uc.id}}</td>
                    <td>{{course.uc.name}}</td>
                    <td>{{course.ext}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- end Resumen de asignaturas solicitados por el alumno -->
      </div>
      <!-- /end solo ampliacion de convalidacion -->
      <div class="box-comment">
        <div class="comment-text">
          <label for="">Requisitos:</label>
          <file-loader [request]="request"></file-loader>
        </div>
      </div>
      <div class="box-comment">
        <div class="comment-text">
          <p>
            Derivar a: <strong>Director de Programa </strong>
          </p>
        </div>
        <div>
          <div class="comment-text">
            <p class="form-group">
              <label for="">Mensaje:</label>
              <textarea name="name" rows="6" cols="26" class="form-control" [(ngModel)]="derivate_message" placeholder="Mensaje para Registros Academicos ó para cancelación"></textarea>
            </p>
            <p>
              <button class="btn btn-big btn-primary" [disabled]="!derivate_message || derivate_message.length === 0" (click)="derivateRequest(request.id, derivate_message)">Derivar</button>
              <button class="btn btn-big btn-danger" *ngIf="request.office_id === config.OFFICE_COU" (click)="cancelRequest(request.id, derivate_message)">Cancelar
                Solicitud</button>
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- end Verificación de documentos -->


    <!-- cierre de convalidacion en banner -->
    <div class="box-comments" *ngIf="request.state === config.STATE_CONVALIDATION_ACTION">
      <hr>
      <div class="box-comment">
        <div class="comment-text">
          <div class="bg-white">
            <transfer-deu [transferAbstract]="transfer_abstract"></transfer-deu>
          </div>
        </div>
      </div>
      <hr>
      <div class="box-comment hidden-print">
        <div class="comment-text">
          <strong>Convalidaciones en banner:</strong>
        </div>
      </div>
      <div class="box-comment hidden-print">
        <div class="comment-text">
          <transfer-list [personId]="request.person_id" [term]="request.term" (error)="error_message=$event" (onSelect)="setTransfer($event)"></transfer-list>
        </div>
      </div>
      <div class="box-comment" *ngIf="select_transfer">
        <div class="comment-text">
          <strong>Convalidación seleccionada:</strong>
          <br>
          <transfer-report [personId]="request.person_id" [term]="request.term" [seq]="select_transfer.seq" [tseq]="select_transfer.tseq"
            (error)="error_message=$event"></transfer-report>
        </div>
      </div>
      <div class="box-comment hidden-print" *ngIf="select_transfer">
        <div class="comment-text">
          <p>
            Derivar a: <strong>Registros Academicos </strong>
          </p>
        </div>
        <div>
          <div class="comment-text">
            <p class="form-group">
              <label for="">Mensaje:</label>
              <textarea name="name" rows="6" cols="26" class="form-control" [(ngModel)]="derivate_message" placeholder="Mensaje para Registors Academicos"></textarea>
            </p>
            <p>
              <button class="btn btn-big btn-primary" [disabled]="!select_transfer || !derivate_message || derivate_message.length === 0"
                (click)="derivateRequest(request.id, derivate_message)">Derivar</button>
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- end cierre de convalidacion en banner -->

    <!-- generacion de resolución y generación(o no) de deuda -->
    <div class="box-comments" *ngIf="request.state === config.STATE_RESOLUTION_PENDING">
      <hr>
      <div class="box-comment">
        <div class="comment-text">
          Código de resolución: <strong> {{request.conva_resolution || '--------'}}</strong>
          <span [hidden]="request.document_uri.length > 0">
            <button class="btn btn-info btn-xs" (click)="see_res_btn = true"> <i class="fa fa-pencil"></i></button>
          </span>
        </div>
      </div>
      <!-- Código de resolucion -->
      <div class="p" [hidden]="!see_res_btn">
        <div class="pl">
          <div class="form-group">
            <label for="resolution_code" class="col-sm-4 control-label">Código de resolución</label>
            <div class="col-sm-8">
              <div class="input-group input-group-all">
                <input class="form-control" name="resolution_code" type="text" [(ngModel)]="resolution_code">
                <span class="input-group-btn">
                  <button type="button" class="btn btn-success btn-flat" (click)="setConvaResolution(resolution_code)">
                    Guardar <i class="fa fa-floppy-o"></i>
                  </button>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="box-comment">
        <div class="comment-text">
          <strong>Convalidación:</strong>
          <br>
          <transfer-report [personId]="request.person_id" [term]="request.term" [seq]="request.opts.seq" [tseq]="request.opts.tseq"
            (error)="error_message=$event"></transfer-report>
        </div>
      </div>
      <div class="box-comment">
        <div class="comment-text">
          Resolución:
        </div>
        <!--  solo visible si tiene nro de resolución -->
        <div class="comment-text" *ngIf="request.conva_resolution">
          <bo-generate-document [request]="request" (updateLogs)="updateLogs($event)"></bo-generate-document>
        </div>
        <div class="callout callout-warning" *ngIf="!request.conva_resolution">
          <h4>No hay número de resolución</h4>
          <p>
            Eligar un número de resolucion para general el documento.
          </p>
        </div>
      </div>
      <div class="box-comment">
        <div class="comment-text" *ngIf="request.document_uri.length > 0">
          <span>
            <!--FIXME conva 33 deuda, apliacion de conva 54 -> sin deuda  -->
            <button class="btn btn-app bg-blue" (click)="finishRequest(request.id)">
              <i class="fa fa-check-square"></i> Finalizar Proceso
            </button>
          </span>
          <span>
            <!--FIXME conva 33 deuda, apliacion de conva -> sin deuda  -->
            <button class="btn btn-app bg-green" (click)="setDebt(request.id, 'derivado a caja para el pago por resolución.');">
              <i class="fa fa-money"></i> Generar Deuda
            </button>
          </span>
          <button class="btn btn-app" (click)="sendEndTransferMail($event)">
            <i class="fa fa-envelope"></i> Enviar correo de resolucion
          </button>
          <div class="text-aqua" *ngIf="mail.sending">
            Ennviando correo, por favor espere.
            <i class="fa fa-spinner"></i>
          </div>
          <div class="text-success" *ngIf="mail.sended">
            Correo Enviado satisfactoriamente.
            <i class="fa fa-ckeck"></i>
          </div>
          <div class="text-error" *ngIf="mail.error">
            Correo Enviado satisfactoriamente.
            <i class="fa fa-times"></i>
          </div>
        </div>

      </div>
    </div>
    <!-- end generacion de resolución y generación(o no) de deuda -->

    <!-- por pagar y finalizado -->
    <div class="box-comments" *ngIf="request.state === config.STATE_PAYMENT_PENDING || request.state === config.STATE_FINAL ">
      <div class="box-comment">
        <div class="comment-text" *ngIf="request.conva_resolution">
          Resolución:
        </div>
        <div class="comment-text">
          <bo-generate-document [request]="request" (updateLogs)="updateLogs($event)"></bo-generate-document>
        </div>
      </div>
      <div class="box-comment">
        <div class="comment-text" *ngIf="request.document_uri.length > 0">
          <button class="btn btn-app" (click)="sendEndTransferMail($event)">
            <i class="fa fa-envelope"></i> Enviar correo de resolucion
          </button>
          <div class="text-aqua" *ngIf="mail.sending">
            Ennviando correo, por favor espere.
            <i class="fa fa-spinner"></i>
          </div>
          <div class="text-success" *ngIf="mail.sended">
            Correo Enviado satisfactoriamente.
            <i class="fa fa-ckeck"></i>
          </div>
          <div class="text-error" *ngIf="mail.error">
            Correo Enviado satisfactoriamente.
            <i class="fa fa-times"></i>
          </div>
        </div>
      </div>
    </div>
    <!-- end por pagar y finalizado -->

  </section>

  <div class="box-footer hidden-print" *ngIf="request !== null">
    <header>
      <h5> <i class="fa fa-list-ul"></i> Vida de la Solicitud</h5>
      <hr>
    </header>
    <!-- Lista del Flujo de la Solicitud (TimeLine Horizontal) -->
    <div class="col-md-12">
      <request-flow [ideal-flow]="ideal_flow" [request]="request" [logs]="logs">
      </request-flow>
    </div>
  </div>
</div>