<div class="row">
  <div class="col-md-3">
    <div class="box box-solid">
      <div class="box-header with-border">
        <h3 class="box-title">Solicitudes de convalidación</h3>
        <div class="box-tools">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
          </button>
        </div>
      </div>
      <div class="box-body no-padding">
        <ul class="nav nav-pills nav-stacked">
          <li [ngClass]="{'active': (inbox === 'pending')}" (click)="setInbox($event, 'pending')">
            <a><i class="fa fa-inbox"></i> Pendientes
              <span class="label label-primary pull-right" *ngIf="requests !== null">{{requests.length}}</span>
            </a>
          </li>
          <li [ngClass]="{'active': (inbox === 'verification_pending')}"
            (click)="setInbox($event, 'verification_pending')"><a><i class="fa fa-file-text-o"></i> P. d verificación
              <span class="label bg-green pull-right"
                *ngIf="requests !== null">{{r_verification_pending.length}}</span></a>
          </li>
          <li [ngClass]="{'active': (inbox === 'proccess_pending')}" (click)="setInbox($event, 'proccess_pending')">
            <a><i class="fa fa-copy"></i> P. de Procesar
              <span class="label bg-teal pull-right" *ngIf="requests !== null">{{r_proccess_pending.length}}</span></a>
          </li>
          <li [ngClass]="{'active': (inbox === 'resolution_pending')}" (click)="setInbox($event, 'resolution_pending')">
            <a><i class="fa fa-file-pdf-o"></i> P. de Resolución
              <span class="label bg-aqua pull-right"
                *ngIf="requests !== null">{{r_resolution_pending.length}}</span></a>
          </li>
          <li [ngClass]="{'active': (inbox === 'search')}" (click)="setInbox($event, 'search')"><a><i
                class="fa fa-list"></i> Buscar</a>
          </li>
        </ul>
      </div>
      <!-- /.box-body -->
    </div>
  </div>
  <div class="col-md-9" *ngIf="inbox !==  'cancelations' && inbox !== 'search'">
    <div class="box box-default">
      <header class="box-header with-border">
        <h3 class="box-title"><i class="fa fa-file-text"></i> Solicitudes por Procesar</h3>
        <div class="box-tools pull-right">
          <div class="has-feedback">
            <input type="text" class="form-control input-sm" [(ngModel)]="filter" placeholder="Filtrar">
            <span class="glyphicon glyphicon-search form-control-feedback"></span>
          </div>
        </div>
      </header>
      <section class="box-body no-padding">
        <div class="table-responsive">
          <table class="table table-hover table-striped">
            <thead>
              <tr>
                <th> # </th>
                <th> Solicitud </th>
                <th> Documento </th>
                <th> Estudiante </th>
                <th> Descripción </th>
                <th> Fecha </th>
                <th> Estado </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let request of requests_active | loopFilter: filter; let i = index"
                (click)="gotoRequestDetail(request.id)">
                <td> {{i+1}} </td>
                <td> {{request.id}} </td>
                <td> {{configFile.getDocumentName(request.document_id)}} </td>
                <td> {{request.student_name}} </td>
                <td> {{(request.description | jsonParse).description || 'sin descripción'}} </td>
                <td> {{request.creation_date | date: 'dd/MM/yyyy hh:mm'}} </td>
                <td>
                  <span class="pull-right badge"
                    [ngClass]="{'bg-green': (request.state === configFile.STATE_DOCUMENT_VERIFICATION), 'bg-teal': (request.state === configFile.STATE_CONVALIDATION_ACTION), 'bg-aqua': (request.state === configFile.STATE_RESOLUTION_PENDING), 'bg-gray': (request.state === configFile.STATE_DOCUMENT_RECEPTION)}">
                    <i class="fa fa-tag"></i>
                    {{configFile.getDocumentState(request.state).name}}
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
      <div class="box-footer">
      </div>
    </div>
  </div>
  <div class="col-md-9" *ngIf="inbox ===  'cancelations'">
    solicitudes de cancelaciones. <br>
    Aun no implementado
  </div>
  <!-- fin cancelaciones -->
  <div class="col-md-9" *ngIf="inbox ===  'search'">
    <!-- Busqueda de solicitudes-->
    <div class="box box-solid">
      <div class="box-header with-border">
        <h3 class="box-title">Buscar solicitudes</h3>
        <div class="box-tools">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
          </button>
        </div>
      </div>
      <div class="box-body">
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <label># Solicitud</label>
            <div class="input-group">
              <input name="id" type="text" class="form-control" name="id" [(ngModel)]="searh_data.id">
              <span class="input-group-addon hand"><i class="glyphicon glyphicon-pencil"></i></span>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <label>Fecha</label>
            <div class="input-group">
              <input name="fechasolicitud_date" type="text" class="form-control hasDateEntry" name="date"
                [(ngModel)]="searh_data.date">
              <span class="input-group-addon hand"><i class="glyphicon glyphicon-pencil"></i></span>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <label>Estado</label>
            <div class="input-group">
              <select class="form-control" name="estado_id" name="state" [(ngModel)]="searh_data.state">
                <option value="">Seleccione</option>
                <option [value]="configFile.STATE_CANCEL">Cancelado</option>
                <option [value]="configFile.STATE_INITIAL">Registrado</option>
                <option [value]="configFile.STATE_PAYMENT_PENDING">Pendiente de pago</option>
                <option [value]="configFile.STATE_ATENTION">En atención</option>
                <option [value]="configFile.STATE_DELIVERY_PENDING">Pendiente de envío</option>
                <option [value]="configFile.STATE_APROVAL_PENDING">Pendiente de aprobación</option>
                <option [value]="configFile.STATE_PROCESS_PENDING">Pendiente de procesamiento</option>
                <option [value]="configFile.STATE_DOCUMENT_RECEPTION">Pendiente de documentos</option>
                <option [value]="configFile.STATE_DOCUMENT_VERIFICATION">Pendiente de verificación de documentos</option>
                <option [value]="configFile.STATE_CONVALIDATION">Pendiente de convalidación</option>
                <option [value]="configFile.STATE_CONVALIDATION_VERIFICATION">Pendiente de verificación de convalidación
                </option>
                <option [value]="configFile.STATE_FINAL">Finalizado</option>
              </select>
              <span class="input-group-addon hand"><i class="glyphicon glyphicon-pencil"></i></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <label># Estudiante</label>
            <div class="input-group">
              <input name="alumno_id" type="text" class="form-control" name="student_id" [(ngModel)]="searh_data.student_id">
              <span class="input-group-addon hand"><i class="glyphicon glyphicon-pencil"></i></span>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <label>Documento</label>
            <select class="form-control" name="date" [(ngModel)]="searh_data.document_id">
              <option value="">Seleccione</option>
              <option value="{{doc.id}}" *ngFor="let doc of configFile._DOCUMENT_TYPES">{{doc.name}}</option>
            </select>
          </div>
        </div>
        <div class="row mt">
          <div class="col-xs-12 col-sm-12">
            <input type="button" class="btn bg-primary btn-sm" role="search" value="Filtrar"
              (click)="searchRequests(searh_data)">
          </div>
        </div>
      </div>
    </div>

    <div class="box box-solid">
      <div class="box-body">
        <div class="table-responsive">
          <table class="table table-hover table-striped">
            <thead>
              <tr>
                <th> # </th>
                <th> Solicitud </th>
                <th> Documento </th>
                <th> Estudiante </th>
                <th> Descripción </th>
                <th> Fecha </th>
                <th> Estado </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let request of find_requests; let i = index" (click)="gotoRequestDetail(request.id)">
                <td> {{i+1}} </td>
                <td> {{request.id}} </td>
                <td> {{configFile.getDocumentName(request.document_id)}} </td>
                <td> {{request.student_name}} </td>
                <td> {{(request.description | jsonParse).description || 'sin descripción'}} </td>
                <td> {{request.creation_date | date: 'dd/MM/yyyy hh:mm'}} </td>
                <td>
                  <span class="pull-right badge"
                    [ngClass]="{'bg-green': (request.state ===  configFile.STATE_DELIVERY_PENDING), 'bg-yellow': (request.state ===configFile.STATE_ATENTION)}">
                    <i class="fa fa-tag"></i>
                    {{configFile.getDocumentState(request.state).name}}
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- fin nusqueda -->
</div>
