<loading *ngIf="isBusy" text="Cargando actividad..."></loading>

<div class="card card-orange" *ngIf="!isBusy && (activity === null || activity === undefined)">
  <div class="header">
    <h3 class="title">Lo sentimos</h3>
  </div>
  <div class="body pb-0">
    <div class="callout callout-warning">
      <p>Esta actividad no existe, intenta consultar otras actividades.</p>
    </div>
  </div>
  <div class="footer">
    <button class="btn btn-large bg-primary" (click)="back()"><i class="fa fa-arrow-left"></i> Volver</button>
  </div>
</div>

<div *ngIf="!isBusy && !activateEnrollment && activity !== null && activity !== undefined">
  <div class="box box-widget widget-user-2 text-center">
    <div class="widget-user-header bg-blue" [style.background-image]="'url('+activity.imagePath+')'"
      [style.background-repeat]="'no-repeat'" [style.background-position]="'center'" [style.background-size]="'cover'">
      <h2 class="fa-3x">{{ activity.name }}</h2>
      <p>{{ activity.axi.name }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="header">
          <h3 class="title text-primary"><i class="fa fa-folder"></i> Descripción:</h3>
        </div>
        <div class="body">
          <p>{{ activity?.description !== null && activity?.description !== undefined && activity?.description !== '' ?
                activity.description : 'Sin descripción' }}</p>
        </div>
      </div>

      <div class="card" *ngIf="activity?.other !== null && activity?.other !== undefined && activity?.other !== ''">
        <div class="header">
          <h3 class="title text-primary"><i class="fa fa-info-circle"></i> Información adicional:</h3>
        </div>
        <div class="body">
          <p>{{activity.other}}</p>
        </div>
      </div>

      <div class="card">
        <div class="header">
          <h3 class="title text-primary"><i class="fa fa-calendar"></i> Horarios:</h3>
        </div>

        <div class="body">
          <loading *ngIf="isLoadingEnrollments" text="Cargando horarios..." [size]="'small'"></loading>

          <div *ngIf="activity?.programmingActivities?.length > 0 && !isLoadingEnrollments">
            <div *ngFor="let programming of activity?.programmingActivities">
              <div class="col-sm-12 col-md-6">
                <div class="box box-widget widget-user border" [class.border-primary]="!programming.isEnrolled"
                  [class.border-success]="programming.isEnrolled">
                  <div class="p bg-primary" [class.bg-success]="programming.isEnrolled">
                    <h3 class="widget-user-desc text-center" *ngIf="programming.idScheduleType === 'ND'">
                      <i class="fa fa-calendar"></i> {{ programming.sessionDay }} de
                      {{ programming.startHour | timeTo12 }} a {{ programming.endHour | timeTo12 }}
                    </h3>
                    <h5 class="widget-user-desc text-center" *ngIf="programming.idScheduleType === 'ND'">
                      <i class="fa fa-map-marker"></i> {{ programming.sessionPlace }}</h5>
                    <h5 class="no-margin" [innerHTML]="programming.scheduleDescription"
                      *ngIf="programming.idScheduleType === 'D'" [style.white-space]="'pre-line'">
                    </h5>
                  </div>
                  <div class="body with-border">
                    <div class="row">
                      <div class="col-sm-4 border-right">
                        <div class="description-block">
                          <h5 class="description-header">{{ programming.maxQuantityVacancy }}</h5>
                          <span class="description-text">VACANTES RESTANTES</span>
                        </div>
                      </div>
                      <div class="col-sm-4 border-right">
                        <div class="description-block">
                          <h5 class="description-header">{{ student.profile.campus.name }}</h5>
                          <span class="description-text">CAMPUS</span>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="description-block" *ngIf="!programming.isEnrolled">
                          <h5 class="description-header text-primary" *ngIf="programming.cost > 0">S/
                            {{ programming.cost }}</h5>
                          <h5 class="description-header text-primary" *ngIf="programming.cost <= 0">SIN COSTO</h5>
                          <span class="description-text" *ngIf="programming.cost > 0">COSTO</span>
                        </div>
                        <div class="description-block" *ngIf="programming.isEnrolled">
                          <h5 class="description-header text-success">
                            {{ activity.idActivityType === 1 ? 'PRE INSCRITO' : 'MATRICULADO' }}
                          </h5>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="with-border text-center">
                    <span class="description-text text-bold">DOCENTE</span>
                    <h5 class="description-header">{{ programming.documentTeacher | uppercase}}</h5>
                  </div>
                  <div class="text-center">
                    <p class="text-primary text-bold"
                      *ngIf="!programming.isSocialProjection && programming.isExtracurricular">
                      TE ACREDITA {{ activity.credits }} CRÉDITO{{ activity.credits > 1 ? 'S' : null }}
                      EXTRACURRICULAR{{ activity.credits > 1 ? 'ES' : null }}
                    </p>
                    <p class="text-primary text-bold"
                      *ngIf="programming.isSocialProjection && !programming.isExtracurricular">
                      TE ACREDITA PROYECCIÓN SOCIAL
                    </p>
                    <p class="text-bold" *ngIf="!programming.isSocialProjection && !programming.isExtracurricular">
                      SIN ACREDITACIÓN
                    </p>
                  </div>
                  <div class="m">
                    <p [style.white-space]="'pre-line'">
                      {{ programming.studentProfile }}
                    </p>
                  </div>
                  <div class="box-footer text-center" *ngIf="!isAlreadyRegistered && enrollments?.length < maxEnrollements
                        && !programming.isEnrolled && programming.maxQuantityVacancy > 0">
                    <button (click)="enrollActiProg(programming.id)" class="btn btn-lg btn-outline-primary">
                      <i class="fa fa-send"></i>
                      {{ activity.idActivityType === 1 ? 'Pre inscribirse' : 'Matricularse' }}
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="alert alert-info border mb-0"
            *ngIf="activity?.programmingActivities?.length === 0 && !isLoadingEnrollments">
            <p><i class="fa fa-info"></i> Esta actividad no cuenta con horarios disponibles.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-large bg-primary" (click)="back()"><i class="fa fa-arrow-left"></i> Volver</button>
    </div>
  </div>
</div>

<div *ngIf="primeMsg">
  <p-growl [(value)]="primeMsg" [baseZIndex]="500" life="6000"></p-growl>
</div>