<loading *ngIf="isBusy"></loading>

<div *ngIf="!isBusy && error" class="row">
  <h4>Mensaje</h4>
  <h4>{{errorMessage}}</h4>
</div>

<!-- Términos y condiciones -->
<div class="card card-primary" *ngIf="extracurricularEnrollment.hasPendingTerms && !isBusy && !error">
  <div>
    <h3 class="text-center text-bold"> {{extracurricularEnrollment.termsAndConditions.name}} </h3>
  </div>
  <div [innerHTML]="extracurricularEnrollment.termsAndConditions.detail"></div>
  <div class="footer text-center">
    <form (submit)="saveTerm()">
      <div class="checkbox">
        <label>
          <input name="terms" [(ngModel)]="accepTerms" type="checkbox">
          Acepto términos y condiciones
        </label>
      </div>
      <button type="submit" [attr.disabled]="!accepTerms ? 'disabled' : null" class="btn bg-primary btn-lg">
        Continuar <i class="fa fa-arrow-right"></i></button>
    </form>
  </div>
</div>
<!-- Fin términos y condiciones -->

<!-- Catálogo de ejes con sus respectivas actividades -->
<div *ngIf="!extracurricularEnrollment.hasPendingTerms && !isBusy && !error">
  <div class="col-md-12 " *ngFor="let axi of axis; let i = index">
    <div class="box box-collapse">
      <div class="title title-img bg-blue" [style.background-image]="'url('+axi.imagePath+')'">
        <h2 class="title-text text-truncate-nsm">{{axi.name}}</h2>
      </div>
      <div class="ico-action bg-primary box-tools" (click)="changeMenu(i)">
        <i class="fa fa-chevron-down fa-lg" aria-hidden="true"></i>
      </div>
      <div class="body clearfix" [attr.data-divtoggle]="'content-'+i">
        <div *ngIf="axi.activities?.length ===  0">
          <p>Este eje no cuenta con actividades por el momento.</p>
        </div>
        <div *ngIf="axi.activities?.length > 0">
          <div class="col-xs-12 col-md-6" *ngFor="let activity of axi.activities">
            <a [routerLink]="[activity.id]" class="btn btn-block btn-outline-primary btn-lg text-truncate">
              {{activity.shortName}} <span class="badge pull-right bg-primary">{{ activity.activityType.name }}</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Fin catálogo de ejes con sus respectivas actividades -->