// Estilos para los iconos con tipo de letra según lineamientos.

@font-face
  font-family: 'fontconticon'
  src:  url('../fonts/fontconticon.eot?mr4ghi')
  src:  url('../fonts/fontconticon.eot?mr4ghi#iefix') format('embedded-opentype'), url('../fonts/fontconticon.ttf?mr4ghi') format('truetype'), url('../fonts/fontconticon.woff?mr4ghi') format('woff'), url('../fonts/fontconticon.svg?mr4ghi#fontconticon') format('svg')
  font-weight: normal
  font-style: normal

i[class^="fc-"], i[class*=" fc-"]
  display: inline-block
  font-family: 'fontconticon' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.fc-1
  font-size: 1em !important
.fc-2
  font-size: 2em !important
.fc-3
  font-size: 3em !important
.fc-4
  font-size: 4em !important
.fc-5
  font-size: 5em !important
.fc-6
  font-size: 6em !important

.fc-16
  font-size: 16px !important
.fc-20
  font-size: 20px !important
.fc-24
  font-size: 24px !important
.fc-32
  font-size: 32px !important
.fc-64
  font-size: 64px !important

.fc-file:before
  content: "\e900"
.fc-prepare:before
  content: "\e901"
.fc-register:before
  content: "\e902"
.fc-report-card:before
  content: "\e903"
.fc-student-register:before
  content: "\e904"
.fc-file-cabinet:before
  content: "\e905"
.fc-survey:before
  content: "\e906"
.fc-validation:before
  content: "\e907"
.fc-university:before
  content: "\e908"
.fc-ucontinental:before
  content: "\e909"
.fc-trophy:before
  content: "\e90a"
.fc-to-plan:before
  content: "\e90b"
.fc-student-profile:before
  content: "\e90c"
.fc-student-girl:before
  content: "\e90d"
.fc-student-expo:before
  content: "\e90e"
.fc-student:before
  content: "\e90f"
.fc-send:before
  content: "\e910"
.fc-schedule:before
  content: "\e911"
.fc-road:before
  content: "\e912"
.fc-resolution:before
  content: "\e913"
.fc-request:before
  content: "\e914"
.fc-ranking:before
  content: "\e915"
.fc-question:before
  content: "\e916"
.fc-projector:before
  content: "\e917"
.fc-press-conference:before
  content: "\e918"
.fc-portfolio:before
  content: "\e919"
.fc-place:before
  content: "\e91a"
.fc-payment:before
  content: "\e91b"
.fc-organization-chart:before
  content: "\e91c"
.fc-new:before
  content: "\e91d"
.fc-mother:before
  content: "\e91e"
.fc-monitoring:before
  content: "\e91f"
.fc-link:before
  content: "\e920"
.fc-languages:before
  content: "\e921"
.fc-inquest:before
  content: "\e922"
.fc-history:before
  content: "\e923"
.fc-graduated:before
  content: "\e924"
.fc-grades:before
  content: "\e925"
.fc-father:before
  content: "\e926"
.fc-entering:before
  content: "\e927"
.fc-ended-process:before
  content: "\e928"
.fc-economic-status:before
  content: "\e929"
.fc-economic:before
  content: "\e92a"
.fc-developer:before
  content: "\e92b"
.fc-delivery:before
  content: "\e92c"
.fc-degree:before
  content: "\e92d"
.fc-curriculum:before
  content: "\e92e"
.fc-constancy-special:before
  content: "\e92f"
.fc-constancy:before
  content: "\e930"
.fc-conference:before
  content: "\e931"
.fc-class-online:before
  content: "\e932"
.fc-celebration:before
  content: "\e933"
.fc-carned:before
  content: "\e934"
.fc-bachelor:before
  content: "\e935"
.fc-award:before
  content: "\e936"
.fc-activities-extra:before
  content: "\e937"
.fc-attending:before
  content: "\e938"
.fc-assistance:before
  content: "\e939"
.fc-agreement:before
  content: "\e93a"
