.header-backoffice
  background-image: url(../../Content/static/images/bg/campus-uc2.jpg)
  background-size: cover
  color: $white
  margin-left: -1em
  margin-right: -1em
  min-height: 260px
  padding: 4em
  text-align: left
  .filter-modules
    position: absolute !important
    left: 0 !important
    bottom: 15px !important
