.loader-box
  height: 290px
  margin: 0 auto
  position: relative
  width: 290px
  .loader-logo
    height: 50px
    left: calc(50% - 25px)
    line-height: 45px
    position: absolute
    text-align: center
    top: calc(50% - 25px)
    width: 50px
    z-index: 50
    img
      margin-left: -6px
      width: 90%
  .loader-circle
    animation: loadEr 3s infinite
    border: 15px solid
    border-radius: 50%
    border-bottom-color: transparent
    border-left-color: transparent
    border-right-color: transparent
    border-top-color: transparent
    height: 50px
    left: calc(50% - 25px)
    position: absolute
    top: calc(50% - 25px)
    width: 50px
    z-index: 10
  .loader-circle-static
    animation: none
    background-color: #fff
    border: 15px solid $gray-300
    z-index: 9
  .extra
    height: 86px
    left: calc(50% - 43px)
    top: calc(50% - 43px)
    width: 86px
  .loader-circumference
    animation: poof 5s infinite
    border: 20px solid
    border-radius: 50%
    border-bottom-color: $dark
    border-left-color: transparent
    border-right-color: transparent
    border-top-color: $dark
    height: 70px
    left: calc(50% - 35px)
    opacity: .2
    position: absolute
    top: calc(50% - 35px)
    width: 70px
  .another
    animation-delay: 1s
    animation: poofity 5s infinite
    opacity: 0.1
    transform: rotate(90deg)
  .loader-text
    animation: opaa 10s infinite
    bottom: 0
    font-family: Arial
    position: absolute
    text-align: center !important
    width: 100%
  
// Keyframes
@keyframes opaa
    0%
      opacity: 1
    10%
      opacity: 0.5
    15%
      opacity: 1
    30%
      opacity: 1
    65%
      opacity: 0.3
    90%
      opacity: 0.8

@keyframes poof
    0%
      opacity: 0.2
      transform: scale(1,1) rotate(0deg)
    50%
      opacity: 0
      transform: scale(4,4) rotate(360deg)

@keyframes poofity
    0%
      opacity: 0.1
      transform: scale(1,1) rotate(90deg)
    50%
      opacity: 0
      transform: scale(4,4) rotate(-360deg)

@keyframes loadEr
    0%
      border-bottom-color: transparent
      border-left-color: transparent
      border-right-color: transparent
      border-top-color: transparent
    10.4%
      border-bottom-color: transparent
      border-left-color: transparent
      border-right-color: transparent
      border-top-color: rgba($gray-700,.5)
    20.8%
      border-bottom-color: transparent
      border-left-color: transparent
      border-right-color: transparent
      border-top-color: transparent
    31.2%
      border-bottom-color: transparent
      border-left-color: transparent
      border-right-color: rgba($gray-600,.5)
      border-top-color: transparent
    41.6%
      border-bottom-color: transparent
      border-left-color: transparent
      border-right-color: transparent
      border-top-color: transparent
      transform: rotate(40deg)
    52%
      border-bottom-color: rgba($gray-700,.5)
      border-left-color: transparent
      border-right-color: transparent
      border-top-color: transparent
    62.4%
      border-bottom-color: transparent
      border-left-color: transparent
      border-right-color: transparent
      border-top-color: transparent
    72.8%
      border-bottom-color: transparent
      border-left-color: rgba($gray-900,.5)
      border-right-color: transparent
      border-top-color: transparent

// styles for small loading
.loader
  padding: 15px 0
  text-align: center
  overflow: hidden
  color: $secondary
  background-color: rgba($black, 0.03)
  .loader-text
    padding: 0
    margin: 0
  .blur
    position: relative
    width: 12px
    height: 12px
    display: inline-block
    border-radius: 12px
    -webkit-animation: blur 3s ease-in-out infinite
    animation: blur 3s ease-in-out infinite
    &:before
      content: ""
      position: absolute
      top: 0px
      left: -25px
      height: 12px
      width: 12px
      border-radius: 12px
      -webkit-animation: blur_before 3s ease-in-out infinite
      animation: blur_before 3s ease-in-out infinite
    &::after
      content: ""
      position: absolute
      top: 0px
      left: 25px
      height: 10px
      width: 10px
      border-radius: 10px
      -webkit-animation: blur_after 3s ease-in-out infinite
      animation: blur_after 3s ease-in-out infinite

/* -------------- BLUR -------------- */
@keyframes blur_before
  0%
    background-color: rgba($secondary, .2)
  25%
    background-color: rgba($secondary, 1)
  50%
    background-color: $secondary
  75%
    background-color: $secondary
  100%
    background-color: rgba($secondary, .2)

@keyframes blur
  0%
    background-color: $secondary
  25%
    background-color: rgba($secondary, .2)
  50%
    background-color: rgba($secondary, 1)
  75%
    background-color: $secondary
  100%
    background-color: $secondary

@keyframes blur_after
  0%
    background-color: $secondary
  25%
    background-color: $secondary
  50%
    background-color: rgba($secondary, .2)
  75%
    background-color: rgba($secondary, 1)
  100%
    background-color: $secondary
