.uc-bg
  background-color: #1a1a1a
  background-image: url("../../Content/static/images/bg/background.jpg")
  background-size: cover

.sedes:hover, .perfiles:hover, .select-student:hover .product-description
  color: $danger

.showme
  display: none

.sedes:hover .showme
  color: $orange
  display: inline

.select-student:hover
  box-shadow: rgb(153, 153, 153) 0px 0px 8px 0px
  border-right: 0.5em solid $orange
  color: $danger

.select-student-success:hover
  border-right: 0.5em solid $success
