=borderRadius($radius: 6px)
  -moz-border-radius: $radius
  -o-border-radius: $radius
  -webkit-border-radius: $radius
  border-radius: $radius

=borderRadiusTopRight($radius: 6px)
  -moz-border-top-right-radius: $radius
  -o-border-top-right-radius: $radius
  -webkit-border-top-right-radius: $radius
  border-top-right-radius: $radius

=borderRadiusTopLeft($radius: 6px)
  -moz-border-top-left-radius: $radius
  -o-border-top-left-radius: $radius
  -webkit-border-top-left-radius: $radius
  border-top-left-radius: $radius

=borderRadiusButtonLeft($radius: 6px)
  -moz-border-bottom-left-radius: $radius
  -o-border-bottom-left-radius: $radius
  -webkit-border-bottom-left-radius: $radius
  border-bottom-left-radius: $radius
  
=borderRadiusButtonRight($radius: 6px)
  -moz-border-bottom-right-radius: $radius
  -o-border-bottom-right-radius: $radius
  -webkit-border-bottom-right-radius: $radius
  border-bottom-right-radius: $radius

=boxShadow($x, $y, $blur, $color: rgba(3,27,78,.06), $border: 0)
  -moz-box-shadow: $x $y $blur $border $color
  -o-box-shadow: $x $y $blur $border $color
  -webkit-box-shadow: $x $y $blur $border $color
  box-shadow: $x $y $blur $border $color

=rotateX($angle)
  -moz-transform: rotate($angle)
  -o-transform: rotate($angle)
  -webkit-transform: rotate($angle)
  transform: rotate($angle)

=transition($property, $duration, $timing, $delay: 0s)
  -moz-transition: $property $duration $timing $delay
  -o-transition: $property $duration $timing $delay
  -webkit-transition: $property $duration $timing $delay
  transition: $property $duration $timing $delay

=translate($tx, $ty:0px)
  -webkit-transform: translate($tx, $ty)
  -ms-transform: translate($tx, $ty)
  -o-transform: translate($tx, $ty)

=textTruncate()
  display: block
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap
=noTextTruncate()
    white-space: normal
    overflow: initial

/*Estilos para schedule*/
$small: 550px
$medium: 1220px
$large: 1400px

=mediaQuery($size)
  @if $size == S
   @media only screen and (max-width: $medium)
    @content
  @else if $size == M
   @media only screen and (min-width: $medium)
    @content
  @else if $size == L
   @media only screen and (min-width: $large)
    @content

=column($percentage, $float-direction:left)
  float: $float-direction
  width: 100% * $percentage

=fontSmoothing
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased

=clearFix()
  &::after
    clear: both
    content: ""
    display: block
