$left: 60px

.content-schedule *, .content-schedule *::after, *::before
  box-sizing: border-box

.content-schedule
  margin: 0
  padding: 0
  position: relative
  ul
    list-style: none
    padding: 0
  .timeline-schedule /* lista para las horas del día */
    display: block
    height: 100%
    left: 0
    padding-left: 1px
    padding-top: 59px
    position: absolute
    top: 0
    width: 100%
    ul.hours
      li /* hora en formato 24 horas */
        height: 60px
        position: relative
        &::after, &:nth-child(1)::before
          background: #666
          content: ''
          height: 1px
          left: $left
          position: absolute
          width: calc(100% - #{$left})
        &::after
          bottom: 0
        &:nth-child(1)::before
          top: 0
        &:last-of-type::after
          display: none
        span
          display: inline-block
          font-weight: $font-Bold
          transform: translateY(-50%)
        &:nth-of-type(2n) span
          color: #d8d8d8
          font-weight: normal
        &.offered-course
          &::after, &:nth-child(1)::before
            left: 0
          span
            display: none
  .week /* semana */
    position: relative
    z-index: 1
    ul.weekdays /* días de la semana */
      margin-left: $left
      li.weekday /* día de la semana */
        float: left
        margin-bottom: 30px
        position: relative
        width: calc(100%/7)
        .name-day /* nombre del día de la semana */
          border-bottom: 4px solid #EAEAEA
          padding: 0 5%
          text-align: center
          width: 100%
          span
            display: inline-block
            font-weight: $font-Bold
            padding: 10px

        ul.courses /* lista de asignaturas en el día */
          border: 1px solid #EAEAEA
          position: relative
          top: 14px;
          width: 100%
          li.course /* asignatura que se lleva en unas horas */
            background-color: #eee
            border: 1px solid $secondary
            border-top-style: dashed
            border-bottom-style: dashed
            display: table
            position: absolute
            width: 101%
            p /* contenedor de los datos del asignatura */
              color: #111
              display: table-cell
              font-size: 10px
              margin: 2px 0
              overflow: hidden
              padding: 0 5px
              text-align: center
              vertical-align: middle
              width: 100%
              .course-times, .course-name
                display: block
                font-weight: $font-Bold
              span.course-times /* tiempos de inicio y fin */
                color: #333
                font-size: 1.4rem
                line-height: 1.2
                margin-bottom: .2em
                margin-top: .2em
                opacity: .7
              em.course-name /* nombre del asignatura */
                font-size: 12px
      &.offered-course
        margin-left: 0
              

@media only screen and (max-width: 1000px)
  .content-schedule
    .timeline-schedule
      display: none
    .week
      ul.weekdays
        li
          &.weekday
            border: 1px solid #999
            height: auto
            margin-bottom: 20px
            width: 100%
            ul.courses
              display: flex
              height: auto !important
              overflow-x: scroll
              position: relative
              top: 0
              li.course
                flex-shrink: 0
                float: left
                height: 150px !important
                margin-left: 20px
                max-width: 300px
                position: initial
                width: 70%
          &.hidden-day
            display: none
            visibility: hidden

@media only screen and (max-width: 1220px)
  .content-schedule
    .timeline-schedule
      padding-left: 0
      ul.hours /**/
        li /* hora en formato 24 horas */
          &::after, &:nth-child(1)::before
            left: 0
          span
            display: none
    .week
      ul.weekdays
        margin-left: 0

@media print
  .content-schedule
    .timeline-schedule
      padding-left: 0
      ul.hours /**/
        li /* hora en formato 24 horas */
          &::after, &:nth-child(1)::before
            left: 0
          span
            display: none
    .week
      ul.weekdays
        margin-left: 0
        li.weekday
          ul.courses
            height: auto !important // estilo para verse en 1 pagina
            li.course
              // estilo para verse en 1 pagina
              position: initial
              height: auto !important
              padding: 15px 0
              p
                span, em
                  font-size: 9px !important
              .tooltip
                display: none !important
