// formulario por div's
// @author Arturo B.

// estilos usados en la ficha socioeconomica

  .cauform
  padding: 0.8em
  border: solid #ADADAD 1px
  border-radius: 0.2em
  // overflow: hidden;
  background-color: #F0F0F0
  div.row
    background-color: $white
    border-bottom: solid #DDD 1px
    margin-top: 0
    margin-bottom: 0
    margin-left: -10px
    margin-right: -10px
    padding-top: 0.4em
    padding-bottom: 0.4em
    div.divchild
      border-bottom: dotted #DDD 1px
    &.title
      background-color: #F0F0F0
      font-weight: $font-Bold
      font-size: 1.1em
      padding-right: 15px
  > form > div.row > div:first-child ~ div
    border-left: solid #DDD 1px
    // border-right: solid #DDD 1px;
  input.ng-invalid, select.ng-invalid
    border: solid 1px #FA787E
    border-left: solid 8px #FA787E
  input[type="radio"].ng-invalid
    box-shadow: 0px 0px 3px 1px #FA787E
    border: none
    -webkit-appearance: none
    width: 14px
    height: 14px
    background-image: url('../static/images/radio_button_invalid.png')
  textarea.ng-invalid
    border: solid 1px #FA787E
    border-left: solid 8px #FA787E
  input.ng-valid.ng-touched
    border: solid 1px  $primary
    border-left: solid 8px  $primary
  select.ng-valid.ng-touched
    border: solid 1px $primary
    border-left: solid 8px  $primary
  input
    &[type="radio"].ng-valid.ng-touched:checked
      box-shadow: 0px 0px 3px 1px $primary
      border-radius: 50%
    &.ng-valid.ng-touched
      border: solid 1px  $primary
      border-left: solid 8px  $primary
  textarea.ng-valid.ng-touched
    border: solid 1px  $primary
    border-left: solid 8px  $primary
  .help-message
    margin: 0.4em 0
    padding: 0.4em
    border: solid #DDD 1px
    border-radius: 0.2em
    background-color: #CAE9FF
    color: #4a4a4a
    position: absolute
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2)
    margin-right: 15px
    .help-message-arrow
      height: 18px
      width: 18px
      background-color: #CAE9FF
      border: solid #DDD 1px
      transform: rotate(45deg)
      position: absolute
      left: -9px
      top: 6px
      z-index: 1000
      border-top: none
      border-right: none
    .help-message-content
      z-index: 1011
      position: relative
      background-color: #CAE9FF


  // .cauform input.ng-invalid.ng-touched
  //  background-color: #FA787E

  // .cauform input.ng-valid.ng-touched 
  //   background-color: #78FA89

@media (max-width: 767px)
  .cauform .help-message
    position: relative
    margin-right: 0
    margin-top: 15px
    .help-message-arrow
      top: -9px
      right: 18px
      left: unset
      transform: rotate(135deg)

// Objetos de Interfaz extendidos

.nopadding
  padding: 0 !important
  margin: 0 !important

.person-card
  padding: 4px
  color: rgb(106, 106, 106)
  font-size: 0.8em
  border-bottom: 1px solid rgb(238, 238, 238)

.person-card-disabled
  color: #666
  background-color: #AAA

.ficha-item
  color: #666
  min-height: 10em
  line-height: 1em
  background-color: #EEE
  border: solid #DEDEDE 1px
  vertical-align: bottom
  text-align: center
  padding-top: 1em
  &:hover
    background-color: #DDD
    color: #4A4A4A
    border-style: dotted

.ficha-quote
  font-size: 1em
  color: #666

// Ficha resument navigator

.abefore, .anext
  width: 25px
  height: 70px
  overflow: hidden
  cursor: pointer
  cursor: hand

.abefore:hover, .anext:hover
  background-color: #424242

.abefore span, .anext span
  height: 16px
  width: 16px
  display: block
  background-color: $white
  position: relative
  top: 15px
  transform: rotate 2s

.abefore span
  left: 16px
  transform: rotate(0deg)
  transition: transform 500ms ease

.anext span
  right: 8px
  transform: rotate(90deg)
  transition: transform 500ms ease

.abefore, .anext
  background-color: #333
  display: inline-block
  font-size: 1rem
  white-space: normal
  margin: 0
  padding: 0

.ficha-res-container
  background-color: #333
  display: inline-block
  font-size: 1rem
  white-space: normal
  margin: 0
  padding: 0
  display: inline-block
  height: 70px
  overflow-y: hidden
  overflow-x: hidden
  width: calc(100% - 50px)
  background-image: url('/Content/static/images/line.png')
  background-repeat: repeat-x
  background-position: 0 19px

.ficha-res
  font-size: 0
  overflow: hidden
  width: 840px
  height: 70px
  padding: 0
  margin: 0
  display: block
  transition: left 1s linear
  position: relative
  left: 0px
  li
    background-image: url('/Content/static/images/line.png')
    background-repeat: repeat-x
    background-position: 0 19px
    cursor: pointer
    cursor: hand
    font-size: 1rem
    display: inline-block
    text-align: center
    background-color: #023F88
    margin: 0
    padding: 0
    white-space: normal
    height: 70px
    width: 70px
    transition: background-color 1s
    &.active
      background-color: $primary
      span.ficha-res-cirle
        color: $primary
        background-color: #EEE
        box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.4)
    &:hover
      background-color: $primary
      span.ficha-res-cirle
        color: $primary
    span
      display: block
      text-align: center
      &.ficha-res-cirle
        font-size: 1.6em
        height: 30px
        width: 30px
        line-height: 30px
        vertical-align: middle
        background-color: #FEFEFE
        border-radius: 50%
        margin: 8px auto
        color: #023F88
      &.ficha-res-text
        font-size: 1.4em
        background-color: rgba(0, 0, 0, 0.4)
        width: 100%
        color: #DEDEDE
        bottom: 0
        padding: 2px

// Texto de Ayuda
// Texto de ayuda para los inputs

.texto-ayuda
  font-size: 11px
  text-align: right
  color: #818a91
  margin-top: 0.5em

// Backgrounds colors

.bg-black
  background-color: #242424
