// Timeline

.timelineh-container
  display: inline-block
  overflow-y: auto
  padding: 2px
  width: 100%
  &::-webkit-scrollbar-track
    +borderRadius(10px)
    +boxShadow(0, 0, 6px, transparent)
  &::-webkit-scrollbar
    height: 5px
  &::-webkit-scrollbar-thumb
    +borderRadius(10px)
    +boxShadow(0, 0, 6px, rgba($black,.3))
    background-color: rgba($black,.4)
.timelineh, .timeline-horizontal
  list-style: none
  padding: 20px
  position: relative

.timelineh
  &:before
    background-color: $gray-400
    bottom: 0
    content: " "
    left: 50%
    margin-left: -1.5px
    position: absolute
    top: 40px
    width: 3px
  .timeline-item
    margin-bottom: 20px
    position: relative
    &:before
      content: ""
      display: table
    &:after
      clear: both
      content: ""
      display: table
    .timeline-badge
      // border: 3px solid $white
      background-color: $gray-500
      border-bottom-left-radius: 50%
      border-bottom-right-radius: 50%
      border-top-left-radius: 50%
      border-top-right-radius: 50%
      color: $white
      font-size: 12px
      height: 32px
      left: 50%
      line-height: 28px
      margin-left: -25px
      position: absolute
      text-align: center
      top: 18px
      width: 32px
      z-index: 100
      i, .fa, .glyphicon
        left: 0px
        top: 2px
      &.primary
        background-color: $primary
      &.info
        background-color: $info
      &.success
        background-color: $success
      &.warning
        background-color: $warning
      &.danger
        background-color: $danger
    .timeline-panel
      +boxShadow(0, 1px, 6px, $gray-400)
      background: $white
      +borderRadius(2px)
      color: $gray-500
      float: left
      padding: 8px
      position: relative
      right: 16px
      width: 46%
      &:before
        border-bottom: 16px solid transparent
        border-left: 16px solid $gray-400
        border-right: 0 solid $gray-400
        border-top: 16px solid transparent
        content: " "
        display: inline-block
        position: absolute
        right: -16px
        top: 26px
      .timeline-title
        color: inherit
        margin-top: 0
      .timeline-body >
        p, ul
          margin-bottom: 0
        p + p
          margin-top: 5px
    &:last-child:nth-child(even)
      float: right
    &:nth-child(even) .timeline-panel
      float: right
      left: 16px
      &:before
        border-right-width: 16px
        left: -14px
        right: auto
    &:last-child
      padding-right: 0

.timelineh-horizontal
  display: inline-block
  list-style: none
  padding: 20px 0px 20px 0px
  position: relative
  &:before
    bottom: 14px
    height: 3px
    left: 0
    margin-bottom: 20px
    right: 0
    top: auto
    width: 100%
  .timeline-item
    display: table-cell
    float: none !important
    height: 150px
    margin: 0 auto
    min-width: 182px
    padding-left: 0px
    padding-right: 20px
    vertical-align: bottom
    width: 20%
    .timeline-panel
      bottom: 64px
      display: inline-block
      float: none !important
      left: 0 !important
      margin-bottom: 0
      right: 0 !important
      top: auto
      width: 100%
      &:before
        border-bottom: 0 solid $gray-400
        border-left: 16px solid transparent
        border-right: 16px solid transparent
        border-top: 16px solid $gray-400
        bottom: -16px
        left: 28px !important
        right: auto
        top: auto
      &.item-success
        // border: 1px solid $success
        background-color: $success
        color: $white
        .text-muted
          color: $white
        &:before
          border-bottom: 0 solid $success
          border-top: 16px solid $success
      &.item-primary
        // border: 1px solid $primary
        background-color: $primary
        color: $white
        .text-muted
          color: $white
        &:before
          border-bottom: 0 solid $primary
          border-top: 16px solid $primary
      &.item-secondary
        // border: 1px solid $secondary
        background-color: $secondary
        color: $white
        .text-muted
          color: $white
        &:before
          border-bottom: 0 solid $secondary
          border-top: 16px solid $secondary
    &:before, &:after
      display: none
    .timeline-badge
      bottom: 0px
      left: 52px
      top: auto
