// estilos para tree por elemento

ul.tree-branch
  li
    padding-top: 15px
    position: relative
    font-size: 15px
    &:before
      content: ''
      position: absolute
      height: 100%
      top: 0
      border-left: 1px solid $secondary
    &:last-child
      &:before
        height: 26px
