// Tree list view Estilos para Arbol de nodos
.tree
  min-height: 20px
  padding: 19px
  margin-bottom: 20px
  background-color: #fbfbfb
  border: 1px solid #999
  +borderRadius(4px)
  +boxShadow(0, 1px, 1px, rgba(0, 0, 0, 0.05))
  li
    list-style-type: none
    margin: 0
    padding: 10px 5px 0 5px
    position: relative
    &:before, &:after
      content: ''
      left: -20px
      position: absolute
      right: auto
    &:before
      border-left: 1px solid #999
      bottom: 50px
      height: 100%
      top: 0
      width: 1px
    &:after
      border-top: 1px solid #999
      height: 20px
      top: 25px
      width: 25px
    &:last-child
      &::before
        height: 30px
    span
      border: 1px solid #999
      +borderRadius(5px)
      display: inline-block
      padding: 3px 8px
      text-decoration: none
    &.parent_li
      &>span
        cursor: pointer
        &:hover, hover+ul li span
          background: #eee
          border: 1px solid #94a0b4
          color: $black
  &>ul
    &>li
      &::before, ::after
        border: 0
