.user-panel
  .student-abstract
    color: $white
    font-size: 0.9em
    padding-top: 0.5em
    p
      background-color: rgba($black, .2)
      margin: 0.16em
      padding: 0.2em 0 0.2em 1.6em
      white-space: initial
.sidebar-collapse
  .student-abstract
    display: none
    visibility: hidden
