// Definición de Variables

// Fuente según el cambio de marca
@font-face {
  font-family: 'Neue Plak';
  src: url('../fonts/Neue Plak Regular.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'Neue Plak';
  src: url('../fonts/Neue Plak SemiBold.ttf') format('truetype');
  font-weight: bold;
}

$font-NeuePlak: 'Neue Plak', Helvetica, Arial, Verdana, sans-serif;
$font-Light: 300;
$font-Normal: 400;// Regular
$font-SemiBold: 600;
$font-Bold: 700;
$font-Black: 900;

// Variables of colors for design
$blue:    #007bff !default;
$body:    #ecf0f5 !default;
$cyan:    #17a2b8 !default;
$green:   #28a745 !default;
$indigo:  #6610f2 !default;
$orange:  #fd7e14 !default;
$pink:    #e83e8c !default;
$purple:  #6f42c1 !default;
$red:     #dc3545 !default;
$teal:    #20c997 !default;
$violet:  #813788 !default;
$yellow:  #ffc107 !default;

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #212322 !default;

$danger:    $red;
$dark:      $gray-800;
$darken:    $gray-900;
$info:      $cyan;
$light:     $gray-100;
$primary:   $blue;
$secondary: $gray-600;
$success:   $green;
$warning:   $yellow;

// colores adminLTE
$a-primary: #3c8dbc !default;
$a-aqua: #00c0ef !default;
$a-info: #00c0ef !default;
$a-success: #00a65a !default;
$a-warning: #f39c12 !default;
$a-danger: #f56954 !default;
$a-gray: #d2d6de !default;
$a-navy: #001F3F !default;
$a-teal: #39CCCC !default;
$a-purple: #605ca8 !default;
$a-orange: #ff851b !default;
$a-maroon: #D81B60 !default;
$a-blue: #0073b7 !default;
$a-green: $a-success !default;

// lista de colores para su llamado en bucles
$theme-colors: (
  "aqua": $a-aqua,
  "blue": $blue,
  "cyan": $cyan,
  "danger": $danger,
  "dark": $dark,
  "darken": $darken,
  "green": $green,
  "indigo": $indigo,
  "info": $info,
  "orange": $orange,
  "pink": $pink,
  "primary": $primary,
  "purple": $purple,
  "red": $red,
  "secondary": $secondary,
  "success": $success,
  "teal": $teal,
  "violet": $violet,
  "warning": $a-warning,
  "yellow": $yellow,
  "maroon": $a-maroon,
);

// direcciones
$directions: ("top": "t", "right": "r", "bottom": "b","left": "l");

// Media queries
$screen-xs-max: 768px;
$screen-sm-min: 768px;
$screen-sm-max: 992px;
$screen-md-min: 992px;
$screen-md-max: 1200px;
$screen-lg-min: 1200px;

$border-radius: 5px !default;

$space-print: 5px;
