.wizard
  .nav-tabs[role="tablist"]
    border: 0
    position: relative
    >li
      min-width: 18%
      background-color: $white
      &:last-of-type
        margin-right: 15px
      .round-box
        .title
          color: $black
          font-size: 20px
        .round-tab
          +borderRadius(100%)
          background-color: $white
          border: 2px solid $info
          display: inline-block
          font-size: 25px
          left: 0
          text-align: center
          z-index: 2
          i
            color: $info
            margin: 15px
          &:hover
            background-color: $info
            border: 2px solid $info
            color: $white
            i
              color: $white
      &:before
        border: 1px solid $gray-400
        top: 60%
        content: " "
        position: absolute
        right: 0
        width: 100%
      &:after
        border: 10px solid transparent
        border-bottom-color: $info
        bottom: 0px
        content: " "
        margin: 5px auto
        opacity: 0
        width: 0
        display: block
        transition: 0.1s ease-in-out
      &.active
        .round-box
          .title
              color: $info
          .round-tab
            background: $info !important
            border: 2px solid $info !important
            i
              color: $white !important
        &:after
          border-bottom-color: $info
          content: " "
          opacity: 1
        .round-box
          background-color: transparent
          border-bottom-color: transparent
          border: 0
          color: $secondary
          cursor: default
          &:hover, &:focus
            border: 0
            border-bottom-color: transparent
            color: $secondary
            cursor: default
        &.success
          .round-box
            .title
              color: $green
            .round-tab
              background-color: $green !important
              border: 2px solid $green !important
              i
                color: $white !important
      &.success
        .round-box
          .round-tab
            border: 2px solid $green
            i
              color: $green
        &.active
          &:after
            border-bottom-color: $green
          a
            color: $green
        &:hover
          .round-box
            .round-tab
              border: 2px solid $green !important
              background-color: $green !important
              i
                color: $white !important
          &:after
            opacity: 1
            border-bottom-color: $green
      .round-box
        border: 2px solid transparent !important
        margin: 15px auto 0 auto
        padding: 0
        &:hover
          background: transparent
          border: 2px solid transparent
      &:hover
        &:after
          opacity: 1
  .tab-pane
    padding-top: 15px
    position: relative
  h3
    margin-top: 0

.tab-content
    padding-top: 15px
