// Estilos para base de CAU
@import ./variables
@import ./mixin

@import ./animation/index
@import ./header
@import ./login
@import ./loading
@import ./helpers/index

@import ./table/index
@import ./card/index
@import ./border/index
@import ./button/index

@import ./text/index

@import ./tree
@import ./schedule
@import ./timelineh
@import ./wizard
@import ./scrollView/scrollViewX
@import ./fontconticon
@import ./overwriteTheme/index

@import ./socrecord
@import ./userAbstract

@import ./message/index
@import ./print/index

body
  font-family: $font-NeuePlak
  height: 100%
.personal-description
  font-size: 0.9em !important
/**
 * Estilos Cursor
 */
.hand
  cursor: pointer
.help
  cursor: help
.not-allowed
  cursor: not-allowed
.context-menu
  cursor: context-menu
.set-profile
  &:hover
    font-weight: $font-Bold
/**
 * Boton motivos se solicitud
 */
.btn-reason
  margin-right: 0.2em
  margin-bottom: 0.2em

.skin-black
  .sidebar-menu >
    li.header
      color: #D5D5D5 !important

// estilos agregados por jpalacios
.border-radius-10
  +borderRadius(10px)
// estilo para poder alinear los divs centrados con la ayuda de text-center
.inline-block
  display: inline-block !important
  float: none

.border-radius-top-10
  +borderRadiusTopRight(10px)
  +borderRadiusTopLeft(10px)

.no-border-radius
  +borderRadiusTopRight(0)
  +borderRadiusTopLeft(0)

.shadow-hover
  +boxShadow(0px, 0px, 10px)
  overflow: hidden
  &:hover
    +boxShadow(0px, 0px, 10px, #999)

.card-credit
  img
    max-width: 100%

.rotate-180
  +rotateX(180deg)

// Estilo para suspencivos en caso de no caber todo el texto en una sola línea
.text-truncate, .text-truncate-nsm
  +textTruncate()
.text-no-truncate
  overflow: inherit !important
  white-space: inherit !important
  text-overflow: inherit !important

// modal lx para ocupar casi toda la pantalla
.modal-xl
  width: 98% !important

@media screen and (max-width: 768px)
  .text-truncate-nsm
    +noTextTruncate

// Cambio de estilo para los nav-taps
ul.nav-tabs
  background-color: $white
  +borderRadius(4px)


// Wordpres container 
.wordpress-container
  // background-color: #f3f3f3
  .standard-arrow 
    li
      &::before
        color: #fff
        background-color: #b23ead
  .dt-fancy-separator
    color: #b4b5bb
    text-align: left
    margin: 0
    position: relative
    overflow: hidden
  .dt-fancy-title
    position: relative
    display: inline-block
    top: 50%
    color: #090909
  .step-layout
    background-color: #f8f8f8
    margin: 1.2em
    padding-bottom: 1.2em 
    .step-title
      background: #f2f2f2
      padding: 0.6em 1.2em
  .paragraph, p
    padding: 0.4em 0.8em
    text-align: left
  .img-holder
    text-align: center
  img
    max-width: 80%
    margin: auto
  .aligncenter
    display: block
    margin: 0 auto 10px
  .separator
    border-color: #ebebeb
    height: 1px
    border-top: 1px solid #ebebeb
    border-top-color: rgb(235, 235, 235)
    display: block
    position: relative
    top: 1px
    width: 100%
    margin: 0 2em
  table  
    tr
      border-top: solid 1px #cccccc
    td
      color: #4a4a4a
