<!-- Main content -->
<section class="content">
  <div class="row" *ngIf="loading">
    <div class="col-md-12">
      <loading></loading>
    </div>
  </div>
  <div class="row" *ngIf="!loading">
    <div class="col-md-3">
      <div class="box box-solid" *ngIf="cas">
        <div class="box-header with-border">
          <h3 class="box-title"><i class="fa fa-university"></i> Incidentes UC</h3>

          <div class="box-tools">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="box-body no-padding">
          <ul class="nav nav-pills nav-stacked">
            <li [ngClass]="{'active': inbox === 'ucOpen'}" (click)="setInbox('ucOpen')">
              <a class="hand"><i class="fa fa-inbox"></i> Pendientes
                <span class="label label-warning pull-right" *ngIf="ucOpenData !== undefined">
                  {{ ucOpenData.length }}</span></a>
            </li>
            <li [ngClass]="{'active': inbox === 'ucInProgress'}" (click)="setInbox('ucInProgress')">
              <a class="hand"><i class="fa fa-tasks"></i> En Progreso
                <span class="label bg-primary pull-right" *ngIf="ucInProgressData !== undefined">
                  {{ ucInProgressData.length }}</span></a>
            </li>
            <li [ngClass]="{'active': inbox === 'ucSolved'}" (click)="setInbox('ucSolved')" *ngIf="false">
              <a class="hand"><i class="fa fa-list"></i> Resueltos
                <span class="label bg-success pull-right" *ngIf="ucSolvedData !== undefined">
                  {{ ucSolvedData.length }}</span></a>
            </li>
            <li [ngClass]="{'active': inbox === 'ucCancelled'}" (click)="setInbox('ucCancelled')" *ngIf="false">
              <a class="hand"><i class="fa fa-ban"></i> Cancelados
                <span class="label bg-red pull-right" *ngIf="ucCancelledData !== undefined">
                  {{ ucCancelledData.length }}</span></a>
            </li>
          </ul>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /. box -->
      <div class="box box-solid">
        <div class="box-header with-border">
          <h3 class="box-title"><i class="fa fa-user"></i> Personal</h3>
          <div class="box-tools">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="box-body no-padding">
          <ul class="nav nav-pills nav-stacked">
            <li [ngClass]="{'active': inbox === 'personalOpen'}" (click)="setInbox('personalOpen')">
              <a class="hand"><i class="fa fa-inbox text-warning"></i> Pendientes
                <span class="label label-warning pull-right" *ngIf="personalOpenData !== undefined">
                  {{ personalOpenData.length }}</span></a>
            </li>
            <li [ngClass]="{'active': inbox === 'personalInProgress'}" (click)="setInbox('personalInProgress')">
              <a class="hand"><i class="fa fa-tasks text-primary"></i> En progreso
                <span class="label bg-primary pull-right" *ngIf="personalInProgressData !== undefined">
                  {{ personalInProgressData.length }}</span></a>
            </li>
            <li [ngClass]="{'active': inbox === 'personalSolved'}" (click)="setInbox('personalSolved')">
              <a class="hand"><i class="fa fa-list text-green"></i> Resueltos
                <span class="label bg-success pull-right" *ngIf="personalSolvedData !== undefined">
                  {{ personalSolvedData.length }}</span></a>
            </li>
            <li [ngClass]="{'active': inbox === 'personalCancelled'}" (click)="setInbox('personalCancelled')">
              <a class="hand"><i class="fa fa-ban text-red"></i> Cancelados
                <span class="label bg-red pull-right" *ngIf="personalCancelledData !== undefined">
                  {{ personalCancelledData.length }}</span></a>
            </li>
          </ul>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
      <div class="box box-solid">
        <div class="box-header with-border">
          <h3 class="box-title"><i class="fa fa-users"></i> Equipo</h3>
          <div class="box-tools">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="box-body no-padding">
          <ul class="nav nav-pills nav-stacked">
            <li [ngClass]="{'active': inbox === 'teamOpen'}" (click)="setInbox('teamOpen')">
              <a class="hand"><i class="fa fa-inbox text-warning"></i> Pendientes
                <span class="label label-warning pull-right" *ngIf="teamOpenData !== undefined">
                  {{ teamOpenData.length }}</span></a>
            </li>
            <li [ngClass]="{'active': inbox === 'teamInProgress'}" (click)="setInbox('teamInProgress')">
              <a class="hand"><i class="fa fa-tasks text-primary"></i> En progreso
                <span class="label bg-primary pull-right" *ngIf="teamInProgressData !== undefined">
                  {{ teamInProgressData.length }}</span></a>
            </li>
            <li [ngClass]="{'active': inbox === 'teamSolvedData'}" (click)="setInbox('teamSolvedData')">
              <a class="hand"><i class="fa fa-list text-green"></i> Resueltos
                <span class="label bg-success pull-right" *ngIf="teamSolvedData !== undefined">
                  {{ teamSolvedData.length }}</span></a>
            </li>
            <li [ngClass]="{'active': inbox === 'teamCancelledData'}" (click)="setInbox('teamCancelledData')">
              <a class="hand"><i class="fa fa-ban text-red"></i> Cancelados
                <span class="label bg-red pull-right" *ngIf="teamCancelledData !== undefined">
                  {{ teamCancelledData.length }}</span></a>
            </li>
          </ul>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
      <span class="btn btn-primary btn-block margin-bottom" (click)="registerMode()" *ngIf="!viewForms">
        <i class="fa fa-plus-square-o"></i> Nuevo incidente
      </span>
      <span class="btn btn-danger btn-block margin-bottom" (click)="cancel()" *ngIf="viewForms">
        <i class="fa fa-trash"></i> Cancelar registro de incidente
      </span>
    </div>
    <!-- /.col -->
    <div class="col-md-9">
      <div class="row" *ngIf="viewForms">
        <div class="col-md-12">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Buscar estudiante</h3>
            </div>
            <div class="box-body with-border">
              <form class="form-horizontal" (ngSubmit)="searchStudent(studentId)" #searchStudentForm="ngForm">
                <div class="form-group">
                  <label for="student" class="col-sm-2 control-label"></label>
                  <div class="input-group input-group-sm col-sm-10 col-md-7">
                    <input type="text" id="student" name="student" placeholder="código de estudiante"
                           class="form-control" required [(ngModel)]="studentId" [disabled]="searching || processing">
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default btn-flat"
                              [disabled]="searchStudentForm.invalid || searching || processing">
                        <i class="fa fa-search"></i>
                      </button>
                    </span>
                  </div>
                </div>
              </form>
              <div class="form-group" *ngIf="searching">
                <div class="col-sm-2"></div>
                <div class="col-sm-10 col-md-7">Buscando...<i class="fa fa-spinner fa-pulse fa-fw"></i></div>
              </div>
              <div class="form-group" *ngIf="student !== undefined && student !== null">
                <div class="col-sm-2"></div>
                <div class="col-sm-10 col-md-7">
                  {{ student.last_name |uppercase }} {{ student.first_name | uppercase }}
                  <button class="btn btn-xs btn-warning" (click)="showNewIncidentForm(student)">
                    <i class="fa fa-plus"></i> crear incidente
                  </button>
                </div>
              </div>
            </div>
            <!-- /.box-body -->
          </div>
        </div>
        <!-- /.col -->
        <div class="col-md-12" *ngIf="viewNewIncidentForm">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Registro de incidente</h3>
            </div>
            <div class="box-body with-border">
              <form class="form-horizontal" (ngSubmit)="save()" #newIncidentForm="ngForm">
                <div class="form-group">
                  <label class="col-sm-2 control-label">Estudiante</label>
                  <div class="col-sm-10 col-md-7">
                    <span class="form-control">{{ newIncident.reporterName }}</span>
                  </div>
                </div>
                <div class="form-group" [ngClass]="{'has-error': title.invalid}">
                  <label for="title" class="col-sm-2 control-label">Título</label>
                  <div class="col-sm-10 col-md-7">
                    <input type="text" class="form-control" name="title" id="title" placeholder="Título" required
                           minlength="20" [(ngModel)]="newIncident.title" #title=ngModel>
                  </div>
                </div>
                <div class="form-group" [ngClass]="{'has-error': type.invalid}">
                  <label class="col-sm-2 control-label" for="type">Tipo</label>
                  <div class="col-sm-10 col-md-7">
                    <select name="type" id="type" class="form-control" required [(ngModel)]="newIncident.typeId"
                            #type="ngModel">
                      <option *ngFor="let type of incidentTypes" value="{{type.id}}"> {{type.name}} </option>
                    </select>
                  </div>
                </div>
                <div class="form-group" [ngClass]="{'has-error': origin.invalid}">
                  <label class="col-sm-2 control-label" for="origin">Fuente</label>
                  <div class="col-sm-10 col-md-7">
                    <select name="origin" id="origin" class="form-control" required
                            [(ngModel)]="newIncident.requestSource"
                            #origin="ngModel">
                      <option *ngFor="let item of incidentRequestSources" value="{{item.id}}"> {{item.name}} </option>
                    </select>
                  </div>
                </div>
                <div class="form-group" [ngClass]="{'has-error': description.invalid}">
                  <label class="col-sm-2 control-label" for="description">Descripción</label>
                  <div class="col-sm-10 col-md-7">
                    <textarea class="form-control mt" rows="3" name="description" id="description"
                              placeholder="Descripción del incidente..." required minlength="40" maxlength="1000"
                              [(ngModel)]="newIncident.description" #description="ngModel"></textarea>
                    <small class="help-block text-gray-disabled">
                      mín. 40 caracteres
                      <span class="pull-right" *ngIf="newIncident.description !== undefined">
                        {{ newIncident.description.length }} / 1000
                      </span>
                    </small>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10 col-md-7">
                    <div class="callout callout-warning" *ngIf="msgError != null && msgError.length > 0">
                      <h4><i class="fa fa-ban"></i> Error!</h4>
                      <p>{{msgError}}</p>
                    </div>
                    <button type="submit" class="btn btn-info" [disabled]="newIncidentForm.invalid || processing">
                      <i class="fa fa-save"></i> Guardar
                    </button>
                    <button type="button" class="btn btn-default" (click)="cancel()">
                      <i class="fa fa-trash"></i> Cancelar
                    </button>
                  </div>
                </div>
              </form>
            </div>
            <!-- /.box-body -->
            <!-- Loading (remove the following to stop the loading)-->
            <div class="overlay" *ngIf="processing">
              <i class="fa fa-refresh fa-spin"></i>
            </div>
            <!-- end loading -->
          </div>
        </div>
        <!-- /.col -->
      </div>
      <div class="row" *ngIf="!viewForms">
        <div class="col-md-12" *ngIf="inbox !== 'search'">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">
                <span *ngIf="inbox === 'ucOpen'"><i class="fa fa-university"></i> Incidentes UC: Sin asignar</span>
                <span *ngIf="inbox === 'ucInProgress'"><i
                    class="fa fa-university"></i> Incidentes UC: En progreso</span>
                <span *ngIf="inbox === 'ucSolved'"><i class="fa fa-university"></i> Incidentes UC: Resueltos</span>
                <span *ngIf="inbox === 'ucRejected'"><i class="fa fa-university"></i> Incidentes UC: Desestimados</span>
                <span *ngIf="inbox === 'ucCancelled'"><i class="fa fa-university"></i> Incidentes UC: Cancelados</span>
                <span *ngIf="inbox === 'ucClosed'"><i class="fa fa-university"></i> Incidentes UC: Cerrados</span>
                <span *ngIf="inbox === 'personalOpen'"><i class="fa fa-user"></i> Personal: Abiertos</span>
                <span *ngIf="inbox === 'personalInProgress'"><i class="fa fa-user"></i> Personal: En progreso</span>
                <span *ngIf="inbox === 'personalSolved'"><i class="fa fa-user"></i> Personal: Resueltos</span>
                <span *ngIf="inbox === 'personalRejected'"><i class="fa fa-user"></i> Personal: Desestimados</span>
                <span *ngIf="inbox === 'personalCancelled'"><i class="fa fa-user"></i> Personal: Cancelados</span>
                <span *ngIf="inbox === 'personalClosed'"><i class="fa fa-user"></i> Personal: Cerrados</span>
                <span *ngIf="inbox === 'teamOpen'"><i class="fa fa-users"></i> Equipo: Sin asignar</span>
                <span *ngIf="inbox === 'teamInProgress'"><i class="fa fa-users"></i> Equipo: En progreso</span>
                <span *ngIf="inbox === 'teamSolvedData'"><i class="fa fa-users"></i> Equipo: Resueltos</span>
                <span *ngIf="inbox === 'teamRejected'"><i class="fa fa-users"></i> Equipo: Desestimados</span>
                <span *ngIf="inbox === 'teamCancelledData'"><i class="fa fa-users"></i> Equipo: Cancelados</span>
                <span *ngIf="inbox === 'teamClosedData'"><i class="fa fa-users"></i> Equipo: Cerrados</span>
              </h3>
              <div class="box-tools pull-right">
                <div class="has-feedback">
                  <input type="text" class="form-control input-sm" placeholder="Filtrar">
                  <span class="fa fa-search form-control-feedback"></span>
                </div>
              </div>
              <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
              <div class="table-responsive mailbox-messages">
                <table class="table table-hover table-striped">
                  <thead *ngIf="incidentActiveView !== undefined">
                  <tr *ngIf="incidentActiveView.length">
                    <th class="text-muted">#</th>
                    <th>Autor</th>
                    <th>Título</th>
                    <th>Descripción</th>
                    <th>Tipo</th>
                    <th>Estado</th>
                    <th colspan="2" class="text-center">Asignado a</th>
                    <th>Creado</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngIf="incidentActiveView === undefined || !incidentActiveView.length">
                    <td colspan="9" class="bg-yellow-active text-center">
                      La bandeja
                      <span *ngIf="inbox === 'ucOpen'">de <i class="fa fa-university"></i> Incidentes UC con estado "Sin asignar"</span>
                      <span *ngIf="inbox === 'ucInProgress'">de <i class="fa fa-university"></i> Incidentes UC con estado "En progreso"</span>
                      <span *ngIf="inbox === 'ucSolved'">de <i class="fa fa-university"></i> Incidentes UC con estado "Resueltos"</span>
                      <span *ngIf="inbox === 'ucCancelled'">de <i class="fa fa-university"></i> Incidentes UC con estado "Cancelados"</span>
                      <span *ngIf="inbox === 'personalInProgress'"><i class="fa fa-user"></i> Personal con estado "En progreso"</span>
                      <span *ngIf="inbox === 'personalSolved'"><i
                          class="fa fa-user"></i> Personal con estado "Resueltos"</span>
                      <span *ngIf="inbox === 'personalCancelled'"><i class="fa fa-user"></i> Personal con estado "Cancelados"</span>
                      <span *ngIf="inbox === 'teamOpen'">de <i
                          class="fa fa-users"></i> Equipo con estado "Sin asignar"</span>
                      <span *ngIf="inbox === 'teamInProgress'">de <i class="fa fa-users"></i> Equipo con estado "En progreso"</span>
                      <span *ngIf="inbox === 'teamSolvedData'">de <i class="fa fa-users"></i> Equipo con estado "Resueltos"</span>
                      <span *ngIf="inbox === 'teamCancelledData'">de <i class="fa fa-users"></i> Equipo con estado "Cancelados"</span>
                      está vacía.
                    </td>
                  </tr>
                  <tr *ngFor="let incident of incidentActiveView" (click)="gotoIncidentDetail(incident.id)"
                      class="hand">
                    <td class="text-muted">{{ incident.id }}</td>
                    <td>{{ incident.reporterName }}</td>
                    <td>{{ incident.title }}</td>
                    <td>{{ utilService.getSlice(incident.description, 120) }}</td>
                    <td>{{ getIncidentTypeName(incident.typeId) }}</td>
                    <td>
                  <span class="badge"
                        [ngClass]="{'bg-orange-light': incident.statusId === 1, 'bg-primary': incident.statusId === 2}">
                    {{ getIncidentStatusName(incident.statusId) | lowerCase }}
                  </span>
                    </td>
                    <td><span *ngIf="incident.assignedToTeamId !== '00000000'">{{ incident.assignedToPidm }}</span></td>
                    <td>{{ incident.assignedToTeamId === '00000000' ? 'Sin asignar' : incident.assignedToTeamId }}</td>
                    <td>
                  <span class="help" data-toggle="tooltip" data-placement="top"
                        title="{{ incident.publicationDate | date: 'medium' }}">
                    {{ momento(incident.publicationDate | date: 'yyyyMMdd') }}
                  </span>
                    </td>
                  </tr>
                  </tbody>
                </table>
                <!-- /.table -->
              </div>
              <!-- /.mail-box-messages -->
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /. box -->
        </div>
        <!-- /.col -->
      </div>
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->
