<loading *ngIf="loading"></loading>

<callout-component *ngIf="error" [callout]="callout"></callout-component>

<div *ngIf="!loading && !error">

  <modal-message-course [term]="terms" [forceMessage]="true"></modal-message-course>

  <ul class="nav nav-tabs nav-justified hidden-print">
    <li [ngClass]="{'active': termActive==offert.term}" *ngFor="let offert of lisCoursesOffered; let i = index">
      <a class="bg-primary-outline" href="#term-{{offert.term}}" data-toggle="tab" aria-expanded="true">
        Oferta académica para el {{offert.term}}
      </a>
    </li>
  </ul>
  <div class="tab-content p-0">
    <div class="tab-pane bg-white p pb-0 border rounded-bottom" [ngClass]="{'active': i==0}" id="term-{{offert.term}}" *ngFor="let offert of lisCoursesOffered; let i = index">
      <h3 class="mt-0 text-secondary text-bold">Oferta {{offert.term}} por período.</h3>
      <div class="card" *ngFor="let cycles of offert.coursesByCycles">
        <div class="header pt-2 pb-2 bg-primary-light">
          <h3 class="title">Para el período {{cycles.cycle}}</h3>
        </div>
        <div class="body p-0 pt">
          <div class="col-md-6 col-lg-4 col-sm-12" *ngFor="let item of cycles.courses">
            <a class="card card-drible card-clickable" [ngClass]="{'border-green': item.recommended === 'Y'}" [routerLink]="['oferta-academica', (offert.term+'-'+item.subject+'-'+item.course)]">
              <div class="column bg-aqua" [ngClass]="{'bg-green': item.recommended === 'Y'}"></div>
              <div class="body">
                <span *ngIf="item.recommended === 'Y'" class="bg-green label"><i class="fa fa-check"></i> Recomendado</span>
                <p>Crédito: <b>{{item.credits}}</b></p>
                <p *ngIf="item.elective == '0' || item.elective == '1'">Tipo: 
                  <b *ngIf="item.elective == '0'">Obligatorio</b>
                  <b *ngIf="item.elective == '1'">Electivo</b>
                </p>
                <p>Código: <b>{{item.subject}}{{item.course}}</b></p>
                <h3 class="title text-truncate-nsm" [attr.data-toggle]="'tooltip'" [attr.data-placement]="'top'"
                  [attr.data-original-title]="item.nameCourse">{{item.nameCourse}}</h3>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
