<div class="row" *ngIf="loading">
  <div class="col-md-12">
    <loading></loading>
  </div>
</div>
<div class="row" *ngIf="!loading">
  <div class="col-md-3">
    <div class="box box-solid">
      <div class="box-header with-border">
        <h3 class="box-title"><i class="fa fa-user"></i> Incidentes</h3>
        <div class="box-tools"></div>
      </div>
      <div class="box-body no-padding">
        <ul class="nav nav-pills nav-stacked">
          <li [ngClass]="{'active': inbox === 'iOpen'}" (click)="setInbox('iOpen')">
            <a class="hand"><i class="fa fa-inbox text-warning"></i> Pendientes
              <span class="label label-warning pull-right" *ngIf="iOpenData !== undefined">
                  {{ iOpenData.length }}</span></a>
          </li>
          <li [ngClass]="{'active': inbox === 'iInProgress'}" (click)="setInbox('iInProgress')">
            <a class="hand"><i class="fa fa-tasks text-primary"></i> En progreso
              <span class="label bg-primary pull-right" *ngIf="iInProgressData !== undefined">
                  {{ iInProgressData.length }}</span></a>
          </li>
          <li [ngClass]="{'active': inbox === 'iSolved'}" (click)="setInbox('iSolved')">
            <a class="hand"><i class="fa fa-list text-green"></i> Resueltos
              <span class="label bg-success pull-right" *ngIf="iSolvedData !== undefined">
                  {{ iSolvedData.length }}</span></a>
          </li>
          <li [ngClass]="{'gray': inbox === 'iClosed'}" (click)="setInbox('iClosed')">
            <a class="hand"><i class="fa fa-list text-gray"></i> Cerrados
              <span class="label bg-gray pull-right" *ngIf="iClosedData !== undefined">
                  {{ iClosedData.length }}</span></a>
          </li>
          <li [ngClass]="{'active': inbox === 'iCancelled'}" (click)="setInbox('iCancelled')">
            <a class="hand"><i class="fa fa-ban text-red"></i> Cancelados
              <span class="label bg-red pull-right" *ngIf="iCancelledData !== undefined">
                  {{ iCancelledData.length }}</span></a>
          </li>
        </ul>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
    <span class="btn btn-primary btn-block margin-bottom" (click)="gotoCreateNewIncident()">
      <i class="fa fa-plus-square-o"></i> Nuevo incidente
    </span>
  </div>
  <!-- /.col -->
  <div class="col-md-9" *ngIf="inbox !== 'search'">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">
          <span *ngIf="inbox === 'iOpen'"><i class="fa fa-user"></i> Incidentes abiertos</span>
          <span *ngIf="inbox === 'iInProgress'"><i class="fa fa-user"></i> Incidentes en progreso</span>
          <span *ngIf="inbox === 'iSolved'"><i class="fa fa-user"></i> Incidentes resueltos</span>
          <span *ngIf="inbox === 'iRejected'"><i class="fa fa-user"></i> Incidentes desestimados</span>
          <span *ngIf="inbox === 'iCancelled'"><i class="fa fa-user"></i> Incidentes cancelados</span>
          <span *ngIf="inbox === 'iClosed'"><i class="fa fa-user"></i> Incidentes cerrados</span>
        </h3>
        <div class="box-tools pull-right">
          <div class="has-feedback">
            <input type="text" class="form-control input-sm" placeholder="Filtrar">
            <span class="fa fa-search form-control-feedback"></span>
          </div>
        </div>
        <!-- /.box-tools -->
      </div>
      <!-- /.box-header -->
      <div class="box-body no-padding">
        <div class="mailbox-controls"></div>
        <div class="table-responsive mailbox-messages">
          <table class="table table-hover table-striped">
            <thead *ngIf="incidentActiveView !== undefined">
            <tr *ngIf="incidentActiveView.length">
              <th class="text-muted">#</th>
              <th>Título</th>
              <th>Descripción</th>
              <th>Tipo</th>
              <th>Estado</th>
              <th>Creado</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngIf="incidentActiveView === undefined || !incidentActiveView.length">
              <td colspan="6" class="bg-yellow-active text-center">
                La bandeja
                <span *ngIf="inbox === 'iOpen'">de incidentes con estado "Abierto"</span>
                <span *ngIf="inbox === 'iInProgress'">de incidentes con estado "En progreso"</span>
                <span *ngIf="inbox === 'iSolved'">de incidentes con estado "Resueltos"</span>
                <span *ngIf="inbox === 'iCancelled'">de incidentes con estado "Cancelados"</span>
                está vacía.
              </td>
            </tr>
            <tr *ngFor="let incident of incidentActiveView" (click)="gotoIncidentDetail(incident.id)" class="hand">
              <td class="text-muted">{{ incident.id }}</td>
              <td>{{ incident.title }}</td>
              <td>{{ utilService.getSlice(incident.description, 120) }}</td>
              <td>{{ getIncidentTypeName(incident.typeId) }}</td>
              <td>
                  <span class="badge"
                        [ngClass]="{'bg-orange-light': incident.statusId === 1, 'bg-primary': incident.statusId === 2}">
                    {{ getIncidentStatusName(incident.statusId) | lowerCase }}
                  </span>
              </td>
              <td>
                  <span class="help" data-toggle="tooltip" data-placement="top"
                        title="{{ incident.publicationDate | date: 'medium' }}">
                    {{ momento(incident.publicationDate | date: 'yyyyMMdd') }}
                  </span>
              </td>
            </tr>
            </tbody>
          </table>
          <!-- /.table -->
        </div>
        <!-- /.mail-box-messages -->
      </div>
      <!-- /.box-body -->
      <div class="box-footer no-padding">
        <div class="mailbox-controls"></div>
      </div>
    </div>
    <!-- /. box -->
  </div>
  <!-- /.col -->
</div>
<!-- /.row -->
