<div class="row">
  <div class="col-md-12" *ngIf="loading && !processing">
    <loading [text]="'Cargando ajustes . . .'"></loading>
  </div>
  <div class="col-xs-12" *ngIf="registryItem || updateItem">
    <div class="box box-info" *ngIf="settings !== undefined && settings !== null">
      <div class="box-header with-border">
        <h3 class="box-title" *ngIf="!settings.edit">Registro de nuevo ajuste</h3>
        <h3 class="box-title" *ngIf="settings.edit">Actualización de ajuste</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <form class="form-horizontal" #settingsForm="ngForm">
          <div class="form-group">
            <label for="term" class="col-sm-2 control-label">Nombre</label>
            <div class="col-sm-10 col-md-7">
              <input type="text" class="form-control" id="term" name="term" required="required"
                     placeholder="Nombre" [(ngModel)]="settings.name" #periodo="ngModel">
            </div>
          </div>
          <div class="form-group">
            <label for="abbr" class="col-sm-2 control-label">Abreviatura</label>
            <div class="col-sm-10 col-md-7">
              <input type="text" class="form-control" id="abbr" name="abbr" required="required" maxlength="20"
                     placeholder="Abreviatura" [(ngModel)]="settings.abbr" #url="ngModel">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label"></label>
            <div class="col-sm-10 col-md-7">
              <div class="btn-group" role="group">
                <button type="button" class="btn btn-xs" (click)="settings.active = true"
                        [ngClass]="{'btn-primary': settings.active, 'btn-default': !settings.active}">activo
                </button>
                <button type="button" class="btn btn-default btn-xs" (click)="settings.active = false"
                        [ngClass]="{'btn-primary': !settings.active, 'btn-default': settings.active}">inactivo
                </button>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label"></label>
            <div class="col-sm-10 col-md-7">
              <div class="btn-group" role="group">
                <button type="button" class="btn btn-xs" (click)="settings.hasDetail = true"
                        [ngClass]="{'btn-primary': settings.hasDetail, 'btn-default': !settings.hasDetail}">con detalle
                </button>
                <button type="button" class="btn btn-default btn-xs" (click)="settings.hasDetail = false"
                        [ngClass]="{'btn-primary': !settings.hasDetail, 'btn-default': settings.hasDetail}">sin detalle
                </button>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="settingsType" class="col-sm-2 control-label">Tipo de ajuste</label>
            <div class="col-sm-10 col-md-7">
              <select class="form-control" [(ngModel)]="settingsTypeId" (ngModelChange)="setSettingsType()"
                      name="settingsType" id="settingsType">
                <option *ngFor="let settingsType of settingsTypeList" value="{{ settingsType.id }}">
                  {{ settingsType.name | titlecase }}
                </option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="description" class="col-sm-2 control-label">Descripción</label>
            <div class="col-sm-10 col-md-7">
              <textarea name="description" id="description" rows="3" required="required" class="form-control"
                        minlength="6" maxlength="900" placeholder="Descripción"
                        [(ngModel)]="settings.description" #descripcion="ngModel"></textarea>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-info" [disabled]="!settingsForm.valid"
                      (click)="save(settings)" *ngIf="!settings.edit">
                <i class="fa fa-save"></i> Guardar
              </button>
              <button type="submit" class="btn btn-info" [disabled]="!settingsForm.valid"
                      (click)="update(settings)" *ngIf="settings.edit">
                <i class="fa fa-save"></i> Actualizar
              </button>
              <button type="submit" class="btn btn-default" (click)="cancel(settings)">
                <i class="fa fa-trash"></i> Cancelar
              </button>
            </div>
          </div>
        </form>
      </div>
      <!-- /.box-body -->
      <div class="overlay" *ngIf="processing">
        <i class="fa fa-refresh fa-spin"></i>
      </div>
      <!-- end loading -->
    </div>
    <!-- /.box -->
  </div>
  <div class="col-xs-12" *ngIf="settingsList.length">
    <div class="box box-warning">
      <div class="box-header">
        <h3 class="box-title">Lista de ajustes</h3>

        <div class="box-tools pull-right">
          <div class="has-feedback" [hidden]="true">
            <input type="text" class="form-control input-sm" placeholder="Buscar" [(ngModel)]="filter">
            <span class="fa fa-search form-control-feedback"></span>
          </div>
          <div class="has-feedback">
            <button type="button" class="btn btn-default btn-sm" (click)="registrySettings()" *ngIf="!registryItem">
              <i class="fa fa-plus"></i> nuevo
            </button>
            <button type="button" class="btn btn-default btn-sm" (click)="close()" *ngIf="registryItem">
              <i class="fa fa-times"></i> cancelar
            </button>
          </div>
        </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
          <thead>
          <tr>
            <th></th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Tipo</th>
            <th></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let settings of settingsList"
              [ngClass]="{'info': settings.current, 'warning': settings.edit}">
            <td class="text-center"><i class="fa fa-clock-o" *ngIf="settings.current"></i></td>
            <td>{{ settings.name }}</td>
            <td>{{ settings.description }}</td>
            <td>{{ settings.settingsType.name }}</td>
            <td>
              <span class="label label-success" *ngIf="settings.active">activo</span>
              <span class="label label-warning" *ngIf="!settings.active">inactivo</span>
            </td>
            <td>
              <button type="button" class="btn btn-primary btn-xs" (click)="updateSettings(settings)">
                <i class="fa fa-pencil"></i>
              </button>
              <button type="button" class="btn btn-danger btn-xs" *ngIf="settings.edit"
                      (click)="delete(settings)">
                <i class="fa fa-trash"></i>
              </button>
              <button type="button" class="btn btn-warning btn-xs" *ngIf="settings.edit"
                      (click)="cancel(settings)">
                <i class="fa fa-times"></i>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <!-- /.box-body -->
      <div class="overlay" *ngIf="processing">
        <i class="fa fa-refresh fa-spin"></i>
      </div>
      <!-- end loading -->
    </div>
    <!-- /.box -->
  </div>
</div>
