<div class="text-center">
  <div class="message-student text-left float-inherit m-auto border-{{message.type}}" [ngClass]="{'col-md-12': size=='lg', 'col-md-8': size=='md', 'col-md-6': size=='sm'}">
    <div class="ico bg-{{message.type}}">
      <i class="fa fa-2x"
        [ngClass]="{'fa-ban': message.type=='danger', 'fa-info': message.type=='info', 'fa-warning':message.type=='warning', 'fa-check': message.type=='success'}"></i>
    </div>
    <h4 class="title mt-0 mb pl text-bold border-{{message.type}} border-bottom-3">{{message.title}}</h4>
  
    <ul class="list-unstyled">
      <li *ngFor="let text of message.data">{{text}}</li>
    </ul>
  </div>
</div>
