<div class="row">

  <div class="col-md-6">
    <a [routerLink]="['/parent/boleta-de-notas']" class="card card-clickable card-module" data-toggle="tooltip" data-placement="top"
      data-original-title="Boleta de Notas">
      <div class="card-module-body">
        <h2 class="title">Boleta de notas</h2>
        <p class="description">Haz el seguimiento de sus calificaciones.</p>
      </div>
      <div class="card-module-ico bg-primary">
        <i class="fc-report-card"></i>
      </div>
      <div class="card-module-footer">
        <h4 class="more-info">
          <i class="fa fa-arrow-circle-right fa-lg"></i> <small>Más información </small>
        </h4>
      </div>
    </a>
  </div>

  <div class="col-md-6">
    <a [routerLink]="['/parent/inasistencias']" class="card card-clickable card-module" data-toggle="tooltip" data-placement="top"
      data-original-title="Inasistencias">
      <div class="card-module-body">
        <h2 class="title">Inasistencias</h2>
        <p class="description">Revisa su reporte de inasistencia.</p>
      </div>
      <div class="card-module-ico bg-violet">
        <i class="fc-assistance"></i>
      </div>
      <div class="card-module-footer">
        <h4 class="more-info">
          <i class="fa fa-arrow-circle-right fa-lg"></i> <small>Más información </small>
        </h4>
      </div>
    </a>
  </div>

  <div class="col-md-6">
    <a [routerLink]="['/parent/horario-de-asignaturas']" class="card card-clickable card-module" data-toggle="tooltip" data-placement="top"
      data-original-title="Horario de asignaturas">
      <div class="card-module-body">
        <h2 class="title">Horario de asignaturas</h2>
        <p class="description">Conoce las fechas y horas de asignaturas.</p>
      </div>
      <div class="card-module-ico bg-success">
        <i class="fc-schedule"></i>
      </div>
      <div class="card-module-footer">
        <h4 class="more-info">
          <i class="fa fa-arrow-circle-right fa-lg"></i> <small>Más información </small>
        </h4>
      </div>
    </a>
  </div>

  <div class="col-md-6">
    <a [routerLink]="['/parent/estado-economico']" class="card card-clickable card-module" data-toggle="tooltip" data-placement="top"
      data-original-title="Estado económico">
      <div class="card-module-body">
        <h2 class="title">Estado económico</h2>
        <p class="description">Verifique sus pagos pendientes.</p>
      </div>
      <div class="card-module-ico bg-orange">
        <i class="fc-economic"></i>
      </div>
      <div class="card-module-footer">
        <h4 class="more-info">
          <i class="fa fa-arrow-circle-right fa-lg"></i> <small>Más información </small>
        </h4>
      </div>
    </a>
  </div>

</div>
