<ul class="sidebar-menu">
  <li class="header context-menu">Menú principal</li>
  <li class="active"><a [routerLink]="['parent']"><i class="fa fa-home"></i> <span>Inicio</span></a></li>
  <li *ngFor="let menu of menus">
    <a class="hand" [routerLink]="['parent/' + menu.uri]">
      <i class="{{menu.icon}}"></i> <span>{{menu.name}}</span>
    </a>
  </li>
</ul>
