<div class="clearfix" *ngIf="question === 0">
  <div class="card card-primary">
    <div class="header">
      <h3 class="title text-primary">
        <svg-icon iconName="question"></svg-icon> Preguntas frecuentes</h3>
    </div>
    <div class="body p">
      <div class="row">
        <div class="col-md-5 filter-modules mb">
          <div class="input-group">
            <span class="input-group-addon rounded-left bg-primary" id="basic-addon1">Filtro de preguntas</span>
            <input type="text" class="form-control rounded-right" placeholder="Pregunta a buscar..."
              aria-describedby="basic-addon1" [(ngModel)]="filterInput">
          </div>
        </div>
      </div>
      <ul class="list-group">
        <li class="list-group-item hand text-black bg-primary-h"
          *ngFor="let faq of faqs | loopFilter: filterInput" (click)="question=faq.option">
          {{faq.option}}. {{faq.question}}
        </li>
      </ul>
    </div>
  </div>
</div>

<div *ngIf="question !== 0" class="clearfix">

  <div class="card card-primary">
    <div class="header">
      <h3 class="title">
        <button class="btn bg-primary" (click)="question=0"><i class="fa fa-reply"></i> volver</button>
        {{getQuestionFAQ(question)}}
      </h3>
    </div>
  </div>

  <div class="card">
    <div class="header">
      <h3 class="title">Respuesta</h3>
    </div>

    <div class="body" *ngIf="question == 1">
      <div class="table-responsive table-material table-selected">
        <table class="table">
          <thead class="bg-info text-white">
            <tr>
              <th class="text-center">Campus</th>
              <th>Horario</th>
              <th>Contacto</th>
              <th>Ubicación</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="va-middle text-center">Huancayo</td>
              <td class="va-middle">
                <ul class="list-unstyled mb">
                  <li>Lunes a viernes:</li>
                  <li>7:15 a. m. a 9:00 p. m. <strong>(horario corrido)</strong></li>
                </ul>
                <ul class="list-unstyled mb">
                  <li>Sábados:</li>
                  <li>9:00 a. m. a 1:00 p. m.</li>
                  <li>3:30 p. m. a 7:30 p. m.</li>
                </ul>
                <ul class="list-unstyled">
                  <li>Domingos:</li>
                  <li>9:00 a. m. a 12:30 p. m.</li>
                </ul>
              </td>
              <td class="va-middle">
                <ul class="list-unstyled">
                  <li>Central telefónica: <strong>(064) 481430 anexo: 626</strong></li>
                  <li>Correo electrónico: <strong>centrodeatencion@continental.edu.pe</strong></li>
                </ul>
              </td>
              <td class="va-middle">
                Av. San Carlos N° 1980 – Huancayo
              </td>
            </tr>
            <tr>
              <td class="va-middle text-center">Arequipa</td>
              <td class="va-middle">
                <ul class="list-unstyled mb">
                  <li>Lunes a viernes:</li>
                  <li>9:00 a. m. a 1:00 p. m.</li>
                  <li>2:00 p. m. a 7:00 p. m.</li>
                </ul>
                <ul class="list-unstyled">
                  <li>Sábados:</li>
                  <li>3:00 p. m. a 6:00 p. m.</li>
                </ul>
              </td>
              <td class="va-middle">
                <ul class="list-unstyled">
                  <li>Teléfono: <strong>(054) 412030</strong> anexo: <strong>3483</strong> / grupal: <strong>626</strong></li>
                  <li>Correo electrónico: <strong>centrodeatencion@continental.edu.pe</strong></li>
                </ul>
              </td>
              <td class="va-middle">
                Av. Los Incas s/n Sección La Canseco II José Luis Bustamante y Rivero
              </td>
            </tr>
            <tr>
              <td class="va-middle text-center">Cusco</td>
              <td class="va-middle">
                <ul class="list-unstyled mb">
                  <li>Martes a viernes:</li>
                  <li>9:00 a. m. a 1:00 p. m.</li>
                  <li>2:00 p. m. a 7:00 p. m.</li>
                </ul>
                <ul class="list-unstyled mb">
                  <li>Sábados:</li>
                  <li>4:00 p. m. a 8:00 p. m.</li>
                </ul>
                <ul class="list-unstyled">
                  <li>Domingos:</li>
                  <li>8:00 a. m. a 12:00 p. m.</li>
                </ul>
              </td>
              <td class="va-middle">
                <ul class="list-unstyled">
                  <li>Teléfono: <strong>(084) 480070</strong> anexo: <strong>626</strong></li>
                  <li>Correo electrónico: <strong>centrodeatencion@continental.edu.pe</strong></li>
                </ul>
              </td>
              <td class="va-middle">
                Pje. Juan Espinoza Medrano Q – 13 Urb. Rosaspata - Cusco
              </td>
            </tr>
            <tr>
              <td class="va-middle text-center">Lima</td>
              <td class="va-middle">
                <ul class="list-unstyled">
                  <li>Martes a viernes:</li>
                  <li>7:00 a. m. a 1:00 p. m.</li>
                  <li>2:00 p. m. a 5:00 p. m.</li>
                </ul>
              </td>
              <td class="va-middle">
                <ul class="list-unstyled">
                  <li>Teléfono: <strong>(01) 21-32-760</strong> anexo: <strong>626</strong></li>
                  <li>Correo electrónico: <strong>centrodeatencion@continental.edu.pe</strong></li>
                </ul>
              </td>
              <td class="va-middle">
                Av. Alfredo Mendiola 5210 - Los Olivos
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="body" *ngIf="question == 2">
      <div class="row text-center">
        <div class="col-md-4 col-sm-6">
          <div class="card">
            <h4>
              Anexo 626 <br>
              <small>Teléfono</small>
            </h4>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="card">
            <h4>
              941837474<br>
              <small>Whatsapp</small>
            </h4>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="card">
            <h4>
              centrodeatencion@continental<br>
              <small>Correo</small>
            </h4>
          </div>
        </div>
      </div>
      <div class="table-responsive table-material">
        <table class="table">
          <thead class="bg-info">
            <tr>
              <th class="text-center va-middle" rowspan="2">
                <img src="/Content/static/images/isotipo-white.svg" height="50px" alt="uc">
              </th>
              <th class="text-center va-middle" rowspan="2">
                <p>Teléfono</p>
              </th>
              <th class="text-center va-middle" rowspan="2">
                <p>Correo</p>
              </th>
              <th class="text-center va-middle" rowspan="2">
                <p>Whatsapp</p>
              </th>
              <th class="text-center va-middle" rowspan="2">
                Módulos <br> all in one
              </th>
              <th class="text-center va-middle" rowspan="2">
                Portal del estudiante – Servicios Virtuales
              </th>
              <th class="text-center va-middle" rowspan="2">
                Portal del estudiante (Informativo)
              </th>
              <th class="text-center va-middle" colspan="3">
                Oficina CAS
              </th>
            </tr>
            <tr>
              <th class="text-center va-middle">Huancayo</th>
              <th class="text-center va-middle">Arequipa</th>
              <th class="text-center va-middle">Cusco</th>
            </tr>
          </thead>
          <tbody>
            <!-- Orientación -->
            <tr>
              <td class="bg-primary-light text-center text-bold" colspan="10">
                <h4 class="m-0">Orientación</h4>
              </td>
            </tr>
            <tr>
              <td>Estado de trámite</td>
              <td class="text-center va-middle text-blue">X</td>
              <td class="text-center va-middle text-blue">X</td>
              <td class="text-center va-middle text-blue">X</td>
              <td class="text-center va-middle text-blue">X</td>
              <td class="text-center va-middle text-blue">X</td>
              <td></td>
              <td class="text-center va-middle text-blue">X</td>
              <td class="text-center va-middle text-blue">X</td>
              <td class="text-center va-middle text-blue">X</td>
            </tr>
            <tr>
              <td>Horario de docente</td>
              <td class="text-center va-middle text-blue">X</td>
              <td class="text-center va-middle text-blue">X</td>
              <td class="text-center va-middle text-blue">X</td>
              <td class="text-center va-middle text-blue">X</td>
              <td></td>
              <td></td>
              <td class="text-center va-middle text-blue">X</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Horario de clases</td>
              <td></td>
              <td class="text-center va-middle text-blue">X</td>
              <td class="text-center va-middle text-blue">X</td>
              <td class="text-center va-middle text-blue">X</td>
              <td class="text-center va-middle text-blue">X</td>
              <td></td>
              <td class="text-center va-middle text-blue">X</td>
              <td class="text-center va-middle text-blue">X</td>
              <td class="text-center va-middle text-blue">X</td>
            </tr>
            <tr>
              <td>Reseteo de contraseña</td>
              <td></td>
              <td class="text-center va-middle text-blue">X</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td class="text-center va-middle text-blue">X</td>
              <td class="text-center va-middle text-blue">X</td>
              <td class="text-center va-middle text-blue">X</td>
            </tr>
            <tr>
              <td>Boleta de notas</td>
              <td></td>
              <td></td>
              <td></td>
              <td class="text-center va-middle text-blue">X</td>
              <td class="text-center va-middle text-blue">X</td>
              <td></td>
              <td class="text-center va-middle text-blue">X</td>
              <td class="text-center va-middle text-blue">X</td>
              <td class="text-center va-middle text-blue">X</td>
            </tr>
            <tr>
              <td>Eventos internos y externos</td>
              <td class="text-center va-middle text-blue">X</td>
              <td class="text-center va-middle text-blue">X</td>
              <td class="text-center va-middle text-blue">X</td>
              <td></td>
              <td></td>
              <td class="text-center va-middle text-blue">X</td>
              <td class="text-center va-middle text-blue">X</td>
              <td class="text-center va-middle text-blue">X</td>
              <td class="text-center va-middle text-blue">X</td>
            </tr>
            <tr>
              <td>Trámite de convalidación</td>
              <td class="text-center va-middle text-blue">X</td>
              <td class="text-center va-middle text-blue">X</td>
              <td class="text-center va-middle text-blue">X</td>
              <td class="text-center va-middle text-blue">X</td>
              <td class="text-center va-middle text-blue">X</td>
              <td></td>
              <td class="text-center va-middle text-blue">X</td>
              <td class="text-center va-middle text-blue">X</td>
              <td class="text-center va-middle text-blue">X</td>
            </tr>
            <tr>
              <td>Consulta de inasistencias</td>
              <td></td>
              <td></td>
              <td></td>
              <td class="text-center va-middle text-blue">X</td>
              <td class="text-center va-middle text-blue">X</td>
              <td></td>
              <td class="text-center va-middle text-blue">X</td>
              <td class="text-center va-middle text-blue">X</td>
              <td class="text-center va-middle text-blue">X</td>
            </tr>
            <tr>
              <td>Otros</td>
              <td class="text-center va-middle text-blue">X</td>
              <td class="text-center va-middle text-blue">X</td>
              <td></td>
              <td class="text-center va-middle text-blue">X</td>
              <td class="text-center va-middle text-blue">X</td>
              <td class="text-center va-middle text-blue">X</td>
              <td class="text-center va-middle text-blue">X</td>
              <td class="text-center va-middle text-blue">X</td>
              <td class="text-center va-middle text-blue">X</td>
            </tr>
            <!-- Trámites documentarios académicos -->
            <tr>
              <td class="bg-orange-light text-center text-bold" colspan="10">
                <h4 class="m-0">Trámites documentarios académicos</h4>
              </td>
            </tr>
            <tr>
              <td>Constancia de estudios</td>
              <td class="text-center va-middle text-orange">X</td>
              <td class="text-center va-middle text-orange">X</td>
              <td class="text-center va-middle text-orange">X</td>
              <td class="text-center va-middle text-orange">X</td>
              <td class="text-center va-middle text-orange">X</td>
              <td></td>
              <td class="text-center va-middle text-orange">X</td>
              <td class="text-center va-middle text-orange">X</td>
              <td class="text-center va-middle text-orange">X</td>
            </tr>
            <tr>
              <td>Constancia de tercio, quinto y décimo superior</td>
              <td class="text-center va-middle text-orange">X</td>
              <td class="text-center va-middle text-orange">X</td>
              <td class="text-center va-middle text-orange">X</td>
              <td class="text-center va-middle text-orange">X</td>
              <td class="text-center va-middle text-orange">X</td>
              <td></td>
              <td class="text-center va-middle text-orange">X</td>
              <td class="text-center va-middle text-orange">X</td>
              <td class="text-center va-middle text-orange">X</td>
            </tr>
            <tr>
              <td>Constancia de matrícula</td>
              <td class="text-center va-middle text-orange">X</td>
              <td class="text-center va-middle text-orange">X</td>
              <td class="text-center va-middle text-orange">X</td>
              <td class="text-center va-middle text-orange">X</td>
              <td class="text-center va-middle text-orange">X</td>
              <td></td>
              <td class="text-center va-middle text-orange">X</td>
              <td class="text-center va-middle text-orange">X</td>
              <td class="text-center va-middle text-orange">X</td>
            </tr>
            <tr>
              <td>Constancia de matrícula con fecha</td>
              <td class="text-center va-middle text-orange">X</td>
              <td class="text-center va-middle text-orange">X</td>
              <td class="text-center va-middle text-orange">X</td>
              <td class="text-center va-middle text-orange">X</td>
              <td class="text-center va-middle text-orange">X</td>
              <td></td>
              <td class="text-center va-middle text-orange">X</td>
              <td class="text-center va-middle text-orange">X</td>
              <td class="text-center va-middle text-orange">X</td>
            </tr>
            <tr>
              <td>Constancia personalizada</td>
              <td class="text-center va-middle text-orange">X</td>
              <td class="text-center va-middle text-orange">X</td>
              <td class="text-center va-middle text-orange">X</td>
              <td class="text-center va-middle text-orange">X</td>
              <td class="text-center va-middle text-orange">X</td>
              <td></td>
              <td class="text-center va-middle text-orange">X</td>
              <td class="text-center va-middle text-orange">X</td>
              <td class="text-center va-middle text-orange">X</td>
            </tr>
            <tr>
              <td>Constancia por carrera culminada</td>
              <td class="text-center va-middle text-orange">X</td>
              <td class="text-center va-middle text-orange">X</td>
              <td class="text-center va-middle text-orange">X</td>
              <td class="text-center va-middle text-orange">X</td>
              <td class="text-center va-middle text-orange">X</td>
              <td></td>
              <td class="text-center va-middle text-orange">X</td>
              <td class="text-center va-middle text-orange">X</td>
              <td class="text-center va-middle text-orange">X</td>
            </tr>
            <tr>
              <td>Constancia de estudios histórico</td>
              <td class="text-center va-middle text-orange">X</td>
              <td class="text-center va-middle text-orange">X</td>
              <td class="text-center va-middle text-orange">X</td>
              <td class="text-center va-middle text-orange">X</td>
              <td class="text-center va-middle text-orange">X</td>
              <td></td>
              <td class="text-center va-middle text-orange">X</td>
              <td class="text-center va-middle text-orange">X</td>
              <td class="text-center va-middle text-orange">X</td>
            </tr>
            <tr>
              <td>Constancia de estudios con fecha</td>
              <td class="text-center va-middle text-orange">X</td>
              <td class="text-center va-middle text-orange">X</td>
              <td class="text-center va-middle text-orange">X</td>
              <td class="text-center va-middle text-orange">X</td>
              <td class="text-center va-middle text-orange">X</td>
              <td></td>
              <td class="text-center va-middle text-orange">X</td>
              <td class="text-center va-middle text-orange">X</td>
              <td class="text-center va-middle text-orange">X</td>
            </tr>
            <tr>
              <td>Constancia de tercio, quinto y decimo superior</td>
              <td class="text-center va-middle text-orange">X</td>
              <td class="text-center va-middle text-orange">X</td>
              <td class="text-center va-middle text-orange">X</td>
              <td class="text-center va-middle text-orange">X</td>
              <td class="text-center va-middle text-orange">X</td>
              <td></td>
              <td class="text-center va-middle text-orange">X</td>
              <td class="text-center va-middle text-orange">X</td>
              <td class="text-center va-middle text-orange">X</td>
            </tr>
            <tr>
              <td>Constancia de tercio, quinto y decimo superior promocional</td>
              <td class="text-center va-middle text-orange">X</td>
              <td class="text-center va-middle text-orange">X</td>
              <td class="text-center va-middle text-orange">X</td>
              <td class="text-center va-middle text-orange">X</td>
              <td class="text-center va-middle text-orange">X</td>
              <td></td>
              <td class="text-center va-middle text-orange">X</td>
              <td class="text-center va-middle text-orange">X</td>
              <td class="text-center va-middle text-orange">X</td>
            </tr>
            <tr>
              <td>Constancia de promedio acumulado</td>
              <td class="text-center va-middle text-orange">X</td>
              <td class="text-center va-middle text-orange">X</td>
              <td class="text-center va-middle text-orange">X</td>
              <td class="text-center va-middle text-orange">X</td>
              <td class="text-center va-middle text-orange">X</td>
              <td></td>
              <td class="text-center va-middle text-orange">X</td>
              <td class="text-center va-middle text-orange">X</td>
              <td class="text-center va-middle text-orange">X</td>
            </tr>
            <tr>
              <td>Constancia de ingreso</td>
              <td class="text-center va-middle text-orange">X</td>
              <td class="text-center va-middle text-orange">X</td>
              <td class="text-center va-middle text-orange">X</td>
              <td class="text-center va-middle text-orange">X</td>
              <td class="text-center va-middle text-orange">X</td>
              <td></td>
              <td class="text-center va-middle text-orange">X</td>
              <td class="text-center va-middle text-orange">X</td>
              <td class="text-center va-middle text-orange">X</td>
            </tr>
            <tr>
              <td>Constancia de egresado</td>
              <td class="text-center va-middle text-orange">X</td>
              <td class="text-center va-middle text-orange">X</td>
              <td class="text-center va-middle text-orange">X</td>
              <td></td>
              <td></td>
              <td></td>
              <td class="text-center va-middle text-orange">X</td>
              <td class="text-center va-middle text-orange">X</td>
              <td class="text-center va-middle text-orange">X</td>
            </tr>
            <tr>
              <td>Historial académico</td>
              <td class="text-center va-middle text-orange">X</td>
              <td class="text-center va-middle text-orange">X</td>
              <td class="text-center va-middle text-orange">X</td>
              <td class="text-center va-middle text-orange">X</td>
              <td class="text-center va-middle text-orange">X</td>
              <td></td>
              <td class="text-center va-middle text-orange">X</td>
              <td class="text-center va-middle text-orange">X</td>
              <td class="text-center va-middle text-orange">X</td>
            </tr>
            <tr>
              <td>Certificado de estudios</td>
              <td class="text-center va-middle text-orange">X</td>
              <td class="text-center va-middle text-orange">X</td>
              <td class="text-center va-middle text-orange">X</td>
              <td class="text-center va-middle text-orange">X</td>
              <td class="text-center va-middle text-orange">X</td>
              <td></td>
              <td class="text-center va-middle text-orange">X</td>
              <td class="text-center va-middle text-orange">X</td>
              <td class="text-center va-middle text-orange">X</td>
            </tr>
            <tr>
              <td>Boleta de notas</td>
              <td class="text-center va-middle text-orange">X</td>
              <td class="text-center va-middle text-orange">X</td>
              <td class="text-center va-middle text-orange">X</td>
              <td class="text-center va-middle text-orange">X</td>
              <td class="text-center va-middle text-orange">X</td>
              <td></td>
              <td class="text-center va-middle text-orange">X</td>
              <td class="text-center va-middle text-orange">X</td>
              <td class="text-center va-middle text-orange">X</td>
            </tr>
            <tr>
              <td>Duplicado de carné interno</td>
              <td class="text-center va-middle text-orange">X</td>
              <td class="text-center va-middle text-orange">X</td>
              <td class="text-center va-middle text-orange">X</td>
              <td class="text-center va-middle text-orange">X</td>
              <td class="text-center va-middle text-orange">X</td>
              <td></td>
              <td class="text-center va-middle text-orange">X</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Sílabos autenticados</td>
              <td class="text-center va-middle text-orange">X</td>
              <td class="text-center va-middle text-orange">X</td>
              <td class="text-center va-middle text-orange">X</td>
              <td></td>
              <td></td>
              <td></td>
              <td class="text-center va-middle text-orange">X</td>
              <td></td>
              <td></td>
            </tr>

            <!-- Solicitudes académicas -->
            <tr>
              <td class="bg-violet-light text-center text-bold" colspan="10">
                <h4 class="m-0">Solicitudes académicas</h4>
              </td>
            </tr>
            <tr>
              <td>Examen sustitutorio</td>
              <td></td>
              <td></td>
              <td></td>
              <td class="text-center va-middle text-violet">X</td>
              <td class="text-center va-middle text-violet">X</td>
              <td class="text-center va-middle text-violet">X</td>
              <td class="text-center va-middle text-violet">X</td>
              <td class="text-center va-middle text-violet">X</td>
              <td class="text-center va-middle text-violet">X</td>
            </tr>
            <tr>
              <td>Traslado interno</td>
              <td></td>
              <td></td>
              <td></td>
              <td class="text-center va-middle text-violet">X</td>
              <td class="text-center va-middle text-violet">X</td>
              <td class="text-center va-middle text-violet">X</td>
              <td class="text-center va-middle text-violet">X</td>
              <td class="text-center va-middle text-violet">X</td>
              <td class="text-center va-middle text-violet">X</td>
            </tr>
            <tr>
              <td>Asignatura multimodal</td>
              <td></td>
              <td></td>
              <td></td>
              <td class="text-center va-middle text-violet">X</td>
              <td class="text-center va-middle text-violet">X</td>
              <td class="text-center va-middle text-violet">X</td>
              <td class="text-center va-middle text-violet">X</td>
              <td class="text-center va-middle text-violet">X</td>
              <td class="text-center va-middle text-violet">X</td>
            </tr>
            <tr>
              <td>Asignatura dirigida</td>
              <td></td>
              <td></td>
              <td></td>
              <td class="text-center va-middle text-violet">X</td>
              <td class="text-center va-middle text-violet">X</td>
              <td class="text-center va-middle text-violet">X</td>
              <td class="text-center va-middle text-violet">X</td>
              <td class="text-center va-middle text-violet">X</td>
              <td class="text-center va-middle text-violet">X</td>
            </tr>
            <tr>
              <td>Cambio de plan</td>
              <td></td>
              <td></td>
              <td></td>
              <td class="text-center va-middle text-violet">X</td>
              <td class="text-center va-middle text-violet">X</td>
              <td class="text-center va-middle text-violet">X</td>
              <td class="text-center va-middle text-violet">X</td>
              <td class="text-center va-middle text-violet">X</td>
              <td class="text-center va-middle text-violet">X</td>
            </tr>
            <tr>
              <td>Permanencia de plan de estudios</td>
              <td></td>
              <td></td>
              <td></td>
              <td class="text-center va-middle text-violet">X</td>
              <td class="text-center va-middle text-violet">X</td>
              <td class="text-center va-middle text-violet">X</td>
              <td class="text-center va-middle text-violet">X</td>
              <td class="text-center va-middle text-violet">X</td>
              <td class="text-center va-middle text-violet">X</td>
            </tr>
            <tr>
              <td>Entrega de expediente de bachiller</td>
              <td class="text-center va-middle text-violet">X</td>
              <td class="text-center va-middle text-violet">X</td>
              <td></td>
              <td></td>
              <td></td>
              <td class="text-center va-middle text-violet">X</td>
              <td class="text-center va-middle text-violet">X</td>
              <td class="text-center va-middle text-violet">X</td>
              <td class="text-center va-middle text-violet">X</td>
            </tr>
            <tr>
              <td>Entrega de expediente de diploma de especialización</td>
              <td class="text-center va-middle text-violet">X</td>
              <td class="text-center va-middle text-violet">X</td>
              <td></td>
              <td></td>
              <td></td>
              <td class="text-center va-middle text-violet">X</td>
              <td class="text-center va-middle text-violet">X</td>
              <td class="text-center va-middle text-violet">X</td>
              <td class="text-center va-middle text-violet">X</td>
            </tr>
            <tr>
              <td>Retiro de asignatura</td>
              <td></td>
              <td class="text-center va-middle text-violet">X</td>
              <td></td>
              <td></td>
              <td></td>
              <td class="text-center va-middle text-violet">X</td>
              <td class="text-center va-middle text-violet">X</td>
              <td class="text-center va-middle text-violet">X</td>
              <td class="text-center va-middle text-violet">X</td>
            </tr>
            <tr>
              <td>Reserva de matrícula</td>
              <td></td>
              <td class="text-center va-middle text-violet">X</td>
              <td class="text-center va-middle text-violet">X</td>
              <td class="text-center va-middle text-violet">X</td>
              <td class="text-center va-middle text-violet">X</td>
              <td class="text-center va-middle text-violet">X</td>
              <td class="text-center va-middle text-violet">X</td>
              <td class="text-center va-middle text-violet">X</td>
              <td class="text-center va-middle text-violet">X</td>
            </tr>
            <tr>
              <td>Traslado interno</td>
              <td></td>
              <td></td>
              <td></td>
              <td class="text-center va-middle text-violet">X</td>
              <td class="text-center va-middle text-violet">X</td>
              <td class="text-center va-middle text-violet">X</td>
              <td class="text-center va-middle text-violet">X</td>
              <td class="text-center va-middle text-violet">X</td>
              <td class="text-center va-middle text-violet">X</td>
            </tr>
            <tr>
              <td>Cambio de plan</td>
              <td class="text-center va-middle text-violet">X</td>
              <td class="text-center va-middle text-violet">X</td>
              <td></td>
              <td class="text-center va-middle text-violet">X</td>
              <td class="text-center va-middle text-violet">X</td>
              <td class="text-center va-middle text-violet">X</td>
              <td class="text-center va-middle text-violet">X</td>
              <td class="text-center va-middle text-violet">X</td>
              <td class="text-center va-middle text-violet">X</td>
            </tr>
            <tr>
              <td>Cambio de modalidad</td>
              <td class="text-center va-middle text-violet">X</td>
              <td class="text-center va-middle text-violet">X</td>
              <td class="text-center va-middle text-violet">X</td>
              <td></td>
              <td></td>
              <td></td>
              <td class="text-center va-middle text-violet">X</td>
              <td class="text-center va-middle text-violet">X</td>
              <td class="text-center va-middle text-violet">X</td>
            </tr>

            <!-- Mesa de partes -->
            <tr>
              <td class="bg-green-light text-center text-bold" colspan="10">
                <h4 class="m-0">Mesa de partes</h4>
              </td>
            </tr>
            <tr>
              <td>Recepción de documentos externos e internos</td>
              <td></td>
              <td class="text-center va-middle text-green">X</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td class="text-center va-middle text-green">X</td>
              <td class="text-center va-middle text-green">X</td>
              <td class="text-center va-middle text-green">X</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="body" *ngIf="question == 3">
      <ul class="list-unstyled">
        <li><strong>Paso 1:</strong> Ingresa al Portal de estudiante: <a href="https://estudiantes.ucontinental.edu.pe/">https://estudiantes.ucontinental.edu.pe/</a></li>
        <li><strong>Paso 2:</strong> Ingresa con tu usuario y contraseña de estudiante.</li>
        <li><strong>Paso 3:</strong> Selecciona <strong>“Vida académica”</strong> y escoge la opción <strong>“Boleta de notas”</strong></li>
      </ul>
    </div>

    <div class="body" *ngIf="question == 4">
      <ul class="list-unstyled">
        <li><strong>Paso 1:</strong> Ingresa al Portal de estudiante: <a href="https://estudiantes.ucontinental.edu.pe/">https://estudiantes.ucontinental.edu.pe/</a></li>
        <li><strong>Paso 2:</strong> Ingresa con tu usuario y contraseña de estudiante.</li>
        <li><strong>Paso 3:</strong> Selecciona <strong>“Vida académica”</strong> y escoge la opción <strong>“Simulador de pago”</strong>.</li>
      </ul>
    </div>

    <div class="body" *ngIf="question == 5">
      <ul class="list-unstyled">
        <li><strong>Paso 1:</strong> Ingresa al Portal de estudiante: <a
            href="https://estudiantes.ucontinental.edu.pe/">https://estudiantes.ucontinental.edu.pe/</a></li>
        <li><strong>Paso 2:</strong> Ingresa con tu usuario y contraseña de estudiante.</li>
        <li><strong>Paso 3:</strong> Selecciona <strong>“Vida académica”</strong> y escoge la opción <strong>“Ficha socioeconómica”</strong>.</li>
        <li><strong>Paso 4:</strong> Rellena los diez íconos que corresponden a tus datos personales al 100 %.</li>
      </ul>
    </div>

    <div class="body" *ngIf="question == 6">
      <div class="table-responsive table-material table-selected">
        <table class="table">
          <thead class="bg-info">
            <tr>
              <th class="va-middle" rowspan="2">Documento</th>
              <th class="text-center border-0" colspan="2">Trámite</th>
            </tr>
            <tr>
              <th class="text-center">Derecho de trámite</th>
              <th class="text-center">Recibo de pago</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="va-middle" rowspan="2">Constancia de ingreso</td>
              <td>S/ 1.00</td>
              <td>Primera vez es gratuito</td>
            </tr>
            <tr>
              <td>S/ 1.00</td>
              <td>S/ 15.00</td>
            </tr>
            <tr>
              <td>Constancia de estudios</td>
              <td>S/ 1.00</td>
              <td>S/ 15.00</td>
            </tr>
            <tr>
              <td>Constancia de matrícula</td>
              <td>S/ 1.00</td>
              <td>S/ 15.00</td>
            </tr>
            <tr>
              <td>Constancia de tercio, quinto y décimo superior</td>
              <td>S/ 1.00</td>
              <td>S/ 15.00</td>
            </tr>
            <tr>
              <td>Constancia de carrera culminada</td>
              <td>S/ 1.00</td>
              <td>S/ 30.00</td>
            </tr>
            <tr>
              <td>Constancia de promedio acumulado</td>
              <td>S/ 1.00</td>
              <td>S/ 30.00</td>
            </tr>
            <tr>
              <td>Constancia personalizada</td>
              <td>S/ 1.00</td>
              <td>S/ 30.00</td>
            </tr>
            <tr>
              <td>Certificado de estudios</td>
              <td>S/ 1.00</td>
              <td>S/ 22.00 por periodo</td>
            </tr>
            <tr>
              <td>Historial académico</td>
              <td>S/ 1.00</td>
              <td>S/ 5.00</td>
            </tr>
            <tr>
              <td>Boleta de notas</td>
              <td>S/ 1.00</td>
              <td>S/ 5.00</td>
            </tr>
            <tr>
              <td>Duplicado de carné interno</td>
              <td>S/ 1.00</td>
              <td>S/ 5.00</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="body" *ngIf="question == 7">
      <p>El tiempo registrado en el siguiente cuadro, será tomado en cuenta a partir de efectuado el pago correspondiente por el documento.</p>

      <div class="table-responsive table-material table-selected">
        <table class="table">
          <thead class="bg-info">
            <tr>
              <th class="text-center">Documento</th>
              <th class="text-center">Tiempo</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Constancia de ingreso</td>
              <td>2 horas</td>
            </tr>
            <tr>
              <td>Constancia de estudios</td>
              <td>2 horas</td>
            </tr>
            <tr>
              <td>Constancia de matrícula</td>
              <td>2 horas</td>
            </tr>
            <tr>
              <td>Constancia de tercio, quinto y décimo superior</td>
              <td>2 horas</td>
            </tr>
            <tr>
              <td>Constancia de carrera culminada</td>
              <td>2 horas</td>
            </tr>
            <tr>
              <td>Constancia de promedio acumulado</td>
              <td>2 horas</td>
            </tr>
            <tr>
              <td>Constancia personalizada</td>
              <td>3 días hábiles</td>
            </tr>
            <tr>
              <td>Copia de la constancia de egresado</td>
              <td>3 días hábiles</td>
            </tr>
            <tr>
              <td>Constancia de primera matrícula</td>
              <td>3 días hábiles</td>
            </tr>
            <tr>
              <td>Certificado de estudios</td>
              <td>3 días hábiles</td>
            </tr>
            <tr>
              <td>Historial académico</td>
              <td>10 a 15 minutos</td>
            </tr>
            <tr>
              <td>Boleta de notas</td>
              <td>10 a 15 minutos</td>
            </tr>
            <tr>
              <td>Duplicado de carné interno</td>
              <td>15 minutos</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="body" *ngIf="question == 8">
      <ul class="list-unstyled">
        <li><strong>Paso 1:</strong> Ingresa al Portal de estudiante: <a
            href="https://estudiantes.ucontinental.edu.pe/">https://estudiantes.ucontinental.edu.pe/</a></li>
        <li><strong>Paso 2:</strong> Ingresa con tu usuario y contraseña de estudiante.</li>
        <li><strong>Paso 3:</strong> Selecciona <strong>“Vida académica”</strong> y escoge la opción <strong>“Seguimiento”</strong>.
        </li>
        <li><strong>Paso 4:</strong> Seleccionar el trámite realizado.</li>
      </ul>
    </div>

    <div class="body" *ngIf="question == 9">
      <ul class="list-unstyled">
        <li><strong>Paso 1:</strong> Ingresa al Portal de estudiante: <a
            href="https://estudiantes.ucontinental.edu.pe/">https://estudiantes.ucontinental.edu.pe/</a></li>
        <li><strong>Paso 2:</strong> Ingresa con tu usuario y contraseña de estudiante.</li>
        <li><strong>Paso 3:</strong> Selecciona <strong>“Matrícula”</strong> y escoge la opción
          <strong>“Autoservicio-Trámite”</strong>.
        </li>
        <li><strong>Paso 4:</strong> Agregar el procedimiento a realizar, rellena los espacios solicitados y clic en aceptar.</li>
      </ul>
    </div>

    <div class="body" *ngIf="question == 10">
      <p>Puedes verificar los documentos tramitados en el Centro de Atención al Usuario a través de esta página
      <a href="http://www.universidad.continental.edu.pe/certificaciones">http://www.universidad.continental.edu.pe/certificaciones</a>, ingresando el número de la solicitud, tu código de estudiante
      y haciendo clic en consultar.</p>
      <p>Los documentos emitidos a través de medios digitales, están amparados en base al <strong>artículo 141 - A del Código Civil:
      Artículo 141-A. – Formalidad, “En los casos que la ley establezca que la manifestación de voluntad deba hacerse a través
      de alguna formalidad expresa o requerida de firma, esta podrá ser generada o comunicada a través de medios electrónicos,
      ópticos o cualquier otro análogo. Tratándose de instrumentos públicos, la autoridad competente deberá dejar constancia
      del medio empleado y conservar una versión íntegra para su ulterior consulta”.</strong></p>
    </div>

    <div class="body" *ngIf="question == 11">
      <div class="alert-student alert-student-primary">
        <h4 class="m-0"><i class="fa fa-info-circle"></i> Si presentas los requisitos completos y no existe ninguna observación, el trámite durará de 3 a 5 días hábiles</h4>
      </div>
    </div>

    <div class="body" *ngIf="question == 12">
      <div class="alert-student alert-student-primary">
        <h4 class="m-0"><i class="fa fa-info-circle"></i> El responsable de evaluar y determinar las asignaturas a convalidar es el Director de la Escuela Académica Profesional o
        el responsable de convalidaciones en la Filial a la que perteneces.</h4>
      </div>
    </div>

    <div class="body" *ngIf="question == 13">
      <div class="alert-student alert-student-primary">
        <h4 class="m-0"><i class="fa fa-info-circle"></i> Para convalidar, el contenido de la asignatura debe ser mayor o igual al 75% de la asignatura de nuestro plan de
        estudios actual.</h4>
      </div>
    </div>

    <div class="body" *ngIf="question == 14">
      <div class="alert-student alert-student-primary">
        <h4 class="m-0"><i class="fa fa-info-circle"></i> Una vez que te hayas matriculado en la asignatura, este ya no puede ser convalidada. Asimismo, si
          desaprobaste la
          asignatura, debes llevarlo y aprobarlo; por lo tanto, no es convalidable.</h4>
      </div>
    </div>

    <div class="body" *ngIf="question == 15">
      <div class="alert-student alert-student-primary">
        <h4 class="m-0"><i class="fa fa-info-circle"></i> Ingresa a tu Portal del estudiante, en el menú <strong>“Vida académica”</strong>, opción <strong>“Plan de estudios”</strong>, ahí podrás visualizar las
        asignaturas convalidadas con la nota correspondiente y en observaciones como el detalle <strong>“convalidado”</strong>.</h4>
      </div>
    </div>

    <div class="body" *ngIf="question == 16">
      <div class="alert-student alert-student-primary">
        <h4 class="m-0"><i class="fa fa-info-circle"></i> Puedes dar seguimiento a la convalidación ingresando a tu Portal del estudiante, en el menú <strong>“Vida académica”</strong>, opción
        <strong>“Seguimiento”</strong>.</h4>
      </div>
    </div>

    <div class="body" *ngIf="question == 17">
      <p>Puedes solicitar la resolución de convalidación en la oficina del Centro de Atención y Soluciones de cualquiera de
      nuestras Sedes o Filiales. También, puedes descargarla a través del Portal del Estudiante - Servicios Virtuales, opción
      <strong>“Vida Académica”</strong> e ingresar a <strong>“Resoluciones”</strong>.</p>
      <div class="alert-student alert-student-primary">
        <h4 class="m-0"><i class="fa fa-info-circle"></i> Te recordamos que, para recibir la resolución no debes tener deuda económica, ni documentaria.</h4>
      </div>
    </div>

    <div class="body" *ngIf="question == 18">
      <div class="alert-student alert-student-primary">
        <h4 class="m-0"><i class="fa fa-info-circle"></i> Antes de solicitar el examen sustitutorio debes verificar el sílabo de la asignatura, en la cual te dirá si la
        asignatura tiene o no examen sustitutorio.</h4>
      </div>
      <p>Si en caso la asignatura tenga examen sustitutorio debe seguir los siguientes pasos:</p>

      <ul class="list-unstyled">
        <li><strong>Paso 1:</strong> Ingresa al Portal de estudiante: <a
            href="https://estudiantes.ucontinental.edu.pe/">https://estudiantes.ucontinental.edu.pe/</a></li>
        <li><strong>Paso 2:</strong> Ingresa con tu usuario y contraseña de estudiante.</li>
        <li><strong>Paso 3:</strong> Selecciona <strong>“Trámites”</strong> y escoge la opción <strong>“Programar Examen Sustitutorio”</strong></li>
        <li><strong>Paso 4:</strong> Leer los Términos y condiciones y tener en cuenta la fecha programación y el día del examen.</li>
      </ul>
    </div>

  </div>

</div>
