<div class="row">
  <div class="col-md-12" *ngIf="loading && !processing">
    <loading [text]="'Cargando encuestas . . .'"></loading>
  </div>
  <div class="col-xs-12" *ngIf="registrySurvey || updateSurvey">
    <div class="box box-info" *ngIf="survey !== undefined && survey !== null">
      <div class="box-header with-border">
        <h3 class="box-title" *ngIf="!survey.edit">Registro de nueva encuesta</h3>
        <h3 class="box-title" *ngIf="survey.edit">Actualización de encuesta</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <form class="form-horizontal" #surveyForm="ngForm">
          <div class="form-group">
            <label for="term" class="col-sm-2 control-label">Encuesta</label>
            <div class="col-sm-10 col-md-7">
              <input type="text" class="form-control" id="term" name="term" required="required"
                     placeholder="Nombre encuesta" [(ngModel)]="survey.name" #periodo="ngModel">
            </div>
          </div>
          <div class="form-group">
            <label for="url" class="col-sm-2 control-label">URL</label>
            <div class="col-sm-10 col-md-7">
              <input type="text" class="form-control" id="url" name="url" required="required"
                     placeholder="https://..." [(ngModel)]="survey.url" #url="ngModel">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label"></label>
            <div class="col-sm-10 col-md-7">
              <div class="btn-group" role="group">
                <button type="button" class="btn btn-xs" (click)="survey.active = true"
                        [ngClass]="{'btn-primary': survey.active, 'btn-default': !survey.active}">activo
                </button>
                <button type="button" class="btn btn-default btn-xs" (click)="survey.active = false"
                        [ngClass]="{'btn-primary': !survey.active, 'btn-default': survey.active}">inactivo
                </button>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Fecha inicio</label>
            <div class="col-sm-10 col-md-7">
              <p-calendar [(ngModel)]="survey.begin_date" dateFormat="dd/mm/yy" [showIcon]="true" [locale]="es"
                          [monthNavigator]="true" [yearNavigator]="true" yearRange="{{wata-100}}:{{wata}}"
                          showButtonBar="true" [readonlyInput]="true" inputStyleClass="isqon-chunka-pichqayoq"
                          styleClass="pachak" [required]="true" name="beginDate" #inicio="ngModel"></p-calendar>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Fecha fin</label>
            <div class="col-sm-10 col-md-7">
              <p-calendar [(ngModel)]="survey.end_date" dateFormat="dd/mm/yy" [showIcon]="true" [locale]="es"
                          [monthNavigator]="true" [yearNavigator]="true" yearRange="{{wata-100}}:{{wata}}"
                          showButtonBar="true" [readonlyInput]="true" inputStyleClass="isqon-chunka-pichqayoq"
                          styleClass="pachak" [required]="true" name="endDate" #fin="ngModel"></p-calendar>
            </div>
          </div>
          <div class="form-group">
            <label for="description" class="col-sm-2 control-label">Descripción</label>
            <div class="col-sm-10 col-md-7">
              <textarea name="description" id="description" rows="3" required="required" class="form-control"
                        minlength="6" maxlength="900" placeholder="Descripción"
                        [(ngModel)]="survey.description" #descripcion="ngModel"></textarea>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-info" [disabled]="!surveyForm.valid" (click)="save(survey)"
                      *ngIf="!survey.edit">
                <i class="fa fa-save"></i> Guardar
              </button>
              <button type="submit" class="btn btn-info" [disabled]="!surveyForm.valid" (click)="update(survey)"
                      *ngIf="survey.edit">
                <i class="fa fa-save"></i> Actualizar
              </button>
              <button type="submit" class="btn btn-default" (click)="cancel(survey)">
                <i class="fa fa-trash"></i> Cancelar
              </button>
            </div>
          </div>
        </form>
      </div>
      <!-- /.box-body -->
      <div class="overlay" *ngIf="processing">
        <i class="fa fa-refresh fa-spin"></i>
      </div>
      <!-- end loading -->
    </div>
    <!-- /.box -->
  </div>
  <div class="col-xs-12" *ngIf="surveyList.length">
    <div class="box box-warning">
      <div class="box-header">
        <h3 class="box-title">Lista de encuestas</h3>

        <div class="box-tools pull-right">
          <div class="has-feedback" [hidden]="true">
            <input type="text" class="form-control input-sm" placeholder="Buscar" [(ngModel)]="filter">
            <span class="fa fa-search form-control-feedback"></span>
          </div>
          <div class="has-feedback">
            <button type="button" class="btn btn-default btn-sm" (click)="registryNewSurvey()" *ngIf="!registrySurvey">
              <i class="fa fa-plus"></i> nuevo
            </button>
            <button type="button" class="btn btn-default btn-sm" (click)="close()" *ngIf="registrySurvey">
              <i class="fa fa-times"></i> cancelar
            </button>
          </div>
        </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
          <thead>
          <tr>
            <th></th>
            <th>Encuesta</th>
            <th>URL</th>
            <th></th>
            <th>Inicio</th>
            <th>Fin</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let survey of surveyList"
              [ngClass]="{'info': survey.current, 'warning': survey.edit}">
            <td class="text-center"><i class="fa fa-clock-o" *ngIf="survey.current"></i></td>
            <td>{{ survey.name }}</td>
            <td>{{ survey.url }}</td>
            <td>
              <span class="label label-success" *ngIf="survey.active">activo</span>
              <span class="label label-warning" *ngIf="!survey.active">inactivo</span>
            </td>
            <td>{{ survey.begin_date | date:'mediumDate' }}</td>
            <td>{{ survey.end_date | date:'mediumDate' }}</td>
            <td>
              <button type="button" class="btn btn-primary btn-xs" (click)="updateCurrentSurvey(survey)">
                <i class="fa fa-pencil"></i>
              </button>
              <button type="button" class="btn btn-danger btn-xs" *ngIf="survey.edit" (click)="delete(survey)">
                <i class="fa fa-trash"></i>
              </button>
              <button type="button" class="btn btn-warning btn-xs" *ngIf="survey.edit" (click)="cancel(survey)">
                <i class="fa fa-times"></i>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <!-- /.box-body -->
      <div class="overlay" *ngIf="processing">
        <i class="fa fa-refresh fa-spin"></i>
      </div>
      <!-- end loading -->
    </div>
    <!-- /.box -->
  </div>
</div>
