<div class="row">
  <!-- main column -->
  <div class="col-md-12">
    <!-- Horizontal Form -->
    <div class="box box-info">
      <div class="box-header with-border">
        <h3 class="box-title">
          Boleta de Notas - PRONABEC &nbsp;
          <span class="pull-right badge bg-orange help" data-toggle="tooltip" data-placement="right"
                title="NO genera deuda. Solo verifica que el código sea PRONABEC">
            gratuito <i class="fa fa-question-circle-o"></i>
          </span>
        </h3>
        <h3 class="box-title pull-right">[Batch]</h3>
      </div>
      <!-- /.box-header -->
      <!-- form start -->
      <form class="form-horizontal">
        <div class="box-body">
          <div class="form-group">
            <label class="col-sm-2 control-label">Modalidad PRONABEC</label>
            <div class="col-sm-10 col-md-7">
              <select class="form-control" [(ngModel)]="beca" (ngModelChange)="newScholarship()"
                      [disabled]="searching || pronabecScholarships === undefined" name="beca" title="Modalidad PRONABEC">
                <option *ngFor="let pronabec of pronabecScholarships"
                        value="{{ pronabec.typeOfIncomeId }}">
                  {{ pronabec.typeOfIncomeName }} - {{ pronabec.modalityName }}
                </option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Programa</label>
            <div class="col-sm-10 col-md-7">
              <select class="form-control" [(ngModel)]="escuela" (ngModelChange)="newSchool()"
                      [disabled]="searching || schools === undefined" name="escuela" title="Programas de estudios">
                <optgroup *ngFor="let school of schools" label="{{school.name}}">
                  <option *ngFor="let s of school.programs" value="{{s.id}}">{{s.name}}</option>
                </optgroup>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Período</label>
            <div class="col-sm-10 col-md-7">
              <select class="form-control" [(ngModel)]="periodo" (ngModelChange)="newPeriod()"
                      [disabled]="searching || periods === undefined" name="periodo" title="Período de matrícula">
                <option *ngFor="let period of periods" value="{{ period }}">{{ period }}</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10 col-md-7">
              <button type="submit" class="btn btn-info" (click)="getPronabec()"
                      [disabled]="!isAllSelected() || (searching && pronabec === undefined) || processing">
                <i class="fa fa-search"></i> Buscar Estudiantes
              </button>
              <button type="button" class="btn btn-default" (click)="clean()"
                      [disabled]="!isAnySelected() || (searching && pronabec === undefined)">
                <i class="fa fa-trash-o"></i> Limpiar
              </button>
            </div>
          </div>
        </div>
        <!-- /.box-body -->
      </form>
    </div>
    <!-- /.box -->
  </div>
  <!-- /.column (main) -->

  <div class="col-md-12" *ngIf="searching && pronabec === undefined">
    <loading></loading>
  </div>

  <!-- students column -->
  <div class="col-md-12" *ngIf="showSearchResult">
    <!-- general form elements -->
    <div class="box" [ngClass]="{ 'box-success': pronabec.length, 'box-warning': !pronabec.length }">
      <div class="box-header with-border">
        <h3 class="box-title">Resultados de Búsqueda</h3>
        <div class="box-tools pull-right" *ngIf="tuqpa.length || isAnyStudent">
          <div class="has-feedback">
            <button class="btn btn-default btn-sm" type="button" name="todos" (click)="selectAll()">
              Seleccionar todos
            </button>
            <button class="btn btn-info btn-sm" *ngIf="periodo !== undefined" type="button" name="constancia"
                    (click)="getReportCard()">
              Generar Boleta
            </button>
          </div>
        </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
          <thead>
          <tr>
            <th>#</th>
            <th></th>
            <th>Código</th>
            <th>Nombres</th>
            <th>PRONABEC</th>
            <th>Programa</th>
            <th>Boleta</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngIf="pronabec === undefined || !pronabec.length">
            <td colspan="8" class="warning text-center text-warning">No se encontraron resultados</td>
          </tr>
          <tr *ngFor="let e of pronabec; let i = index" [attr.data-index]="i"
              (click)="setStudentsToProcess(e)"
              [ngClass]="{ 'info': e.isSelected, 'success': e.payment_status == 1 && e.download,
                        'warning': e.payment_status == 2 && !e.isSelected,
                        'text-warning': e.academicStatus == -4,
                        'text-danger': e.schoolId == '0' && e.academicStatus != -4 }">
            <td>{{ i + 1 }}</td>
            <td>
              <i class="fa fa-check-square-o" *ngIf="e.isSelected"></i>
              <i class="fa fa-square-o" *ngIf="!e.isSelected"></i>
            </td>
            <td>{{ e.studentId }}</td>
            <td>{{ e.studentName }}</td>
            <td>
              <span *ngIf="!e.isPronabec" class="label label-warning">
                <i class="fa fa-exclamation"></i> NO PRONABEC
              </span>
              <span *ngIf="e.isPronabec" class="label label-success help"
                    title="{{ e.typeOfIncomeName }} - {{ e.modalityName }}" data-toggle="tooltip" data-placement="top">
                <i class="fa fa-check"></i> {{ e.typeOfIncomeName }}
              </span>
            </td>
            <td>
              <span *ngIf="e.schoolId != '0'" title="{{ e.schoolName }}" class="help" data-toggle="tooltip"
                    data-placement="top">
                {{ e.schoolId }}
              </span>
            </td>
            <td>
              <i class="fa fa-cog"
                 *ngIf="!processing && e.isSelected && !e.download && e.schoolId != '0' && e.docUrl === null && e.isPronabec">
              </i>
              <i class="fa fa-cog fa-spin fa-fw" *ngIf="e.isSelected && processing">
              </i>
              <button class="btn btn-danger btn-xs" type="button" name="button" disabled *ngIf="!e.isPronabec">
                No Disponible
              </button>
              <span *ngIf="e.download">
                <a class="label label-info" title="Ver PDF" target="_blank"
                   href="{{ e.docUrl }}">
                  <i class="fa fa-eye"></i>
                </a>&nbsp;
                <a class="label label-default" title="Descargar PDF" target="_blank"
                   href="{{e.docUrl}}" download="{{ e.saveAs }}.pdf">
                  <i class="fa fa-cloud-download"></i>
                </a>
              </span>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
  <!--/.col (students) -->
</div>
<!-- /.row -->
