<div class="row">
    <div class="col-md-3">
        <!-- Profile Image -->
        <div class="box box-primary">
            <div class="box-body box-profile" *ngIf="student != null">
                <img class="profile-user-img img-responsive img-circle" [src]="'api/personal/photo/'+student.id"
                     alt="User profile picture">
                <h3 class="profile-username text-center">{{student.last_name}}</h3>
                <p class="text-muted text-center">Estudiante</p>
                <ul class="list-group list-group-unbordered">
                    <li class="list-group-item">
                        <b>{{student.first_name}}</b>
                        <span class="pull-right">
                            <i class="fa fa-user-circle-o" title="Nombres" data-toggle="tooltip"
                               data-placement="left"></i>
                        </span>
                    </li>
                    <li class="list-group-item">
                        <b>{{student.document_number}}</b>
                        <span class="pull-right">
                            <i class="fa fa-id-card-o " title="{{student.document_type}}" data-toggle="tooltip"
                               data-placement="left"></i>
                        </span>
                    </li>
                    <li class="list-group-item">
                        <b>{{student.birthdate | date:'d MMM'}}</b>
                        <span class="pull-right">
                            <i class="fa fa-birthday-cake" title="Cumpleaños" data-toggle="tooltip"
                               data-placement="left"></i>
                        </span>
                    </li>
                </ul>
                <button class="btn bg-primary btn-block" (click)="activateSearchPersonBox()" *ngIf="!isAddApoderado">
                    <b class="small"><i class="fa fa-plus"></i> AÑADIR APODERADO</b>
                </button>
                <button class="btn btn-danger btn-block" (click)="activateSearchPersonBox()" *ngIf="isAddApoderado">
                    <b class="small"><i class="fa fa-ban"></i> CANCELAR</b>
                </button>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-12">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#activity" data-toggle="tab">APODERADOS</a></li>
                        <li class="pull-right">
                            <span class="btn btn-sm bg-yellow not-allowed" *ngIf="isUpdating">
                                <i class="fa fa-spinner fa-pulse fa-fw"></i> Actualizando
                            </span>
                            <button class="btn btn-sm bg-aqua" *ngIf="!isUpdating" (click)="getData()">
                                <i class="fa fa-refresh"></i> Actualizar
                            </button>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="active tab-pane" id="activity">

                            <div class="box-body table-responsive no-padding">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Apoderado</th>
                                        <th>DNI</th>
                                        <th>Parentesco</th>
                                        <th>Acceso</th>
                                    </tr>
                                    </thead>
                                    <tbody *ngIf="student != null">
                                    <tr *ngIf="student.apoderado == null">
                                        <td colspan="5" class="warning text-center text-warning">
                                            No se encontraron apoderados registrados.
                                            <button class="btn btn-xs btn-warning" *ngIf="!isAddApoderado"
                                                    (click)="activateSearchPersonBox()">
                                                <span class="small"><i class="fa fa-plus"></i> AÑADIR APODERADO</span>
                                            </button>
                                            <button class="btn btn-xs btn-danger" *ngIf="isAddApoderado"
                                                    (click)="activateSearchPersonBox()">
                                                <span class="small"><i class="fa fa-ban"></i> CANCELAR</span>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr *ngFor="let a of student.apoderado; let i = index" [attr.data-index]="i">
                                        <td>{{i+1}}</td>
                                        <td>{{a.full_name}}</td>
                                        <td>{{a.document_number}}</td>
                                        <td>{{a.kinshipName}}</td>
                                        <td>
                                            <span class="label label-success hand" *ngIf="a.has_access"
                                                  (click)="getApoderadoDetail(a)">
                                                Activo
                                            </span>
                                            <span class="label label-danger hand" *ngIf="!a.has_access"
                                                  (click)="getApoderadoDetail(a)">
                                                Inactivo
                                            </span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.tab-pane -->
                    </div>
                    <!-- /.tab-content -->
                </div>
                <!-- /.nav-tabs-custom -->
            </div>
            <!-- /.col -->
            <div class="col-md-12" *ngIf="isChangeAccess && apoderado != undefined">
                <div class="box box-warning">
                    <div class="box-header with-border">
                        <h3 class="box-title">Permisos de acceso</h3>
                        <h3 class="box-title pull-right text-muted">
                            <i class="fa fa-user-o"></i> {{apoderado.last_name}} {{apoderado.first_name}}
                        </h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <form class="form-horizontal" #apoderadoForm="ngForm">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Nombre Apoderado</label>
                                <div class="col-sm-9 col-md-7">
                                    <span class="form-control">{{apoderado.full_name}}</span>
                                </div>
                            </div>
                            <!-- /.form-group -->
                            <div class="form-group">
                                <label class="col-sm-3 control-label">DNI</label>
                                <div class="col-sm-9 col-md-7">
                                    <span class="form-control">{{apoderado.document_number}}</span>
                                </div>
                            </div>
                            <!-- /.form-group -->
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Parentesco</label>
                                <div class="col-sm-9 col-md-7">
                                    <span class="form-control">{{apoderado.kinshipName}}</span>
                                </div>
                            </div>
                            <!-- /.form-group -->
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Acceso</label>
                                <div class="col-sm-9 col-md-7">
                                    <p-inputSwitch onLabel="Activo" offLabel="Inactivo"
                                                   [(ngModel)]="hasAccess"
                                                   [ngModelOptions]="{standalone: true}"></p-inputSwitch>
                                </div>
                            </div>
                            <!-- /.form-group -->
                            <div class="form-group" [ngClass]="{ 'has-error': !isValidComment() }">
                                <label class="col-sm-3 control-label">Sustento</label>
                                <div class="col-sm-9 col-md-7">
                                    <textarea class="form-control" name="motivo" id="motivo" cols="30" rows="5"
                                              maxlength="200" required [(ngModel)]="comment"
                                              (ngModelChange)="validateComment()"
                                              placeholder="Ingrese el motivo del cambio de acceso"></textarea>
                                </div>
                            </div>
                            <!-- /.form-group -->
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-9 col-md-7">
                                    <button type="submit" class="btn btn-warning" (click)="updateApoderadoAccess()"
                                            [disabled]="!apoderadoForm.form.valid || !isValidComment() || isProcessing">
                                        <i class="fa fa-save"></i> Guardar Cambios
                                    </button>
                                    <button type="button" class="btn btn-danger" [disabled]="isProcessing"
                                            (click)="cancelUpdateApoderadoAccess()">
                                        <i class="fa fa-ban"></i> Cancelar
                                    </button>
                                </div>
                            </div>
                            <!-- /.form-group -->
                        </form>
                    </div>
                    <!-- /.box-body -->
                    <!-- Loading (remove the following to stop the loading)-->
                    <div class="overlay" *ngIf="isProcessing">
                        <i class="fa fa-refresh fa-spin"></i>
                    </div>
                    <!-- end loading -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
            <div class="col-md-12" *ngIf="showSavedSuccessfull && apoderado != undefined">
                <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <h4><i class="icon fa fa-check"></i> Guardado!</h4>
                    Se modificaron los accesos del apoderado <strong>{{apoderado.full_name}}</strong>.
                </div>
            </div>
            <!-- /.col -->
            <div class="col-md-12">
                <apoderapp-new-apoderado *ngIf="isAddApoderado" [student]="student"></apoderapp-new-apoderado>
            </div>
            <!-- /.col -->
        </div>
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->
