<div class="row">
    <!-- main column -->
    <div class="col-md-12">
        <!-- Horizontal Form -->
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">
                    Control de Accesos
                </h3>
                <h3 class="box-title pull-right"></h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal">
                <div class="box-body">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">DNI Estudiante</label>
                        <div class="col-sm-10 col-md-7">
                            <input class="form-control" type="text" name="estudiantes"
                                   placeholder="DNI de Estudiantes UC"
                                   [(ngModel)]="estudiantes" (ngModelChange)="getStudentsArray()">
                        </div>
                    </div>
                    <div class="form-group" *ngIf="students != undefined && students.length > 0">
                        <div class="col-sm-offset-2 col-sm-10 col-md-7">
                            <span class="badge bg-teal hand" (click)="showStudentsList()">Códigos ingresados
                                <span class="badge bg-teal-active" *ngIf="students != undefined">
                                    {{ students.length }}
                                </span>
                            </span>
                        </div>
                        <div class="col-sm-offset-2 col-sm-10 col-md-7" *ngIf="isShowStudentsList">
                            <span *ngFor="let student of students">
                                <span class="badge bg-gray"><i class="fa fa-user"></i> {{ student }}</span>&nbsp;
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10 col-md-7">
                            <button type="submit" class="btn btn-info" (click)="searchStudents()"
                                    [disabled]="!isAllSelected() || (isSearching && studentsRpta == undefined)">
                                <i class="fa fa-search"></i> Buscar Estudiantes
                            </button>
                            <button type="button" class="btn btn-default" (click)="clean()"
                                    [disabled]="!isAnySelected() || (isSearching && studentsRpta == undefined)">
                                <i class="fa fa-trash-o"></i> Limpiar
                            </button>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </form>
        </div>
        <!-- /.box -->
    </div>
    <!-- /.column (main) -->

    <div class="col-md-12" *ngIf="isSearching && studentsRpta == undefined">
        <loading></loading>
    </div>

    <!-- students column -->
    <div class="col-md-12">
        <!-- general form elements -->
        <div class="box" [ngClass]="{ 'box-success': studentsRpta.length, 'box-warning': !studentsRpta.length }"
             *ngIf="isSearching && studentsRpta != undefined">
            <div class="box-header with-border">
                <h3 class="box-title">Resultados de Búsqueda</h3>
                <div class="box-tools pull-right" *ngIf="tuqpa.length || isAnyStudent">
                    <div class="has-feedback">
                        <button class="btn btn-default btn-sm" type="button" name="todos" (click)="selectAll()">
                            Seleccionar todos
                        </button>
                        <button class="btn btn-info btn-sm" *ngIf="periodo != undefined" type="button" name="constancia"
                                (click)="getProofOfEnrollment()" [disabled]="!existPeriodo">
                            Generar Constancia
                        </button>
                    </div>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>DNI</th>
                        <th>Estudiante</th>
                        <th>Apoderado</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngIf="studentsRpta.length == 0">
                        <td colspan="8" class="warning text-center text-warning">No se encontraron resultados</td>
                    </tr>
                    <tr *ngFor="let e of studentsRpta; let i = index" [attr.data-index]="i"
                        [ngClass]="{ 'text-danger': e.status == 0 }">
                        <td>{{ i + 1 }}</td>
                        <td>{{ e.document_number }}</td>
                        <td>
                            <span *ngIf="e.status == 1">{{ e.last_name }}, {{ e.first_name }}</span>
                            <span *ngIf="e.status == 0">ESTUDIANTE NO ENCONTRADO</span>
                        </td>
                        <td>
                            <span *ngIf="e.status == 1 && !e.has_apoderado" (click)="studentDetail(e.document_number)"
                                  class="badge bg-orange hand">
                                <span class="badge bg-orange-active">{{ e.active_apoderado }}</span>
                                ver detalle
                            </span>
                            <span *ngIf="e.status == 1 && e.has_apoderado" (click)="studentDetail(e.document_number)"
                                  class="badge bg-teal hand">
                                <span class="badge bg-teal-active">
                                    {{ e.active_apoderado }}/{{ e.active_apoderado + e.inactive_apoderado }}
                                </span>
                                ver detalle
                            </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!--/.col (students) -->
</div>
<!-- /.row -->
