<div class="row">
    <div class="col-lg-4 col-sm-6 col-xs-12">
        <a [routerLink]="['control-acceso']">
            <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="fa fa-unlock-alt"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">&nbsp;</span>
                    <span class="info-box-number">Control de Accesos</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </a>
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->
