<div class="row">
    <!-- main column -->
    <div class="col-md-12">
        <!-- Horizontal Form -->
        <div class="box box-info pb">
            <div class="box-header with-border">
                <h3 class="box-title">
                    <i class="fa fa-search"></i> Buscar apoderado
                </h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal">
                <div class="box-body pb-0">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">DNI apoderado</label>
                        <div class="col-sm-10 col-md-8">
                            <input class="form-control" type="text" name="personas"
                                   placeholder="DNI del apoderado" [disabled]="isSearching"
                                   [(ngModel)]="personas" (ngModelChange)="getPeopleArray()">
                        </div>
                    </div>
                    <div class="form-group" *ngIf="people != undefined && people.length > 0">
                        <div class="col-sm-offset-2 col-sm-10 col-md-8">
                            <span class="badge bg-teal hand" (click)="showPeopleList()">Códigos ingresados
                                <span class="badge bg-teal-active" *ngIf="people != undefined">
                                    {{ people.length }}
                                </span>
                            </span>
                        </div>
                        <div class="col-sm-offset-2 col-sm-10 col-md-8" *ngIf="isShowPeopleList">
                            <span *ngFor="let student of people">
                                <span class="badge bg-gray"><i class="fa fa-user"></i> {{ student }}</span>&nbsp;
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10 col-md-8">
                            <button type="submit" class="btn bg-primary" (click)="searchPeople()"
                                    [disabled]="!isAllSelected() || (isSearching && runa == undefined)">
                                <i class="fa fa-search"></i> Buscar
                            </button>
                            <button type="button" class="btn btn-outline-secondary" (click)="clean()"
                                    [disabled]="!isAnySelected() || (isSearching && runa == undefined)">
                                <i class="fa fa-trash-o"></i> Limpiar
                            </button>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </form>
            <!-- form end -->

            <div class="ph" *ngIf="showSearchResult">
                <h3 class="mt-0">Resultados de búsqueda</h3>
                <div class="table-responsive table-material">
                    <table class="table table-hover">
                        <thead class="bg-primary">
                            <tr>
                                <th>#</th>
                                <th>DNI</th>
                                <th>Apoderado</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="runa != undefined && runa.length == 0">
                                <td colspan="8" class="warning text-center text-warning">No se encontraron resultados</td>
                            </tr>
                            <tr *ngFor="let e of runa; let i = index" [attr.data-index]="i" [ngClass]="{ 'text-danger': e.id == 0 }">
                                <td>{{ i + 1 }}</td>
                                <td>{{ e.document_number }}</td>
                                <td>
                                    <span *ngIf="e.id != 0">{{ e.full_name }}</span>
                                    <span *ngIf="e.id == 0">APODERADO NO ENCONTRADO</span>
                                </td>
                                <td>
                                    <span *ngIf="e.id == 0 && !showDetailNewPerson" class="badge bg-red hand" (click)="detailNewPerson(e)">
                                        REGISTRAR
                                    </span>
                                    <span *ngIf="e.id == 0 && showDetailNewPerson" class="badge bg-red not-allowed">
                                        REGISTRAR
                                    </span>
                                    <span *ngIf="e.id != 0 && e.has_access" class="badge bg-green not-allowed">
                                        <i class="fa fa-info"></i> ASIGNADO
                                    </span>
                                    <span *ngIf="e.id != 0 && !showDetailPerson && !e.has_access" class="badge bg-orange hand" (click)="detailPerson(e)">
                                        <i class="fa fa-plus"></i> AÑADIR
                                    </span>
                                    <span *ngIf="e.id != 0 && showDetailPerson && !e.has_access" class="badge bg-orange not-allowed">
                                        <i class="fa fa-plus"></i> AÑADIR
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /.box -->
    </div>
    <!-- /.column (main) -->

    <div class="col-md-12" *ngIf="isSearching">
        <loading></loading>
    </div>

    
    <!-- people-detail column -->
    <div class="col-md-12" *ngIf="sapaRuna != undefined && showDetailPerson">
        <!-- general form elements -->
        <div class="box box-warning">
            <div class="box-header with-border">
                <h3 class="box-title">
                    <i class="fa fa-exclamation-triangle"></i> Nuevo apoderado
                </h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body" *ngIf="sapaRuna != undefined">
                <!-- form start -->
                <form class="form-horizontal" #apoderadoForm="ngForm">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Nombre apoderado</label>
                        <div class="col-sm-9 col-md-7">
                            <span *ngIf="sapaRuna.id != 0" class="form-control">{{ sapaRuna.full_name }}</span>
                            <span *ngIf="sapaRuna.id == 0" class="form-control">APODERADO NO ENCONTRADO</span>
                        </div>
                    </div>
                    <!-- /.form-group -->
                    <div class="form-group">
                        <label class="col-sm-3 control-label">DNI apoderado</label>
                        <div class="col-sm-9 col-md-7">
                            <span class="form-control">{{ sapaRuna.document_number }}</span>
                        </div>
                    </div>
                    <!-- /.form-group -->
                    <div class="form-group" [ngClass]="{ 'has-error': !isValidNewApoderadoInput() }">
                        <label class="col-sm-3 control-label">Parentesto</label>
                        <div class="col-sm-9 col-md-7">
                            <select class="form-control" name="parentesco" required [(ngModel)]="parentesco"
                                    (ngModelChange)="newParentesco()">
                                <option *ngFor="let k of kinship" value="{{k.kinshipId}}">{{k.kinshipName}}</option>
                            </select>
                        </div>
                    </div>
                    <!-- /.form-group -->
                    <div class="form-group" [ngClass]="{ 'has-error': !isValidNewApoderadoInput() }">
                        <label class="col-sm-3 control-label">Sustento</label>
                        <div class="col-sm-9 col-md-7">
                            <textarea class="form-control" name="motivo" id="motivo" cols="30" rows="5" maxlength="200"
                                      [(ngModel)]="comment" (ngModelChange)="validateComment()" required
                                      placeholder="Ingrese motivo de registro"></textarea>
                        </div>
                    </div>
                    <!-- /.form-group -->
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9 col-md-7">
                            <button type="submit" class="btn bg-primary" (click)="addApoderado()"
                                    [disabled]="!apoderadoForm.form.valid || !isValidNewApoderadoInput() || isProcessing">
                                <i class="fa fa-save"></i> Añadir apoderado
                            </button>
                            <button type="button" class="btn btn-danger" (click)="detailPerson(sapaRuna)"
                                    [disabled]="isProcessing">
                                <i class="fa fa-ban"></i> Cancelar
                            </button>
                        </div>
                    </div>
                    <!-- /.form-group -->
                </form>
                <!-- form end -->
            </div>
            <!-- /.box-body -->
            <!-- Loading (remove the following to stop the loading)-->
            <div class="overlay" *ngIf="savingApoderado">
                <i class="fa fa-refresh fa-spin"></i>
            </div>
            <!-- end loading -->
        </div>
        <!-- /.box -->
    </div>
    <!--/.col (people-detail) -->
    <div class="col-md-12" *ngIf="showSavedSuccessfull && sapaRuna != undefined">
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h4><i class="icon fa fa-check"></i> Guardado!</h4>
            Se ha añadido un nuevo apoderado: <strong>{{sapaRuna.full_name}}</strong>.<br/>
            Para visualizar los cambios, actualice la lista de apoderados.
        </div>
    </div>
    <!-- /.col -->
    <div class="col-md-12" *ngIf="showDetailNewPerson && !showSavedPersonaSuccessfull">
        <div class="box box-warning">
            <div class="box-header with-border">
                <h3 class="box-title">
                    <i class="fa fa-exclamation-triangle"></i> Nueva persona
                </h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <form class="form-horizontal" #nuevaPersonaForm="ngForm">
                    <div class="form-group" [ngClass]="{ 'has-error': nuevaPersona.fathers_last_name==undefined }">
                        <label for="lastName1" class="col-sm-3 control-label">Apellido paterno</label>
                        <div class="col-sm-9 col-md-7">
                            <input type="text" class="form-control" id="lastName1" placeholder="Apellido paterno"
                                   [(ngModel)]="nuevaPersona.fathers_last_name" [ngModelOptions]="{standalone: true}"
                                   required name="lastName1" #lastName1="ngModel">
                        </div>
                    </div>
                    <!-- /.form-group -->
                    <div class="form-group" [ngClass]="{ 'has-error': nuevaPersona.mothers_last_name==undefined }">
                        <label for="lastName2" class="col-sm-3 control-label">Apellido materno</label>
                        <div class="col-sm-9 col-md-7">
                            <input type="text" class="form-control" id="lastName2" placeholder="Apellido materno"
                                   [(ngModel)]="nuevaPersona.mothers_last_name" [ngModelOptions]="{standalone: true}"
                                   required name="lastName2" #lastName2="ngModel">
                        </div>
                    </div>
                    <!-- /.form-group -->
                    <div class="form-group" [ngClass]="{ 'has-error': nuevaPersona.first_name==undefined }">
                        <label for="name" class="col-sm-3 control-label">Nombres</label>
                        <div class="col-sm-9 col-md-7">
                            <input type="text" class="form-control" id="name" placeholder="Nombres"
                                   [(ngModel)]="nuevaPersona.first_name" [ngModelOptions]="{standalone: true}"
                                   required name="name" #name="ngModel">
                        </div>
                    </div>
                    <!-- /.form-group -->
                    <div class="form-group" [ngClass]="{ 'has-error': !tipoDocumento.valid }">
                        <label for="documentType" class="col-sm-3 control-label">Tipo de documento</label>
                        <div class="col-sm-9 col-md-7">
                            <select name="documentType" id="documentType" class="form-control"
                                    [(ngModel)]="nuevaPersona.document_type"
                                    required name="tipoDocumento" #tipoDocumento="ngModel">
                                <option selected disabled>Tipo documento</option>
                                <option value="CE">CE</option>
                                <option value="DNI">DNI</option>
                            </select>
                        </div>
                    </div>
                    <!-- /.form-group -->
                    <div class="form-group" [ngClass]="{ 'has-error': nuevaPersona.document_number==undefined }">
                        <label for="documentNumber" class="col-sm-3 control-label">Nro documento</label>
                        <div class="col-sm-9 col-md-7">
                            <input type="number" class="form-control" id="documentNumber" placeholder="Nro Documento"
                                   [(ngModel)]="nuevaPersona.document_number" [ngModelOptions]="{standalone: true}"
                                   required name="documentNumber" #documentNumber="ngModel">
                        </div>
                    </div>
                    <!-- /.form-group -->
                    <div class="form-group" [ngClass]="{ 'has-error': nuevaPersona.gender==undefined }">
                        <label for="gender" class="col-sm-3 control-label">Género</label>
                        <div class="col-sm-9 col-md-7">
                            <select name="gender" id="gender" class="form-control"
                                    [(ngModel)]="nuevaPersona.gender" [ngModelOptions]="{standalone: true}"
                                    required [name]="gender" #gender="ngModel">
                                <option selected disabled>Seleccionar género</option>
                                <option value="0">Femenino</option>
                                <option value="1">Masculino</option>
                            </select>
                        </div>
                    </div>
                    <!-- /.form-group -->
                    <div class="form-group" [ngClass]="{ 'has-error': nuevaPersona.birthdate==undefined }">
                        <label class="col-sm-3 control-label">Fecha de nacimiento</label>
                        <div class="col-sm-9 col-md-7">
                            <p-calendar [(ngModel)]="nuevaPersona.birthdate" [locale]="es" dateFormat="dd/mm/yy"
                                        [monthNavigator]="true" [yearNavigator]="true" yearRange="{{wata-100}}:{{wata}}"
                                        [showIcon]="true" name="fechaNac" #fechaNac="ngModel" showButtonBar="true"
                                        readonlyInput="true" required name="birthdate" #birthdate="ngModel">
                            </p-calendar>
                        </div>
                    </div>
                    <!-- /.form-group -->
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9 col-md-7">
                            <button type="submit" class="btn bg-primary" (click)="newPerson()"
                                    [disabled]="!nuevaPersonaForm.valid || !documentNumber.valid">
                                <i class="fa fa-save"></i> Añadir apoderado
                            </button>
                            <button type="button" class="btn btn-danger" (click)="detailPerson(sapaRuna)">
                                <i class="fa fa-ban"></i> Cancelar
                            </button>
                        </div>
                    </div>
                    <!-- /.form-group -->
                </form>
            </div>
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
    <div class="col-md-12" *ngIf="showSavedPersonaSuccessfull && nuevaPersona != undefined">
        <div class="alert alert-warning alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h4><i class="icon fa fa-check"></i> Persona añadida!</h4>
            Se ha añadido una nueva persona: <strong>{{per.full_name}}</strong>.<br/>
            <button class="btn bg-primary" (click)="detailPerson(per)">Añadir apoderado</button>
        </div>
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->
