<div class="modal fade" id="poll-modal" tabindex="-1" role="dialog" aria-labelledby="myModal" data-keyboard="false"
  data-backdrop="static">
  <div class="modal-dialog" role="document" >
    <div class="modal-content p" *ngIf="!send && mustPoll && poll != null">
      <h4 class="mt-0 text-center text-green text-bold">¡Califica tu experiencia!</h4>
      <h3 class="mt-0 text-center text-primary">{{poll.description}}</h3>

      <div *ngFor="let question of poll.questions">
        <div *ngIf="!question.isComment">
          <div class="text-center">
            <i class="fa fa-4x fa-star ph-1 hand" *ngFor="let choise of question.choices" (click)="selectOption(choise)" [ngClass]="{'text-yellow': (choise.orderChoice <= optionSelected.orderChoice)}"></i>
          </div>
          <h3 class="text-bold text-center">{{optionSelected.choiceText}}</h3>
        </div>

        <div class="form-group" *ngIf="question.isComment">
          <label for="comment">{{question.questionTitle}}</label>
          <input type="text" class="form-control rounded" id="comment" name="comment" placeholder="Comentario"  [(ngModel)]="question.comment">
        </div>

      </div>

      <button class="mt btn btn-block" [ngClass]="{'bg-primary': selected, 'bg-primary-disabled': !selected}" (click)="sendPoll()">Enviar</button>
      <button class="btn btn-block btn-outline-secondary border-0" (click)="omitPoll()">omitir</button>
    </div>
    <div class="modal-content text-primary text-center p" *ngIf="send">
      <i class="fa fa-3x fa-thumbs-o-up"></i>
      <h3 class="text-center text-bold">¡Muchas gracias por su participación!</h3>
    </div>
  </div>
</div>
