.btn-light
  background-color: $white
  color: $secondary
  &:hover
    background-color: $gray-300
    color: $dark

.btn-circle
  +borderRadius(50%)
  padding: 5px !important
  &:focus, &:active, &:active:focus
    outline-style: none !important
