// botones tipo outline
@each $nameColor, $color in $theme-colors
  .btn-outline-#{$nameColor}
    color: $color
    background-color: transparent
    background-image: none
    border-color: $color
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
    &:hover
      color: $white !important
      background-color: $color !important
      border-color: $color !important
    &:focus, &:active
      +boxShadow(0, 0, 0, rgba($color, .5), 0.3rem)
