<div class="row">
    <div class="col-lg-4 col-sm-6 col-xs-12">
        <a class="info-box bg-aqua" [routerLink]="['promocional-batch']">
            <span class="info-box-icon"><i class="fa fa-graduation-cap"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Certificado de Estudios</span>
                <span class="info-box-number">Promocional - Batch</span>

                <div class="progress">
                    <div class="progress-bar width-100"></div>
                </div>
                <span class="progress-description">
                    Por código de estudiante
                </span>
            </div>
        </a>
    </div>
</div>
