<div class="row">
    <!-- request for certificate column -->
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-3">
                <div class="box box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">Solicitudes</h3>
                        <div class="box-tools">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding">
                        <ul class="nav nav-pills nav-stacked">
                            <li [ngClass]="{'active': inbox === 'inbox'}" (click)="setInbox($event, 'inbox')">
                                <a class="hand">
                                    <i class="fa fa-inbox"></i> Inbox
                                    <span class="label label-primary pull-right">{{requestInbox.length}}</span>
                                </a>
                            </li>
                            <li [ngClass]="{'active': inbox === 'pendienteAprobacion'}"
                                (click)="setInbox($event, 'pendienteAprobacion')">
                                <a class="hand">
                                    <i class="fa fa-hourglass-start"></i> Pendiente Aprobación
                                    <span class="label label-warning pull-right">{{pendingApproval.length}}</span>
                                </a>
                            </li>
                            <li [ngClass]="{'active': inbox === 'pendienteProceso'}"
                                (click)="setInbox($event, 'pendienteProceso')">
                                <a class="hand">
                                    <i class="fa fa-hourglass-half"></i> Pendiente Procesar
                                    <span class="label label-info pull-right">{{pendingProcessing.length}}</span>
                                </a>
                            </li>
                            <li [ngClass]="{'active': inbox === 'pendienteEntrega'}"
                                (click)="setInbox($event, 'pendienteEntrega')">
                                <a class="hand">
                                    <i class="fa fa-hourglass-end"></i> Pendiente Entrega
                                    <span class="label label-success pull-right">{{pendingDelivery.length}}</span>
                                </a>
                            </li>
                            <li [ngClass]="{'active': inbox === 'archivo'}" (click)="setInbox($event, 'archivo')">
                                <a class="hand">
                                    <i class="fa fa-archive"></i> Archivo
                                    <span class="label label-default pull-right">{{requestArchive.length}}</span>
                                </a>
                            </li>
                            <li [ngClass]="{'active': inbox === 'cancelado'}" (click)="setInbox($event, 'cancelado')">
                                <a class="hand">
                                    <i class="fa fa-trash-o"></i> Cancelaciones
                                    <span class="label label-danger pull-right">{{requestCancelled.length}}</span>
                                </a>
                            </li>
                            <li [ngClass]="{'active': inbox === 'search'}" (click)="setInbox($event, 'search')">
                                <a class="hand">
                                    <i class="fa fa-search"></i> Buscar
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.box-body -->
                    <!-- Loading (remove the following to stop the loading)-->
                    <div class="overlay" *ngIf="loadingRequestList">
                        <i class="fa fa-refresh fa-spin"></i>
                    </div>
                    <!-- end loading -->
                </div>
                <!-- /. box -->
                <button class="btn btn-primary btn-block margin-bottom" type="button"
                        *ngIf="showRequestList" (click)="newRequest()" [disabled]="loadingRequestList">
                    <i class="fa fa-plus"></i> Nueva Solicitud
                </button>
                <button class="btn btn-danger btn-block margin-bottom" type="button"
                        *ngIf="!showRequestList " (click)="cancelCreateRequest()"
                        [disabled]="loadingRequestList || isSearching || gettingRequest">
                    <i class="fa fa-ban"></i> Cancelar
                </button>
            </div>
            <!-- /.col -->
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12" *ngIf="!showRequestList && inbox != 'search'">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Nueva Solicitud</h3>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <!-- form start -->
                                <form class="form-horizontal">
                                    <div class="box-body">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Egresados</label>
                                            <div class="col-sm-10 col-md-8">
                                                <input class="form-control" type="text" name="estudiantes"
                                                       placeholder="Códigos de Egresados UC" [(ngModel)]="estudiantes"
                                                       (ngModelChange)="getStudentsArray()"
                                                       [disabled]="isSearching || gettingRequest">
                                            </div>
                                        </div>
                                        <div class="form-group" *ngIf="students != undefined && students.length > 0">
                                            <div class="col-sm-offset-2 col-sm-10 col-md-8">
                                                <span class="badge bg-teal hand" (click)="showStudentsList()">
                                                    Códigos ingresados
                                                    <span class="badge bg-teal-active" *ngIf="students != undefined">
                                                        {{ students.length }}
                                                    </span>
                                                </span>
                                            </div>
                                            <div class="col-sm-offset-2 col-sm-10 col-md-8" *ngIf="isShowStudentsList">
                                                <span *ngFor="let student of students">
                                                    <span class="badge bg-gray">
                                                        <i class="fa fa-user"></i> {{ student }}
                                                    </span>&nbsp;
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-offset-2 col-sm-10 col-md-8">
                                                <button type="submit" class="btn btn-info" (click)="getGraduates()"
                                                        [disabled]="!isAllRequestInputCompleted() || (isSearching && graduates == undefined) || gettingRequest">
                                                    <i class="fa fa-search"></i> Buscar Estudiantes
                                                </button>
                                                <button type="button" class="btn btn-default" (click)="clean()"
                                                        [disabled]="!isAnyRequestInputCompleted() || (isSearching && graduates == undefined) || gettingRequest">
                                                    <i class="fa fa-trash-o"></i> Limpiar
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.box-body -->
                                </form>
                                <!-- form end -->
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /. box -->
                    </div>
                    <!-- /.col new-request -->
                    <div class="col-md-12" *ngIf="isSearching"><loading></loading></div>
                    <!-- /.col loading -->
                    <!-- students for request column -->
                    <div class="col-md-12" *ngIf="!showRequestList && inbox != 'search'">
                        <!-- general form elements -->
                        <div class="box"
                             [ngClass]="{ 'box-success': graduates.length, 'box-warning': !graduates.length }"
                             *ngIf="graduates != undefined">
                            <div class="box-header with-border">
                                <h3 class="box-title">Resultados de Búsqueda</h3>
                                <div class="box-tools pull-right" *ngIf="tuqpa.length || isAnyStudent">
                                    <div class="has-feedback">
                                        <button class="btn btn-default btn-sm" type="button" name="todos"
                                                (click)="selectAll()"
                                                [disabled]="gettingRequest">
                                            Seleccionar todos
                                        </button>
                                        <button class="btn btn-info btn-sm" type="button" name="constancia"
                                                (click)="createRequest()"
                                                [disabled]="gettingRequest">
                                            Generar Solicitud
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body table-responsive no-padding">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th></th>
                                        <th>Código</th>
                                        <th>Nombre</th>
                                        <th>Período egreso</th>
                                        <th>Programa</th>
                                        <th>Solicitud</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngIf="graduates == null || graduates == undefined">
                                        <td colspan="8" class="warning text-center text-warning">No se encontraron
                                            resultados
                                        </td>
                                    </tr>
                                    <tr *ngFor="let e of graduates; let i = index" [attr.data-index]="i"
                                        (click)="setStudentsToProcess(e)"
                                        [ngClass]="{ 'info': e.is_selected, 'success': e.payment_status == 1 && e.download, 'warning': e.payment_status == 2 && !e.is_selected, 'text-danger': e.school_id == '0' }">
                                        <td>{{ i + 1 }}</td>
                                        <td>
                                            <i class="fa fa-check-square-o" *ngIf="e.is_selected"></i>
                                            <i class="fa fa-square-o" *ngIf="!e.is_selected"></i>
                                        </td>
                                        <td>{{ e.student_id }}</td>
                                        <td>{{ e.student_name }}</td>
                                        <td>{{ e.graduation_period }}</td>
                                        <td>
                                            <span *ngIf="e.school_id != '0'" title="{{ e.school_name }}" class="help"
                                                  data-toggle="tooltip" data-placement="top">
                                                {{ e.school_id }}
                                            </span>
                                        </td>
                                        <td>
                                            <i class="fa fa-cog"
                                               *ngIf="!gettingRequest && e.is_selected && !e.download && e.school_id != '0' && e.doc_url == null && e.payment_status != 2 && e.payment_status != 3">
                                            </i>
                                            <i class="fa fa-cog fa-spin fa-fw"
                                               *ngIf="gettingRequest && e.is_selected && e.school_id != '0'">
                                            </i>
                                            <i class="fa fa-exclamation text-red"
                                               *ngIf="!gettingRequest && e.processingError">
                                            </i>
                                            <button class="btn btn-danger btn-xs" type="button" name="button" disabled
                                                    *ngIf="(!e.is_selected && e.school_id == '0') || (e.is_selected && e.school_id == '0') || (e.is_selected && e.payment_status == 3)">
                                                No Egresado
                                            </button>
                                            <button class="btn btn-warning btn-xs" type="button" name="button" disabled
                                                    *ngIf="e.is_selected && e.payment_status == 2">
                                                Pendiente Pago
                                            </button>
                                            <span class="label label-info" *ngIf="e.doc_url">
                                                <i class="fa fa-hashtag"></i> {{ e.doc_url }}
                                            </span>
                                            <i class="fa fa-exclamation text-red"
                                               *ngIf="e.processingError && !e.doc_url"></i>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                    </div>
                    <!-- /.col (students for request) -->
                    <div class="col-md-12" *ngIf="showRequestList && inbox != 'search'">
                        <div class="box"
                             [ngClass]="{'box-primary': inbox === 'inbox',
                             'box-warning': inbox === 'pendienteAprobacion',
                             'box-info': inbox === 'pendienteProceso',
                             'box-success': inbox === 'pendienteEntrega',
                             'box-default': inbox === 'archivo',
                             'box-danger': inbox === 'cancelado'}">
                            <div class="box-header with-border">
                                <h3 class="box-title">
                                    <span *ngIf="inbox === 'inbox'"><i class="fa fa-inbox"></i> Inbox</span>
                                    <span *ngIf="inbox === 'pendienteAprobacion'">
                                        <i class="fa fa-hourglass-start"></i> Pendiente Aprobación
                                    </span>
                                    <span *ngIf="inbox === 'pendienteProceso'">
                                        <i class="fa fa-hourglass-half"></i> Pendiente Procesar
                                    </span>
                                    <span *ngIf="inbox === 'pendienteEntrega'">
                                        <i class="fa fa-hourglass-end"></i> Pendiente Entrega
                                    </span>
                                    <span *ngIf="inbox === 'archivo'"><i class="fa fa-archive"></i> Archivo</span>
                                    <span *ngIf="inbox === 'cancelado'"><i
                                            class="fa fa-trash-o"></i> Cancelaciones</span>
                                </h3>
                                <div class="box-tools pull-right">
                                    <div class="has-feedback">
                                        <input type="text" class="form-control input-sm" placeholder="Nombre Estudiante"
                                               [(ngModel)]="filter">
                                        <span class="fa fa-search form-control-feedback"></span>
                                    </div>
                                </div>
                                <!-- /.box-tools -->
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body no-padding">
                                <div class="mailbox-controls">
                                </div>
                                <div class="table-responsive mailbox-messages">
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <td>Solicitud</td>
                                            <td>Documento</td>
                                            <td>DNI</td>
                                            <td>Estudiante</td>
                                            <td>Fecha</td>
                                            <td>Estado</td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr *ngIf="requestViewActive === undefined || !requestViewActive.length">
                                            <td colspan="6" class="bg-warning text-warning text-center">
                                                No se encontraron registros
                                            </td>
                                        </tr>
                                        <tr class="hand"
                                            *ngFor="let request of requestViewActive | loopFilter: filter"
                                            (click)="gotoRequestDetail(request.id)">
                                            <td>{{request.id}}</td>
                                            <td>{{configFile.getDocumentName(request.document_id)}}</td>
                                            <td>{{request.student_id}}</td>
                                            <td class="mailbox-name">{{request.student_name}}</td>
                                            <td class="mailbox-date">
                                                <span class="help" data-toggle="tooltip" data-placement="top"
                                                      title="{{request.creation_date | date: 'medium'}}">
                                                    {{momento(request.creation_date | date: 'yyyyMMdd')}}
                                                </span>
                                            </td>
                                            <td>
                                                <span class="badge"
                                                      [ngClass]="{'bg-yellow': request.state === configFile.STATE_APROVAL_PENDING,
                                                                  'bg-aqua': request.state === configFile.STATE_PROCESS_PENDING,
                                                                  'bg-green': request.state === configFile.STATE_DELIVERY_PENDING,
                                                                  'bg-red': request.state === configFile.STATE_CANCEL}">
                                                    <i class="fa fa-tag"></i> {{configFile.getDocumentState(request.state).name}}
                                                </span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <!-- /.table -->
                                </div>
                                <!-- /.mail-box-messages -->
                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer no-padding">
                                <div class="mailbox-controls">
                                </div>
                            </div>
                            <!-- Loading (remove the following to stop the loading)-->
                            <div class="overlay" *ngIf="loadingRequestList">
                                <i class="fa fa-refresh fa-spin"></i>
                            </div>
                            <!-- end loading -->
                        </div>
                        <!-- /. box -->
                    </div>
                    <!-- /.col show-request-list -->
                    <div class="col-md-12" *ngIf="inbox === 'search'">
                        <search-request></search-request>
                    </div>
                    <!-- /.col search-request -->
                </div>
            </div>
            <!-- /.col -->
        </div>
    </div>
    <!-- /.col (request for certificate) -->
</div>
<!-- /.row -->
