
  Buen día. {{page.fist_name}}
  <br/><br/>Solo para medir su satisfacción y no con efectos legales.<br/>

  <p>Descripción del servicio: <br/>{{page.description}}<p>
  <p>Detalle:<br/>{{page.details}}<p>
  <p>Solucion:<br/>{{page.solution}}<p><br/>

  <strong> ¿Se encuentra  Ud. satisfecho(a) con la respuesta a su {{page.type}}?</strong> <br/><br/>

  <a href="http://librodereclamaciones.continental.edu.pe/api/claimsbook/poll_true/{{poll.key}}">Conforme</a>
  <a href="http://librodereclamaciones.continental.edu.pe/api/claimsbook/poll_false/{{poll.key}}">No Conforme</a> <br/><br/>

  <cite>Enviado automaticamente el {{page.now}} .</cite><br/>
  <br/>Atte:
  <strong>Universidad Continental.</strong>
﻿
