﻿<h3>CORREO DE DERIVACIÓN AL ÁREA LEGAL</h3>
  <cite>Saludos cordiales,<br/><br/></cite>
   Por medio de la presente se informa la respuesta del área,
   {{#if data.queja}}
     a la
   {{/if}}
   {{#if data.reclamo}}
     al
   {{/if}}
   {{page.type}}
   N° {{page.serie}} {{page.number}}
   para el seguimiento.<br/><br/>
  Para ello debe ingresar al siguiente link
   [<a href="https://estudiantes.continental.edu.pe/">Libro reclamaciones login</a>]
  con su cuenta de correo corporativo.<br/>
