<h3>CORREO DE NOTIFICACIÓN DE REGISTRO</h3>
    <cite>Saludos cordiales,</cite>
    <p>Por medio de la presente se notifica el registro
      {{#if data.queja}}
        la
      {{/if}}
      {{#if data.reclamo}}
        del
      {{/if}}
      {{page.type}}
     N° {{page.serie}} {{data.number}}
    </p><br/>
    Para el seguimiento debe ingresar al siguiente link
     [<a href='https://estudiantes.continental.edu.pe/'>Libro reclamaciones login</a>]
    con su cuenta de correo corporativo.<br/>
