﻿<h3>Se registró
  {{#if data.queja}}
    una nueva
  {{/if}}

  {{#if data.reclamo}}
    un nuevo
  {{/if}}
  {{data.type}} N° {{page.serie}} {{page.number}}</h3>

  <p>Descripción del servicio: <br/> {{page.description}} </p>
  <p>Detalle:<br/> {{page.details}}</p>
  <strong>Ingrese a el <a href="https://estudiantes.continental.edu.pe/">Libro de Reclamaciones</a> para su atención</strong> <br/>
  <cite>Enviado automaticamente el {{page.now}} .</cite><br/>
