<h3>CORREO DE NOTIFICACIÓN DE RESPUESTA </h3>
  <cite>Saludos cordiales,<br/><br/></cite>
  Por medio de la presente se notifica la respuesta del Área Legal
  {{#if data.queja}}
    la
  {{/if}}
  {{#if data.reclamo}}
    del
  {{/if}}
  {{page.type}}
  N° {{page.serie}} {{data.number}}
  <br/><cite>Atentamente:</cite><br/><br/>
  <cite>Centro de Atención y Soluciones</cite>
