﻿<h3>CORREO DE NOTIFICACIÓN DE ENVIÓ DE RESPUESTA </h3>
<h1>Libro de Reclamaciones<br/> {{page.type}} {{page.serie}}{{page.number}}</h1>
<p>Estimado {{page.fist_name}}
<br/>Te saludamos cordialmente para dar respuesta a su {{page.type}}
 y en respuesta tenemos lo siguiente</p>
<p>Descripción del servicio: <br/>{{page.description}}<p>
<p>Detalle:<br/>{{page.details}}<p>
<p>Solucion:<br/>{{page.solution}}<p>
<cite>Enviado automaticamente el {{page.now}} .</cite><br/>
<br/>Atte:
<strong>Universidad Continental.</strong>
