<div class="box-comment">
  <div class="comment-text">
    Documento: <strong>{{config.getDocumentName(request.document_id)}}</strong>.
    <span class="pull-right badge"
          [ngClass]="{'bg-purple': request.state === config.STATE_PAYMENT_PENDING,
              'bg-yellow': request.state === config.STATE_APROVAL_PENDING,
              'bg-aqua': request.state === config.STATE_PROCESS_PENDING,
              'bg-green': request.state === config.STATE_DELIVERY_PENDING,
              'bg-red': request.state === config.STATE_CANCEL}">
            <i class="fa fa-tag"></i> {{docSt(request.state).name}}
        </span>
  </div>
</div>
<div class="box-comment" *ngIf="request.divs === 'CIC'">
  <div class="comment-text">
    Idioma: <strong>{{ config.getLangName(request.program) }}</strong>
  </div>
</div>
<div class="box-comment">
  <div class="comment-text">
    Solicitud N°: <strong>{{request.id}}</strong>
  </div>
</div>
<div class="box-comment">
  <div class="comment-text">
    Fecha Solicitada:
    <strong> {{request.creation_date | date: 'dd/MM/yyyy'}}</strong> |&nbsp;
    <span class="label label-info help" data-toggle="tooltip" data-placement="top"
          title="{{request.creation_date | date: 'medium'}}">
      {{ moment(request.creation_date | date: 'yyyyMMdd') }}
        </span>
  </div>
</div>
<div class="box-comment">
  <div class="comment-text">
    DNI: <strong> {{request.student_id}}</strong>
  </div>
</div>
<div class="box-comment">
  <div class="comment-text">
    Estudiante: <strong> {{request.student_name}}.</strong>
  </div>
</div>
<div class="box-comment">
  <div class="comment-text">
    Exposición: <strong> {{(request.description | jsonParse).description || 'sin descripción'}} </strong>
  </div>
</div>
<div class="box-comment" *ngIf="(request.description | jsonParse).period_list">
  <div class="comment-text">
    Ciclos: <strong> {{(request.description | jsonParse).period_list || '-'}} </strong>
  </div>
</div>
<div class="box-comment" *ngIf="(request.description | jsonParse).term_list">
  <div class="comment-text">
    Períodos: <strong> {{(request.description | jsonParse).term_list || '-'}} </strong>
  </div>
</div>
<div class="box-comment">
  <div class="comment-text">
    Firmantes: <br>
    <ul>
      <li *ngFor="let signatory of signatories">{{signatory}}</li>
    </ul>
  </div>
</div>
