<div class="table-responsive">
  <table class="table table-bordered bg-white">
    <thead>
      <tr>
        <th>#</th>
        <th>Documento</th>
        <th>Entregado</th>
        <th>Recibido</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let doc of docs">
        <td>{{doc.id}}</td>
        <td>
          {{doc.description}} <br>
          <span class="text-info" *ngIf="doc.min_files === doc.max_files"> [{{doc.max_files}} archivo(s)]</span>
          <span class="text-info" *ngIf="doc.min_files !== doc.max_files"> [De {{doc.min_files}} a {{doc.max_files}} archivos]</span>
        </td>
        <td>
          <span *ngIf="doc.files.length < doc.max_files">
            <button type="button" class="btn btn-sm btn-primary" name="button" (click)="delivered($event, doc)"> <i class="fa fa-plus"></i> Registrar</button>
          </span>
        </td>
        <td class="row">
          <div *ngFor="let file of doc.files; let i = index">
            <div class="col-sm-11">
              <span class="input-group-addon">[{{i + 1}}/{{doc.max_files}}]</span>
            </div>
            <div class="col-sm-1 text-center">
              <button type="button" class="btn btn-sm btn-danger" (click)="removeFile(doc, file)"> <i class="fa fa-times"></i></button>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
