<div class="timelineh-container text-center">
  <ul class="timelineh timelineh-horizontal">
    <li class="timeline-item" *ngFor="let state of ideal_flow">
      <!-- Exepcion para caso que este finalizado -->
      <div class="timeline-badge" 
         *ngIf="state.state_id === config.STATE_FINAL" 
        [ngClass]="{
          'bg-secondary': (getLogTrace(state.state_id) === null && state.state_id !== request.state),
          'bg-green': (state.state_id < request.state),
          'bg-blue': (state.state_id === request.state)}">
        <i class="{{docSt(state.state_id).icon}}"></i>
      </div>
      <div class="timeline-panel" 
        *ngIf="state.state_id === config.STATE_FINAL"
        [ngClass]="{
          'item-secondary': (config.STATE_FINAL !==  request.state),
          'item-success': getLogTrace(state.state_id) !== null, 
          'item-primary': (state.state_id === request.state)}">
        <div class="timeline-heading">
          <h4 class="timeline-title" *ngIf="config.STATE_FINAL ===  request.state">{{docSt(state.state_id).complete}}</h4>
          <h4 class="timeline-title" *ngIf="config.STATE_FINAL !==  request.state">{{docSt(state.state_id).name}}</h4>
          <p class="text-left">
            <small class="text-muted" *ngIf="config.STATE_FINAL ===  request.state">
              <i class="fa fa-check-square "></i> completado
            </small>
            <small class="text-muted" *ngIf="config.STATE_FINAL !==  request.state">
              <i class="fa fa-hourglass-start "></i> pendiente
            </small>
          </p>
          <p class="text-left">
            <small>
              <i class="fa fa-building-o"> {{config.getOfficeName(1)}}</i>
            </small>
          </p>
        </div>
      </div>
      <!-- todos los otros estados -->
      <div class="timeline-badge" 
        *ngIf="state.state_id !==  config.STATE_FINAL"
        [ngClass]="{
          'bg-secondary': (getLogTrace(state.state_id) === null && state.state_id !== request.state),
          'bg-green': getLogTrace(state.state_id) !==  null,
          'bg-blue': (state.state_id ===  request.state)}">
        <i class="{{docSt(state.state_id).icon}}"></i>
      </div>
      <div class="timeline-panel" 
        *ngIf="state.state_id !== config.STATE_FINAL" 
        [ngClass]="{
          'item-secondary': (getLogTrace(state.state_id) ===  null && state.state_id !==  request.state), 
          'item-primary': (state.state_id === request.state), 
          'item-success': getLogTrace(state.state_id) !== null }">
        <div class="timeline-heading">
          <h4 class="timeline-title" *ngIf="getLogTrace(state.state_id) ===  null">{{docSt(state.state_id).name}}</h4>
          <h4 class="timeline-title" *ngIf="getLogTrace(state.state_id) !==  null">{{docSt(state.state_id).complete}}</h4>
          <p class="text-left">
            <small class="text-muted" *ngIf="getLogTrace(state.state_id) !==  null">
              <i class="fa fa-calendar"></i> {{getLogTrace(state.state_id).update_at | date: 'dd/MM/yyyy' }}
              <i class="fa fa-clock-o"></i> {{getLogTrace(state.state_id).update_at | date: 'hh:mm a' }}
            </small>
            <small class="text-muted" *ngIf="getLogTrace(state.state_id) ===  null">
              <i class="fa fa-hourglass-start "></i> pendiente
            </small>
          </p>
          <p class="text-left">
            <small>
              <i class="fa fa-building-o"> {{config.getOfficeName(state.office_id)}}</i>
            </small>
          </p>
        </div>
      </div>
    </li>
  </ul>
</div>
