<!-- Generar Documento -->
<div *ngIf="request.aproved || request.state === config.STATE_RESOLUTION_PENDING">
  <br>
  <div class="box-comment" *ngIf="pdf_list.length > 1">
    Generar Todos
  </div>
  <div class="box-comment" *ngFor="let pdf of pdf_list; let i = index;">
    <div class="comment-text col-md-6" *ngIf="pdf.uri ===  null && pdf.status ===  'pre' && isValid()">
      <div class="info-box bg-aqua hand" (click)="generateDocument(request.id, pdf, i+1)">
        <span class="info-box-icon"><i class="fa fa-gears"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">Generar</span>
          <span class="info-box-text">Documento <span *ngIf="pdf.period"> del {{pdf.period}}</span></span>
          <div class="progress">
            <div class="progress-bar"></div>
          </div>
          <span class="progress-description">
            {{request.id}}-{{i+1}}-{{request.student_id}}.pdf
          </span>
        </div>
      </div>
    </div>
    <div class="comment-text col-md-6" *ngIf="pdf.uri ===  null && pdf.status ===  'on'">
      <div class="info-box bg-gray">
        <span class="info-box-icon"><i class="fa fa-gear rotation-infinite"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">Generando</span>
          <span class="info-box-text">Espere...</span>
          <div class="progress">
            <div class="progress-bar animate-increase-full width-100"></div>
          </div>
          <span class="progress-description">
            {{request.id}}-{{request.document_number}}-{{request.student_id}}.pdf
          </span>
        </div>
      </div>
    </div>
    <div class="comment-text col-md-6" *ngIf="pdf.uri ===  null && pdf.status ===  'err'">
      <div class="info-box bg-red">
        <span class="info-box-icon"><i class="fa fa-times"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">ERROR</span>
          <span class="info-box-text">Lo sentimos algo a fallado.</span>
          <div class="progress">
            <div class="progress-bar width-100"></div>
          </div>
          <span class="progress-description">
            Estamos trabajando para corregir este inconveniente.
          </span>
        </div>
      </div>
    </div>
    <div class="comment-text col-md-6" *ngIf="
        pdf.uri !==  null
        && request.document_id != config.DOC_STUDENT_CARD
        && request.document_id != config.DOC_CUSTOM_STUDIES_PROOF
        ">
      <a [href]="pdf.uri" target="_blank" class="info-box bg-green">
        <span class="info-box-icon"><i class="fa fa-cloud-download"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">Descargar</span>
          <span class="info-box-text">Documento</span>
          <div class="progress">
            <div class="progress-bar"></div>
          </div>
          <span class="progress-description">
            <i class="fa fa-paperclip"></i>
            {{request.id}}-{{i+1}}-{{request.student_id}}.pdf
          </span>
        </div>
      </a>
    </div>
    <div class="comment-text col-md-6" *ngIf="request.document_id == config.DOC_STUDENT_CARD">
      <div class="info-box bg-aqua">
        <span class="info-box-icon"><i class="fa fa-address-card"></i></span>
        <div class="info-box-content" *ngIf="request.state ==  config.STATE_DELIVERY_PENDING">
          <span class="info-box-text">En espera</span>
          <span class="info-box-text"> para recoger</span>
          <div class="progress">
            <div class="progress-bar"></div>
          </div>
          <span class="progress-description">
            <i class="fa fa-print"></i>
            * Los carnet se imprimen directamente en C5
          </span>
        </div>
        <div class="info-box-content" *ngIf="request.state ==  config.STATE_FINAL">
          <span class="info-box-text">Entregado</span>
          <span class="info-box-text"> al estudiante</span>
          <div class="progress">
            <div class="progress-bar"></div>
          </div>
          <span class="progress-description">
            <i class="fa fa-print"></i>
            * Los carnet se imprimen directamente en C5
          </span>
        </div>
      </div>
    </div>
    <div class="comment-text col-md-6" *ngIf="request.document_id == config.DOC_CUSTOM_STUDIES_PROOF">
      <div class="info-box bg-aqua">
        <span class="info-box-icon"><i class="fa fa-file-text-o"></i></span>
        <div class="info-box-content" *ngIf="request.state ==  config.STATE_DELIVERY_PENDING">
          <span class="info-box-text">En espera</span>
          <span class="info-box-text"> para recoger</span>
          <div class="progress">
            <div class="progress-bar"></div>
          </div>
          <span class="progress-description">
            <i class="fa fa-print"></i>
            * Registros Academicos genera este documento
          </span>
        </div>
        <div class="info-box-content" *ngIf="request.state ==  config.STATE_FINAL">
          <span class="info-box-text">Entregado</span>
          <span class="info-box-text"> al estudiante</span>
          <div class="progress">
            <div class="progress-bar"></div>
          </div>
          <span class="progress-description">
            <i class="fa fa-print"></i>
            * Registros Academicos genera este documento
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
