<div class="row">
  <!-- main column -->
  <div class="col-md-12">
    <!-- Horizontal Form -->
    <div class="box box-info">
      <div class="box-header with-border">
        <h3 class="box-title"><i class="fa fa-search"></i> Buscar Solicitudes</h3>
        <h3 class="box-title pull-right"></h3>
      </div>
      <!-- /.box-header -->
      <!-- form start -->
      <form>
        <div class="box-body">
          <div class="row">
            <div class="col-xs-12 col-sm-4">
              <div class="form-group">
                <label>Solicitud N&deg;</label>
                <input name="id" type="text" class="form-control" placeholder="Número de Solicitud"
                       [(ngModel)]="searchData.id" (ngModelChange)="existSearchData()">
              </div>
            </div>
            <div class="col-xs-12 col-sm-4" *ngIf="!showMoreSearchOptions">
              <label>
                <small class="text-muted hand" (click)="moreSearchOptions()">
                  [+] mostrar opciones avanzadas
                </small>
              </label>
            </div>
            <div class="col-xs-12 col-sm-4" *ngIf="showMoreSearchOptions">
              <div class="form-group">
                <label>Documento</label>
                <select name="document_id" class="form-control" [(ngModel)]="searchData.document_id"
                        (ngModelChange)="existSearchData()">
                  <option value="" disabled selected>Tipo de Documento</option>
                  <option value="{{doc.id}}" *ngFor="let doc of config._DOCUMENT_TYPES">{{doc.name}}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4" *ngIf="showMoreSearchOptions">
              <div class="form-group">
                <label>Estado</label>
                <select name="state" class="form-control" [(ngModel)]="searchData.state"
                        (ngModelChange)="existSearchData()">
                  <option value="" disabled selected>Estado de Solicitud</option>
                  <option value="{{doc.id}}" *ngFor="let doc of config._DOCUMENT_STATES">
                    {{doc.name}}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <!-- /.row -->
          <div class="row" *ngIf="showMoreSearchOptions">
            <div class="col-xs-12 col-sm-4">
              <div class="form-group">
                <label>Código Estudiante</label>
                <input name="student_id" type="text" class="form-control" placeholder="Código Estudiante"
                       [(ngModel)]="searchData.student_id" (ngModelChange)="existSearchData()">
              </div>
            </div>
            <div class="col-xs-12 col-sm-4">
              <div class="form-group">
                <label>Fecha</label>
                <input name="date" type="text" class="form-control" placeholder="Fecha"
                       [(ngModel)]="searchData.date" (ngModelChange)="existSearchData()">
              </div>
            </div>
            <div class="col-xs-12 col-sm-4">
              <label>
                <small class="text-muted hand" (click)="moreSearchOptions()">
                  [-] ocultar opciones avanzadas
                </small>
              </label>
            </div>
          </div>
          <!-- /.row -->
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
          <button type="submit" class="btn btn-info" [disabled]="!hasSearchData || searching"
                  (click)="searchRequest(searchData)">
            <i class="fa fa-search"></i> Buscar
          </button>
          <button type="submit" class="btn btn-default" [disabled]="!hasSearchDataForClean || searching"
                  (click)="clean()">
            <i class="fa fa-trash-o"></i> Limpiar
          </button>
        </div>
        <!-- /.box-footer -->
      </form>
      <!-- Loading (remove the following to stop the loading)-->
      <div class="overlay" *ngIf="searching">
        <i class="fa fa-refresh fa-spin"></i>
      </div>
      <!-- end loading -->
    </div>
    <!-- /.box -->
  </div>
  <!-- /.column (main) -->

  <div class="col-md-12" *ngIf="searching">
    <loading></loading>
  </div>

  <div class="col-md-12" *ngIf="showSearchResult">
    <div class="box" [ngClass]="{'box-success': requestList.length, 'box-warning': !requestList.length}">
      <div class="box-header with-border">
        <h3 class="box-title">Resultados de búsqueda</h3>
        <div class="box-tools pull-right">
          <div class="has-feedback">
            <input type="text" class="form-control input-sm" [(ngModel)]="filter">
            <span class="fa fa-search form-control-feedback"></span>
          </div>
        </div>
        <!-- /.box-tools -->
      </div>
      <!-- /.box-header -->
      <div class="box-body no-padding">
        <div class="mailbox-controls">
        </div>
        <div class="table-responsive mailbox-messages">
          <table class="table table-hover">
            <thead>
            <tr>
              <td>Solicitud</td>
              <td>Documento</td>
              <td>DNI</td>
              <td>Estudiante</td>
              <td>Fecha</td>
              <td>Estado</td>
            </tr>
            </thead>
            <tbody>
            <tr *ngIf="requestList === undefined || !requestList.length">
              <td colspan="6" class="bg-warning text-center">
                No se encontraron registros
              </td>
            </tr>
            <tr class="hand"
                *ngFor="let request of requestList | loopFilter: filter"
                (click)="goToRequestDetail(request.id)">
              <td>{{request.id}}</td>
              <td>{{config.getDocumentName(request.document_id)}}</td>
              <td>{{request.student_id}}</td>
              <td>{{request.student_name}}</td>
              <td>
                <span class="help" data-toggle="tooltip" data-placement="top"
                      title="{{request.creation_date | date: 'medium'}}">
                  {{momento(request.creation_date | date: 'yyyyMMdd')}}
                </span>
              </td>
              <td>
                <span class="badge"
                      [ngClass]="{'bg-yellow': request.state === config.STATE_APROVAL_PENDING,
                                  'bg-aqua': request.state === config.STATE_PROCESS_PENDING,
                                  'bg-green': request.state === config.STATE_DELIVERY_PENDING,
                                  'bg-red': request.state === config.STATE_CANCEL}">
                  <i class="fa fa-tag"></i> {{config.getDocumentState(request.state).name}}
                </span>
              </td>
            </tr>
            </tbody>
          </table>
          <!-- /.table -->
        </div>
        <!-- /.mail-box-messages -->
      </div>
      <!-- /.box-body -->
      <div class="box-footer no-padding">
        <div class="mailbox-controls">
        </div>
      </div>
      <!-- Loading (remove the following to stop the loading)-->
      <div class="overlay" *ngIf="loadingRequestList">
        <i class="fa fa-refresh fa-spin"></i>
      </div>
      <!-- end loading -->
    </div>
    <!-- /. box -->
  </div>
  <!-- /.col show-request-list -->
</div>
<!-- /.row -->
