<loading *ngIf="loading" [text]="'Consultando...'"></loading>

<div *ngIf="!loading" class="login-box">
  <div class="login-box-body border">
    <p class="text-center text-bold"><i class="fa fa-wifi"></i> UC-ACADEMICO</p>
    <div *ngIf="wifi != null && wifi != undefined">
      <div class="form-group has-feedback">
        <label>Usuario</label>
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
        <span class="form-control">{{ student.id }}</span>
      </div>
      <div class="form-group has-feedback">
        <label>Clave</label>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        <span class="form-control">{{ showKey ? wifi.key : '******' }}</span>
      </div>
      <div class="social-auth-links text-center">
        <button type="button" class="btn btn-block text-center btn-flat btn-default" (click)="showKey = !showKey">
          {{ showKey ? 'Ocultar clave' : 'Mostrar clave' }}
        </button>
        <button type="button" class="btn btn-block text-center btn-flat bg-primary text-white" (click)="copy(wifi.key)">
          Copiar clave
        </button>
      </div>
    </div>

    <div *ngIf="wifi === null || wifi === undefined" class="alert alert-info">
      Realizar la consulta en las Oficinas del Centro de Atención.
    </div>

  </div>
</div>
