<poll-component [request]="request"></poll-component>
<div class="box box-success">
  <div class="overlay" *ngIf="loading">
    <i class="fa fa-refresh fa-spin"></i>
  </div>
  <header class="box-header with-border">
    <i class="fa fa-file-text"></i>
    <h3 class="box-title">{{document}} - Resumen de la Solicitud</h3>
  </header>
  <section class="box-body box-comments">
    <div class="box-comment">
      <div class="comment-text text-green">
        <i class="fa fa-check"></i> Solicitud Registrada con éxito.
      </div>
    </div>
    <div class="box-comment">
      <div class="comment-text row">
        <div class="col-xs-6">Código de Solicitud: </div>
        <div class="col-xs-6"><strong>{{request.id}}</strong></div>
      </div>
    </div>
    <div class="box-comment">
      <div class="comment-text row">
        <div class="col-xs-6">Código de Estudiante: </div>
        <div class="col-xs-6"><strong>{{student.id}}</strong></div>
      </div>
    </div>
    <div class="box-comment">
      <div class="comment-text row">
        <div class="col-xs-6">Nombres de Estudiante: </div>
        <div class="col-xs-6"><strong>{{student.last_name}}, {{student.first_name}}</strong></div>
      </div>
    </div>
    <div class="box-comment">
      <div class="comment-text row">
        <div class="col-xs-6">Documento: </div>
        <div class="col-xs-6"><strong>{{document}}</strong></div>
      </div>
    </div>
    <div class="box-comment">
      <div class="comment-text row">
        <div class="col-xs-6">Descripción de la Solicitud: </div>
        <div class="col-xs-6">{{description}}</div>
      </div>
    </div>
    <div class="box-comment">
      <div class="comment-text row">
        <div class="col-xs-6">Fecha envío solicitud: </div>
        <div class="col-xs-6"><strong>{{request.creation_date | date: 'dd/MM/yyyy hh:mm:ss'}}</strong></div>
      </div>
    </div>
    <div class="box-comment">
      <div class="comment-text row">
        <div class="col-xs-6">Estado de Solicitud: </div>
        <div class="col-xs-6">
          <strong *ngIf="request.state === 0" class="text-danger">La solicitud ha sido rechazada. </strong>
          <strong *ngIf="request.state === 2" class="text-success">La solicitud esta a la espera de cancelación del pago de {{request.cost}} soles. </strong>
          <strong *ngIf="request.state > 2" class="text-success">{{configFile.getDocumentState(request.state).name}}. </strong>
        </div>
      </div>
    </div>
  </section>
  <div class="box-footer hidden-print">
    <div class="comment-text" *ngIf="request.state === configFile.STATE_PAYMENT_PENDING && request.online_payment_id !== null">
      <a [href]="configFile.PAYMENT_GATEWAY+request.online_payment_id" class="btn btn-primary" target="_blank">
        Paga online <i class="fa fa-credit-card"></i>
      </a>
      <input type="button" value="Cancelar Solicitud" class="btn btn-danger" (click)="cancelRequest(request)">
    </div>

  </div>
</div>