<!-- Tiene Requisitos Basicos Incumplidos -->
<div *ngIf="debts.length > 0 || requeriments.length > 0 ">
  <div class="callout callout-danger">
    <h4><i class="fa fa-info"></i> Aviso:</h4>
    Usted tiene los siguientes pendientes.
    <br> ** Es posible que su solicitud sea denegada
  </div>
  <div class="row">
    <div class="col-sm-6" *ngIf="debts.length > 0">
      <div class="box box-default collapsed-box">
        <div class="box-header with-border">
          <h3 class="box-title">
            Deudas
            <span data-toggle="tooltip" title="" class="badge bg-red" data-original-title="Deudas">{{debts.length}}</span>
          </h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
            </button>
          </div>
          <!-- /.box-tools -->
        </div>
        <!-- /.box-header -->
        <div class="box-body box-comments">
          <div class="box-comment" *ngFor="let debt of debts">
            <div class="comment-text">
              <div class="row">
                <div class="col-xs-8">{{debt.description}}</div>
                <div class="col-xs-4 text-red">S/ <strong>{{debt.ammount}}.00</strong></div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.box-body -->
      </div>
    </div>
    <div class="col-sm-6" *ngIf="requeriments.length > 0">
      <div class="box box-default collapsed-box">
        <div class="box-header with-border">
          <h3 class="box-title">
            Requisitos de admisión
            <span data-toggle="tooltip" title="" class="badge bg-red" data-original-title="Documentos restantes">{{requeriments.length}}</span>
          </h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
            </button>
          </div>
          <!-- /.box-tools -->
        </div>
        <!-- /.box-header -->
        <div class="box-body box-comments">
          <div class="box-comment" *ngFor="let req of requeriments">
            <div class="comment-text row">
              <div class="col-xs-8">{{req.name}}</div>
              <div class="col-xs-4 text-red"><i class="fa fa-times"></i></div>
            </div>
          </div>
        </div>
        <!-- /.box-body -->
      </div>
    </div>
  </div>
</div>
