﻿@using ACTools.Configuration;
@{
    AppSettings settings = new ACTools.Configuration.AppSettings();
    ViewBag.Title = "Inicio de sesión";
    Layout = Layout = "~/Views/Shared/_LayoutBlank.cshtml";
}

<div class="lockscreen-logo mb-0">
    <div class="rounded-top bg-white pv">
        <img src="@Url.Content("~/Content/static/images/logo-horizontal-black.svg")" alt="UC" />
    </div>
    
    <h1 class="text-white"><strong>@AppSettings.app_title</strong> <br /><small class="text-white">Servicios Virtuales</small></h1>
</div>
<div class="login-box-body bg-transparent pt-0 pb-0">
    <p class="text-white text-center pb">Inicie sesión con su correo institucional.</p>
    <div class="center-block">
        <div style="width:132px; margin:0px auto" id="g-signin-custom" class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
        <div id="ui-redirect" > <!-- class="hidden" -->

            <div id="ui-user" class="text-left hidden">
                <hr>
                <strong>Ud. ha iniciado sesión en:</strong>
                <ul>
                    <li>Google GMail.</li>
                    <li>@AppSettings.app_title</li>
                </ul>
            </div>
            <div id="ui-message" class="hidden">
                <hr>
                <strong id="message" class="text-white">Verificando sus crendeciales.</strong>
                <div class="text-center">
                    <img src="@Url.Content("~/Content/static/images/anim/loading.svg")" style="height: 48px;">
                </div>
                <strong class="text-white">No cierre el navegador, se le informará si hay un error.</strong>
            </div>
        </div>
    </div>
    <p class="login-box-msg pt pb">
        <a href="https://campusvirtual.continental.edu.pe/setpass/CambiarPassword.aspx" class="text-white btn btn-outline-secondary"><i class="fa fa-asterisk text-bold"></i> Olvidé mi contraseña</a>
    </p>
</div>

<p class="pb text-center">
    <a href="https://estudiantes.ucontinental.edu.pe" class="text-white btn btn-outline-secondary"><i class="fa fa-home"></i> Volver al portal principal</a>
</p>

<div class="lockscreen-footer text-center pv text-white">
    © 2018 - <b>Universidad Continental</b>
</div>

<div id="ui-error" class="hidden">
    <div class="callout callout-warning" style="border-radius: 0;">
        <p><i class="icon fa fa-warning"></i> Lo sentimos, pero su usuario no ha sido validado por la aplicación.</p>
        <p><small><strong>*</strong>Si considera que su usuario deberia acceder, consulte con el administrador del sistema.</small></p>
    </div>
</div>
<!-- /.login-box-body -->

<!-- /.login-box -->
@section head {
    <meta name="description" content="Centro de Atención y Soluciones" />
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="921461597171-9cqd1p15ulpepe83d7imo8gjh24kpnge.apps.googleusercontent.com">
}

@section scripts {
    <script src="https://apis.google.com/js/platform.js?onload=renderButton&hl=es" async defer></script>
    <script>
        var temporizador = 0;
        var redirect_to = '@ViewBag.redirect';
        function onSignIn(googleUser) {
            $("#ui-message").removeClass("hidden");

            $.ajax({
                type: "POST",
                url: '@Url.RouteUrl("General_set_auth_oauth2_json")',
                data: {
                    'access_token': googleUser.getAuthResponse().access_token,
                },
                dataType: 'json',
                success: function (res) {
                    $("#message").text("Accediendo a la Aplicación, espere por favor.");
                    $("#id-user").removeClass("hidden");
                    //esperar un segundo y redirigir
                    setTimeout(function () {
                        if(redirect_to !== '')
                            window.location.replace(redirect_to);
                        else
                            window.location.replace('@Url.Content("~/")');
                    }, 1000);
                },
                error: function (err) {
                    $("#ui-message").addClass("hidden");
                    $("#ui-error").removeClass("hidden");
                }
            });
        };

        function renderButton() {

        }
    </script>
}
