﻿@using ACClient;
@using ACTools.Configuration;
@{
    AppSettings settings = new AppSettings();
    Layout = null;
}
<!DOCTYPE html>
<html lang="es">
<head>
    <title>@AppSettings.app_title - Autenticación</title>
    <meta charset="utf-8">
    <meta name="description" content="Centro de Atención y Soluciones" />
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="921461597171-9cqd1p15ulpepe83d7imo8gjh24kpnge.apps.googleusercontent.com">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="@Url.Content("~/dist/styles/dist.css")">
</head>
<body data-base="@AppSettings.path_root" class="hold-transition login-page uc-bg">
  <div class="login-box bg-black-transparent pb">
    <div class="login-logo">
        <div class="rounded-top bg-white pv">
            <img src="@Url.Content("~/Content/static/images/logo-horizontal-black.svg")" alt="UC" />
        </div>
        <h1 class="text-white ph"><strong>@AppSettings.app_title</strong> <br /><small class="text-white">Servicios Virtuales</small></h1>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body bg-transparent pt-0">
      <p class="login-box-msg text-white">Inicio de sesión</p>
      <form id="loginform" method="post" action="@(AppSettings.path_root)ingresar/auth/?entonces=@(ViewBag.redirect)">
        @if ( ViewBag.redirect_to != null )
        {
            <input name="redirect" value="@ViewBag.redirect_to" type="hidden">
        }
        <div class="form-group has-feedback">
          <input type="text" class="form-control rounded" name="usuario" placeholder="usuario@continental.edu.pe">
          <span class="fa fa-user form-control-feedback"></span>
        </div>
        <div class="row">
          <div class="col-lg-12 text-center">
            <button type="submit" class="btn bg-primary btn-block">Ingresar</button>
            @if (ViewBag.redirect_to != null)
            {
                <input value="Regresar" type="button" class="btn btn-danger" onclick="history.go(-1);return true;">
            }
          </div>
        </div>
      </form>
    </div>
    <!-- /.login-box-body -->
  </div>
  <!-- /.login-box -->
</body>
</html>
