﻿@using ACTools.Configuration;
@{
    AppSettings settings = new ACTools.Configuration.AppSettings();
    ViewBag.Title = "Inicio de sesión";
    Layout = Layout = "~/Views/Shared/_LayoutBlank.cshtml";
}
<div>
    <div class="lockscreen-logo mb-0">
        <div class="rounded-top bg-white pv">
            <img src="@Url.Content("~/Content/static/images/logo-horizontal-black.svg")" alt="UC" />
        </div>
        <h1 class="text-white text-bold">Servicios Virtuales</h1>
    </div>
    <div class="lockscreen-name text-white p">
        <p>Lo sentimos. <br> No podemos encontrarlo entre nuestros usuarios.</p>
        <p class="login-box-msg">Volver a la página de inicio de sesión.</p>
        <div class="text-center">
            <a href="@Url.Content("~/ingresar")" class="btn bg-primary btn-md"> <i class="fa fa-google"></i> Ingresar</a>
        </div>
        <div class="text-left border-top mt">
            <p> <strong>¿No debería estar aqui?</strong></p>
            <p> -> Asegurate de ingresar con tu correo institucional (<strong>@@continental.edu.pe</strong>).</p>
            <p> -> Si eres administrativo, asegurate de tener permisos a los modulos de la aplicación.</p>
        </div>
    </div>
    <!-- /.login-box-body -->
</div>
<!-- /.login-box -->
