﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="es">
<head>
    <title>Centro de Atención - No Found</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="Campus Virtual - No Found" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="@Url.Content("~/Content/lib/bootstrap/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    @Styles.Render("~/Content/css")
</head>
<body style="padding-top:200px">
    <div class="text-center">
        <img src="@Url.Content("~/Content/static/images/logo.png")">
        <h1 class="text-center">404</h1>
    </div>
</body>
</html>
