﻿@using ACTools.Configuration;
@{
    AppSettings settings = new ACTools.Configuration.AppSettings();
    ViewBag.Title = "Inicio de sesión";
    Layout = Layout = "~/Views/Shared/_LayoutBlank.cshtml";
}
<div>
    <div class="lockscreen-logo text-center mb-0">
        <div class="rounded-top bg-white pv">
            <img src="@Url.Content("~/Content/static/images/logo-horizontal-black.svg")" alt="UC" />
        </div>
        <h1 class="text-white"><strong>@AppSettings.app_title</strong> <br /><small class="text-white">Servicios Virtuales</small></h1>
    </div>
    <div class="login-box-body bg-transparent pt-0">
        <p class="login-box-msg text-bold text-white">Su sesión ha terminado.</p>
        <div class="text-center">
            <a href="@Url.Content("~/ingresar")" class="btn bg-primary btn-md"> <i class="fa fa-google"></i> Volver a ingresar</a>
        </div>
        <p class="login-box-msg mt pb-0">
            <a href="https://estudiantes.ucontinental.edu.pe" class="btn btn-outline-secondary text-white"><i class="fa fa-home"></i> Ir al portal principal</a>
        </p>
    </div>
    <!-- /.login-box-body -->
</div>
<script>
    localStorage.clear();
</script>
<!-- /.login-box -->
