<div class="row">
  <div class="col-md-12" *ngIf="loading && !processing">
    <loading [text]="'Cargando términos y condiciones . . .'"></loading>
  </div>
  <div class="col-xs-12" *ngIf="registryMode || updateMode">
    <div class="box box-info" *ngIf="termsAndConditions !== undefined && termsAndConditions !== null">
      <div class="box-header with-border">
        <h3 class="box-title" *ngIf="!termsAndConditions.edit">Registro de nuevo términos y condiciones</h3>
        <h3 class="box-title" *ngIf="termsAndConditions.edit">Actualización de términos y condiciones</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <form class="form-horizontal" #termsAndConditionsForm="ngForm">
          <div class="form-group">
            <label for="term" class="col-sm-2 control-label">Nombre</label>
            <div class="col-sm-10 col-md-7">
              <input type="text" class="form-control" id="term" name="term" required="required"
                     placeholder="Nombre términos y condiciones" [(ngModel)]="termsAndConditions.name"
                     #periodo="ngModel">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label"></label>
            <div class="col-sm-10 col-md-7">
              <div class="btn-group" role="group">
                <button type="button" class="btn btn-xs" (click)="termsAndConditions.active = true"
                        [ngClass]="{'btn-primary': termsAndConditions.active, 'btn-default': !termsAndConditions.active}">
                  activo
                </button>
                <button type="button" class="btn btn-default btn-xs" (click)="termsAndConditions.active = false"
                        [ngClass]="{'btn-primary': !termsAndConditions.active, 'btn-default': termsAndConditions.active}">
                  inactivo
                </button>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="type" class="col-sm-2 control-label">Tipo</label>
            <div class="col-sm-10 col-md-7">
              <select class="form-control" [(ngModel)]="termsAndConditions.type" name="type" id="type">
                <option *ngFor="let type of termsAndConditionsTypeList" value="{{ type.id }}">
                  {{ type.name | uppercase }}
                </option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Fecha publicación</label>
            <div class="col-sm-10 col-md-7">
              <p-calendar [(ngModel)]="termsAndConditions.publicationDate" dateFormat="dd/mm/yy" [showIcon]="true"
                          [locale]="es" [monthNavigator]="true" [yearNavigator]="true" yearRange="{{wata-100}}:{{wata}}"
                          showButtonBar="true" [readonlyInput]="true" inputStyleClass="isqon-chunka-pichqayoq"
                          styleClass="pachak" [required]="true" name="beginDate" #inicio="ngModel"></p-calendar>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Descripción</label>
            <div class="col-sm-10 col-md-7">
              <div class="btn-group" role="group">
                <button type="button" class="btn btn-xs" (click)="termsAndConditions.isFile = true"
                        [ngClass]="{'btn-primary': termsAndConditions.isFile, 'btn-default': !termsAndConditions.isFile}">
                  URL
                </button>
                <button type="button" class="btn btn-default btn-xs" (click)="termsAndConditions.isFile = false"
                        [ngClass]="{'btn-primary': !termsAndConditions.isFile, 'btn-default': termsAndConditions.isFile}">
                  HTML
                </button>
              </div>
            </div>
          </div>
          <div class="form-group" *ngIf="termsAndConditions.isFile">
            <label for="url" class="col-sm-2 control-label"></label>
            <div class="col-sm-10 col-md-7">
              <input type="text" class="form-control" id="url" name="url" required="required"
                     placeholder="https://..." [(ngModel)]="termsAndConditions.url" #url="ngModel">
            </div>
          </div>
          <div class="form-group" *ngIf="!termsAndConditions.isFile">
            <label for="description" class="col-sm-2 control-label"></label>
            <div class="col-sm-10 col-md-7">
              <textarea name="description" id="description" rows="6" required="required" class="form-control"
                        placeholder="Detalle de los términos y condiciones"
                        [(ngModel)]="termsAndConditions.detail" #descripcion="ngModel"></textarea>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-info" [disabled]="!termsAndConditionsForm.valid"
                      (click)="save(termsAndConditions)" *ngIf="registryMode">
                <i class="fa fa-save"></i> Guardar
              </button>
              <button type="submit" class="btn btn-info" [disabled]="!termsAndConditionsForm.valid"
                      (click)="update(termsAndConditions)" *ngIf="updateMode">
                <i class="fa fa-save"></i> Actualizar
              </button>
              <button type="submit" class="btn btn-default" (click)="cancel(termsAndConditions)">
                <i class="fa fa-trash"></i> Cancelar
              </button>
              <button type="submit" class="btn btn-default" *ngIf="!termsAndConditions.isFile"
                      (click)="termsAndConditions.preview = !termsAndConditions.preview">
                <i class="fa fa-eye"></i> Vista previa
              </button>
            </div>
          </div>
        </form>
      </div>
      <!-- /.box-body -->
      <div class="box-footer" *ngIf="!termsAndConditions.isFile">
        <div class="row" *ngIf="termsAndConditions.preview">
          <div class="col-sm-3 col-xs-12"></div>
          <div [innerHTML]="termsAndConditions.detail" class="col-sm-6 col-xs-12"></div>
          <div class="col-sm-3 col-xs-12"></div>
        </div>
      </div>
      <div class="overlay" *ngIf="processing">
        <i class="fa fa-refresh fa-spin"></i>
      </div>
      <!-- end loading -->
    </div>
    <!-- /.box -->
  </div>
  <div class="col-xs-12" *ngIf="!loading && !registryMode && !updateMode">
    <div class="box box-warning">
      <div class="box-header">
        <h3 class="box-title">Lista de términos y condiciones</h3>

        <div class="box-tools pull-right">
          <div class="has-feedback">
            <button type="button" class="btn btn-default btn-sm" (click)="registryNewTerms()" *ngIf="!registryMode">
              <i class="fa fa-plus"></i> nuevo
            </button>
            <button type="button" class="btn btn-default btn-sm" (click)="close()" *ngIf="registryMode">
              <i class="fa fa-times"></i> cancelar
            </button>
          </div>
        </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
          <thead>
          <tr>
            <th></th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Contenido</th>
            <th></th>
            <th>Fecha publicación</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngIf="!termsAndConditionsList.length">
            <td colspan="7" class="text-center bg-warning text-orange">No se encontraron registros</td>
          </tr>
          <tr *ngFor="let termsAndConditions of termsAndConditionsList"
              [ngClass]="{'warning': termsAndConditions.edit}">
            <td class="text-center"><i class="fa fa-pencil-square-o" *ngIf="termsAndConditions.edit"></i></td>
            <td>{{ termsAndConditions.name }}</td>
            <td>
              {{ termsAndConditions.type == 1 ? "app" : termsAndConditions.type == 2 ? "módulo" : "" }}
            </td>
            <td>
              {{ termsAndConditions.isFile ? termsAndConditions.url : "Contenido guardado en DB" }}
            </td>
            <td>
              <span class="label label-success" *ngIf="termsAndConditions.active">activo</span>
              <span class="label label-warning" *ngIf="!termsAndConditions.active">inactivo</span>
            </td>
            <td>{{ termsAndConditions.publicationDate | date:'mediumDate' }}</td>
            <td>
              <button type="button" class="btn btn-primary btn-xs" (click)="updateCurrentTerms(termsAndConditions)">
                <i class="fa fa-pencil"></i>
              </button>
              <button type="button" class="btn btn-danger btn-xs" *ngIf="termsAndConditions.edit"
                      (click)="delete(termsAndConditions)">
                <i class="fa fa-trash"></i>
              </button>
              <button type="button" class="btn btn-warning btn-xs" *ngIf="termsAndConditions.edit"
                      (click)="cancel(termsAndConditions)">
                <i class="fa fa-times"></i>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <!-- /.box-body -->
      <div class="overlay" *ngIf="processing">
        <i class="fa fa-refresh fa-spin"></i>
      </div>
      <!-- end loading -->
    </div>
    <!-- /.box -->
  </div>
</div>
