<div class="container-fluid">
  <!--Inputs-->
  <div class="box box-info">
    <div class="overlay" *ngIf="loading">
      <i class="fa fa-refresh fa-spin"></i>
    </div>
    <div class="box-header with-border">
      <h3 class="box-title">Filtros reporte</h3>
    </div>
    <div class="box-body form-group row">
      <div class="col-sm-4">
        <label for="Modality">Modalidad <small class="text-danger" *ngIf="modality == null">* Seleccione
            modalidad</small></label>
        <select class="form-control" name="Modality" [(ngModel)]="modality">
          <option *ngFor="let departament of backofficeConfigService.DEPARTAMENT_NAMES" value="{{departament.id}}">
            {{departament.name}}
          </option>
          <option value="" selected>Todos</option>
        </select>
      </div>
      <div class="col-sm-4">
        <label for="campus">Sede <small class="text-danger" *ngIf="campus == null">* Seleccione sede</small></label>
        <select class="form-control" name="campus" [(ngModel)]="campus">
          <option *ngFor="let campus of allCampus" value="{{campus.id}}">
            {{campus.name}}
          </option>
          <option value="" selected>Todos</option>
        </select>
      </div>
      <div class="col-sm-4">
        <label for="terms">Período <small class="text-danger" *ngIf="!term">* Seleccione periodo</small></label>
        <select class="form-control" name="terms" [(ngModel)]="term">
          <option *ngFor="let term of terms" value="{{term}}">{{term}}</option>
        </select>
      </div>
      <div class="col-sm-4">
        <label for="terms">Tipo <small class="text-danger" *ngIf="type == null">* Seleccione tipo</small></label>
        <select class="form-control" name="terms" [(ngModel)]="type">
          <option *ngFor="let type of backofficeConfigService.OEA_TYPES_NOTE_CLAIM" value="{{type.id}}" selected>
            {{type.name}}</option>
          <option value="" selected="selected">Todos</option>
        </select>
      </div>
      <div class="col-sm-4">
        <label for="terms">Estado <small class="text-danger" *ngIf="status == null">* Seleccione estado</small></label>
        <select class="form-control" name="terms" [(ngModel)]="status">
          <option *ngFor="let statu of backofficeConfigService.OEA_STATUS_NOTE_CLAIM" value="{{statu.id}}" selected>
            {{statu.name}}</option>
          <option value="0" selected="selected">Todos</option>
        </select>
      </div>
      <div class="col-sm-4">
        <label for="terms">Componente <small class="text-danger" *ngIf="component == null">* Seleccione
            componente</small></label>
        <select class="form-control" name="terms" [(ngModel)]="component">
          <option value="2-C1">Consolidado 1</option>
          <option value="3-EP">Examen Parcial</option>
          <option value="4-C2">Consolidado 2</option>
          <option value="5-EF">Examen Final</option>
          <option value="" selected>Todos</option>
        </select>
      </div>
      <div class="col-sm-4">
        <label for="group">Código de estudiante </label>
        <input type="text" placeholder="código" class="form-control" [(ngModel)]="studentCode">
      </div>

      <div class="col-sm-4">
        <label for="group"></label>
        <input type="button" name="ver" value="ver" class="form-control btn btn-info btn-md" [disabled]="!validate()"
          (click)="getReport()">
      </div>
      <div class="col-sm-4">
        <label for="group"></label>
        <input type="button" name="Descargar" value="Descargar excel" class="form-control btn btn-success btn-md"
          [disabled]="report == null || report.length <= 0" (click)="downloadExcel()">
      </div>
    </div>
  </div>
  <!--End Inputs-->
  <!--Report-->
  <div class="box box-info" *ngIf="report != null && report.length > 0">
    <div class="overlay" *ngIf="loading">
      <i class="fa fa-refresh fa-spin"></i>
    </div>
    <div class="box-header with-border">
      <h3 class="box-title">Resultados de Búsqueda</h3>
      <div class="box-tools pull-right">
        <div class="has-feedback">
          <button class="btn btn-default btn-sm" name="todos" type="button" (click)="selectAll()">
            <span *ngIf="!selectedAll">Marcar todos</span>
            <span *ngIf="selectedAll">Desmarcar todos</span>
          </button>
        </div>
      </div>
    </div>
    <div class="box-body">
      <div class="table-responsive">
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th></th>
              <th>Modalidad</th>
              <th>Sede</th>
              <th>Periodo</th>
              <th>Número</th>
              <th>Tipo</th>
              <th>Estado</th>
              <th>Cód. Asignatura</th>
              <th>Nrc</th>
              <th>Asignatura</th>
              <th>Componente</th>
              <th>SubComponente</th>
              <th>Doc. Estudiante</th>
              <th>Estudiante</th>
              <th>Doc. Docente</th>
              <th>Docente</th>
              <th>Fecha</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of report">
              <td (click)="item.isSelected = !item.isSelected"><input type="checkbox" value="chkItemReport"
                  [(ngModel)]="item.isSelected"></td>
              <td>{{getNameDepartment(item.subject.department)}}</td>
              <td>{{getNameCampus(item.subject.campus)}}</td>
              <td>{{item.subject.term}}</td>
              <td>{{item.year}}-{{ backofficeConfigService.completeStringWithCaracter(item.noteClaimNumber, '0', 6) }}
              </td>
              <td>{{item.type}}</td>
              <td>{{getNameStatus(item.status)}}</td>
              <td>{{item.subject.subjetID}}</td>
              <td>{{item.subject.nrc}}</td>
              <td>{{item.subject.subjetName}}</td>
              <td>{{item.componentData.description}}</td>
              <td>
                <span *ngIf="item.subComponentData != null">{{item.subComponentData.name}}</span>
                <span *ngIf="item.subComponentData == null"> --- </span>
              </td>
              <td>{{item.studentData.document_number}}</td>
              <td>{{item.studentData.full_name}}</td>
              <td>{{item.teacherData.document_number}}</td>
              <td>{{item.teacherData.full_name}}</td>
              <td>{{item.dateCreated | date: 'dd/MM/yyyy hh:mm'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
  <!--End Report-->
  <!--Inputs send Email-->
  <div class="box box-info" *ngIf="report != null && report.length > 0">
    <div class="overlay" *ngIf="loading">
      <i class="fa fa-refresh fa-spin"></i>
    </div>
    <div class="box-header with-border">
      <h3 class="box-title">Enviar Email</h3>
    </div>
    <div class="box-body ">
      <div class="form-group">
        <label for="msgEmail">Asunto <small class="text-danger"
            *ngIf="mailSubject == null || mailSubject.trim().length <= 0">*
            Escriba asunto mensaje</small></label>
        <input type="text" placeholder="Asunto" class="form-control" [(ngModel)]="mailSubject">
      </div>
      <div class="form-group">
        <label for="msgEmail">Mensaje <small class="text-danger"
            *ngIf="msgEmail == null || msgEmail.trim().length <= 0">*
            Escriba cuerpo del mensaje</small></label>
        <textarea name="msgEmail" class="form-control" [(ngModel)]="msgEmail"></textarea>
      </div>
      <div class="form-group">
        <input class="form-control btn btn-info btn-md" placeholder="Cuerpo del mensaje" name="Enviar" type="button"
          value="Enviar" (click)="sendMailNoteClaim()"
          [disabled]="msgEmail == null || msgEmail.trim().length <= 0 || mailSubject == null || mailSubject.trim().length <= 0">
      </div>
    </div>

  </div>
  <!--End Inputs send Email-->
</div>