<div class="panel" ng-init="init()">
	<div class="panel-heading">
		Duplicado de carné
		<!--<strong class="pull-right">Pendiente de Requisitos</strong>-->
	</div>
	<div class="panel-body  p-zr" id="bar-loading-alumnos">
		<div class="p-sm  b-b">
	<div class="row">


<div class="col-xs-12"  >
    <form class="form-inline">
      <div class="form-group">
        	<label>Estado:</label>
      </div>
      <div class="form-group">
        <div class="input-group">
				  <select ng-model="state_search"  class="form-control" >
            <option ng-repeat="state in application_states"  value="{{state.id}}">{{state.descripcion_str}} </option>
          </select>

          <span class="input-group-addon hand"><i class="glyphicon glyphicon-pencil"></i></span>
  			</div>
      </div>
      <button class="btn btn-primary btn-sm" ng-click="searchApplications(state_search)" id='button-buscar' ng-disabled="working">Filtrar</button>

				<span>{{msg}}</span>

    </form>
</div>

</div>
</div>
<div ng-show="duplicate_list.length">
	<div class="panel-body">
		<!--filters-->
		<div class="row" >
			<div class="col-sm-4">
				<div class="input-group">
					<span class="input-group-addon" id="sizing-addon2">Solicitud</span>
					<input type="text" class="form-control"  ng-model="filter.id"  aria-describedby="sizing-addon2" >
					</div>
			</div>
			<div class="col-sm-4">
				<div class="input-group">
					<span class="input-group-addon" id="sizing-addon2">Alumno</span>
					<input type="text" class="form-control"  ng-model="filter.alumno_id"  aria-describedby="sizing-addon2" >
					</div>
			</div>
			<div class="col-sm-4">
				<div class="input-group">
					<span class="input-group-addon" id="sizing-addon2">Nombre</span>
					<input type="text" class="form-control"  ng-model="filter.alumno_text_str"  aria-describedby="sizing-addon2" >
				</div>
			</div>

		</div>
	</div>
	<div class="panel-body">
		<button class="btn btn-primary btn-sm" ng-click="sendToC5()" ng-disabled="actual_state!=state_after_paying || duplicate_list.active()==0 || working">Enviar a C5</button>
	<!--	<button class="btn btn-primary btn-sm" ng-click="cleanC5()" ng-disabled="actual_state!=state_after_paying">Limpiar C5</button> -->
		<button class="btn btn-primary btn-sm" ng-click="changeState(3)" ng-disabled="actual_state!=state_after_paying  || duplicate_list.active()==0 || working">Marcar como impreso(s)</button>
		<button class="btn btn-primary btn-sm" ng-click="sendMail()" ng-disabled="actual_state!=3  || duplicate_list.active()==0 || working">Enviar correo(s)</button>
		<button class="btn btn-primary btn-sm" ng-click="changeState(4)" ng-disabled="actual_state!=3  || duplicate_list.active()==0 || working">Marcar como entregado(s)</button>
		<button class="btn btn-danger btn-sm" ng-click="changeState(1)" ng-disabled="!((actual_state!=1 && actual_state!=6) && duplicate_list.active()!=0) || working">Marcar como Pendiente de Requisitos</button>
	</div>
		<div class="table-responsive" >
			<table  class="table">
				<thead>
					<tr  >
						<th ng-click="checkAll()" class="hand"  >
              <i class="glyphicon glyphicon-check" ng-show="duplicate_list.active()==1"></i>
              <i class="glyphicon glyphicon-unchecked" ng-show="duplicate_list.active()==0"></i>
              <i class="glyphicon glyphicon glyphicon-edit" ng-show="duplicate_list.active()==-1"></i>
            </th>
						<th># </th>
						<th class="ui-bind ui-label-filter hand sort-asc" data-text="Fecha" data-type-filter="fecha" data-orientation="asc">Fecha</th>
						<th>Documento</th>
						<th>Solicitante</th>
						<th>Estado</th>
						<th>Alumno</th>
					</tr>
				</thead>
				<tbody>
  <tr ng-repeat="duplicate in  duplicate_list | filter:filter" class="hand ui-bind ui-row-solicitud" ng-class="{active:duplicate.active}" ng-click="checkUncheck(duplicate.id)">
    <td class="m-t-sm ui-bind ui-row-solicitud-check"  ng-class-success="duplicate.active==1">
      <i class="glyphicon glyphicon-check" ng-show="duplicate.active==1"></i>
      <i class="glyphicon glyphicon-unchecked" ng-show="duplicate.active==0"></i>
    </td>
    <td>{{duplicate.id}}</td>
    <td>{{duplicate.fechasolicitud_str}}</td>
    <td>{{duplicate.documento_text_str}}</td>
    <td>{{duplicate.alumno_id}}</td>
		<td>{{duplicate.estado_id_str}}</td>
    <td>{{duplicate.alumno_text_str}}</td>
  </tr>
</tbody>
			</table>
		</div>
		<!--
  <div class="panel-body">
    <button class="btn btn-primary btn-sm" ng-click="printFront()">Imprimir parte frontal</button>
		<button class="btn btn-primary btn-sm" ng-click="printBack()">Imprimir reverso</button>
	</div>
-->

</div>
	</div>
</div>
