<loading *ngIf="loading"></loading>

<div *ngIf="!loading">  
  <section class="card card-primary">
    <div class="header">
      <h3 class="title"><i class="fa fa-file-text"></i> Reporte total de faltas por asignatura</h3>
    </div>
    <article class="body pb-0">
      <callout-component *ngIf="!show" [callout]="callout"></callout-component>
      <div *ngIf="show" class="table-responsive table-material mb">
        <table class="table">
          <thead class="bg-info text-white">
            <tr>
              <th>Asignatura</th>
              <th class="text-center">NRC</th>
              <th class="text-center">Período</th>
              <th class="text-center">N&#186; de Faltas</th>
              <th class="text-center">% de Faltas</th>
              <th class="text-center hidden-print">Detalle</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let course of absences">
              <td>{{course.coursename}}</td>
              <td class="text-center text-bold">{{course.nrc}}</td>
              <td class="text-center">{{course.term}}</td>
              <td class="text-blue text-bold text-center">{{course.course_absences.length}}</td>
              <td class="text-red text-bold text-center">{{course.percentage}}&#37;</td>
              <td class="text-center hidden-print">
                <button class="btn btn-xs bg-primary text-white" (click)="getDetalle(course)"><i class="fa fa-eye"></i>
                  Ver
                  detalle</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </article>
  </section>
  <section class="card card-primary" *ngIf="course">
    <div class="header bg-primary text-white">
      <h3 class="title"><i class="fa fa-file-text"></i> Reporte Detallado de: {{course.coursename}}</h3>
    </div>
    <article class="body pv">
      <div *ngFor="let absence of course.course_absences"
        class="col-xs-12 col-sm-4 col-md-3 col-lg-2 text-center absences-by-course">
        <div class="table-responsive table-material">
          <table class="table">
            <thead>
              <tr class="bg-red text-bold">
                <th class="text-center">Fecha</th>
                <th class="text-center">{{absence.date | date: 'dd/MM/yyyy'}}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Inicio<br> Fin</td>
                <td>{{absence.start}}<br> {{absence.end}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </article>
  </section>
</div>
