<div class="box-body box-comments" *ngIf="loading">
  <loading [text]="'CARGANDO INFORMACIÓN DE INCIDENTE'"></loading>
</div>

<div class="box box-default" *ngIf="!loading">
  <header class="box-header with-border">
    <h3 class="box-title"><i class="fa fa-file-text"></i> Información del ticket</h3>
    <div class="box-tools">
      <a class="btn btn-default btn-sm" onclick="window.history.go(-1); return false;">
        <i class="fa fa-arrow-left"></i> Regresar</a>
    </div>
  </header>
  <section class="box-body box-comments" *ngIf="incident !== null">
    <form (ngSubmit)="update()" #incidentForm="ngForm">
      <!-- resumen del incidente -->
      <div class="box-comment">
        <div class="comment-text">
          <div class="row">
            <div class="col-md-6">
              #{{ incident.id }}
              <span class="badge" *ngIf="incidentStatus !== undefined && incidentStatus !== null"
                    [ngClass]="{'bg-purple': incident.statusId === 1,
                  'bg-yellow': incident.statusId === 2,
                  'bg-aqua': incident.statusId === 3,
                  'bg-green': incident.statusId === 4,
                  'bg-red': incident.statusId === 5}">
            <i class="fa fa-circle-o"></i> {{ incidentStatus.name }}
            </span>
              <br/>
              <span *ngIf="incidentType !== undefined && incidentType !== null">{{ incidentType.name }}</span>
              <span *ngIf="incidentParentCategory !== undefined && incidentParentCategory !== null">
              / {{ incidentParentCategory.name }}
            </span>
            </div>
            <div class="col-md-6">
            <span class="pull-right">
              Creado <span class="help" title="{{ incident.publicationDate | date: 'medium' }}">
              {{ momento(incident.publicationDate | date: 'yyyyMMdd') }}</span><br/>
              Actualizado <span class="help" title="{{ lastActivity | date: 'medium' }}">
              {{ momento(lastActivity | date: 'yyyyMMdd') }}</span>
            </span>
            </div>
          </div>
        </div>
      </div>
      <div class="box-comment">
        <div class="comment-text">
          <h3>{{ incident.title }}</h3>
        </div>
      </div>
      <div class="box-comment">
        <div class="comment-text">
          <div class="row">
            <div class="col-md-2">Reportado por:</div>
            <div class="col-md-4">{{ incident.reporterName }}</div>
            <div class="col-md-2">Fecha de creación:</div>
            <div class="col-md-4">{{ incident.publicationDate | date: 'medium' }}</div>
          </div>
        </div>
      </div>
      <div class="box-comment">
        <div class="comment-text">
          <div class="row">
            <div class="col-md-2">Categoría:</div>
            <div class="col-md-4">
              <span *ngIf="incidentCategory !== undefined && incidentCategory !== null && (!edit)">
                {{ incidentCategory.name }}
              </span>
            </div>
            <div class="col-md-2">Subcategoría:</div>
            <div class="col-md-4">
              <span *ngIf="incidentSubcategory !== undefined && incidentSubcategory !== null && (!edit)">
                {{ incidentSubcategory.name }}
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="box-comment">
        <div class="comment-text">
          <div class="row">
            <div class="col-md-2">Descripción:</div>
            <div class="col-md-10"><strong>{{ incident.description }}</strong></div>
          </div>
        </div>
      </div>
    </form>
  </section>
  <footer class="box-footer"></footer>
</div>

<!--<div class="box">
  <header class="box-header with-border">
    <h3 class="box-title"><i class="fa fa-file-text"></i> Información de la Incidente</h3>
    <div class="box-tools">
      <a class="btn btn-default btn-sm" onclick="window.history.go(-1); return false;">
        <i class="fa fa-arrow-left"></i> Regresar</a>
    </div>
  </header>
  <section class="box-body box-comments">-->
<!-- The timeline -->
<ul class="timeline" *ngIf="incident !== undefined && incident !== null">
  <!-- timeline item -->
  <li *ngFor="let log of incidentLogList">
    <i class="fa"
       [ngClass]="{'fa-map-signs bg-teal': log.logTypeId === 1,
       'fa-user bg-purple': log.logTypeId === 2,
       'fa-exchange bg-indigo': log.logTypeId === 3,
       'fa-tasks bg-cyan': log.logTypeId === 4,
       'fa-comments bg-yellow': log.logTypeId === 5,
       'fa-check bg-green': log.logTypeId === 6,
       'fa-archive bg-aqua': log.logTypeId === 7}"></i>
    <div class="timeline-item">
      <span class="time"><i class="fa fa-clock-o"></i> {{ log.publicationDate | date: 'medium' }}</span>
      <h3 class="timeline-header">
        <span class="text-bold text-info">{{ log.authorName }}</span>
        <span *ngIf="log.logTypeId !== 4 && log.logTypeId !== 5 && log.logTypeId !== 6">
          {{ log.comment }}
        </span>
        <span *ngIf="log.logTypeId === 4"> registró una tarea:</span>
        <span *ngIf="log.logTypeId === 5"> escribió un comentario:</span>
        <span *ngIf="log.logTypeId === 6"> escribió una solución:</span>
      </h3>
      <div class="timeline-body" *ngIf="log.logTypeId === 4 || log.logTypeId === 5 || log.logTypeId === 6">
        {{ log.comment }}
      </div>
    </div>
  </li>
  <!-- END timeline item -->
  <li *ngIf="incidentLog !== undefined">
    <i class="fa fa-commenting-o"></i>
    <div class="timeline-item">
      <h3 class="timeline-header">
        Registrar
      </h3>
      <div class="timeline-body">
        <form role="form" #commentForm="ngForm">
          <div class="form-group">
            <select name="activity" id="activity" [(ngModel)]="incidentLog.logTypeId" required="required">
              <option *ngFor="let key of incidentLogKeys()" value="{{ incidentLogActivityTypes[key] }}">
                {{ key }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <textarea class="form-control" name="comment" rows="3" required="required"
                      placeholder="Escribe tu comentario ..." [(ngModel)]="incidentLog.comment"></textarea>
          </div>
          <button type="submit" class="btn btn-warning btn-xs" [disabled]="!commentForm.valid"
                  (click)="newIncidentLog()">
            Enviar comentario
          </button>
        </form>
      </div>
    </div>
  </li>

  <li>
    <i class="fa fa-clock-o bg-gray"></i>
  </li>

</ul>
<!--  </section>
  <footer class="box-footer"></footer>
</div>-->
