<div class="box box-warning">
  <div class="overlay" *ngIf="loading === true">
    <i class="fa fa-refresh fa-spin"></i>
  </div>
  <header class="box-header with-border">
    <i class="fa fa-file-text"></i>
    <h3 class="box-title">Examen Sustitutorio</h3>
  </header>
  <div class="box-body form-horizontal">
    <div class="document-description">
      <div class="card card-default">
        <div class="col-sm-6">
          <h4>Requisitos</h4>
          <ul>
            <li>Verificar en el silabo (sección 6) si la asignatura está habilitada para el examen sustitutorio, No hay
              excepciones.</li>
            <li>No debes de sobrepasar el 30% de inasistencia permitido.</li>
            <li>Justificar online la razón por la que aplicará la evaluación.</li>
            <li>Al programar el examen sustitutorio, se generará un cargo en tu cuenta de S/. 40.00 por derecho a examen
              sustitutorio.
            </li>
          </ul>
        </div>
        <div class="col-sm-6">
          <h4>Consideraciones</h4>
          <ul>
            <li>El examen evalúa los contenidos de todo el silabo de asignatura. Sin particularidades de docente o
              modalidad.</li>
            <li>La nota obtenida reemplazará directamente la nota más baja obtenida en cualquiera de los cuatro rubros
              de
              evaluación.
            </li>
            <li>El resultado obtenido es inapelable, no hay opción de cambio de nota pues el sistema automáticamente
              elige
              la nota a sustituir.</li>
            <li>Los exámenes sustitutorios no aplican a revisión de los mismos</li>
            <li>Si presentaste una solicitud de revisión final, la evaluación sustitutoria no estará supeditada al
              resultado,
              el estudiante asume la responsabilidad del mismo.</li>
          </ul>
        </div>
        <div class="col-sm-12">
          <ul>
            <li class="text-danger">Al ser una evaluación opcional la fecha y horario de aplicación del examen
              sustitutorio
              lo establece la universidad, debes tomar las precauciones del caso debido a que no existen
              reprogramaciones
              de las evaluaciones sustitutorias.</li>
            <li>Al realizar la programación de los exámenes sustitutorios asumes las condiciones y requisitos del mismo.
            </li>
            <li class="text-info">DEBES ACERCARTE MEDIA HORA ANTES DE LA HORA Y FECHA PROGRAMADA AL CENTRO DE ATENCIÓN
              AL USUARIO PARA VER EL AULA DESIGNADA.</li>
            <li>Porta siempre tus documentos personales de identidad,será requerido para ingresar al aula.</li>
          </ul>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="document-description" *ngIf="(listSubjetPending != null && listSubjetPending.length > 0) 
                                            || (listRequestedSubjet != null && listRequestedSubjet.length > 0)">
      <div [ngClass]="{'col-sm-12': (listRequestedSubjet.length <= 0),
                       'col-sm-7': (listRequestedSubjet.length > 0)}">
        <header class="box-header with-border">
          <h3 class="box-title">Seleccione asignaturas:</h3>
        </header>
        <div *ngIf="listSubjetPending != null && listSubjetPending.length > 0">
          <div class="table-responsive table-material">
            <table class="col-sm-12">
              <thead>
                <tr>
                  <th>NRC</th>
                  <th>Nombre</th>
                  <th>Inasistencia(%)</th>
                  <th colspan="3">
                    <div class="row">
                      <div class="col-sm-5">Fecha Examen</div>
                      <div class="col-sm-5">Fecha máx. programación</div>
                      <div class="col-sm-2"></div>
                    </div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let subject of listSubjetPending">
                  <td>{{subject.nrc}}</td>
                  <td>{{subject.subjetName}}</td>
                  <td>
                    <p *ngIf="subject.absenceNrc != null">{{subject.absenceNrc.percentage}} %</p>
                    <p *ngIf="subject.absenceNrc == null"> - </p>
                  </td>
                  <td>
                    <div class="row" *ngFor="let schedule of subject.scheduled">
                      <div class="col-sm-5">{{schedule.examDate | date: 'dd/MM/yyyy hh:mm a'}}</div>
                      <div class="col-sm-5">{{schedule.finalRegistrationDate | date: 'dd/MM/yyyy hh:mm a'}}</div>
                      <div class="col-sm-2" (click)="selectSchedule(subject, schedule)">
                        <i class="fa fa-check-square-o fa-lg" *ngIf="schedule.selected"></i>
                        <i class="fa fa-square-o fa-lg" *ngIf="!schedule.selected"></i>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <br>
          <label class="col-sm-2 control-label">Ingrese justificación:<br>
          </label>
          <div class="col-sm-10">
            <textarea class="form-control mt ng-pristine ng-valid ng-touched" name="description"
              placeholder="Justifica..." rows="3" maxlength="200" [(ngModel)]="justification"></textarea>
          </div>
          <div class="clearfix"></div>
          <br>
          <footer class="box-footer">
            <button class="btn btn-danger" onclick="window.history.go(-1); return false;"
              type="submit">Cancelar</button>
            <button class="btn btn-primary pull-right" type="submit" (click)="sendSusti()"
              [disabled]="validateBtnGenerate() === 0">
              Guardar
            </button>
          </footer>
        </div>
        <div class="alert alert-warning fade in alert-dismissable"
          *ngIf="listSubjetPending == null || listSubjetPending.length <= 0">
          <h4>Mensaje</h4>
          <p>No existen asignaturas disponibles o no estás en fechas programas para el examen sustitutorio.</p>
        </div>
      </div>

      <div *ngIf="listRequestedSubjet != null && listRequestedSubjet.length > 0" [ngClass]="{'col-sm-12': (listSubjetPending == null || listSubjetPending.length <= 0),
                      'col-sm-5': (listSubjetPending != null && listSubjetPending.length >= 0)}">
        <header class="box-header with-border">
          <h3 class="box-title">Asignaturas programadas:</h3>
        </header>
        <div class="table-responsive table-material">
          <table class="col-sm-12">
            <thead>
              <tr>
                <th>NRC</th>
                <th>Nombre</th>
                <th>FechaExamen</th>
                <th>Aula</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let subject of listRequestedSubjet">
                <td>{{subject.substituteExam.nrc}}</td>
                <td>{{subject.substituteExam.subjetName}}</td>
                <td>{{subject.scheduled.examDate | date: 'dd/MM/yyyy hh:mm a'}}</td>
                <td>{{subject.scheduled.classRoom}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="alert alert-error fade in alert-dismissable" *ngIf="msgError != null && msgError.length>0">
      <h4>Error</h4>
      <p>{{msgError}}</p>
    </div>
    <div
      *ngIf="(listSubjetPending == null || listSubjetPending.length <= 0) && ((listRequestedSubjet == null || listRequestedSubjet.length <= 0))"
      class="alert alert-warning fade in alert-dismissable">
      <h4>Mensaje</h4>
      <p>No existen asignaturas disponibles o no estás en fechas programas para el examen sustitutorio.</p>
    </div>

  </div>
</div>