<loading *ngIf="loading"></loading>

<div *ngIf="!loading">
  <div class="alert alert-danger" *ngIf="errorMessage">
    <h4><i class="icon fa fa-ban"></i> Error!</h4>
    <p>Se produjo un error. Estamos trabajando para resolver este problema cuanto antes</p>
    <p>( {{errorMessage}} )</p>
  </div>

  <div class="card card-primary text-center">
    <div class="body p-0 pt" *ngIf="plan">
      <div class="col-md-6">
        <div class="card">
          <h4 class="title text-blue">
            <b>{{plan.program.name}}</b>
          </h4>
          <h5 class="text-secondary">Escuela Académico Profesional</h5>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <h4 class="title">Bachiller en {{plan.program.name}}</h4>
          <h5 class="text-secondary">Grado a obtener</h5>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <h4 class="title">
            <b>{{plan.college.name | capitalizeCase}}</b>
          </h4>
          <h5 class="text-secondary">Facultad</h5>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <h4 class="title">{{backofficeConfigService.getDepartmentName(plan.department) | titleCase}}</h4>
          <h5 class="text-secondary">Modalidad de estudios</h5>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <h4 class="title">{{plan.campus.name | titleCase}}</h4>
          <h5 class="text-secondary">Campus</h5>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <h4 class="title text-blue">
            <b>{{plan.id}}</b>
          </h4>
          <h5 class="text-secondary">Plan de estudios</h5>
        </div>
      </div>
    </div>
  </div>

  <section class="nav-tabs-custom bg-body" *ngIf="plan || progress">
    <!-- Tabs within a box -->
    <ul class="nav nav-tabs pull-right ui-sortable-handle bg-white">
      <!-- <li class=""><a href="#studiesPlan" data-toggle="tab" aria-expanded="false">Plan de Estudios</a></li> -->
      <li class="">
        <a href="#diplomat" data-toggle="tab" aria-expanded="false" *ngIf="diplomaeds && diplomaeds.length > 0">Diplomados</a>
      </li>
      <li class="active">
        <a href="#academicProgress" data-toggle="tab" aria-expanded="true">Avance académico</a>
      </li>
    </ul>
    <div class="tab-content no-padding bg-body">
      <!-- Avance Academico -->
      <div class="tab-pane active" id="academicProgress">
        <!-- resumen -->
        <div *ngIf="plan && progress">
          <div class="table-responsive table-material">
            <table class="table">
              <tbody *ngFor="let cycle of plan.cycles">
              <tr>
                <th class="bg-info va-middle text-center" colspan="9"><h4>{{cycle.id}}.° período académico</h4></th>
              </tr>
              <tr class="text-white">
                <th class="bg-info va-middle text-center">Código</th>
                <th class="bg-info va-middle">Asignatura</th>
                <th class="bg-info va-middle">Prerrequisito</th>
                <th class="bg-info va-middle text-center">Créditos</th>
                <th class="bg-info va-middle text-center">Tipo</th>
                <th class="bg-info va-middle text-center">Estado</th>
                <th class="bg-info va-middle text-center">Nota</th>
                <th class="bg-info va-middle text-center">Veces<br>llevado</th>
                <th class="bg-info va-middle">Observaciones</th>
              </tr>
              <tr *ngFor="let course of cycle.courses">
                <td class="text-center">{{course.id}}</td>
                <td>{{course.name}}</td>
                <td>
                  <span *ngFor="let req of course.prerequisite_list">
                    <small class="help" data-toggle="tooltip" data-placement="top" title="{{ req.name }}"
                      *ngIf="req.name !== null">
                      {{ req.subject }}{{ req.course }};
                    </small>
                  </span>
                  <span *ngIf="course.creditsRequered != null && course.creditsRequered > 0">
                    {{course.creditsRequered}} Créd. Aprobados
                  </span>
                </td>
                <td class="text-center">{{course.credits}}</td>
                <td class="text-center">{{((course.type | lowerCase) == 'o')? 'Obligatorio':'Electivo'}}</td>
                <td class="text-center">
                  <span *ngIf="course.taken !== 0">
                    <span *ngIf="course.is_aproved" class="badge bg-green"><i class="fa fa-check"></i> aprobado</span>
                    <span *ngIf="!course.enrollment && !course.is_aproved" class="badge bg-red">
                      <i class="fa fa-ban"></i> desaprobado
                    </span>
                  </span>
                  <span *ngIf="!course.enrollment && course.taken === 0" class="badge bg-orange">
                    <i class="fa fa-clock-o"></i> pendiente
                  </span>
                  <span *ngIf="course.enrollment && !course.is_aproved" class="badge bg-purple disabled color-palette">
                    <i class="fa fa-calendar-check-o"></i> matriculado
                  </span>
                </td>
                <td class="text-center">{{course.score || '-'}}</td>
                <td class="text-center">{{course.taken}}</td>
                <td>
                  <span *ngIf="course.is_conva" class="label label-info">
                    <i class="fa fa-copy"></i> Convalidado</span>
                  <span *ngIf="course.is_equi" class="label label-info">
                    <i class="fa fa-copy"></i> Cambio de plan</span>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
      <!-- Diplomados -->
      <div class="tab-pane" id="diplomat">
        <div *ngIf="diplomaeds && diplomaeds.length > 0">
          <div class="table-responsive table-material">
            <table class="table">
              <tbody *ngFor="let diplomaed of diplomaeds">
              <tr>
                <td class="bg-info va-middle text-center" colspan="8">{{diplomaed.name}}</td>
              </tr>
              <tr class="text-white">
                <th class="bg-info text-center">Código</th>
                <th class="bg-info">Asignatura</th>
                <th class="bg-info text-center">Créditos</th>
                <th class="bg-info text-center">Estado</th>
                <th class="bg-info text-center">Nota</th>
                <th class="bg-info text-center">Veces<br>llevado</th>
              </tr>
              <tr *ngFor="let course of diplomaed.courses">
                <td class="text-center">{{course.id}}</td>
                <td>{{course.name}}</td>
                <td class="text-center">{{course.credits}}</td>
                <td class="text-center">
                    <span *ngIf="course.taken !== 0">
                      <span *ngIf="course.is_aproved" class="badge bg-green">
                        <i class="fa fa-check"></i> aprobado</span>
                      <span *ngIf="!course.is_aproved" class="badge bg-red">
                        <i class="fa fa-ban"></i> desaprobado</span>
                    </span>
                  <span *ngIf="!course.enrollment && course.taken === 0" class="badge bg-secondary-light text-white">
                      <i class="fa fa-clock-o"></i> no llevado</span>
                  <span *ngIf="course.enrollment" class="badge bg-purple">
                      <i class="fa fa-calendar-check-o"></i> matriculado </span>
                </td>
                <td class="text-center">{{course.score || '-'}}</td>
                <td class="text-center">{{course.taken}}</td>
              </tr>
              </tbody>
            </table>
          </div>

        </div>
        <div *ngIf="!diplomaeds">
          <loading [size]="'small'" [text]="'cargando... por favor espere'"></loading>
        </div>
      </div>
    </div>
  </section>
</div>
