<div class="content">
  <div class="box box-primary">
    <loading *ngIf="loading"></loading>
    <div class="box-body box-profile" *ngIf="person != null">


      <img [src]="'api/personal/photo/'+person.id" alt="User profile picture"
        class="profile-user-img img-responsive img-circle">
      <h3 class="profile-username text-center">{{person.first_name}}</h3>

      <p class="text-muted text-center">{{person.document_type}}: {{person.document_number}}</p><br>
      <div class="col-md-6">
        <ul class="list-group list-group">
          <li class="list-group-item">
            <b>Nombres</b>
            <p class="pull-right">{{person.first_name}}</p>
          </li>
          <li class="list-group-item">
            <b>Apellido paterno</b>
            <p class="pull-right">{{person.fathers_last_name}}</p>
          </li>
          <li class="list-group-item">
            <b>Apellido materno</b>
            <p class="pull-right">{{person.mothers_last_name}}</p>
          </li>
          <li class="list-group-item">
            <b>Fecha de nacimiento</b>
            <p class="pull-right">{{person.birthdate | date: 'dd/MM/yyyy'}}</p>
          </li>
        </ul>
      </div>
      <div class="col-md-6">
        <ul class="list-group list-group">
          <li class="list-group-item">
            <b>Sexo</b>
            <p class="pull-right">
              <span *ngIf="person.gender == '1'">Masculino</span>
              <span *ngIf="person.gender == '0'">Femenino</span>
              <span *ngIf="person.gender == null || person.gender.trim() == ''">Indefinido</span>
          </li>
          <li class="list-group-item">
            <b>Código de ubigeo</b>
            <p class="pull-right">{{person.ubigeo}}</p>
          </li>
          <li class="list-group-item">
            <b>Celular</b>
            <p class="pull-right">
              <span *ngIf="person.cellPhone == null || person.cellPhone.trim() == ''">No asignado</span>
              <span *ngIf="person.cellPhone != null && person.cellPhone.trim() != ''">{{person.cellPhone}}</span>
            </p>
          </li>
          <li class="list-group-item">
            <b>Correo electrónico</b>
            <p class="pull-right">
              <span *ngIf="person.email1 == null || person.email1.trim() == ''">No asignado</span>
              <span *ngIf="person.email1 != null && person.email1.trim() != ''">{{person.email1}}</span>
            </p>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>