<div [ngSwitch]="option">
  <ng-template ngSwitchCase="ficha-socioconomica">
    <soc-record [student]="student"></soc-record>
  </ng-template>
  <ng-template ngSwitchCase="guias-ficha">
    <soc-record-guide [student]="student"></soc-record-guide>
  </ng-template>
  <ng-template ngSwitchDefault>Opcion no encontrada.</ng-template>
</div>
