<div [hidden]="payment !== undefined || error_message !== null">
  <loading [text]="'Cargando costos'"></loading>
</div>
<!-- mensaje de error -->
<div class="alert alert-danger" *ngIf="error_message">
  <h4><i class="icon fa fa-ban"></i> Error!</h4>
  <p>Se produjo un error. Estamos intentando resolver este problema cuanto antes</p>
</div>

<div class="col-md-12" *ngIf="loading">
  <loading></loading>
</div>
<!-- /.col loading -->

<div class="no-print" *ngIf="!loading && !confirmed && payment !== undefined">
  <div class="callout callout-warning">
    <h4><i class="fa fa-warning"></i> Aviso</h4>
    <p>Lee detenidamente los términos y condiciones de uso del simulador para poder continuar.</p>
  </div>
</div>

<!-- terms and conditions content -->
<section class="card card-default border-info" *ngIf="!loading && !confirmed && payment !== undefined">
  <!-- title row -->
  <div class="row">
    <div class="col-xs-12">
      <h2 class="mt-0 page-header text-info text-bold">
        <i class="fa fa-exclamation-circle"></i> Términos y condiciones de uso del simulador de pagos.
        <small class="pull-right"></small>
      </h2>
    </div>
    <!-- /.col -->
  </div>
  <!-- info row -->
  <div class="row invoice-info">
    <div class="col-sm-12 invoice-col">
      Al usar el simulador de pagos debes tener en cuenta lo siguiente:
      <ul>
        <li>
          Si desapruebas alguna asignatura del período actual, el costo por un crédito podría cambiar; por lo tanto
          deberás ingresar al simulador
          al finalizar el período.
        </li>
        <li>
          Al ser un simulador, los montos calculados podrían variar con respecto a los costos reales aplicables al nuevo
          período académico.
        </li>
        <li>
          El resultado obtenido al usar el simulador, solo es referencial y puede diferir de los pagos reales, debido a
          causas generadas por
          caso fortuito, fuerza mayor, hecho propio o de terceros.
        </li>
        <li>
          El resultado obtenido al usar el simulador, no genera ningún tipo de sorpresa legal de la Universidad
          Continental.
        </li>
      </ul>
      ¿Confirmas haber leído los términos y condiciones de uso del simulador de pagos?
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
  <div class="row no-print">
    <div class="col-xs-12">
      <span class="pull-right">
        <button type="button" class="btn bg-primary" (click)="acceptTermsAndConditions()">
          <i class="fa fa-check"></i> Acepto
        </button>
        <button *ngIf="!modal" type="button" class="btn btn-default" (click)="rejectTermsAndConditions()">
          <i class="fa fa-times"></i> No Acepto
        </button>
        <button *ngIf="modal" class="btn btn-default" data-dismiss="modal">
          <i class="fa fa-times"></i> No Acepto
        </button>
      </span>
    </div>
  </div>
</section>
<!-- /.terms and conditions content -->
<div class="clearfix"></div>

<div *ngIf="payment !== undefined && confirmed">
  <header>
    <div class="alert alert-default bg-warning">
      <h4><i class="icon fa fa-warning"></i> RECUERDA:</h4>
      <ul>
        <li>
          Si desapruebas alguna asignatura del período actual, el costo por un crédito podría cambiar. Por lo tanto
          deberás ingresar al simulador al finalizar el período.
        </li>
        <li>
          Al ser un simulador, los montos calculados podrían variar con respecto a los costos reales obtenidos durante
          el proceso de matrícula
        </li>
        <li ng-if="!creditsNumberByPlan">
          Si deseas matricular en menos de {{creditsNumberByPlan}} créditos debes comunicarte <span
            *ngIf="payment.department !== 'UREG'">con tu mentor </span>
          con Bienestar Universitario, para que pueda absolver tus dudas.
        </li>
        <li [hidden]="payment.department === 'UREG' || (!chk_group_a && !chk_group_b)">
          Los montos mostrados se calculan si usted se matrícula en el <span [hidden]="!chk_group_a">bloque A</span>
          <span [hidden]="!chk_group_b">y bloque B</span> con <span>{{credits_vir_gt}}</span> creditos.
        </li>
      </ul>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-9">
        <section class="box box-primary">
          <div class="box-header with-border">
            <h2 class="box-title">Datos del estudiante</h2>
          </div>
          <div class="box-body" style="font-size: 1.4em">
            <div class="row">
              <label class="col-sm-4 text-right">Período académico:</label>
              <p class="col-sm-8 title text-blue">{{ payment.term}}</p>
            </div>
            <div class="row">
              <label class="col-sm-4 text-right">Escuela Académico Profesional:</label>
              <p class="col-sm-8">{{student.profile.program.name}}</p>
            </div>
            <div class="row">
              <label class="col-sm-4 text-right">Plan de estudios:</label>
              <p class="col-sm-8">{{ payment.studyPlan}}</p>
            </div>
            <div class="row">
              <label class="col-sm-4 text-right">Campus:</label>
              <p class="col-sm-8">{{ student.profile.campus.name}}</p>
            </div>
            <div class="row">
              <label class="col-sm-4 text-right">Nombres:</label>
              <p class="col-sm-8">{{ student.full_name }}</p>
            </div>
          </div>
        </section>
      </div>
      <div class="col-sm-6 col-md-3">
        <section class="box box-warning">
          <div class="box-header with-border">
            <h2 class="box-title">Costo x 1 crédito</h2>
          </div>
          <div class="box-body p">
            <p class="text-center m-0 p-0" style="font-size: 4em;">
              S/ {{ payment.credit_cost | number:'1.2-2' }}
            </p>
          </div>
          <div class="box-body bg-warning">
            <div class="row">
              <div class="col-xs-6 ">
                <strong>Escala actual</strong>
              </div>
              <div class="col-xs-6">
                <strong style="font-size: 2em;">{{ payment.scala }}</strong>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </header>
  <div *ngIf="payment.department === 'UREG'">
    <section class="box box-warning">
      <header class="box-header with-border">
        <h2 class="box-title">Cuotas de Estudio a pagar por <strong class="text-red">{{ credits }}</strong> créditos.
        </h2>
      </header>
      <div class="box-body">
        <p>
          <strong> Elige la cantidad de créditos para simular los pagos.</strong>
        </p>
        <form class="form-horizontal">
          <div class="form-group form-group-lg">
            <label class="col-sm-5 control-label text-right">N° de créditos:</label>
            <div class="col-sm-7 col-md-4">
              <input class="form-control text-center" type="number" [(ngModel)]="credits"
                (keyup)="validateInputCredits()" name="credits" step="1" max="30" min="1">
            </div>
            <div class="col-sm-12 col-md-3 text-center text-bold text-orange" *ngIf="credits < creditsNumberByPlan">
              Si te matriculas en menos de {{creditsNumberByPlan}} créditos, solicita la modificación de tu cuota
              inicial por el Autoservicio – Trámite.
            </div>
          </div>

        </form>
        <div class="table-responsive table-material hidden">
          <table class="table">
            <thead class="bg-info text-white">
              <tr>
                <th>Primera Cuota</th>
                <th>2° Cuota</th>
                <th>3° Cuota</th>
                <th>4° Cuota</th>
                <th>5° Cuota</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>S/ {{ uregFirstPayment() | number:'1.2-2' }}</td>
                <td>S/ {{ uregOtherPayment() | number:'1.2-2' }}</td>
                <td>S/ {{ uregOtherPayment() | number:'1.2-2' }}</td>
                <td>S/ {{ uregOtherPayment() | number:'1.2-2' }}</td>
                <td>S/ {{ uregOtherPayment() | number:'1.2-2' }}</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th colspan="4" class="text-right">Total</th>
                <th class="bg-orange">S/ {{ uregTotal() | number:'1.2-2' }}</th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </section>

    <div class="row">
      <div class="col-sm-6">
        <section class="box box-warning">
          <header class="box-header with-border">
            <h2 class="box-title">Pago por los conceptos de matrícula.</h2>
          </header>
          <div class="box-body">
            <p>Detalles</p>
          </div>
          <div class="table-responsive table-material">
            <table class="table">
              <thead class="bg-info text-white">
                <tr>
                  <th>Concepto</th>
                  <th class="text-center">Monto</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Matrícula</td>
                  <td class="text-right">S/ {{ payment.enrollment_cost | number:'1.2-2' }}</td>
                </tr>
                <tr>
                  <td class="text-orange">1° Cuota (4 créditos)</td>
                  <td class="text-right">S/ {{ (payment.credit_cost * creditsNumberByPlan) | number:'1.2-2' }}</td>
                </tr>
                <tr>
                  <td>Seguro Médico</td>
                  <td class="text-right">S/ {{ payment.health_insurance_cost | number:'1.2-2' }}</td>
                </tr>
              </tbody>
              <tfoot>
                <tr class="bg-white">
                  <th class="text-right">Total</th>
                  <th class="bg-orange text-right">S/ {{ uregFirstPayment() | number:'1.2-2' }}</th>
                </tr>
              </tfoot>
            </table>
          </div>
        </section>
      </div>
      <div class="col-sm-6">
        <section class="box box-warning">
          <header class="box-header with-border">
            <h2 class="box-title">2° a 5° Cuota</h2>
          </header>
          <div class="box-body">
            <p>Detalles de las cuotas restantes.</p>
          </div>
          <div class="table-responsive table-material">
            <table class="table">
              <thead class="bg-info text-white">
                <tr>
                  <th>Concepto</th>
                  <th class="text-right">Fecha tentativa de pago</th>
                  <th class="text-center">Monto</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="text-orange">
                    2° Cuota ({{ ((credits - creditsNumberByPlan) / 4) | number: '1.1-2'}} créditos)
                  </td>
                  <td class="text-right">
                    <span *ngIf="getDateByCuota('C02') != null">{{getDateByCuota('C02')  | date: 'dd/MM/yyyy'}}</span>
                  </td>
                  <td class="text-right">S/ {{ uregOtherPayment() | number:'1.2-2' }}</td>
                </tr>
                <tr>
                  <td class="text-orange">
                    3° Cuota ({{ ((credits - creditsNumberByPlan) / 4) | number: '1.1-2'}} créditos)
                  </td>
                  <td class="text-right">
                    <span *ngIf="getDateByCuota('C03') != null">{{getDateByCuota('C03')  | date: 'dd/MM/yyyy'}}</span>
                  </td>
                  <td class="text-right">S/ {{ uregOtherPayment() | number:'1.2-2' }}</td>
                </tr>
                <tr>
                  <td class="text-orange">
                    4° Cuota ({{ ((credits - creditsNumberByPlan) / 4) | number: '1.1-2'}} créditos)
                  </td>
                  <td class="text-right">
                    <span *ngIf="getDateByCuota('C04') != null">{{getDateByCuota('C04')  | date: 'dd/MM/yyyy'}}</span>
                  </td>
                  <td class="text-right">S/ {{ uregOtherPayment() | number:'1.2-2' }}</td>
                </tr>
                <tr>
                  <td class="text-orange">
                    5° Cuota ({{ ((credits - creditsNumberByPlan) / 4) | number: '1.1-2'}} créditos)
                  </td>
                  <td class="text-right">
                    <span *ngIf="getDateByCuota('C05') != null">{{getDateByCuota('C05')  | date: 'dd/MM/yyyy'}}</span>
                  </td>
                  <td class="text-right">S/ {{ uregOtherPayment() | number:'1.2-2' }}</td>
                </tr>
              </tbody>
              <tfoot>
                <tr class="bg-white">
                  <th class="text-right" colspan="2">Total</th>
                  <th class="bg-orange text-right">S/ {{ (uregOtherPayment() * 4) | number:'1.2-2' }}</th>
                </tr>
              </tfoot>
            </table>
          </div>
        </section>
      </div>
    </div>

  </div>
  <div *ngIf="payment.department !== 'UREG'">
    <div class="row">
      <div class="col-sm-12">
        <section class="box box-warning">
          <header class="box-header with-border">
            <h2 class="box-title">Cuotas de Estudio a pagar por <strong class="text-red">{{ credits_vir_gt }}</strong>
              créditos.</h2>
          </header>
          <div class="box-body">
            <strong> Elige los bloques que se matriculara.</strong> <br>
            <div class="row">
              <p class="col-sm-12 text-center">
                <label class="checkbox-inline"><input type="checkbox" [(ngModel)]="chk_group_a" checked>Bloque A</label>
                <label class="checkbox-inline"><input type="checkbox" [(ngModel)]="chk_group_b" checked>Bloque B</label>
              </p>
            </div>

            <strong> Elige la cantidad de créditos para simular lo pagos.</strong> <br>
            <div class="row text-center">
              <label class="col-sm-7 col-md-4 text-right"> N° de créditos:</label>

              <p class="col-sm-7 col-md-4">
                <input class="form-control text-center" type="number" [(ngModel)]="credits_vir_gt"
                  (keyup)="validateInputCredits()" (change)="validateInputCredits()" name="credits_vir_gt" step="1"
                  max="30" min="1" />
              </p>
              <div class="col-sm-12 col-md-3 text-center text-bold text-orange"
                *ngIf="credits_vir_gt < creditsNumberByPlan">
                Si te matriculas en menos de {{creditsNumberByPlan}} créditos, solicita la modificación de tu cuota
                inicial por el Autoservicio – Trámite.
              </div>
            </div>
          </div>

          <div class="box-body">
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>1° Cuota</th>
                    <th>2° Cuota</th>
                    <th>3° Cuota</th>
                    <th>4° Cuota</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>S/ {{ uvirAllPayment(1) | number:'1.2-2' }}</td>
                    <td>S/ {{ uvirAllPayment(2) | number:'1.2-2' }}</td>
                    <td>S/ {{ uvirAllPayment(3) | number:'1.2-2' }}</td>
                    <td>S/ {{ uvirAllPayment(4) | number:'1.2-2' }}</td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <th colspan="3" class="text-right">Total</th>
                    <th class="bg-orange">S/ {{ uvirAllPayment(0) | number:'1.2-2' }}</th>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </section>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <section class="box box-warning">
          <header class="box-header with-border">
            <h2 class="box-title">Pago por los conceptos de matrícula</h2>
          </header>
          <div class="table-responsive table-material">
            <table class="table">
              <tbody>
                <tr>
                  <td>Inscripcion(Matrícula)</td>
                  <td>S/ {{ payment.enrollment_cost | number:'1.2-2' }}</td>
                </tr>
                <tr>
                  <th class="text-orange">1° Cuota ({{creditsNumberByPlan}} créditos)</th>
                  <td>S/ {{ (payment.credit_cost * creditsNumberByPlan) | number:'1.2-2' }}</td>
                </tr>
                <tr>
                  <td>Seguro Médico</td>
                  <td>S/ {{ payment.health_insurance_cost | number:'1.2-2' }}</td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <th class="text-right">Total</th>
                  <th class="bg-orange text-right">S/ {{ uvirFirstPayment() | number:'1.2-2' }}</th>
                </tr>
              </tfoot>
            </table>
          </div>
        </section>
      </div>
      <div class="col-sm-6">
        <section class="box box-warning">
          <header class="box-header with-border">
            <h3 class="box-title">2°Cuota</h3>
          </header>
          <div class="table-responsive table-material">
            <table class="table">
              <tbody>
                <tr>
                  <th class="text-orange">
                    2° Cuota
                  </th>
                  <td><span *ngIf="getDateByCuota('C02') != null">{{getDateByCuota('C02')  | date: 'dd/MM/yyyy'}}</span>
                  </td>
                  <td>S/ {{ uvirAllPayment(2) | number:'1.2-2' }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </section>
        <section class="box box-warning">
          <header class="box-header with-border">
            <h3 class="box-title">3° y 4° Cuota</h3>
          </header>
          <div class="table-responsive table-material">
            <table class="table">
              <tbody>
                <tr>
                  <th class="text-orange">
                    3° Cuota
                  </th>
                  <td><span *ngIf="getDateByCuota('C03') != null">{{getDateByCuota('C03')  | date: 'dd/MM/yyyy'}}</span>
                  </td>
                  <td>S/ {{ uvirAllPayment(3) | number:'1.2-2' }}</td>
                </tr>
                <tr>
                  <th class="text-orange">
                    4° Cuota
                  </th>
                  <td><span *ngIf="getDateByCuota('C04') != null">{{getDateByCuota('C04')  | date: 'dd/MM/yyyy'}}</span>
                  </td>
                  <td>S/ {{ uvirAllPayment(4) | number:'1.2-2' }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </section>
      </div>
    </div>
  </div>

  <!-- Mensajes de Ayuda -->
  <div>
    <div class="row">
      <div class="col-sm-6">
        <div class="box box-info">
          <header class="box-header with-border bg-aqua text-bold">
            <h3 class="box-title ">
              <i class="fa fa-file-text"></i> ¿Cómo se obtiene la 1ra cuota?</h3>
          </header>
          <section class="box-body">
            <p [hidden]="payment.department !== 'UREG' ">
              La primera cuota es el resultado de multiplicar el costo de un crédito, el cual está definido de acuerdo a
              la Escuela Académica
              Profesional y la escala, por {{creditsNumberByPlan}}.
            </p>
            <p [hidden]="payment.department === 'UREG' ">
              La primera cuota es el resultado de multiplicar el costo de un crédito, el cual está definido de acuerdo a
              la Escuela Académica Profesional, por {{creditsNumberByPlan}}.
            </p>
          </section>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="box box-info">
          <header class="box-header with-border bg-aqua text-bold">
            <h3 class="box-title ">
              <i class="fa fa-file-text"></i> ¿Cómo se obtienen las cuotas restantes?
            </h3>
          </header>
          <section class="box-body">
            <p [hidden]="payment.department !== 'UREG' ">
              El monto de cada una de las cuotas que quedan son el resultado de dividir los créditos restantes (Total de
              créditos matriculados menos los 4 créditos pagados inicialmente) entre las 4 cuotas que faltan pagar y
              multiplicarlo por el costo de un crédito
              <br />
              <br /> 2da a 5ta Cuota = [(Número de créditos matriculados - 4) / 4] x Costo por crédito

            </p>
            <p [hidden]="payment.department === 'UREG' ">
              Cada período tiene dos bloques, el número de créditos para cada bloque puede variar
              (Verifica al hacer tu horario, el número de créditos
              depende de las asignaturas que matricules en cada bloque).
            </p>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
