<loading [text]="'Cargando boleta...'" *ngIf="loading"></loading>

<div class="callout callout-warning" *ngIf="!loading && error">
  <h4><i class="icon fa fa-warning"></i> Error!</h4>
  <p>Lo sentimos no pudimos obtener los períodos, estamos trabajando para resolver este problema cuanto antes, pruebe
    dentro de un momento</p>
</div>

<div *ngIf="type === 'simple' && !error && !loading && !claimNote">
  <div class="card card-primary hidden-print">
    <div class="header">
      <h3 class="title"><i class="fa fa-calendar"></i> Períodos:</h3>
    </div>
    <div class="body p-0">
      <ul class="scrollViewX text-center pv" *ngIf="terms.length>0">
        <li class="scrollViewItem" *ngFor="let term of terms">
          <button class="btn btn-lg btn-outline-primary" [ngClass]="{'bg-primary':currentTerm==term}"
            (click)="getReportCard(term)">{{term}}</button>
        </li>
      </ul>
      <loading [text]="'Cargando períodos...'" [size]="'small'" *ngIf="terms.length==0"></loading>
    </div>
  </div>

  <div class="card card-primary" *ngIf="allCourses.length > 0 && !loadingNotes">
    <div class="header">
      <h3 class="title text-bold">
        <i class="fc-report-card"></i> Notas del período - <span class="text-primary">{{currentTerm}}</span>
        <button type="button" class="btn bg-info hidden-print" (click)="type = 'full'">Detallado</button>
      </h3>
    </div>
    <section class="body">
      <div class="table-responsive table-material table-selected mb" *ngIf="courses.length > 0">
        <table class= "table">
          <thead class="bg-info text-white">
            <tr>
              <th class="text-center" width="120px">Código</th>
              <th>Asignatura</th>
              <th class="text-center" width="55px">C1</th>
              <th class="text-center" *ngIf="currentTerm < '201510'">TA1</th>
              <th class="text-center" width="55px">EP</th>
              <th class="text-center" width="55px">C2</th>
              <th class="text-center" *ngIf="currentTerm < '201510'">TA1</th>
              <th class="text-center" width="55px">EF</th>
              <th class="text-center" width="90px">Promedio</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let course of courses">
              <td class="text-center">
                {{course.id}}
              </td>
              <td class="text-left">
                {{course.name}}
                <span *ngIf="course.observation !== ''" class="pull-right">
                  <span class="badge bg-orange"> * {{course.observation}} el
                    {{course.date | date:'dd/MM/yyyy hh:mm a'}}</span>
                </span>
              </td>
              <td class="text-center text-bold"
                [ngClass]="{'text-primary': getComponent(course, '2-C1').score > 10,'text-red': getComponent(course, '2-C1').score <= 10}">
                {{getComponent(course, '2-C1').score || '--'}}
              </td>
              <td class="text-center text-bold" *ngIf="currentTerm < '201510'"
                [ngClass]="{'text-primary': getComponent(course, '0-T1').score > 10,'text-red': getComponent(course, '0-T1').score <= 10}">
                {{getComponent(course, '0-T1').score || '--'}}
              </td>
              <td class="text-center text-bold"
                [ngClass]="{'text-primary': getComponent(course, '3-EP').score > 10,'text-red': getComponent(course, '3-EP').score <= 10}">
                {{getComponent(course, '3-EP').score || '--'}}
              </td>
              <td class="text-center text-bold"
                [ngClass]="{'text-primary': getComponent(course, '4-C2').score > 10,'text-red': getComponent(course, '4-C2').score <= 10}">
                {{getComponent(course, '4-C2').score || '--'}}
              </td>
              <td class="text-center text-bold" *ngIf="currentTerm < '201510'"
                [ngClass]="{'text-primary': getComponent(course, '0-T2').score > 10,'text-red': getComponent(course, '0-T2').score <= 10}">
                {{getComponent(course, '0-T2').score || '--'}}
              </td>
              <td class="text-center text-bold"
                [ngClass]="{'text-primary': getComponent(course, '5-EF').score > 10,'text-red': getComponent(course, '5-EF').score <= 10}">
                {{getComponent(course, '5-EF').score || '--'}}
              </td>
              <td class="text-center text-bold">
                <span *ngIf="course.score != '-'"
                  [ngClass]="{'text-primary': course.score > 10,'text-red': course.score <= 10}">{{course.score}}</span>
                <span *ngIf="course.score == '-'" class="badge bg-info">Pendiente</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="table-responsive table-material table-selected" *ngIf="minorityCourses.length > 0">
        <table class="table">
          <thead class="bg-info text-white">
            <tr>
              <th class="text-center" width="120px">Código</th>
              <th>Asignatura</th>
              <th class="text-center" colspan="6">Componentes</th>
              <th class="text-center" width="90px">Promedio</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let course of minorityCourses">
              <td class="text-center">{{course.id}}</td>
              <td>
                {{course.name}}
                <span *ngIf="course.observation !== ''" class="pull-right">
                  <span class="badge bg-orange"> * {{course.observation}} el
                    {{course.date | date:'dd/MM/yyyy hh:mm a'}}</span>
                </span>
              </td>
              <td>
                <strong *ngIf="course.components[0].code" class="text-aqua">[{{course.components[0].code || ''}}] -
                </strong>
                <span
                  [ngClass]="{'text-primary': course.components[0].score > 10,'text-red': course.components[0].score <= 10}">{{course.components[0].score || ''}}</span>
              </td>
              <td>
                <strong *ngIf="course.components[1].code" class="text-aqua">[{{course.components[1].code || ''}}] -
                </strong>
                <span
                  [ngClass]="{'text-primary': course.components[1].score > 10,'text-red': course.components[1].score <= 10}">{{course.components[1].score || ''}}</span>
              </td>
              <td>
                <strong *ngIf="course.components[2].code" class="text-aqua">[{{course.components[2].code || ''}}] -
                </strong>
                <span
                  [ngClass]="{'text-primary': course.components[2].score > 10,'text-red': course.components[2].score <= 10}">{{course.components[2].score || ''}}</span>
              </td>
              <td>
                <strong *ngIf="course.components[3].code" class="text-aqua">[{{course.components[3].code || ''}}] -
                </strong>
                <span
                  [ngClass]="{'text-primary': course.components[3].score > 10,'text-red': course.components[3].score <= 10}">{{course.components[3].score || ''}}</span>
              </td>
              <td>
                <strong *ngIf="course.components[4].code" class="text-aqua">[{{course.components[4].code || ''}}] -
                </strong>
                <span
                  [ngClass]="{'text-primary': course.components[4].score > 10,'text-red': course.components[4].score <= 10}">{{course.components[4].score || ''}}</span>
              </td>
              <td>
                <strong *ngIf="course.components[5].code" class="text-aqua">[{{course.components[5].code || ''}}] -
                </strong>
                <span
                  [ngClass]="{'text-primary': course.components[5].score > 10,'text-red': course.components[5].score <= 10}">{{course.components[5].score || ''}}</span>
              </td>
              <td class="text-center">
                <span class="text-bold" *ngIf="course.score != '-'"
                  [ngClass]="{'text-primary': course.score > 10,'text-red': course.score <= 10}">{{course.score}}</span>
                <span *ngIf="course.score == '-'" class="badge bg-info">Pendiente</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- resumen -->
      <div class="pull-right">
        <h4 class="text-bold">
          <abbr class="no-print-title" title="Promedio General Acumulado">PGA</abbr>:
          <span *ngIf="averagePendin == 0"
            [ngClass]="{'text-primary': getPGA() > 10,'text-red': getPGA() <= 10}">{{getPGA()| number:'2.2-2'}}</span>
          <span *ngIf="averagePendin > 0" class="badge bg-info">Pendiente</span>
        </h4>
      </div>
      <div class="clearfix"></div>
    </section>
  </div>
</div>

<loading [text]="'Cargando Notas...'" *ngIf="!loading && type === 'simple' && !errorNotes && loadingNotes && !error">
</loading>

<div class="callout callout-warning" *ngIf="!loadingNotes && errorNotes">
  <h4><i class="icon fa fa-warning"></i>Error!</h4>
  <p>Lo sentimos no pudimos obtener las notas, estamos trabajando para resolver este problema cuanto antes, pruebe
    dentro de un momento</p>
</div>

<!-- version detallada de la boleta -->
<div *ngIf="(type !== 'simple' || claimNote) && allCourses.length > 0 && !loading">
  <!-- oculto al imprimir la boleta por no mostrar mucho detalle -->
  <div class="card card-primary">
    <div class="header with-toggle">
      <h3 class="title text-bold"><i class="fa fa-list-alt"></i> Boleta de notas detallada
        <button type="button" class="btn bg-info hidden-print" (click)="type = 'simple'" *ngIf="!claimNote">Versión compacta</button>
      </h3>
    </div>
    <section class="body text-bold pb-0 pr-0 pl-0">
      <div class="col-sm-6 print-sm">
        <div class="card text-center">
          <h2 class="title my text-primary text-bold">
            <i class="fa fa-calendar-check-o"></i> {{currentTerm}}
          </h2>
          <h3 class="text-secondary text-bold my">Período</h3>
        </div>
      </div>
      <div class="col-sm-6 print-sm">
        <div class="card text-center">
          <h2 class="title my">
            <span *ngIf="averagePendin == 0" class="text-bold"
              [ngClass]="{'text-primary': getPGA() > 10,'text-red': getPGA() <= 10}"><i class="fc-report-card"></i>
              {{getPGA()| number:'2.2-2'}}</span>
            <span *ngIf="averagePendin > 0" class="badge bg-info p-3 fc-16">Pendiente</span>
          </h2>
          <h3 class="text-secondary text-bold my"><abbr class="no-print-title"
              title="Promedio General Acumulado">PGA</abbr></h3>
        </div>
      </div>
    </section>
  </div>

  <!-- Visible solo al imprimir la boleta de nota -->
  <!-- se incluyo por detalle de la bolet -->
  <div class="card card-primary visible-print-block" *ngIf="allCourses.length > 0 && !loadingNotes">
    <div class="header">
      <h3 class="title text-bold">
        <i class="fc-report-card"></i> Notas del período - <span class="text-primary">{{currentTerm}}</span>
        <button type="button" class="btn bg-info hidden-print" (click)="type = 'full'">Detallado</button>
      </h3>
    </div>
    <section class="body">
      <div class="table-responsive table-material mb table-selected" *ngIf="courses.length > 0">
        <table class="table">
          <thead class="bg-info text-white">
            <tr>
              <th class="text-center" width="120px">Código</th>
              <th>Asignatura</th>
              <th class="text-center" width="55px">C1</th>
              <th class="text-center" *ngIf="currentTerm < '201510'">TA1</th>
              <th class="text-center" width="55px">EP</th>
              <th class="text-center" width="55px">C2</th>
              <th class="text-center" *ngIf="currentTerm < '201510'">TA1</th>
              <th class="text-center" width="55px">EF</th>
              <th class="text-center" width="90px">Promedio</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let course of courses">
              <td class="text-center">
                {{course.id}}
              </td>
              <td class="text-left">
                {{course.name}}
                <span *ngIf="course.observation !== ''" class="pull-right">
                  <span class="badge bg-orange"> * {{course.observation}} el
                    {{course.date | date:'dd/MM/yyyy hh:mm a'}}</span>
                </span>
              </td>
              <td class="text-center text-bold"
                [ngClass]="{'text-primary': getComponent(course, '2-C1').score > 10,'text-red': getComponent(course, '2-C1').score <= 10}">
                {{getComponent(course, '2-C1').score || '--'}}
              </td>
              <td class="text-center text-bold" *ngIf="currentTerm < '201510'"
                [ngClass]="{'text-primary': getComponent(course, '0-T1').score > 10,'text-red': getComponent(course, '0-T1').score <= 10}">
                {{getComponent(course, '0-T1').score || '--'}}
              </td>
              <td class="text-center text-bold"
                [ngClass]="{'text-primary': getComponent(course, '3-EP').score > 10,'text-red': getComponent(course, '3-EP').score <= 10}">
                {{getComponent(course, '3-EP').score || '--'}}
              </td>
              <td class="text-center text-bold"
                [ngClass]="{'text-primary': getComponent(course, '4-C2').score > 10,'text-red': getComponent(course, '4-C2').score <= 10}">
                {{getComponent(course, '4-C2').score || '--'}}
              </td>
              <td class="text-center text-bold" *ngIf="currentTerm < '201510'"
                [ngClass]="{'text-primary': getComponent(course, '0-T2').score > 10,'text-red': getComponent(course, '0-T2').score <= 10}">
                {{getComponent(course, '0-T2').score || '--'}}
              </td>
              <td class="text-center text-bold"
                [ngClass]="{'text-primary': getComponent(course, '5-EF').score > 10,'text-red': getComponent(course, '5-EF').score <= 10}">
                {{getComponent(course, '5-EF').score || '--'}}
              </td>
              <td class="text-center text-bold">
                <span *ngIf="course.score != '-'"
                  [ngClass]="{'text-primary': course.score > 10,'text-red': course.score <= 10}">{{course.score}}</span>
                <span *ngIf="course.score == '-'" class="badge bg-info">Pendiente</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  
      <div class="table-responsive table-material table-selected" *ngIf="minorityCourses.length > 0">
        <table class="table">
          <thead class="bg-info text-white">
            <tr>
              <th class="text-center" width="120px">Código</th>
              <th>Asignatura</th>
              <th class="text-center" colspan="6">Componentes</th>
              <th class="text-center" width="90px">Promedio</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let course of minorityCourses">
              <td class="text-center">{{course.id}}</td>
              <td>
                {{course.name}}
                <span *ngIf="course.observation !== ''" class="pull-right">
                  <span class="badge bg-orange"> * {{course.observation}} el
                    {{course.date | date:'dd/MM/yyyy hh:mm a'}}</span>
                </span>
              </td>
              <td> <strong *ngIf="course.components[0].code" class="text-aqua">[{{course.components[0].code || ''}}] -
                </strong> {{course.components[0].score || ''}}</td>
              <td> <strong *ngIf="course.components[1].code" class="text-aqua">[{{course.components[1].code || ''}}] -
                </strong> {{course.components[1].score || ''}}</td>
              <td> <strong *ngIf="course.components[2].code" class="text-aqua">[{{course.components[2].code || ''}}] -
                </strong> {{course.components[2].score || ''}}</td>
              <td> <strong *ngIf="course.components[3].code" class="text-aqua">[{{course.components[3].code || ''}}] -
                </strong> {{course.components[3].score || ''}}</td>
              <td> <strong *ngIf="course.components[4].code" class="text-aqua">[{{course.components[4].code || ''}}] -
                </strong> {{course.components[4].score || ''}}</td>
              <td> <strong *ngIf="course.components[5].code" class="text-aqua">[{{course.components[5].code || ''}}] -
                </strong> {{course.components[5].score || ''}}</td>
              <td class="text-center">
                <span class="text-bold" *ngIf="course.score != '-'">{{course.score}}</span>
                <span *ngIf="course.score == '-'" class="badge bg-info">Pendiente</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- resumen -->
      <div class="pull-right">
        <h4 class="text-bold"><abbr class="no-print-title" title="Promedio General Acumulado">PGA</abbr>:
          <span *ngIf="averagePendin == 0"
            [ngClass]="{'text-primary': getPGA() > 10,'text-red': getPGA() <= 10}">{{getPGA()| number:'2.2-2'}}</span>
          <span class="badge bg-info font-inherit" *ngIf="averagePendin > 0"> Pendiente</span>
        </h4>
      </div>
      <div class="clearfix"></div>
    </section>
  </div>
  <h2 class="text-bold text-primary visible-print-block">Detalles:</h2>
  <!-- Normal report details -->
  <div class="card card-primary" *ngFor="let course of courses; index as x">
    <div class="header with-toggle">
      <h3 class="title">
        <i class="fa fa-book"></i> ({{course.id}}) {{course.name}}:
        <span class="badge bg-gray text-dark p-2 font-inherit text-bold">
          Promedio:
          <span *ngIf="course.score =='-'" class="badge bg-info">Pendiente</span>
          <span class="text-bold" *ngIf="course.score !='-'"
            [ngClass]="{'text-primary': course.score > 10,'text-red': course.score <= 10}">{{course.score}}</span>
        </span>
      </h3>
      <i class="toggle text-white fa fa-chevron-up" [attr.data-divtoggle]="'detalle-'+x"
        data-divtogglerotate="true"></i>
    </div>
    <section class="body pv d-lg-flex print-no-flex" [attr.data-divtoggleview]="'detalle-'+x">
      <div class="col-lg-6 d-flex flex-column justify-content-between">
        <div class="table-responsive table-material table-selected">
          <table class="table">
            <thead class="bg-info text-white">
              <tr>
                <th colspan="4">Consolidado 1</th>
              </tr>
              <tr>
                <th><span
                    *ngIf="getComponent(course, '2-C1').sub != undefined && getComponent(course, '2-C1').sub.length > 0">Tipo</span>
                </th>
                <th class="text-center" width="65px">Peso</th>
                <th class="text-center" width="100px">Nota</th>
                <th class="text-center" width="180px">Fecha de carga</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let scomponent of getComponent(course, '2-C1').sub">
                <td>{{scomponent.name}}</td>
                <td class="text-center">{{scomponent.weight}}%</td>
                <td class="text-center">
                  <span *ngIf="scomponent.score == null" class="badge bg-info">Pendiente</span>
                  <span class="text-bold" *ngIf="scomponent.score != null"
                    [ngClass]="{'text-primary': scomponent.score > 10,'text-red': scomponent.score <= 10}">
                    {{scomponent.score}}
                    <!-- Reclamar Subcomponente (Consolidado 1)-->
                    <button *ngIf="validateNoteClaim(course, scomponent)" class="btn btn-sm btn-info hidden-print"
                      (click)="sendNoteClaim(course, scomponent)">Reclamar</button>
                  </span>

                </td>
                <td class="text-center">{{scomponent.date | date: 'dd/MM/yyyy hh:mm a' || '--/--/----'}}</td>
              </tr>
            </tbody>
            <tfoot>
              <tr class="text-bold" [ngClass]="{'bg-white': getComponent(course, '2-C1').sub == undefined || getComponent(course, '2-C1').sub.length == 0}">
                <td>Promedio consolidado 1</td>
                <td class="text-center">100%</td>
                <td class="text-center">
                  <span *ngIf="getComponent(course, '2-C1').score =='-'" class="badge bg-info">Pendiente</span>
                  <span class="text-bold" *ngIf="getComponent(course, '2-C1').score !='-'"
                    [ngClass]="{'text-primary': getComponent(course, '2-C1').score > 10,'text-red': getComponent(course, '2-C1').score <= 10}">
                    {{getComponent(course,'2-C1').score}}
                    <!-- Reclamar Promedio (Consolidado 1)-->
                    <button
                      *ngIf="validateNoteClaim(course, getComponent(course, '2-C1')) && (getComponent(course, '2-C1').sub == null || getComponent(course, '2-C1').sub <= 0)"
                      (click)="sendNoteClaim(course, getComponent(course, '2-C1'))"
                      class="btn btn-sm btn-info hidden-print">Reclamar</button>
                  </span>

                </td>
                <td *ngIf="getComponent(course, '2-C1').date == null" class="text-center">--/--/----</td>
                <td *ngIf="getComponent(course, '2-C1').date != null" class="text-center">
                  {{getComponent(course, '2-C1').date | date: 'dd/MM/yyyy hh:mm a' || '--/--/----'}}</td>
              </tr>
            </tfoot>
          </table>
        </div>

        <div class="table-responsive table-material mv">
          <table class="table">
            <thead class="bg-info text-white tex-center">
              <tr>
                <th></th>
                <th class="text-center" width="65px">Peso</th>
                <th class="text-center" width="100px">Nota</th>
                <th class="text-center" width="180px">Fecha de carga</th>
              </tr>
            </thead>
            <tfoot>
              <tr class="text-bold bg-white">
                <td>Examen parcial</td>
                <td *ngIf="getComponent(course,'3-EP').weight == null" class="text-center">--</td>
                <td *ngIf="getComponent(course,'3-EP').weight != null" class="text-center">
                  {{getComponent(course,'3-EP').weight + '%'}}</td>
                <td class="text-center">
                  <span *ngIf="getComponent(course, '3-EP').score =='-'" class="badge bg-info">Pendiente</span>
                  <span class="text-bold" *ngIf="getComponent(course, '3-EP').score !='-'"
                    [ngClass]="{'text-primary': getComponent(course, '3-EP').score > 10,'text-red': getComponent(course, '3-EP').score <= 10}">
                    {{getComponent(course,'3-EP').score}}
                    <!-- Reclamar Componente (Parcial)-->
                    <button *ngIf="validateNoteClaim(course, getComponent(course, '3-EP'))" (click)="sendNoteClaim(course, getComponent(course, '3-EP'))"
                      class="btn btn-sm btn-info hidden-print">Reclamar</button>
                  </span>
                </td>
                <td *ngIf="getComponent(course, '3-EP').date == null" class="text-center">--/--/----</td>
                <td *ngIf="getComponent(course, '3-EP').date != null" class="text-center">
                  {{getComponent(course, '3-EP').date | date: 'dd/MM/yyyy hh:mm a'}}</td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
      <div class="col-lg-6 d-flex flex-column justify-content-between">
        <div class="table-responsive table-material table-selected">
          <table class="table">
            <thead class="bg-info text-white">
              <tr>
                <th colspan="4">Consolidado 2</th>
              </tr>
              <tr>
                <th><span
                    *ngIf="getComponent(course, '4-C2').sub != undefined && getComponent(course, '4-C2').sub.length > 0">Tipo</span>
                </th>
                <th class="text-center" width="65px">Peso</th>
                <th class="text-center" width="100px">Nota</th>
                <th class="text-center" width="180px">Fecha de carga</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let scomponent of getComponent(course, '4-C2').sub">
                <td>{{scomponent.name}}</td>
                <td class="text-center">{{scomponent.weight}}%</td>
                <td class="text-center">
                  <span *ngIf="scomponent.score == null" class="badge bg-info">Pendiente</span>
                  <span class="text-bold" *ngIf="scomponent.score != null"
                    [ngClass]="{'text-primary': scomponent.score > 10,'text-red': scomponent.score <= 10}">
                    {{scomponent.score}}
                    <!-- Reclamar Subcomponente (Consolidado 2)-->
                    <button *ngIf="validateNoteClaim(course, scomponent)" (click)="sendNoteClaim(course, scomponent)"
                      class="btn btn-sm btn-info hidden-print">Reclamar</button>
                  </span>
                </td>
                <td class="text-center">{{scomponent.date | date: 'dd/MM/yyyy hh:mm a' || '--/--/----'}}</td>
              </tr>
            </tbody>
            <tfoot>
              <tr class="text-bold" [ngClass]="{'bg-white': getComponent(course, '4-C2').sub == undefined || getComponent(course, '4-C2').sub.length == 0}">
                <td>Promedio consolidado 2</td>
                <td class="text-center">100%</td>
                <td class="text-center">
                  <span *ngIf="getComponent(course, '4-C2').score =='-'" class="badge bg-info">Pendiente</span>
                  <span class="text-bold" *ngIf="getComponent(course, '4-C2').score !='-'"
                    [ngClass]="{'text-primary': getComponent(course, '4-C2').score > 10,'text-red': getComponent(course, '4-C2').score <= 10}">
                    {{getComponent(course, '4-C2').score}}
                    <!-- Reclamar Promedio (Consolidado 2)-->
                    <button
                      *ngIf="validateNoteClaim(course, getComponent(course, '4-C2')) && (getComponent(course, '4-C2').sub == null || getComponent(course, '4-C2').sub <=0 )"
                      (click)="sendNoteClaim(course, getComponent(course, '4-C2'))"
                      class="btn btn-sm btn-info hidden-print">Reclamar</button>
                  </span>
                </td>
                <td *ngIf="getComponent(course, '4-C2').date == null" class="text-center">--/--/----</td>
                <td *ngIf="getComponent(course, '4-C2').date != null" class="text-center">
                  {{getComponent(course, '4-C2').date | date: 'dd/MM/yyyy hh:mm a' || '--/--/----'}}</td>
              </tr>
            </tfoot>
          </table>
        </div>

        <div class="table-responsive table-material mv">
          <table class="table">
            <thead class="bg-info text-white tex-center">
              <tr>
                <th></th>
                <th class="text-center" width="65px">Peso</th>
                <th class="text-center" width="100px">Nota</th>
                <th class="text-center" width="180px">Fecha de carga</th>
              </tr>
            </thead>
            <tfoot>
              <tr class="text-bold bg-white">
                <td>Examen final</td>
                <td *ngIf="getComponent(course,'5-EF').weight == null" class="text-center">--</td>
                <td *ngIf="getComponent(course,'5-EF').weight != null" class="text-center">
                  {{getComponent(course,'5-EF').weight + '%'}}</td>
                <td class="text-center">
                  <span *ngIf="getComponent(course, '5-EF').score =='-'" class="badge bg-info">Pendiente</span>
                  <span *ngIf="getComponent(course, '5-EF').score !='-'"
                    [ngClass]="{'text-primary': getComponent(course, '5-EF').score > 10,'text-red': getComponent(course, '5-EF').score <= 10}">
                    {{getComponent(course,'5-EF').score}}
                    <!-- Reclamar promedio (Examen Final))-->
                    <button *ngIf="validateNoteClaim(course, getComponent(course, '5-EF'))" (click)="sendNoteClaim(course, getComponent(course, '5-EF'))"
                      class="btn btn-sm btn-info hidden-print">Reclamar</button>
                  </span>
                </td>
                <td *ngIf="getComponent(course, '5-EF').date == null" class="text-center">--/--/----</td>
                <td *ngIf="getComponent(course, '5-EF').date != null" class="text-center">
                  {{getComponent(course, '5-EF').date | date: 'dd/MM/yyyy hh:mm a' || '--/--/----'}}</td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </section>
  </div>


  <!-- Minority report details for boarding school of medicine-->
  <div class="card card-primary" *ngFor="let course of minorityCourses; index as m">
    <header class="header with-toggle">
      <h3 class="title">
        <i class="fa fa-book"></i> ({{course.id}}) {{course.name}}:
        <span class="badge bg-gray text-dark p-2 font-inherit text-bold">
          Promedio:
          <span *ngIf="course.score =='-'" class="badge bg-info">Pendiente</span>
          <span *ngIf="course.score !='-'"
            [ngClass]="{'text-primary': course.score > 10,'text-red': course.score <= 10}">{{course.score}}</span>
        </span>
      </h3>
      <i class="toggle text-white fa fa-chevron-up" [attr.data-divtoggle]="'minority-'+m"
        data-divtogglerotate="true"></i>
    </header>
    <section class="body" [attr.data-divtoggleview]="'minority-'+m">
      <div class="table-responsive table-material table-selected">
        <table class="table">
          <thead>
            <tr class="bg-info">
              <th>Componente</th>
              <th width="65px">Peso</th>
              <th width="100px">Nota</th>
              <th class="text-center" width="180px">Fecha de carga</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let component of course.components">
              <td *ngIf="component.code"> [{{component.code}}] {{component.name}}</td>
              <td *ngIf="component.code"> {{component.weight || '--'}}% </td>
              <td class="text-center" *ngIf="component.code">
                <span *ngIf="component.score == null" class="badge bg-info">Pendiente</span>
                <span class="text-bold" *ngIf="component.score != null"
                  [ngClass]="{'text-primary': component.score > 10,'text-red': component.score <= 10}">
                  {{component.score}}
                  <!-- Reclamar Componente (Otros)-->
                  <button *ngIf="validateNoteClaim(course, scomponent)" (click)="sendNoteClaim(course, scomponent)"
                    class="btn btn-sm btn-info hidden-print">Reclamar</button>
                </span>

              </td>
              <td class="text-center" *ngIf="component.code">
                <div *ngIf="component.sub.length === 0">
                  <span *ngIf="component.score_old">
                    <span class="badge bg-orange"> * {{course.observation}} ({{component.score_old}})</span>
                    <br> {{course.date | date:'dd/MM/yyyy hh:mm a'}}
                  </span>
                  <span *ngIf="!component.score_old">
                    {{component.date | date:'dd/MM/yyyy hh:mm a' || '--/--/----'}}
                  </span>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
  </div>

</div>
