<div class="row">
  <div class="col-md-6">
    <section class="box box-primary">
      <header class="box-header with-border">
        Resoluciones
      </header>
      <article class="box-body" *ngIf="loading">
        cargando
      </article>
      <article class="box-body" *ngIf="!loading">
        <ul class="products-list product-list-in-box">
          <li class="item" *ngIf="!resolutions || resolutions.length === 0">
            <div class="product-img">
              <img [src]="_c._BASE_URI+'Content/static/images/no_certificate_small.png'" alt="cert">
            </div>
            <div class="product-info">
              <strong class="product-title">No tienes resoluciones</strong>
            </div>
          </li>
          <li class="item" *ngFor="let res of resolutions">
            <div class="product-img">
              <a [href]="res.document_uri[0]" target="_blank">
                <img [src]="_c._BASE_URI+'Content/static/images/certificate_small.png'" alt="cert" class="hand">
              </a>
            </div>
            <div class="product-info">
              <strong class="product-title">{{res.id}}
                <span class="label label-primary pull-right">
                  <i class="fa fa-certificate"></i>
                  {{(res.description | jsonParse).conva_resolution || '-------'}}
                </span>
              </strong>
              <span class="product-description">
                {{ config.getDocumentName(res.document_id)}}.
              </span>
            </div>
          </li>
        </ul>
      </article>
    </section>
  </div>
  <div class="col-md-6">
    <section class="box box-warning">
      <header class="box-header with-border">
        Pendientes
      </header>
      <article class="box-body" *ngIf="loading">
        cargando
      </article>
      <article class="box-body" *ngIf="!loading">
        <ul class="products-list product-list-in-box">
          <li class="item" *ngIf="!pendings || pendings.length === 0">
            <div class="product-info">
              <span class="product-description">
                No tienes solicitudes de resolución pendientes
              </span>
            </div>
          </li>
          <li class="item" *ngFor="let res of pendings">
            <div class="product-img">
              <img [src]="_c._BASE_URI+'Content/static/images/clock_small.png'" alt="wait">
            </div>
            <div class="product-info">
              <strong>{{res.id}}</strong>
              <span class="product-description">
                    {{ config.getDocumentName(res.document_id)}}. <br>
                    Ver <a [routerLink]="['/frontdesk/tramite/seguimiento']">seguimiento</a>.
              </span>
            </div>
          </li>
        </ul>
      </article>
    </section>
  </div>
</div>
