<div class="box box-info">
  <div class="box-header with-border">
    <h3 class="box-title">Carné Universitario</h3>
  </div>


  <div class="form-horizontal">
    <loading *ngIf="loading"></loading>
    <div class="box-body" *ngIf="!loading">
      <div class="alert-student alert-student-orange" *ngIf="card == null">
        <h4 class="m-0"><i class="fa fa-info-circle"></i> No se tramitó su carné universitario en el periodo actual.
        </h4>
      </div>
      <div class="table-responsive" *ngIf="card != null">
        <table class="table is-hoverable is-striped">
          <tbody>
            <tr>
              <th>Llego</th>
              <td>
                <span class="is-size-5 has-text-danger" *ngIf="card.arrived != '1'">No&nbsp;</span>
                <i class="fa is-size-4 fa-times has-text-danger" *ngIf="card.arrived != '1'"></i>
                <span class="is-size-5 has-text-success" *ngIf="card.arrived == '1'">Si&nbsp;</span>
                <i class="fa is-size-4 fa-check has-text-success" *ngIf="card.arrived == '1'"></i>
              </td>
            </tr>
            <tr *ngIf="card.arrived == '1'">
              <th>Fecha de trámite</th>
              <td>{{card.procedureDate | date: 'dd/MM/yyyy hh:mm'}}</td>
            </tr>
            <tr *ngIf="card.arrived == '1'">
              <th>Tipo de trámite</th>
              <td>{{card.statusProcessed}}</td>
            </tr>
            <tr *ngIf="card.arrived != '1'">
              <th>Motivo de NO llegada</th>
              <td>{{card.observationProcedure}}</td>
            </tr>
            <tr>
              <th>Estado de carné</th>
              <th *ngIf="card.arrived != '1'">Finalizado </th>
              <th *ngIf="card.arrived == '1' && card.delivered != '1'">Pendiente de entrega </th>
              <th *ngIf="card.arrived == '1' && card.delivered == '1'">Entregado </th>

            </tr>
            <tr *ngIf="card.arrived == '1' && card.delivered == '1' && card.deliveryDate != null">
              <th>Fecha de entrega</th>
              <td>{{ card.deliveryDate  | date: 'dd/MM/yyyy hh:mm'}}</td>
            </tr>
            <tr *ngIf="card.arrived == '1' && card.expirationDate != null">
              <th>Fecha de caducidad</th>
              <td>{{ card.expirationDate  | date: 'dd/MM/yyyy'}}</td>
            </tr>
            <tr *ngIf="card.arrived == '1' && card.expirationDate != null">
              <th>Lugar de entrega</th>
              <td *ngIf="card.campus == 'F03'">Filial Cusco</td>
              <td *ngIf="card.campus == 'F02'">Filial Lima</td>
              <td *ngIf="card.campus == 'F01'">Filial Arequipa</td>
              <td *ngIf="card.campus == 'S01'">Filial Huancayo</td>
              <td *ngIf="card.campus == 'V00'">Virtual</td>
            </tr>
            <tr *ngIf="card.arrived == '1' && card.delivered != '1'">
              <td colspan="2">
                <div class="alert-student alert-student-green">
                  <h4 class="m-0"><i class="fa fa-info-circle"></i>Si deseas mayor información, acércate a la oficina de Registros Académicos, en horarios de oficina.
                    También puedes escribir al correo de registros académicos, según corresponda a tu filial:
                    <ul>
                      <li>Filial Cusco : registrosacademicoscusco@continental.edu.pe</li>
                      <li>Filial Lima: registrosacademicoslima@continental.edu.pe</li>
                      <li>Filial Arequipa : registrosacademicosarequipa@continental.edu.pe</li>
                      <li>Sede principal Huancayo : registrosacademicos@continental.edu.pe</li>
                    </ul>
                  </h4>
                </div>
              </td>
            </tr>
          </tbody>
        </table>

      </div>

    </div>
  </div>


</div>