<div class="box box-default">
  <header class="box-header with-border">
    <h3 class="box-title"><i class="fa fa-file-text"></i> Solicitud</h3>
    <div class="box-tools">
      <a class="btn btn-default" onclick="window.history.go(-1); return false;">
        <i class="fa fa-arrow-left"></i> Regresar</a>
    </div>
  </header>
  <section class="box-body box-comments" *ngIf="request !== null">
    <!-- resumen de la solicitud -->
    <bo-request-abstract [request]="request" [config]="config"
                         (update)="getIdealFlow(flow, $event)"></bo-request-abstract>
    <!-- Generar Documento -->
    <bo-generate-document [request]="request" (updateLogs)="updateLogs($event)"
                          *ngIf="request.document_id==23 && (request.state == config.STATE_DELIVERY_PENDING || request.state == config.STATE_PROCESS_PENDING)"></bo-generate-document>
    <!-- Derivar(Aprobar) Documento -->
    <div *ngIf="request.office_id === config.OFFICE_RAU && request.state !== config.STATE_CANCEL">
      <div class="comment-text">
        <form class="form">
          <p><strong>Aprobar Documento </strong></p>
          <p class="form-group">
            <label for="">Mensaje</label>
            <textarea name="name" rows="6" cols="26" class="form-control"
                      [(ngModel)]="aprovate_message"></textarea>
          </p>
          <p *ngIf="request.state === config.STATE_APROVAL_PENDING &&
                              (request.document_id === config.DOC_STUDIES_CERTIFICATE ||
                               request.document_id === config.DOC_CUSTOM_STUDIES_PROOF ||
                               request.document_id === config.DOC_PROMOTIONAL_STUDIES_CERTIFICATE)">
            <button class="btn btn-big btn-primary"
                    (click)="aprovateRequest($event, request.id, aprovate_message)"
                    [disabled]="aprovate_message === undefined || aprovate_message.length < 10"
                    [hidden]="is_derivate">Aprobar
            </button>
            <button class="btn btn-big btn-danger"
                    (click)="refuseRequest($event, request.id, aprovate_message)"
                    [disabled]="aprovate_message === undefined || aprovate_message.length < 10"
                    [hidden]="is_derivate">Rechazar
            </button>
          </p>
          <p *ngIf="request.document_id ===  config.DOC_CONVALIDATION">
            <button class="btn btn-big btn-primary"
                    (click)="derivateRequest(request.id, aprovate_message)"
                    [disabled]="aprovate_message === undefined || aprovate_message.length < 10">Derivar
            </button>
          </p>
        </form>
      </div>
    </div>
    <!-- Entregar Documento -->
    <div class="box-comment" *ngIf="request.state === config.STATE_DELIVERY_PENDING && request.document_id==23">
      <!-- Generar -->
      <div class="comment-text">
        <button class="btn btn-app bg-aqua" (click)="deliveryRequest($event, request.id)">
          <i class="fa fa-square-o"></i> Marcar como entregado
        </button>
        <button *ngIf="request.document_id !== config.DOC_CUSTOM_STUDIES_PROOF" class="btn btn-app"
                (click)="sendDocumentByMail($event)">
          <i class="fa fa-envelope"></i> Enviar por correo
        </button>
        <div class="text-aqua" *ngIf="mail.sending">
          Ennviando correo, por favor espere.
          <i class="fa fa-spinner"></i>
        </div>
        <div class="text-success" *ngIf="mail.sended">
          Correo enviado satisfactoriamente.
          <i class="fa fa-ckeck"></i>
        </div>
        <div class="text-error" *ngIf="mail.error">
          Correo no enviado. por favor vuelva a intertarlo en unos minutos
          <i class="fa fa-times"></i>
        </div>
      </div>
    </div>
  </section>
  <section class="box-body box-comments" *ngIf="request === null">
    <loading [text]="'CARGANDO SU SOLICITUD'"></loading>
  </section>
  <div class="box-footer" *ngIf="request !== null">
    <header>
      <h5><i class="fa fa-list-ul"></i> Vida de la Solicitud</h5>
      <hr>
    </header>
    <div class="col-md-12">
      <request-flow [ideal-flow]="ideal_flow" [request]="request" [logs]="logs">
      </request-flow>
    </div>
  </div>
</div>
