<div class="row">
    <div class="col-md-3">
        <div class="box box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">Solicitudes</h3>
                <div class="box-tools">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body no-padding">
                <ul class="nav nav-pills nav-stacked">
                    <li [ngClass]="{'active': (inbox === 'pending')}" (click)="setInbox($event, 'pending')">
                        <a class="hand">
                            <i class="fa fa-inbox"></i> Pendientes
                            <span class="label label-primary pull-right" *ngIf="requests !== null">
                                {{requestPending.length}}
                            </span>
                        </a>
                    </li>
                    <li [ngClass]="{'active':(inbox === 'graduation')}" (click)="setInbox($event, 'graduation')">
                        <a class="hand">
                            <i class="fa fa-graduation-cap"></i> Pendientes Graduados
                            <span class="label label-warning pull-right" *ngIf="requests !== null">
                                {{requestGraduationPending.length}}
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
    <div class="col-md-9">
        <div class="box box-default">
            <header class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-file-text"></i> Solicitudes por Procesar</h3>
                <div class="box-tools pull-right">
                    <div class="has-feedback">
                        <input type="text" class="form-control input-sm" name="filter" [(ngModel)]="filter"
                               placeholder="Filtrar">
                        <span class="fa fa-search form-control-feedback"></span>
                    </div>
                </div>
            </header>
            <section class="box-body no-padding">
                <div class="table-responsive">
                    <table class="table table-hover table-striped">
                        <thead>
                        <tr>
                            <th> #</th>
                            <th> Solicitud</th>
                            <th> Documento</th>
                            <th> DNI</th>
                            <th> Estudiante</th>
                            <th> Descripción</th>
                            <th> Fecha</th>
                            <th> Estado</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngIf="requestViewActive.length == 0">
                            <td colspan="8" class="warning text-center text-warning">No hay pendientes por procesar</td>
                        </tr>
                        <tr *ngFor="let request of requestViewActive | loopFilter: filter; let i = index"
                            (click)="gotoRequestDetail(request.id)" class="hand">
                            <td> {{i+1}}</td>
                            <td> {{request.id}}</td>
                            <td> {{configFile.getDocumentName(request.document_id)}}</td>
                            <td> {{request.student_id}}</td>
                            <td> {{request.student_name}}</td>
                            <td> {{(request.description | jsonParse).description || 'sin descripción'}}</td>
                            <td> {{request.creation_date | date: 'dd/MM/yyyy hh:mm'}}</td>
                            <td>
                                <span class="pull-right badge"
                                      [ngClass]="{'bg-green': (request.state ===  configFile.STATE_DELIVERY_PENDING), 'bg-yellow': (request.state ===configFile.STATE_ATENTION)}">
                                    <i class="fa fa-tag"></i>{{configFile.getDocumentState(request.state).name}}
                                </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </section>
            <div class="box-footer"></div>
        </div>
    </div>
</div>
