<div class="card card-primary" *ngIf="!categorySelected">
    <div class="header">
        <h3 class="title">Categorías</h3>
    </div>
    <div class="body">
        <loading *ngIf="isLoadingCategories" [text]="'Cargando categorías...'" [size]="'small'"></loading>
        <ng-container class="row" *ngIf="!isLoadingCategories">
            <ng-container *ngIf="categories?.length > 0">
                <ng-container *ngFor="let category of categories">
                    <div class="col-md-6 col-xs-12" *ngIf="category.quantityProjects">
                        <a class="card card-clickable card-submodule" (click)="setCategory(category)">
                            <div class="card-content">
                                <h3 class="card-title">{{category.name}}</h3>
                                <p class="info">Ver proyectos
                                    <i class="fa fa-arrow-circle-right text-blue"></i>
                                </p>
                            </div>
                        </a>
                    </div>
                </ng-container>
            </ng-container>
            <div class="alert-student alert-student-info m-0" role="alert" *ngIf="categories?.length <= 0">
                <i class="fa fa-info-circle"></i> No se registraron categorías.
            </div>
        </ng-container>
    </div>
</div>

<pry-back-list-project *ngIf="categorySelected" [category]="categorySelected"></pry-back-list-project>