<div class="card card-primary">
    <div class="header">
        <h3 *ngIf="idProject === 0" class="title">Nuevo proyecto </h3>
        <h3 *ngIf="idProject > 0" class="title">Editar proyecto </h3>
    </div>
    <div class="body">
        <loading *ngIf="isLoadingProject" [text]="'Cargando proyecto...'" [size]="'small'"></loading>
        <form *ngIf="!isLoadingProject">
            <div class="card card-primary">
                <div class="header">
                    <h3 class="title">Datos generales</h3>
                </div>
                <div class="body">
                    <div class="col-md-3 form-group">
                        <label for="idProjectType">Tipo de proyecto</label>
                        <select class="form-control" [(ngModel)]="project.idProjectType" name="idProjectType"
                            id="idProjectType" [disabled]="isLoadingProjectTypes">
                            <option value="0" disabled>-- Seleccionar --</option>
                            <option *ngFor="let pt of projectTypes" [value]="pt.id">{{pt.name}}</option>
                        </select>
                    </div>
                    <div class="col-md-3 form-group">
                        <label for="idCategory">Categoría</label>
                        <select class="form-control" [(ngModel)]="project.idCategory" name="idCategory" id="idCategory"
                            [disabled]="isLoadingCategories">
                            <option value="0" disabled>-- Seleccionar --</option>
                            <option *ngFor="let c of categories" [value]="c.id">{{c.name}}</option>
                        </select>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="title">Título del proyecto</label>
                        <input type="text" class="form-control" [(ngModel)]="project.title" name="title" id="title">
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="objective">Objetivo</label>
                        <textarea name="" id="" rows="5" class="form-control" [(ngModel)]="project.objective"
                            name="objective" id="objective"></textarea>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="description">Descripción</label>
                        <textarea name="" id="" rows="5" class="form-control" [(ngModel)]="project.description"
                            name="description" id="description"></textarea>
                    </div>
                    <div class="col-md-12 form-group">
                        <label for="keywords">Palabras claves</label>
                        <input type="text" class="form-control" [(ngModel)]="project.keywords" name="keywords"
                            id="keywords" (ngModelChange)="splitKeywords()">
                        <p class="help-block">Separar las palabras por coma (",")</p>
                        <p class="help-block">Ingresar al menos 1 palabra clave y como máximo 5 palabras.</p>
                        <div class="my-2">
                            <span *ngFor="let keyword of keywords">
                                <span class="badge bg-success">{{ keyword }}</span>&nbsp;
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card card-primary">
                <div class="header">
                    <h3 class="title">Líderes de proyecto <span
                            class="badge bg-primary">{{project.projectMembers?.length}}</span></h3>
                </div>
                <div class="body">
                    <div class="col-md-3 form-group">
                        <label for="searchTeamDni">DNI</label>
                        <input type="text" [(ngModel)]="searchTeamDni" id="searchTeamDni" name="searchTeamDni"
                            class="form-control" (keyup.enter)="findTeam()"
                            placeholder="Presiona <Enter> para buscar...">
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="fullName">Nombre completo</label>
                        <input type="text" name="fullName" id="fullName" [(ngModel)]="foundProjectMember.fullName"
                            class="form-control" disabled>
                    </div>
                    <div class="col-md-3 form-group">
                        <label class="d-block" for="">&nbsp;</label>
                        <button class="btn bg-primary" [disabled]="!foundProjectMember?.pidm"
                            (click)="addTeamMember()">Agregar integrante</button>
                    </div>
                    <div class="col-md-6">
                        <ul class="list-group" *ngIf="project.projectMembers">
                            <li *ngFor="let m of project.projectMembers" class="list-group-item">{{m.fullName}} <span
                                    class="badge bg-danger" (click)="removeTeamMember(m.pidm)"><i
                                        class="fa fa-trash"></i></span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card card-primary">
                <div class="header">
                    <h3 class="title">Perfil de las personas requeridas para el proyecto <span
                            class="badge bg-primary">{{project.profileProjects?.length}}</span>
                    </h3>
                </div>
                <div class="body">
                    <div class="col-md-6 form-group">
                        <label for="pptitle">Nombre del perfil</label>
                        <input type="text" class="form-control" [(ngModel)]="profileProject.title" name="pptitle"
                            id="pptitle">
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="">Vacantes</label>
                        <input type="number" class="form-control" [(ngModel)]="profileProject.numberVacancies"
                            name="numberVacancies" id="numberVacancies">
                    </div>
                    <div class="col-md-12 form-group">
                        <label for="ppdescription">Descripción del perfil</label>
                        <textarea rows="4" class="form-control" [(ngModel)]="profileProject.description"
                            name="ppdescription" id="ppdescription"></textarea>
                    </div>
                    <div class="col-md-12 form-group text-right">
                        <button class="btn bg-primary" (click)="addProfile()"
                            [disabled]="!profileProject.title || !profileProject.description || !profileProject.numberVacancies">Agregar
                            perfil</button>
                    </div>
                    <div class="col-md-12" *ngIf="project.profileProjects?.length > 0">
                        <div class="table-responsive table-material">
                            <table class="table">
                                <thead class="bg-info">
                                    <tr>
                                        <th width="400">Perfil</th>
                                        <th width="50">Vacantes</th>
                                        <th>Descripción</th>
                                        <th width="50"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let pp of project.profileProjects">
                                        <td>{{ pp.title }}</td>
                                        <td>{{ pp.numberVacancies }}</td>
                                        <td>{{ pp.description }}</td>
                                        <td><button (click)="removeProfile(pp.title)" class="btn btn-outline-danger"><i
                                                    class="fa fa-trash"></i></button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="footer">
        <loading *ngIf="isSavingProject" [text]="'Registrando proyecto...'" [size]="'small'"></loading>
    </div>
    <div class="footer" *ngIf="!isSavingProject">
        <button class="btn btn-outline-primary" (click)="goBack()">Regresar</button>
        <button [disabled]="!project?.keywords" *ngIf="project.id < 1" class="btn bg-primary pull-right" (click)="create()">Registrar proyecto</button>
        <button [disabled]="!project?.keywords" *ngIf="project.id > 0" class="btn bg-primary pull-right" (click)="update()">Actualizar proyecto</button>
    </div>
</div>