<div class="card card-primary" *ngIf="!isLoadingProject">
    <div class="header">
        <h3 class="title text-primary text-bold">{{ project.title }} <span
                class="badge bg-primary">{{ project.projectType.name }}</span></h3>
    </div>
    <div class="body">
        <div class="card card-primary">
            <div class="header">
                <h4 class="title">Objetivo</h4>
            </div>
            <div class="body">
                <p>{{project.objective}}</p>
            </div>
        </div>
        <div class="card card-primary">
            <div class="header">
                <h4 class="title">Descripción</h4>
            </div>
            <div class="body">
                <p>{{project.description}}</p>
            </div>
            <div class="footer" *ngIf="keywords?.length > 0">
                <span *ngFor="let keyword of keywords">
                    <span class="badge bg-success">{{ keyword }}</span>&nbsp;
                </span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="header bg-info">
                    <h3 class="title">Líderes del proyecto</h3>
                </div>
                <div class="body">
                    <div class="my-2 alert-student alert-student-primary m-0" role="alert" *ngFor="let member of project.projectMembers">
                        <i class="fa fa-user" *ngIf="member.idMemberType === 1"></i> 
                        <i class="fa fa-user-o" *ngIf="member.idMemberType === 2"></i> 
                        {{member.fullName}}
                    </div>
                    <!-- <div class="col-xs-12" *ngFor="let member of project.projectMembers">
                        <div class="card">
                            <div class="body">
                                <p>{{member.fullName}}</p>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="header bg-info">
                    <h3 class="title">Perfil de las personas requeridas para el proyecto</h3>
                </div>
                <div class="body">
                    <div class="col-xs-12" *ngFor="let profile of project.profileProjects">
                        <div class="card card-primary">
                            <div class="header">
                                <h3 class="title d-inline-block">{{profile.title}} <span class="badge bg-info">Vacantes:
                                        {{profile.numberVacancies}}</span></h3>
                            </div>
                            <div class="body">
                                <p>{{profile.description}}</p>
                            </div>
                            <div class="footer" *ngIf="isCheckingEnroll">
                                <loading [text]="'Cargando proyecto...'"></loading>
                            </div>
                            <div class="footer" *ngIf="!isCheckingEnroll && !isEnrolled">
                                <button class="btn btn-outline-primary"
                                    [disabled]="isEnrolling" (click)="enroll(profile.id)">
                                    <span *ngIf="!isEnrolling">Inscribirse</span>
                                    <span *ngIf="isEnrolling"><i class="fa fa-spin fa-cog"></i></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer" *ngIf="!isCheckingEnroll && isEnrolled">
                    <div class="alert-student alert-student-success m-0" role="alert">
                        <i class="fa fa-check"></i> Estás inscrito
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<loading *ngIf="isLoadingProject" [text]="'Cargando proyecto...'"></loading>