<div class="card card-primary">
    <div class="header">
        <h3 class="title">Lista de inscritos</h3>
    </div>
    <div class="body">
        <loading *ngIf="isLoadingSummary" [text]="'Cargando resumen...'" [size]="'small'"></loading>
        <ng-container *ngIf="!isLoadingSummary">
            <div class="col-md-4" *ngFor="let summaryProfile of summaryProfiles">
                <!-- Ya se matriculo -->
                <div class="alert-student alert-student-primary m-0">
                    <h4 class="m-0 text-truncate">{{ summaryProfile.profileName }} <span
                            class="badge bg-primary">{{summaryProfile.busyQuantityVacancy}}/{{summaryProfile.quantityVacancy}}</span>
                    </h4>
                </div>
            </div>
        </ng-container>
    </div>
    <div class="body">
        <loading *ngIf="isLoadingInscribeds" [text]="'Cargando inscritos...'" [size]="'small'"></loading>
        <loading *ngIf="isUpdatingStatus" [text]="'Actualizando estado...'" [size]="'small'"></loading>
        <div *ngIf="!isLoadingInscribeds" class="table-responsive table-material">
            <table class="table" *ngIf="projectMembers?.length > 0">
                <thead class="bg-info">
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Fecha de registro</th>
                        <th>Campus</th>
                        <th>Modalidad</th>
                        <th>Carrera</th>
                        <th>Perfil</th>
                        <th>Estado</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let member of projectMembers; let i = index">
                        <td>{{ i + 1}}</td>
                        <td>{{ member.fullName }}</td>
                        <td>{{ member.createdAt | date: 'short' }}</td>
                        <td><span class="badge">{{ member.campusName }}</span> </td>
                        <td><span class="badge bg-info">{{ member.departmentName }}</span> </td>
                        <td><span class="badge bg-info">{{ member.programName }}</span> </td>
                        <td><span class="badge bg-primary">{{ member.profileProject.title }}</span> </td>
                        <td *ngIf="member.changeStatusDate === null"><span class="badge">Pendiente</span> </td>
                        <td *ngIf="member.changeStatusDate && member.approved"><span
                                class="badge bg-success">Aprobado</span> </td>
                        <td *ngIf="member.changeStatusDate && !member.approved"><span
                                class="badge bg-danger">Rechazado</span> </td>
                        <td>
                            <button *ngIf="member.department" [disabled]="isFindingStudent || isUpdatingStatus" class="btn btn-outline-primary"
                                (click)="showProfile(member)" data-target="#studentDetails">Ver perfil</button>
                            <button *ngIf="member.changeStatusDate === null" [disabled]="isUpdatingStatus" class="btn bg-primary"
                                (click)="updateStatus(member.profileProject.id, member.pidm, true)">Aceptar</button>
                            <button *ngIf="member.changeStatusDate === null" [disabled]="isUpdatingStatus" class="btn bg-danger"
                                (click)="updateStatus(member.profileProject.id, member.pidm, false)">Rechazar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div *ngIf="projectMembers?.length <= 0" class="alert alert-info m-0">
                No hay inscritos aún.
            </div>
        </div>
    </div>
    <div class="footer">
        <button class="btn btn-outline-primary" (click)="goBack()">Regresar</button>
    </div>
</div>

<div class="modal fade" id="studentDetails" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header" *ngIf="!isFindingStudent && student">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">
                        &times;</span></button>
                <h4 class="modal-title" id="myModalLabel"> {{ student.full_name }}</h4>
            </div>
            <div class="modal-body">
                <loading *ngIf="isFindingStudent" [text]="'Cargando datos del alumno...'" [size]="'small'"></loading>
                <student-compliance *ngIf="!isFindingStudent && academicProfile" [profile]="academicProfile"
                    [studentComplianceEnabled]="true" [academicSummaryEnabled]="true"></student-compliance>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>