<div class="card card-primary" *ngIf="!idSelectedProject">
    <div class="header">
        <h3 class="title">{{category.name}}</h3>
    </div>
    <div class="body">
        <loading *ngIf="isLoadingProjects" [text]="'Cargando proyectos...'" [size]="'small'"></loading>
        <ng-container class="row" *ngIf="!isLoadingProjects">
            <div class="col-md-6 col-xs-12" *ngFor="let project of projects">
                <a class="card card-clickable card-submodule" (click)="setProject(project.id)">
                    <div class="card-content">
                        <h3 class="card-title">{{project.title}}</h3>
                        <p class="info">Ver proyecto
                            <i class="fa fa-arrow-circle-right text-blue"></i>
                        </p>
                    </div>
                </a>
            </div>
        </ng-container>
    </div>
</div>

<pry-back-detail-project *ngIf="idSelectedProject" [idProject]="idSelectedProject"></pry-back-detail-project>