<div class="card card-primary" *ngIf="!isFormActive && !isInscribedsActive">
    <div class="header">
        <h3 class="title">Mis Proyectos <button (click)="openForm(0)" class="btn bg-primary">Nuevo proyecto</button>
        </h3>
    </div>
    <div class="body">
        <loading *ngIf="isLoadingProjects" [text]="'Cargando proyectos...'" [size]="'small'"></loading>
        <div *ngIf="!isLoadingProjects" class="table-responsive table-material">
            <table class="table" *ngIf="projects?.length > 0">
                <thead class="bg-info">
                    <tr>
                        <th>#</th>
                        <th>Nombre del proyecto</th>
                        <th>Fecha de creación</th>
                        <th>Tipo</th>
                        <th>Categoría</th>
                        <th>Estado</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let project of projects; let i = index">
                        <td>{{ i + 1}}</td>
                        <td>{{ project.title }}</td>
                        <td>{{ project.createdAt | date: 'short' }}</td>
                        <td>{{ project.projectType.name }}</td>
                        <td><span class="badge bg-primary">{{ project.category.name }}</span></td>
                        <td *ngIf="project.changeStatusDate === null"><span class="badge">Pendiente</span> </td>
                        <td *ngIf="project.changeStatusDate && project.approved"><span
                                class="badge bg-success">Aprobado</span> </td>
                        <td *ngIf="project.changeStatusDate && !project.approved"><span
                                class="badge bg-danger">Rechazado</span> </td>
                        <td>
                            <button *ngIf="!project.changeStatusDate" class="btn bg-primary"
                                (click)="openForm(project.id)">Editar</button>
                            <button *ngIf="project.changeStatusDate && project.approved" class="btn bg-primary"
                                (click)="openListInscribeds(project.id)">Inscritos</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div *ngIf="projects?.length <= 0" class="alert alert-info m-0">
                No se han encontrado proyectos.
            </div>
        </div>
    </div>
</div>

<pry-create-edit-project (back)="closeForm($event)" (closeForm)="closeForm($event)" [idProject]="idSelectedProject"
    *ngIf="isFormActive">
</pry-create-edit-project>

<pry-inscribed (back)="closeInscribeds($event)" *ngIf="isInscribedsActive" [idProject]="idSelectedProject">
</pry-inscribed>