// estilos generales
.border-0
  border-width: 0px !important
.border, .border-1
  border: 1px solid $gray-400 !important
.border-2
  border-width: 2px !important
.border-3
  border-width: 3px !important
.border-4
  border-width: 4px !important

// Bordes por dirección
@each $direction, $letter in $directions
  .border-#{$direction}-0
    border-#{$direction}: 0px !important
  .border-#{$direction},.border-#{$direction}-1
    border-#{$direction}: 1px solid $gray-400 !important
  .border-#{$direction}-2
    border-#{$direction}: 2px solid $gray-400 !important
  .border-#{$direction}-3
    border-#{$direction}: 3px solid $gray-400 !important
  .border-#{$direction}-4
    border-#{$direction}: 4px solid $gray-400 !important

// estilos de borde
.border-dashed
  border-style: dashed !important
.border-dotted
  border-style: dotted !important
.border-double
  border-style: double !important
