// colores de borde
@each $nameColor, $color in $theme-colors
  .border-#{$nameColor}
    border-color: $color !important
  // colores lighten
  .border-#{$nameColor}-light
    border-color: lighten( $color, 10% ) !important
  // colores deshabilitados
  .border-#{$nameColor}-disabled
    border-color: lighten( $color, 25% ) !important
  // colores active
  .border-#{$nameColor}-active
    border-color: darken( $color, 10% ) !important
  // colores dark
  .border-#{$nameColor}-dark
    border-color: darken( $color, 15% ) !important

.border-white
  border-color: $white !important
