// styles for border style
.rounded
  border-radius: $border-radius !important

.rounded-top
  border-top-left-radius: $border-radius !important
  border-top-right-radius: $border-radius !important
.rounded-top-0
  border-top-left-radius: 0 !important
  border-top-right-radius: 0 !important
.rounded-top-left
  border-top-left-radius: $border-radius !important
.rounded-top-left-0
  border-top-left-radius: 0 !important
.rounded-top-right
  border-top-right-radius: $border-radius !important
.rounded-top-right-0
  border-top-right-radius: 0 !important

.rounded-right
  border-top-right-radius: $border-radius !important
  border-bottom-right-radius: $border-radius !important
.rounded-right-0
  border-top-right-radius: 0 !important
  border-bottom-right-radius: 0 !important
.rounded-right-top
  border-top-right-radius: $border-radius !important
.rounded-right-top-0
  border-top-right-radius: 0 !important
.rounded-right-bottom
  border-bottom-right-radius: $border-radius !important
.rounded-right-bottom-0
  border-bottom-right-radius: 0 !important


.rounded-bottom
  border-bottom-right-radius: $border-radius !important
  border-bottom-left-radius: $border-radius !important
.rounded-bottom-0
  border-bottom-right-radius: 0 !important
  border-bottom-left-radius: 0 !important
.rounded-bottom-left
  border-bottom-left-radius: $border-radius !important
.rounded-bottom-left-0
  border-bottom-left-radius: 0 !important
.rounded-bottom-right
  border-bottom-right-radius: $border-radius !important
.rounded-bottom-right-0
  border-bottom-right-radius: 0 !important

.rounded-left
  border-top-left-radius: $border-radius !important
  border-bottom-left-radius: $border-radius !important
.rounded-left-0
  border-top-left-radius: 0 !important
  border-bottom-left-radius: 0 !important
.rounded-left-top
  border-top-left-radius: $border-radius !important
.rounded-left-top-0
  border-top-left-radius: 0 !important
.rounded-left-bottom
  border-bottom-left-radius: $border-radius !important
.rounded-left-bottom-0
  border-bottom-left-radius: 0 !important

.rounded-0
  border-radius: 0 !important

.rounded-circle
  border-radius: 50% !important
.rounded-pill
  border-radius: 50rem !important
.rounded-15
  border-radius: 15px !important
