<div class="container-fluid">
  <div class="box box-info">
    <!--Load-->
    <div class="overlay" *ngIf="load === true">
      <i class="fa fa-refresh fa-spin"></i>
    </div>
    <!--End Load-->
    <!--Title-->
    <div class="box-body">
      <div class="box-header with-border">
        <h3 class="box-title">
          Programar NRCs por fechas
        </h3>
      </div>
    </div>
    <!--End Title-->

    <!--Filters-->
    <div class="form-horizontal">
      <div class="box-body">
        <div class="form-group">
          <!--Modality-->
          <label class="col-sm-2 control-label">Modalidad: </label>
          <div class="col-sm-4 col-md-3">
            <select class="form-control" [(ngModel)]="departamentSelected" (ngModelChange)="listTermByDepartament()">
              <option *ngFor="let departament of backofficeConfigService.DEPARTAMENT_NAMES" value="{{departament.id}}">
                {{departament.name}}</option>
            </select>
          </div>
          <!--End Modality-->
          <!--Term-->
          <label class="col-sm-1 control-label">Periodo: </label>
          <label class="col-sm-5 col-md-3 control-label" *ngIf="!termsDepartment || termsDepartment.length <= 0">
            <small class="text-red">Seleccione modalidad.
            </small>
          </label>
          <div class="col-sm-5 col-md-3" *ngIf="termsDepartment && termsDepartment.length > 0">
            <select class="form-control" [(ngModel)]="termSelected">
              <option *ngFor="let term of termsDepartment" value="{{term}}">{{term}}</option>
            </select>
          </div>
        </div>
        <!--End Term-->

        <!--Input Nrcs-->
        <div class="form-group">
          <label class="col-sm-2 control-label">NRCs:</label>
          <div class="col-sm-10 col-md-7">
            <input class="form-control" type="text" name="nrcs" placeholder="Nrcs" [(ngModel)]="stringNrcs"
              (ngModelChange)="separateNrcs()">
          </div>
        </div>
        <!--End Input Nrcs-->

        <!--Nrcs-->
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10 col-md-7" *ngIf="listNrcs != undefined  && listNrcs.length > 0">
            <span class="badge bg-teal hand">NRCs ingresados:
              <span class="badge bg-teal-active">
                {{listNrcs.length}}
              </span>
            </span>
          </div>
          <div class="col-sm-offset-2 col-sm-10 col-md-7">
            <span>
              <span class="badge bg-gray" *ngFor="let nrc of listNrcs"><i class="fa fa-user"></i> {{nrc}}
              </span>&nbsp;
            </span>
          </div>
        </div>
        <!--End Nrcs-->

        <!--Buttons search Nrcs-->
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10 col-md-7">
            <button type="submit" class="btn btn-info" (click)="getListNrcs()"
              [disabled]="listNrcs == undefined || listNrcs.length <= 0">
              <i class="fa fa-search"></i> Buscar NRCs
            </button>
            <button type="button" class="btn btn-default" (click)="clear()">
              <i class="fa fa-trash-o"></i> Limpiar
            </button>
          </div>
        </div>
        <!--End Buttons search Nrcs-->

      </div>
    </div>
  </div>
  <!--End Filters-->

  <!--Inputs Dates-->
  <div class="box box-info" *ngIf="detailsNrcs && detailsNrcs.length > 0">

    <!--Load-->
    <div class="overlay" *ngIf="load === true">
      <i class="fa fa-refresh fa-spin"></i>
    </div>
    <!--End Load-->

    <!--Input Nrc-->
    <div class="box-body">
      <!--Title Inputs Nrc-->
      <div class="box-header with-border">
        <h3 class="box-title">Parametros de NRC</h3>
      </div>
      <!--End Title Inputs Nrc-->

      <!--Inputs-->
      <div class="form-horizontal">
        <div class="box-body">
          <div class="form-group">
            <!--Nrc Active?-->
            <label class="col-sm-3">¿NRCs activos?: </label>
            <div class="col-sm-3 col-md-3">
              <p-inputSwitch name="activeNrcs" onLabel="Activo" offLabel="Inactivo" [(ngModel)]="activeNrcs">
              </p-inputSwitch>
            </div>
            <!--End Nrc Active?-->

            <!--Has Susti?-->
            <label class="col-sm-3">¿Tienen sustitutorio?: </label>
            <div class="col-sm-3 col-md-3">
              <p-inputSwitch name="hasSusti" onLabel="Si" offLabel="No" [(ngModel)]="hasSusti"></p-inputSwitch>
            </div>
            <!--End Has Susti?-->

          </div>
        </div>
      </div>
      <!--End Inputs-->

    </div>
    <!--End Inputs Nrc-->

    <!--Input program-->
    <div class="box-body">

      <!--Title Inputs program-->
      <div class="box-header with-border">
        <h3 class="box-title">Parametros de programación</h3>
      </div>
      <!--End Title Inputs program-->

      <!--Inputs-->
      <div class="form-horizontal">
        <div class="box-body">
          <div class="form-group">
            <!--Date Init-->
            <div class="col-sm-1">Fecha inicio:</div>
            <div class="col-sm-3">
              <p-calendar [locale]="es" showTime="true" hourFormat="24" [showIcon]="true" dateFormat="dd/mm/yy" required
                [(ngModel)]="dateInit" name="dateInit"></p-calendar>
            </div>
            <!--End Date Init-->

            <!--Date End-->
            <div class="col-sm-1">Fecha máxima:</div>
            <div class="col-sm-3">
              <p-calendar [locale]="es" showTime="true" hourFormat="24" [showIcon]="true" dateFormat="dd/mm/yy" required
                [(ngModel)]="dateEnd" name="dateEnd"></p-calendar>
            </div>
            <!--End Date End-->

            <!--Date Examn-->
            <div class="col-sm-1">Fecha examen</div>
            <div class="col-sm-3">
              <p-calendar [locale]="es" showTime="true" hourFormat="24" [showIcon]="true" dateFormat="dd/mm/yy" required
                [(ngModel)]="dateExamn" name="dateExamn"></p-calendar>
            </div>
            <!--End Date Examn-->
            <br><br><br>
            <!--Class Room-->
            <div class="col-sm-1">Aula</div>
            <div class="col-sm-3">
              <input type="text" class="form-control" [(ngModel)]="classRoom" maxlength="20">
            </div>
            <!--End Class Room-->

            <!--¿Active Program?-->
            <div class="col-sm-1">¿Activo?</div>
            <div class="col-sm-3">
              <p-inputSwitch name="activeProgram" onLabel="Activo" offLabel="Inactivo" [(ngModel)]="activeProgram">
              </p-inputSwitch>
            </div>
            <!--End ¿Active Program?-->

            <!--¿Active?-->
            <div class="col-sm-1">¿Publico?</div>
            <div class="col-sm-3">
              <p-inputSwitch name="public" onLabel="Si" offLabel="No" [(ngModel)]="public">
              </p-inputSwitch>
            </div>
            <!--End Class Room-->

          </div>
        </div>
      </div>
      <!--End Inputs-->

    </div>
    <!--End Inputs Nrc-->

  </div>
  <!--End Inputs Dates-->

  <!--Results-->
  <div class="box box-info" *ngIf="detailsNrcs && detailsNrcs.length > 0">
    <!--Load-->
    <div class="overlay" *ngIf="load === true">
      <i class="fa fa-refresh fa-spin"></i>
    </div>
    <!--End Load-->

    <!--Title Result-->
    <div class="box-header with-border">
      <h3 class="box-title">Resultados de B&uacute;squeda</h3>
      <!--Btn Select All-->
      <div class="box-tools pull-right">
        <div class="has-feedback">
          <input class="btn btn-default btn-sm" type="button" name="todos" id="btnChangeAll" (click)="selectAll()"
            value="Seleccionar todos">
        </div>
      </div>
      <!--End Btn Select All-->
    </div>
    <!--End Title Result-->

    <!--Data Result-->
    <div class="box-body table-responsive no-padding">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>NRC</th>
            <th>Nombre</th>
            <th>Modalidad</th>
            <th>Periodo</th>
            <th>Sede</th>
            <th>Seleccionar</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let nrc of detailsNrcs" (click)="nrc.selected = !nrc.selected"
            [ngClass]="{ 'info': nrc.selected }">
            <td>{{nrc.nrc}}</td>
            <td>{{nrc.subjetName}}</td>
            <td>{{nrc.department}}</td>
            <td>{{nrc.term}}</td>
            <td>{{getNamebyCampus(nrc.campus)}}</td>
            <td>
              <i class="fa fa-check-square-o" *ngIf="nrc.selected"></i>
              <i class="fa fa-square-o" *ngIf="!nrc.selected"></i>
            </td>
            <td>
              <i *ngIf="nrc.state == 1" class="fa fa-cog fa-spin fa-fw ng-star-inserted"></i>
              <span *ngIf="nrc.state == 2" class="fa fa-exclamation-triangle text-danger"></span>
              <span *ngIf="nrc.state == 3" class="fa fa-check-square text-success"></span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!--End Data Result-->
    <!--Form Save-->
    <footer class="box-footer">
      <!--Comment-->
      <label class="col-sm-2 control-label">Ingrese comentario:<br>
      </label>
      <div class="col-sm-10">
        <textarea class="form-control mt ng-pristine ng-valid ng-touched" name="Comentario" placeholder="Comentario..."
          rows="3" maxlength="200" [(ngModel)]="comment"></textarea>
      </div>
      <!--End Comment-->
      <div class="clearfix"></div>
      <br>
      <!--Buttons Save-->
      <button class="btn btn-danger" type="submit" (click)="clear()">Cancelar</button>
      <button class="btn btn-primary pull-right" type="submit" (click)="saveDetailsNrc()"
        [disabled]="validateSave() === false">Guardar</button>
      <!--End Buttons Save-->
    </footer>
    <!--End Form Save-->
  </div>
  <!--End Results-->


</div>