<div class="container-fluid">
  <div class="box box-info" *ngIf="!nrcSelected">
    <div class="overlay" *ngIf="load === true">
      <i class="fa fa-refresh fa-spin"></i>
    </div>

    <div class="box-body">
      <div class="box-header with-border">
        <h3 class="box-title">
          Programar NRCs
        </h3>
      </div>
    </div>

    <div class="form-horizontal">
      <div class="box-body">

        <div class="form-group">
          <label class="col-sm-2 control-label">Modalidad: </label>
          <div class="col-sm-4 col-md-3">
            <select class="form-control" [(ngModel)]="departamentSelected" (ngModelChange)="listTermByDepartament()">
              <option *ngFor="let departament of backofficeConfigService.DEPARTAMENT_NAMES" value="{{departament.id}}">{{departament.name}}</option>
            </select>
          </div>

          <label class="col-sm-1 control-label">Periodo: </label>

          <label class="col-sm-5 col-md-3 control-label" *ngIf="!termsDepartment || termsDepartment.length <= 0">
            <small class="text-red">Seleccione modalidad.
            </small>
          </label>
          <div class="col-sm-5 col-md-3" *ngIf="termsDepartment && termsDepartment.length > 0">
            <select class="form-control" [(ngModel)]="termSelected">
              <option *ngFor="let term of termsDepartment" value="{{term}}">{{term}}</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">NRCs:</label>
          <div class="col-sm-10 col-md-7">
            <input class="form-control" type="text" name="nrcs" placeholder="Nrcs" [(ngModel)]="stringNrcs" (ngModelChange)="separateNrcs()">
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10 col-md-7" *ngIf="listNrcs != undefined  && listNrcs.length > 0">
            <span class="badge bg-teal hand">NRCs ingresados:
              <span class="badge bg-teal-active">
                {{listNrcs.length}}
              </span>
            </span>
          </div>
          <div class="col-sm-offset-2 col-sm-10 col-md-7">
            <span>
              <span class="badge bg-gray" *ngFor="let nrc of listNrcs"><i class="fa fa-user"></i> {{nrc}}
              </span>&nbsp;
            </span>
          </div>
        </div>


        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10 col-md-7">
            <button type="submit" class="btn btn-info" (click)="getListNrcs()" [disabled]="listNrcs == undefined || listNrcs.length <= 0">
              <i class="fa fa-search"></i> Buscar NRCs
            </button>
            <button type="button" class="btn btn-default" (click)="clear()">
              <i class="fa fa-trash-o"></i> Limpiar
            </button>
          </div>
        </div>

      </div>
    </div>
  </div>


  <div class="box box-info" *ngIf="detailsNrcs && detailsNrcs.length > 0 && !nrcSelected">
    <div class="overlay" *ngIf="load === true">
      <i class="fa fa-refresh fa-spin"></i>
    </div>
    <div class="box-header with-border">
      <h3 class="box-title">Resultados de B&uacute;squeda</h3>
    </div>
    <div class="box-body table-responsive no-padding">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>NRC</th>
            <th>Nombre</th>
            <th>Modalidad</th>
            <th>Periodo</th>
            <th>Sede</th>
            <th>Editar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let nrc of detailsNrcs">
            <td>{{nrc.nrc}}</td>
            <td>{{nrc.subjetName}}</td>
            <td>{{nrc.department}}</td>
            <td>{{nrc.term}}</td>
            <td>{{getNamebyCampus(nrc.campus)}}</td>
            <td><button class="btn btn-info btn-sm" type="button" (click)="getDetailsNrc(nrc)">Editar</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="box box-info" *ngIf="nrcSelected">
    <div class="overlay" *ngIf="load === true">
      <i class="fa fa-refresh fa-spin"></i>
    </div>

    <div class="box-header with-border">
      <h3 class="box-title">Información de NRC: {{nrcSelected.nrc}} - {{nrcSelected.department}}</h3>
      <div class="box-tools pull-right">
        <div class="has-feedback">
          <button class="btn btn-info btn-sm" type="button" (click)="(nrcSelected = null)">
            Regresar
          </button>
        </div>
      </div>
    </div>
    <div class="form-horizontal">
      <div class="box-body table-responsive">
        <table class="table table-bordered">
          <tbody>
            <tr>
              <td scope="row" class="text-bold">Sede</td>
              <td>: {{getNamebyCampus(nrcSelected.campus)}}</td>
              <td scope="row" class="text-bold">Periodo</td>
              <td>: {{nrcSelected.term}}</td>
              <td scope="row" class="text-bold">Grupo</td>
              <td>: {{nrcSelected.module}}</td>
            </tr>
            <tr>
              <td scope="row" class="text-bold">Parte periodo</td>
              <td>: {{nrcSelected.partTerm}}</td>
              <td scope="row" class="text-bold">Nombre</td>
              <td colspan="4">: {{nrcSelected.subjetName}}</td>
            </tr>
            <tr>
              <td scope="row" class="text-bold" colspan="3">Activo:
                <p-inputSwitch onLabel="Activo" offLabel="Inactivo" [(ngModel)]="nrcSelected.active"></p-inputSwitch>
              </td>
              <td scope="row" class="text-bold" colspan="3">¿Tiene Sutitutorio?:
                <p-inputSwitch onLabel="Si" offLabel="No" [(ngModel)]="nrcSelected.hasSusti"></p-inputSwitch>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="box-header with-border">
        <h3 class="box-title">Fechas programadas</h3>
        <div class="box-tools pull-right">
          <div class="has-feedback">
            <button class="btn btn-success" type="submit" (click)="nrcSelected.scheduled.push({})">
              <i class="fa fa-plus"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="box-body table-responsive no-padding" style="overflow-x: inherit" *ngIf="nrcSelected.scheduled">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Fecha Inicio</th>
              <th>Fecha Fin</th>
              <th>Fecha Examen</th>
              <th>Aula</th>
              <th>¿Activo?</th>
              <th>¿Publico?</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let prog of nrcSelected.scheduled">
              <td>
                <p-calendar [locale]="es" showTime="true" hourFormat="24" [showIcon]="true" dateFormat="dd/mm/yy" required [(ngModel)]="prog.inicialRegistrationDate"></p-calendar>
              </td>
              <td>
                <p-calendar [locale]="es" showTime="true" hourFormat="24" [showIcon]="true" dateFormat="dd/mm/yy" required [(ngModel)]="prog.finalRegistrationDate"></p-calendar>
              </td>
              <td>
                <p-calendar [locale]="es" showTime="true" hourFormat="24" [showIcon]="true" dateFormat="dd/mm/yy" required [(ngModel)]="prog.examDate"></p-calendar>
              </td>
              <td>
                <input type="text" class="form-control" [(ngModel)]="prog.classRoom" maxlength="20">
              </td>
              <td>
                <p-inputSwitch onLabel="Activo" offLabel="Inactivo" [(ngModel)]="prog.active"></p-inputSwitch>
              </td>
              <td>
                <p-inputSwitch onLabel="Si" offLabel="No" [(ngModel)]="prog.isPublic"></p-inputSwitch>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <footer class="box-footer">
      <label class="col-sm-2 control-label">Ingrese comentario:<br>
      </label>
      <div class="col-sm-10">
        <textarea class="form-control mt ng-pristine ng-valid ng-touched" name="Comentario" placeholder="Comentario..." rows="3"
          maxlength="200" [(ngModel)]="nrcSelected.comment"></textarea>
      </div>
      <div class="clearfix"></div>
      <br>
      <button class="btn btn-danger" type="submit" (click)="(nrcSelected = null)">Cancelar</button>
      <button class="btn btn-primary pull-right" type="submit" (click)="saveDetailsNrc()" [disabled]="validateSave() === false">Guardar</button>
    </footer>

  </div>

</div>