<div class="row" *ngIf="student">
  <div class="col-lg-12 visible-xs" *ngIf="student.profiles.length >= 1">
    <div class="box-group" id="accordion">
      <div class="bg-aqua-active">
        <div class="box-header p-0 border-bottom">
          <h4 class="text-white hand pl" (click)="showMenuProfiles = !showMenuProfiles">
            <i class="fa fa-cog"></i> Cambiar de perfil
          </h4>
        </div>
        <div class="panel mb-0" *ngIf="showMenuProfiles">
          <ul class="list-group mb-0">
            <li class="list-group-item hand flat bg-aqua-dark" *ngFor="let profile of student.profiles" (click)="changeProfile(profile)">
              {{profile.program.name}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-12">
    <div class="box box-widget widget-user">

      <div class="overlay" *ngIf="load === true">
        <i class="fa fa-refresh fa-spin"></i>
      </div>
      <!-- Start change profile button -->
      <div class="hidden-xs pull-right" *ngIf="student.profiles.length >= 1">

        <div class="btn-group">
          <button class="btn btn-lg btn-info dropdown-toggle flat border bg-aqua-active" type="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <i class="fa fa-refresh"></i> Cambiar perfil
          </button>
          <ul class="dropdown-menu pull-right p-0">
            <li class="hand" *ngFor="let profile of student.profiles" (click)="changeProfile(profile)">
              <a class="pb pt">{{profile.program.name}}</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- End change profile button -->

      <div class="box-info bg-aqua-active flat clearfix">
        <div class="col-xs-4 visible-xs">
          <img class="img-circle img-profile-s" [src]="'api/personal/photo/'+student.person_id" alt="User Avatar">
        </div>
        <div class="col-xs-8 col-sm-12">
          <h3 class="widget-user-username">{{ student.last_name+' '+student.first_name }}</h3>
          <h5 class="widget-user-desc">Código: {{ student.id }}</h5>
          <h5 class="widget-user-desc">Modalidad: {{ student.profile.department }} | {{ student.profile.campus.name }} </h5>
          <h5 class="widget-user-desc">Escuela: {{ student.profile.program.name }}</h5>
          <br>
        </div>
      </div>

      <!-- Start avatar -->
      <div class="widget-user-image hidden-xs">
        <img class="img-circle" [src]="'api/personal/photo/'+student.person_id" alt="User Avatar">
        <br />
      </div>
      <!-- End avatar -->
    </div>
  </div>
</div>


<div class="box box-info">
  <div class="overlay" *ngIf="load === true">
    <i class="fa fa-refresh fa-spin"></i>
  </div>
  <!--Terms-->
  <div class="card hidden-print">
    <div class="header">
      <h3 class="title"><i class="fa fa-calendar"></i> Período:</h3>
    </div>
    <div class="alert alert-warning fade in alert-dismissable" *ngIf="!terms || terms.length <= 0">
      <h4>Mensaje</h4>
      <p>No existen matrículas para el periodo seleccionado (mayor a 201700).</p>
    </div>
    <div class="body p-0" *ngIf="terms && terms.length > 0">
      <ul class="scrollViewX text-center">
        <li class="scrollViewItem" *ngFor="let term of terms">
          <button class="btn btn-outline-primary btn-lg" [ngClass]="{'bg-primary':termSelected==term}" (click)="changeTerm(term)">{{term}}</button>
        </li>
      </ul>
    </div>
  </div>
  <!--End Terms-->

  <!--Options-->
  <ul class="nav nav-tabs nav-justified hidden-print" *ngIf="student && student.profile && termSelected && termSelected.length > 0">
    <li class="active"><a class="bg-primary-outline" href="#tab_susti" data-toggle="tab" aria-expanded="true" (click)="comment = ''">Programar
        sustitutorio
      </a></li>
    <li><a class="bg-primary-outline" href="#tab_programn" data-toggle="tab" aria-expanded="false" (click)="comment = ''">Sustitutorios
        programados
      </a></li>
  </ul>
  <!--End Options-->

  <!--Option Selected-->
  <div class="tab-content p-0" *ngIf="student && student.profile && termSelected && termSelected.length > 0">
    <!--Programar sustitutorio-->
    <div class="tab-pane active" id="tab_susti">
      <div class="alert alert-warning fade in alert-dismissable" *ngIf="!listSubjetPending || listSubjetPending.length <= 0">
        <h4>Mensaje</h4>
        <p>No existen asignaturas disponibles en el período {{termSelected}}</p>
      </div>
      <div *ngIf="listSubjetPending && listSubjetPending.length > 0">

        <header class="box-header with-border">
          <h3 class="box-title">Seleccione asignaturas:</h3>
        </header>

        <div class="table-responsive table-material">
          <table class="col-sm-12">
            <thead>
              <tr>
                <th>NRC</th>
                <th>Nombre</th>
                <th>Inasistencia(%)</th>
                <th colspan="3">
                  <div class="row">
                    <div class="col-sm-5 col-sm-12">Fecha Examen</div>
                    <div class="col-sm-4 col-sm-12">Fecha máx. programación</div>
                    <div class="col-sm-2 col-sm-12">¿Publico?</div>
                    <div class="col-sm-1 col-sm-12"></div>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let subject of listSubjetPending">
                <td>{{subject.nrc}}</td>
                <td>{{subject.subjetName}}</td>
                <td>
                  <p *ngIf="subject.absenceNrc != null">{{subject.absenceNrc.percentage}} %</p>
                  <p *ngIf="subject.absenceNrc == null"> - </p>
                </td>
                <td>
                  <div class="row" *ngFor="let schedule of subject.scheduled">
                    <div class="col-sm-5 col-sm-12">{{schedule.examDate | date: 'dd/MM/yyyy hh:mm a'}}</div>
                    <div class="col-sm-4 col-sm-12">{{schedule.finalRegistrationDate | date: 'dd/MM/yyyy hh:mm a'}}</div>
                    <div class="col-sm-2 col-sm-12">
                      <span class="badge bg-green" *ngIf="schedule.isPublic">Si</span>
                      <span class="badge bg-info" *ngIf="!schedule.isPublic">No</span>
                    </div>
                    <div class="col-sm-1 col-sm-12" (click)="selectSchedule(subject, schedule)">
                      <i class="fa fa-check-square-o fa-lg" *ngIf="schedule.selected"></i>
                      <i class="fa fa-square-o fa-lg" *ngIf="!schedule.selected"></i>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <br>

        <!--Inputs Save-->
        <label class="col-sm-2 control-label">Ingrese comentario:<br>
        </label>
        <div class="col-sm-10">
          <textarea class="form-control mt ng-pristine ng-valid ng-touched" name="comentario" placeholder="comentario..." rows="3"
            maxlength="200" [(ngModel)]="comment"></textarea>
        </div>
        <div class="clearfix"></div>
        <br>
        <footer class="box-footer">
          <button class="btn btn-danger" onclick="window.history.go(-1); return false;" type="submit">Cancelar</button>
          <button class="btn btn-primary pull-right" type="submit" (click)="saveSubstituteExamn()" [disabled]="validateBtnSaveSubstitute() === 0">
            Guardar
          </button>
        </footer>
        <!--End Inputs Save-->
      </div>
    </div>
    <!--End Programar sustitutorio-->

    <!--Sustitutorios programados-->
    <div class="tab-pane" id="tab_programn">
      <div class="alert alert-warning fade in alert-dismissable" *ngIf="!listRequestedSubjet || listRequestedSubjet.length <= 0">
        <h4>Mensaje</h4>
        <p>No se programo sustitutorios en el período {{termSelected}}</p>
      </div>
      <div *ngIf="listRequestedSubjet && listRequestedSubjet.length > 0">


        <header class="box-header with-border">
          <h3 class="box-title">Asignaturas programadas:</h3>
        </header>

        <div class="table-responsive table-material">
          <table class="col-sm-12">
            <thead>
              <tr>
                <th>NRC</th>
                <th>Nombre</th>
                <th>FechaExamen</th>
                <th>Aula</th>
                <th>¿Publico?</th>
                <th>¿Activo?</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let subject of listRequestedSubjet">
                <td>{{subject.substituteExam.nrc}}</td>
                <td>{{subject.substituteExam.subjetName}}</td>
                <td>{{subject.scheduled.examDate | date: 'dd/MM/yyyy hh:mm a'}}</td>
                <td>{{subject.scheduled.classRoom}}</td>
                <td>
                  <span class="badge bg-green" *ngIf="subject.scheduled.isPublic">Si</span>
                  <span class="badge bg-info" *ngIf="!subject.scheduled.isPublic">No</span>
                </td>
                <td>
                  <label class="switch">
                    <input type="checkbox" [(ngModel)]="subject.active">
                    <span class="slider round"></span>
                  </label>
                  <label *ngIf="subject.active">Si</label>
                  <label *ngIf="!subject.active">No</label>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <!--Inputs Save-->
        <br>
        <label class="col-sm-2 control-label">Ingrese comentario:<br>
        </label>
        <div class="col-sm-10">
          <textarea class="form-control mt ng-pristine ng-valid ng-touched" name="comentario" placeholder="comentario..." rows="3"
            maxlength="200" [(ngModel)]="comment"></textarea>
        </div>
        <div class="clearfix"></div>
        <br>
        <footer class="box-footer">
          <button class="btn btn-danger" onclick="window.history.go(-1); return false;" type="submit">Cancelar</button>
          <button class="btn btn-primary pull-right" type="submit" (click)="modifySubstituteExamn()" [disabled]="validateBtnModifySubstitute() === 0">
            Modificar
          </button>
        </footer>
        <!--End Inputs Save-->
      </div>
    </div>
    <!--End Sustitutorios programados-->
  </div>
  <!--End Option Selected-->

  <div class="alert alert-error fade in alert-dismissable" *ngIf="msgError != null && msgError.length>0">
    <h4>Error</h4>
    <p>{{msgError}}</p>
  </div>
</div>
