<div class="box box-default">
  <header class="box-header with-border">
    <h3 class="box-title"><i class="fa fa-file-text"></i> Información de la Solicitud</h3>
    <div class="box-tools hidden-print">
      <a routerLink="/backoffice/deu-personal/convalidaciones" class="btn btn-default">
        <i class="fa fa-arrow-left"></i> Regresar</a>
    </div>
  </header>
  <section class="box-body box-comments" *ngIf="request !== null && student_profile !=  undefined">
    <!-- resumen de la solicitud -->
    <bo-request-abstract [request]="request" [config]="config" (update)="getIdealFlow(flow, $event)"></bo-request-abstract>
    <div *ngIf="request.state === config.STATE_CONVALIDATION">
      <!-- Convalidacion de asginatura -->
      <div class="box-comments">
        <hr>
        <div class="box-comment">
          <div class="comment-text">
            Institución de procedencia: <strong>{{conva.institution || request.opts.transfer.institution_name}}</strong>
          </div>
        </div>
        <!-- Resumen de Asignaturas solicitados por el alumno -->
        <div class="box-comment" *ngIf="request.document_id === config.DOC_CONVALIDATION_EXTENSION">
          <div class="comment-text">
            Asignaturas Solicitados por el estudiante:
            <div class="table-responsive bg-white">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th colspan="2" class="text-center col-sm-6">UC</th>
                    <th class="text-center col-sm-6">{{request.opts.transfer.institution_name}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let course of request.opts.courses">
                    <td>{{course.uc.id}}</td>
                    <td>{{course.uc.name}}</td>
                    <td>{{course.ext}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- end Resumen de asignaturas solicitados por el alumno -->
        <!-- elegir camino-->
        <div class="box-comment hidden-print" *ngIf="process === ''">
          <div class="comment-text">
            Acciones:
          </div>
          <div class="comment-text row">
            <div class="col-sm-6">
              <button class="btn btn-primary" name="button" (click)="process='ok'"> Proceder con la convalidación</button>
            </div>
            <div class="col-sm-6">
              <button class="btn btn-danger" name="button" (click)="process='cancel'; derivate_message='rechazo la solicitud';"> Rechazar la convalidación</button>
            </div>
          </div>
        </div>
        <!-- end elegir camino-->
        <!-- FIXME verificar si el director requiere esta información -->
        <!-- Resumen para el director de programa -->
        <!-- proceder con la conva -->
        <div *ngIf="process === 'ok'">
          <div class="box-comment">
            <div class="comment-text">
              Plan de Estudios del estudiante:
            </div>
          </div>
          <div class="box-comment">
            <transfer-process [request]="request"></transfer-process>
          </div>
          <!-- Derivar Documento -->
          <div class="comment-text hidden-print">
            <p>
              Derivar a: <strong>Convalidaciones </strong>
            </p>
          </div>
          <div class="hidden-print">
            <div class="comment-text">
              <p class="form-group">
                <label for="">Mensaje</label>
                <textarea name="name" rows="6" cols="26" class="form-control" [(ngModel)]="derivate_message"></textarea>
              </p>
              <p>
                <button class="btn btn-big btn-primary" (click)="derivateRequest($event, request.id, derivate_message)">Derivar</button>
              </p>
            </div>
          </div>
        </div>

        <!-- end proceder con la conva -->

        <!-- cancelar con la conva -->
        <div  *ngIf="process === 'cancel'">
          <div class="comment-text">
            <p>
              <strong>Rechazar convalidación </strong>
            </p>
          </div>
          <div>
            <div class="comment-text">
              <p class="form-group">
                <label for="">Mensaje</label>
                <textarea name="name" rows="6" cols="26" class="form-control" [(ngModel)]="derivate_message"></textarea>
              </p>
              <p>
                <button class="btn btn-big btn-danger" (click)="cancelRequest($event, request.id, derivate_message)">Rechazar</button>
              </p>
            </div>
          </div>

        </div>
        <!-- end cancelar con la conva -->

      </div>
      <!-- end Convalidacion de asginatura -->
    </div>
  </section>
  <section class="box-body box-comments" *ngIf="request === null">
    <loading [text]="'CARGANDO SU SOLICITUD'"></loading>
  </section>
  <div class="box-footer hidden-print" *ngIf="request !== null">
    <header>
      <h5> <i class="fa fa-list-ul"></i> Vida de la Solicitud</h5>
      <hr>
    </header>
    <!-- Lista del Flujo de la Solicitud (TimeLine Horizontal) -->
    <div class="col-md-12">
      <request-flow [ideal-flow]="ideal_flow" [request]="request" [logs]="logs">
      </request-flow>
    </div>
  </div>
</div>
