<div class="row">
  <div class="col-md-3">
    <div class="box box-solid">
      <div class="box-header with-border">
        <h3 class="box-title">Solicitudes</h3>
        <div class="box-tools">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
          </button>
        </div>
      </div>
      <div class="box-body no-padding">
        <ul class="nav nav-pills nav-stacked">
          <li [ngClass]="{'active': (inbox === 'pending')}" (click)="setInbox($event, 'pending')">
            <a><i class="fa fa-inbox"></i> Pendientes
              <span class="label label-primary pull-right" *ngIf="requests !== null">{{requests.length}}</span>
            </a>
          </li>
        </ul>
      </div>
      <!-- /.box-body -->
    </div>
  </div>
  <div class="col-md-9" *ngIf="inbox !==  'cancelations' && inbox !== 'search'">
    <div class="box box-default">
      <header class="box-header with-border">
        <h3 class="box-title"><i class="fa fa-file-text"></i> Solicitudes por Procesar</h3>
        <div class="box-tools pull-right">
          <div class="has-feedback">
            <input type="text" class="form-control input-sm" name="filter" [(ngModel)]="filter" placeholder="Filtrar">
            <span class="glyphicon glyphicon-search form-control-feedback"></span>
          </div>
        </div>
      </header>
      <section class="box-body no-padding">
        <div class="table-responsive">
          <table class="table table-hover table-striped">
            <thead>
              <tr >
                <th> # </th>
                <th> Solicitud </th>
                <th> Documento </th>
                <th> Estudiante </th>
                <th> Descripción </th>
                <th> Fecha </th>
                <th> Estado </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let request of requests_active | loopFilter: filter; let i = index" (click)="gotoRequestDetail(request.id)">
                <td> {{i+1}} </td>
                <td> {{request.id}} </td>
                <td> {{config.getDocumentName(request.document_id)}} </td>
                <td> {{request.student_name}} </td>
                <td> {{(request.description | jsonParse).description || 'sin descripción'}} </td>
                <td> {{request.creation_date | date: 'dd/MM/yyyy hh:mm'}} </td>
                <td>
                  <span class="pull-right badge" [ngClass]="{'bg-green': (request.state === config.STATE_DELIVERY_PENDING), 'bg-yellow': (request.state === config.STATE_ATENTION), 'bg-aqua': (request.state === config.STATE_PROCESS_PENDING), 'bg-gray': (request.state === config.STATE_DOCUMENT_RECEPTION)}">
                    <i class="fa fa-tag"></i>
                    {{config.getDocumentState(request.state).name}}
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
      <div class="box-footer">
      </div>
    </div>
  </div>
  <div class="col-md-9" *ngIf="inbox ===  'cancelations'">
    solicitudes de cancelaciones. <br>
    Aun no implementado
  </div>
  <!-- fin cancelaciones -->
  <div class="col-md-9" *ngIf="inbox ===  'search'">
    <!-- Busqueda de solicitudes-->
    <div class="box box-solid">
      <div class="box-header with-border">
        <h3 class="box-title">Buscar solicitudes</h3>
        <div class="box-tools">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
          </button>
        </div>
      </div>
      <div class="box-body">
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <label># Solicitud</label>
            <div class="input-group">
              <input name="id" type="text" class="form-control" data-type="text">
              <span class="input-group-addon hand"><i class="glyphicon glyphicon-pencil"></i></span>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <label>Fecha</label>
            <div class="input-group">
              <input name="fechasolicitud_date" type="text" class="form-control hasDateEntry" data-type="date">
              <span class="input-group-addon hand"><i class="glyphicon glyphicon-pencil"></i></span>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <label>Estado</label>
            <div class="input-group">
              <select class="form-control" name="estado_id" data-type="select">
                <option value="0">Seleccione</option>
                <option value="1">Pendiente de Requisitos</option>
                <option value="2">Derivado</option>
                <option value="3">Pendiente de Entrega</option>
                <option value="4">Entregado</option>
                <option value="5">Cancelado</option>
                <option value="6">Pendiente de Pago</option>
                <option value="7">Registrado</option>
                <option value="8">En Convalidacion</option>
                <option value="9">Evaluación y Registro de Resolución</option>
                <option value="14">Publicado</option>
              </select>
              <span class="input-group-addon hand"><i class="glyphicon glyphicon-pencil"></i></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <label>Estudiante</label>
            <div class="input-group">
              <input name="alumno_id" type="text" class="form-control" data-type="text">
              <span class="input-group-addon hand"><i class="glyphicon glyphicon-pencil"></i></span>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <label>Documento</label>
          </div>
        </div>
        <div class="row mt">
            <div class="col-xs-12 col-sm-12">
              <input type="button" class="btn btn-primary btn-sm" value="Filtrar">
            </div>
          </div>
      </div>
    </div>

    <div class="box box-solid">
      <div class="box-body">
        <div class="table-responsive">
          <table class="table table-hover table-striped">
            <thead>
              <tr >
                <th> # </th>
                <th> Solicitud </th>
                <th> Documento </th>
                <th> Estudiante </th>
                <th> Descripción </th>
                <th> Fecha </th>
                <th> Estado </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let request of requests; let i = index" (click)="gotoRequestDetail(request.id)">
                <td> {{i+1}} </td>
                <td> {{request.id}} </td>
                <td> {{config.getDocumentName(request.document_id)}} </td>
                <td> {{request.student_name}} </td>
                <td> {{(request.description | jsonParse).description || 'sin descripción'}} </td>
                <td> {{request.creation_date | date: 'dd/MM/yyyy hh:mm'}} </td>
                <td>
                  <span class="pull-right badge" [ngClass]="{'bg-green': (request.state ===  config.STATE_DELIVERY_PENDING), 'bg-yellow': (request.state ===config.STATE_ATENTION)}">
                    <i class="fa fa-tag"></i>
                    {{config.getDocumentState(request.state).name}}
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- fin nusqueda -->
</div>
