<div class="row" *ngIf="area == ''">
  <div class="col-md-4 col-xs-12" *ngFor="let menu of menus">
    <!-- small box -->
    <a [routerLink]="['/frontdesk/caja/' + menu.uri]" class="card card-clickable card-submodule">
      <div class="card-image bg-success text-white">
        <i class="fc-economic"></i>
      </div>
      <div class="card-content">
        <h3 class="card-title">{{menu.name}}</h3>
        <p class="info">Más información
          <i class="fa fa-arrow-circle-right text-blue"></i>
        </p>
      </div>
    </a>
  </div>
</div>
<div class="row" *ngIf="area != ''">
  <div class="col-md-4 col-sm-6 col-xs-12" *ngFor="let menu of menus">
    <a [routerLink]="['/frontdesk/caja/' + area + '/' + menu.uri]" >
      <div class="card-image bg-success text-white">
        <i class="fa fa-4x" [class]="[menu.icon]"></i>
      </div>
      <div class="card-content">
        <h3 class="card-title">{{menu.name}}</h3>
        <p class="info">Más información
          <i class="fa fa-arrow-circle-right text-blue"></i>
        </p>
      </div>
    </a>
  </div>
</div>
