<loading *ngIf="loading"></loading>

<div class="alert alert-danger" *ngIf="!loading && error_message!=''">
  <h4><i class="icon fa fa-ban"></i> Error!</h4>
  <p>Se produjo un error. Estamos trabajando para resolver este problema cuanto antes.</p>
  <p>( {{error_message}} )</p>
</div>

<div *ngIf="!loading && error_message==''">

  <div class="card card-primary hidden-print">
    <div class="header">
      <h3 class="title"><i class="fa fa-calendar"></i> Período:</h3>
    </div>
    <div class="body">
      <ul class="scrollViewX text-center" *ngIf="terms.length>0">
        <li class="scrollViewItem" *ngFor="let term of terms">
          <button class="btn btn-outline-primary btn-lg" [ngClass]="{'bg-primary':current_term==term}"
            (click)="getGroupedDebts(term)">{{term}}</button>
        </li>
      </ul>
    </div>
  </div>

  <div *ngIf="shows.debtsAndPayments">
    <ul class="nav nav-tabs nav-justified hidden-print">
      <li class="active">
        <a class="bg-primary-outline" href="#tab_deudas" data-toggle="tab" aria-expanded="true">Deudas</a>
        </li>
      <li>
        <a class="bg-primary-outline" href="#tab_pagos" data-toggle="tab" aria-expanded="false">Pagos</a>
      </li>
    </ul>
    <div class="tab-content border rounded-bottom bg-white p">
      <div class="tab-pane active" id="tab_deudas">
        <loading *ngIf="!shows.debts"></loading>
        <div *ngIf="shows.debts">
          <div class="alert alert-info fade in alert-dismissable"
            *ngIf="list_accounts_enrolment_debts.length===0 && list_accounts_debts.length===0">
            <h4>Mensaje</h4>
            <p>Usted no tiene deudas en el período {{term}}</p>
          </div>
          <div class="box box-primary direct-chat-primary table-responsive"
            *ngIf="list_accounts_enrolment_debts.length > 0 && getTotalList(list_accounts_enrolment_debts, 1) > 0">
            <div class="box-header with-border">
              <h3 class="box-title">Matrícula - {{term}}</h3>
            </div>
            <div class="table-responsive table-material mb">
              <table class="table table-striped table-hover">
                <thead class="bg-info text-white">
                  <tr>
                    <th>Concepto</th>
                    <th>Descripción</th>
                    <th>Período</th>
                    <th>Fecha de vencimiento</th>
                    <th>Descuento / Mora</th>
                    <th>Abono</th>
                    <th>Deuda</th>
                    <th class="hidden-print text-center">Acción</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let debt of list_accounts_enrolment_debts">
                    <td>{{debt.concept_id}}</td>
                    <td>{{debt.description}}</td>
                    <td>{{debt.term}}</td>
                    <td>
                      <div *ngIf="!debt.mat">
                        <span class="pull-left-container"
                          *ngIf="debt.extension_date && debt.extension_date > debt.paymen_date">
                          {{debt.extension_date | date:'dd/MM/yyyy'}}
                          <small class="label bg-red"
                            *ngIf="compareDates(debt.extension_date, getDateNow())">Vencido</small>
                          <small class="label bg-green">Prorroga</small>

                        </span>
                        <span class="pull-left-container"
                          *ngIf="!debt.extension_date || debt.extension_date <= debt.paymen_date">
                          {{debt.paymen_date | date:'dd/MM/yyyy'}}
                          <small class="label bg-red"
                            *ngIf="compareDates(debt.paymen_date, getDateNow().getTime())">Vencido</small>
                        </span>
                      </div>
                      <div *ngIf="debt.mat">---</div>

                    </td>
                    <td>
                      {{debt.interest + debt.discount}}
                      <span class="pull-left-container">
                        <small class="label bg-yellow" *ngIf="debt.interest + debt.discount > 0">Mora</small>
                        <small class="label bg-green" *ngIf="debt.interest + debt.discount < 0">Descuento</small>
                      </span>
                    </td>
                    <td>{{debt.deposit}}</td>
                    <td>{{debt.total}}</td>
                    <td>
                      <label class="btn btn-info hidden-print" (click)="viewDetailsDebt(debt)">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                        Ver detalles
                      </label>
                      <label class="btn btn-primary hidden-print" (click)="getPaymentOnlineId(debt)">
                        <i class="fa fa-credit-card" aria-hidden="true"></i>
                        Pago en linea
                      </label>
                    </td>

                  </tr>
                  <tr>
                    <td colspan="7">
                      <span class="pull-right">Total</span>
                    </td>
                    <td>{{getTotalList(list_accounts_enrolment_debts, 1)}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="box box-primary direct-chat-primary table-responsive"
            *ngIf="list_accounts_debts && getTotalList(list_accounts_debts, 1) > 0">
            <div class="box-header with-border">
              <h3 class="box-title">Deudas pendientes con la Universidad</h3>
              <button class="btn btn-default bg-secondary text-white hidden-print" (click)="print()">
                <i class="fa fa-print"></i> Imprimir </button>
            </div>
            <div class="table-responsive table-material mb">
              <table class="table table-striped table-hover">
                <thead class="bg-info text-white">
                  <tr>
                    <th>Concepto</th>
                    <th>Descripción</th>
                    <th>Período</th>
                    <th>Fecha de vencimiento</th>
                    <th>Descuento / Mora</th>
                    <th>Abono</th>
                    <th>Deuda</th>
                    <th class="hidden-print text-center">Acción</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let debt of list_accounts_debts">
                    <td>{{debt.concept_id}}</td>
                    <td>{{debt.description}}</td>
                    <td>{{debt.term}}</td>
                    <td>
                      <div *ngIf="!debt.mat">
                        <span class="pull-left-container"
                          *ngIf="debt.extension_date && debt.extension_date > debt.paymen_date">
                          {{debt.extension_date | date:'dd/MM/yyyy'}}
                          <small class="label bg-red"
                            *ngIf="compareDates(debt.extension_date, getDateNow())">Vencido</small>
                          <small class="label bg-green">Prorroga</small>

                        </span>
                        <span class="pull-left-container"
                          *ngIf="!debt.extension_date || debt.extension_date <= debt.paymen_date">
                          {{debt.paymen_date | date:'dd/MM/yyyy'}}
                          <small class="label bg-red"
                            *ngIf="compareDates(debt.paymen_date, getDateNow().getTime())">Vencido</small>
                        </span>
                      </div>
                      <div *ngIf="debt.mat">
                        ---
                      </div>

                    </td>
                    <td>
                      {{debt.interest + debt.discount}}
                      <span class="pull-left-container">
                        <small class="label bg-yellow" *ngIf="debt.interest + debt.discount > 0">Mora</small>
                        <small class="label bg-green" *ngIf="debt.interest + debt.discount < 0">Descuento</small>
                      </span>
                    </td>
                    <td>{{debt.deposit}}</td>
                    <td>{{debt.total}}</td>
                    <td class="hidden-print">
                      <label class="btn btn-info" (click)="viewDetailsDebt(debt)">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                        Ver detalles
                      </label>
                      <label class="btn bg-primary" (click)="getPaymentOnlineId(debt)">
                        <i class="fa fa-credit-card" aria-hidden="true"></i>
                        Pagar online
                      </label>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="box box-primary direct-chat-primary table-responsive"
            *ngIf="listDocumentReceivable && getTotalList(listDocumentReceivable, 1) > 0">
            <div class="box-header with-border">
              <h3 class="box-title">Documentos por pagar</h3>
            </div>
            <div class="table-responsive table-material mb">
              <table class="table table-striped table-hover">
                <thead class="bg-info text-white">
                  <tr>
                    <th>Descripción</th>
                    <th>Período</th>
                    <th>Abono</th>
                    <th>Deuda</th>
                    <th class="hidden-print text-center">Acción</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let debt of listDocumentReceivable">
                    <td>{{debt.description}}</td>
                    <td>{{debt.term}}</td>
                    <td>{{debt.deposit}}</td>
                    <td>{{debt.total}}</td>
                    <td class="hidden-print">
                      <label class="btn bg-primary" (click)="getPaymentOnlineId(debt)">
                        <i class="fa fa-money" aria-hidden="true"></i>
                        Pagar
                      </label>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="tab-pane" id="tab_pagos">
        <loading *ngIf="!shows.payments"></loading>
        <div *ngIf="shows.payments">
          <div class="alert alert-info  fade in alert-dismissable"
            *ngIf="list_accounts_enrolment_payments.length===0 && list_accounts_payments.length===0">
            <h4>Mensaje</h4>
            <p>Usted no tiene pagos en el período {{term}}</p>
          </div>
          <div *ngIf="list_accounts_enrolment_payments.length > 0">
            <h3 class="mt-0">Matrícula - {{term}}</h3>
            <div class="table-responsive table-material mb">
              <table class="table">
                <thead class="bg-info text-white">
                  <tr>
                    <th>Concepto</th>
                    <th>Descripción</th>
                    <th>Monto</th>
                    <th>Descuento / Mora</th>
                    <th>Abono</th>
                    <th>Deuda</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let payment of list_accounts_enrolment_payments">
                    <td>{{payment.concept_id}}</td>
                    <td>{{payment.description}}</td>
                    <td>{{payment.ammount}}</td>
                    <td>
                      {{payment.interest + payment.discount}}
                      <span class="pull-left-container">
                        <small class="label bg-yellow" *ngIf="payment.interest + payment.discount > 0">Mora</small>
                        <small class="label bg-green" *ngIf="payment.interest + payment.discount < 0">Descuento</small>
                      </span>
                    </td>
                    <td>{{payment.deposit}}</td>
                    <td>{{payment.total}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div *ngIf="list_accounts_payments && getTotalList(list_accounts_payments, 2) > 0">
            <h3 class="mt-0">Pagos realizados a la Universidad - {{term}}</h3>
            <div class="table-responsive table-material mb">
              <table class="table">
                <thead class="bg-info text-white">
                  <tr>
                    <th>Concepto</th>
                    <th>Descripción</th>
                    <th>Fecha de vencimiento</th>
                    <th>Monto</th>
                    <th>Descuento / Mora</th>
                    <th>Abono</th>
                    <!-- <th>Deuda</th> -->
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let payment of list_accounts_payments">
                    <td>{{payment.concept_id}}</td>
                    <td>{{payment.description}}</td>
                    <td>
                      <span *ngIf="payment.extension_date && payment.extension_date > payment.paymen_date">
                        {{payment.extension_date | date:'dd/MM/yyyy'}}
                      </span>
                      <span *ngIf="!payment.extension_date || payment.extension_date <= payment.paymen_date">
                        {{payment.paymen_date | date:'dd/MM/yyyy'}}
                      </span>
                    </td>
                    <td>{{payment.ammount}}</td>
                    <td>
                      {{payment.interest + payment.discount}}
                      <span class="pull-left-container">
                        <small class="label bg-yellow" *ngIf="payment.interest + payment.discount > 0">Mora</small>
                        <small class="label bg-green" *ngIf="payment.interest + payment.discount < 0">Descuento</small>
                      </span>
                    </td>
                    <td>{{payment.deposit}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="shows.debtDetail">
  <div class="box box-primary direct-chat-primary" *ngIf="detail_debt != null">
    <div class="box-header with-border">
      <button class="btn btn-info btn-sm" (click)="updateShow('debtsAndPayments')"><i class="fa fa-reply"></i>
        Volver</button>
      <h3 class="box-title">Detalles de la deuda</h3>
      <br>
      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" (click)="updateShow('debtsAndPayments')"><i
            class="fa fa-times"></i></button>
      </div>
    </div>
    <div class="box-body">
      <div class="row text-center">
        <div class="col-md-3">
          <h4 class="box-title">Concepto : {{detail_debt.concept_id}}</h4>
        </div>
        <div class="col-md-3">
          <h4 class="box-title">Período : {{detail_debt.term}}</h4>
        </div>
        <div class="col-md-3" *ngIf="!detail_debt.mat">
          <h4 class="box-title">Fecha de vencimiento 
            <span class="pull-left-container"
              *ngIf="detail_debt.extension_date && detail_debt.extension_date > detail_debt.paymen_date">
              {{detail_debt.extension_date | date:'dd/MM/yyyy'}}
            </span>
            <span class="pull-left-container"
              *ngIf="!detail_debt.extension_date || detail_debt.extension_date <= detail_debt.paymen_date">
              {{detail_debt.paymen_date | date:'dd/MM/yyyy'}}
            </span>
          </h4>
        </div>
        <div class="col-md-3">
          <h4 class="box-title">Monto a pagar : <span class="title text-blue text-bold">{{detail_debt.total}}</span></h4>
        </div>
      </div>
      <div class="table-responsive table-material mb">
        <table class="table table-striped table-hover">
          <thead class="bg-info text-white">
            <tr>
              <th>Concepto</th>
              <th>Descripción</th>
              <th  *ngIf="!detail_debt.mat">Fecha de vencimiento</th>
              <th>Descuento / Mora</th>
              <th>Abono</th>
              <th>Deuda</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let debt of detail_debt.details_grouped_gebts">
              <td>{{debt.concept_id}}</td>
              <td>{{debt.description}}</td>
              <td  *ngIf="!detail_debt.mat">
                <span class="pull-left-container" *ngIf="debt.extension_date && debt.extension_date > debt.paymen_date">
                  {{detail_debt.extension_date | date:'dd/MM/yyyy'}}
                </span>
                <span class="pull-left-container"
                  *ngIf="!debt.extension_date || debt.extension_date <= debt.paymen_date">
                  {{detail_debt.paymen_date | date:'dd/MM/yyyy'}}
                </span>
              </td>
              <td>{{debt.interest + debt.discount}}</td>
              <th>{{debt.deposit}}</th>
              <td>{{debt.total}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div *ngIf="shows.paymentMethod">
  <div class="box box-primary">
    <div class="box-header with-border">
      <button class="btn btn-info btn-sm" (click)="updateShow('debtsAndPayments')"><i class="fa fa-reply"></i>
        Volver</button>
      <h2 class="box-title"> Formas de pago</h2>
      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" (click)="updateShow('debtsAndPayments')"><i
            class="fa fa-times"></i></button>
      </div>
    </div>
    <div class="box-body">
      <payment-methods [paymentData]="paymentData"></payment-methods>
    </div>
  </div>
</div>
