<loading *ngIf="loading"></loading>

<banks-info></banks-info>

<div class="col-md-12" *ngIf="!paymentData.documentReceivable">
  <div class="card p">
    <h3 class="mt-0">Pagos en línea – Otros</h3>
    <p>Tarjetas VISA de cualquier Banco, Financiera o Caja Municipal.</p>
    <div class="btn-group" role="group" aria-label="...">
      <label class="btn bg-primary" (click)="payment()">
        <i class="fa fa-cc-visa" aria-hidden="true"></i> Pagar online
      </label>
      <a class="btn btn-info" [href]="_config._BASE_URI+ 'Content/static/pdfs/guiasbancos/guiaPagoOnline.pdf'" target="_blank">
        <i class="fa fa-file-pdf-o"></i> Guía
      </a>
    </div>
  </div>
</div>
