<div class="container-fluid">
  <div class="box box-info">
    <div class="overlay" *ngIf="load === true">
      <i class="fa fa-refresh fa-spin"></i>
    </div>
    <header class="box-header with-border">
      <div>
        <div class="box-tools pull-right" style = "z-index: 1;">
          <a class="btn btn-sm btn-default" (click)="returnDetailsPage()">
            <i class="fa fa-arrow-left" ></i> Regresar</a>
        </div>
      </div>
      <div class="clearfix"></div>
    </header>
    <div class="box-body">
      <h1 class="text-center">Reponder Reclamo o queja</h1>

      <div *ngIf="state === config.LDR_STATE_DERIVATE_FINALIZED" >
        <div class="alert alert-danger" role="alert">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span>
            Solo se puede responder derivaciones con estado pendiente.
        </div>
        <input class="form-control btn btn-info " type="button" value="Regresar" (click) = "returnDetailsPage()"/>
      </div>

      <div *ngIf="state !== config.LDR_STATE_DERIVATE_FINALIZED">
        <fieldset>
          <div class="form-group">
            <label for="unidad">Respuesta <span class="text-danger">*</span></label>
            <textarea class="form-control" placeholder="Nota de desestimación" [(ngModel)]="answer" required  rows="8" cols="80" required></textarea>
          </div>

          <div class="form-group">
            <label>Documentos: <span class="text-danger">*</span></label>
            <!--================================================archivos======================================================-->
            <ldr-upload-files #uploader [required]="false" [(isValid)]="file_validate" (loadFile)="finalizedFiles($event)"></ldr-upload-files>
            <!--=================================================================================================================-->
          </div>
        </fieldset>
        <div class="alert alert-danger" role="alert" *ngIf="msg_error.length > 0">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span>
            {{msg_error}}
        </div>
        <section class="">
          <div class="row">
            <div class = "col-md-4"></div>
            <div class = "col-md-2"><button type="button" class="form-control btn btn-info" (click)="answerDeritate()">Responder</button><br><br></div>
            <div class = "col-md-2"><button type="button" class="form-control btn btn-info" (click)="returnDetailsPage()">Cancelar</button><br><br></div>
            <div class = "col-md-4"></div>
          </div>
        </section>
      </div>

    </div>
  </div>
</div>
