<div class="container-fluid">
  <div class="box box-info">
    <div class="overlay" *ngIf="load === true">
      <i class="fa fa-refresh fa-spin"></i>
    </div>
    <header class="box-header with-border">
      <div>
        <div class="box-tools pull-right" style = "z-index: 1;">
          <a (click) = "returnDetailsPage()" class="btn btn-sm btn-default" >
            <i class="fa fa-arrow-left"></i> Regresar</a>
        </div>
      </div>
      <div class="clearfix"></div>
    </header>
    <div class="box-body">
      <h1 class="text-center">Derivar Reclamo o Queja</h1>
      <div class="form">
        <fieldset>
          <div class="form-group">
            <label for="unidad">Colaborador <span class="text-danger">*</span></label><br>
            <div class="row align-items-center"  style="display: flex;align-items: center;">
              <div class="col-sm-10 align-middle">
                <p-autoComplete [(ngModel)]="collaborator" [suggestions]="list_collaborators" field="nombre" (completeMethod)="filterCollaborators($event)" [dropdown]="false"
                    placeholder="Nombres y Apellidos" [minLength]="3" [forceSelection]="false" [required]="true"  inputStyleClass="form-control" styleClass="span100">
                    <ng-template let-value pTemplate="item">
                      <div class="ui-helper-clearfix" style="border-bottom:1px solid #D5D5D5">
                        <img [src]="'api/personal/photo/'+value.employee_pidm" style="width:32px" class="pull-left" alt="xcv"/>
                        <div class="p">{{value.nombre}}</div>
                      </div>
                    </ng-template>
                </p-autoComplete>
              </div>
              <div class="col-sm-2">
                <img *ngIf="collaborator != null && collaborator.employee_pidm != null && collaborator.employee_pidm.length > 0" [src]="'api/personal/photo/'+collaborator.employee_pidm" class="img-responsive img-rounded pull-center" alt="photo" style="max-width:140px;">
              </div>
            </div>

          </div>
          <div class="form-group" *ngIf="collaborator != null" >
            <label>Cargo <span class="text-danger">*</span></label>
            <input  type="text" class="form-control" placeholder="Cargo" required disabled value="{{collaborator.employee_position_company_description}}"/>
          </div>
          <div class="form-group" *ngIf="collaborator != null && collaborator.employee_user_id != null && collaborator.employee_user_id.length > 0">
            <label>Se enviara Correo a: <span class="text-danger">*</span></label>
            <input  type="text" class="form-control" placeholder="Cargo" required disabled value="{{collaborator.employee_user_id}}@continental.edu.pe"/>
          </div>
          <div class="form-group">
            <label>Nota Derivación: <span class="text-danger">*</span></label>
            <textarea class="form-control" placeholder="Nota de derivación" required   [(ngModel)] = "note" rows="8" cols="80"></textarea>
          </div>
        </fieldset>
        <div class="alert alert-danger" role="alert" *ngIf="msg_error.length > 0">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span>
            {{msg_error}}
        </div>
        <section class="">
          <div class="row">
            <div class = "col-md-4"></div>
            <div class = "col-md-2"><button type="button" class="form-control btn btn-info" (click) = "saveAsigmentCollaborator()">Guardar</button><br><br></div>
            <div class = "col-md-2"><button type="button" class="form-control btn btn-info" (click) = "returnDetailsPage()">Cancelar</button><br><br></div>
            <div class = "col-md-4"></div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
