<div class="box box-default">
  <div class="overlay" *ngIf="load === true">
    <i class="fa fa-refresh fa-spin"></i>
  </div>
  <header class="box-header with-border">
    <div>
      <div class="box-tools pull-right" style = "z-index: 1;">
        <a (click)="returnListPages()" class="btn btn-sm btn-default">
          <i class="fa fa-arrow-left"></i> Regresar</a>
      </div>
    </div>
    <div class="clearfix"></div>
  </header>
<!--================================================detalle======================================================-->
  <ldr-claims-details [page_id]="page_id" (getState)="setStatePage($event)"></ldr-claims-details>
<!--=================================================================================================================-->
<!--================================================Derivación======================================================-->
<header class="box-header">
  <h3 class="box-title"><i class="fa fa-file-text"></i> Datos Derivación</h3>
</header>
<section class="box-body box-comments">
  <div class="box-comment">
    <div class="comment-text">
      <div>
        Nota Derivación: <strong> {{derivate.staff_involved_note}}</strong>
        <br><br>
        Encargado: <strong>{{derivate.staff_Involved_name}}</strong>.
        <br><br>
        Fecha derivación: <strong>{{derivate.derivate_date_created | date: 'dd/MM/yyyy hh:mm'}}</strong>.
        <br><br>
        <div class="col-md-3 list-group" *ngFor="let file of file_derivate">
          <a href="api/claimsbook/File/{{file.file_id}}" download = "{{file.file_name}}" class="list-group-item">{{file.file_name}}</a>
        </div>
      </div>
    </div>
  </div>
</section>

<div *ngIf="derivate.answers != null && derivate.answers.length > 0">
  <header class="box-header">
    <h3 class="box-title"><i class="fa fa-file-text"></i> Respuesta(s)</h3>
  </header>
  <section class="box-body box-comments"  *ngFor="let answer of derivate.answers">
    <div class="box-comment">
      <div class="comment-text">
        <div>
          <div class="col-md-11 row">
            Persona que respondio: <strong>{{answer.answer_names}}</strong>.|
            <span class="badge bg-green" *ngIf="answer.answer_state == config.LDR_STATE_ANSWER_ACCEPTED">
              <i class="fa fa-tag"></i>
              Aprobado.
            </span>

            <br><br>
            Fecha respuesta: <strong>{{answer.answer_date_validate | date: 'dd/MM/yyyy hh:mm'}}</strong>
            <br><br>
            Respuesta: <strong>{{answer.answer_note}}</strong>
            <br><br>
            <div class="col-md-3 list-group" *ngFor="let file of answer.files">
              <a href="api/claimsbook/File/{{file.file_id}}" download = "{{file.file_name}}" class="list-group-item">{{file.file_name}}</a>
            </div>
          </div>
          <div class="col-md-1" *ngIf="derivate.derivate_state == config.LDR_STATE_DERIVATE_RESOLVED  && derivate.staff_involved_type == config.LDR_TYPE_INVOLVED_BOSS">
            <button type="button" class="btn btn-primary btn-success withImageAndIcon  center-block" (click) = "acceptAnswerDerivate(answer.answer_id)">
              <div class="fa-lg withFolder48">
                <i class="fa fa-check"></i>
              </div>
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<!--=================================================================================================================-->

<!--================================================Respuesta Area Legal======================================================-->
  <!--<ldr-answer-claim-book *ngIf="state === config.LDR_STATE_PAGE_RESOLVED || state === config.LDR_STATE_PAGE_FINALIZED" [page_id]="page_id"></ldr-answer-claim-book>-->
<!--=================================================================================================================-->

<!--================================================acciones======================================================-->
  <section class="box-body box-comments">
    <div class="box-comment">
      <div class="comment-text row" *ngIf=" staff_type === config.LDR_TYPE_INVOLVED_BOSS && staff_state === config.LDR_STATE_STAFF_NOT_DERIVATED &&  derivate.derivate_state == config.LDR_STATE_DERIVATE_PENDING">
        <div class = "col-md-4"></div>
        <div class = "col-md-2"><button type="button" class="form-control btn btn-info" (click)="createDerivation(page_id)">Derivar</button><br><br></div>
        <div class = "col-md-2"><button type="button" class="form-control btn btn-info" (click)="gotoPageAnswer(page_id)">Responder</button><br><br></div>
        <div class = "col-md-4"></div>
      </div>

      <div class="comment-text row" *ngIf=" staff_type === config.LDR_TYPE_INVOLVED_BOSS && staff_state === config.LDR_STATE_STAFF_DERIVATED && derivate.derivate_state != config.LDR_STATE_PAGE_FINALIZED">
        <div class = "col-md-4"></div>
        <div class = "col-md-4"><button type="button" class="form-control btn btn-info" (click)="gotoPageAnswer(page_id)">Responder.</button><br><br></div>
        <div class = "col-md-4"></div>
      </div>

      <div class="comment-text row" *ngIf="  staff_type === config.LDR_TYPE_INVOLVED_COLLABORATOR && staff_state === config.LDR_STATE_STAFF_NOT_DERIVATED && derivate.derivate_state == config.LDR_STATE_DERIVATE_PENDING">
        <div class = "col-md-4"></div>
        <div class = "col-md-4"><button type="button" class="form-control btn btn-info" (click)="gotoPageAnswer(page_id)">Responder</button><br><br></div>
        <div class = "col-md-4"></div>
      </div>

    </div>
  </section>
<!--==============================================================================================================-->
</div>
