﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="@Url.Content("~/")" />
    <title>Centro de Atención - @ViewBag.Title </title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- We are not robots -->
    <link type="text/plain" rel="author" href="humans.txt" />
    <link rel="stylesheet" href="@Url.Content("~/dist/styles/dist.css")">
    <link rel="icon" type="image/png" href="favicon.ico">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="hold-transition skin-black sidebar-mini fixed">
    <div class="wrapper">

        <header class="main-header">
            <!-- Logo -->
            <a href="@Url.Content("~/frontdesk")" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b><img src="@Url.Content("~/Content/static/images/isotipo-white.svg")" height="28px" alt="isotipo"></b></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b><img src="@Url.Content("~/Content/static/images/logo-horizontal-white.svg")" height="30px" alt="isotipo"></b></span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle font-normal" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>

                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- Messages: style can be found in dropdown.less-->
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="@Url.Content("~/api/personal/photo/" + @ViewBag.person.person_id)" class="user-image" alt="User Image">
                                <span class="hidden-xs">@ViewBag.person.first_name</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img src="@Url.Content("~/api/personal/photo/" + @ViewBag.person.person_id)" class="img-circle" alt="User Image">
                                    @if (ViewBag.person.type == ACAccess.Constants.TYPE_STUDENT)
                                    {
                                        <p>
                                            @ViewBag.person.last_name, @ViewBag.person.first_name  <br /> @ViewBag.profile.college.name
                                            <small>@ViewBag.profile.program.name</small>
                                        </p>
                                    }
                                    else
                                    {
                                        <p>
                                            @ViewBag.person.last_name, @ViewBag.person.first_name  <br />
                                            @ViewBag.person.campus.name
                                        </p>
                                    }

                                </li>
                                <!-- Menu Body -->
                                <li class="user-body">
                                    <div class="row">
                                        <div class="col-xs-4 text-center">
                                            <a href="vida-universitaria.html" title="Mi Vida Universitaria"><i class="fa fa-university"></i></a>
                                        </div>
                                        <div class="col-xs-4 text-center">
                                            <a href="solicitudes.html" title="Solicitudes"><i class="fa fa-send"></i></a>
                                        </div>
                                        <div class="col-xs-4 text-center">
                                            <a href="seguimiento.html" title="Seguimiento"><i class="fa fa-spinner"></i></a>
                                        </div>
                                    </div>
                                    <!-- /.row -->
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="#" class="btn btn-default btn-flat">Perfil</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="#" class="btn btn-default btn-flat">Cerrar Sesi&oacute;n</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown notifications-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-ellipsis-v"></i>
                                <span class="label label-warning"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">Otros Servicios</li>
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu">
                                        <li>
                                            <a href="https://ucontinental.edu.pe">
                                                <i class="fa fa-university text-light-blue"></i> Universidad Continental
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-book text-yellow"></i> Servicios Académicos
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-desktop text-red"></i> Operaciones en Línea
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-laptop text-green"></i> Aula Virtual
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://mail.google.com/a/continental.edu.pe">
                                                <i class="fa fa-envelope-o text-red"></i> GMail
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://campusvirtual.continental.edu.pe/ucsv/">
                                                <i class="fa fa-user text-light-blue"></i> Servicios Virtuales
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="footer"><a href="#"></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="@Url.Content("~/api/personal/photo/" + @ViewBag.person.person_id)" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <p>@ViewBag.person.first_name</p>
                        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                    </div>
                </div>
                @if (ViewBag.person.type == ACAccess.Constants.TYPE_STUDENT)
                {
                <!-- Menu para Alumnos -->
                    @RenderPage("~/Views/Partials/FrontdeskMenu.cshtml")
                }
                else
                {
                <!-- Menu para Administrativos -->
                    @RenderPage("~/Views/Partials/BackofficeMenu.cshtml")
                }

            </section>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Centro de Atención
                    <small><i class="fa fa-home"></i> Servicios Virtuales</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a [routerlink]="['frontdesk']"><i class="fa fa-dashboard"></i> Servicios Virtuales</a></li>
                    <li class="active"><i class="fa fa-home"></i> Inicio</li>
                </ol>
            </section>

            <!-- Main content -->
            <section class="content">
                <!-- Small boxes (Stat box) -->
                @RenderBody()
            </section>
            @*<section ui-view></section>*@
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Centro de Atención</b>
            </div>
            <strong>Copyright &copy; 2016 <a href="https://ucontinental.edu.pe">Universidad Continental</a>.</strong>
        </footer>
    </div>
    <!-- ./wrapper -->
    <!-- AdminLTE App -->
    <script src="@Url.Content("~/dist/scripts/app.js")"></script>

    @RenderPage("~/Views/Partials/NGLibs.cshtml")
    <!-- Google Analytycs-->
    @RenderPage("~/Views/Partials/JSAnalitycs.cshtml")

    @RenderSection("scripts")
</body>
</html>
