﻿@using ACTools.Configuration;
@using _app = ACTools.Constants.AppConstants;
@{
    AppSettings settings = new AppSettings();
    ViewBag.Title = "Servicos Virtuales";
    Layout = null;
}
<!DOCTYPE html>
<html lang="es" ng-app="centro-atencion">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="@Url.Content("~/")" />
    <title>Centro de Atención - @ViewBag.Title </title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- We are not robots -->
    <link type="text/plain" rel="author" href="humans.txt" />
    <link rel="stylesheet" href="@Url.Content("~/dist/styles/dist.css")">
    <link rel="icon" type="image/png" href="favicon.ico">
    <!-- Insert Dynamic Plugins -->
    <link id="ngInsertBefore" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="hold-transition skin-black sidebar-mini fixed">
    <div class="wrapper">

        <header class="main-header">
            <!-- Logo -->
            <a href="@Url.Content("~/")" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b><img src="@Url.Content("~/Content/static/images/isotipo-white.svg")" height="28px" alt="uc"></b></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b><img src="@Url.Content("~/Content/static/images/logo-horizontal-white.svg")" height="30px" alt="uc"></b></span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle font-normal" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>

                @if (AppSettings.app_env == "dev")
                {
                    <span style="margin-top: 15px;" class="badge bg-orange">DEVELOP</span>
                }
                else if (AppSettings.app_env == "test")
                {
                    <span style="margin-top: 15px;" class="badge bg-fuchsia">TESTING</span>
                }

                <div class="navbar-custom-menu">
                    @RenderPage("~/Views/Partials/userMenu.cshtml")
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar header for Student -->
                @if (ViewBag.person.type.Contains(_app.TYPE_STUDENT))
                {
                <!-- Sidebar user panel  -->
                    <div class="user-panel">
                        <div class="pull-left image">
                            <img src="@Url.Content("~/api/personal/photo/" + @ViewBag.person.person_id)" class="img-circle" alt="User Image">
                        </div>
                        <div class="pull-left info">
                            <p>@ViewBag.person.first_name</p>
                            <a class="text-teal" href="@Url.Content("~/frontdesk/set-profile")">
                                <i class="fa fa-street-view text-aqua"></i> @ViewBag.profile.status_name -@ViewBag.profile.campus.code
                            </a>
                        </div>
                        <div class="clearfix"></div>
                        <!-- Datos del alumno-->
                        <div class="student-abstract" style="color: white">
                            <p><strong>[@ViewBag.profile.levl] [@ViewBag.profile.department]</strong> </p>
                            <p>@ViewBag.profile.program.name</p>
                            <p> @ViewBag.profile.college.name </p>
                            <p><a href="@Url.Content("~/frontdesk/set-profile")" class="text-orange">Cambiar perfil del estudiante</a></p>
                        </div>
                    </div>
                <!-- Menu para Alumnos -->
                    @RenderPage("~/Views/Partials/FrontdeskDeprecatedMenu.cshtml")
                <!-- Sidebar header for executive -->
                }
                else if (ViewBag.person.type.Contains(_app.TYPE_EXECUTIVE))
                {
                <!-- Sidebar user panel  -->
                    <div class="user-panel">
                        <div class="pull-left image">
                            <img src="@Url.Content("~/api/personal/photo/" + @ViewBag.person.person_id)" class="img-circle" alt="User Image">
                        </div>
                        <div class="pull-left info">
                            <p>@ViewBag.person.first_name</p>
                            <a class="text-teal" href="@Url.Content("~/backoffice/set-profile")">
                                <i class="fa fa-street-view text-aqua"></i> @ViewBag.person.campus.name
                            </a>
                        </div>
                    </div>
                <!-- Menu para Administrativos -->
                    @RenderPage("~/Views/Partials/BackofficeMenu.cshtml")
                }
            </section>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Centro de Atención
                    <small><i class="fa fa-home"></i> Servicios Virtuales</small>
                </h1>
                <ol class="breadcrumb">
                    <li class="active"><a href="@Url.Content("~/")"><i class="fa fa-home"></i> Inicio</a></li>
                </ol>
            </section>

            <!-- Main content -->
            <section class="content">
                <!-- Small boxes (Stat box) -->
                @RenderBody()
            </section>
            @*<section ui-view></section>*@
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Centro de Atención</b>
            </div>
            <strong>Copyright &copy; @DateTime.Now.Year <a href="https://ucontinental.edu.pe">Universidad Continental</a>.</strong>
        </footer>
    </div>
    <!-- ./wrapper -->
    <script src="@Url.Content("~/dist/scripts/dist.js")"></script>
    <script>
        window.url_base = '@Url.Content("~/")';
        window.profile = @Html.Raw(Json.Encode(ViewBag.profile));
        window.session_timeout =  @(Session.Timeout * 60 * 1000); //milliseconds

        var IDtemporizador = window.setInterval(function()
        {
            window.session_timeout -= 1000;
            if(window.session_timeout <= 0)
                window.location.href = '@Url.Content("~/adios")';
        }, 1000);

    </script>
    @RenderPage("~/Views/Partials/NGLibs.cshtml")
    <!-- Google Analytycs-->
    @RenderPage("~/Views/Partials/JSAnalitycs.cshtml")

    @RenderSection("scripts", required: false)
</body>
</html>
