﻿@using ACTools.Configuration;
@using _app = ACTools.Constants.AppConstants;
@{
    AppSettings settings = new AppSettings();
    ViewBag.Title = "Servicos Virtuales";
    Layout = null;
    string skin; 
    switch (AppSettings.app_env) 
    { 
        case "dev": 
            skin = "skin-green"; 
            break; 
        case "test": 
            skin = "skin-purple"; 
            break; 
        default: 
            skin = "skin-black"; 
            break; 
    }
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="@Url.Content("~/")" />
    <title>@AppSettings.app_title - @ViewBag.Title </title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- We are not robots -->
    <link type="text/plain" rel="author" href="/humans.txt" />
    <link rel="stylesheet" href="@Url.Content("~/dist/styles/dist.css")">
    <link rel="icon" type="image/png" href="/favicon.ico">
    <script>
        if ( '@AppSettings.app_env' == "dev" || '@AppSettings.app_env' == "test")
         {
            console.log('%c\¡Desarrollo!', 'color: red;font-size:2.5rem;font-weight:bold;');
            console.log('%cEstas en el ambiente de Desarrollo, todo dato manejado aquí está sujeto a cambios '
                +'y puede no ser real o desactualizado, los cambios efectuados a nivel administrativo pueden afectar a otros desarrolladores, '
                +'favor de tener en cuenta esto antes de realizarlos.', 'font-size:1.25rem;line-height:1.1;margin-top:.5em');
        } else
         {
            console.log('%c\¡Detente!', 'color: red;font-size:2.5rem;font-weight:bold;');
            console.log('%cEsta es una característica del navegador destinada a los desarrolladores. '
              + 'Si alguien te dijo para que copiaras y pegaras algo aquí, para habilitar una función no conocida o para \"hackear\" la cuenta de alguien, '
              + 'es una estafa y lo que estarás haciendo es darle acceso a tu cuenta de la Universidad.', 'font-size:1.25rem;line-height:1.1;margin-top:.5em');
         }
    </script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="hold-transition @skin sidebar-mini fixed sidebar-collapse">
    <div class="wrapper">

        <header class="main-header">
            <!-- Logo -->
            <a href="@Url.Content("~/")" class="logo hidden-xs">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b><img src="@Url.Content("~/Content/static/images/isotipo-white.svg")" height="28px" alt="uc"></b></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b><img src="@Url.Content("~/Content/static/images//logo-horizontal-white.svg")" height="30px" alt="uc"></b></span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle font-normal" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>

                @if (AppSettings.app_env == "dev")
                {
                    <span class="mt badge bg-orange">DEVELOP</span>
                }
                else if (AppSettings.app_env == "test")
                {
                    <span class="mt badge bg-fuchsia">TESTING</span>
                }

                <div class="navbar-custom-menu">
                    @RenderPage("~/Views/Partials/userMenu.cshtml")
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                @RenderPage("~/Views/Partials/"+ @ViewBag.sidebar + ".cshtml")
            </section>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <cau-breadcrumb>
            </cau-breadcrumb>

            <!-- Main content -->
            <section class="content">
                <!-- Small boxes (Stat box) -->
                @RenderBody()
            </section>
            @*<section ui-view></section>*@
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>@AppSettings.app_title</b>
            </div>
            <strong>Copyright &copy; @DateTime.Now.Year <a href="https://ucontinental.edu.pe">Universidad Continental</a>.</strong>
        </footer>
    </div>
    <!-- ./wrapper -->
    
    <script src="@Url.Content("~/dist/scripts/dist.js")"></script>

    <script>
        window.url_base = '@Url.Content("~/")';
        window.session_timeout =  @(Session.Timeout * 60 * 1000); //milliseconds

        var IDtemporizador = window.setInterval(function()
        {
            window.session_timeout -= 1000;
            if(window.session_timeout <= 0)
                window.location.href = '@Url.Content("~/adios")';
        }, 1000);
    </script>
    <!-- Google Analytycs-->
    @RenderPage("~/Views/Partials/JSAnalitycs.cshtml")
    <!--Custom scripts -->
    @RenderSection("scripts", required: false)

</body>
</html>
