﻿@{
    ViewBag.Title = "Seleccion de Perfil";
    Layout = null;
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title - Servicios Virtuales</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    @RenderSection("head", false)
    <!-- We are not robots -->
    <link type="text/plain" rel="author" href="/humans.txt" />
    <link rel="stylesheet" href="@Url.Content("~/dist/styles/dist.css")">
    <link rel="icon" type="image/png" href="/favicon.ico">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="hold-transition lockscreen uc-bg">
    <!-- Automatic element centering -->
    <main class="lockscreen-wrapper uc bg-black-transparent rounded">

        @RenderBody()

    </main>
    <!-- /.center -->
    <script src="@Url.Content("~/dist/scripts/dist.js")"></script>
    <!-- Google Analytycs-->
    @RenderPage("~/Views/Partials/JSAnalitycs.cshtml")

    @RenderSection("scripts", required: false)

</body>
</html>
