<div class="box box-default">
  <header class="box-header with-border">
    <h3 class="box-title"><i class="fa fa-users"></i> Cambiar a perfil de estudiante</h3>
  </header>
  <section class="box-body">
    <form action="" class="form-horizontal" (ngSubmit)="searchStudent(student.code)" #searchForm="ngForm">
      <div class="box-body">
        <div class="form-group">
          <label class="col-sm-2 control-label" for="code">Código</label>
          <div class="col-sm-10 col-lg-8 input-group">
            <input class="form-control" type="text" [(ngModel)]="student.code" id="code" name="code"
                   required placeholder="Código de estudiante" [disabled]="searching">
            <div class="input-group-btn">
              <button type="submit" class="btn btn-default" [disabled]="!searchForm.form.valid || searching">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- /.box-body -->
    </form>
  </section>
  <section class="box-body form-horizontal" *ngIf="errorMessage">
    <div class="callout callout-warning">
      <h4><i class="fa fa-ban"></i> Código desconocido</h4>
      <p>Estudiante no encontrado. <br>Por favor verifique el código y vuelva a intentar
      </p>
    </div>
  </section>
</div>
<div *ngIf="searching">
  <loading [text]="'Buscando estudiante'"></loading>
</div>
<div class="box box-default" *ngIf="findStudents.length > 0">
  <header class="box-header with-border">
    <h3 class="box-title"><i class="fa fa-list"></i> Resultados</h3>
  </header>
  <section class="box-body">
    <ul class="products-list product-list-in-box">
      <li class="card-item hand select-student" *ngFor="let student of findStudents" (click)="changeToStudent(student.id)">
        <div class="product-img">
          <img [src]="'api/personal/photo/'+student.person_id" alt="student photo">
        </div>
        <div class="product-info">
          <span class="product-title"> {{student.id}}
            <span class="product-description">
              {{student.full_name}}
            </span>
          </span>
        </div>
      </li>
    </ul>
  </section>
</div>
