<div class="col-md-12" *ngIf="loading">
  <loading></loading>
</div>
<div class="row" *ngIf="!loading">
  <!-- main column -->
  <div class="col-md-12">
    <!-- Horizontal Form -->
    <div class="box box-info">
      <div class="box-header with-border">
        <h3 class="box-title">Reporte de egresados</h3>
        <h3 class="box-title pull-right"></h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body form-horizontal" *ngIf="downloadHistory">
        <div class="form-group">
          <label class="col-sm-2 control-label"></label>
          <div class="col-sm-10 col-md-7">
            <a class="info-box bg-green" (click)="download()" target="_blank" *ngIf="graduates.length">
              <span class="info-box-icon"><i class="fa fa-cloud-download"></i></span>
              <div class="info-box-content">
                <span class="info-box-text">Descargar</span>
                <span class="info-box-text">
                  {{ graduates.length }} Egresados desde {{ graduationTerms[graduationTerms.length - 1].periodId }}
                  hasta {{ graduationTerms[0].periodId }}
                </span>
                <div class="progress">
                  <div class="progress-bar"></div>
                </div>
                <span class="progress-description">
                  <i class="fa fa-paperclip"></i>
                  {{ fileName }}.xlsx
                </span>
              </div>
            </a>
            <div class="info-box bg-info hand" (click)="getAllGraduates()" target="_blank" *ngIf="!graduates.length">
              <span class="info-box-icon" *ngIf="!processing"><i class="fa fa-gears"></i></span>
              <span class="info-box-icon" *ngIf="processing"><i class="fa fa-cog fa-spin fa-fw"></i></span>
              <div class="info-box-content">
                <span class="info-box-text" *ngIf="!processing">Exportar</span>
                <span class="info-box-text" *ngIf="processing">Exportando</span>
                <span class="info-box-text">
                  Egresados desde {{ graduationTerms[graduationTerms.length - 1].periodId }}
                  hasta {{ graduationTerms[0].periodId }}
                </span>
                <div class="progress">
                  <div class="progress-bar"></div>
                </div>
                <span class="progress-description">
                  <i class="fa fa-paperclip"></i>
                  {{ fileName }}.xlsx
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- form start -->
      <form class="form-horizontal" *ngIf="!downloadHistory">
        <div class="box-body">
          <div class="form-group">
            <label class="col-sm-2 control-label">Período de egreso</label>
            <div class="col-sm-10 col-md-7">
              <select class="form-control" [(ngModel)]="graduationTerm" (ngModelChange)="selectNewTerm()"
                      name="escuela" [disabled]="!graduationTerms.length || searching || processing">
                <option *ngFor="let term of graduationTerms" value="{{ term.periodId }}">{{ term.periodId }}</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10 col-md-7">
              <button type="submit" class="btn btn-info"
                      [disabled]="graduationTerm === undefined || searching || processing"
                      (click)="searchGraduates()">
                <i class="fa fa-search"></i> Buscar Egresados
              </button>
              <button type="submit" class="btn bg-cyan" (click)="history()" [disabled]="searching || processing"
                      *ngIf="false">
                <i class="fa fa-sliders"></i> Avanzado
              </button>
              <button type="button" class="btn btn-default"
                      [disabled]="graduationTerm === undefined || searching || processing"
                      (click)="clean()">
                <i class="fa fa-trash-o"></i> Limpiar
              </button>
            </div>
          </div>
        </div>
        <!-- /.box-body -->
      </form>
      <div class="box-footer" *ngIf="downloadHistory">
        <button type="submit" class="btn btn-info" (click)="history()" [disabled]="processing">
          <i class="fa fa-arrow-left"></i> Egresados por períodos
        </button>
      </div>
      <!-- /.box-footer -->
    </div>
    <!-- /.box -->
  </div>
  <!-- /.column (main) -->

  <div class="col-md-12" *ngIf="searching">
    <loading></loading>
  </div>

  <!-- students column -->
  <div class="col-md-12" *ngIf="showSearchResult">
    <!-- general form elements -->
    <div class="box box-info">
      <div class="box-header with-border">
        <h3 class="box-title">{{ graduatesByTerm.length }} Egresados UC {{ graduationTerm }}</h3>
        <div class="box-tools pull-right">
          <div class="has-feedback">
            <button class="btn btn-warning btn-sm" type="button" name="export" (click)="downloadGraduates()">
              <i class="fa fa-download"></i> Descargar egresados {{ graduationTerm }}
            </button>
          </div>
        </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
          <thead>
          <tr>
            <th class="text-muted">#</th>
            <th>Código</th>
            <th>Nombre</th>
            <th>Período egreso</th>
            <th>Sede</th>
            <th>Programa</th>
            <th>Créditos</th>
            <th>Proyección</th>
            <th>Práctica</th>
            <th>Idioma</th>
            <th>Bachiller</th>
            <th>Título</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngIf="!graduatesByTerm.length">
            <td colspan="12" class="warning text-center text-warning">No se encontraron resultados</td>
          </tr>
          <tr *ngFor="let graduate of graduatesByTerm; let i = index" [attr.data-index]="i">
            <td class="text-muted">{{ i + 1 }}</td>
            <td>{{ graduate.student_id }}</td>
            <td>{{ graduate.student_name }}</td>
            <td>{{ graduate.graduation_period }}</td>
            <td>
              <span data-toggle="tooltip" data-placement="top"
                    title="Sede: {{ graduate.campusId }}, Modalidad: {{ graduate.modality_id }}" class="help">
                {{ graduate.campusId }}
              </span>
            </td>
            <td>
              <span data-toggle="tooltip" data-placement="top" title="{{ graduate.school_name }}" class="help">
                {{ graduate.school_id }}
              </span>
            </td>
            <td>
              <span data-toggle="tooltip" data-placement="top"
                    title="Créditos Obligatorios [{{ graduate.credits_o }}] Créditos Electivos [{{ graduate.credits_e }}]"
                    class="help">
                {{ graduate.credits_o + graduate.credits_e }}
              </span>
            </td>
            <td>
              <i class="fa fa-check-circle text-green" *ngIf="graduate.volunteering"></i>
              <i class="fa fa-times-circle text-red" *ngIf="!graduate.volunteering"></i>
            </td>
            <td>
              <i class="fa fa-check-circle text-green" *ngIf="graduate.internship"></i>
              <i class="fa fa-times-circle text-red" *ngIf="!graduate.internship"></i>
            </td>
            <td>
              <i class="fa fa-check-circle text-green" *ngIf="graduate.foreign_language"></i>
              <i class="fa fa-times-circle text-red" *ngIf="!graduate.foreign_language"></i>
            </td>
            <td>
              <i class="fa fa-check-circle text-green" *ngIf="graduate.bachiller"></i>
              <i class="fa fa-times-circle text-red" *ngIf="!graduate.bachiller"></i>
            </td>
            <td>
              <i class="fa fa-check-circle text-green" *ngIf="graduate.titulo"></i>
              <i class="fa fa-times-circle text-red" *ngIf="!graduate.titulo"></i>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
