<div class="col-md-12" *ngIf="loading">
  <loading></loading>
</div>
<div class="row" *ngIf="!loading">
  <!-- main column -->
  <div class="col-md-12">
    <!-- Horizontal Form -->
    <div class="box box-info">
      <div class="box-header with-border">
        <h3 class="box-title">Cumplimiento de egresados</h3>
        <h3 class="box-title pull-right"></h3>
      </div>
      <!-- /.box-header -->
      <!-- form start -->
      <form class="form-horizontal">
        <div class="box-body">
          <div class="form-group">
            <label class="col-sm-2 control-label">Egresados</label>
            <div class="col-sm-10 col-md-7">
              <input class="form-control" id="estudiantes" [(ngModel)]="estudiantes"
                     (ngModelChange)="getStudentsArray()" name="estudiantes" placeholder="Códigos de egresados"
                     type="text" [disabled]="searching || processing">
            </div>
          </div>
          <div class="form-group" *ngIf="students != undefined && students.length > 0">
            <div class="col-sm-offset-2 col-sm-10 col-md-7">
              <span class="badge bg-teal hand" (click)="showStudentsList()">
                Códigos ingresados
                <span class="badge bg-teal-active" *ngIf="students !== undefined">{{ students.length }}</span>
              </span>
            </div>
            <div class="col-sm-offset-2 col-sm-10 col-md-7" *ngIf="showStudentIdList">
              <span *ngFor="let student of students">
                <span class="badge bg-gray"><i class="fa fa-user"></i> {{ student }}</span>&nbsp;
              </span>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10 col-md-7">
              <button type="submit" class="btn btn-info"
                      [disabled]="!isAllSelected() || searching || processing" (click)="getGraduates()">
                <i class="fa fa-search"></i> Buscar Egresados
              </button>
              <button type="button" class="btn btn-default"
                      [disabled]="!isAnySelected() || searching || processing" (click)="clean()">
                <i class="fa fa-trash-o"></i> Limpiar
              </button>
            </div>
          </div>
        </div>
        <!-- /.box-body -->
      </form>
    </div>
    <!-- /.box -->
  </div>
  <!-- /.column (main) -->

  <div class="col-md-12" *ngIf="searching">
    <loading></loading>
  </div>

  <div class="col-md-12">
    <div class="box" *ngIf="showSearchResult && tuqpa.length > 0">
      <div class="box-header with-border">
        <h3 class="box-title">Fecha de resolución</h3>
        <h3 class="box-title pull-right"></h3>
      </div>
      <!-- /.box-header -->
      <div class="form-horizontal">
        <div class="box-body">
          <div class="form-group">
            <label class="col-sm-2 control-label">Fecha resolución bachiller</label>
            <div class="col-sm-10 col-md-7">
              <p-calendar [(ngModel)]="bachelorResolutionDate" [locale]="es" dateFormat="dd/mm/yy" [monthNavigator]="true"
                          [yearNavigator]="true" yearRange="1986:{{wata}}" [showIcon]="true" required [disabled]="processing"
                          name="fechaConsB" #fechaConsB="ngModel" showButtonBar="true" readonlyInput="true">
              </p-calendar>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10 col-md-7">
              <p [ngClass]="{ 'text-red': !fechaConsB.valid, 'text-orange': fechaConsB.valid }">
                <i class="fa fa-warning"></i> En caso exista registro de fecha de resolución de bachiller, el registro será reemplazado por la fecha seleccionada.
              </p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Fecha resolución título</label>
            <div class="col-sm-10 col-md-7">
              <p-calendar [(ngModel)]="titleResolutionDate" [locale]="es" dateFormat="dd/mm/yy" [monthNavigator]="true"
                          [yearNavigator]="true" yearRange="1986:{{wata}}" [showIcon]="true" required [disabled]="processing"
                          name="fechaConsT" #fechaConsT="ngModel" showButtonBar="true" readonlyInput="true">
              </p-calendar>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10 col-md-7">
              <p [ngClass]="{ 'text-red': !fechaConsT.valid, 'text-orange': fechaConsT.valid }">
                <i class="fa fa-warning"></i> En caso exista registro de fecha de resolución de título, el registro será reemplazado por la fecha seleccionada.
              </p>
            </div>
          </div>
        </div>
        <!-- /.box-body -->
      </div>
    </div>
    <!-- /.box -->
  </div>

  <!-- students column -->
  <div class="col-md-12" *ngIf="showSearchResult">
    <!-- general form elements -->
    <div class="box box-info">
      <div class="box-header with-border">
        <h3 class="box-title">Egresados UC</h3>
        <div class="box-tools pull-right" *ngIf="tuqpa.length > 0">
          <div class="has-feedback">
            <button class="btn btn-default btn-sm" type="button" name="todos" (click)="selectAll()"
                    [disabled]="processing">
              Seleccionar todos
            </button>
            <button class="btn btn-warning btn-sm" type="button" name="constancia" (click)="updateGraduates()"
                    [disabled]="processing">
              Actualizar egresados
            </button>
          </div>
        </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
          <thead>
          <tr>
            <th class="text-muted">#</th>
            <th></th>
            <th>Código</th>
            <th>Nombre</th>
            <th>Período egreso</th>
            <th>Programa</th>
            <th>Proyección</th>
            <th>Práctica</th>
            <th>Idioma</th>
            <th>Bachiller</th>
            <th>Título</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngIf="graduates.length <= 0">
            <td colspan="11" class="warning text-center text-warning">No se encontraron resultados</td>
          </tr>
          <tr *ngFor="let graduate of graduates; let i = index" [attr.data-index]="i"
              [ngClass]="{ 'warning': graduate.school_id == 0, 'danger': graduate.student_pidm == 0 }">
            <td class="text-muted">{{ i + 1 }}</td>
            <td (click)="setStudentsToProcess(graduate)">
              <i class="fa fa-check-square-o" *ngIf="graduate.is_selected"></i>
              <i class="fa fa-square-o" *ngIf="!graduate.is_selected"></i>
            </td>
            <td [ngClass]="{ 'text-orange': (graduate.school_id == 0 && graduate.student_pidm != 0), 'text-red': (graduate.school_id == 0 && graduate.student_pidm == 0) }">
              {{ graduate.student_id }}
            </td>
            <td [ngClass]="{ 'text-orange': (graduate.school_id == 0 && graduate.student_pidm != 0), 'text-red': (graduate.school_id == 0 && graduate.student_pidm == 0) }">
              {{ graduate.student_name }}
            </td>
            <td colspan="7" *ngIf="graduate.school_id == 0">
            </td>
            <td *ngIf="graduate.school_id != 0">{{ graduate.graduation_period }}</td>
            <td *ngIf="graduate.school_id != 0">
              <span data-toggle="tooltip" data-placement="top" title="{{ graduate.school_name }}" class="help">
                {{ graduate.school_id }}
              </span>
            </td>
            <td *ngIf="graduate.school_id != 0">
              <i class="fa fa-check-circle text-green" *ngIf="graduate.volunteering"></i>
              <i class="fa fa-times-circle text-red" *ngIf="!graduate.volunteering"></i>
            </td>
            <td *ngIf="graduate.school_id != 0">
              <i class="fa fa-check-circle text-green" *ngIf="graduate.internship"></i>
              <i class="fa fa-times-circle text-red" *ngIf="!graduate.internship"></i>
            </td>
            <td *ngIf="graduate.school_id != 0">
              <i class="fa fa-check-circle text-green" *ngIf="graduate.foreign_language"></i>
              <i class="fa fa-times-circle text-red" *ngIf="!graduate.foreign_language"></i>
            </td>
            <td *ngIf="graduate.school_id != 0">
              <span *ngIf="!graduate.is_selected">
                <i class="fa fa-check-circle text-green" *ngIf="graduate.bachiller"></i>
                <i class="fa fa-times-circle text-red" *ngIf="!graduate.bachiller"></i>
              </span>
              <span *ngIf="graduate.is_selected" (click)="changeBachiller(graduate)">
                <i class="fa fa-check-square-o text-green" *ngIf="graduate.bachiller"></i>
                <i class="fa fa-square-o text-red" *ngIf="!graduate.bachiller"></i>
              </span>
            </td>
            <td *ngIf="graduate.school_id != 0">
              <span *ngIf="!graduate.is_selected">
                <i class="fa fa-check-circle text-green" *ngIf="graduate.titulo"></i>
                <i class="fa fa-times-circle text-red" *ngIf="!graduate.titulo"></i>
              </span>
              <span *ngIf="graduate.is_selected" (click)="changeTitulo(graduate)">
                <i class="fa fa-check-square-o text-green" *ngIf="graduate.titulo"></i>
                <i class="fa fa-square-o text-red" *ngIf="!graduate.titulo"></i>
              </span>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <!-- ./box-body -->
      <!-- Loading (remove the following to stop the loading)-->
      <div class="overlay" *ngIf="processing">
        <i class="fa fa-refresh fa-spin"></i>
      </div>
      <!-- end loading -->
    </div>
  </div>
</div>
