﻿<article>
    <header class="panel">
        <div class="panel-heading">
            <strong>Cambio de Estado de Solicitudes de Estudiantes</strong>
        </div>
        <div class="panel-body ui-work-area">
            <div class="col-xs-12 col-sm-6">
                <label>Alumno</label>
                <input name="alumno_id" type="text" class="form-control" data-type="text" placeholder="C&oacute;digo Estudiante" data-ng-model="estudiante" ng-keypress="myEnter($event)"/>
            </div>
            <div class="col-xs-12 col-sm-6" ng-if="moreSearchOption">
                <label>Solicitud</label>
                    <input name="id" type="text" class="form-control" data-type="text" placeholder="C&oacute;digo de Solicitud" />
            </div>
            <div class="col-xs-12 col-sm-12 m-t">
                <button type="button" class="btn btn-primary btn-sm" ng-click="searchSolicitudes(estudiante)">Buscar</button>
                <input type="reset" class="btn btn-default btn-sm" ng-click="limpiar()" value="Limpiar" />
                <a class="btn btn-default btn-xs" ng-click="moreSearchOptions()" ng-if="!moreSearchOption" ng-hide="1 == 1">M&aacute;s opciones de b&uacute;squeda</a>
                <a class="btn btn-default btn-xs" ng-click="moreSearchOptions()" ng-if="moreSearchOption" ng-hide="1 == 1">Menos opciones de b&uacute;squeda</a>
            </div>

        </div>

    </header>
    <section class="panel" ng-if="searchSolicitud">
        <div class="panel-heading">
            <strong>Resultados de B&uacute;squeda</strong>
        </div>
        <div class="panel-body ui-work-area p-zr">
            <div class="table-responsive">
                <table id="ui-table-xls" class="table table-hover">
                    <thead>
                        <tr>
                            <th><i class="glyphicon glyphicon-record"></i></th>
                            <th>Solicitud</th>
                            <th>Estudiante</th>
                            <th>Fecha</th>
                            <th>Documento</th>
                            <th>Estado</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="solicitud in solicitudes" ng-if="resultados" ng-init="solicitud.estado = 'read'">
                            <td><i class="glyphicon glyphicon-record"></i></td>
                            <td>{{solicitud.id}}</td>
                            <td>{{solicitud.alumno_id}}</td>
                            <td>{{solicitud.fechasolicitud_str}}</td>
                            <td>{{solicitud.documento_text_str}}</td>
                            <td>
                                <span ng-if="solicitud.estado == 'read'">{{solicitud.estado_id_str}}</span>
                                <select ng-if="solicitud.estado == 'write'" ng-options="estado.id as estado.descripcion_str for estado in estados" ng-model="solicitud.estado_id"></select>
                            </td>
                            <td>
                                <button ng-show="solicitud.estado == 'read'" type="button" name="button" ng-click="editarEstadoSolicitud(solicitud)" class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-pencil"></i> Editar</button>
                                <button ng-if="solicitud.estado == 'write'" type="button" name="button" ng-click="guardarEstadoSolicitud(solicitud)" class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-ok"></i> Guardar</button>
                            </td>
                        </tr>
                        <tr ng-if="!resultados">
                            <td colspan="7" class="text-center danger text-danger"><strong>No se encontraron solicitudes. {{errorMsg}}</strong></td>
                        </tr>
                        <tr>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="panel-footer hidden" data-to-remove="hidden">
        </div>
    </section>
</article>
