<div class="card card-primary">
    <div class="header" *ngIf="!isLoadingProject">
        <h3 class="title">{{project.title}}</h3>
    </div>
    <div class="body">
        <loading *ngIf="isLoadingProject" [text]="'Cargando proyectos...'" [size]="'small'"></loading>
        <ng-container *ngIf="!isLoadingProject">
            <form>
                <div class="card card-primary">
                    <div class="header">
                        <h3 class="title">Datos generales</h3>
                    </div>
                    <div class="body">
                        <div class="col-md-6 form-group">
                            <label>Tipo de proyecto</label>
                            <input disabled type="text" class="form-control" [(ngModel)]="project.projectType.name"
                                name="projectType">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Categoría</label>
                            <input disabled type="text" class="form-control" [(ngModel)]="project.category.name"
                                name="category">
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="title">Título del proyecto</label>
                            <input disabled type="text" class="form-control" [(ngModel)]="project.title" name="title"
                                id="title">
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="objective">Objetivo</label>
                            <textarea name="" id="" rows="5" class="form-control" [(ngModel)]="project.objective"
                                name="objective" id="objective"></textarea>
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="description">Descripción</label>
                            <textarea name="" id="" rows="5" class="form-control" [(ngModel)]="project.description"
                                name="description" id="description"></textarea>
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="keywords">Palabras claves</label>
                            <input disabled type="text" class="form-control" [(ngModel)]="project.keywords"
                                name="keywords" id="keywords">
                        </div>
                    </div>
                </div>
                <div class="card card-primary">
                    <div class="header">
                        <h3 class="title">Equipo de investigación</h3>
                    </div>
                    <div class="body">
                        <div class="col-md-12">
                            <ul class="list-group" *ngIf="project.projectMembers">
                                <li *ngFor="let m of project.projectMembers" class="list-group-item">{{m.fullName}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card card-primary">
                    <div class="header">
                        <h3 class="title">Perfiles</h3>
                    </div>
                    <div class="body">
                        <div class="col-md-12" *ngIf="project.profileProjects?.length > 0">
                            <div class="table-responsive table-material">
                                <table class="table">
                                    <thead class="bg-info">
                                        <tr>
                                            <th width="400">Perfil</th>
                                            <th width="50">Vacantes</th>
                                            <th>Descripción</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let pp of project.profileProjects">
                                            <td>{{ pp.title }}</td>
                                            <td>{{ pp.numberVacancies }}</td>
                                            <td>{{ pp.description }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </ng-container>
        <div class="my-2" *ngIf="response">
            <div *ngIf="response.success" class="alert-student alert-student-primary m-0">
                <h4 class="m-0 text-truncate">{{response.message}}</h4>
            </div>
            <div *ngIf="!response.success" class="alert-student alert-student-danger m-0">
                <h4 class="m-0 text-truncate">{{response.message}}</h4>
            </div>
        </div>
    </div>
    <div class="footer" *ngIf="isUpdatingStatus">
        <loading [text]="'Actualizando...'" [size]="'small'"></loading>
    </div>
    <div class="footer" *ngIf="!isLoadingProject && !isUpdatingStatus && !project.changeStatusDate">
        <button class="btn btn-outline-danger" (click)="approveProject(false)">Rechazar</button>
        <button class="btn bg-primary pull-right" (click)="approveProject(true)">Aprobar</button>
    </div>
    <div class="footer" *ngIf="!isLoadingProject && !isUpdatingStatus && project.changeStatusDate">
        <div *ngIf="project.approved" class="alert-student alert-student-primary m-0">
            <h4 class="m-0 text-truncate">Proyecto aprobado</h4>
        </div>
        <div *ngIf="!project.approved" class="alert-student alert-student-danger m-0">
            <h4 class="m-0 text-truncate">Proyecto rechazado</h4>
        </div>
    </div>
</div>