<div class="card card-primary" *ngIf="!idProject">
    <div class="header">
        <h3 class="title">Lista de proyectos</h3>
    </div>
    <!-- <div class="body">
        <div class="card">
            <div class="header">
                <h4 class="title">Búsqueda</h4>
            </div>
            <div class="body">
                <form>
                    <div class="form-group col-md-6">
                        <label for="">Nombre de proyecto</label>
                        <input class="form-control" type="text" name="projectNameFilter"
                            [(ngModel)]="projectNameFilter">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="">Categoría</label>
                        <input class="form-control" type="text" name="categoryNameFilter"
                            [(ngModel)]="categoryNameFilter">
                    </div>
                </form>
            </div>
        </div>
    </div> -->
    <div class="body">
        <loading *ngIf="isLoadingProjects" [text]="'Cargando proyectos...'" [size]="'small'"></loading>
        <div *ngIf="!isLoadingProjects" class="table-responsive table-material">
            <table class="table" *ngIf="projects?.length > 0">
                <thead class="bg-info">
                    <tr>
                        <th width="10">#</th>
                        <th width="350">Nombre del proyecto</th>
                        <th>Fecha de registro</th>
                        <th>Fecha de actualización</th>
                        <th>Tipo</th>
                        <th>Categoría</th>
                        <th>Estado</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let project of projects; let i = index">
                        <td>{{ i + 1}}</td>
                        <td>{{ project.title }}</td>
                        <td>{{ project.createdAt | date: 'short' }}</td>
                        <td>{{ project.changeStatusDate | date: 'short' }}</td>
                        <td><span class="badge bg-primary">{{ project.projectType.name }}</span></td>
                        <td><span class="badge bg-primary">{{ project.category.name }}</span></td>
                        <td *ngIf="project.changeStatusDate === null"><span class="badge">Pendiente</span> </td>
                        <td *ngIf="project.changeStatusDate && project.approved"><span
                                class="badge bg-success">Aprobado</span> </td>
                        <td *ngIf="project.changeStatusDate && !project.approved"><span
                                class="badge bg-danger">Rechazado</span> </td>
                        <td><button class="btn bg-primary" (click)="openDetail(project.id)">Detalles</button></td>
                    </tr>
                </tbody>
            </table>
            <div *ngIf="projects?.length <= 0" class="alert alert-info m-0">
                No se han encontrado proyectos.
            </div>
        </div>
    </div>
</div>

<pry-detail-project *ngIf="idProject" [idProject]="idProject"></pry-detail-project>