// Material tables Style

.table-material
  +borderRadius(3px)
  +boxShadow(0px, 0px, 6px, rgba(3, 27, 78, 0.3))
  background-color: $white
  .title
    color: $black
    font-weight: $font-Bold
    margin: 0
    padding: 15px
    &+table
      thead
        tr
          border-top: 1px solid $gray-300
  table
    margin-bottom: 0
    thead
      color: $gray-900
      border-bottom: 3px solid $gray-300
      background-color: lighten( $gray-300, 1% )
      tr
        th
          font-weight: $font-Bold
          padding: 15px 8px 10px 8px
          vertical-align: middle !important
    tbody
      tr
        td
          padding: 10px 8px
          vertical-align: middle !important
        &:hover
          background-color: lighten( $gray-300, 3% ) !important
        th
          vertical-align: middle !important
        td,th
          border-top: 1px solid #e0e0e0
    tfoot
      tr
        background-color: $gray-300
        border-top: 3px solid $gray-300
        th, td
          font-weight: $font-Bold
          padding: 15px 8px
          vertical-align: middle !important
  &::-webkit-scrollbar-track
    +borderRadius(10px)
    +boxShadow(0, 0, 6px, transparent)
  &::-webkit-scrollbar
    height: 5px
  &::-webkit-scrollbar-thumb
    +borderRadius(10px)
    +boxShadow(0, 0, 6px, rgba($black,.3))
    background-color: rgba($black, .4)

.table-striped
  table
    tbody
      tr
        &:nth-child(odd)// impares
          background-color: $white 
        &:nth-child(even)// pares
          background-color: lighten( $gray-300, 5% )

.table-selected
  table
    tbody
      tr
        &.selected
          background-color: lighten( $gray-300, 4% )
