table
  th,td
  .va-top
    vertical-align: top !important
  .va-middle
    vertical-align: middle !important
  .va-bottom
    vertical-align: bottom !important
  .va-baseline
    vertical-align: baseline !important
