<!-- Horizontal Form -->
<div *ngIf="loading">
    <loading></loading>
</div>
<div class="box box-warning" *ngIf="!loading && !created && document">
    <div class="box-header with-border">
        <h3 class="box-title" *ngIf="document">
            <b><i class="fa fa-pencil-square-o"></i> Nueva solicitud: {{document.name}}</b>
        </h3>
        <h3 class="box-title pull-right text-muted">
            <i class="fa fa-globe"></i> Centro de Idiomas
        </h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body" *ngIf="!document.languageLevels.length">
        <div class="callout callout-danger">
            <h4><i class="fa fa-ban"></i> Nivel de Idiomas no encontrado!</h4>
            <p>No se encontr&oacute; nivel de idioma completado en el Centro de Idiomas</p>
        </div>
    </div>
    <div class="box-body" *ngIf="document.languageLevels.length">
        <!-- form start -->
        <form class="form-horizontal" #enrollmentForm="ngForm">
            <div class="form-group">
                <label class="col-sm-2 control-label">Solicito</label>
                <div class="col-sm-10 col-lg-8">
                    <span class="form-control">{{document.name}}</span>
                </div>
            </div>
            <div class="form-group" [ngClass]="{'has-error': !level.valid}">
                <label class="col-sm-2 control-label" for="level">
                    Nivel<br/>
                    <small *ngIf="nivel ===  '' || !nivel" class="text-red form-extra-small">
                        Seleccione un nivel
                    </small>
                </label>
                <div class="col-sm-10 col-lg-8">
                    <select class="form-control" name="level" id="level" title="Nivel" required #level="ngModel"
                            [(ngModel)]="nivel" [disabled]="!document.languageLevels.length || processing">
                        <optgroup *ngFor="let langLevel of document.languageLevels"
                                  label="{{langLevel.language.languageName}}">
                            <option *ngFor="let l of langLevel.languageLevelList" value="{{l.languageLevelId}}">
                                {{l.languageName}} {{l.languageLevelName}}
                            </option>
                        </optgroup>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Monto a pagar</label>
                <div class="col-sm-10 col-lg-8 text-green form-amount" *ngIf="formCost() === 1">
                    S/ 0.00
                </div>
                <div class="col-sm-10 col-lg-8 text-green form-amount" *ngIf="formCost() !== 1">
                    S/ {{formCost() | number:'2.2-2'}}
                </div>
            </div>
            <div class="form-group" [ngClass]="{'has-error': !descripcion.valid}">
                <label for="description" class="col-sm-2 control-label">
                    Por el siguiente motivo<br/>
                    <small *ngIf="description ===  '' || !description" class="text-red form-extra-small">
                        Ingrese motivo de solicitud
                    </small>
                </label>
                <div class="col-sm-10 col-lg-8">
                    <span *ngFor="let reason of documentReasonsList">
                        <button class="btn btn-default btn-flat btn-reason" (click)="setReason(reason.message)">
                            {{ reason.id }}
                        </button>
                    </span>
                    <textarea class="form-control margin-top-small" id="description" rows="3"
                              placeholder="Motivo de la solicitud..." name="description"
                              [(ngModel)]="description" #descripcion="ngModel" required></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10 col-lg-8">
                    Solicito derivar a quien corresponda.
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10 col-lg-8">
                    <button type="submit" class="btn btn-primary" [disabled]="!enrollmentForm.valid || processing"
                            (click)="createRequest()">
                        <i class="fa fa-check"></i> Generar solicitud
                    </button>
                    <button type="submit" class="btn btn-default" onclick="window.history.go(-1); return false;">
                        <i class="fa fa-trash-o"></i> Cancelar
                    </button>
                </div>
            </div>
        </form>
    </div>
    <!-- /.box-body -->
    <div class="box-footer" *ngIf="!document.languageLevels.length">
        <button type="submit" class="btn btn-info" onclick="window.history.go(-1); return false;">
            <i class="fa fa-arrow-left"></i> Regresar
        </button>
    </div>
    <!-- /.box-footer -->
    <!-- Loading (remove the following to stop the loading)-->
    <div class="overlay" *ngIf="processing && !created">
        <i class="fa fa-refresh fa-spin"></i>
    </div>
    <!-- end loading -->
</div>
<!-- /.box -->
<div *ngIf="!loading && created">
    <abstract-request [student]="student" [document]="document.name" [request]="request"
                      [description]="description"></abstract-request>
</div>
