﻿<div class="row" ng-controller="changeCtrl" ng-init="init()">
	<div class="col-sm-12">
		<section class="panel">
			<header class="panel-heading">
				<strong>
					Cambiar de Alumno
				</strong>
			</header>
			<div class="panel-body">
				<div class="form-group">
					<div class="input-group">
						<span class="input-group-addon">
							<span class="hidden-xs">Código</span>
							<span class="visible-xs glyphicon glyphicon-barcode"></span>
						</span>
						<input class="form-control" type="text" ng-focus="init_search=false;" ng-model="student_id" placeholder="2012124112">
						<span class="input-group-btn">
							<button class="btn btn-primary" ng-click="searchStudent(student_id)">
								<span class="hidden-xs">Buscar</span>
								<span class="visible-xs">
									<span class="glyphicon glyphicon-search"></span>
								</span>
							</button>
						</span>
					</div>
				</div>
				<div ng-if="student_found">
					<hr>
					<div class="table-responsive">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th class="text-center">
										Codigo
									</th>
									<th>
										Apellidos y Nombres
									</th>
								</tr>
							</thead>
							<tbody>
								<tr >
									<td class="text-center">
										{{student_found.id}}
									</td>
									<td>
										{{student_found.get_fullname_str}}
										<a class="pull-right btn btn-sm btn-primary" href="{{url_base}}backoffice/do/login/as/alumno?alumno={{student_found.id}}">Seleccionar</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div ng-if="student_found == undefined && init_search">
					<hr>
					<span class="text-danger">No existe el alumno con Codigo <strong>{{student_id}}</strong>.</span>
				</div>
			</div>
		</section>
	</div>
</div>
