<section class="panel">
  <header class="panel-heading">
    Lista de Solicitudes
  </header>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th><i class="fa fa-dot-circle-o"></i></th>
            <th>#</th>
            <th>Fecha</th>
            <th>Documento</th>
            <th>Solicitante</th>
            <th>Estado</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="request in requests">
            <td><i class="fa fa-dot-circle-o"></i></td>
            <td ng-bind="request.id">#</td>
            <td ng-bind="request.date">Fecha</td>
            <td ng-bind="request.document_name">Documento</td>
            <td ng-bind="request.person_name">Solicitante</td>
            <td ng-bind="request.state">Estado</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <footer class="panel footer"></footer>
</section>
