<section class="panel" ng-init="init()">
  <header class="panel-heading">
    <button> < Atras</button>
    <strong> {{day}} </strong>
    <button> Adelante > </button>
  </header>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table">
        <tbody>
          <tr>
            <td class="col-xs-3"> 7:30<br> 8:30 </td>
            <td class="col-xs-6"> asd</td>
            <td class="col-xs-3">
              <div class="input-group">
                <select class="form-control">
                  <option value="1">uno</option>
                  <option value="2">dos</option>
                  <option value="3">tres</option>
                  <option value="5">cuatro</option>
                </select>
                <span class="input-group-btn">
                  <button class="btn btn-primary" type="button">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                  </button>
                </span>
              </div><!-- /input-group -->
            </td>
          </tr>
          <tr>
            <td class="col-xs-3"> 7:30<br> 8:30 </td>
            <td class="col-xs-6"> asd</td>
            <td class="col-xs-3">
              <div class="input-group">
                <select class="form-control">
                  <option value="1">uno</option>
                  <option value="2">dos</option>
                  <option value="3">tres</option>
                  <option value="5">cuatro</option>
                </select>
                <span class="input-group-btn">
                  <button class="btn btn-primary" type="button">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                  </button>
                </span>
              </div><!-- /input-group -->
            </td>
          </tr>
          <tr>
            <td class="col-xs-3"> 7:30<br> 8:30 </td>
            <td class="col-xs-6"> asd</td>
            <td class="col-xs-3">
              <div class="input-group">
                <select class="form-control">
                  <option value="1">uno</option>
                  <option value="2">dos</option>
                  <option value="3">tres</option>
                  <option value="5">cuatro</option>
                </select>
                <span class="input-group-btn">
                  <button class="btn btn-primary" type="button">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                  </button>
                </span>
              </div><!-- /input-group -->
            </td>
          </tr>
          <tr>
            <td class="col-xs-2"> 7:30<br> 8:30 </td>
            <td class="col-xs-6"> asd</td>
            <td class="col-xs-4">
              <div class="input-group">
                <select class="form-control">
                  <option value="1">uno</option>
                  <option value="2">dos</option>
                  <option value="3">tres</option>
                  <option value="5">cuatro</option>
                </select>
                <span class="input-group-btn">
                  <button class="btn btn-primary" type="button">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                  </button>
                </span>
              </div><!-- /input-group -->
            </td>
          </tr>
          <tr>
            <td class="col-xs-3"> 7:30<br> 8:30 </td>
            <td class="col-xs-6"> asd</td>
            <td class="col-xs-3">
              <div class="input-group">
                <select class="form-control">
                  <option value="1">uno</option>
                  <option value="2">dos</option>
                  <option value="3">tres</option>
                  <option value="5">cuatro</option>
                </select>
                <span class="input-group-btn">
                  <button class="btn btn-primary" type="button">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                  </button>
                </span>
              </div><!-- /input-group -->
            </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
  <footer class="panel-header"></footer>
</section>
