﻿<section class="panel" ng-init="init()">
  <header class="panel-heading">
    <button> < Atras</button>
    <span> {{days}} </span>
    <button> Adelante > </button>
  </header>
  <div class="panel-body">
    <div class="table-responsive">
      <table>
          <tbody>
            <tr>
              <th>
                hora de inico <br> hora de fin
              </th>
              <td>
                <ul class="widgets">
                  <li> w 1 </li>
                  <li> w 2 </li>
                  <li> w 3 </li>
                  <li> w 4 </li>
                </ul>
              </td>
              <td>
                <select name="widger">
                  <option value="1"> Taller</option>
                  <option value="2"> Auncios</option>
                  <option value="3"> Mapa</option>
                </select>
              </td>
            </tr>
          </tbody>
      </table>
    </div>
  </div>
  <footer class="panel-footer"></footer>
</section>
