<!-- Resumen de la conva propuesta por el DIRESC -->
<div class="table-responsive" *ngIf="transferAbstract">
    <table class="table">
        <thead>
        <tr>
            <th colspan="6">
                Resumen de convalidación(Director de la Escuela Académico Profesional)
                <span class="hidden-print">
                    <button class="btn btn-default" (click)="print()"> <i class="fa fa-print"></i>Imprimir</button>
                </span>
            </th>
        </tr>
        <tr>
            <th colspan="2">Univ. Continental</th>
            <th>-</th>
            <th colspan="3">Otra Institución</th>
        </tr>
        <tr>
            <th>id</th>
            <th>Nombre</th>
            <th>Créditos</th>
            <th>-</th>
            <th>nombre</th>
            <th>Créditos</th>
            <th>Nota</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let course of transferAbstract">
            <th>{{course.uc_code}}</th>
            <th>{{course.uc_name}}</th>
            <th>{{course.uc_credits}}</th>
            <th>-</th>
            <th>{{course.ot_name}}</th>
            <th>{{course.ot_credits}}</th>
            <th>{{course.ot_grade}}</th>
        </tr>
        </tbody>
    </table>
</div>
<!-- Fin de resumen de la conva propuesta por el DIRESC -->
