<div class="bg-white">
  <div class="table-responsive">
    <table class="table table-bordered table-hover" *ngIf="transfer">
      <thead>
        <tr>
          <th colspan="8">Asignaturas convalidadas</th>
        </tr>
      </thead>
      <thead>
        <tr>
          <th colspan="3"> {{transfer.institution_name}}</th>
          <th rowspan="2">-</th>

          <th colspan="4"> Universidad Continental</th>
        </tr>
        <tr>
          <th>Asignatura</th>
          <th>Créditos</th>
          <th>Nota</th>

          <th>Código</th>
          <th>Asignatura</th>
          <th>Créditos</th>
          <th>Nota</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let course of transfer.courses">
          <td>{{course.proc_course_name}}</td>
          <td>{{course.proc_course_credits}}</td>
          <td>{{course.proc_course_score}}</td>
          <!-- <td colspan="5" *ngIf="course.uc_repeat === 0"></td> -->
          <td [attr.rowspan]="course.uc_repeat" *ngIf="course.uc_repeat > 0">-</td>
          <td [attr.rowspan]="course.uc_repeat" *ngIf="course.uc_repeat > 0">{{course.uc_course_subj}}{{course.uc_course_number}}</td>
          <td [attr.rowspan]="course.uc_repeat" *ngIf="course.uc_repeat > 0">{{course.uc_course_name}}</td>
          <td [attr.rowspan]="course.uc_repeat" *ngIf="course.uc_repeat > 0">{{course.uc_course_credits}}</td>
          <td [attr.rowspan]="course.uc_repeat" *ngIf="course.uc_repeat > 0">{{course.uc_course_score}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
