<div class="bg-white">
  <div *ngIf="!transfers">
    Cargando ...
  </div>
  <div *ngIf="transfers && transfers.length === 0">
    <div class="callout callout-warning">
      <h4>No hay convalidaciones registradas</h4>
      <p>
        El estudiante no tiene convalidaciones para el período <strong>{{term}}</strong>.
        <br>Por favor dirijase a SHATRNS en su plataforma banner.
      </p>
    </div>
  </div>
  <!-- resumen de la convalidación -->
  <div class="table-responsive" *ngIf="transfers && transfers.length > 0">
    <table class="table">
      <thead>
        <tr>
          <th>Período</th>
          <th>seq</th>
          <th>tseq</th>
          <th>Fecha</th>
          <th>Institucion</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transfer of transfers">
          <td>{{transfer.term}}</td>
          <td>{{transfer.seq}}</td>
          <td>{{transfer.tseq}}</td>
          <td>{{transfer.date | date:'dd/MM/yyyy'}}</td>
          <td>{{transfer.institution_name}}</td>
          <td>
            <span *ngIf="compareTransfer(select_transfer, transfer); then equal; else noEqual">
              Bazinga!!
            </span>
            <ng-template #equal>
              <button class="btn btn-xs btn-success" (click)="unSelectTransfer()">
                <i class="fa fa-check-square"></i> deseleccionar
              </button>
            </ng-template>
            <ng-template #noEqual>
              <button class="btn btn-xs btn-info" (click)="selectTransfer(transfer)">
                <i class="fa fa-square"></i> seleccionar
              </button>
            </ng-template>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
