<div class="nav-tabs-custom comment-text">
  <!-- Tabs within a box -->
  <ul class="nav nav-tabs pull-right ui-sortable-handle">
    <li class="pull-left header"><i class="fa fa-inbox"></i> Pre Convalidación</li>
  </ul>
  <div class="tab-content no-padding">
    <!-- Convalidation -->
    <div class="chart tab-pane active">
      <div class="table-responsive" *ngIf="courses">
        <!-- Edicion -->
        <table class="table" [hidden]="mode === 'abstract'">
          <thead>
            <tr>
              <th class="col-xs-1">Código</th>
              <th class="col-xs-3">Asignatura</th>
              <th class="col-xs-1">Créditos</th>
              <th class="col-xs-1">Tipo</th>
              <th class="col-xs-1">¿Convalidar?</th>
              <th class="col-xs-5">Convalidación</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let course of courses">
              <td>{{course.id}}</td>
              <td>{{course.name}}</td>
              <td>{{course.credits}}</td>
              <td>{{course.type}}</td>
              <td><p-inputSwitch onLabel="Si" offLabel="No" [(ngModel)]="course.transferible"></p-inputSwitch></td>
              <td>
                <table [hidden]="!course.transferible" class="table table-bordered">
                  <tr>
                    <th>Asignatura</th>
                    <th>cred</th>
                    <th>nota</th>
                    <th></th>
                  </tr>
                  <tr *ngFor="let c_transfer of course.transfers">
                    <td>{{c_transfer.course}}</td>
                    <td>{{c_transfer.credits}}</td>
                    <td>{{c_transfer.grade}}</td>
                    <td>
                      <!-- <div class="btn-group" role="group">
                        <button class="btn btn-xs btn-info"> <i class="fa fa-edit"></i> </button>
                        <button class="btn btn-xs btn-danger"> <i class="fa fa-trash"></i> </button>
                      </div> -->
                    </td>
                  </tr>
                </table>
                <form (ngSubmit)="addTransferCourse(transfer_course, course)" [hidden]="!course.transferible || !course.show_form" class="border p">
                  <div class="row">
                    <div class="col-sm-12">
                      <label for="">Asignatura </label>
                      <input type="text" name="course" [(ngModel)]="transfer_course.course" class="form-control" required>
                    </div>
                    <div class="col-sm-4">
                      <label for="">Créditos </label>
                      <input type="number" name="credits" [(ngModel)]="transfer_course.credits" min="1" class="form-control" required>
                    </div>
                    <div class="col-sm-4">
                      <label for="">Notas </label>
                      <input type="number" name="grade" [(ngModel)]="transfer_course.grade" min="1" class="form-control" required>
                    </div>
                    <div class="col-sm-4">
                      
                      <input class="btn btn-sm btn-success" type="submit" name="submit" value="Agregar">
                      <br>
                      <input class="btn btn-sm btn-danger" type="submit" name="submit" value="Cancelar" (click)="course.show_form = false">
                    </div>
                  </div>
                </form>
                <div [hidden]="!course.transferible || course.show_form">
                  <button class="btn btn-success" (click)="course.show_form = true">
                    <i class="fa fa-plus"></i> Agregar
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="6">
                <button class="btn btn-primary" name="button" (click)="setTransferAbstract($event)">
                  <i class="fa fa-save"></i> Guardar
                </button>
              </td>
            </tr>
          </tfoot>
        </table>
        <!-- resumen -->
        <div *ngIf="mode === 'abstract'">
          <transfer-deu [transferAbstract]="transfer_abstract"></transfer-deu>
          <br>
          <div class="hidden-print">
            <button class="btn btn-primary" (click)="mode = 'edit'">
              <i class="fa fa-pencil"></i> Editar
            </button>
          </div>
        </div>
      </div>
      <div *ngIf="!courses">
        <p class="text-center">Cargando ... <br> por favor espere. </p>
      </div>
    </div>
  </div>
</div>
