<div class="row" ng-controller="generateGraduteRecordCtrl" ng-init="init()">
  <section class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Filtrando Estudiantes</h3>
      </div>
      <div class="panel-body" id="bar-loading-alumnos">
        <form name="formFiltro" ng-submit="iniciarBusqueda(formFiltro);submitted=true;">
          <div class="row">
            <div class="form-group tree-toggler nav-header text-primary col-sm-10">
              <div class="input-group">
                <span class="input-group-addon" id="sizing-addon2">Codigos</span>
                <input ng-model="search.data_student_id_list" type="text" class="form-control"   ng-change="changeStudentArray(search.data_student_id_list)">
              </div>
              <span>Se recomienda no ingresar mas de 150 codigos a la vez.</span>
              <div cd-list-student-id class='cd-list-student-id' ng-show="search.data_student_id_list">
              </div>
            </div>
            <div class="input-group col-sm-2">
              <input class="btn btn-primary btn-taller" role="submit" type="submit" value="Buscar" id="button-buscar"/>
            </div>
          </div>
        </form>
        <hr/>
        <div class="row" ng-show="alumnos.length">
          <div class="col-sm-6">
            <div class="input-group">
              <span class="input-group-addon" id="sizing-addon2">Codigo</span>
              <input type="text" class="form-control"  ng-model="filter.student_id"  aria-describedby="sizing-addon2" >
              </div>
          </div>
          <div class="col-sm-6">
            <div class="input-group">
              <span class="input-group-addon" id="sizing-addon2">Nombre</span>
              <input type="text" class="form-control"  ng-model="filter.student_name"  aria-describedby="sizing-addon2" >
            </div>
          </div>
          <!--
          <div class="col-sm-4">
            <div class="input-group">
              <span class="input-group-addon" id="sizing-addon2">Escuela</span>
              <input type="text" class="form-control"  ng-model="filter.school"  aria-describedby="sizing-addon2" >
            </div>
          </div>
        -->
        </div>
        <div ng-if="alumnos.length">
          <div class="table-responsive">
            <table class="table table-hover fancy-table">
              <thead>
                <tr>
                  <!--
                  <th class="text-center">
                    N°
                  </th>-->
                  <th class="text-center">
                    Id
                  </th>
                  <th class="text-center">
                    Pr
                  </th>
                  <th class="text-center">
                    So
                  </th>
                  <th class="text-center">
                    Ba
                  </th>
                  <th class="text-center">
                    Ti
                  </th>
                  <th class="text-center">
                    Codigo
                  </th>
                  <th class="text-center">
                    Nombre
                  </th>
                  <th class="text-center">
                    Escuela
                  </th>
                  <th class="text-center">
                    Accion
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="alumno in alumnos | filter:filter"
                 ng-class="{
                   'warning':alumno.warning(),
                   'success':alumno.success(),
                   'info':alumno.info(),
                   'danger': alumno.danger()}">
<!--
                  <td class="text-center">
                    {{$index + 1}}
                  </td>
                -->
                  <td class="text-center">
                    <input type="checkbox" ng-model="alumno.language" disabled>
                  </td>
                  <td class="text-center">
                    <input type="checkbox" ng-model="alumno.practice" disabled>
                  </td>
                  <td class="text-center">
                    <input type="checkbox" ng-model="alumno.social_projection" disabled="disabled">
                  </td>
                  <td class="text-center">
                    <input type="checkbox" ng-model="alumno.bachiller" disabled="disabled">
                  </td>
                  <td class="text-center">
                    <input type="checkbox" ng-model="alumno.degree" disabled="disabled">
                  </td>
                  <td class="text-left">
                    {{alumno.student_id}}
                  </td>
                  <td class="text-left">
                    {{alumno.student_name}}
                  </td>
                  <td class="text-center">
                    {{alumno.school}}
                  </td>
                  <td class="text-center">
                    <a href="javascript:void(0);" ng-click="passToList(alumno)" class="btn btn-default btn-xs button-large" ng-class="{'disabled':alumno.danger() || !alumno.habilitado}">
                    <!--
                    <a href="javascript:void(0);" ng-click="passToList(alumno)" class="btn btn-default btn-xs button-large" ng-class="{'disabled': alumno.danger() ||alumno.warning() || !alumno.habilitado}">
                    -->
                      <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="col-sm-6" ng-class="{'disabled':alumnosSeleccionados.count}">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Solicitudes a Generar</h3>
      </div>
      <div class="panel-body" id="bar-loading-constancias">
        <form name="formProceso" ng-submit="procesarConstancias(formProceso);submittedConstancias=true;">
          <div class="row">
            <div class="form-group tree-toggler nav-header text-primary col-sm-8">
              <div class="input-group">
                <span class="input-group-addon" id="sizing-addon2">Fechas</span>
                <input type="text" class="form-control" ng-model="fechas" placeholder="dd/mm/yyyy" aria-describedby="sizing-addon2" ng-change="updateDates(fechas)">
              </div>
              <!--
              <div class="col-sm-12" ng-show="mostrarError">
                <div ng-repeat="error in errores">
                  <span class="text-danger error-message">*{{error.descripcion}}</span>
                </div>
              </div>
              <div class="col-sm-12" ng-show="formProceso.periodoAcademico.$error.required && submittedConstancias===true">
                  <span class="text-danger error-message">Es necesario ingresar un periodo.</span>
              </div>
              <div class="col-sm-12" ng-show="formProceso.fechas.$error.pattern && submittedConstancias===true">
                  <span class="text-danger error-message">*La fecha debe tener este formato dd/mm/yyyy.</span>
              </div>
            -->
            </div>
            <div class="input-group col-sm-4">
              <input class="btn btn-primary btn-taller text-right" role="submit" type="submit" value="Procesar" id="button-procesar"/>
            </div>
          </div>

        <div ng-if="alumnosSeleccionados.length">
          <div class="table-responsive">
            <table class="table table-hover fancy-table">
              <thead>
                <tr>
                  <th class="text-center">
                    <br/>
                  </th>
                  <th class="text-center">
                    Fecha
                  </th>
                  <th class="text-center">
                    Codigo
                  </th>
                  <th class="text-center">
                    Nombre
                  </th>
                  <th class="text-center">
                    Accion
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="alumno in alumnosSeleccionados" id="cons-{{alumno.student_id}}">


                  <td class="text-center">
                    <a ng-if="alumno.file" ng-href="{{alumno.file}}"
                      class="enabled" download="constancia-egresado-{{alumno.student_id}}.pdf">
                      <span class="glyphicon glyphicon-paperclip"
                        aria-hidden="true">
                        </span>
                    </a>
                    <a ng-if="alumno.has_photo===false"
                      class="enabled" title="No tiene foto.">
                      <span class="glyphicon glyphicon-picture icon-danger" ng-style="{color:'red'}"
                        aria-hidden="true">
                        </span>
                    </a>
                    <a ng-if="alumno.has_date===false"
                      class="enabled" title="Fecha no valida.">
                      <span class="glyphicon glyphicon-calendar icon-danger" ng-style="{color:'red'}"
                        aria-hidden="true">
                        </span>
                    </a>

<!--
                    <a ng-if="!alumno.file" href="javascript:void(null)" >
                      <span
                        ng-class="{'glyphicon glyphicon-info-sign': alumno.status===0, 'btn btn-primary btn-xs': alumno.status===2 || alumno.status===3}"
                        aria-hidden="true">
                        {{alumno.status === 2 ? alumno.periodo_str_anterior : '' }}
                        {{alumno.status === 3 ? alumno.periodo_str_proximo : '' }}
                        </span>
                    </a>
-->
                  </td>




                  <th class="text-center">
                    <!--
                    <span class="label" ng-class="{'label-default': alumno.status===0, 'label-success': alumno.status===1, 'label-primary': alumno.status===2 || alumno.status===3}">
                      {{alumno.status | statusToTextGraduate }}
                    </span>
                  -->



                    <input type="text" class="form-control" name="fecha-{{alumno.student_id}}" ng-model="alumno.fecha" placeholder="dd/mm/yyyy" aria-describedby="sizing-addon2"
                    ng-pattern="'^[0-9]{2}[\/][0-9]{2}[\/][0-9]{4}$'" required>
<!--
                  <div class="col-sm-12" ng-show="mostrarError">
                    <div ng-repeat="error in errores">
                      <span class="text-danger error-message">*{{error.descripcion}}</span>
                    </div>
                  </div>
                  <div class="col-sm-12" ng-show="formProceso.fecha.$error.required && submittedConstancias===true">
                      <span class="text-danger error-message">Es necesario ingresar un periodo.</span>
                  </div>
                  <div class="col-sm-12" ng-show="formProceso.fecha.$error.pattern && submittedConstancias===true">
                      <span class="text-danger error-message">*La fecha debe tener este formato dd/mm/yyyy.</span>
                  </div>
-->
                  </th>
                  <td class="text-center">
                    {{alumno.student_id}}
                  </td>
                  <td class="text-left">
                    {{alumno.student_name}}
                  </td>
                  <td class="text-center">
                    <a href="javascript:void(0);" ng-click="removeFromSelected(alumno)" class="btn btn-default btn-xs button-large" ng-class="{'enabled': !alumno.habilitado}">
                      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
