
<div ng-init="see=false;">
  <button class="btn " type="button" ng-click="see=!see">
    Codigos <span class="badge">{{student_id_array.length}}</span>
  </button>
  <br>
  <div ng-show="see">
  <p>
    <span ng-repeat="student_id in student_id_array" class="label label-primary">
      <span class="glyphicon glyphicon-user " aria-hidden="true"></span>
      {{student_id}}
    </span>
  </p >
  </div>
</div>
