// Card module styles

.card-module
  padding-bottom: 45px
  max-height: 160px
  min-height: 160px
  overflow: hidden
  .card-module-body
    padding: 10px 134px 0 15px
    position: relative
    z-index: 999
    margin-bottom: 15px
    .title
      color: $black
      font-size: 30px
      font-weight: $font-Bold
      +textTruncate()
    .description
      color: $black
      font-size: 15px
      line-height: 1.2
  .card-module-ico
    background-color: $white
    border-left: 5px solid rgba($black,.05)
    border-top: 5px solid rgba($black,.05)
    border-radius: 100% 0 0 0
    bottom: 0
    height: 140px
    position: absolute
    right: 0
    width: 140px
    z-index: 1
    +boxShadow(0px, 0px, 27px, $gray-500)
    text-align: center
    &:after
      background-image: url("")
      bottom: 0
      content: ''
      display: block
      left: 0
      opacity: .15
      position: absolute
      right: 0
      top: 0
      z-index: 0
    >i
      bottom: 5px
      font-size: 7em
      position: absolute
      right: 5px
      transition: all 1s ease-in-out
      z-index: 10
  .card-module-footer
    border-top: 1px solid $gray-500
    bottom: 0
    color: #999
    font-weight: $font-Bold
    padding: 5px 15px
    position: absolute
    text-align: left
    width: 100%
    .more-info
      +textTruncate()
      font-size: 18px
      margin: 0
      padding: 5px 0
  &:hover
    .card-module-ico >i
      transform: scale(1.1)

@media (max-width: 768px)
  .card-module
    max-height: initial
    .card-module-body
      .title
        +noTextTruncate()
    .card-module-footer
      padding: 10px 145px 10px 5px
  