.card
  +borderRadius(5px)
  +boxShadow(0px, 2px, 4px, $gray-400)
  background-color: $white
  border: 1px solid $gray-400
  display: block
  margin-bottom: 15px
  position: relative
  transition: box-shadow .25s linear
  +clearFix()
  &.inherit
    overflow: inherit !important
  &>.header
    border-bottom: 1px solid $gray-400
    margin: 0
    padding: 10px 15px
    .title
      font-size: 20px
      margin: 0
      padding: 0
    &.with-toggle
      padding-right: 45px
      position: relative
      .toggle
        +borderRadius(100%)
        border: 1px solid transparent
        background-color: $primary
        color: $white
        font-size: 18px
        height: 35px
        line-height: 35px
        position: absolute
        right: 5px
        text-align: center
        top: 5px
        width: 35px
        cursor: pointer
  .body
    height: auto
    padding: 15px
    &:after
      clear: both
      content: ""
      display: table
  .footer
    border-top: 1px dashed $gray-400
    padding: 15px

.card-clickable
  cursor: pointer
  &:hover
    +boxShadow(0px, 10px, 20px, $gray-400)
