.box-collapse
  background-color: $white
  +borderRadius(6px)
  margin-bottom: 30px
  position: relative
  .title
    +boxShadow(0px, 3px, 8px, #888)
    background: linear-gradient(141deg, $white 0%, $a-info 40%, $primary 95%)
    border-bottom: 1px solid $gray-400
    border-top-left-radius: 6px
    border-top-right-radius: 6px
    height: 150px
    padding: 15px
    position: relative
    .title-text
      background-color: rgba($black, .3)
      bottom: 25px
      color: $white
      font-weight: $font-Bold
      padding-right: 15px
      position: absolute
      right: 0
      text-align: right
      width: 100%
  .title-img
    background-size: cover
  .ico-action
    +boxShadow(0px, 0px, 5px, $white)
    +borderRadius(50%)
    color: $white
    cursor: pointer
    height: 60px
    position: absolute
    right: 15px
    text-align: center
    top: 115px
    transition: transform 0.3s
    width: 60px
    z-index: 100
    i.fa
      line-height: 60px
  .body
    border-top: none
    border: 1px solid $gray-400
    padding: 30px 15px 15px 15px
    display: none
    &.active
      display: block
    .btn
      background-color: $white
      margin-bottom: 15px
      text-align: left
      i.fa
        color: $a-info

.rotate-180
  +rotateX(180deg)
