// card Default styles

.card-default
  padding: 15px
  .title, .subtitle
    font-weight: $font-Bold
    margin-top: 0
  .subtitle
    font-weight: normal
  .pre-wrap
    white-space: pre-wrap
  .footer
    margin: 0 -15px -15px -15px 
