.card-drible
  +boxShadow(0px, 0px, 10px, $gray-400)
  position: relative
  width: 100%
  padding: 15px
  .column
    width: 5px
    position: absolute
    top: 15px
    left: 10px
    bottom: 15px
    +borderRadius()
  .body
    padding: 0 36px 0 10px
    color: $a-blue !important
    .title
      display: block
      font-size: 20px
      font-weight: $font-Bold
      +textTruncate()
    p
      display: block
      font-size: 16px
      margin: 0
    .label
      position: absolute
      top: 0
      right: 0
      height: 30px
      line-height: 25px

  .icon
    position: absolute
    right: 15px
    top: 15px
