// Card List styles
.card-list, .list-group
  ul
    margin-bottom: 0 !important
  li
    font-size: 15px
    padding: 15px !important
    text-align: left
    span.badge
      padding: 5px 15px
      text-align: center
      max-width: 108px

// Estilo para una lista de items tipo card
li
  &.card-item, &.card-item-success, &.card-item-primary
    +boxShadow(0, 2px, 8px, $gray-400)
    +clearFix()
    border: 1px solid $gray-400
    +borderRadius()
    margin-bottom: 10px
    padding: 15px
    &:hover
      +boxShadow(0, 4px, 8px, $gray-400)
  &.card-item-success
    border-right: 5px solid $green
  &.card-item-primary
    border-right: 5px solid $primary
  &.list-group-item-link
    padding: 0 !important
    a
      padding: 10px !important
