// card Ico styles

.card-submodule
  max-height: 103px
  min-height: 103px
  overflow: hidden
  .card-image
    background-color: $white
    border-right: 5px solid rgba($black,.05)
    border-radius: 0 100% 100%  0
    bottom: -10px
    height: 120px
    left: -10px
    position: absolute
    width: 100px
    z-index: 1
    text-align: center
    >i
      font-size: 4em
      margin-top: calc(100% - 60px)
      transition: all 1s ease-in-out
        
    &:before
      background-image: url("")
      bottom: 0
      content: ''
      display: block
      left: 0
      opacity: .15
      position: absolute
      right: 0
      top: 0
      z-index: 0
  .card-title
    color: $black
    font-size: 24px
    font-weight: normal
    margin-top: 5px
  .card-content
    padding: 15px 15px 0 90px
    position: relative
    text-align: right
    z-index: 2
    p
      &.info
        text-align: right
        color: $primary
  &:hover
    .card-image
      >i
        transform: scale(1.2)

@media (max-width: 450px)
  .card-submodule
    max-height: inherit
    padding: 0
    text-align: center
    .card-image
      +borderRadius(0)
      border-right: 0 solid rgba($black,.05)
      height: auto
      left: 0
      line-height: normal
      padding: 15px
      position: relative
      top: 0
      width: 100%
      >i
        margin-top: 0
    .card-content
      margin-top: 15px
      padding: 0
      text-align: center
      .info
        text-align: center !important
