.card-table
  margin-bottom: 0
  +borderRadius(0)
  padding: 15px 

// Small devices (tablets, 768px and up)
@media (max-width: $screen-sm-max)
  .card-table
    &.card-restore-sm
      margin-bottom: 15px
      +borderRadius(5px)

// Medium devices (desktops, 992px and up)
@media (max-width: $screen-md-max)
  .card-table
    &.card-restore-md
      margin-bottom: 15px
      +borderRadius(5px)
