.card-primary
  overflow: visible
  border-top: 3px solid $primary
  .header.bg-blue
    margin-top: -1px
    i.toggle
      border-color: $white
.card-success
  overflow: visible
  border-top: 3px solid $green
  i.toggle
      background-color: $green !important
  .header.bg-green
    margin-top: -1px
    i.toggle
      border-color: $white
.card-violet
  overflow: visible
  border-top: 3px solid $violet
  i.toggle
      background-color: $violet !important
  .header.bg-violet
    margin-top: -1px
    i.toggle
      border-color: $white
.card-orange
  overflow: visible
  border-top: 3px solid $a-orange
  i.toggle
      background-color: $a-orange !important
  .header.bg-orange
    margin-top: -1px
    i.toggle
      border-color: $white
