.card-info
  padding: 15px 30px 15px 15px
  border: 1px solid $info
  +borderRadius(0)
  border-left-width: 5px
  >.ico
    position: absolute
    top: 15px
    right: 15px

.card-error
  padding: 15px 30px 15px 15px
  border: 1px solid $danger
  +borderRadius(0)
  border-left-width: 5px
  >.ico
    position: absolute
    top: 15px
    right: 15px
