<div class="callout"
  [ngClass]="{'callout-danger': callout.type=='danger', 'callout-info': callout.type=='info', 'callout-warning': callout.type=='warning', 'callout-success': callout.type=='success'}">
  <h4>
    <i class="fa" 
    [ngClass]="{'fa-ban': callout.type=='danger', 'fa-info': callout.type=='info', 'fa-warning':callout.type=='warning', 'fa-check': callout.type=='success'}"></i> 
    {{callout.title}}</h4>
  <ul class="list-unstyled">
    <li *ngFor="let text of callout.data">{{text}}</li>
  </ul>
</div>
