<loading *ngIf="loading" text="Cargando datos..."></loading>

<callout-component *ngIf="!loading && error" [callout]="callout"></callout-component>

<div *ngIf="!loading" class="card card-primary">
  <div class="header">
    <h3 class="title"><i class="fa fa-institution"></i> Tercio, quinto y décimo superior</h3>
  </div>
  <div class="body pb-0">
    <callout-component *ngIf="notFound" [callout]="callout"></callout-component>
    <div *ngIf="!loading && !notFound" class="table-responsive text-center table-material mb">
      <table class="table">
        <thead class="bg-info text-white">
          <tr>
            <th class="text-center">Período</th>
            <th class="text-center">Promedio ponderado</th>
            <th class="text-center">Ciclo</th>
            <th class="text-center">Cumplimiento</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let term of document.term_list">
            <td>{{term.term}}</td>
            <td>{{term.score}}</td>
            <td>{{term.period}}</td>
            <td>{{term.orders}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
