<div class="row">
  <loading [text]="'Cargando...'" *ngIf="loading"></loading>
  <div class="col-xs-12" *ngIf="!loading">
    <div class="box"
         [ngClass]="{ 'box-info': bannerEnrollment.hasPendingTerms, 'box-default': !bannerEnrollment.hasPendingTerms }">
      <div class="box-header with-border">
        <h3 class="box-title" *ngIf="bannerEnrollment.hasPendingTerms">
          {{ bannerEnrollment.termsAndConditions.name }}
        </h3>
        <h3 class="box-title" *ngIf="!bannerEnrollment.hasPendingTerms">Matrícula</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body table-responsive"
           *ngIf="bannerEnrollment.hasPendingRequirements || bannerEnrollment.hasPendingTerms">
        <div *ngIf="bannerEnrollment.requirements !== undefined && bannerEnrollment.requirements !== null">
          <div *ngIf="bannerEnrollment.requirements.length > 0">
            <div class="alert alert-warning alert-dismissible">
              <h4><i class="icon fa fa-warning"></i> Importante! Tienes las siguientes restricciones pendientes:</h4>
            </div>
            <table class="table table-hover">
              <tbody>
              <tr>
                <th></th>
                <th>Restricciones pendientes</th>
                <th></th>
              </tr>
              <tr *ngFor="let req of bannerEnrollment.requirements">
                <td></td>
                <td>{{ req.descriptionComplete }}</td>
                <td></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div *ngIf="bannerEnrollment.hasPendingTerms">
          <div *ngIf="!bannerEnrollment.termsAndConditions.isFile">
            <div class="col-sm-3 hidden-xs"></div>
            <div [innerHTML]="bannerEnrollment.termsAndConditions.detail" class="col-sm-6 col-xs-12"></div>
            <div class="col-sm-3 hidden-xs"></div>
          </div>
          <div class="embed-responsive embed-responsive-16by9" *ngIf="bannerEnrollment.termsAndConditions.isFile">
            <embed src="https://drive.google.com/viewerng/
viewer?embedded=true&url=https://estudiantes.continental.edu.pe/Content/static/terms/terminos-condiciones-inscripcion.pdf"
                   width="100%" height="375">
          </div>
        </div>
      </div>
      <!-- /.box-body -->
      <div class="box-footer text-center">
        <a [href]="link" target="_blank" class="btn btn-info"
           *ngIf="!bannerEnrollment.hasPendingTerms && !bannerEnrollment.hasPendingRequirements">
          Ingresar
        </a>

        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-default"
                *ngIf="bannerEnrollment.hasPendingTerms">
          Acepto
        </button>

        <div class="modal fade" id="modal-default">
          <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" (click)="closeModal()" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title">Confirmación</h4>
                </div>
                <div class="modal-body">
                  <p>Al seleccionar el botón "Acepto" se da conformidad de los términos y condiciones expresados; así
                    mismo, te informamos que se registrará tu aceptación dentro de nuestro sistema, el mismo que servirá
                    para temas de auditoría.</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default pull-left" (click)="closeModal()">No Acepto</button>
                  <button type="button" class="btn btn-primary" (click)="acceptTerm()">Acepto
                  </button>
                </div>
              </div>
              <!-- /.modal-content -->
            </div>
          </div>
          <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->

      </div>
      <!-- /.box-footer -->
      <div class="overlay" *ngIf="processing">
        <i class="fa fa-refresh fa-spin"></i>
      </div>
      <!-- end loading -->
    </div>
    <!-- /.box -->
  </div>
</div>
