<div>
  <h3>Puedes pagar con tu tarjeta de crédito o débito de los siguientes bancos</h3>
  <div class="col-md-12">
    <h3>Pagos en línea – Banca por internet</h3>
    <p>Realiza tus pagos desde la web del banco de tu preferencia con toda seguridad, revisa la guía y haz clic en
      pagar.</p>
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="card pb">
          <div class="bg-blue text-center card-credit">
            <img [src]="config._BASE_URI+ 'Content/static/images/card-BBVA.png'" height="90px" width="auto"
              alt="card-BBVA">
          </div>
          <div class="text-center pv">
            <div class="col-md-12 mb">
              <div class="btn-group" role="group" aria-label="...">
                <a class="btn bg-primary" href="https://www.bbvacontinental.pe" target="_blank">
                  <i class="fa fa-credit-card"></i> Pagar
                </a>
                <a class="btn btn-info" [href]="config._BASE_URI+ 'Content/static/pdfs/guiasbancos/guiaBBVAweb.pdf'"
                  target="_blank">
                  <i class="fa fa-file-pdf-o"></i> Guía
                </a>
              </div>
            </div>
            <div class="col-md-12 mb">
              <div class="btn-group" role="group" aria-label="...">
                <button class="btn btn-primary disabled"><i class="fa fa-mobile" disabled></i> App móvil</button>
                <a class="btn btn-info" [href]="config._BASE_URI+ 'Content/static/pdfs/guiasbancos/guiaBBVAapp.pdf'"
                  target="_blank">
                  <i class="fa fa-file-pdf-o"></i> Guía
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="card pb">
          <div class="bg-red text-center card-credit">
            <img [src]="config._BASE_URI+ 'Content/static/images/card-Scotiabank.png'" height="90px" width="auto"
              alt="Scotiabank">
          </div>
          <div class="text-center pv">
            <div class="col-md-12 mb">
              <div class="btn-group" role="group" aria-label="...">
                <a class="btn bg-primary" href="https://www.scotiabank.com.pe" target="_blank">
                  <i class="fa fa-credit-card"></i> Pagar
                </a>
                <a class="btn btn-info"
                  [href]="config._BASE_URI+ 'Content/static/pdfs/guiasbancos/guiaScotiabankweb.pdf'" target="_blank">
                  <i class="fa fa-file-pdf-o"></i> Guía
                </a>
              </div>
            </div>
            <div class="col-md-12 mb">
              <div class="btn-group" role="group" aria-label="...">
                <button class="btn btn-primary disabled"><i class="fa fa-mobile" disabled></i> App móvil</button>
                <a class="btn btn-info"
                  [href]="config._BASE_URI+ 'Content/static/pdfs/guiasbancos/guiaScotiabankapp.pdf'" target="_blank">
                  <i class="fa fa-file-pdf-o"></i> Guía
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="card pb">
          <div class="bg-success text-center card-credit">
            <img [src]="config._BASE_URI+ 'Content/static/images/card-Interbank.png'" height="90px" width="auto"
              alt="card-Interbank">
          </div>
          <div class="text-center pv">
            <div class="col-md-12 mb">
              <div class="btn-group" role="group" aria-label="...">
                <a class="btn bg-primary" href="https://www.interbank.com.pe" target="_blank">
                  <i class="fa fa-credit-card"></i> Pagar
                </a>
                <a class="btn btn-info"
                  [href]="config._BASE_URI+ 'Content/static/pdfs/guiasbancos/guiaInterbankweb.pdf'" target="_blank">
                  <i class="fa fa-file-pdf-o"></i> Guía
                </a>
              </div>
            </div>
            <div class="col-md-12 mb">
              <div class="btn-group" role="group" aria-label="...">
                <button class="btn btn-primary disabled"><i class="fa fa-mobile" disabled></i> App móvil</button>
                <a class="btn btn-info"
                  [href]="config._BASE_URI+ 'Content/static/pdfs/guiasbancos/guiaInterbankapp.pdf'" target="_blank">
                  <i class="fa fa-file-pdf-o"></i> Guía
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-md-12">
  <h3>Agencias – Cajeros y oficinas de pago</h3>
  <p>Localiza las oficinas y agencias que se encuentren cerca de tu ubicación.</p>
  <div class="row">
    <div class="col-md-4 col-sm-6">
      <div class="card pb">
        <a href="http://www.ubicanosbbvacontinental.pe/" target="_blank">
          <div class="info-box bg-blue">
            <span class="info-box-icon bg-aqua">
              <i class="fa fa-map-marker"></i>
            </span>
            <div class="info-box-content text-center p-0 card-credit">
              <img [src]="config._BASE_URI+ 'Content/static/images/card-BBVA.png'" height="60px" alt="BBVA">
              <span class="info-box-number">Ubicaciones</span>
            </div>
          </div>
        </a>
        <div class="text-center">
          <div class="btn-group" role="group" aria-label="...">
            <a class="btn btn-info" href="http://www.ubicanosbbvacontinental.pe/" target="_blank">
              <i class="fa fa-search"></i> Lista de agentes
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="card pb">
        <a href="http://intl.scotiabank.com/es-pe/locator/default.aspx" target="_blank">
          <div class="info-box bg-red">
            <span class="info-box-icon bg-aqua">
              <i class="fa fa-map-marker"></i>
            </span>
            <div class="info-box-content text-center p-0 card-credit">
              <img [src]="config._BASE_URI+ 'Content/static/images/card-Scotiabank.png'" height="60px" alt="Scotiabank">
              <span class="info-box-number">Ubicaciones</span>
            </div>
          </div>
        </a>
        <div class="text-center">
          <div class="btn-group" role="group" aria-label="...">
            <a class="btn btn-info" href="http://intl.scotiabank.com/es-pe/locator/default.aspx" target="_blank">
              <i class="fa fa-search"></i> Lista de agentes
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="card pb">
        <a href="https://interbank.pe/puntos-de-atencion" target="_blank">
          <div class="info-box bg-success">
            <span class="info-box-icon bg-aqua">
              <i class="fa fa-map-marker"></i>
            </span>
            <div class="info-box-content text-center p-0 card-credit">
              <img [src]="config._BASE_URI+ 'Content/static/images/card-Interbank.png'" height="60px" alt="Interbank">
              <span class="info-box-number">Ubicaciones</span>
            </div>
          </div>
        </a>
        <div class="text-center">
          <div class="btn-group" role="group" aria-label="...">
            <a class="btn btn-info" href="https://interbank.pe/puntos-de-atencion" target="_blank">
              <i class="fa fa-search"></i> Lista de agentes
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
