﻿@{
    
    ViewBag.Title = "Frontdesk";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<frontdesk> 
    <div class="loader-box">
        <div class="loader-logo">
            <img src="@Url.Content("~/")Content/static/images/isotipo-black.svg" alt="">
        </div>
        <div class="loader-circle extra"></div>
        <div class="loader-circle loader-circle-static extra"></div>
        <div class="loader-circumference"></div>
        <div class="loader-circumference another"></div>
        <div class="loader-text">Cargando...</div>
    </div>
</frontdesk>

@section scripts {
    <script>
        window.student = @(new HtmlString(Json.Encode(ViewBag.student)));
        window.choices = @(new HtmlString(ViewBag.choices));
        window.paymetgateway = '@(ACTools.Configuration.AppSettings.payment_gateway)';
        window.terms = @(new HtmlString(ViewBag.terms));
        window.surveys = @(new HtmlString(ViewBag.surveys));
    </script>
    <script type="text/javascript" src="@Url.Content("~/dist/student/student-polyfills.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/dist/student/student-vendor.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/dist/student/student-app.js")"></script>
}
