﻿@{
    Layout = "~/Areas/frontdesk/Views/Shared/Base.cshtml";
}
<div ui-view></div>
@section css {
    <link href="@Url.Content("~/Content/css/font-awesome.min.css")" rel="stylesheet" type="text/css" />
    @foreach (var css in ViewBag.css_list)
    {
        <script src="@Url.Content("~/Content/app/")@css" type="text/javascript"></script>
    }
}
@section js {

<!-- Angular libs  -->
  <!-- Libs -->
<script type="text/javascript" src="@Url.Content("~/Content/lib/jquery-1.11.1.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/lib/underscore-min.js")"></script>
<!-- Angular libs  -->
<script type="text/javascript" src="@Url.Content("~/Content/lib/angular/angular-locale_es-pe.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/lib/angular/angular-resource.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/lib/angular/angular-ui-router.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/lib/angular/angular-messages.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/lib/angular/ng-load.js")"></script>
<!-- Bootstrap angular -->
<script type="text/javascript" src="@Url.Content("~/Content/lib/bootstrap/ui-bootstrap-tpls-0.14.3.min.js")"></script>
<!-- OcLAzyLoad libs -->
<script type="text/javascript" src="@Url.Content("~/Content/lib/ocLazyLoad.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/lib/require.js")"></script>

<!-- Modulos -->
<script type="text/javascript" src="@Url.Content("~/Content/app/main/app.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/app/shared/ui/ui.module.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/app/shared/ui/remconfirm.directive.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/app/shared/ui/datelabel.directive.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/app/shared/ui/disable.button.directive.js")"></script>

<!-- Servicios Compartidos -->
<script type="text/javascript" src="@Url.Content("~/Content/app/shared/services/services.module.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/app/shared/services/person.service.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/app/shared/services/request.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/app/shared/services/request.state.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/app/shared/services/office.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/app/shared/services/document.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/app/shared/services/student.service.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/app/shared/services/country.service.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/app/shared/services/ubigeo.service.js")"></script>

<!-- Directivas Compartidas -->
<script type="text/javascript" src="@Url.Content("~/Content/app/shared/ui/yesno.directive.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/app/shared/ui/ubigeo.directive.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/app/shared/ui/showhelp.directive.js")"></script>

    @foreach (var js in ViewBag.js_list)
    {
        <script src="@Url.Content("~/Content/app/")@js" type="text/javascript"></script>
    }

    <script type="text/javascript">
      window.app_base = '@Url.Content("~/Content/app/frontdesk/")';
      window.url_base = '@Url.Content("~/")';
      //fix para un error en CAUModile en la base principal
      angular.module('CAUModule', ['ServicesModule', 'uiModule']);
    </script>
}
