﻿@using ACTools.Configuration;
@{
    AppSettings settings = new AppSettings();
    ViewBag.Title = "Seleccion de Perfil de Administrativo";
    Layout = "~/Views/Shared/_LayoutBlank.cshtml";
}
<div class="lockscreen-logo">
    <div class="rounded-top bg-white pv">
        <img src="@Url.Content("~/Content/static/images/logo-horizontal-black.svg")" alt="UC" />
    </div>
    <h1 class="text-white"><strong>@AppSettings.app_title</strong> <br /><small class="text-white">Servicios Virtuales</small></h1>
</div>
<!-- User name -->
<div class="lockscreen-name text-white">
    <p>¡Bienvenid@(@ViewBag.person.gender == "0" ? "a" : "o") @ViewBag.person.first_name @ViewBag.person.last_name!</p>
    <p>Selecciona un perfil para continuar.<br /><br /></p>
</div>

<!-- START LOCK SCREEN ITEM -->
<div class="lockscreen-item">
    <!-- lockscreen image -->
    <div class="lockscreen-image">
        <img src="@Url.Content("~/api/personal/photo/"+@ViewBag.person.person_id)" alt="User Image">
    </div>
    <!-- /.lockscreen-image -->
    <!-- lockscreen credentials (contains the form) -->
    <div class="profile lockscreen-credentials"><br /></div>
    @foreach (var profile in ViewBag.person.profiles)
    {
        <div data-div="@profile.div" data-department="@profile.department" data-program="@profile.program.id" class="profile perfiles lockscreen-credentials hand text-primary-h">
            <div class="input-group">
                <small>
                    @profile.div
                    @profile.department
                    @profile.program.name (@profile.program.id)
                </small>
                <div class="input-group-btn">
                    <button class="btn-profile btn" name="enviar">
                        <i class="fa fa-arrow-right text-muted"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="profile lockscreen-credentials"><br /></div>
    }

    <!-- /.lockscreen credentials -->

</div>
<!-- /.lockscreen-item -->

@if (ViewBag.mix)
{
    <div class="help-block text-center text-white ph">
        <p>También puedes</p>
        <p><a href="../parent/select-profile" class="btn bg-primary"><i class="fa fa-users"></i> Cambiar</a></p>
    </div>
}

<div class="lockscreen-footer text-center panel-title text-white pb">
    <p>&copy; @DateTime.Now.Year - <b>Universidad Continental</b></p>
</div>

@section scripts {
<script>
    var redirect_to = '@ViewBag.redirect';


    $(document).ready(function () {
        function setProfile(formData) {
            $.ajax({
                url: '@Url.Content("~/api/academic/profile")',
                type: 'POST',
                contentType: "application/json",
                data: JSON.stringify(formData),
                dataType: 'json',
                success: function (data) {
                    if (redirect_to !== '') {
                        console.log('redirect to -> ' + redirect_to);
                        window.location = redirect_to;
                    }
                    else {
                        console.log('redirect to -> @(Url.Content("~/frontdesk"))');
                        window.location = '@Url.Content("~/frontdesk")';
                    }
                },
                error: function (err) {
                    console.log('error', err);
                }
            });
        }
        $('.perfiles').on('click', function () {
            var data = {
                div: $(this).attr('data-div'),
                program: $(this).attr('data-program'),
                department: $(this).attr('data-department')
            };
            setProfile(data);
        });
    });
</script>
}
