<loading *ngIf="loading"></loading>

<div class="card card-primary" *ngIf="!loading">
  <div class="header">
    <h3 class="title"><svg-icon iconName="survey"></svg-icon> Matrícula <strong class="text-primary" *ngIf="term">{{term.term}}</strong></h3>
    <div class="pull-right" style="position: absolute; right: 5px; top: 5px;">
      <div class="dropdown">
        <button class="btn btn-sm bg-green btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="true" angulartics2On="click" 
                                                    angularticsAction="ExpandirNecesitasAyuda" 
                                                    [angularticsLabel]="student.id" 
                                                    angularticsCategory="matricula123">
          <b class="visible-sm visible-md visible-lg">¿Necesitas ayuda? <span class="caret"></span></b> 
          <b class="visible-xs">¿Ayuda? <span class="caret"></span></b>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" style="right: 0 !important; left: auto !important;">
          <li>
            <a  angulartics2On="click" angularticsAction="NecesitasAyudaFAQ" [angularticsLabel]="student.id" angularticsCategory="matricula123" 
                href="https://estudiantes.ucontinental.edu.pe/preguntas-frecuentes/" target="_blank">Preguntas frecuentes</a>
          </li>
          <li><a  angulartics2On="click" angularticsAction="NecesitasAyudaGlosarioTerminos" [angularticsLabel]="student.id" angularticsCategory="matricula123" 
                  href="https://estudiantes.ucontinental.edu.pe/matricula/glosario-de-terminos-banner/" target="_blank">Glosario de términos</a></li>
          <li><a  angulartics2On="click" angularticsAction="NecesitasAyudaIrWhatsApp" [angularticsLabel]="student.id" angularticsCategory="matricula123"  
                  href="https://api.whatsapp.com/send?phone=51941837474&text=¡Hola! Tengo problemas con mi matricula, mi código es {{student.id}}" target="_blank">Escríbenos al whatsApp</a></li>
          <li><a  angulartics2On="click" angularticsAction="NecesitasAyudaRegIncidente" [angularticsLabel]="student.id" angularticsCategory="matricula123"  
                  (click)="openModal('register-incident-student')">Registra tu incidente</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="body p-0" *ngIf="validateTermEnrollment()">
    
    <!-- Lista de Pasos -->
    <ul class="steps scrollViewX text-center m pt-0 mh" role="steps">
      <li *ngFor="let step of steps; let i = index" class="scrollViewItem p hand rounded bg-light-h" style="padding: 15px 8% !important" (click)="changeStep(step.step)">
        <h3 class="mt-0 mb-0 p-2 rounded text-bold">{{i+1}}</h3>
        <div class="bg-white text-dark border p circle-image-icon position-relative m-auto" [ngClass]="{'bg-primary text-white':stepNow==step.step}">
          <svg-img [imageName]="step.icon" width="100%"></svg-img>
        </div>
        <h3 class="mt-0 mb-0 p-2 rounded text-bold">{{step.title}}</h3>
      </li>
    </ul>   
    <!-- Aún no tiene fecha de matrícula -->
    <div class="alert-student alert-student-warning m" *ngIf="!noInscriptionGroup()">
      <h4 class="m-0"><i class="fa fa-info-circle"></i> Tu fecha de matrícula aún no ha sido programada.</h4>
    </div>
    <!-- Paso 1 -->
    <div class="p-0" *ngIf="stepNow==1">
      <enrollment-step1 [title]="steps[0].title" [status]="status" [student]="student" [inscriptionGroup]="inscriptionGroup"></enrollment-step1>
    </div>

    <!-- Paso 2 -->
    <div class="p-0" *ngIf="stepNow==2">
      <enrollment-step2 [title]="steps[1].title" [student]="student" [term]="term.term "></enrollment-step2>
    </div>
    <!-- Paso 3 -->
    <div class="p-0" *ngIf="stepNow==3">
      <enrollment-step3 [title]="steps[2].title" [student]="student" [inscriptionGroup]="inscriptionGroup"></enrollment-step3>
    </div>
  </div>
  <div class="body p-0" *ngIf="!validateTermEnrollment()">
    <!-- MEnsaje de que no tiene escala-->
    <div class="alert-student alert-student-warning m" *ngIf="!validateStatusStudent()">
      <h4 class="m-0"><i class="fa fa-info-circle"></i>
        Para continuar con el proceso de matrícula, usted debe realizar su reincorporación. <br>
        Más información:<br>
        Presentar la solicitud en nuestras oficinas de Reincorporación o
        Tutoría de manera presencial o a través de estos correos y teléfonos
        según tu campus: <br>
        <ul>
          <li>Campus Arequipa: aobando@continental.edu.pe (054) 412030 Anexo 3485</li>
          <li>Campus Cusco: ychavez@continental.edu.pe (084) 480070 anexo 8204</li>
          <li>Campus Huancayo: reincorporacionuc@continental.edu.pe (064) 481430 anexos: 7435, 7421, 
            7423, 7470 (Presencial) (064) 481430 anexo 7439 ((Programa gente que trabaja)</li>
          <li>Campus Lima – Los Olivos: icabrerao@continental.edu.pe (01) 2132760 anexo 6301</li>
          <li>Programa A distancia: reincorporacionuc@continental.edu.pe (064) 481430 anexos: 7444 y 7479</li>
        </ul>
      </h4>
    </div>

    <!-- MEnsaje de que su ultima matricula-->
    <div class="alert-student alert-student-warning m" *ngIf="validateStatusStudent()">
      <h4 class="m-0"><i class="fa fa-info-circle"></i>
        Registras matrícula en el periodo<b *ngIf="term && term.termEnrollment && term.termEnrollment.length > 0"> {{term.termEnrollment}}</b>.
      </h4>
    </div>

    
  </div>
</div>

<div class="card">
  <h3 class="m text-bold">Estado académico:</h3>
  <div class="col-md-4">
    <div class="card card-clickable card-submodule" (click)="openModal('orientation-curriculum')"
         angulartics2On="click" 
         angularticsAction="VerEstadoEconomico" 
         [angularticsLabel]="student.id" 
         angularticsCategory="matricula123">
      <div class="card-image bg-primary d-flex flex-column justify-content-center align-items-center">
        <i class="m-0">
          <svg-img width="56px" imageClass="text-white" imageName="curriculum"></svg-img>
        </i>
      </div>
      <div class="card-content">
        <h3 class="card-title">Plan de estudios</h3>
        <p class="info">Más información
          <i class="fa fa-arrow-circle-right text-blue"></i>
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <a class="card card-clickable card-submodule" href="/frontdesk/matricula/asignaturas-disponibles" target="_blank"
       angulartics2On="click" 
       angularticsAction="IrOfertaHoraria" 
       [angularticsLabel]="student.id" 
       angularticsCategory="matricula123">
      <div class="card-image bg-primary d-flex flex-column justify-content-center align-items-center">
        <i class="m-0">
          <svg-img width="56px" imageClass="text-white" imageName="schedule"></svg-img>
        </i>
      </div>
      <div class="card-content">
        <h3 class="card-title">Oferta horaria</h3>
        <p class="info">Más información
          <i class="fa fa-arrow-circle-right text-blue"></i>
        </p>
      </div>
    </a>
  </div>
  <div class="col-md-4">
    <div class="card card-clickable card-submodule" (click)="openModal('payment-simulator')"
         angulartics2On="click" 
         angularticsAction="VerSimuladorDePagos" 
         [angularticsLabel]="student.id" 
         angularticsCategory="matricula123">
      <div class="card-image bg-primary d-flex flex-column justify-content-center align-items-center">
        <i class="m-0">
          <svg-img width="56px" imageClass="text-white" imageName="payment"></svg-img>
        </i>
      </div>
      <div class="card-content">
        <h3 class="card-title">Simulador de pagos</h3>
        <p class="info">Más información
          <i class="fa fa-arrow-circle-right text-blue"></i>
        </p>
      </div>
    </div>
  </div>

  <h3 class="m text-bold">Tutoriales y glosario</h3>
  <div class="col-md-4">
    <div class="card card-clickable card-submodule" (click)="openModal('matricula-presencial')"
         angulartics2On="click" 
         angularticsAction="VideoMatriculaPresencial" 
         [angularticsLabel]="student.id" 
         angularticsCategory="matricula123">
      <div class="card-image bg-primary d-flex flex-column justify-content-center align-items-center">
        <i class="m-0">
          <svg-img width="56px" imageClass="text-white" imageName="video"></svg-img>
        </i>
      </div>
      <div class="card-content">
        <h3 class="card-title">Matrícula presencial</h3>
        <p class="info">Más información
          <i class="fa fa-arrow-circle-right text-blue"></i>
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card card-clickable card-submodule" (click)="openModal('matricula-semipresencial')"
         angulartics2On="click" 
         angularticsAction="VideoMatriculaSemiprecencial" 
         [angularticsLabel]="student.id" 
         angularticsCategory="matricula123">
      <div class="card-image bg-primary d-flex flex-column justify-content-center align-items-center">
        <i class="m-0">
          <svg-img width="56px" imageClass="text-white" imageName="video"></svg-img>
        </i>
      </div>
      <div class="card-content">
        <h3 class="card-title">Matrícula semipresencial</h3>
        <p class="info">Más información
          <i class="fa fa-arrow-circle-right text-blue"></i>
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <a class="card card-clickable card-submodule" href="https://estudiantes.ucontinental.edu.pe/matricula/glosario-de-terminos-banner/" target="_blank"
       angulartics2On="click" 
       angularticsAction="IrGlosarioDeTerminos" 
       [angularticsLabel]="student.id" 
       angularticsCategory="matricula123">
      <div class="card-image bg-primary d-flex flex-column justify-content-center align-items-center">
        <i class="m-0">
          <svg-img width="56px" imageClass="text-white" imageName="glossary"></svg-img>
        </i>
      </div>
      <div class="card-content">
        <h3 class="card-title">Glosario de términos</h3>
        <p class="info">Más información
          <i class="fa fa-arrow-circle-right text-blue"></i>
        </p>
      </div>
    </a>
  </div>

</div>

<!-- modales para los videos -->

<div class="modal fade" id="modal-enrrollment-main" tabindex="-1" role="dialog" aria-labelledby="myModal">
  <div class="modal-dialog {{ modal.size }}" role="document">
    <div class="modal-content">
      <div class="modal-header border-bottom">
        <button type="button" class="close fc-2" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title text-primary" id="myModalLabel">{{modal.title}}</h4>
      </div>
      <div class="modal-body clearfix">
        <div *ngIf="modal.component =='matricula-presencial'">
          <embed src="https://ucontinental.edu.pe/documentos/2019/cas/guia-matricula-123.pdf" type="application/pdf" width="100%" height="600px" />
        </div>
        <div *ngIf="modal.component == 'matricula-semipresencial'">
          <embed src="https://ucontinental.edu.pe/documentos/2019/cas/guia-matricula-123.pdf" type="application/pdf" width="100%" height="600px" />
        </div>
        <div *ngIf="modal.component == 'orientation-curriculum'">
          <orientation-curriculum></orientation-curriculum>
        </div>
        <div *ngIf="modal.component == 'payment-simulator'">
          <payment-simulator modal="true"></payment-simulator>
        </div>
        <div *ngIf="modal.component == 'faq-frontdesk'">
          <faq-frontdesk></faq-frontdesk>
        </div>
        <div *ngIf="modal.component == 'register-incident-student'">
          <register-incident-student [redirect] = "false"></register-incident-student>
        </div>
      </div>
    </div>
  </div>
</div>
