<div class="modal fade" id="modal-pdf-viewer" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header border-bottom">
                <button type="button" class="close fc-2" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title text-primary" id="myModalLabel" *ngIf="pdf">{{pdf.title}} </h4>
            </div>
            <div class="modal-body clearfix">
                <div class="pdf-viewer-container" style="height: 60vh; overflow:hidden;">
                    <div style="height: 100%;" *ngIf="pdf">
                        <div style="height: 100%;"  [innerHTML]="html"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <submodule-menu moduleUri="matricula" area='autoservicio-banner'></submodule-menu>
            </div>
        </div>
    </div>
</div>
