<h2 class="mt-0 pl text-primary">{{title}}</h2>
<!-- Ya se matriculo -->
<div class="alert-student alert-student-success m" *ngIf="noInscriptionGroup() && inscriptionGroup.enrollment">
  <h4 class="m-0"><i class="fa fa-check-circle"></i> Felicidades tu matrícula ha sido culminada.</h4>
</div>
<ul class="list-group list-group-unbordered mb-0">
  <li class="list-group-item">
    <h4 class="mt-0 mb-0">
      Realiza tu matrícula
      <button class="btn btn-circle bg-primary" data-divtoggle="realiza-tu-matricula" data-class="bg-primary"
              angulartics2On="click" 
              angularticsAction="ExpandirRealizaTuMatricula" 
              [angularticsLabel]="student.id" 
              angularticsCategory="matricula123">
        <svg-icon iconName="plus" iconStyle="solid" iconClass="d-block"></svg-icon>
      </button>
    </h4>
    <ul class="list-group mt-2" data-divtoggleview="realiza-tu-matricula" data-divtoggleviewshow="false">
      <li class="list-group-item d-flex align-items-center justify-content-between bg-light-h">
        <span data-placement="top" data-toggle="tooltip"
            data-original-title="Desde este punto podrás elegir tus asignaturas a matricular. Arma tu mejor horario eligiendo los NRCs que más se acomoden a tu disponibilidad.">
          <i class="fa fa-caret-right"></i> Matricúlate - elige tus asignaturas y horarios
        </span>
        <a class="btn bg-primary rounded-15 btn-sm" (click)="openModal('banner-enrollment')"
           angulartics2On="click" 
           angularticsAction="VerMatriculateEligeCursos" 
           [angularticsLabel]="student.id" 
           angularticsCategory="matricula123">
          <i
            class="fa fa-plus"></i> Matricularme</a>
      </li>


      <!--Posts-->
      <li class="list-group-item d-flex align-items-center justify-content-between bg-light-h">
        <span data-placement="top" data-toggle="tooltip" [attr.data-original-title]="requestMultiModal.description">
          <i class="fa fa-caret-right"></i> {{requestMultiModal.title}}
        </span>
        <div class="btn bg-primary rounded-15 btn-sm" (click)="postId=requestMultiModal.id"
          data-toggle="modal" data-target="#modal-autoservicio-banner" angulartics2On="click"
          [angularticsAction]="'VerMatriculaPost-'+requestMultiModal.title" [angularticsLabel]="student.id"
          angularticsCategory="matricula123">
          <i class="fa fa-plus"></i> Detalle
        </div>
      </li>
      
      <li class="list-group-item d-flex align-items-center justify-content-between bg-light-h" 
        *ngFor="let post of postsEnroll">
        <span data-placement="top" data-toggle="tooltip" [attr.data-original-title]="post.description">
          <i class="fa fa-caret-right"></i> {{post.title}} 
          <div class="badge bg-danger" *ngIf="post.pending">Pendiente</div>
        </span>

        <div class="btn bg-primary rounded-15 btn-sm" *ngIf="post.id != null"
              target="_blank"
             (click)="postId=post.id"
             data-toggle="modal"
             data-target="#modal-worpress-info"
             angulartics2On="click" 
             [angularticsAction]="'VerMatriculaPost-'+post.title" 
             [angularticsLabel]="student.id" 
             angularticsCategory="matricula123">
          <i class="fa fa-plus"></i> Detalle
        </div>
        <a class="btn bg-primary rounded-15 btn-sm" target="_blank" *ngIf="post.id == null"
           href="{{post.link}}"
           target="_blank"
           data-toggle="modal"
           data-target="#modal-worpress-info">
          <i class="fa fa-plus"></i> Detalle
        </a>
      </li>
      <!--Fin Posts-->

      <li class="list-group-item d-flex align-items-center justify-content-between bg-light-h" *ngIf="noInscriptionGroup() && inscriptionGroup.enrollment">
        <span data-placement="top" data-toggle="tooltip"
              data-original-title="Luego de realizar tu inscripción, podrás visualizar tu horario en cualquier momento.">
          <i class="fa fa-caret-right"></i> Verifica tu horario
        </span>
        <button class="btn bg-primary rounded-15 btn-sm" (click)="openModal('schedule-student')"
                angulartics2On="click" 
                angularticsAction="VerMatriculaVerificarHorario" 
                [angularticsLabel]="student.id" 
                angularticsCategory="matricula123">
          <i class="fa fa-eye"> </i> ver
        </button>
      </li>
      <li class="list-group-item d-flex align-items-center justify-content-between bg-light-h" *ngIf="noInscriptionGroup() && inscriptionGroup.enrollment">
        <span data-placement="top" data-toggle="tooltip"
            data-original-title="Verifica tu estado económico e infórmate sobre tus próximas cuotas.">
          <i class="fa fa-caret-right"></i> Verifica y valida tus próximos pagos
        </span>
        <button class="btn bg-primary rounded-15 btn-sm" (click)="openModal('economic-status')"
                angulartics2On="click" 
                angularticsAction="VerMatriculaVerificaValidaPagos" 
                [angularticsLabel]="student.id" 
                angularticsCategory="matricula123">
          <i class="fa fa-eye"> </i> ver
        </button>
      </li>
    </ul>
  </li>
  <li class="list-group-item" *ngIf="noInscriptionGroup() && inscriptionGroup.enrollment">
    <h4 class="mt-0 mb-0">
      Rectifica tu matrícula
      <button class="btn btn-circle bg-primary" data-divtoggle="rectifica-tu-matricula" data-class="bg-primary">
        <svg-icon iconName="plus" iconStyle="solid" iconClass="d-block"></svg-icon>
      </button>
    </h4>
    <ul class="list-group mt-2" data-divtoggleview="rectifica-tu-matricula" data-divtoggleviewshow="false">
      <!--Posts-->
      <li class="list-group-item d-flex align-items-center justify-content-between bg-light-h" 
        *ngFor="let post of postsRectify">
        <span data-placement="top" data-toggle="tooltip" [attr.data-original-title]="post.description"
            target="_blank"
            (click)="postId=post.id"
            data-toggle="modal"
            data-target="#modal-worpress-info"
            angulartics2On="click" 
            [angularticsAction]="'tramite-'+post.title" 
            [angularticsLabel]="student.id" 
            angularticsCategory="matricula123">
          <i class="fa fa-caret-right"></i> {{post.title}} 
          <div class="badge bg-danger" *ngIf="post.pending">Pendiente</div>
        </span>

        <div class="btn bg-primary rounded-15 btn-sm" *ngIf="post.id != null"
             target="_blank"
             (click)="postId=post.id; postAction=post.action"
             data-toggle="modal"
             data-target="#modal-worpress-info">
          <i class="fa fa-plus"></i> Detalle
        </div>
        <a class="btn bg-primary rounded-15 btn-sm" target="_blank" *ngIf="post.id == null"
          href="{{post.link}}"><i
            class="fa fa-plus"></i> Detalle</a>
      </li>
      <!--Fin Posts-->
    </ul>
  </li>
  <li class="list-group-item">
    <h4 class="mt-0 mb-0">
      Ayúdanos a mejorar
      <button class="btn btn-circle bg-primary" data-divtoggle="mejorar" data-class="bg-primary"
              angulartics2On="click" 
              angularticsAction="ExpandirAyudanosAMejorar" 
              [angularticsLabel]="student.id" 
              angularticsCategory="matricula123">
        <svg-icon iconName="plus" iconStyle="solid" iconClass="d-block"></svg-icon>
      </button>
    </h4>
    <ul class="list-group mt-2" data-divtoggleview="mejorar" data-divtoggleviewshow="false">
      <li class="list-group-item d-flex align-items-center justify-content-between bg-light-h">
        <span data-placement="top" data-toggle="tooltip"
            data-original-title="Tu opinión es importante para seguir mejorando tu experiencia en el siguiente proceso de matrícula."
            angulartics2On="click" 
            angularticsAction="VerEncuestaDeSatisfaccion" 
            [angularticsLabel]="student.id" 
            angularticsCategory="matricula123">
          <i class="fa fa-caret-right"></i> Encuesta de satisfacción
        </span>
        <button class="btn bg-primary rounded-15 btn-sm" (click)="openModal('satisfaction-survey')"><i class="fa fa-plus"></i> Realiza</button>
      </li>
    </ul>
  </li>
</ul>

<div class="modal fade" id="modal-step-3" tabindex="-1" role="dialog" aria-labelledby="myModal">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header border-bottom">
        <button type="button" class="close fc-2" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title text-primary" id="myModalLabel">{{modal.title}}</h4>
      </div>
      <div class="modal-body clearfix">
        <div *ngIf="modal.component == 'economic-status'">
          <economic-status></economic-status>
        </div>
        <div *ngIf="modal.component == 'schedule-student'">
          <schedule-student></schedule-student>
        </div>
        <div *ngIf="modal.component == 'satisfaction-survey'">
          <iframe width="100%" style="height: 550px; min-height: 250px;" src="https://docs.google.com/forms/d/e/1FAIpQLSd1AaqIOL6DBbbaoez_h6vLUG-az4QFObUfhzTdm-gokD_TtA/viewform" 
          frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div *ngIf="modal.component == 'banner-enrollment'">
          <banner-enrollment></banner-enrollment>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Wordpress -->
<enrollment-wordpress-post [id]="postId" [url]="postAction"></enrollment-wordpress-post>

<div class="modal fade" id="modal-autoservicio-banner" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header border-bottom">
        <button type="button" class="close fc-2" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title text-primary" id="myModalLabel">Mensaje</h4>
      </div>
      <div class="modal-body clearfix">
        <div class="message-student text-left float-inherit m-auto border-info col-md-12">
          <div class="ico bg-info"><i class="fa fa-2x fa-info"></i></div>
          <h4 class="title mt-0 mb pl text-bold border-info border-bottom-3">¡Importante!</h4>
          <ul class="list-unstyled">
            <li class="text-black">Nuestra Universidad cuenta con un modelo educativo <strong
                class="text-primary">multimodal</strong>, que permite a los estudiantes movilizarse de una modalidad a otra.
            </li>
            <li class="text-black">
              <p>La modalidad que te corresponde al culminar tus estudios, y que será consignada en tu diploma de grado y título
                profesional, se determinará de acuerdo a los porcentajes presenciales que hayas cursado, bajo los siguientes
                parámetros:
            </li>
            <li>
              <p class="ml text-bold text-primary">Modalidad presencial: De 80% a 100% de créditos en estudios presenciales.
              </p>
            </li>
            <li>
              <p class="ml text-bold text-primary">Modalidad semipresencial: De 50% a menos de 80% de créditos en estudios
                presenciales.</p>
            </li>
            <li>
              <div class="alert-student alert-student-primary mb-0">
                <p class="m-0"><i class="fa fa-info-circle"></i> Ten en cuenta esta información y asegúrate de cumplir con los
                  porcentajes requeridos de acuerdo
                  a
                  tus objetivos
                  académicos. Puedes revisar la información completa en el Art. N° 37 de nuestro <strong>Reglamento
                    Académico</strong>.</p>
              </div>
            </li>
          </ul>
        </div>
        <div class="text-center mt">
          <button class="btn bg-primary text-white" (click)="modalAutoservicioBanner()"
            angulartics2On="click" 
            angularticsAction="MensajeAsignaturaMultimodal" 
            [angularticsLabel]="student.id" 
            angularticsCategory="matricula123">Entendido</button>
        </div>
      </div>
    </div>
  </div>
</div>
