<h2 class="mt-0 pl text-primary">{{title}}</h2>

<ul class="list-group list-group-unbordered mb-0">
  <!-- No esta matriculado -->
  <div class="alert-student alert-student-primary m" *ngIf="noInscriptionGroup() && inscriptionGroup.enrollment==false">
    <h4 class="m-0"><i class="fa fa-info-circle"></i> Tu matrícula {{(inscriptionGroup.beginDate < today)? 'inicio':'inicia'}} el
      <strong>
        {{inscriptionGroup.beginDate | date: 'dd'}} de {{configService.getMonthName(inscriptionGroup.beginDate | date: 'MM').toLowerCase()}}
      </strong>
    </h4>
  </div>

  <!-- Ya se matriculo -->
  <div class="alert-student alert-student-success m" *ngIf="noInscriptionGroup() && inscriptionGroup.enrollment">
    <h4 class="m-0"><i class="fa fa-check-circle"></i> Felicidades tu matrícula ha sido culminada.</h4>
  </div>

  <li class="list-group-item">
    <h4 class="mt-0 mb-0">
      Revisa tus pendientes 
      <button class="btn btn-circle bg-primary" data-divtoggle="pendientes" data-class="bg-primary"
              angulartics2On="click" 
              angularticsAction="ExpandirPendientes" 
              [angularticsLabel]="student.id" 
              angularticsCategory="matricula123">
        <svg-icon iconName="plus" iconStyle="solid" iconClass="d-block"></svg-icon>
      </button>
      <span class="badge" [ngClass]="{'bg-success': retentions.length == 0, 'bg-warning': retentions.length > 0}" *ngIf="retentions">{{getAllRetentions()}} pendiente(s)</span>
    </h4>
    <ul class="list-group mt" data-divtoggleview="pendientes" data-divtoggleviewshow="false">
      <div class="alert-student alert-student-success mb-0" *ngIf="retentions.length == 0">
        <p class="m-0 text-bold">¡Felicidades! No tienes pendientes.</p>
      </div>
      <li class="list-group-item d-flex align-items-center justify-content-between bg-light-h"
        *ngIf="retentionActive('01') || retentionActive('04')">
        <span data-placement="top" data-toggle="tooltip"
          data-original-title="Visualiza tu historial de deudas pendientes.">
          <i class="fa fa-caret-right"></i> Deuda pendiente <div class="badge bg-danger">Pendiente</div>
        </span>
        <button class="btn bg-primary rounded-15 btn-sm" (click)="openModal('economic-status')">
          <i class="fa fa-eye"></i> ver</button>
      </li>
      <li class="list-group-item d-flex align-items-center justify-content-between bg-light-h"
        *ngIf="retentionActive('02')">
        <span data-placement="top" data-toggle="tooltip"
          data-original-title="Visualiza los documentos pendientes, por ejemplo: certificado de estudios secundarios y/o DNI.">
          <i class="fa fa-caret-right"></i> Documentos pendientes <div class="badge bg-danger">Pendiente</div>
        </span>
        <button class="btn bg-primary rounded-15 btn-sm" (click)="openModal('document-pending')"><i class="fa fa-plus"></i> Detalle</button>
      </li>
      <!--Posts-->
      <li class="list-group-item align-items-center justify-content-between bg-light-h" 
        *ngFor="let post of postsPending" [ngClass]="{'d-none': !post.pending ,'d-flex':post.pending }">
        <span data-placement="top" data-toggle="tooltip" [attr.data-original-title]="post.description">
          <i class="fa fa-caret-right"></i> {{post.title}} 
          <div class="badge bg-danger">Pendiente</div>
        </span>

        <div class="btn bg-primary rounded-15 btn-sm" *ngIf="post.id != null"
             target="_blank"
             (click)="postId=post.id; postACtion=post.action;"
             data-toggle="modal"
             data-target="#modal-worpress-info">
          <i class="fa fa-plus"></i> Detalle
        </div>
        <a class="btn bg-primary rounded-15 btn-sm" target="_blank" *ngIf="post.id == null"
          href="{{post.link}}"><i
            class="fa fa-plus"></i> Detalle</a>
      </li>
      <!--Fin Posts-->
      <!--  -->
      <li class="list-group-item d-flex align-items-center justify-content-between bg-light-h" *ngIf="retentionActive('09')">
        <span data-placement="top" data-toggle="tooltip"
          data-original-title="Asignaturas desaprobadas por segunda a más veces.">
          <i class="fa fa-caret-right"></i> Asignaturas desaprobadas por segunda a más veces <div class="badge bg-danger">Pendiente</div>
        </span>
        <button class="btn bg-primary rounded-15 btn-sm"
                target="_blank"
                (click)="pdfType='trica';"
                data-toggle="modal"
                data-target="#modal-pdf-viewer"
                angulartics2On="click" 
                angularticsAction="tramite-Trica" 
                [angularticsLabel]="student.id" 
                angularticsCategory="matricula123">
          <i class="fa fa-plus"></i> Detalle
        </button>
      </li>
    </ul>
  </li>
  <li class="list-group-item">
    <h4 class="mt-0 mb-0">
      Trámites
      <button class="btn btn-circle bg-primary" data-divtoggle="tramites" data-class="bg-primary"
              angulartics2On="click" 
              angularticsAction="ExpandirTramites" 
              [angularticsLabel]="student.id" 
              angularticsCategory="matricula123">
        <svg-icon iconName="plus" iconStyle="solid" iconClass="d-block"></svg-icon>
      </button>
    </h4>
    <ul class="list-group mt-2" data-divtoggleview="tramites" data-divtoggleviewshow="false">
      
      <li class="list-group-item d-flex align-items-center justify-content-between bg-light-h" *ngIf="status == null || status.active == false">
        <span data-placement="top" data-toggle="tooltip"
          data-original-title="Si dejaste tus estudios por uno o más periodos académicos, con el programa de reincorporación podrás facilitar tu retorno o reinserción  a la Universidad.">
          <i class="fa fa-caret-right"></i> Reincorporación <div class="badge bg-danger">Pendiente</div>
        </span>
        <button class="btn bg-primary rounded-15 btn-sm"
                target="_blank"
                (click)="pdfType='reincorporacion';"
                data-toggle="modal"
                data-target="#modal-pdf-viewer"
                angulartics2On="click" 
                angularticsAction="tramite-Reincorporacion" 
                [angularticsLabel]="student.id" 
                angularticsCategory="matricula123">
          <i class="fa fa-plus"></i> Detalle
        </button>
      </li>

      <li class="list-group-item d-flex align-items-center justify-content-between bg-light-h" 
        *ngFor="let post of postsProcedure">
        <span data-placement="top" data-toggle="tooltip" [attr.data-original-title]="post.description">
          <i class="fa fa-caret-right"></i> {{post.title}} 
          <div class="badge bg-danger" *ngIf="post.pending">Pendiente</div>
        </span>

        <div class="btn bg-primary rounded-15 btn-sm" *ngIf="post.id != null"
             target="_blank"
             (click)="postId=post.id"
             data-toggle="modal"
             data-target="#modal-worpress-info"
             angulartics2On="click" 
             [angularticsAction]="'tramite-'+post.title" 
             [angularticsLabel]="student.id" 
             angularticsCategory="matricula123">
          <i class="fa fa-plus"></i> Detalle
        </div>
        <a class="btn bg-primary rounded-15 btn-sm" target="_blank" *ngIf="post.id == null"
          href="{{post.link}}"><i
            class="fa fa-plus"></i> Detalle</a>
      </li>
      <!--Fin Posts-->

      <!--  -->
      <li class="list-group-item d-flex align-items-center justify-content-between bg-light-h" *ngIf="retentionActive('07')">
        <span data-placement="top" data-toggle="tooltip"
          data-original-title="A través de este trámite podrás solicitar el cambio del plan de estudios con el que iniciaste por uno vigente o actual, y así culminar tus estudios universitarios.">
          <i class="fa fa-caret-right"></i> Cambio de Plan de estudios 2015 al 2018 <div class="badge bg-danger">Pendiente</div>
        </span>
        <button class="btn bg-primary rounded-15 btn-sm"
                target="_blank"
                (click)="pdfType='cambioDePlan';"
                data-toggle="modal"
                data-target="#modal-pdf-viewer"
                angulartics2On="click" 
                angularticsAction="tramite-CambioDePlan2015-2018" 
                [angularticsLabel]="student.id" 
                angularticsCategory="matricula123"
        >
          <i class="fa fa-plus"></i> Detalle
        </button>
      </li>
      
    </ul>
  </li>
  <li class="list-group-item">
    <h4 class="mt-0 mb-0">
      ¡Importante!
      <button class="btn btn-circle bg-primary" data-divtoggle="terminos-condiciones" data-class="bg-primary"
              angulartics2On="click" 
              angularticsAction="ExpandirPendientes" 
              [angularticsLabel]="student.id" 
              angularticsCategory="matricula123">
        <svg-icon iconName="plus" iconStyle="solid" iconClass="d-block"></svg-icon>
      </button>
    </h4>
    <ul class="list-group mt-2" data-divtoggleview="terminos-condiciones" data-divtoggleviewshow="false">
      <li class="list-group-item d-flex align-items-center justify-content-between bg-light-h">
        <span data-placement="top" data-toggle="tooltip"
          data-original-title="Al realizar el proceso de matrícula, aceptas y te acoges al reglamento y a las políticas institucionales de la Universidad Continental.">
          <i class="fa fa-caret-right"></i> Reglamento académico
        </span>
        <button class="btn bg-primary rounded-15 btn-sm" (click)="openModal('academic-regulation')"
                angulartics2On="click" 
                angularticsAction="reglamento-academico" 
                [angularticsLabel]="student.id" 
                angularticsCategory="matricula123">
          <i class="fa fa-plus"></i> Detalle
        </button>
      </li>
      <li class="list-group-item d-flex align-items-center justify-content-between bg-light-h">
        <span data-placement="top" data-toggle="tooltip"
          data-original-title="Toda la información y comunicación que realice la Universidad, te llegará al correo electrónico institucional, medio de comunicación oficial">
          <i class="fa fa-caret-right"></i> Sobre el uso del correo electrónico institucional
        </span>
        <button class="btn bg-primary rounded-15 btn-sm"  (click)="openModal('institucional-email')"
                angulartics2On="click" 
                angularticsAction="reglamento-academico" 
                [angularticsLabel]="student.id" 
                angularticsCategory="matricula123">
          <i class="fa fa-eye"></i> ver
        </button>
      </li>
    </ul>
  </li>
</ul>

<div class="modal fade" id="modal-step-1" tabindex="-1" role="dialog" aria-labelledby="myModal">
  <div class="modal-dialog {{modal.size}}" role="document">
    <div class="modal-content">
      <div class="modal-header border-bottom">
        <button type="button" class="close fc-2" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title text-primary" id="myModalLabel">{{modal.title}}</h4>
      </div>
      <div class="modal-body clearfix">
        <div *ngIf="modal.component == 'economic-status'">
          <economic-status></economic-status>
        </div>
        <div *ngIf="modal.component == 'document-pending'">
          <div class="alert-student alert-student-orange">
            <h4 class="m-0"><i class="fa fa-info-circle"></i> Tiene los siguientes documentos pendientes de entrega.</h4>
          </div>
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let req of requeriments">{{req.name}}</li>
          </ul>
        </div>
        <div *ngIf="modal.component == 'academic-regulation'">
          <embed src="https://ucontinental.edu.pe/documentos/informacion_institucional/2019/reglamento-academico.pdf"
            type="application/pdf" width="100%" height="600px" />
        </div>
        <div *ngIf="modal.component == 'institucional-email'">
          <h4 class="text-bold">Según el reglamento académico de la Universidad Continental en el Título
          IV del Régimen disciplinario, Capítulo I de los Derechos y deberes de los
          estudiantes, en el Art. N°222 (Deberes), del Inciso “o” menciona lo
          siguiente:</h4>
          <div class="alert-student alert-student-primary m">
            <h4 class="m-0">
              “Mantener un canal de comunicación con la Universidad a través de la cuenta
              de correo electrónico otorgada para tales efectos, para ello <strong>debe revisarla permanentemente</strong>”.
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Wordpress -->
<enrollment-wordpress-post [id]="postId" [url]="postAction"></enrollment-wordpress-post>

<!-- Modal PDF -->
<enrollment-pdf-viewer [type]="pdfType"></enrollment-pdf-viewer>
