<h2 class="mt-0 pl text-primary">{{title}}</h2>

<loading size="small" *ngIf="!debts || !term"></loading>

<section class="p" *ngIf="debts && term">
  <div class="alert-student alert-student-warning" *ngIf="hasEstimatedDebt()">
    <h4 class="mt-0"><i class="icon fa fa-warning"></i> Aviso</h4>
    <ul class="list-unstyled">
      <li>Tus pagos aún no fueron generados; por ello, el monto que te mostramos a continuación solo es un estimado.</li>
      <li>Podras continuar con tu proceso de matrícula en cuando el pago sea realizado.</li>
    </ul>
  </div>
  <!--Si ya pago-->
  <div class="alert-student alert-student-success m" *ngIf="hasPayment()">
    <h4 class="m-0"><i class="fa fa-check-circle"></i> Felicidades no tienes deudas pendientes..</h4>
  </div>

  <!-- con cuenta corriente generada -->
  <div class="row" *ngIf="hasEstimatedDebt() || hasDebts() || hasPayment()">
    <div class="col-md-6">
      <loading size="small" *ngIf="!enrollmentDebt && !stimatedDebt && !payments"></loading>
      <div *ngIf="hasEstimatedDebt()">
        <p class="text-center p-0">Monto <b>estimado</b> a pagar por matrícula y primera cuota</p>
        <h2 class="text-center p-0 fc-4">S/ {{stimatedDebt | number:'3.2-2' }}</h2>
      </div>
      <div *ngIf="hasDebts()">
        <p class="text-center p-0">Monto a pagar por la matrícula y primera cuota</p>
        <h2 class="text-center p-0 fc-4">S/ {{enrollmentDebt.total | number:'3.2-2' }}</h2>
      </div>
      <div *ngIf="hasPayment()">
        <p class="text-center p-0">Monto pagado por la matrícula y primera cuota</p>
        <h2 class="text-center p-0 fc-4">S/ {{payments.total | number:'3.2-2' }}</h2>
      </div>
    </div>
    <div class="col-md-6">
      <div class="col-sm-6 text-center">
        <div class="card p">
          <h3 class="m-0" *ngIf="term">
            <loading size="tiny" *ngIf="!hasEstimatedDebt() && !hasDebts() && !hasPayment()"></loading>
            <strong *ngIf="hasEstimatedDebt()">{{payment.term}}</strong>
            <strong *ngIf="hasDebts()">{{enrollmentDebt.term.replace('-','').concat('0')}}</strong>
            <strong *ngIf="hasPayment()">{{payments.term.replace('-','').concat('0')}}</strong>
            <br> <small>Período académico</small>
            </h3>
        </div>
      </div>
      <div class="col-sm-6 text-center">
        <div class="card p">
          <h3 class="m-0">
            <loading size="tiny" *ngIf="!payment"></loading>
            <strong *ngIf="payment">{{payment.scala}}</strong>
            <br><small>Escala</small>
          </h3>
        </div>
        <div class="col-lg-12 text-center" *ngIf="!hasPayment()">
          <button class="btn bg-primary" data-toggle="modal" data-target="#modal-payment-details" angulartics2On="click"
            angularticsAction="detallePago" [angularticsLabel]="student.id" angularticsCategory="matricula123">
            <i class="fa fa-plus"></i>
            Detalle
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="!hasEstimatedDebt() && !hasDebts() && !hasPayment()">
    <div class="alert-student alert-student-warning m">
      <h4 class="m-0"><i class="fa fa-info-circle"></i>
        Todavía no tienes escala asignada, por favor, acércate a la oficina de Bienestar Universitario. <br>
        Más información:<br>
        bienestaruniversitario@continental.edu.pe<br>
        (064) 481430 anexo 7425<br>
      </h4>
    </div>
  </div>

  <div class="mt" *ngIf="hasDebts()">
    <div class="alert-student alert-student-primary">
      <h4 class="m-0"><i class="fa fa-info-circle"></i> Aquí encontrarás los lugares y formas de pago.</h4>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6" data-toggle="modal" data-target="#modal-bank-details">
        <div class="card card-clickable card-submodule" data-placement="top"
          data-original-title="Realiza tus pagos desde sus apps de manera inmediata." data-toggle="tooltip" angulartics2On="click" angularticsAction="IrContipay" [angularticsLabel]="student.id"
          angularticsCategory="matricula123">
          <div class="card-image bg-violet d-flex flex-column justify-content-center align-items-center">
            <i class="m-0">
              <svg-img width="56px" imageClass="text-white" imageName="bank"></svg-img>
            </i>
          </div>
          <div class="card-content">
            <h3 class="card-title m-0">Paga en bancos</h3>
            <p class="mb-2 text-truncate-nsm">Realiza tus pagos desde sus apps de manera inmediata.</p>
            <p class="info">Ver información de bancos
              <i class="fa fa-arrow-circle-right text-blue"></i>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="card card-clickable card-submodule" (click)="goContiPay()" data-toggle="tooltip" data-placement="top"
          data-original-title="Si cuentas con esta tarjeta, ingresa aquí para pagar." angulartics2On="click"
          angularticsAction="VerPagoEnBancos" [angularticsLabel]="student.id" angularticsCategory="matricula123">
          <div class="card-image bg-violet d-flex flex-column justify-content-center align-items-center">
            <i class="m-0">
              <svg-img width="56px" imageClass="text-white" imageName="credit-cards"></svg-img>
            </i>
          </div>
          <div class="card-content">
            <h3 class="card-title m-0">Paga con Tarjeta/Visa</h3>
            <p class="mb-2 text-truncate-nsm">Si cuentas con esta tarjeta, ingresa aquí para pagar.</p>
            <p class="info">Ir a pagos en linea
              <i class="fa fa-arrow-circle-right text-blue"></i>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6" data-toggle="modal" data-target="#modal-cash-register-details">
        <div class="card card-clickable card-submodule" data-toggle="tooltip" data-placement="top"
          data-original-title="Acércate a nuestros módulos de atención (solo acepta tarjetas)." angulartics2On="click" angularticsAction="VerPagoEnCaja" [angularticsLabel]="student.id"
          angularticsCategory="matricula123">
          <div class="card-image bg-violet d-flex flex-column justify-content-center align-items-center">
            <i class="m-0">
              <svg-img width="56px" imageClass="text-white" imageName="credit-card"></svg-img>
            </i>
          </div>
          <div class="card-content">
            <h3 class="card-title m-0">Paga en caja</h3>
            <p class="mb-2 text-truncate-nsm">Acércate a nuestros módulos de atención (solo acepta tarjetas).</p>
            <p class="info">Solo con tarjeta
              <i class="fa fa-arrow-circle-right text-blue"></i>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- modal para detalles de la deuda -->
<div class="modal fade" id="modal-payment-details" tabindex="-1" role="dialog" aria-labelledby="myModal">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header border-bottom">
        <button type="button" class="close fc-2" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title text-primary" id="myModalLabel">Detalles del pago de matrícula y primera cuota</h4>
      </div>
      <div class="modal-body">
        <!-- detalle de la deuda estimada -->
        <div *ngIf="!stimatedDebt && !enrollmentDebt">
          cargando...
        </div>
        <div *ngIf="stimatedDebt && !enrollmentDebt">
          <div class="row text-center">
            <h4 class="box-title mt-0">Estimación de pago</h4>
            <div class="col-sm-6">
              <div class="card p">
                <h4 class="m-0" *ngIf="term">
                  <strong>{{term}}</strong> <br><small>Período</small>
                </h4>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card p">
                <h4 class="m-0" *ngIf="term">
                  <strong>{{stimatedDebt | number:'3.2-2'}}</strong> <br><small>Monto a pagar</small>
                </h4>
              </div>
            </div>
          </div>
          <div class="table-responsive table-material mb">
            <table class="table table-striped table-hover">
              <thead class="bg-info text-white">
                <tr>
                  <th>Matrícula</th>
                  <th>Primera cuota</th>
                  <th>Carné</th>
                  <th>Seguro</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{payment.enrollment_cost | number:'3.2-2' }}</td>
                  <td>{{(payment.credit_cost *creditsNumberByPlan) | number:'3.2-2' }}</td>
                  <td>{{payment.student_card_cost | number:'2.2-2' }}</td>
                  <td>{{payment.health_insurance_cost | number:'2.2-2' }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- detalles de la deuda real -->
        <div *ngIf="enrollmentDebt">
          <div class="row text-center">
            <div class="col-md-3">
              <h4 class="box-title">Concepto : {{enrollmentDebt.concept_id}}</h4>
            </div>
            <div class="col-md-3">
              <h4 class="box-title">Período : {{enrollmentDebt.term}}</h4>
            </div>
            <div class="col-md-3" *ngIf="!enrollmentDebt.mat">
              <h4 class="box-title">Fecha límite
                <span class="pull-left-container"
                  *ngIf="enrollmentDebt.extension_date && enrollmentDebt.extension_date > enrollmentDebt.paymen_date">
                  {{enrollmentDebt.extension_date | date:'dd/MM/yyyy'}}
                </span>
                <span class="pull-left-container"
                  *ngIf="!enrollmentDebt.extension_date || enrollmentDebt.extension_date <= enrollmentDebt.paymen_date">
                  {{enrollmentDebt.paymen_date | date:'dd/MM/yyyy'}}
                </span>
              </h4>
            </div>
            <div class="col-md-3">
              <h4 class="box-title">Monto a pagar: {{enrollmentDebt.total | number:'2.2-2'}}</h4>
            </div>
          </div>
          <div class="table-responsive table-material mb">
            <table class="table table-striped table-hover">
              <thead class="bg-info text-white">
                <tr>
                  <th>Concepto</th>
                  <th>Descripción</th>
                  <th *ngIf="!enrollmentDebt.mat">Fecha límite</th>
                  <th>Descuento / Mora</th>
                  <th>Abono</th>
                  <th>Deuda</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let debt of enrollmentDebt.details_grouped_gebts">
                  <td>{{debt.concept_id}}</td>
                  <td>{{debt.description}}</td>
                  <td *ngIf="!enrollmentDebt.mat">
                    <span class="pull-left-container"
                      *ngIf="debt.extension_date && debt.extension_date > debt.paymen_date">
                      {{enrollmentDebt.extension_date | date:'dd/MM/yyyy'}}
                    </span>
                    <span class="pull-left-container"
                      *ngIf="!debt.extension_date || debt.extension_date <= debt.paymen_date">
                      {{enrollmentDebt.paymen_date | date:'dd/MM/yyyy'}}
                    </span>
                  </td>
                  <td>{{debt.interest + debt.discount}}</td>
                  <td>{{debt.deposit}}</td>
                  <td>{{debt.total}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- modal para la informacion de bancos -->
<div class="modal fade" id="modal-bank-details" tabindex="-1" role="dialog" aria-labelledby="myModal">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header border-bottom">
        <button type="button" class="close fc-2" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title text-primary" id="myModalLabel">Información de bancos</h4>
      </div>
      <div class="modal-body ph clearfix">
        <banks-info></banks-info>
      </div>
    </div>
  </div>
</div>

<!-- modal para la informacion de caja -->
<div class="modal fade" id="modal-cash-register-details" tabindex="-1" role="dialog" aria-labelledby="myModal">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header border-bottom">
        <button type="button" class="close fc-2" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title text-primary" id="myModalLabel">Informacion de pago en caja</h4>
      </div>
      <div class="modal-body p-0 clearfix">
        <div class="alert-student alert-student-primary m">
          <h4 class="m-0"><i class="fa fa-info-circle"></i> Los pagos se realizan con tarjeta de crédito o débito Visa,
            Mastercard, American Express y Diners Club. No se acepta efectivo. Atención en nuestros campus:</h4>
        </div>

        <div class="col-md-12 p-0">
          <div class="col-md-3 col-sm-6">
            <div class="card card-primary text-center">
              <div class="header bg-primary">
                <h4 class="title">Huancayo</h4>
              </div>
              <div class="body pb-0">
                <div class="card p">
                  <h4 class="mt-0">Lunes a viernes</h4>
                  <p class="mb-0">8:00 a. m. a 8:00 p. m.</p>
                </div>
                <div class="card p">
                  <h4 class="mt-0">Sábados</h4>
                  <p class="mb-0">9:00 a. m. a 7:00 p. m.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="card card-primary text-center">
              <div class="header bg-primary">
                <h4 class="title">Arequipa</h4>
              </div>
              <div class="body pb-0">
                <div class="card p">
                  <h4 class="mt-0">Lunes a viernes</h4>
                  <p>8:30 a. m. a 1:00 p. m.</p>
                  <p class="mb-0">2:00 p. m. a 6:30 p. m.</p>
                </div>
                <div class="card p">
                  <h4 class="mt-0">Sábados</h4>
                  <p class="mb-0">9:00 a. m. a 12:00 p. m.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="card card-primary text-center">
              <div class="header bg-primary">
                <h4 class="title">Cusco</h4>
              </div>
              <div class="body pb-0">
                <div class="card p">
                  <h4 class="mt-0">Lunes a viernes</h4>
                  <p>8:30 a. m. a 1:00 p. m.</p>
                  <p class="mb-0">2:00 p. m. a 6:30 p. m.</p>
                </div>
                <div class="card p">
                  <h4 class="mt-0">Sábados</h4>
                  <p class="mb-0">9:00 a. m. a 12:00 p. m.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="card card-primary text-center">
              <div class="header bg-primary">
                <h4 class="title">Lima - Miraflores</h4>
              </div>
              <div class="body pb-0">
                <div class="card p">
                  <h4 class="mt-0">Lunes a viernes</h4>
                  <p class="mb-0">10:00 a. m. a 8:00 p. m.</p>
                </div>
                <div class="card p">
                  <h4 class="mt-0">Sábados</h4>
                  <p class="mb-0">8:30 a. m. a 1:00 p. m.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="card card-primary text-center">
            <div class="header bg-primary">
              <h4 class="title">Lima - Los Olivos</h4>
            </div>
            <div class="body pb-0">
              <div class="card p">
                <h4 class="mt-0">Lunes, miércoles y viernes</h4>
                <p class="mb-0">9:00 a. m. a 7:00 p. m.</p>
              </div>
              <div class="card p">
                <h4 class="mt-0">Martes y jueves</h4>
                <p class="mb-0">10:00 a. m. a 8:00 p. m.</p>
              </div>
              <div class="card p">
                <h4 class="mt-0">Sábados</h4>
                <p class="mb-0">10:00 a. m. a 8:00 p. m.</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
