<div class="modal fade" id="modal-worpress-info" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header border-bottom">
        <button type="button" class="close fc-2" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title text-primary" id="myModalLabel" *ngIf="id && post">{{post.title.rendered}}</h4>
      </div>
      <div class="modal-body clearfix">
        <div class="wordpress-container" *ngIf="id && post">
          <div style="max-height: 60vh; overflow-y: scroll;">
            <div [innerHTML]="post.content.rendered"></div>
          </div>
        </div>
        <div *ngIf="!id || !post" class="text-center">
          <loading size="tiny"></loading>
        </div>
      </div>
      <div class="modal-footer">
        <submodule-menu moduleUri="matricula" area='autoservicio-banner'></submodule-menu>
      </div>
    </div>
  </div>
</div>
