<div class="row">
  <div class="col-md-12" *ngIf="loading">
    <loading [text]="'Cargando términos y condiciones . . .'"></loading>
  </div>
  <div class="col-xs-12" *ngIf="registerMode || updateMode">
    <div class="box box-info" *ngIf="settingsDetail !== undefined && settingsDetail !== null">
      <div class="box-header with-border">
        <h3 class="box-title" *ngIf="registerMode">Registro de nuevo términos y condiciones</h3>
        <h3 class="box-title" *ngIf="updateMode">Actualización de términos y condiciones</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <form class="form-horizontal" #termsAndConditionsForm="ngForm">
          <div class="form-group">
            <label for="term" class="col-sm-2 control-label">Nombre</label>
            <div class="col-sm-10 col-md-7">
              <input type="text" class="form-control" id="term" name="term" required="required"
                     placeholder="Nombre términos y condiciones" [(ngModel)]="settingsDetail.name">
            </div>
          </div>
          <div class="form-group">
            <label for="description" class="col-sm-2 control-label">Descripción</label>
            <div class="col-sm-10 col-md-7">
              <input type="text" class="form-control" id="description" name="description" required="required"
                     placeholder="Descripción" [(ngModel)]="settingsDetail.description">
            </div>
          </div>
          <div class="form-group">
            <label for="value" class="col-sm-2 control-label">Términos y condiciones</label>
            <div class="col-sm-10 col-md-7">
              <select class="form-control" [(ngModel)]="settingsDetail.numberValue" name="value" id="value">
                <option *ngFor="let type of termsAndConditionsList" value="{{ type.id }}">
                  {{ type.name | uppercase }}
                </option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-info" [disabled]="!termsAndConditionsForm.valid"
                      (click)="save(settingsDetail)" *ngIf="registerMode">
                <i class="fa fa-save"></i> Guardar
              </button>
              <button type="submit" class="btn btn-info" [disabled]="!termsAndConditionsForm.valid"
                      (click)="update(settingsDetail)" *ngIf="updateMode">
                <i class="fa fa-save"></i> Actualizar
              </button>
              <button type="submit" class="btn btn-default" (click)="cancel()">
                <i class="fa fa-trash"></i> Cancelar
              </button>
            </div>
          </div>
        </form>
      </div>
      <!-- /.box-body -->
      <div class="overlay" *ngIf="processing">
        <i class="fa fa-refresh fa-spin"></i>
      </div>
      <!-- end loading -->
    </div>
    <!-- /.box -->
  </div>
  <div class="col-xs-12" *ngIf="!loading && !registerMode && !updateMode && !processing">
    <div class="box box-warning">
      <div class="box-header">
        <h3 class="box-title">Términos y condiciones de inscripción</h3>

        <div class="box-tools pull-right">
          <div class="has-feedback" [hidden]="true">
            <input type="text" class="form-control input-sm" placeholder="Buscar" [(ngModel)]="filter">
            <span class="fa fa-search form-control-feedback"></span>
          </div>
          <div class="has-feedback">
            <button type="button" class="btn btn-default btn-sm" (click)="registryTerms()"
                    *ngIf="!registerMode && termsAndConditions === undefined || termsAndConditions === null">
              <i class="fa fa-plus"></i> registrar
            </button>
            <button type="button" class="btn btn-default btn-sm" (click)="updateTerms()"
                    *ngIf="termsAndConditions !== undefined && termsAndConditions !== null">
              <i class="fa fa-plus"></i> actualizar
            </button>
            <button type="button" class="btn btn-default btn-sm" (click)="cancel()" *ngIf="registerMode || updateMode">
              <i class="fa fa-times"></i> cancelar
            </button>
          </div>
        </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
          <thead>
          <tr>
            <th></th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>URL</th>
            <th></th>
            <th>Fecha publicación</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngIf="termsAndConditions === undefined || termsAndConditions === null">
            <td colspan="7" class="text-orange text-center">
              No se encontraron términos y condiciones registrados
            </td>
          </tr>
          <tr *ngIf="termsAndConditions !== undefined && termsAndConditions !== null">
            <td></td>
            <td>{{ termsAndConditions.name }}</td>
            <td>
              {{ termsAndConditions.type == 1 ? "app" : termsAndConditions.type == 2 ? "módulo" : "" }}
            </td>
            <td>{{ termsAndConditions.url }}</td>
            <td>
              <span class="label label-success" *ngIf="termsAndConditions.active">activo</span>
              <span class="label label-warning" *ngIf="!termsAndConditions.active">inactivo</span>
            </td>
            <td>{{ termsAndConditions.publicationDate | date:'mediumDate' }}</td>
            <td></td>
          </tr>
          </tbody>
        </table>
      </div>
      <!-- /.box-body -->
      <div class="overlay" *ngIf="processing">
        <i class="fa fa-refresh fa-spin"></i>
      </div>
      <!-- end loading -->
    </div>
    <!-- /.box -->
  </div>
</div>
