<div class="row">
  <div class="col-md-12" *ngIf="loading && !processing">
    <loading [text]="'Cargando tipo de ajustes . . .'"></loading>
  </div>
  <div class="col-xs-12" *ngIf="registryItem || updateItem">
    <div class="box box-info" *ngIf="settingsType !== undefined && settingsType !== null">
      <div class="box-header with-border">
        <h3 class="box-title" *ngIf="!settingsType.edit">Registro de nuevo tipo de ajuste</h3>
        <h3 class="box-title" *ngIf="settingsType.edit">Actualización de tipo de ajuste</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <form class="form-horizontal" #settingsTypeForm="ngForm">
          <div class="form-group">
            <label for="term" class="col-sm-2 control-label">Nombre</label>
            <div class="col-sm-10 col-md-7">
              <input type="text" class="form-control" id="term" name="term" required="required"
                     placeholder="Nombre tipo ajuste" [(ngModel)]="settingsType.name" #periodo="ngModel">
            </div>
          </div>
          <div class="form-group">
            <label for="description" class="col-sm-2 control-label">Descripción</label>
            <div class="col-sm-10 col-md-7">
              <textarea name="description" id="description" rows="3" required="required" class="form-control"
                        minlength="6" maxlength="900" placeholder="Descripción"
                        [(ngModel)]="settingsType.description" #descripcion="ngModel"></textarea>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-info" [disabled]="!settingsTypeForm.valid"
                      (click)="save(settingsType)" *ngIf="!settingsType.edit">
                <i class="fa fa-save"></i> Guardar
              </button>
              <button type="submit" class="btn btn-info" [disabled]="!settingsTypeForm.valid"
                      (click)="update(settingsType)" *ngIf="settingsType.edit">
                <i class="fa fa-save"></i> Actualizar
              </button>
              <button type="submit" class="btn btn-default" (click)="cancel(settingsType)">
                <i class="fa fa-trash"></i> Cancelar
              </button>
            </div>
          </div>
        </form>
      </div>
      <!-- /.box-body -->
      <div class="overlay" *ngIf="processing">
        <i class="fa fa-refresh fa-spin"></i>
      </div>
      <!-- end loading -->
    </div>
    <!-- /.box -->
  </div>
  <div class="col-xs-12" *ngIf="settingsTypeList.length">
    <div class="box box-warning">
      <div class="box-header">
        <h3 class="box-title">Lista de tipos de ajustes</h3>

        <div class="box-tools pull-right">
          <div class="has-feedback" [hidden]="true">
            <input type="text" class="form-control input-sm" placeholder="Buscar" [(ngModel)]="filter">
            <span class="fa fa-search form-control-feedback"></span>
          </div>
          <div class="has-feedback">
            <button type="button" class="btn btn-default btn-sm" (click)="registrySettingsType()" *ngIf="!registryItem">
              <i class="fa fa-plus"></i> nuevo
            </button>
            <button type="button" class="btn btn-default btn-sm" (click)="close()" *ngIf="registryItem">
              <i class="fa fa-times"></i> cancelar
            </button>
          </div>
        </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
          <thead>
          <tr>
            <th></th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let settingsType of settingsTypeList"
              [ngClass]="{'info': settingsType.current, 'warning': settingsType.edit}">
            <td class="text-center"><i class="fa fa-clock-o" *ngIf="settingsType.current"></i></td>
            <td>{{ settingsType.name }}</td>
            <td>{{ settingsType.description }}</td>
            <td>
              <button type="button" class="btn btn-primary btn-xs" (click)="updateSettingsType(settingsType)">
                <i class="fa fa-pencil"></i>
              </button>
              <button type="button" class="btn btn-danger btn-xs" *ngIf="settingsType.edit"
                      (click)="delete(settingsType)">
                <i class="fa fa-trash"></i>
              </button>
              <button type="button" class="btn btn-warning btn-xs" *ngIf="settingsType.edit"
                      (click)="cancel(settingsType)">
                <i class="fa fa-times"></i>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <!-- /.box-body -->
      <div class="overlay" *ngIf="processing">
        <i class="fa fa-refresh fa-spin"></i>
      </div>
      <!-- end loading -->
    </div>
    <!-- /.box -->
  </div>
</div>
