<section class="header-backoffice position-relative">
  <header>
    <h1>Centro de Atención</h1>
  </header>
  <p>Módulo administrativo del Centro de Atención y Soluciones de la Universidad Continental</p>
  <div class="col-md-5 filter-modules">
    <div class="input-group">
      <span class="input-group-addon rounded-left bg-primary" id="basic-addon1">Filtro de módulos</span>
      <input type="text" class="form-control rounded-right" placeholder="Módulo a buscar..."
        aria-describedby="basic-addon1" [(ngModel)]="filterInput">
    </div>
  </div>
</section>
<div class="pt">
  <div class="row">

    <!-- Start module -->
    <div class="col-lg-4 col-md-6" *ngFor="let menu of menus | loopFilter: filterInput">
      <!-- segunda versión -->
      <a class="card card-clickable card-module card-admin small-box bg-aqua" [routerLink]="menu.uri">
        <div class="inner">
          <h3>{{menu.name}}</h3>
        </div>
        <div class="icon">
          <i [class]="menu.icon"></i>
        </div>
        <div class="card-module-footer text-white border-white font-inherit">
          <p class="m-0">
            <i class="fa fa-arrow-circle-right fa-lg"></i> {{menu.description || 'Módulo administrativo'}}
          </p>
        </div>
      </a>

    </div>
    <!-- End module -->

  </div>
</div>
