<ul class="sidebar-menu">
  <li class="header context-menu">Menú principal</li>
  <li class="active"><a [routerLink]="['backoffice']"><i class="fa fa-home"></i> <span>Inicio</span></a></li>
  <li class="treeview" *ngFor="let menu of menus">
    <a class="hand">
      <i class="{{menu.icon}}"></i>
      <span>{{menu.name}}</span>
      <span class="pull-right-container">
        <i class="fa fa-angle-left pull-right"></i>
      </span>
    </a>
    <ul class="treeview-menu">
      <li *ngFor="let smenu of menu.smenus">
        <a [routerLink]="['backoffice/'+menu.uri+'/'+smenu.uri]">
          <i class="{{smenu.icon}}"></i> {{smenu.name}}
        </a>
      </li>
    </ul>
  </li>
</ul>
