// styles for colors text
@each $nameColor, $color in $theme-colors
  .text-#{$nameColor}
    color: $color !important
  .text-#{$nameColor}-disabled
    color: lighten( $color, 25% ) !important
  .text-#{$nameColor}-active
    color: darken( $color, 10% ) !important
  .text-#{$nameColor}-dark
    color: darken( $color, 15% ) !important

.text-white
  color: $white !important
