<loading *ngIf="loading"></loading>

<section *ngIf="!loading" class="card card-primary">
  <header class="header">
    <h3 *ngIf="offeredCourse" class="title"><i class="fa fa-calendar"></i> Horario</h3>
    <div *ngIf="!offeredCourse">
      <h3 class="title"><i class="fa fa-calendar"></i> Horario para el período
        <span class="text-primary text-bold">{{scheduleTerm.term}}</span>
        <span class="text-primary text-bold" *ngIf="validateScheduleActiveContent()"> - {{scheduleTerm.block}}</span>
      </h3>
    </div>
  </header>
  <div class="body p-0 pb">
    <div *ngIf="errorSchedule && !schedulecontent" class="callout callout-warning mb-0 mt mr ml">
      <h4>Mensaje</h4>
      <p>{{errorMessage}}</p>
    </div>

    <ul class="scrollViewX text-center hidden-print" *ngIf="scheduleTerm.lstTerm.length > 0">
      <li class="scrollViewItem" *ngFor="let term of scheduleTerm.lstTerm">
        <button class="btn btn-outline-primary btn-lg" [ngClass]="{'bg-primary':scheduleTerm.term==term}"
          (click)="getSchedule(term)">{{term}}</button>
      </li>
    </ul>

    <div *ngIf="!errorSchedule && schedulecontent">
      <div class="col-md-12 text-right">
        <button class="btn bg-primary hidden-print mt text-white" onclick="window.print()"><i class="fa fa-print"></i>
          Imprimir</button>
        <br>
      </div>
      <!-- START Schedule -->
      <div class="col-md-12">
        <ul class="nav nav-tabs nav-justified hidden-print mt" *ngIf="!offeredCourse">
          <li [ngClass]="{'active': scheduleTerm.block === 'Bloque A'}">
            <a class="bg-primary-outline" href="#tabBA" data-toggle="tab" aria-expanded="true" (click)="changeModuleView('MOD-1')">Bloque A</a>
          </li>
          <li [ngClass]="{'active': scheduleTerm.block === 'Bloque B'}">
            <a class="bg-primary-outline" href="#tabBB" data-toggle="tab" aria-expanded="false" (click)="changeModuleView('MOD-2')">Bloque B</a>
          </li>
        </ul>
        <div class="content-schedule">
          <div class="timeline-schedule">
            <ul class="hours">
              <li *ngFor="let hour of arrayHours">
                <span>{{hour}}</span>
              </li>
            </ul>
          </div>
          <div class="week">
            <ul class="weekdays">
              <li class="weekday" [ngClass]="{'hidden-day': item.courses.length === 0}" *ngFor="let item of scheduleTerm.schedule">
                <div class="name-day bg-green">
                  <span>{{item.day}}</span>
                </div>
                <ul class="courses" *ngIf="item.courses.length > 0" [ngStyle]="{'height': heightDay}">
                  <li class="course"
                    [ngClass]="{'bg-green':course.parent, 'bg-orange': !course.parent, 'pos-sta':offeredCourse}"
                    *ngFor="let course of item.courses" [ngStyle]="{'height': course.height, 'top': course.top}">
                    <p [attr.data-toggle]="'tooltip'" [attr.data-placement]="'right'"
                      [attr.data-original-title]="course.name+' - '+course.classroom+' - '+course.teacher">
                      <span class="text-bold">{{course.name}}</span><br>
                      <span class="text-bold">NRC: {{course.nrc}}</span>
                      <span class="course-times">{{ course.start | timeTo12 }} - {{ course.end | timeTo12 }}</span>
                      <span class="course-times">Aula - {{course.classroom}}</span>
                      <em class="course-name" *ngIf="'courseNumber' === 'one'">
                        <b>{{ course.name | upperCase }}</b>
                      </em>
                      <em class="course-name text-capitalize">{{ course.teacher | titleCase }}</em>
                    </p>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <div *ngIf="!validateScheduleActiveContent(scheduleTerm.schedule)">
            <h3 class="text-secondary text-center">No tiene horario para el <strong>{{scheduleTerm.block}}</strong>, o estos son virtuales.</h3>
          </div>
        </div>
      </div>
      <!-- END Schedule -->
    </div>
  </div>
</section>

<div *ngIf="!loading && resumeAsignature.length>0" class="col-md-12 visible-print-block">
  <div class="table-responsive table-material">
    <table class="table table-striped table-hover" border="1">
      <thead class="bg-info text-white">
        <tr>
          <th class="pt-0 pb-0">Asignatura</th>
          <th class="pt-0 pb-0 text-center">NRC</th>
          <th class="pt-0 pb-0">Docente</th>
          <th class="pt-0 pb-0 text-center">Aula</th>
        </tr>
      </thead>
      <tbody class="form-extra-small">
        <tr *ngFor="let resume of resumeAsignature">
          <td class="pt-0 pb-0">{{resume.name}}</td>
          <td class="pt-0 pb-0 text-center">{{resume.nrc}}</td>
          <td class="pt-0 pb-0">{{resume.teacher}}</td>
          <td class="pt-0 pb-0 text-center">{{resume.classroom}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
