<loading *ngIf="loading"></loading>

<div *ngIf="!loading && displayOptions.list" class="card card-primary">
  <div class="header">
    <h2 class="title">Lista de Servicios 
      <button (click)="updateDisplayOption('create')" class="btn btn-sm bg-primary text-white">Nuevo</button>
    </h2>
  </div>
  <div *ngIf="displayList.length > 0" class="body">
    <div  class="mb">
      <div class="col-md-6 col-sm-4"></div>
      <div class="input-group col-md-6 col-sm-8">
        <input type="text" class="form-control rounded-left border-secondary" name="filter" [(ngModel)]="filter" placeholder="Filtro por descripción" aria-describedby="filterDisplay">
        <span class="input-group-addon rounded-right border-secondary" id="filterDisplay"><i class="fa fa-search"></i></span>
      </div>
    </div>

    <div class="p clearfix bg-info visible-lg rounded-top">
      <div class="col-lg-3"><h4 class="m-0">Nombre del servicio</h4></div>
      <div class="col-lg-4"><h5 class="m-0">Descripción</h5></div>
      <div class="col-lg-2"><p class="m-0">Inicio</p></div>
      <div class="col-lg-2"><p class="m-0">Fin</p></div>
      <div class="col-lg-1"><p class="m-0">Activo</p></div>
    </div>
    
    <div *ngFor="let display of displayList | loopFilter: filter; let i = index" class="card card-clickable card-table card-restore-md" (click)="changeToEdit(display, i)">
      <div class="col-lg-3">
        <h4 class="m-0"><span class="hidden-lg text-bold text-secondary">Nombre del servicio: </span>{{display.name}}</h4>
      </div>
      <div class="col-lg-4">
        <h5 class="m-0"><span class="hidden-lg text-bold text-secondary">Descripción: </span>{{display.description}}</h5>
      </div>
      <div class="col-lg-2 col-md-6">
        <p class="m-0"><span class="hidden-lg text-bold text-secondary">Inicio: </span>{{display.startFech | date: 'dd/MM/y h:mm a'}}</p>
      </div>
      <div class="col-lg-2 col-md-6">
        <p class="m-0"><span class="hidden-lg text-bold text-secondary">Fin: </span>{{display.endFech | date: 'dd/MM/y h:mm a'}}</p>
      </div>
      <div class="col-lg-1 text-bold" 
        [ngClass]="{'text-primary':display.active, 'text-secondary':!display.active}">
        <p class="m-0"><span class="hidden-lg text-secondary">Activo: </span>{{(display.active)? 'Si':'No'}}</p>
      </div>
    </div>
  </div>
  <div *ngIf="displayList.length == 0" class="body">
    <div class="callout callout-warning m-0">
      <h4>{{errorMessage}}</h4>
      <p>Por el momento no tenemos registros disponibles.</p>
    </div>
  </div>
</div>

<div *ngIf="displayOptions.create" class="card card-primary">
  <div class="header">
    <h2 class="title">Nuevo</h2>
  </div>
  <div class="body">
    <form (ngSubmit)="create()" #createForm="ngForm">
      <div class="form-group col-md-6">
        <label for="name">Nombre del componente</label>
        <input type="text" class="form-control" name="name" #name required [(ngModel)]="newDisplay.name">
      </div>
      <div class="form-group col-md-6">
        <label for="description">Descripción</label>
        <input type="text" class="form-control" name="description" #description required [(ngModel)]="newDisplay.description">
      </div>
      <div class="form-group col-md-6">
        <label for="startFech">Fecha inicio</label>
        <p-calendar
          name="startFech" 
          #startFech
          [locale]="es"
          showTime="true" 
          hourFormat="12" 
          [showIcon]="true" 
          required
          [(ngModel)]="newDisplay.startFech"></p-calendar>
      </div>
      <div class="form-group col-md-6">
        <label for="endFech">Fecha fin</label>
        <p-calendar 
          name="endFech" 
          #endFech 
          [locale]="es"
          showTime="true" 
          hourFormat="12" 
          [showIcon]="true" 
          required
          [(ngModel)]="newDisplay.endFech"></p-calendar>
      </div>
      <div class="form-group p pt-0">
        <label class="switch">
          <input type="checkbox" name="active" [(ngModel)]="newDisplay.active">
          <span class="slider"></span>
        </label>
        <label for="active">{{newDisplay.active? 'Activo':'Desactivo'}}</label>
      </div>
    
      <div class="text-right">
        <button class="btn btn-danger" (click)="updateDisplayOption('list')">Cancelar</button>
        <button type="submit" class="btn bg-primary text-white" [disabled]="!createForm.form.valid">Guardar</button>
      </div>
    </form>
  </div>
</div>

<div *ngIf="displayOptions.edit" class="card card-primary">
  <div class="header">
    <h2 class="title">Edición</h2>
  </div>
  <div class="body">
    <form (ngSubmit)="update()" #updateForm="ngForm">
      <div class="form-group col-md-6">
        <label for="name">Nombre del servicio</label>
        <input type="text" class="form-control" name="name" #name required [(ngModel)]="editDisplay.name" (ngModelChange)="verifyChangue('name')">
      </div>
      <div class="form-group col-md-6">
        <label for="description">Descripción</label>
        <input type="text" class="form-control" name="description" #description required [(ngModel)]="editDisplay.description" (ngModelChange)="verifyChangue('description')">
      </div>
      <div class="form-group col-md-6">
        <label for="startFech">Fecha inicio</label>
        <p-calendar 
          name="startFech" 
          #startFech 
          [locale]="es" 
          showTime="true" 
          [showIcon]="true" 
          required 
          [(ngModel)]="editDisplay.startFech" 
          (ngModelChange)="verifyChangue('startFech')"></p-calendar>
      </div>
      <div class="form-group col-md-6">
        <label for="endFech">Fecha fin</label>
        <p-calendar 
          name="endFech" 
          #endFech 
          [locale]="es" 
          showTime="true" 
          [showIcon]="true" 
          required 
          [(ngModel)]="editDisplay.endFech" 
          (ngModelChange)="verifyChangue('endFech')"></p-calendar>
      </div>
      <div class="form-group p pt-0">
        <label class="switch">
          <input type="checkbox" name="active" [(ngModel)]="editDisplay.active" 
          (ngModelChange)="verifyChangue('active')">
          <span class="slider"></span>
        </label>
        <label for="active">{{editDisplay.active? 'Activo':'Desactivo'}}</label>
      </div>

      <div class="text-right">
        <button class="btn btn-danger" (click)="updateDisplayOption('list')">Cancelar</button>
        <button type="submit" class="btn bg-primary text-white" [disabled]="!updateForm.form.valid || !change">Actualizar</button>
      </div>
    </form>
  </div>
</div>

<div *ngIf="primeMsg">
  <p-growl [(value)]="primeMsg" [baseZIndex]="500"></p-growl>
</div>
