<div class="box">
  <section class="box-body">
    <div class="row">
      <div class="col-sm-3">
        <ul class="nav nav-pills nav-stacked">
          <li [ngClass]="{'active': (default_mode === 'beca18')}"> <a> <i class="fa fa-child"></i>Beca 18</a> </li>
          <li [ngClass]="{'active': (default_mode === 'promotional')}"> <a> <i class="fa fa-certificate"></i>Promocional</a> </li>
          <li [ngClass]="{'active': (default_mode === 'graduate')}"> <a> <i class="fa fa-graduation-cap"></i>Egresados</a> </li>
        </ul>
      </div>
      <div class="col-sm-9">
        <!-- Beca 18 Form -->
        <form>
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label for="">Estudiante</label>
                <input type="text" class="form-control" name="" value="">
              </div>
              <div class="form-group">
                <label for="">Programa</label>
                <input type="text" class="form-control" name="" value="">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="">Campus <span class="text-danger" title="Este campo es obligatorio">(*)</span> </label>
                <input type="text" class="form-control" name="" value="">
              </div>
              <div class="form-group">
                <label for="">Modalidad</label>
                <input type="text" class="form-control" name="" value="">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="">Período <span class="text-danger" title="Este campo es obligatorio">(*)</span> </label>
                <input type="text" class="form-control" name="" value="">
              </div>
              <div class="form-group">
                <label for="">[$>_]</label>
                <button class="btn btn-medium btn-primary form-control">
                  <i class="fa fa-search"></i> Filtrar
                </button>
              </div>
            </div>
          </div>
        </form>
        <!-- /Beca 18 Form -->
      </div>
    </div>
  </section>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="box">
      <header class="box-header">
        Listado
      </header>
      <section class="box-body">
        <table class="table table-stripped">
          <thead>
            <tr>
              <th> Código</th>
              <th> Nombres</th>
              <th> Extra</th>
              <th> Acción</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td> Código</td>
              <td> Nombres</td>
              <td> Extra</td>
              <td> <button type="button" name="button"> => </button></td>
          </tbody>
        </table>
      </section>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="box">
      <header class="box-header">
        <div class="input-group">
          <select class="form-control">
            <option value="2">1</option>
            <option value="1">2</option>
          </select>
          <div class="input-group-btn">
            <button class="btn btn-primary" name="button"> <i class="fa fa-gears"></i> Procesar</button>
          </div>
        </div>
      </header>
      <section class="box-body">
        <table class="table table-stripped">
          <thead>
            <tr>
              <th>Estado</th>
              <th>Solicitud</th>
              <th>Código</th>
              <th>Nombres</th>
              <th>Remover</th>
            </tr>
          </thead>
        </table>
      </section>
    </div>
  </div>
</div>
