<div class="row">
  <div class="col-md-6">
    <div class="box box-default">
      <header class="box-header with-border">
        <h3 class="box-title"><i class="fa fa-file-text"></i> Buscando egresados</h3>
      </header>
      <section class="box-body no-padding">
        <div class="box-footer">
          <div class="input-group">
            <input class="form-control" placeholder="11111111 222222222 33333333" [(ngModel)]="dnis">
            <div class="input-group-btn">
                <button type="button" class="btn btn-success" (click)="searchGraduates()">Buscar</button>
            </div>
          </div>
        </div>
      </section>

      <section class="box-body no-padding"  *ngIf="graduates">
        <div class="table-responsive">
          <table class="table table-hover table-striped">
            <thead>
              <tr >
                <th> Id </th>
                <th> Pr </th>
                <th> So </th>
                <th> Ba </th>
                <th> Ti </th>
                <th> DNI </th>
                <th> Nombre </th>
                <th> Programa </th>
                <th> Acción </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let graduate of graduates" [ngClass]="{
                'success': graduate.success,
                'info': graduate.info,
                'danger':graduate.danger,
                'warning':graduate.warning
                  }">
                <td><input type="checkbox" [(ngModel)]="graduate.language" disabled>  </td>
                <td><input type="checkbox" [(ngModel)]="graduate.practice" disabled> </td>
                <td><input type="checkbox" [(ngModel)]="graduate.projection" disabled> </td>
                <td><input type="checkbox" [(ngModel)]="graduate.bachelor" disabled> </td>
                <td><input type="checkbox" [(ngModel)]="graduate.degree" disabled> </td>
                <td>{{graduate.dni}}</td>
                <td>{{graduate.student_name}} </td>
                <td>{{graduate.program}} </td>
                <td>
                  <span
                    *ngIf="!graduate.danger && !graduate.to_process"
                    class="btn btn-xs bg-green"
                    (click)="toProcess(graduate)"
                  >
                    <i class="fa fa-play"></i>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
      <div class="box-footer">
      </div>
    </div>
  </div>


  <div class="col-md-6" >
    <div class="box box-default">
      <header class="box-header with-border">
        <h3 class="box-title"><i class="fa fa-file-text"></i> Constancias a generar</h3>
      </header>
      <section class="box-body no-padding">
        <div class="box-footer">
          <div class="input-group">
            <input class="form-control" placeholder="dd/mm/yyyy" [(ngModel)]="general_date" (ngModelChange)="updateDates(general_date)">
            <div class="input-group-btn">
                <button type="button" class="btn btn-success" (click)="Generate()">Procesar</button>
            </div>
          </div>
        </div>
      </section>


      <section class="box-body no-padding"  *ngIf="graduates">
        <div class="table-responsive">
          <table class="table table-hover table-striped">
            <thead>
              <tr >
                <th> Fecha </th>
                <th> DNI </th>
                <th> Nombre </th>
                <th> Programa </th>
                <th> Acción </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let graduate of graduates_to_process">
                <td><input [(ngModel)]="graduate.date"  placeholder="dd/mm/yyyy" ></td>
                <td>{{graduate.dni}} </td>
                <td>{{graduate.student_name}} </td>
                <td>{{graduate.program}} </td>
                <td>
                  <span
                    class="btn btn-xs bg-red"
                    (click)="removetoProcess(graduate)"
                    >
                    <i class="fa fa-close"></i>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>

      <div class="box-footer">
      </div>
    </div>
  </div>
</div>
