<div class="row">
  <div class="col-sm-6">
    <div class="small-box bg-gray">
      <div class="inner">
        <h3>Reporte de Solicitudes</h3>
        <p>Reporte</p>
      </div>
      <div class="icon">
        <i class="fa fa-linechart"></i>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="info-box bg-yellow">
      <span class="info-box-icon"><i class="fa fa-calendar"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">Solicitudes recibidas</span>
        <span class="info-box-number">41,410</span>

        <div class="progress">
          <div class="progress-bar width-70"></div>
        </div>
            <span class="progress-description">
              70% Increase in 30 Days
            </span>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="info-box bg-yellow">
      <span class="info-box-icon"><i class="fa fa-calendar"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">Documentos emitidos</span>
        <span class="info-box-number">41,410</span>

        <div class="progress">
          <div class="progress-bar width-70"></div>
        </div>
            <span class="progress-description">
              70% Increase in 30 Days
            </span>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="box box-default">
      <div class="box-header with-border">
        <h3 class="box-title"> <i class="fa fa-bar-chart"></i> Reporte por mes</h3>
        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
          </button>
        </div>
      </div>
      <div class="box-body">
        <p-chart type="bar" [data]="report_bar"></p-chart>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="box box-default">
      <div class="box-header with-border">
        <h3 class="box-title"> <i class="fa fa-pie-chart"></i> Reporte por documentos</h3>
        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
          </button>
        </div>
      </div>
      <div class="box-body">
        <div class="row">
          <p-chart type="pie" [data]="report_pie"></p-chart>
        </div>
      </div>
    </div>
  </div>
</div>
