<div class="box box-default">
  <header class="box-header with-border">
    <h3 class="box-title"><i class="fa fa-file-text"></i> Información de la Solicitud</h3>
    <div class="box-tools">
      <a class="btn btn-default btn-sm" onclick="window.history.go(-1); return false;">
        <i class="fa fa-arrow-left"></i> Regresar</a>
    </div>
  </header>
  <section class="box-body box-comments" *ngIf="request !== null">
    <!-- resumen de la solicitud -->
    <bo-request-abstract [request]="request" [config]="config" (update)="getIdealFlow(flow, $event)"></bo-request-abstract>
    <!-- Generar Documento -->
    <bo-generate-document [request]="request" (updateLogs)="updateLogs($event)"></bo-generate-document>
    <!-- Para los que requieran completar documentos -->
    <div class="box-comment" *ngIf="request.state ===  config.STATE_DOCUMENT_RECEPTION">
      <div class="comment-text">
        <label for="">Requisitos:</label>
      </div>
      <div class="comment-text">
        <file-loader [request]="request"></file-loader>
      </div>
    </div>
    <!-- Derivar Documento -->
    <div *ngIf="!request.aproved && request.office_id === config.OFFICE_CAU && request.state > config.STATE_PAYMENT_PENDING">
      <div class="comment-text">
        <form class="form">
          <p *ngIf="request.document_id ===  config.DOC_STUDIES_CERTIFICATE">
            Derivar a: <strong>Registros Academicos </strong>
          </p>
          <p *ngIf="request.document_id ===  config.DOC_CONVALIDATION">
            Derivar a: <strong>Convalidaciones </strong>
          </p>
          <div class="form-group">
            <label for="">Mensaje</label>
            <div [hidden]="!is_derivate">{{derivate_message}}</div>
            <textarea name="name" rows="6" cols="26" class="form-control" [(ngModel)]="derivate_message" placeholder="Mensaje para Registors Academicos">
            </textarea>
          </div>
          <div>
            <button class="btn btn-big btn-primary" (click)="derivateRequest($event, request.id, derivate_message)" [disabled]="derivate_message === undefined || derivate_message.length < 10" [hidden]="is_derivate">Derivar</button>
          </div>
        </form>
      </div>
    </div>
    <!-- Entregar Documento -->
    <div class="box-comment" *ngIf="request.state === config.STATE_DELIVERY_PENDING">
      <!-- Generar -->
      <div class="comment-text">
        <button class="btn btn-app bg-blue" (click)="deliveryRequest($event, request.id)">
          <i class="fa fa-square-o"></i> Marcar como entregado
        </button>
        <button *ngIf="request.document_id !== config.DOC_CUSTOM_STUDIES_PROOF" class="btn btn-app" (click)="sendDocumentByMail($event)">
          <i class="fa fa-envelope"></i> Enviar por correo
        </button>
        <div class="text-aqua" *ngIf="mail.sending">
          Ennviando correo, por favor espere.
          <i class="fa fa-spinner"></i>
        </div>
        <div class ="text-success" *ngIf="mail.sended">
          Correo enviado satisfactoriamente.
          <i class="fa fa-ckeck"></i>
        </div>
        <div class="text-error" *ngIf="mail.error">
          Correo no enviado. por favor vuelva a intertarlo en unos minutos
          <i class="fa fa-times"></i>
        </div>
      </div>
    </div>
  </section>
  <section class="box-body box-comments" *ngIf="request === null">
    <loading [text]="'CARGANDO SU SOLICITUD'"></loading>
  </section>
  <div class="box-footer" *ngIf="request !== null">
    <header>
      <h5> <i class="fa fa-list-ul"></i> Vida de la Solicitud</h5>
      <hr>
    </header>
    <!-- Lista del Flujo de la Solicitud (TimeLine Horizontal) -->
    <div class="col-md-12">
      <request-flow [ideal-flow]="ideal_flow" [request]="request" [logs]="logs">
      </request-flow>
    </div>
  </div>
</div>
