<div class="row">
  <div class="col-sm-6">
    <div class="box">
      <header class="box-header">
        Firmante
      </header>
      <section class="box-body">
        <div class="form-group">
          <!-- <label for="signer">Firmante</label> -->
          <select class="form-control" name="signer" (change)="setSigner($event.target.value)">
            <option value="" disabled=""> Seleccione un valor</option>
            <option value="107265"> Daniel Gamarra</option>
            <option value="178896"> Rocio Matos</option>
            <option value="19382"> Nakasone</option>
          </select>
        </div>
      </section>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="small-box bg-green">
      <div class="inner">
        <h3>3</h3>
        <p>tipos de Documentos a firmar</p>
      </div>
      <div class="icon">
        <i class="fa fa-file-text"></i>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
      <div class="small-box bg-green">
        <div class="inner">
          <h3>258</h3>
          <p>Documentos firmados</p>
        </div>
        <div class="icon">
          <i class="fa fa-pencil"></i>
        </div>
      </div>
    </div>
  <div class="col-sm-12">
    <div class="box">
      <header class="box-header">
        Tabla
      </header>
      <section class="box-body">
        <div class="table-responsive" *ngIf="report">
          <table class="table">
            <thead>
              <tr>
                <th>Año</th>
                <th>Mes</th>
                <th>Documento</th>
                <th>Firmados</th>
                <th>Como</th>
              </tr>
            </thead>
            <tbody>
              <!--  [hidden]="item.quantity === 0" -->
              <tr *ngFor="let item of report" [hidden]="item.quantity === 0">
                <td>{{ item.year }}</td>
                <td>{{ app_config.getMonthName(item.month) }}</td>
                <td>{{ config.getDocumentName(item.document_id) }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.sign_as }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
    </div>
  </div>
  <div class="col-sm-6" [hidden]="!report">
    <div class="box">
      <header class="box-header">
        Solicitudes por Meses
      </header>
      <section class="box-body">
        <p-chart type="bar" [data]="r_dates"></p-chart>
      </section>
    </div>
  </div>
  <div class="col-sm-6" [hidden]="!report">
    <div class="box">
      <header class="box-header">
        Solicitudes por Documentos
      </header>
      <section class="box-body">
        <p-chart type="pie" [data]="r_docs"></p-chart>
      </section>
    </div>
  </div>
</div>
