<div class="row">
  <div class="col-md-12" *ngIf="loading && !processing">
    <loading [text]="'Cargando tipo log de incidentes . . .'"></loading>
  </div>
  <div class="col-xs-12" *ngIf="registerIncidentLogType || updateIncidentLogType">
    <div class="box box-info" *ngIf="incidentLogType !== undefined && incidentLogType !== null">
      <div class="box-header with-border">
        <h3 class="box-title" *ngIf="!incidentLogType.edit">Registro de nuevo tipo log  de incidente</h3>
        <h3 class="box-title" *ngIf="incidentLogType.edit">Actualización de tipo log de incidente</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <form class="form-horizontal" #incidentLogTypeForm="ngForm">
          <div class="form-group">
            <label for="logTypename" class="col-sm-2 control-label">Nombre</label>
            <div class="col-sm-10 col-md-7">
              <input type="text" class="form-control" id="logTypename" name="logTypename" required="required"
                     placeholder="Nombre" [(ngModel)]="incidentLogType.name" #nombre="ngModel">
            </div>
          </div>
          <div class="form-group">
            <label for="description" class="col-sm-2 control-label">Descripción</label>
            <div class="col-sm-10 col-md-7">
              <textarea name="description" id="description" rows="3" required="required" class="form-control"
                        minlength="6" maxlength="300" placeholder="Descripción"
                        [(ngModel)]="incidentLogType.description" #descripcion="ngModel"></textarea>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-info" [disabled]="!incidentLogTypeForm.valid"
                      (click)="save(incidentLogType)" *ngIf="!incidentLogType.edit">
                <i class="fa fa-save"></i> Guardar
              </button>
              <button type="submit" class="btn btn-info" [disabled]="!incidentLogTypeForm.valid"
                      (click)="update(incidentLogType)" *ngIf="incidentLogType.edit">
                <i class="fa fa-save"></i> Actualizar
              </button>
              <button type="submit" class="btn btn-default" (click)="cancel(incidentLogType)">
                <i class="fa fa-trash"></i> Cancelar
              </button>
            </div>
          </div>
        </form>
      </div>
      <!-- /.box-body -->
      <div class="overlay" *ngIf="processing">
        <i class="fa fa-refresh fa-spin"></i>
      </div>
      <!-- end loading -->
    </div>
    <!-- /.box -->
  </div>
  <div class="col-xs-12" *ngIf="!loading">
    <div class="box box-warning">
      <div class="box-header">
        <h3 class="box-title">Lista de tipos de logs de incidentes</h3>

        <div class="box-tools pull-right">
          <div class="has-feedback" [hidden]="true">
            <input type="text" class="form-control input-sm" placeholder="Buscar" [(ngModel)]="filter">
            <span class="fa fa-search form-control-feedback"></span>
          </div>
          <div class="has-feedback">
            <button type="button" class="btn btn-default btn-sm" (click)="registerMode()"
                    *ngIf="!registerIncidentLogType">
              <i class="fa fa-plus"></i> nuevo
            </button>
            <button type="button" class="btn btn-default btn-sm" (click)="close()" *ngIf="registerIncidentLogType">
              <i class="fa fa-times"></i> cancelar
            </button>
          </div>
        </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
          <thead>
          <tr>
            <th></th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let incidentLogType of incidentLogTypes" [ngClass]="{'warning': incidentLogType.edit}">
            <td></td>
            <td>{{ incidentLogType.name }}</td>
            <td>{{ incidentLogType.description }}</td>
            <td>
              <button type="button" class="btn btn-primary btn-xs" (click)="updateMode(incidentLogType)">
                <i class="fa fa-pencil"></i>
              </button>
              <button type="button" class="btn btn-warning btn-xs" *ngIf="incidentLogType.edit"
                      (click)="cancel(incidentLogType)">
                <i class="fa fa-times"></i>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <!-- /.box-body -->
      <div class="overlay" *ngIf="processing">
        <i class="fa fa-refresh fa-spin"></i>
      </div>
      <!-- end loading -->
    </div>
    <!-- /.box -->
  </div>
</div>
