<div class="card card-primary">
  <div class="header">
    <h3 class="title"><i class="fa fa-bars"></i> Administración de menús</h3>
  </div>
  <div class="body pv">
    <div class="col-md-4">
      <button [ngClass]="{'bg-primary': activeModuleMenu == 'backoffice'}" class="btn btn-block btn-outline-primary"
              (click)="choiseModuleMenu(modules_bo, 'backoffice')">BackOffice
      </button>
    </div>
    <div class="col-md-4">
      <button [ngClass]="{'bg-primary': activeModuleMenu == 'frontdesk'}" class="btn btn-block btn-outline-primary"
              (click)="choiseModuleMenu(modules_fd, 'frontdesk')">FrontDesk
      </button>
    </div>
    <div class="col-md-4">
      <button [ngClass]="{'bg-primary': activeModuleMenu == 'parent'}" class="btn btn-block btn-outline-primary"
              (click)="choiseModuleMenu(modules_pt, 'parent')">Padres/Apoderados
      </button>
    </div>

    <div class="col-md-12" *ngIf="selectedModuleMenu.length > 0">
      <div [ngClass]="{'col-lg-12': changeFlowCol[0], 'col-lg-3': !changeFlowCol[0]}">
        <h2>Disponibles <i *ngIf="selectedModuleMenu.length > 0" class="fa fa-caret-up fa-button bg-primary"
                           [attr.data-divtoggle]="'modulos-disponibles'"
                           [attr.data-divtogglerotate]="true" (click)="changeFlow()"></i></h2>
        <div [attr.data-divtoggleview]="'modulos-disponibles'">
          <input type="text" class="form-control mb rounded" placeholder="Filtro" [(ngModel)]="filterInput">
          <ul class="list-group">
            <li class="list-group-item hand text-black" [ngClass]="{'bg-primary': resultSelected === module}"
                (click)="selectModule(module)"
                *ngFor="let module of selectedModuleMenu | loopFilter: filterInput">
              {{module.description}} - {{module.name}}
            </li>
          </ul>
        </div>
      </div>

      <div [ngClass]="{'col-lg-12': changeFlowCol[1], 'col-lg-9': !changeFlowCol[1]}">
        <div *ngIf="menus != undefined">
          <h2 id="create-edit-menu">Lista <i class="fa fa-plus bg-primary fa-button"
                                             (click)="showCreateMenu({parent_obj:null}, menus.length+1, 1, '')"></i>
          </h2>
          <!-- Form Create -->
          <div class="card border-secondary border-dashed" *ngIf="typeForm === 'create'">
            <div class="header bg-primary">
              <h3 class="title">Nuevo menú <i (click)="typeForm=''"
                                              class="fa fa-close fa-button bg-black-transparent pull-right"></i></h3>
            </div>
            <div class="body">
              <ol class="breadcrumb text-bold bg-primary-light text-white">
                <li class="text-primary-h hand">{{activeModuleMenu}}</li>
                <li class="text-primary-h hand" *ngIf="newMenu.grand_parent_obj">{{newMenu.grand_parent_obj.uri}}</li>
                <li class="text-primary-h hand" *ngIf="newMenu.parent_obj">{{newMenu.parent_obj.uri}}</li>
                <li class="active text-white">{{newMenu.uri || 'nuevo-menu'}}</li>
              </ol>
              <form (ngSubmit)="createMenu($event)" #newMenuForm="ngForm">
                <div class="row">
                  <div class="col-md-8 form-group">
                    <label>Nombre</label>
                    <input class="form-control" type="text" [(ngModel)]="newMenu.name" name="name" required placeholder="Breve título del menú">
                  </div>
                  <div class="col-md-4">
                    <label>Posición:</label>
                    <select class="form-control" name="position" id="position" [(ngModel)]="newMenu.position">
                      <option value="all">Menú - Centro</option>
                      <option value="side">Menú</option>
                      <option value="main">Centro</option>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-8 form-group">
                    <label>
                      URL
                      <small class="text-muted" *ngIf="newMenu.externalLink">(https://...)</small>
                    </label>
                    <input class="form-control" type="text" [(ngModel)]="newMenu.uri" name="uri" required placeholder="Dirección del menú">
                  </div>
                  <div class="col-md-4 form-group">
                    <div class="checkbox">
                      <label>
                        <label class="switch">
                          <input type="checkbox" name="ext" id="ext" [(ngModel)]="newMenu.externalLink">
                          <span class="slider"></span>
                        </label>
                        <label for="ext" [ngClass]="{'text-muted': !newMenu.externalLink}">
                          Enlace {{ newMenu.externalLink ? 'Externo' : 'Interno' }}
                        </label>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4 form-group">
                    <label>Icono</label>
                    <input class="form-control" type="text" [(ngModel)]="newMenu.icon" name="icon" required>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="switch">
                        <input type="checkbox" name="is_active" id="is_active" [(ngModel)]="newMenu.is_active">
                        <span class="slider"></span>
                      </label>
                      <label for="is_active">{{newMenu.is_active ? 'Activo' : 'Desactivado'}}</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <h4 class="pl">Campos extras:</h4>
                  <div class="col-md-4 form-group">
                    <label for="cardStyle">Card Style</label>
                    <input class="form-control" type="text" [(ngModel)]="newMenu.cardStyle" name="cardStyle"
                           required="false" id="cardStyle" placeholder="Estilos para el contenedor">
                  </div>
                  <div class="col-md-4 form-group">
                    <label for="cardIcoStyle">Card Ico Style</label>
                    <input class="form-control" type="text" [(ngModel)]="newMenu.cardIcoStyle" name="cardIcoStyle"
                           required="false" id="cardIcoStyle" placeholder="Estilos para el icono">
                  </div>
                  <div class="col-md-4 form-group">
                    <label for="description">Descripción</label>
                    <input class="form-control" type="text" [(ngModel)]="newMenu.description" name="description"
                           required="false" id="description" placeholder="Breve descripción del contenido del menú">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <label for="order">Ordenamiento:</label>
                    <input class="form-control" type="number" min="1" max="{{orderMax}}" [(ngModel)]="newMenu.order"
                           name="order" required="false" id="order">
                  </div>
                </div>
                <div class="row bg-body mt pb" *ngIf="activeModuleMenu == 'frontdesk'">
                  <h3 class="pl">Vista previa: <i class="fa fa-caret-down fa-button bg-primary"
                                                  [attr.data-divtoggle]="'preview-create'"
                                                  [attr.data-divtogglerotate]="true"></i></h3>
                  <div class="col-md-12 dr-none" *ngIf="moduleNivel==1" [attr.data-divtoggleview]="'preview-create'">
                    <div class="card card-clickable card-module" [attr.data-original-title]="newMenu.name"
                         data-placement="top"
                         data-toggle="tooltip" [ngClass]="newMenu.cardStyle">
                      <div class="card-module-body">
                        <h2 class="title">{{newMenu.name ? newMenu.name : 'Nuevo Menú'}}</h2>
                        <p class="description">{{newMenu.description ? newMenu.description : 'Nueva descripción.'}}</p>
                      </div>
                      <div class="card-module-ico" [ngClass]="newMenu.cardIcoStyle">
                        <i [ngClass]="newMenu.icon"></i>
                      </div>
                      <div class="card-module-footer">
                        <h4 class="more-info">
                          <i class="fa fa-arrow-circle-right fa-lg"></i>
                          <small>Más información</small>
                        </h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12 dr-none" *ngIf="moduleNivel>1" [attr.data-divtoggleview]="'preview-create'">
                    <div class="card card-clickable card-submodule" [ngClass]="newMenu.cardStyle">
                      <div class="card-image" [ngClass]="newMenu.cardIcoStyle">
                        <i [ngClass]="newMenu.icon"></i>
                      </div>
                      <div class="card-content">
                        <h3 class="card-title">{{newMenu.name ? newMenu.name : 'Nuevo Menú'}}</h3>
                        <p class="info">Más información
                          <i class="fa fa-arrow-circle-right text-blue"></i>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="mt text-right">
                  <button class="btn bg-primary" type="submit" name="button" [disabled]="!newMenuForm.form.valid">
                    <i class="fa fa-floppy-o"></i> Crear
                  </button>
                  <button class="btn btn-danger" type="button" name="button" (click)="typeForm=''">
                    <i class="fa fa-times"></i> Cancelar
                  </button>
                </div>
              </form>
            </div>
          </div>
          <!-- Form Edit -->
          <div class="card border-secondary border-dashed" *ngIf="typeForm === 'edit'">
            <div class="header bg-primary">
              <h3 class="title">Editar menú <i (click)="typeForm=''"
                                               class="fa fa-close fa-button bg-black-transparent pull-right"></i></h3>
            </div>
            <div class="body">
              <ol class="breadcrumb text-bold bg-primary-light text-white">
                <li class="text-primary-h hand">{{activeModuleMenu}}</li>
                <li class="text-primary-h hand" *ngIf="menu.grand_parent_obj">{{menu.grand_parent_obj.uri}}</li>
                <li class="text-primary-h hand" *ngIf="menu.parent_obj">{{menu.parent_obj.uri}}</li>
                <li class="active text-white">{{menu.uri}}</li>
              </ol>
              <form (ngSubmit)="saveMenu($event)" #menuForm="ngForm">
                <div class="row">
                  <div class="col-md-8 form-group">
                    <label>Nombre</label>
                    <input class="form-control" type="text" [(ngModel)]="menu.name" name="name" required>
                  </div>
                  <div class="col-md-4">
                    <label>Posición:</label>
                    <select class="form-control" name="position" id="position" [(ngModel)]="menu.position">
                      <option value="all">Menú - Centro</option>
                      <option value="side">Menú</option>
                      <option value="main">Centro</option>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-8 form-group">
                    <label>
                      URL
                      <small class="text-muted" *ngIf="menu.externalLink">(https://...)</small>
                    </label>
                    <input class="form-control" type="text" [(ngModel)]="menu.uri" name="uri">
                  </div>
                  <div class="col-md-4 form-group">
                    <div class="checkbox">
                      <label>
                        <label class="switch">
                          <input type="checkbox" name="ext" id="exte" [(ngModel)]="menu.externalLink">
                          <span class="slider"></span>
                        </label>
                        <label for="exte" [ngClass]="{'text-muted': !menu.externalLink}">
                          Enlace {{ menu.externalLink ? 'Externo' : 'Interno' }}
                        </label>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4 form-group">
                    <label>Icono</label>
                    <input class="form-control" type="text" [(ngModel)]="menu.icon" name="icon" required>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="switch">
                        <input type="checkbox" name="is_active" id="is_active" [(ngModel)]="menu.is_active">
                        <span class="slider"></span>
                      </label>
                      <label for="is_active">{{menu.is_active ? 'Activo' : 'Desactivado'}}</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <h4 class="pl">Campos extras:</h4>
                  <div class="col-md-4 form-group">
                    <label for="cardStyle">Card Style</label>
                    <input class="form-control" type="text" [(ngModel)]="menu.cardStyle" name="cardStyle"
                           required="false">
                  </div>
                  <div class="col-md-4 form-group">
                    <label for="cardIcoStyle">Card Ico Style</label>
                    <input class="form-control" type="text" [(ngModel)]="menu.cardIcoStyle" name="cardIcoStyle"
                           required="false">
                  </div>
                  <div class="col-md-4 form-group">
                    <label for="description">Descripción</label>
                    <input class="form-control" type="text" [(ngModel)]="menu.description" name="description"
                           required="false">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <label for="order">Ordenamiento:</label>
                    <input class="form-control" type="number" min="1" max="{{orderMax}}" [(ngModel)]="menu.order"
                           name="order"
                           required="false">
                  </div>
                </div>
                <div class="row bg-body mt pb" *ngIf="activeModuleMenu == 'frontdesk'">
                  <h3 class="pl">Vista previa: <i class="fa fa-caret-down fa-button bg-primary"
                                                  [attr.data-divtoggle]="'preview-edit'"
                                                  [attr.data-divtogglerotate]="true"></i></h3>
                  <div class="col-md-12 dr-none" *ngIf="moduleNivel==1" [attr.data-divtoggleview]="'preview-edit'">
                    <div class="card card-clickable card-module" [attr.data-original-title]="menu.name"
                         data-placement="top"
                         data-toggle="tooltip" [ngClass]="menu.cardStyle">
                      <div class="card-module-body">
                        <h2 class="title">{{menu.name ? menu.name : 'Nuevo Menú'}}</h2>
                        <p class="description">{{menu.description ? menu.description : 'Nueva descripción.'}}</p>
                      </div>
                      <div class="card-module-ico" [ngClass]="menu.cardIcoStyle">
                        <i class="{{menu.icon}}" [ngClass]="{'fa fa-question': menu.icon == undefined}"></i>
                      </div>
                      <div class="card-module-footer">
                        <h4 class="more-info">
                          <i class="fa fa-arrow-circle-right fa-lg"></i>
                          <small>Más información</small>
                        </h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12 dr-none" *ngIf="moduleNivel>1" [attr.data-divtoggleview]="'preview-edit'">
                    <div class="card card-clickable card-submodule" [ngClass]="menu.cardStyle">
                      <div class="card-image" [ngClass]="menu.cardIcoStyle">
                        <i class="{{menu.icon}}" [ngClass]="{'fa fa-question': menu.icon == undefined}"></i>
                      </div>
                      <div class="card-content">
                        <h3 class="card-title">{{menu.name ? menu.name : 'Nuevo Menú'}}</h3>
                        <p class="info">Más información
                          <i class="fa fa-arrow-circle-right text-blue"></i>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="mt text-right">
                  <button class="btn bg-primary" type="submit" name="button" [disabled]="!menuForm.form.valid">
                    <i class="fa fa-floppy-o"></i> Actualizar</button>
                  <button class="btn btn-danger" type="button" name="button" (click)="typeForm=''">
                    <i class="fa fa-times"></i> Cancelar
                  </button>
                </div>
              </form>
            </div>
          </div>

          <div *ngFor="let menu of menus; let i = index" class="card">
            <div class="header">
              <h3 class="title with-actions">
                <i *ngIf="menu.smenus.length == 0" class="fa fa-caret-down fa-button bg-secondary-light"></i>
                <i *ngIf="menu.smenus.length > 0" class="fa fa-caret-down fa-button bg-primary"
                   [attr.data-divtoggle]="'menu-'+i"
                   [attr.data-divtogglerotate]="true"></i>
                {{menu.name}}
                <span class="text-aqua"> base/{{menu.uri}} </span>
                <i class="fa"
                   [ngClass]="{'text-green fa-eye': menu.is_active, 'text-red fa-eye-slash': !menu.is_active}"></i>
                <span class="actions">
                  <i class="fa fa-pencil fa-button bg-primary" (click)="showEditMenu(menus.length, 1, menu.id)"></i>
                  <i class="fa fa-plus fa-button bg-primary"
                     (click)="showCreateMenu({parent_obj:menu}, menu.smenus.length+1, 2, menu.cardIcoStyle)"></i>
                </span>
              </h3>
            </div>
            <div class="body dr-none p-0" [attr.data-divtoggleview]="'menu-'+i">
              <ul class="list-group m-0 tree-branch">
                <li *ngFor="let menuTwo of menu.smenus" class="list-group-item rounded-0 with-actions text-truncate">
                  <span class="text-secondary">-&#47; </span>
                  <span class="text-black">{{menuTwo.name}}</span>
                  <span class="text-aqua"> base/{{menu.uri}}/{{menuTwo.uri}} </span>
                  <i class="fa"
                     [ngClass]="{'text-green fa-eye': menuTwo.is_active, 'text-red fa-eye-slash': !menuTwo.is_active}"></i>
                  <span class="actions">
                    <i class="fa fa-pencil fa-button bg-primary"
                       (click)="showEditMenu(menu.smenus.length, 2, menuTwo.id, menu.id)"></i>
                    <i class="fa fa-plus fa-button bg-primary"
                       (click)="showCreateMenu({parent_obj: menuTwo, grand_parent_obj: menu}, menuTwo.smenus.length+1, 2, menu.cardIcoStyle)"></i>
                  </span>
                  <ul *ngIf="menuTwo.smenus.length > 0" class="list-group ml mt tree-branch">
                    <li *ngFor="let ssmenu of menuTwo.smenus" class="list-group-item with-actions text-truncate">
                      <span class="text-secondary">-&#47; </span>
                      <span class="text-secondary">{{ssmenu.name}}</span>
                      <span class="text-aqua"> base/{{menu.uri}}/{{menuTwo.uri}}/{{ssmenu.uri}} </span>
                      <i class="fa"
                         [ngClass]="{'text-green fa-eye': ssmenu.is_active, 'text-red fa-eye-slash': !ssmenu.is_active}"></i>
                      <span class="actions">
                        <i class="fa fa-pencil fa-button bg-primary"
                           (click)="showEditMenu(menuTwo.smenus.length, 3, ssmenu.id, menu.id, menuTwo.id)"></i>
                      </span>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
