<div class="row">
  <div class="col-md-4">
    <div class="box box-info">
      <h4 class="text-center">Campus</h4>
      <ul class="list-group">
        <a class="list-group-item"
          *ngFor="let campus of campuses"
          [ngClass]="{'active': (campus.id === campus_active)}"
          (click)="campusActive(campus.id)">{{campus.name}} - {{campus.code}}
        </a>
      </ul>
    </div>
    <!-- /. box -->
    <div class="box box-warning">
      <div class="box-header with-border">
        <h3 class="box-title" *ngIf="!add_group">Grupos de Usuario</h3>
        <h3 class="box-title" *ngIf="add_group">Nuevo Grupo de Usuario</h3>
        <div class="box-tools pull-right">
          <div class="has-feedback">
            <button *ngIf="add_group" class="btn btn-warning btn-sm fa fa-times"
                    type="button" name="button" (click)="addGroupOff()"></button>
            <button *ngIf="!add_group" class="btn btn-warning btn-sm fa fa-plus"
                    type="button" name="button" (click)="addGroupOn()"></button>
          </div>
        </div>
      </div>
      <div class="box-body no-padding" *ngIf="!add_group">
        <ul class="nav nav-pills nav-stacked">
          <li *ngFor="let group of groups_all">
            <a>
              <i class="fa fa-users"></i>
              {{group.name}}
              <button class="btn btn-warning btn-xs vertical-align pull-right visible-lg" type="button" name="button"
                      (click)="addGroupToModule(group.id)">
                <i class="fa fa-plus"></i> añadir
              </button>
              <button class="btn btn-warning btn-xs vertical-align pull-right visible-xs visible-sm visible-md"
                      type="button" name="button" (click)="addGroupToModule(group.id)">
                <i class="fa fa-plus"></i>
              </button>
            </a>
          </li>
        </ul>
      </div>
      <div *ngIf="add_group">
        <form (ngSubmit)="addGroup(groupform)" #newGroupForm="ngForm">
          <input class="form-control" type="text" placeholder="Nombre" name="name" autofocus [(ngModel)]="group.name"
                 #nombre="ngModel" required>
          <button class="form-control btn btn-flat btn-warning" type="submit">Guardar</button>
        </form>
      </div>
    </div>
    <!-- /. box -->
  </div>
  <div class="col-md-8">
    <div class="col-md-5">
      <div class="box box-warning">
        <div class="box-header with-border">
          <h3 class="box-title" *ngIf="!add_module">Modulos</h3>
          <h3 class="box-title" *ngIf="add_module">Nuevo Modulo</h3>
          <div class="box-tools pull-right">
            <div class="has-feedback">
              <button *ngIf="add_module" class="btn btn-warning btn-sm fa fa-times"
                      type="button" name="button" (click)="addModuleOff()"></button>
              <button *ngIf="!add_module" class="btn btn-warning btn-sm fa fa-plus"
                      type="button" name="button" (click)="addModuleOn()"></button>
            </div>
          </div>
        </div>
        <div class="box-body no-padding" *ngIf="!add_module">
          <ul class="nav nav-pills nav-stacked">
            <li class="hand" *ngFor="let module of modules" (click)="moduleActive(module.id)"
                [ngClass]="{'active': (module.id === module_active), 'bg-yellow': (module.id === module_active)}">
              <a><i class="fa fa-archive"></i> {{module.description}}</a>
            </li>
          </ul>
        </div>
        <div *ngIf="add_module">
          <form (ngSubmit)="addModule(moduleform)" #newModuleForm="ngForm">
            <input class="form-control" type="text" placeholder="Nombre" name="name" [(ngModel)]="module.name"
                   autofocus required #name="ngModel">
            <input class="form-control" type="text" placeholder="Descripción" name="description"
                   [(ngModel)]="module.description" required>
            <input class="form-control" type="text" placeholder="Abreviatura" name="abbr" [(ngModel)]="module.abbr"
                   required>
            <button class="form-control btn btn-flat btn-warning" type="submit" name="button">Guardar</button>
          </form>
        </div>
      </div>
      <!-- /. box -->
    </div>
    <div class="col-md-7">
      <div class="box box-warning">
        <div class="box-header with-border">
          <h3 class="text-center box-title">Grupos</h3>
        </div>
        <div class="box-body no-padding">
          <ul class="nav nav-pills nav-stacked">
            <li class="text-center" *ngFor="let group of groups"
                [ngClass]="{'active': (group.id === group_active), 'bg-yellow': (group.id === group_active)}">
              <a>
                <button class="pull-left btn btn-xs btn-info glyphicon glyphicon-list" type="button" name="button"
                        (click)="groupActive(group.id)"></button>
                {{group.name}}
                <button class="pull-right btn btn-xs btn-danger glyphicon glyphicon-remove" type="button" name="button"
                        (click)="removeGroupToModule(group.id)"></button>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!-- /. box -->
      <div class="box box-warning">
        <div class="box-header with-border">
          <h3 class="box-title">Usuarios</h3>
          <div class="box-tools pull-right">
            <div class="has-feedback">
              <button *ngIf="add_user==true" class="btn btn-warning btn-sm fa fa-times"
                      type="button" name="button" (click)="addUserOff()"></button>
              <button *ngIf="add_user==false" class="btn btn-warning btn-sm fa fa-plus"
                      type="button" name="button" (click)="addUserOn()"></button>
            </div>
          </div>
        </div>
        <div class="box-body no-padding" *ngIf="!add_user">
          <ul class="nav nav-pills nav-stacked">
            <li *ngFor="let user of users">
              <a>
                <i class="fa fa-user"></i>
                {{user.id}}
                <button class="pull-right btn btn-xs btn-danger fa fa-times" type="button" name="button"
                        (click)="removeUser(user.id)"></button>
              </a>
            </li>
          </ul>
        </div>
        <div *ngIf="add_user">
          <form (ngSubmit)="findUser(findUserForm)" #searchUserForm="ngForm">
            <input class="form-control" type="text" placeholder="Nombre" name="user" [(ngModel)]="user_find"
                   minlength="3" required autofocus #nombre="ngModel"/>
            <button class="form-control btn btn-flat btn-primary" type="submit">Buscar</button>
          </form>
          <div class="box-body no-padding">
            <ul class="nav nav-pills nav-stacked">
              <li *ngFor="let user of users_found">
                <a>
                  {{user.id}}
                  <button class="pull-right btn btn-xs btn-success fa fa-plus" type="button" name="button"
                          (click)="addUser(user.id)"></button>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- /. box -->
    </div>
  </div>
</div>
