<div *ngIf="derivation_claims != null && derivation_claims.length > 0">
  <div>
    <header class="box-header with-border">
      <h3 class="box-title"><i class="fa fa-file-text"></i> Datos Derivación</h3>
    </header>
    <section class="box-body box-comments">
      <div class="box-comment well" *ngFor="let derivation of derivation_claims">
        <div class="row comment-text">
          <div class="col-md-11">
            <div>
              <h4 class="box-title"><i class="fa fa-file-text"></i> Derivación</h4>
              Area: <strong> {{derivation.derivate_funtional_unity_name}}</strong>.
              <br><br>
              Nota Derivación: <strong> {{derivation.staff_involved_note}}</strong>
              <br><br>
              Encargado: <strong>{{derivation.staff_Involved_name}}</strong>.
              <br><br>
              Puesto: <strong> {{derivation.staff_position_description}}</strong>.
              <br><br>
              Fecha derivación: <strong> {{derivation.derivate_date_created | date: 'dd/MM/yyyy hh:mm'}}</strong>.
              <br><br>
              <div class="row">
                <div class="col-md-3 list-group" *ngFor="let file of derivation.files_derivate">
                  <a href="api/claimsbook/File/{{file.file_id}}" download = "{{file.file_name}}" class="list-group-item">
                    <div class="row">
                      <div class="col-md-10"  style="overflow: hidden;">
                        {{file.file_name}}
                      </div>
                      <div class="col-md-2">
                        <i class="fa fa-cloud-download" aria-hidden="true"></i>
                      </div>
                    </div>
                  </a>
                </div>
              </div>

            </div>

            <div *ngIf="derivation.derivate_state == configFile.LDR_STATE_DERIVATE_FINALIZED && derivation.answers.length > 0">
              <div>
                <h4 class="box-title"><i class="fa fa-file-text"></i> Respuesta: </h4>
                <div  *ngFor="let answer of derivation.answers">
                  <br>
                  Fecha respuesta: <strong> {{answer.answer_date_validate | date: 'dd/MM/yyyy hh:mm'}}</strong>.
                  <br><br>
                  <b></b> <strong>{{answer.answer_note}}</strong>
                  <br><br>
                  <div class="row">
                    <div class="col-md-3 list-group" *ngFor="let file of answer.files">
                      <a href="api/claimsbook/File/{{file.file_id}}" download = "{{file.file_name}}" class="list-group-item">
                        <div class="row">
                          <div class="col-md-10"  style="overflow: hidden;">
                            {{file.file_name}}
                          </div>
                          <div class="col-md-2">
                            <i class="fa fa-cloud-download" aria-hidden="true"></i>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="col-md-1 center" *ngIf="+derivation.derivate_state == configFile.LDR_STATE_DERIVATE_PENDING">
            <button type="button" class="btn btn-primary btn-danger withImageAndIcon  center-block" (click) = "gotoDisableDerivation(derivation.page_id,derivation.derivate_id)">
              <div class="fa-lg withFolder48">
                <i class="fa fa-minus-circle"></i>
              </div>
            </button>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
