<header class="box-header with-border">
  <h3 class="box-title"><i class="fa fa-file-text"></i> Información de la Solicitud</h3>
</header>
<section style="overflow-x:auto;" *ngIf="page_claims_book">
  <table class="table table-bordered">
    <tbody>
      <!--==========================Datos de Persona==============================-->
      <tr>
        <th scope="row" class = "text-bold">Nombres</th><td colspan="3">: {{page_claims_book.page_first_name}} {{page_claims_book.page_last_name}}</td>
      </tr>
      <tr>
        <td scope="row" class = "text-bold">Número de Identidad</td><td>: {{page_claims_book.page_identification}}</td>
        <td scope="row" class = "text-bold">E-mail</td><td>: {{page_claims_book.page_email}}</td>
      </tr>
      <tr>
        <td scope="row" class = "text-bold">Telefono</td><td>: {{page_claims_book.page_phone}}</td>
        <td scope="row" class = "text-bold">Padre o Madre</td><td>:{{page_claims_book.page_legal_guardian}}</td>
      </tr>
      <tr>
        <td scope="row" class = "text-bold">Domicilio</td><td colspan="3">: {{page_claims_book.page_home}}</td>
      </tr>
      <!--========================================================================-->
      <!--==========================Datos de reclamo==============================-->
      <tr>
        <td scope="row" class = "text-bold">Dependencia</td><td>: {{page_claims_book.page_div}}</td>
        <td scope="row" class = "text-bold">Campus</td><td>: {{page_claims_book.campus_name}}</td>
      </tr>
      <tr>
        <td scope="row" class = "text-bold">Nro</td><td>: {{page_claims_book.page_numeration}}</td>
        <td scope="row" class = "text-bold">Origen</td><td>: {{getNameOrigin(page_claims_book.page_origin)}}</td>
      </tr>
      <tr>
        <td scope="row" class = "text-bold">Tipo Bien</td><td>:{{page_claims_book.page_type_well}}</td>
        <td scope="row" class = "text-bold">Tipo Incidente</td><td>: {{page_claims_book.page_type_claim}}</td>
      </tr>

      <tr>
        <td scope="row" class = "text-bold">Fecha Solicitada</td>
        <td colspan="3">:
          {{page_claims_book.page_date_create | date: 'dd/MM/yyyy hh:mm'}}
          <span *ngIf="page_claims_book.page_state != config.LDR_STATE_PAGE_DISMISSED && page_claims_book.page_state != config.LDR_STATE_PAGE_FINALIZED && page_claims_book.page_state != config.LDR_STATE_PAGE_RESOLVED">
            |
              <small class="label label-danger" *ngIf="getDaysRemaining(page_claims_book.page_date_create) <= 3"><i class="fa fa-clock-o"></i> Faltan {{getDaysRemaining(page_claims_book.page_date_create)}} días</small>
              <small class="label label-warning" *ngIf="getDaysRemaining(page_claims_book.page_date_create) > 3 && getDaysRemaining(page_claims_book.date_create) <= 7"><i class="fa fa-clock-o"></i> Faltan {{getDaysRemaining(page_claims_book.page_date_create)}} días</small>
              <small class="label label-success" *ngIf="getDaysRemaining(page_claims_book.page_date_create) > 7"><i class="fa fa-clock-o"></i> Faltan {{getDaysRemaining(page_claims_book.page_date_create)}} días</small>
          </span>
        </td>
      </tr>
      <tr>
        <td scope="row" class = "text-bold">Detalle Servicio</td><td colspan="3">: {{page_claims_book.page_description_well}}</td>
      </tr>
      <tr>
        <td scope="row" class = "text-bold">Descripción del reclamo</td><td colspan="3">: {{page_claims_book.page_description_claim}}</td>
      </tr>
      <tr *ngIf="page_claims_book.page_state == config.LDR_STATE_PAGE_DISMISSED">
        <td scope="row" class = "text-bold">Nota Desestimación</td><td colspan="3">: {{page_claims_book.page_note_dissmised}}</td>
      </tr>
      <tr *ngIf="page_claims_book.page_person_claim != null && page_claims_book.page_person_claim.length > 0">
        <td scope="row" class = "text-bold">¿De quien se estan quejando?</td><td>: {{page_claims_book.page_person_claim_names}}</td>
      </tr>
      <tr *ngIf="page_claims_book.page_person_claim != null && page_claims_book.page_person_claim.length > 0">
        <td scope="row" class = "text-bold">¿Se pudo Evitar?</td><td>: {{getPageVoid(page_claims_book.page_avoid)}}</td>
      </tr>
      <tr *ngIf="page_claims_book.page_person_claim != null && page_claims_book.page_person_claim.length > 0">
        <td scope="row" class = "text-bold">¿Por que?</td><td>: {{page_claims_book.page_avoid_description}}</td>
      </tr>

      <tr *ngIf="page_claims_book.page_state == config.LDR_STATE_PAGE_FINALIZED">
        <td scope="row" class = "text-bold">Fecha Finalización:</td><td colspan="3">:
          {{page_claims_book.page_date_finalized | date: 'dd/MM/yyyy hh:mm'}}
          <span>
            |
            <small class="label label-warning"><i class="fa fa-clock-o"></i> Finalizado en {{getFinalizationDays(page_claims_book.page_date_create, page_claims_book.page_date_finalized)}} días</small>
          </span>
        </td>
      </tr>
      <tr>
        <td class="row" colspan="4">
          <div *ngIf="files_page_created.length > 0 || files_page_finalized.length > 0">
            <div class="col-md-3 list-group" *ngFor="let file of files_page_created">
              <a href="api/claimsbook/File/{{file.file_id}}" download = "{{file.file_name}}" class="list-group-item">
                <div class="row">
                  <div class="col-md-10"  style="overflow: hidden;">
                    {{file.file_name}}
                  </div>
                  <div class="col-md-2">
                    <i class="fa fa-cloud-download" aria-hidden="true"></i>
                  </div>
                </div>
              </a>
            </div>
          </div>
          </td>
      </tr>


      <!--========================================================================-->
    </tbody>

  </table>
</section>
