<div *ngIf="derivate != null">
  <header class="box-header with-border">
    <h3 class="box-title"><i class="fa fa-file-text"></i> Respuesta Area Legal</h3>
  </header>
  <section class="box-body box-comments">
    <div class="box-comment well">
      <div class="row comment-text">
        <div *ngFor="let answer of derivate.answers">
          <br>
          Encargado: <strong> {{ answer.answer_names}} </strong>.
          <br><br>
          Respuesta: <strong> {{answer.answer_note}} </strong>
          <br><br>
          <div *ngIf="answer.files != null && answer.files.length > 0">
            <div class="col-md-3 list-group" *ngFor="let file of answer.files">
              <a href="api/claimsbook/File/{{file.file_id}}" download = "{{file.file_name}}" class="list-group-item">
                <div class="row">
                  <div class="col-md-10"  style="overflow: hidden;">
                    {{file.file_name}}
                  </div>
                  <div class="col-md-2">
                    <i class="fa fa-cloud-download" aria-hidden="true"></i>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
