  <button type="button" class="form-control btn btn-default pull-right" id="reportrange">
    <span>
      <i class="fa fa-calendar"></i> Rango de fechas
    </span>
    <i class="fa fa-caret-down"></i>
  </button>
