<div class="box-body box-comments" *ngIf="loading">
  <loading [text]="'CARGANDO INFORMACIÓN DE INCIDENTE'"></loading>
</div>
<div class="box box-default" *ngIf="!loading">
  <header class="box-header with-border">
    <h3 class="box-title"><i class="fa fa-file-text"></i> Información del ticket</h3>
    <div class="box-tools">
      <a class="btn btn-default btn-sm" onclick="window.history.go(-1); return false;">
        <i class="fa fa-arrow-left"></i> Regresar</a>
    </div>
  </header>
  <section class="box-body box-comments" *ngIf="incident !== null">
    <form (ngSubmit)="update()" #incidentForm="ngForm">
      <!-- resumen del incidente -->
      <div class="box-comment">
        <div class="comment-text">
          <div class="row">
            <div class="col-md-6">
              #{{ incident.id }}
              <span class="badge" *ngIf="incidentStatus !== undefined && incidentStatus !== null"
                    [ngClass]="{'bg-purple': incident.statusId === 1,
                  'bg-yellow': incident.statusId === 2,
                  'bg-aqua': incident.statusId === 3,
                  'bg-green': incident.statusId === 4,
                  'bg-red': incident.statusId === 5}">
                <i class="fa fa-circle-o"></i> {{ incidentStatus.name }}
              </span>
              <span *ngIf="myEmployeeProfiles.length > 0">
                <span class="badge bg-orange hand" *ngIf="incident.statusId === 1 && isMine()"
                      (click)="setInProgress()">
                  cambiar a "en progreso"
                </span>
                <span class="badge bg-orange hand" *ngIf="incident.statusId === 3 && isMine()" (click)="setClose()">
                  cerrar el ticket
                </span>
              </span>
              <br/>
              <span *ngIf="incidentType !== undefined && incidentType !== null">{{ incidentType.name }}</span>
              <span *ngIf="incidentParentCategory !== undefined && incidentParentCategory !== null">
                / <span *ngIf="!edit">{{ incidentParentCategory.name }}</span>
                <select name="principal" id="principal" *ngIf="edit || changeCategory"
                        [(ngModel)]="incidentParentCategory.id"
                        (ngModelChange)="getIncidentCategories(incidentParentCategory.id)" required>
                  <option *ngFor="let cat of incidentParentCategories" value="{{ cat.id }}">{{ cat.name }}</option>
                </select>
              </span>
            </div>
            <div class="col-md-6">
            <span class="pull-right">
              Creado <span class="help" title="{{ incident.publicationDate | date: 'medium' }}">
              {{ momento(incident.publicationDate | date: 'yyyyMMdd') }}</span><br/>
              Actualizado <span class="help" title="{{ lastActivity | date: 'medium' }}">
              {{ momento(lastActivity | date: 'yyyyMMdd') }}</span>
            </span>
            </div>
          </div>
        </div>
      </div>
      <div class="box-comment">
        <div class="comment-text">
          <h3>
            {{ incident.title }}
            <span class="badge bg-primary hand"
                  *ngIf="(!edit || (!changeAssignedUser && !changeAssignedTeam && !changeCategory && !changeSubcategory)) && incident.statusId === 2 && isMine()"
                  (click)="editMode()">
              <i class="fa fa-pencil"></i> editar
            </span>
            <button class="btn btn-xs btn-flat bg-gray-active"
                    *ngIf="edit || changeAssignedUser || changeAssignedTeam || changeCategory || changeSubcategory"
                    (click)="cancel()" type="button">
              <i class="fa fa-trash"></i> cancelar
            </button>
            <button class="btn btn-xs btn-flat bg-orange"
                    *ngIf="edit || changeAssignedUser || changeAssignedTeam || changeCategory || changeSubcategory"
                    type="submit" [disabled]="!incidentForm.valid">
              <i class="fa fa-save"></i> guardar cambios
            </button>
          </h3>
        </div>
      </div>
      <div class="box-comment">
        <div class="comment-text">
          <div class="row">
            <div class="col-md-2">Reportado por:</div>
            <div class="col-md-4">{{ incident.reporterName }}</div>
            <div class="col-md-2">Fecha de creación:</div>
            <div class="col-md-4">{{ incident.publicationDate | date: 'medium' }}</div>
          </div>
        </div>
      </div>
      <div class="box-comment" [ngClass]="{'bg-yellow-disabled': changeAssignedUser || changeAssignedTeam}">
        <div class="comment-text">
          <div class="row">
            <div class="col-md-2">Asignado a:</div>
            <div class="col-md-4">
              {{ (employee !== undefined && employee !== null) ? employee.apellido_paterno + ' ' + employee.apellido_materno + ' ' + employee.nombre : incident.assignedToPidm }}
              <span class="badge bg-orange hand" *ngIf="incident.assignedToTeamId === '00000000'" (click)="assignMe()">
                asignarme a mí
              </span>
              <span class="badge bg-gray-active hand" (click)="changeAssigned(true)"
                    *ngIf="incident.statusId === 2 && isMine()">
                <i class="fa fa-user"></i> asignar a...
              </span>
            </div>
            <div class="col-md-2">Equipo a cargo:</div>
            <div class="col-md-4">
              {{ (functionalUnit !== undefined && functionalUnit !== null) ? functionalUnit.nombre_unidad_funcional : incident.assignedToTeamId !== '00000000' ? incident.assignedToTeamId : '' }}
              <span class="badge bg-gray-active hand" (click)="changeAssigned()"
                    *ngIf="incident.statusId === 2 && isMine()">
                <i class="fa fa-users"></i> asignar a equipo...
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="box-comment bg-yellow-disabled" *ngIf="changeAssignedUser || changeAssignedTeam">
        <div class="comment-text">
          <div class="row">
            <div class="col-md-5">
              <form (ngSubmit)="searchEmployee(iUser)" #searchUserForm="ngForm">
                <div class="input-group input-group-sm">
                  <input type="text" name="user" id="user" placeholder="nombre de usuario" class="form-control" required
                         minlength="3" [(ngModel)]="iUser" #user="ngModel">
                  <span class="input-group-btn">
                    <button type="submit" class="btn btn-info btn-flat" [disabled]="!searchUserForm.valid">
                      <i class="fa fa-search"></i>
                    </button>
                  </span>
                </div>
              </form>
              <div>
                <hr/>
                <div class="box-comment" *ngIf="searchingEmployees">
                  Buscando persona... <i class="fa fa-spinner fa-pulse fa-fw"></i>
                </div>
                <div class="box-comment" *ngFor="let item of employees">
                  <div class="comment-text">
                    {{ item.apellido_paterno }} {{ item.apellido_materno }} {{ item.nombre }}<br/>
                    <i class="fa fa-user"></i> {{ item.employee_user_id }}
                    <span class="badge bg-pink-light hand" (click)="setUser(item)">
                      <i class="fa fa-user"></i> asignar a persona
                    </span>
                    <br/>
                    <i class="fa fa-users"></i> {{ item.nombre_unidad_funcional }}
                    <span class="badge bg-pink-light hand" (click)="setUserTeam(item)">
                      <i class="fa fa-users"></i> asignar a equipo
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5">
              <form (ngSubmit)="searchTeam(iTeam)" #searchTeamForm="ngForm">
                <div class="input-group input-group-sm">
                  <input type="text" name="team" id="team" placeholder="nombre del equipo" class="form-control" required
                         minlength="3" [(ngModel)]="iTeam" #team="ngModel">
                  <span class="input-group-btn">
                    <button type="submit" class="btn btn-info btn-flat" [disabled]="!searchTeamForm.valid">
                      <i class="fa fa-search"></i></button>
                  </span>
                </div>
              </form>
              <div>
                <hr/>
                <div class="box-comment" *ngIf="searchingFunctionalUnits">
                  Buscando equipo... <i class="fa fa-spinner fa-pulse fa-fw"></i>
                </div>
                <div class="box-comment" *ngFor="let item of functionalUnits">
                  <div class="comment-text">
                    <i class="fa fa-users"></i> {{ item.nombre_unidad_funcional }}
                    <span class="badge" [ngClass]="{'bg-gray': item.members === 0, 'bg-info': item.members > 0}">
                      <i class="fa fa users"></i> {{ item.members }} miembros
                    </span>
                    <span class="badge bg-pink-disabled not-allowed" *ngIf="item.members < 1">
                      <i class="fa fa-users"></i> asignar a equipo
                    </span>
                    <span class="badge bg-pink-light hand" *ngIf="item.members >= 1" (click)="setTeam(item)">
                      <i class="fa fa-users"></i> asignar a equipo
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-1"></div>
          </div>
        </div>
      </div>
      <div class="box-comment" [ngClass]="{'bg-cyan-disabled': changeCategory || changeSubcategory}">
        <div class="comment-text">
          <div class="row">
            <div class="col-md-2">Categoría:</div>
            <div class="col-md-4">
              <span *ngIf="incidentCategory !== undefined && incidentCategory !== null && (!edit)">
                {{ incidentCategory.name }}
              </span>
              <select name="categories" id="categories" *ngIf="edit || changeCategory" [(ngModel)]="incident.categoryId"
                      (ngModelChange)="getIncidentSubcategories(incident.categoryId)" required>
                <option *ngFor="let cat of incidentCategories" value="{{ cat.id }}">{{ cat.name }}</option>
              </select>
              <span class="badge bg-gray-active hand"
                    *ngIf="(!edit || !changeCategory) && incident.statusId === 2 && isMine()"
                    (click)="changeCategories()">
                <i class="fa fa-folder-open-o"></i> {{ incident.categoryId === null ? 'asignar' : 'cambiar' }}
                categoría...
              </span>
            </div>
            <div class="col-md-2">Subcategoría:</div>
            <div class="col-md-4">
              <span *ngIf="incidentSubcategory !== undefined && incidentSubcategory !== null && (!edit)">
                {{ incidentSubcategory.name }}
              </span>
              <select name="subcategories" id="subcategories" *ngIf="edit || changeCategory || changeSubcategory"
                      [(ngModel)]="incident.subCategoryId" required>
                <option *ngFor="let sub of incidentSubcategories" value="{{ sub.id }}">{{ sub.name }}</option>
              </select>
              <span class="badge bg-gray-active hand" *ngIf="!edit && incident.statusId === 2 && isMine()"
                    (click)="changeCategories(true)">
                <i class="fa fa-folder-open-o"></i> {{ incident.subCategoryId === null ? 'asignar' : 'cambiar' }}
                subcategoría...
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="box-comment">
        <div class="comment-text">
          <div class="row">
            <div class="col-md-2">Descripción:</div>
            <div class="col-md-10"><strong>{{ incident.description }}</strong></div>
          </div>
        </div>
      </div>
    </form>
  </section>
  <footer class="box-footer"></footer>
</div>

<!--<div class="box">
  <header class="box-header with-border">
    <h3 class="box-title"><i class="fa fa-file-text"></i> Información de la Incidente</h3>
    <div class="box-tools">
      <a class="btn btn-default btn-sm" onclick="window.history.go(-1); return false;">
        <i class="fa fa-arrow-left"></i> Regresar</a>
    </div>
  </header>
  <section class="box-body box-comments">-->
<!-- The timeline -->
<ul class="timeline" *ngIf="incident !== undefined && incident !== null">
  <!-- timeline item -->
  <li *ngFor="let log of incidentLogList">
    <i class="fa"
       [ngClass]="{'fa-map-signs bg-teal': log.logTypeId === 1,
       'fa-user bg-purple': log.logTypeId === 2,
       'fa-exchange bg-indigo': log.logTypeId === 3,
       'fa-tasks bg-cyan': log.logTypeId === 4,
       'fa-comments bg-yellow': log.logTypeId === 5,
       'fa-check bg-green': log.logTypeId === 6,
       'fa-archive bg-aqua': log.logTypeId === 7}"></i>
    <div class="timeline-item">
      <span class="time"><i class="fa fa-clock-o"></i> {{ log.publicationDate | date: 'medium' }}</span>
      <h3 class="timeline-header">
        <span class="text-bold text-info">{{ log.authorName | titlecase }}</span>
        de <small><i class="fa fa-users"></i> {{ log.teamName }}</small>
        <span *ngIf="log.logTypeId !== 4 && log.logTypeId !== 5 && log.logTypeId !== 6">
          {{ log.comment }}
        </span>
        <span *ngIf="log.logTypeId === 4"> registró una tarea:</span>
        <span *ngIf="log.logTypeId === 5"> escribió un comentario:</span>
        <span *ngIf="log.logTypeId === 6"> escribió una solución:</span>
        <i class="fa fa-bullhorn" *ngIf="log.isPublic"></i>
      </h3>
      <div class="timeline-body" *ngIf="log.logTypeId === 4 || log.logTypeId === 5 || log.logTypeId === 6">
        {{ log.comment }}
      </div>
    </div>
  </li>
  <!-- END timeline item -->
  <li *ngIf="incidentLog !== undefined && incident.statusId === 2">
    <i class="fa fa-commenting-o"></i>
    <div class="timeline-item">
      <h3 class="timeline-header">
        Registrar
      </h3>
      <div class="timeline-body">
        <form (ngSubmit)="newIncidentLog()" role="form" #commentForm="ngForm">
          <div class="form-group">
            <select name="activity" id="activity" [(ngModel)]="incidentLog.logTypeId" *ngIf="isMine()"
                    (ngModelChange)="incidentLog.isPublic = false" required="required" #type="ngModel">
              <option *ngFor="let key of incidentLogKeys()" value="{{ incidentLogActivityTypes[key] }}">
                {{ key }}
              </option>
            </select>
            <select name="activity" id="activity2" [(ngModel)]="incidentLog.logTypeId" *ngIf="!isMine()"
                    required="required" #type="ngModel">
              <option value="5">Comentario</option>
            </select>
          </div>
          <div class="form-group">
            <textarea class="form-control" name="comment" rows="3" required minlength="30" [disabled]="processing"
                      placeholder="Escribe tu comentario ..." [(ngModel)]="incidentLog.comment"
                      #comment="ngModel"></textarea>
            <small class="help-block text-gray-disabled">
              mín. 30 caracteres
              <span class="pull-right" *ngIf="incidentLog.comment !== undefined">
                {{ incidentLog.comment.length }} / 1000
              </span>
            </small>
          </div>
          <div class="form-group" *ngIf="incidentLog.logTypeId == 5">
            <input type="checkbox" id="public" [checked]="incidentLog.isPublic"
                   (change)="incidentLog.isPublic = !incidentLog.isPublic"
                   [disabled]="processing"/>
            <label for="public">comentario visible para el estudiante</label>
          </div>
          <button type="submit" class="btn btn-warning btn-xs" [disabled]="!commentForm.valid" *ngIf="!processing">
            Enviar
          </button>
          <button class="btn btn-xs btn-info" disabled *ngIf="processing">
            guardando...<i class="fa fa-spinner fa-pulse fa-fw"></i>
          </button>
        </form>
      </div>
    </div>
  </li>
  <li>
    <i class="fa fa-clock-o bg-gray"></i>
  </li>
</ul>
<!--  </section>
  <footer class="box-footer"></footer>
</div>-->
