<div class="row">
    <!-- main column -->
    <div class="col-md-12">
        <!-- Horizontal Form -->
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">
                    Constancia de Ingreso - Promocional &nbsp;
                    <span class="pull-right badge bg-orange help" data-toggle="tooltip" data-placement="right"
                          title="NO genera deuda. Solo verifica que el estudiante haya iniciado el pago por trámite de bachiller">
                        gratuito <i class="fa fa-question-circle-o"></i>
                  </span>
                </h3>
                <h3 class="box-title pull-right">[Grupal]</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal">
                <div class="box-body">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Escuela Académico Profesional</label>
                        <div class="col-sm-10 col-md-7">
                            <select class="form-control" [(ngModel)]="escuela" (ngModelChange)="newSearch()"
                                    name="escuela" [disabled]="schools === undefined || isSearching || processing">
                                <optgroup *ngFor="let school of schools" label="{{school.name}}">
                                    <option *ngFor="let s of school.programs" value="{{s.id}}">{{s.name}}</option>
                                </optgroup>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Período Egreso</label>
                        <div class="col-sm-10 col-md-7">
                            <select class="form-control" [(ngModel)]="periodoEgreso" (ngModelChange)="newSearch()"
                                    name="periodoEgreso"
                                    [disabled]="periods === undefined || isSearching || processing">
                                <option *ngFor="let p of periods" value="{{p.period_id}}">{{p.period_id}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10 col-md-7">
                            <button type="submit" class="btn btn-info" (click)="getGraduates(escuela, periodoEgreso)"
                                    [disabled]="!isAllSelected() || (isSearching && graduates === undefined) || processing">
                                <i class="fa fa-search"></i> Buscar Estudiantes
                            </button>
                            <button type="button" class="btn btn-default" (click)="clean()"
                                    [disabled]="!isAnySelected() || (isSearching && graduates === undefined) || processing">
                                <i class="fa fa-trash-o"></i> Limpiar
                            </button>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </form>
        </div>
        <!-- /.box -->
    </div>
    <!-- /.column (main) -->

    <div class="col-md-12" *ngIf="isSearching && graduates === undefined">
        <loading></loading>
    </div>

    <!-- students column -->
    <div class="col-md-12">
        <!-- general form elements -->
        <div class="box" [ngClass]="{ 'box-success': graduates.length, 'box-warning': !graduates.length }"
             *ngIf="graduates != undefined">
            <div class="box-header with-border">
                <h3 class="box-title">Resultados de Búsqueda</h3>
                <h4 class="small">
                    <span *ngIf="graduates">{{ graduates.length }}</span> egresados de la 
                    escuela académico profesional {{ escuela }} en el período {{ periodoEgreso }}
                </h4>
                <div class="box-tools pull-right" *ngIf="tuqpa.length">
                    <div class="has-feedback">
                        <button class="btn btn-default btn-sm" type="button" name="todos" (click)="selectAll()"
                                [disabled]="processing">
                            Seleccionar todos
                        </button>
                        <button class="btn btn-info btn-sm" type="button" name="constancia"
                                (click)="getProofOfEntry(tuqpa)" [disabled]="processing">
                            Generar Constancia
                        </button>
                    </div>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th></th>
                        <th>Código</th>
                        <th>Nombre</th>
                        <th>Período egreso</th>
                        <th>Programa</th>
                        <th>Carrera</th>
                        <th>Constancia</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngIf="graduates.length == 0">
                        <td colspan="8" class="warning text-center text-warning">
                            No se encontraron egresados en la escuela académico profesional <b>{{ escuela }}</b> para el período <b>{{
                            periodoEgreso }}</b>
                        </td>
                    </tr>
                    <tr *ngFor="let e of graduates; let i = index" [attr.data-index]="i"
                        (click)="setStudentsToProcess(e)"
                        [ngClass]="{ 'info': e.is_selected, 'success': e.payment_status == 1 && e.download, 'warning': e.payment_status == 2 && !e.is_selected, 'text-danger': e.school_id == '0' }">
                        <td>{{ i + 1 }}</td>
                        <td>
                            <i class="fa fa-check-square-o" *ngIf="e.is_selected"></i>
                            <i class="fa fa-square-o" *ngIf="!e.is_selected"></i>
                        </td>
                        <td>{{ e.student_id }}</td>
                        <td>{{ e.student_name }}</td>
                        <td>{{ e.graduation_period }}</td>
                        <td>{{ e.school_id }}</td>
                        <td>{{ e.school_name }}</td>
                        <td>
                            <i class="fa fa-cog"
                               *ngIf="!processing && e.is_selected && !e.download && e.school_id != '0' && e.proof_of_entry_url == null && e.payment_status != 2 && e.payment_status != 3">
                            </i>
                            <i class="fa fa-cog fa-spin fa-fw" *ngIf="processing && e.is_selected"></i>
                            <i class="fa fa-exclamation text-red" *ngIf="e.is_selected && e.processingError"></i>
                            <button class="btn btn-danger btn-xs" type="button" name="button" disabled
                                    *ngIf="e.is_selected && e.payment_status == 3">
                                No Egresado
                            </button>
                            <button class="btn btn-warning btn-xs" type="button" name="button" disabled
                                    *ngIf="e.is_selected && e.payment_status == 2">
                                Pendiente Pago
                            </button>
                            <a class="label label-info" *ngIf="e.download" title="Ver PDF" target="_blank"
                               href="{{ e.doc_url }}">
                                <i class="fa fa-eye"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!--/.col (students) -->
</div>
<!-- /.row -->
