<div class="row">
  <div class="col-md-3">
    <div class="box box-warning">
      <div class="box-header with-border">
        <h3 class="box-title">Principal</h3>
      </div>
      <div class="box-body no-padding">
        <ul class="nav nav-pills nav-stacked">
          <li class="hand" *ngFor="let category of categories"
              [ngClass]="{'active bg-yellow': category.id === principalActive}">
            <a (click)="getChildrenCategories(category.id)"><i class="fa fa-archive"></i>{{category.name}}</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- /. box -->
  </div>
  <div class="col-md-9">
    <div class="col-md-4">
      <div class="box box-warning">
        <div class="box-header with-border">
          <h3 class="box-title">Categorías</h3>
        </div>
        <div class="box-body no-padding">
          <ul class="nav nav-pills nav-stacked">
            <li class="hand" *ngFor="let category of childrenCategories"
                [ngClass]="{'active bg-yellow': category.id === categoryActive}">
              <a (click)="getSubcategories(category.id)"><i class="fa fa-folder"></i> {{category.name}}</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- /. box -->
    </div>
    <div class="col-md-4">
      <div class="box box-warning">
        <div class="box-header with-border">
          <h3 class="text-center box-title">Subcategorías</h3>
        </div>
        <div class="box-body no-padding">
          <ul class="nav nav-pills nav-stacked">
            <li class="hand" *ngFor="let subcategory of subcategories"
                [ngClass]="{'active bg-yellow': subcategory.id === subcategoryActive}">
              <a (click)="getTeams(subcategory)"><i class="fa fa-folder-o"></i> {{subcategory.name}}</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- /. box -->
    </div>
    <div class="col-md-4">
      <div class="box box-warning" *ngIf="subcategory !== null && subcategory !== undefined">
        <div class="box-header with-border">
          <h3 class="text-center box-title">Equipos</h3>
          <div class="pull-right">
            <button class="btn btn-warning btn-xs" (click)="viewAddTeamForm()">añadir equipo</button>
          </div>
        </div>
        <div class="box-body no-padding">
          <ul class="nav nav-pills nav-stacked">
            <li *ngFor="let team of teams">
              <a>
                <i class="fa fa-users"></i> {{team.functionalUnitName}}
                <button class="btn btn-xs btn-danger" type="button" (click)="delete(team)">eliminar</button>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!-- /. box -->
      <div class="box box-warning" *ngIf="showAddTeamForm && (subcategory !== null && subcategory !== undefined)">
        <div class="box-header with-border">
          <h3 class="text-center box-title">Añadir equipos</h3>
          <div class="box-tools pull-right">
            <button class="btn btn-default btn-xs" (click)="viewAddTeamForm()"><i class="fa fa-times"></i></button>
          </div>
        </div>
        <div class="box-body no-padding">
          <form (ngSubmit)="searchTeams(teamName)" #teamForm="ngForm">
            <div class="input-group input-group-sm">
              <input class="form-control" id="teamName" name="teamName" minlength="3" placeholder="nombre de equipo"
                     required type="text" [disabled]="searching || processing" (ngModelChange)="functionalUnits = []"
                     [(ngModel)]="teamName" #team="ngModel">
              <span class="input-group-btn">
              <button class="btn btn-info btn-flat" type="submit"
                      [disabled]="teamForm.invalid || searching || processing">
                <i class="fa fa-search"></i>
              </button>
            </span>
            </div>
          </form>
          <ul class="nav nav-pills nav-stacked">
            <li class="text-center" *ngIf="searching">buscando... <i class="fa fa-spinner fa-pulse fa-fw"></i></li>
            <li *ngFor="let team of functionalUnits">
              <small [ngClass]="{'text-muted': team.members === 0}">
                <i class="fa fa-users"></i> {{ team.nombre_unidad_funcional }} ({{ team.members }})
              </small>
              <button class="btn btn-xs bg-aqua" (click)="addTeam(team)"
                      [disabled]="team.members === 0 || processing">
                añadir
              </button>
            </li>
          </ul>
        </div>
      </div>
      <!-- /. box -->
    </div>
  </div>
</div>
