<div class="container-fluid">
  <div class="box box-body">
      <div class="overlay" *ngIf="load === true">
        <i class="fa fa-refresh fa-spin"></i>
      </div>
      <div class="form-group row">
        <div class="col-sm-4">
          <label for="year">Año<span class="text-danger">*</span></label>
          <select class="form-control" name="year" placeholder="Seleccione Año" (change)="changeYear($event.target.value)">
            <option *ngFor="let year of list_year" value="{{year}}">{{year}}</option>
          </select>
        </div>

        <div class="col-sm-4">
          <label for="campus">Origen<span class="text-danger">*</span></label>
          <select class="form-control" name="origin" *ngIf="list_origins != null" (change)="changeOrigin($event.target.value)">
            <option *ngFor="let origin of list_origins" value="{{origin.id}}">{{origin.name}}</option>
          </select>
        </div>
        <div class="col-sm-4">
          <label for="campus">Rango de Fechas<span class="text-danger">*</span></label>
          <ldr-range-dates (setDates)="getDates($event)"></ldr-range-dates>
        </div>

      </div>
  </div>

  <div class="box box-body">
    <div class="overlay" *ngIf="load === true">
      <i class="fa fa-refresh fa-spin"></i>
    </div>
    <div class="box-header with-border">
      <h4 class="box-title">ESTADÍSTICAS DE RECLAMOS REGISTRADOS EN EL LIBRO DE RECLAMACIONES POR CAMPUS</h4><br><br>
      <div class="row">
        <div class="col-sm-4">
          <h5 class="box-title">Año: <span *ngIf="year">{{year}}</span><span *ngIf="!year">Todos.</span>  ;</h5>
        </div>
        <div class="col-sm-4">
          <h5 class="box-title">Origen: <span *ngIf="origin">{{origin}}</span><span *ngIf="!origin">Todos.</span> ;</h5>
        </div>
        <div class="col-sm-4">
          <h5 class="box-title" *ngIf="date_start && date_end">Rango fechas: {{date_start | date: 'dd/MM/yyyy'}} - {{date_end | date: 'dd/MM/yyyy'}} </h5>
        </div>
      </div>
    </div>

    <div class="row box-body" *ngIf="list_pagesofarea != null && list_pagesofarea.length > 0">
      <div class="col-sm-12 table-responsive">
        <table class="table table-striped table-bordered" >
          <thead>
            <tr>
              <th>Campus</th>
              <th title="Cantidad de Reclamos Físicos Registrados en Libro de Reclamaciones">Físico</th>
              <th title="Cantidad de Reclamos Digitales Registrados en Libro de Reclamaciones">Digital</th>
              <th title="Cantidad de Reclamos Registrados en Libro de Reclamaciones">Total</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of list_pagesofarea">
              <td>{{data.campus_name}}</td>
              <td>{{data.page_of_campus_physical}}</td>
              <td>{{data.page_of_campus_digital}}</td>
              <td>{{data.page_of_campus}}</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td><b>Total: {{total}}</b></td>
            </tr>
          </tbody>

        </table>
      </div>
      <div class="col-sm-12">
        <p-chart type="pie" [data]="data_pie"></p-chart>
      </div>

    </div>
  </div>
</div>
