<div class="container-fluid">
  <div class="box box-body">
      <div class="overlay" *ngIf="load === true">
        <i class="fa fa-refresh fa-spin"></i>
      </div>
      <div class="form-group row">
        <div class="col-sm-6">
          <label for="year">Número de días<span class="text-danger">*</span></label>
          <input type="number" name="numberDays" value="10" class="form-control" [(ngModel)]="number_days">
        </div>
        <div class="col-sm-6">
          <label for="year"> <span class="text-danger"> </span></label>
          <input type="button" name="ver" value="ver" class="form-control btn btn-info btn-md" (click) = "getReport()">
        </div>
      </div>
  </div>

  <div class="box box-body">
    <div class="overlay" *ngIf="load === true">
      <i class="fa fa-refresh fa-spin"></i>
    </div>
    <div class="box-header with-border">
      <h5 class="box-title">NÚMERO DE RECLAMOS ATENDIDOS EN {{number_days}} DÍAS</h5>
    </div>

    <div class="row box-body" *ngIf="ldr_report != null && ldr_report.length > 0">
      <div class="col-sm-12 table-responsive">
        <table class="table table-striped table-bordered" >
          <thead>
            <tr>
              <th>Número de días</th>
              <th>Reclamos Atendidos</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of ldr_report">
              <td>{{data.number_day}}</td>
              <td>{{data.pages_number_day}}</td>
            </tr>
            <tr>
              <td></td>
              <td><b>Total: {{total}}</b></td>
            </tr>
          </tbody>

        </table>
      </div>
      <div class="col-sm-12">
        <p-chart type="pie" [data]="data_pie"></p-chart>
      </div>

    </div>
  </div>
</div>
