<div class="container-fluid">
  <div class="box box-body">
      <div class="overlay" *ngIf="load === true">
        <i class="fa fa-refresh fa-spin"></i>
      </div>
      <div class="form-group row">
        <div class="col-sm-6">
          <label for="dates">Rango de fechas<span class="text-danger">*</span></label>
          <!--================================================archivos======================================================-->
          <ldr-range-dates (setDates)="getDates($event)"></ldr-range-dates>
          <!--=================================================================================================================-->
        </div>
        <div class="col-sm-6">
          <label for=""> <span class="text-danger"> </span></label>
          <input type="button" name="ver" value="ver" class="form-control btn btn-info btn-md" (click) = "getReport()">
        </div>

      </div>
  </div>

  <div class="box box-body">
    <div class="overlay" *ngIf="load === true">
      <i class="fa fa-refresh fa-spin"></i>
    </div>

    <div class="box-header with-border">
      <h5 class="box-title">RECLAMOS POR FECHA ({{date_start | date: 'dd/MM/yyyy'}} - {{date_end | date: 'dd/MM/yyyy'}})</h5>
    </div>



    <div class="row box-body" *ngIf="ldr_report != null && ldr_report.length > 0">
      <div [ngClass]="{'col-sm-12': !report_details, 'col-sm-6': report_details}" class=" table-responsive">
        <table class="table table-striped table-bordered" >
          <thead>
            <tr>
              <th>Fecha</th>
              <th>Ingresaron</th>
              <th>Finalizaron</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of ldr_report">
              <td>{{data.date | date: 'dd/MM/yyyy'}}</td>
              <td>{{data.pages_create_date}}</td>
              <td>{{data.pages_end_date}}</td>
              <td>
                <label class="btn btn-info hidden-print" (click)="viewDetails(data)">
                  <i aria-hidden="true" class="fa fa-eye"></i>
                  Ver detalles
                </label>
              </td>
            </tr>
          </tbody>

        </table>
      </div>
      <div class="col-sm-6 table-responsive" *ngIf="report_details">
        <div class="direct-chat direct-chat-warning">
          <div class="box-header with-border">
            <h3 class="box-title">Detalles de fecha</h3><br>
            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" (click)="clearDetails()"><i class="fa fa-times"></i>
              </button>
            </div>
          </div>

          <div class="box-body">
            <div class="row">
              <div class="col-md-3"><h4 class="box-title">Fecha : {{report_details.date | date: 'dd/MM/yyyy'}}</h4><br></div>
              <div class="col-md-3"><h4 class="box-title">Ingresaron : {{report_details.pages_create_date}}</h4><br></div>
              <div class="col-md-3"><h4 class="box-title">Finalizaron : {{report_details.pages_end_date}}</h4><br></div>
            </div>
            <h4 class="box-title">Reclamos que ingresaron:</h4>
            <div class="table-responsive">
              <table class="table table-striped table-bordered">
                <thead>
                  <th>Dependencia</th>
                  <th>Campus</th>
                  <th>Año</th>
                  <th>Número</th>
                  <th>Fecha creación</th>
                </thead>
                <tbody>
                  <tr *ngFor="let data of report_details.admitted_claims">
                    <td>{{data.page_div}}</td>
                    <td>{{data.campus_name}}</td>
                    <td>{{data.page_year}}</td>
                    <td>{{data.page_numeration}}</td>
                    <td>{{data.page_date_create | date: 'dd/MM/yyyy'}}</td>
                  </tr>
                </tbody>
              </table>
              <br><br>
              <h4 class="box-title">Reclamos que finalizaron:</h4>
              <table class="table table-striped table-bordered">
                <thead>
                  <th>Dependencia</th>
                  <th>Campus</th>
                  <th>Año</th>
                  <th>Número</th>
                  <th>Fecha creación</th>
                </thead>
                <tbody>
                  <tr *ngFor="let data of report_details.claims_completed">
                    <td>{{data.page_div}}</td>
                    <td>{{data.campus_name}}</td>
                    <td>{{data.page_year}}</td>
                    <td>{{data.page_numeration}}</td>
                    <td>{{data.page_date_create | date: 'dd/MM/yyyy'}}</td>
                  </tr>
                </tbody>
              </table>
            </div>


          </div>
        </div>

      </div>

    </div>
  </div>
</div>
