<div class="container-fluid">
  <div class="box box-body">
      <div class="overlay" *ngIf="load === true">
        <i class="fa fa-refresh fa-spin"></i>
      </div>
      <div class="form-group row">
        <div class="col-sm-3">
          <label for="year">Año<span class="text-danger">*</span></label>
          <select class="form-control" name="year" placeholder="Seleccione Año" (change)="changeYear($event.target.value)">
            <option *ngFor="let year of list_year" value="{{year}}">{{year}}</option>
          </select>
        </div>

        <div class="col-sm-3">
          <label for="campus">Campus<span class="text-danger">*</span></label>
          <select class="form-control" name="campus" (change)="changeCampus($event.target.value)">
            <option *ngFor="let campus of list_campus" value="{{campus.id}}">{{campus.name}}</option>
          </select>
        </div>

        <div class="col-sm-3">
          <label for="campus">Origen<span class="text-danger">*</span></label>
          <select class="form-control" name="origin" *ngIf="list_origins != null" (change)="changeOrigin($event.target.value)">
            <option *ngFor="let origin of list_origins" value="{{origin.id}}">{{origin.name}}</option>
          </select>
        </div>

        <div class="col-sm-3">
          <label for="campus">Rango de Fechas<span class="text-danger">*</span></label>
          <ldr-range-dates (setDates)="getDates($event)"></ldr-range-dates>
        </div>

      </div>
  </div>

  <div class="box box-body">
    <div class="overlay" *ngIf="load === true">
      <i class="fa fa-refresh fa-spin"></i>
    </div>

    <div class="box-header with-border">
      <h4 class="box-title">TRAZABILIDAD RECLAMOS FINALIZADOS</h4><br><br>
      <div class="row">
        <div class="col-sm-3">
          <h5 class="box-title">Año: <span *ngIf="year">{{year}}</span><span *ngIf="!year">Todos.</span>  ;</h5>
        </div>
        <div class="col-sm-3">
          <h5 class="box-title">Campus: <span *ngIf="campus">{{campus}}</span><span *ngIf="!campus">Todos.</span> ;</h5>
        </div>
        <div class="col-sm-3">
          <h5 class="box-title">Origen: <span *ngIf="origin">{{origin}}</span><span *ngIf="!origin">Todos.</span> ;</h5>
        </div>
        <div class="col-sm-3">
          <h5 class="box-title" *ngIf="date_start && date_end">Rango fechas: {{date_start | date: 'dd/MM/yyyy'}} - {{date_end | date: 'dd/MM/yyyy'}} </h5>
        </div>
      </div>
    </div>

    <div class="row box-body" *ngIf="ldr_report != null && ldr_report.length > 0">
      <div class="col-sm-12 table-responsive">
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>Reclamo</th>
              <th>Derivación</th>
              <th>Respuesta Area Involucrada</th>
              <th>Respuesta Area Legal</th>
              <th>Finalización</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of ldr_report">
              <td>{{data.page_campus}} - {{data.page_year}} - {{data.page_numeration}}</td>
              <td>
                <div class="row">
                  <div *ngFor="let areas of data.derivate_involved_area">
                    <div class="col-sm-10">{{areas.name_area}}</div>
                    <div class="col-sm-2">{{areas.value}}</div>
                  </div>
                </div>
              </td>
              <td>
                <div class="row">
                  <div *ngFor="let areas of data.answer_involved_area">
                    <div class="col-sm-10">{{areas.name_area}}</div>
                    <div class="col-sm-2">{{areas.value}}</div>
                  </div>
                </div>
              </td>
              <td>{{data.days_legal_area}}</td>
              <td>{{data.days_finalized}}</td>
              <td>{{data.days_end}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!--<div class="col-sm-12">
        <p-chart type="pie" [data]="data_pie"></p-chart>
      </div>-->

    </div>
  </div>
</div>
