<div class="container-fluid">
  <div class="box box-body">
      <div class="overlay" *ngIf="load === true">
        <i class="fa fa-refresh fa-spin"></i>
      </div>
      <div class="form-group row">
        <div class="col-sm-3">
          <label for="year">Año<span class="text-danger">*</span></label>
          <select class="form-control" name="year" placeholder="Seleccione Año" (change)="changeYear($event.target.value)">
            <option *ngFor="let year of list_year" value="{{year}}">{{year}}</option>
          </select>
        </div>

        <div class="col-sm-3">
          <label for="campus">Campus<span class="text-danger">*</span></label>
          <select class="form-control" name="campus" (change)="changeCampus($event.target.value)">
            <option *ngFor="let campus of list_campus" value="{{campus.id}}">{{campus.name}}</option>
          </select>
        </div>

        <div class="col-sm-3">
          <label for="campus">Origen<span class="text-danger">*</span></label>
          <select class="form-control" name="origin" *ngIf="list_origins != null" (change)="changeOrigin($event.target.value)">
            <option *ngFor="let origin of list_origins" value="{{origin.id}}">{{origin.name}}</option>
          </select>
        </div>
        <div class="col-sm-3">
          <label for="campus">Rango de Fechas<span class="text-danger">*</span></label>
          <ldr-range-dates (setDates)="getDates($event)"></ldr-range-dates>
        </div>

        <!--<div class="col-sm-3">
          <label for="campus">Fecha<span class="text-danger">*</span></label>
          <div class="input-group">
              <button type="button" class="btn btn-default pull-right" id="reportrange">
                <span>
                  <i class="fa fa-calendar"></i> Rango de fechas
                </span>
                <i class="fa fa-caret-down"></i>
              </button>
          </div>

        </div>-->

      </div>
  </div>

  <div class="box box-body">
    <div class="overlay" *ngIf="load === true">
      <i class="fa fa-refresh fa-spin"></i>
    </div>
    <div class="box-header with-border">
      <h4 class="box-title">ESTADÍSTICAS DE RECLAMOS REGISTRADOS EN EL LIBRO DE RECLAMACIONES POR OFICINA O SERVICIO</h4><br><br>
      <div class="row">
        <div class="col-sm-3">
          <h5 class="box-title">Año: <span *ngIf="year">{{year}}</span><span *ngIf="!year">Todos.</span>  ;</h5>
        </div>
        <div class="col-sm-3">
          <h5 class="box-title">Campus: <span *ngIf="campus">{{campus}}</span><span *ngIf="!campus">Todos.</span> ;</h5>
        </div>
        <div class="col-sm-3">
          <h5 class="box-title">Origen: <span *ngIf="origin">{{origin}}</span><span *ngIf="!origin">Todos.</span> ;</h5>
        </div>
        <div class="col-sm-3">
          <h5 class="box-title" *ngIf="date_start && date_end">Rango fechas: {{date_start | date: 'dd/MM/yyyy'}} - {{date_end | date: 'dd/MM/yyyy'}} </h5>
        </div>
      </div>
    </div>

    <div class="row box-body" *ngIf="list_pagesofarea != null && list_pagesofarea.length > 0">
      <div [ngClass]="{'col-sm-12': !report_details, 'col-sm-6': report_details}" class=" table-responsive">
        <table class="table table-striped table-bordered" >
          <thead>
            <tr>
              <th>Oficina o Área o Servicio</th>
              <th title="Cantidad de Reclamos Registrados en Libro de Reclamaciones">Cantidad</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of list_pagesofarea">
              <td>{{data.area_name}}</td>
              <td>{{data.page_of_area}}</td>
              <td>
                <label class="btn btn-info hidden-print" (click)="viewDetails(data)">
                  <i aria-hidden="true" class="fa fa-eye"></i>
                  Ver detalles
                </label>
              </td>
            </tr>
            <tr>
              <td></td>
              <td><b>Total: {{total}}</b></td>
              <td></td>
            </tr>
          </tbody>

        </table>
      </div>

      <div class="col-sm-6 table-responsive" *ngIf="report_details">
        <div class="direct-chat direct-chat-warning">
          <div class="box-header with-border">
            <h3 class="box-title">Detalles de reclamos</h3><br>
            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" (click)="clearDetails()"><i class="fa fa-times"></i>
              </button>
            </div>
          </div>

          <div class="box-body">
            <div class="row">
              <div class="col-md-6"><h4 class="box-title">Oficina o Área o Servicio : {{report_details.area_name}}</h4><br></div>
              <div class="col-md-6"><h4 class="box-title">Cantidad : {{report_details.page_of_area}}</h4><br></div>
            </div>
            <h4 class="box-title">Reclamos:</h4>
            <div class="table-responsive">
              <table class="table table-striped table-bordered">
                <thead>
                  <th>Dependencia</th>
                  <th>Campus</th>
                  <th>Año</th>
                  <th>Número</th>
                  <th>Fecha creación</th>
                </thead>
                <tbody>
                  <tr *ngFor="let data of report_details.claims_area">
                    <td>{{data.page_div}}</td>
                    <td>{{data.campus_name}}</td>
                    <td>{{data.page_year}}</td>
                    <td>{{data.page_numeration}}</td>
                    <td>{{data.page_date_create | date: 'dd/MM/yyyy'}}</td>
                  </tr>
                </tbody>
              </table>
            </div>


          </div>
        </div>

      </div>


      <div class="col-sm-12">
        <p-chart type="pie" [data]="data_pie"></p-chart>
      </div>

    </div>
  </div>
</div>
