﻿<div class="row" ng-controller="reportageCtrl" ng-init="init()">
	<div class="col-sm-12">
		<section class="panel">
			<header class="panel-heading">
				<strong>Reporteria {{office.name}}</strong>
			</header>
			<div class="panel-body">
				<div class="row">
					<div class="col-sm-12">
						<div>
							<ul class="nav nav-tabs">
								<li ng-repeat="action in action_document" class="{{action.active}} hand" ng-click="selectActionSection(action.id)">
									<a>
										<span class="hidden-xs hidden-sm">{{action.name}}</span>
										<span class="visible-xs visible-sm glyphicon glyphicon-{{action.icon}}"></span>
									</a>
								</li>
							</ul>
							<div class="panel-body">
								Personaliza tu reporte por los filtros de busqueda
								<form name="filter_form"></form>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-xs-12 m-t">
												<div class="input-group">
													<span class="input-group-addon">
														<span class="hidden-xs hidden-sm">Solicitud #</span>
														<span class="visible-xs visible-sm glyphicon glyphicon-file"></span>
													</span>
													<input class="form-control" type="text" name="request_id" ng-model="filter_form.request_id" placeholder="2016000000">
												</div>
											</div>
											<div class="col-sm-6 col-xs-12 m-t">
												<div class="input-group">
													<span class="input-group-addon">
														<span class="hidden-xs hidden-sm">Fecha</span>
														<span class="visible-xs visible-sm glyphicon glyphicon-calendar"></span>
													</span>
													<input class="form-control" type="text" name="creation_date" ng-model="filter_form.creation_date" placeholder="dd/mm/aaaa">
												</div>
											</div>
										</div>
									</div>
									<div class="form-group">
										<button 
											class="btn btn-primary" 
											ng-disabled="!filter_form.request_id && !filter_form.creation_date" 
											ng-click="searchRequest(filter_form.request_id,filter_form.creation_date)"
										>
											<span class="hidden-xs hidden-sm">Buscar</span>
											<span class="visible-xs visible-sm glyphicon glyphicon-search"></span>
										</button>
										<button class="pull-right btn btn-default" ng-click="filter_form.request_id=''; filter_form.creation_date='';">
											<span class="hidden-xs hidden-sm">Limpiar Filtros</span>
											<span class="visible-xs visible-sm glyphicon glyphicon-remove"></span>
										</button>
									</div>
								</form>
								<div ng-if="request_found.length">
									{{filter_form}}
									<div class="table-responsive">
										<table class="table table-bordered">
											<thead>
												<tr>
													<th class="text-center">
														Fecha
													</th>
													<th class="text-center">
														Solicitud #
													</th>
													<th class="text-center">
														Oficina
													</th>
													<th class="text-center">
														Usuario
													</th>
													<th class="text-center">
														Documento
													</th>
													<th class="text-center">
														Alumno
													</th>
													<th class="text-center">
														Estado
													</th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="request in request_found | filter:{estado_id : filter_form.request_status_id}:true">
													<td class="text-center">
														{{request.fechasolicitud_date | date:"dd/MM/yyyy"}}
													</td>
													<td class="text-center">
														{{request.id}}
													</td>
													<td class="text-center">
														<span ng-repeat="office in offices | filter:{id:request.oficina_id}:true">
															{{office.nombre_str}}
														</span>
													</td>
													<td class="text-center">
														{{request.oficinausuario_id}}
													</td>
													<td class="text-center">
														<span ng-repeat="document in documents | filter:{id:request.documento_id}:true">
															{{document.nombre_str}}
														</span>
													</td>
													<td class="text-center">
														{{request.alumno_text_str}}
													</td>
													<td class="text-center">
														<span ng-repeat="state in request_state | filter:{id:request.estado_id}:true">
															{{state.descripcion_str}}
														</span>
													</td>
												</tr>
											</tbody>
										</table>
									</div>

									Derivaciones - Emisiones
									<hr>

								</div>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>