<loading *ngIf="loading"></loading>

<div *ngIf="!loading"class="card card-primary">
  <header class="header">
    <h3 class="title"><i class="fa fa-calendar"></i> Horarios al 
      <span class="text-red">{{fech.getDate()}} de {{config.getMonthName(fech.getMonth()+1)}} de {{fech.getFullYear()}} a las 
        {{fech.getHours()}}:{{fech.getMinutes()<10? '0'+fech.getMinutes():'' + fech.getMinutes()}} horas</span></h3>
  </header>
  <div *ngIf="errorMessage" class="body pb-0">
    <div class="callout callout-warning">
      <h4>{{errorMessage}}</h4>
      <p>Por el momento el horario de esta oferta académica no esta disponible.</p>
    </div>
  </div>
  <div class="body" *ngIf="!errorMessage">
    <h2 class="text-center mt-0">{{courseName}} - NRC {{dataURL.nrcpadre}}</h2>
    <div *ngIf="contentChild" class="text-center">
      <div class="col-md-3">
        <ul class="list-unstyled mb card">
          <li class="text-bold">
            <h4>Leyenda:</h4>
          </li>
          <li class="text-bold">
            <h4><i class="fa fa-bookmark text-green"></i> Horario principal</h4>
          </li>
          <li class="text-bold">
            <h4><i class="fa fa-bookmark text-orange"></i> Horario ligado</h4>
          </li>
        </ul>
      </div>
      <div class="col-md-9">
        <ul class="scrollViewX text-center card">
          <li class="scrollViewItem" *ngFor="let course of coursesChildren; let i = index">
            <button class="btn btn-outline-primary" [ngClass]="{'bg-primary':course.nrc==nrcChild}" (click)="getChildSchedule(course.nrc)">
              Liga {{i+1}} - Vacantes {{course.vacanciesavailable}}<br>
              NRC {{dataURL.nrcpadre}} (Principal)<br>
              NRC {{course.nrc}} (Ligado)
            </button>
          </li>
        </ul>
      </div>
    </div>

    <modal-message-course></modal-message-course>
  </div>
</div>

<div *ngIf="!loading">
  
  <schedule-student *ngIf="!loadingSchedule && schedule.length > 0" [schedule]="schedule" [offeredCourse]="true" [verifyAsignature]="false"></schedule-student>
  <loading *ngIf="loadingSchedule" [text]="'Cargando horario...'"></loading>

</div>
