//-----------------Sobre escribiendo el tema de AdminLTE------------------------
blockquote
  border: 1px solid $gray-200
  border-left: 5px solid $gray-500

a
  color: $primary
  font-weight: $font-Bold
  &:hover, &:active, &:focus
    color: lighten($primary, 10%)
  &>*
    font-weight: $font-Normal

.sidebar-menu
  a
    font-weight: $font-Normal !important

.dropdown-menu
  border: 1px solid $gray-400
  +boxShadow(0px, 4px, 8px, rgba($black,.5))

// menú de breadcrumb
.content-header
  &>.breadcrumb
    &>li
      &>a:hover
        color: $primary
      &+li:before
        content: '/'

.modal-content
  +borderRadius(6px)

@media (max-width: 767px)
  // cambiando el espaciado cuando sea pequeño
  .fixed .content-wrapper, .fixed .right-side
    padding-top: 50px !important
  .widget-user .widget-user-header
    height: auto
    padding-bottom: 20px
