// Sobre escribiendo los estilos para primeNG
.span100
  width: 100%!important

.input80
  width: 80%!important

.pachak
  width: 100% !important

.isqon-chunka-pichqayoq
  width: 95% !important

// zindex del p-growl
.ui-growl
    z-index: 1040 !important

.small-box >
  .inner
    height: 92px
    overflow: hidden

.ui-autocomplete-panel
  .ui-autocomplete-list
    padding: 0 !important
  .ui-autocomplete-list-item
    padding-top: 10px !important
    padding-bottom: 10px !important
    +borderRadius(0)
    &:hover
      background-color: $primary !important
.ui-autocomplete
  display: block
  .ui-autocomplete-input
    color: $secondary
    font-weight: $font-Bold
    width: 100% !important
