<loading *ngIf="loading"></loading>

<section *ngIf="!loading" class="card card-primary">
  <header class="header">
    <h3 class="title"><i class="fa fa-book"></i> {{(nameCourse == null)? "Oferta académica":nameCourse }}</h3>
  </header>
  <article class="body p-0 pt">
    <div *ngIf="errorMessage != null" class="callout callout-warning m mt-0">
      <h4>Mensaje</h4>
      <p>{{errorMessage}}</p>
    </div>

    <div *ngIf="errorMessage == null">
      <modal-message-course [term]="term"></modal-message-course>
      <div class="col-md-6 col-lg-4 col-sm-12" *ngFor="let course of courses">
        <a class="card card-drible" [ngClass]="{'card-clickable':course.vacanciesavailable > 0}" (click)="redirectSchedule(course)">
          <div class="column" [ngClass]="{'bg-aqua':course.vacanciesavailable > 0, 'bg-yellow':course.vacanciesavailable < 1}"></div>
          <div class="body">
            <p>Vacantes: <b>{{course.vacanciesavailable}}</b></p>
            <p>Sección: <b>{{course.idseccion}}</b></p>
            <p class="text-truncate-nsm" [attr.data-toggle]="'tooltip'" [attr.data-placement]="'top'" [attr.data-original-title]="course.teacher">Docente: <b>{{course.teacher}}</b></p>
            <h3 class="title"><b>NRC:</b> {{course.nrc}} <small class="text-bold text-orange" *ngIf="course.nroligas>0">(Ligado)</small></h3>
            <button *ngIf="course.vacanciesavailable > 0" class="btn btn-info btn-xs pull-right">
              <i class="fa fa-eye"></i> Ver horario
            </button>
            <button *ngIf="course.vacanciesavailable == 0" class="btn bg-yellow btn-xs pull-right" disabled>
              <i class="fa fa-eye-slash"></i> Sin horario
            </button>
          </div>
          <div class="icon">
            <i class="fa fa-2x" [ngClass]="{'text-aqua fa-calendar':course.vacanciesavailable > 0, 'text-yellow fa-calendar-o':course.vacanciesavailable < 1}"></i>
          </div>
        </a>
      </div>
    </div>
  </article>
</section>
