<section class="panel" ng-init="init()">
  <header class="panel-heading">
    <strong>
      Ficha Socioeconomica </strong>
    <div class="clearfix"></div>
  </header>
  <div id="ficha-nav">
    <div class="abefore"><span></span></div><!--
  --><div class="ficha-res-container">
      <ul class="ficha-res">
        <li ng-repeat="step in steps" ng-class="{active: (current_step == step.step)}">
          <a ui-sref="socRecord.step({'step':step.step})">
            <span class="ficha-res-cirle"> <i class="fa fa-{{step.icon}}"></i> </span>
            <span class="ficha-res-text"> {{step.short_name}} </span>
          </a>
        </li>
      </ul>
    </div><!--
 --><div class="anext"><span></span></div>
  </div>
  <div class="panel-body" ui-view>
    <div class="row">
      <blockquote class="ficha-quote hidden-xs bs-callout bs-callout-info col-sm-9 col-xs-12">
        <h4>Ficha Socioeconómica - </h4>
        <p>Hola! A continuación registrarás datos de tu <strong>ficha socioeconómica</strong>, para lo cuál debes tener en cuenta:</p>
        <ul class="">
          <li class="">Los datos que brindes será información confidencial exclusiva para la Universidad Continental.</li>
          <li class="">Los datos registrados tendrá validéz de una Declaración Jurada.</li>
          <li class="">Cualquier inexactitud dolosa u omisión en la información proporcionada quedará sujeta a las sanciones reglamentarias que correspondan.</li>
          <li class=" active">Si tienes preguntas puedes comunicarte a:
            <ul>
            <li>Huancayo- (064) 481430</li>
            <li>Arequipa - (054) 412030</li>
          </ul></li>
        </ul>
      </blockquote>
      <blockquote ng-class="(verifyTotal() <100)?'bs-callout-danger':'bs-callout-success'" class="ficha-quote hidden-xs bs-callout  col-sm-3 col-xs-12">
        <h2>{{verifyTotal()}} %</h2>
      </blockquote>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-3 ficha-item hand" ng-repeat="step in steps" ng-click="goStep(step.step)">
        <section class="">
          <i class="fa fa-{{step.icon}} fa-5x"></i>
          <span style="font-size:3em;" ng-class="step.percent=='100'?'text-success':'text-danger'"> {{step.percent}} <small style="font-size:0.6em">%</small></span>
          <br>
          <span>{{step.name}}</span>
          <!-- <span class="text-danger"> {{step.errors}} </span> -->
        </section>
      </div>
    </div>
  </div>
  <div class="panel-body" ng-show="current_step != 0">
    <nav>
      <ul class="pager">
        <li class="previous">
          <a ng-if="beforeStep(current_step) >= 1"
             ui-sref="socRecord.step({step:beforeStep(current_step)})">
            <span aria-hidden="true">&larr;</span>
            Anterior
          </a>
        </li>
        <li>
          <a ui-sref="socRecord"> <i class="fa fa-th"></i> Principal</a>
        </li>
        <li class="next">
          <a ng-if="nextStep(current_step) <= 12"
             ui-sref="socRecord.step({step:nextStep(current_step)})">
            Siguiente
            <span aria-hidden="true">&rarr;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</section>
