<div class="box box-default">
  <div class="overlay" *ngIf="load === true">
    <i class="fa fa-refresh fa-spin"></i>
  </div>
  <header class="box-header with-border">
    <div>
      <div class="box-tools pull-right" style = "z-index: 1;">
        <a (click)="returnListPages()" class="btn btn-sm btn-default">
          <i class="fa fa-arrow-left"></i> Regresar</a>
      </div>
      <div class="clearfix"></div>
    </div>

  </header>
<!--================================================detalle======================================================-->
  <ldr-claims-details [page_id]="page_id" (getState)="setStatePage($event)"></ldr-claims-details>
<!--=================================================================================================================-->
<!--================================================Derivación======================================================-->
  <ldr-claims-derivates [page_id]="page_id" [state]="state"></ldr-claims-derivates>
<!--=================================================================================================================-->
<!--================================================Respuesta======================================================-->
  <ldr-answer-claim-book *ngIf="state === config.LDR_STATE_PAGE_RESOLVED || state === config.LDR_STATE_PAGE_FINALIZED" [page_id]="page_id"></ldr-answer-claim-book>
<!--=================================================================================================================-->

  <div class="alert alert-danger" role="alert" *ngIf="msg_error.length > 0">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
      {{msg_error}}
  </div>
  <!--================================================acciones======================================================-->

  <!--==============================================================================================================-->

</div>
