<div class="panel" ng-init="init()">
	<div class="panel-heading">
		Reporte de Solicitudes
	</div>
	<div class="panel-body ">
		<div class="p-sm ui-tools-area b-b">
	<div class="row">
    <div class="col-xs-12 col-sm-4">
      <label>Documento</label>
      <div class="input-group">
        <select ng-model="document_search"  class="form-control">
          <option ng-repeat="document in application_documents"  value="{{document.id}}">{{document.nombre_str}} </option>
        </select>
        <span class="input-group-addon hand"><i class="glyphicon glyphicon-pencil"></i></span>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
			<label>Estado</label>
			<div class="input-group">
        <select ng-model="state_search"  class="form-control">
          <option ng-repeat="state in application_states"  value="{{state.id}}">{{state.descripcion_str}} </option>
        </select>
				<span class="input-group-addon hand"><i class="glyphicon glyphicon-pencil"></i></span>
			</div>
		</div>
    <div class="col-xs-12 col-sm-4">
			<label>Alumno</label>
			<div class="input-group">
				<input name="alumno_id" type="text" class="form-control" data-type="text" ng-model="id_student_search">
				<span class="input-group-addon hand"><i class="glyphicon glyphicon-pencil"></i></span>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 m-t ">
			<input type="button" class="btn btn-primary btn-sm" ng-click="searchApplications(id_student_search,document_search,state_search)" value="Buscar">
			<input type="button" class="btn btn-success btn-sm" ng-click="table2excel()" value="Descargar" ng-show="applicationsByStudent.length">
		</div>
	</div>
</div>
<div class="well">
	<p>{{msg}}</p>
</div>
<div ng-show="applicationsByStudent.length">
		<div class="table-responsive" >
			<table  class="table table-bordered table-hover" id="table-applications-by-student">
				<thead>
					<tr>
						<th>Alumno </th>
						<th>Solicitud</th>
						<th>Documento</th>
						<th>Fecha</th>
						<th>Estado</th>
					</tr>
				</thead>
				<tbody ng-repeat="student in  applicationsByStudent">
						<tr ng-repeat="application in student.applications" ng-click="openApplication(student.id_student,application.id_application)"  class="hand">
							<td ng-if="$first" rowspan="{{student.applications.length}}">{{student.id_student}} </td>
							<td>{{application.id_application}}</td>
							<td>{{application.str_document}}</td>
							<td>{{application.date_application}}</td>
							<td>{{application.str_state}}</td>
						</tr>
					</tbody>
			<!--
	<tr ng-repeat="student in  applicationsByStudent">
		<td row>{{student.id_student}}</td>

		<td>{{application.id_application}}</td>
		<td>{{application.str_document}}</td>
		<td>{{application.date_application}}</td>
		<td>{{application.str_state}}</td>

		<td>
			<a
			ng-repeat="application in student.applications"
			class="pull-left btn btn-default"
			href="{{url_base}}backoffice/centro/de/atencion/solicitudes/{{application.id_application}}/{{student.id_student}}/"
			target="_blank"
			>
			{{application.id_application}}<br>
			{{application.str_document}}<br>
			{{application.date_application}}<br>
			{{application.str_state}}<br>
			</a>
		</td>

	</tr>
		-->
</tbody>
			</table>
		</div>
		<!--
	<div class="panel-body">
		<button class="btn btn-primary btn-sm" ng-click="printFront()">Imprimir parte frontal</button>
		<button class="btn btn-primary btn-sm" ng-click="printBack()">Imprimir reverso</button>
	</div>
-->

</div>


	</div>


</div>
