<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title"><i class="fa fa-graduation-cap"></i> Constancia de Acreditaci&oacute;n de Idioma
            Extranjero</h3>
        <h3 class="box-title pull-right">[A Demanda]</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form class="form-horizontal" #searchForm="ngForm">
        <div class="box-body">
            <div class="form-group">
                <label for="estudiantes" class="col-sm-2 control-label">Estudiantes</label>
                <div class="col-sm-10 col-md-7">
                    <input class="form-control" id="estudiantes" [(ngModel)]="estudiantes"
                           (ngModelChange)="getStudentsArray()" name="estudiantes" placeholder="Códigos de Estudiantes"
                           [disabled]="isSearching || processing" type="text">
                </div>
            </div>
            <div class="form-group" *ngIf="students != undefined && students.length > 0">
                <div class="col-sm-offset-2 col-sm-10 col-md-7">
                    <span class="badge bg-teal hand" (click)="showStudentsList()">Códigos ingresados <span
                            class="badge bg-teal-active"
                            *ngIf="students != undefined">{{ students.length }}</span></span>
                </div>
                <div class="col-sm-offset-2 col-sm-10 col-md-7" *ngIf="isShowStudentsList">
                    <span *ngFor="let s of students">
                        <span class="badge bg-gray"><i class="fa fa-user"></i> {{ s }}</span>&nbsp;
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10 col-md-7">
                    <button type="submit" class="btn btn-info" (click)="search()"
                            [disabled]="!isAllSelected() || isSearching || processing">
                        <i class="fa fa-search"></i> Buscar Estudiantes
                    </button>
                    <button type="button" class="btn btn-default" (click)="clean()"
                            [disabled]="!isAnySelected() || isSearching || processing">
                        <i class="fa fa-trash-o"></i> Limpiar
                    </button>
                </div>
            </div>
        </div>
        <!-- /.box-body -->
    </form>

</div>
<!-- /.box -->

<div *ngIf="isSearching && caie === undefined">
    <loading></loading>
</div>

<div class="box box-warning" *ngIf="caie != undefined">
    <div class="box-header with-border">
        <h3 class="box-title">
            <span *ngIf="caie.length != 0">{{ caie.length }}</span> Resultados de B&uacute;squeda
        </h3>
        <div class="box-tools pull-right" *ngIf="tuqpa.length || isAnyStudent">
            <div class="has-feedback">
                <button class="btn btn-default btn-sm" type="button" name="todos" (click)="selectAll()"
                        [disabled]="processing">
                    Seleccionar todos
                </button>
                <button class="btn btn-info btn-sm" type="button" name="constancia" (click)="getCAIE()"
                        [disabled]="processing">
                    Generar Constancia
                </button>
            </div>
        </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body table-responsive no-padding" *ngIf="caie != undefined">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th></th>
                <th>Código</th>
                <th>Estudiante</th>
                <th>Modalidad</th>
                <th>Idioma</th>
                <th>Ciclo</th>
                <th>Inicio CIC</th>
                <th>¿Egresado?</th>
                <th></th>
                <th>Constancia</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngIf="caie.length == 0">
                <td colspan="8" class="warning text-center text-warning">No se encontraron resultados</td>
            </tr>
            <tr *ngFor="let c of caie; let i = index" [attr.data-index]="i" (click)="setStudentsToProcess(c)"
                [ngClass]="{ 'info': c.isSelected ,'success': c.paymentStatus == 1 && c.download, 'warning': c.paymentStatus == 0 && c.docUrl != undefined, 'danger': (c.paymentStatus == 2 || c.paymentStatus == 3) && c.docUrl != undefined }">
                <td>{{ i + 1 }}</td>
                <td>
                    <i class="fa fa-check-square-o" *ngIf="c.isSelected"></i>
                    <i class="fa fa-square-o" *ngIf="!c.isSelected"></i>
                </td>
                <td [ngClass]="{ 'text-danger': c.paymentStatus == 3 }">
                    <span *ngIf="c.studentId" class="help" title="Cod. CIC: {{ c.studentId }}">
                        {{ c.studentUcId }}
                    </span>
                    <span *ngIf="!c.studentId">{{ c.studentUcId }}</span>
                </td>
                <td [ngClass]="{ 'text-danger': c.paymentStatus == 3 }">{{ c.studentName }}</td>
                <td>{{ c.modalityName }}</td>
                <td>{{ c.languageName }}</td>
                <td>{{ c.cycle }}</td>
                <td><span *ngIf="c.cycle">{{ c.startDateAtCic | date: 'mediumDate' }}</span></td>
                <td class="text-center">
                    <span *ngIf="c.universityGraduationSchoolId">
                        <i class="fa fa-check text-green"></i>
                    </span>
                    <span *ngIf="!c.universityGraduationSchoolId">
                        <i class="fa fa-times text-red"></i>
                    </span>
                </td>
                <td>
                    <span *ngIf="c.universityGraduationSchoolId && c.cycle">
                        <span *ngIf="c.paymentStatus == 0" class="label label-warning">
                            <i class="fa fa-hourglass-1"></i> Pendiente Pago
                        </span>
                    </span>
                </td>
                <td>
                    <i class="fa fa-cog"
                       *ngIf="!processing && !errorMsg && c.isSelected && !c.download && (c.paymentStatus == 1 || c.paymentStatus == 0)"></i>
                    <i class="fa fa-cog fa-spin fa-fw" *ngIf="processing && c.isSelected"></i>
                    <button class="btn btn-danger btn-xs" *ngIf="!c.download && c.paymentStatus == 3"
                            title="No Encontrado" disabled>
                        <i class="fa fa-times-circle"></i> No Encontrado
                    </button>
                    <button class="btn btn-danger btn-xs" *ngIf="!c.download && c.paymentStatus == 2"
                            title="Sin Constancia" disabled>
                        <i class="fa fa-exclamation-triangle"></i> Sin Constancia
                    </button>
                    <span *ngIf="c.download">
                        <a class="label label-info hand" title="Ver PDF" target="_blank" href="{{ c.docUrl }}">
                            <i class="fa fa-eye"></i>
                        </a>&nbsp;
                        <a class="label label-default hand" title="Descargar PDF" target="_blank" href="{{ c.docUrl }}"
                           download="{{ c.saveAs }}.pdf">
                            <i class="fa fa-cloud-download"></i>
                        </a>
                    </span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- /.box-body -->
</div>
<!-- /.box -->
