      <div class="box box-info">
          <div class="box-header with-border">
              <h3 class="box-title"><i class="fa fa-bookmark-o"></i> Diplomas</h3>
          </div>
          <!-- /.box-header -->
          <!-- form start -->
          <form class="form-horizontal" #searchForm="ngForm">
              <div class="box-body">
                  <div class="form-group">
                      <label class="col-sm-2 control-label">Buscar por</label>
                      <div class="col-sm-10 col-md-7">
                          <select class="form-control" [(ngModel)]="tipoBusqueda" name="tipoBusqueda">
                            <option value="cod">Código Estudiante</option>
                            <option value="nombre">Nombres</option>
                            <option value="dni">DNI</option>
                          </select>
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="estudiante" class="col-sm-2 control-label">Estudiante CIC</label>
                      <div class="col-sm-10 col-md-7" *ngIf="tipoBusqueda == 'cod'">
                          <input class="form-control" id="estudiante" [(ngModel)]="estudiante" name="estudiante" placeholder="Código de Estudiante CIC" type="text">
                      </div>
                      <div class="col-sm-10 col-md-7" *ngIf="tipoBusqueda == 'nombre'">
                          <input class="form-control" id="estudiante" [(ngModel)]="estudiante" name="estudiante" placeholder="Nombre de Estudiante CIC" type="text">
                      </div>
                      <div class="col-sm-10 col-md-7" *ngIf="tipoBusqueda == 'dni'">
                          <input class="form-control" id="estudiante" [(ngModel)]="estudiante" name="estudiante" placeholder="DNI de Estudiante CIC" type="text">
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="col-sm-offset-2 col-sm-10 col-md-7">
                          <button type="submit" class="btn btn-info" *ngIf="tipoBusqueda == 'cod'" [disabled]="!isAllSelected()"><i class="fa fa-search"></i> Buscar Estudiante</button>
                          <button type="submit" class="btn btn-info" *ngIf="tipoBusqueda == 'nombre'" [disabled]="!isAllSelected()"><i class="fa fa-search"></i> Buscar Estudiante</button>
                          <button type="submit" class="btn btn-info" *ngIf="tipoBusqueda == 'dni'" [disabled]="!isAllSelected()"><i class="fa fa-search"></i> Buscar Estudiante</button>
                          <button type="button" class="btn btn-default" (click)="clean()" [disabled]="!isAnySelected()"><i class="fa fa-trash-o"></i> Limpiar</button>
                      </div>
                  </div>
              </div>
              <!-- /.box-body -->
          </form>

      </div>
      <!-- /.box -->

      <div class="box box-warning">
        <div class="box-header with-border">
          <h3 class="box-title">Resultados de Búsqueda</h3>
          <div class="box-tools">
            <div class="input-group input-group-sm" style="width: 150px;">
              <input name="table_search" class="form-control pull-right" placeholder="Search" type="text">
              <div class="input-group-btn">
                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
              </div>
            </div>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
            <tbody>
              <tr>
                <th>Código</th>
                <th>Estudiante</th>
                <th>Modalidad</th>
                <th>Idioma</th>
                <th>Ciclo</th>
                <th>últ. Mat. CIC</th>
                <th>Estado</th>
                <th>Certificado</th>
              </tr>
              <tr>
                <td>183</td>
                <td>John Doe</td>
                <td>11-7-2014</td>
                <td><span class="label label-success">Approved</span></td>
                <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>219</td>
                <td>Alexander Pierce</td>
                <td>11-7-2014</td>
                <td><span class="label label-warning">Pending</span></td>
                <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>657</td>
                <td>Bob Doe</td>
                <td>11-7-2014</td>
                <td><span class="label label-primary">Approved</span></td>
                <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>175</td>
                <td>Mike Doe</td>
                <td>11-7-2014</td>
                <td><span class="label label-danger">Denied</span></td>
                <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
