      <div class="box box-info">
          <div class="box-header with-border">
              <h3 class="box-title"><i class="fa fa-flag-o"></i> Constancia de Matrícula</h3>
          </div>
          <!-- /.box-header -->
          <!-- form start -->
          <form class="form-horizontal" #searchForm="ngForm">
              <div class="box-body">
                  <div class="form-group">
                      <label class="col-sm-2 control-label">Programa CIC</label>
                      <div class="col-sm-10 col-md-7">
                        <select class="form-control" [(ngModel)]="programaIdioma" (ngModelChange)="getLanguages(programaIdioma)" name="programaIdioma">
                          <option *ngFor="let lp of languagePrograms" value="{{lp.languageProgramId}}">{{lp.languageProgramId | titlecase}}</option>
                        </select>
                      </div>
                  </div>
                  <div class="form-group">
                      <label class="col-sm-2 control-label">Idioma CIC</label>
                      <div class="col-sm-10 col-md-7">
                        <select class="form-control" [(ngModel)]="idioma" (ngModelChange)="getLanguageLevel(idioma, programaIdioma)" name="idioma">
                          <option *ngFor="let lang of languages" value="{{lang.languageId}}">{{lang.languageName}}</option>
                        </select>
                      </div>
                  </div>
                  <div class="form-group">
                      <label class="col-sm-2 control-label">Nivel CIC</label>
                      <div class="col-sm-10 col-md-7">
                        <select class="form-control" [(ngModel)]="nivelIdioma" (ngModelChange)="newSearch()" name="nivelIdioma">
                          <option *ngFor="let ll of languageLevel" value="{{ll.languageLevelId}}">{{ll.languageLevelName}}</option>
                        </select>
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="col-sm-offset-2 col-sm-10 col-md-7">
                          <button type="submit" class="btn btn-info" (click)="getEnrolled(idioma, programaIdioma, nivelIdioma)" [disabled]="!isAllSelected()"><i class="fa fa-search"></i> Buscar Matriculados</button>
                          <button type="button" class="btn btn-default" (click)="clean()" [disabled]="!isAnySelected()"><i class="fa fa-trash-o"></i> Limpiar</button>
                      </div>
                  </div>
              </div>
              <!-- /.box-body -->
          </form>

      </div>
      <!-- /.box -->

      <div *ngIf="isSearching && enrolled == undefined">
        <loading></loading>
      </div>

      <div class="box" *ngIf="isSearching && enrolled != undefined && enrolled.length != 0">
          <div class="box-header with-border">
              <div class="has-feedback">
                  <input class="form-control input-sm" placeholder="Buscar" type="text" disabled>
                  <span class="fa fa-search form-control-feedback"></span>
              </div>
          </div>
      </div>

      <div class="box" [ngClass]="{ 'box-success': enrolled.length > 0, 'box-warning': enrolled.length == 0 }" *ngIf="isSearching && enrolled != undefined">
        <div class="box-header with-border">
          <h3 class="box-title">
              <span *ngIf="enrolled.length != 0">{{ enrolled.length }}</span> Resultados de B&uacute;squeda
          </h3>
          <div class="box-tools pull-right" *ngIf="tuqpa.length || isAnyStudent">
            <div class="has-feedback">
              <button class="btn btn-default btn-sm" type="button" name="todos" (click)="selectAll()">Seleccionar todos</button>
              <button class="btn btn-info btn-sm" type="button" name="constancia" (click)="getDoc()">Generar Constancia</button>
            </div>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body table-responsive no-padding" *ngIf="enrolled != undefined">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>#</th>
                <th></th>
                <th>Código</th>
                <th>Estudiante</th>
                <th>Fec. Mat.</th>
                <th>Idioma</th>
                <th>Ciclo</th>
                <th>Aula</th>
                <th>Inicio Clases</th>
                <th>Fin Clases</th>
                <th>Constancia</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="enrolled.length == 0">
                <td colspan="11" class="warning text-center text-warning">No se encontraron matriculados para el criterio de búsqueda seleccionado.</td>
              </tr>
              <tr *ngFor="let e of enrolled; let i = index" [attr.data-index]="i" (click)="setStudentsToProcess(e)" [ngClass]="{ 'info': e.is_selected ,'success': e.payment_status == 1 && e.download, 'warning': e.payment_status == 0 && e.url != undefined, 'danger': (e.payment_status == 2 || e.payment_status == 3) && e.url != undefined }">
                <td>{{ i + 1 }}</td>
                <td>
                  <i class="fa fa-check-square-o" *ngIf="e.is_selected"></i>
                  <i class="fa fa-square-o" *ngIf="!e.is_selected"></i>
                </td>
                <td>{{ e.student_id }}</td>
                <td>{{ e.student_name }}</td>
                <td class="help" title="Fecha Matrícula">{{ e.enrollment_date }}</td>
                <td><img [src]="'Content/static/images/flags/'+e.language_id+'.png'" alt="{{e.language_id}}" title="{{ e.language_name }}"></td>
                <td>{{ e.cycle }}</td>
                <td>{{ e.classroom }}</td>
                <td class="help" title="Inicio de Clases">{{ e.start_date_str }}</td>
                <td class="help" title="Fin de Clases">{{ e.end_date_str }}</td>
                <td>
                  <i class="fa fa-cog fa-spin fa-fw" *ngIf="e.is_selected && !e.download"></i>
                  <button class="btn btn-warning btn-xs" *ngIf="e.start_date_str.length == 0" title="No Disponible" disabled>No Disponible</button>
                  <a class="label label-default hand" *ngIf="e.start_date_str.length > 0" title="Ver PDF" target="_blank"><i class="fa fa-eye"></i></a>
                  <a class="label label-info hand" *ngIf="e.start_date_str.length > 0" title="Descargar PDF" target="_blank"><i class="fa fa-cloud-download"></i></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
