<div class="box box-info">
  <div class="box-header with-border">
    <h3 class="box-title"><i class="fa fa-graduation-cap"></i> Constancia de Acreditaci&oacute;n de Idioma
      Extranjero</h3>
    <h3 class="box-title pull-right text-muted">
      [ UC ] <span *ngIf="info !== null && info !== undefined">[ {{ info.name }} ]</span>
    </h3>
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <!-- form start -->
    <form class="form-horizontal" #searchForm="ngForm">
      <div class="form-group">
        <label class="col-sm-2 control-label">Periodo Egreso UC</label>
        <div class="col-sm-10 col-md-7">
          <select class="form-control" [(ngModel)]="periodoGraduacion" (ngModelChange)="newSearch()"
                  name="periodoGraduacion" title="Período de egreso UC"
                  [disabled]="graduationPeriods === undefined || searching || processing">
            <option *ngFor="let g of graduationPeriods" value="{{g.periodId}}">{{g.periodId}}</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Idioma CIC</label>
        <div class="col-sm-10 col-md-7">
          <select class="form-control" [(ngModel)]="idioma" (ngModelChange)="newSearch()" name="idioma"
                  title="Idiomas" [disabled]="languages === undefined || searching || processing">
            <option *ngFor="let l of languages" value="{{l.languageId}}">{{l.languageName}}</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10 col-md-7">
          <button type="submit" class="btn btn-info" (click)="search(periodoGraduacion, idioma)"
                  [disabled]="!isAllSelected() || searching || processing">
            <i class="fa fa-search"></i> Buscar Estudiantes
          </button>
          <button type="button" class="btn btn-default" (click)="clean()"
                  [disabled]="!isAnySelected() || searching || processing">
            <i class="fa fa-trash-o"></i> Limpiar
          </button>
        </div>
      </div>
    </form>
  </div>
  <!-- /.box-body -->
</div>
<!-- /.box -->

<div *ngIf="searching && caie === undefined">
  <loading></loading>
</div>

<div class="box" [ngClass]="{ 'box-success': caie.length, 'box-warning': !caie.length }" *ngIf="caie !== undefined">
  <div class="box-header with-border">
    <h3 class="box-title">Resultados de B&uacute;squeda</h3>
    <h4 class="small">
      {{ caie.length }} Constancias para egresados UC de {{ periodoGraduacion }} con idioma
      <span *ngIf="idioma == 'I01'">ingl&eacute;s</span>
      <span *ngIf="idioma == 'I02'">portugu&eacute;s</span>
      <span *ngIf="idioma == 'I03'">franc&eacute;s</span>
    </h4>
    <div class="box-tools pull-right" *ngIf="tuqpa.length">
      <div class="has-feedback">
        <button class="btn btn-default btn-sm" type="button" name="todos" (click)="selectAll()"
                [disabled]="processing">
          Seleccionar todos
        </button>
        <button class="btn btn-info btn-sm" type="button" name="constancia" (click)="getCAIE()"
                [disabled]="processing">
          Generar Constancia
        </button>
      </div>
    </div>
  </div>
  <!-- /.box-header -->
  <div class="box-body table-responsive no-padding">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>#</th>
        <th></th>
        <th>C&oacute;digo</th>
        <th>Estudiante</th>
        <th>Modalidad</th>
        <th>Idioma</th>
        <th>Ciclo</th>
        <th>Inicio CIC</th>
        <th>Constancia</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngIf="caie.length == 0">
        <td colspan="9" class="warning text-center text-warning">
          No se encontraron resultados para el tipo de b&uacute;squeda seleccionado
        </td>
      </tr>
      <tr *ngFor="let c of caie; let i = index" [attr.data-index]="i"
          [ngClass]="{ 'info': c.isSelected ,'success': c.paymentStatus == 1 && c.download, 'warning': c.paymentStatus == 0 && c.docUrl != undefined, 'danger': (c.paymentStatus == 2 || c.paymentStatus == 3) && c.docUrl != undefined }">
        <td>{{ i + 1 }}</td>
        <td (click)="setStudentsToProcess(c)">
          <i class="fa fa-check-square-o" *ngIf="c.isSelected"></i>
          <i class="fa fa-square-o" *ngIf="!c.isSelected"></i>
        </td>
        <td>{{ c.studentId }}</td>
        <td>
          <span *ngIf="c.persona !== null"><span *ngIf="c.persona.full_name !== null">{{ c.persona.full_name }}</span></span>
          <span *ngIf="c.persona !== null"><span *ngIf="c.persona.full_name === null">CÓDIGO NO ENCONTRADO</span></span>
          <span *ngIf="c.persona === null">CÓDIGO NO ENCONTRADO</span>
        </td>
        <td>{{ c.modalityName }}</td>
        <td><span *ngIf="c.profile !== null">{{ c.profile.language.languageName }}</span></td>
        <td><span *ngIf="c.profile !== null">{{ c.profile.cycle }}</span></td>
        <td><span *ngIf="c.profile">{{ c.profile.startDateAtCic | date: 'mediumDate' }}</span></td>
        <td>
          <i class="fa fa-cog"
             *ngIf="!processing && !errorMsg && c.isSelected && !c.download && c.paymentStatus == 1"></i>
          <i class="fa fa-cog fa-spin fa-fw" *ngIf="processing && c.isSelected"></i>
          <i class="fa fa-exclamation text-red" *ngIf="c.isSelected && c.processingError"></i>
          <button class="btn btn-warning btn-xs" *ngIf="!c.download && c.paymentStatus == 0" title="Pendiente Pago"
                  disabled>
            Pendiente Pago
          </button>
          <span *ngIf="c.download && !c.processingError">
            <a class="label label-info hand" title="Ver PDF" target="_blank" href="{{ c.docUrl }}">
              <i class="fa fa-eye"></i>
            </a>&nbsp;
            <a class="label label-default hand" title="Descargar PDF" target="_blank"
               href="{{ c.docUrl }}" download="{{ c.saveAs }}.pdf">
              <i class="fa fa-cloud-download"></i>
            </a>
          </span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <!-- /.box-body -->
</div>
<!-- /.box -->
