<div class="box box-info">
  <div class="box-header with-border">
    <h3 class="box-title">
      <i class="fa fa-graduation-cap"></i> Constancia de Acreditación de Idioma Extranjero
    </h3>
    <h3 class="box-title pull-right text-muted">[ Uso Interno ]</h3>
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <!-- form start -->
    <form class="form-horizontal" #searchForm="ngForm">
      <div class="form-group">
        <label for="estudiantes" class="col-sm-2 control-label">Estudiantes</label>
        <div class="col-sm-10 col-md-7">
          <input class="form-control" id="estudiantes" [(ngModel)]="estudiantes"
                 (ngModelChange)="getStudentsArray()" name="estudiantes" placeholder="Códigos de Estudiantes"
                 type="text" [disabled]="isSearching || processing || customMode">
        </div>
      </div>
      <div class="form-group" *ngIf="students != undefined && students.length > 0">
        <div class="col-sm-offset-2 col-sm-10 col-md-7">
          <span class="badge bg-teal hand" (click)="showStudentsCodeList()">
            Códigos ingresados
            <span class="badge bg-teal-active" *ngIf="students != undefined">{{ students.length }}</span>
          </span>
        </div>
        <div class="col-sm-offset-2 col-sm-10 col-md-7" *ngIf="showStudentsList">
          <span *ngFor="let s of students">
            <span class="badge bg-gray"> <i class="fa fa-user"></i> {{ s }}</span>&nbsp;
          </span>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10 col-md-7">
          <button type="submit" class="btn btn-info" (click)="search()"
                  [disabled]="!isAllSelected() || searching || processing || customMode">
            <i class="fa fa-search"></i> Buscar Estudiantes
          </button>
          <button type="button" class="btn btn-default" (click)="clean()"
                  [disabled]="!isAnySelected() || searching || processing || customMode">
            <i class="fa fa-trash-o"></i> Limpiar
          </button>
        </div>
      </div>
    </form>
  </div>
  <!-- /.box-body -->
</div>
<!-- /.box -->

<div *ngIf="searching && studentSearchResult === undefined">
  <loading></loading>
</div>

<div class="box" [ngClass]="{ 'box-success': studentSearchResult.length, 'box-warning': !studentSearchResult.length }"
     *ngIf="studentSearchResult !== undefined && !customMode">
  <div class="box-header with-border">
    <h3 class="box-title">
      <span *ngIf="studentSearchResult.length != 0">{{ studentSearchResult.length }}</span> Resultados de B&uacute;squeda
    </h3>
  </div>
  <!-- /.box-header -->
  <div class="box-body table-responsive no-padding">
    <table class="table table-hover">
      <thead>
      <tr>
        <th class="text-muted">#</th>
        <th>Código</th>
        <th>Estudiante</th>
        <th>Idioma</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngIf="studentSearchResult.length === 0">
        <td colspan="4" class="warning text-center text-warning">No se encontraron resultados</td>
      </tr>
      <tr *ngFor="let c of studentSearchResult; let i = index" [attr.data-index]="i"
          [ngClass]="{ 'info': c.isSelected ,'success': c.paymentStatus == 1 && c.download, 'warning': c.paymentStatus == 0 && c.docUrl != undefined, 'danger': (c.paymentStatus == 2 || c.paymentStatus == 3) && c.docUrl != undefined }">
        <td class="text-muted">{{ i + 1 }}</td>
        <td [ngClass]="{ 'text-danger': c.paymentStatus == 3 || c.persona === null, 'text-orange': c.persona !== null && !c.profiles.length }">
          {{ c.studentId }}
        </td>
        <td>
          <span *ngIf="c.persona !== null" [ngClass]="{ 'text-orange': !c.profiles.length }">
            <span *ngIf="c.persona.full_name !== null">{{ c.persona.full_name }}</span>
          </span>
          <span *ngIf="c.persona !== null"><span *ngIf="c.persona.full_name === null">CÓDIGO NO ENCONTRADO</span></span>
          <span *ngIf="c.persona === null" class="text-danger">CÓDIGO NO ENCONTRADO</span>
        </td>
        <td>
          <span *ngIf="c.profiles !== null">
            <span *ngFor="let profile of c.profiles">
              <span class="badge bg-green hand" *ngIf="c.graduateProfiles.length"
                    (click)="studentDetail(c.persona, profile, c.graduateProfiles)">
                {{ profile.language.languageName }}
              </span>
              <span class="badge bg-orange help" *ngIf="!c.graduateProfiles.length"
                    data-toggle="tooltip" data-placement="top" title="No existe registro de egresado">
                {{ profile.language.languageName }}
              </span>
            </span>
          </span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <!-- /.box-body -->
</div>
<!-- /.box -->

<div class="box box-info" *ngIf="studentProfile !== undefined && studentProfile !== null && customMode">
  <div class="box-header with-border">
    <h3 class="box-title">
      <i class="fa fa-graduation-cap"></i>
      Generar Constancia de Acreditación de Idioma Extranjero
    </h3>
    <h3 class="box-title pull-right text-muted">[ Uso Interno ]</h3>
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <!-- form start -->
    <form class="form-horizontal" #genForm="ngForm">
      <div class="form-group">
        <label for="estudiantes" class="col-sm-2 control-label">Nombres</label>
        <div class="col-sm-10 col-md-7">
          <span class="form-control">{{ studentProfile.student_names }}</span>
        </div>
      </div>
      <div class="form-group">
        <label for="estudiantes" class="col-sm-2 control-label">DNI</label>
        <div class="col-sm-10 col-md-7">
          <span class="form-control">{{ studentProfile.student_id }}</span>
        </div>
      </div>
      <div class="form-group" [ngClass]="{ 'has-error': !eap.valid }">
        <label for="estudiantes" class="col-sm-2 control-label">Escuela académica</label>
        <div class="col-sm-10 col-md-7">
          <select class="form-control" [(ngModel)]="escuela" (ngModelChange)="selectGraduationProfile()" name="program"
                  id="program" required #eap="ngModel">
            <option *ngFor="let e of graduateProfiles" value="{{ e.program.id }}">{{ e.program.name }}</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="estudiantes" class="col-sm-2 control-label">Idioma</label>
        <div class="col-sm-10 col-md-7">
          <span class="form-control">{{ studentProfile.languageName }}</span>
        </div>
      </div>
      <div class="form-group" [ngClass]="{ 'has-error': !nivel.valid }">
        <label for="estudiantes" class="col-sm-2 control-label">Nivel</label>
        <div class="col-sm-10 col-md-7">
          <select class="form-control" [(ngModel)]="studentProfile.languageLevelName" name="level" id="level" required
                  #nivel="ngModel">
            <option *ngFor="let languageLevelName of config.CIC_CAIE_LANGUAGE_LEVEL" value="{{languageLevelName}}">
              {{languageLevelName}}
            </option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10 col-md-7">
          <button type="submit" class="btn btn-info" (click)="generate()"
                  [disabled]="!isAllSelected() || searching || processing || !genForm.form.valid">
            <i class="fa fa-cog"></i> Generar documento
          </button>
          <button type="button" class="btn btn-default" (click)="cancel()">
            <i class="fa fa-times"></i> Cerrar
          </button>
          <span *ngIf="caie.docUrl !== undefined && caie.docUrl !== null">
            <a [href]="caie.docUrl" target="_blank" type="button" class="btn btn-default"
               *ngIf="caie.docUrl !== null && caie.docUrl !== undefined">
              <span class="text-red"><i class="fa fa-file-pdf-o"></i></span> ver PDF
            </a>
          </span>
          <span class="text-danger" *ngIf="errorGeneratingTheFile">
            <i class="fa fa-exclamation-triangle"></i> Error al generar el documento
          </span>
        </div>
      </div>
    </form>
  </div>
  <!-- /.box-body -->
  <!-- Loading (remove the following to stop the loading)-->
  <div class="overlay" *ngIf="processing">
    <i class="fa fa-refresh fa-spin"></i>
  </div>
  <!-- end loading -->
</div>
<!-- /.box -->
