.message-student
  position: relative
  padding: 15px 15px 15px 40px 
  background-color: $white
  border: 1px solid $gray-400
  cursor: help
  .ico
    background-color: $white
    border-right: 5px solid rgba($black,.07)
    border-bottom: 5px solid rgba($black,.07)
    border-radius: 0 0 60% 0
    height: 50px
    position: absolute
    left: -1px
    width: 50px
    z-index: 1
    +boxShadow(0px, 0px, 27px, $gray-500)
    top: -1px
    padding-top: 8px
    text-align: center
  .title
    padding-bottom: 5px
    font-size: 18px !important
  +boxShadow(0px, 0px, 20px, $gray-500)

@media (max-width: 768px)
  .message-student
    padding: 15px
    .ico
      border: none
      +borderRadius(0px)
      position: relative
      left: 0
      top: 0
      padding: 10px 0
      height: auto
      width: auto
      margin-top: -15px
      margin-right: -15px
      margin-bottom: 15px
      margin-left: -15px
    .title
      padding-left: 0 !important
