<div class="row">
  <div class="col-md-4 col-sm-6 col-xs-12" *ngFor="let menu of menus">
    <a [routerLink]="['/frontdesk/vida-academica/' + area + '/' + menu.uri]">
      <div class="info-box">
        <span class="info-box-icon bg-gray"><i [class]="menu.icon"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">&nbsp;</span>
          <span class="info-box-number">{{menu.name}}</span>
        </div>
      </div>
    </a>
  </div>
</div>
