<div class="row">
  <div class="col-md-3">
    <!-- title box -->
    <div class="box box-solid">
      <div class="box-header with-border">
        <h3 class="box-title">Categorización</h3>
      </div>
      <div class="box-body no-padding">
        <ul class="nav nav-pills nav-stacked">
          <li>
            <p class="padding">
              <small> Perido: </small>
              <strong> 201710</strong>
            </p>
          </li>
          <li [ngClass]="{'active': (inbox === 'cachimbos')}" (click)="setInbox($event, 'cachimbos')">
            <a><i class="fa fa-child"></i> Cachimbos</a>
          </li>
          <li [ngClass]="{'active': (inbox === 'cateogrizados')}" (click)="setInbox($event, 'cateogrizados')">
            <a><i class="fa fa-align-center"></i> Categorizados</a>
          </li>
          <li [ngClass]="{'active': (inbox === 'reportes')}" (click)="setInbox($event, 'reportes')">
            <a><i class="fa fa-bar-chart"></i> Reportes</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Categorizacion -->
  <div class="col-md-9" [hidden]="inbox !== 'cachimbos'">
    <!-- Busqueda de solicitudes-->
    <div class="box box-solid">
      <div class="box-header with-border">
        <h3 class="box-title">Categorización Automatica </h3>
        <div class="box-tools">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
          </button>
        </div>
      </div>
      <!-- search form -->
      <div class="box-body">
        <div class="row">
          <div class="col-sm-3">
            <div class="form-group">
              <label for="">Facultad:</label>
              <select class="form-control" name="college_id" [(ngModel)]="college_id">
                <option value="{{college.id}}" *ngFor="let college of colleges">{{college.name}}</option>
              </select>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label for="">Carrera:</label>
              <select class="form-control" name="program_id" [(ngModel)]="program_id">
                <option value="{{college.id}}" *ngFor="let college of getPrograms(college_id)">{{college.name}}</option>
              </select>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label for="">Campus:</label>
              <select class="form-control" name="campus_id" [(ngModel)]="campus_id">
                <option value="{{campus.id}}" *ngFor="let campus of campuses">{{campus.name}}</option>
              </select>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label for="">[$>_]</label>
              <button class="btn btn-primary form-control" (click)="searchStudents(program_id, campus_id)"> <i class="fa fa-search"></i> Buscar</button>
            </div>
          </div>
        </div>
        <div class="">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
        </div>
      </div>
      <!-- List of students -->
      <div class="box-body">
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <td colspan="4">
                  Carrera:
                  <span class="pull-right">
                    <button class="btn btn-success btn-small" (click)="categorize()">
                      <i class="fa fa-gears"></i>
                      Generar
                    </button>
                  </span>
                </td>
              </tr>
              <tr>
                <td>Código</td>
                <td>Nombres</td>
                <td>Categoria</td>
                <td>Estado</td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let freshman of freshmans">
                <td>{{freshman.id}}</td>
                <td>{{freshman.full_name}}</td>
                <td>{{freshman.scala}}</td>
                <td>
                  <span [hidden]="freshman.status !== 'on'"> cargando ...</span>
                  <span class="text-succes" [hidden]="freshman.status !== 'post'"> {{freshman.new_scala || "x"}} </span>
                  <span class="text-danger" [hidden]="freshman.status !== 'error'"> error!! </span>
                  <span [hidden]="freshman.status !== undefined"> en cola. </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- /Categorizacion -->
  <!-- categorizados -->
  <div class="col-md-9" [hidden]="inbox !== 'cateogrizados'">
    <div class="box box-solid">
      <div class="box-header with-border">
        <h3 class="box-title">Categorizados (buscar) </h3>
      </div>
      <!-- search form -->
      <div class="box-body">
        <form class="">
          <div class="input-group">
            <input type="text" class="form-control" [(ngModel)]="student.code" placeholder="Código del estudiante(DNI)" name="code">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="button" (click)="searchCategorize(student.code)">Buscar <i class="fa fa-search"></i></button>
            </span>
          </div><!-- /input-group -->
        </form>
      </div>
      <div class="box-body">
        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Código</th>
                <th>Nombres</th>
                <th>Escala</th>
                <th>Fecha</th>
                <th>usuario</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cat of categorizations">
                <td>{{cat.student_code}}</td>
                <td>{{student_names }}</td>
                <td>{{cat.category}}</td>
                <td>{{cat.date | date: 'dd/MM/yyyy hh:mm:ss a'}}</td>
                <td>{{cat.user}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- /categorizados -->
</div>
