<div class="row">
  <!-- main column -->
  <div class="col-md-12">
    <!-- Horizontal Form -->
    <div class="box box-info">
      <div class="box-header with-border">
        <h3 class="box-title">
          Constancia de Primera Matrícula - Promocional &nbsp;
          <span class="pull-right badge bg-orange help" data-toggle="tooltip" data-placement="right"
                title="NO genera deuda. NO requiere que el código se encuentre en la tabla de
                       egresados para generar la constancia. Si no encuentra al código en egresados muestra info de
                       ingreso a la UC">
            gratuito <i class="fa fa-question-circle-o"></i>
          </span>
        </h3>
        <h3 class="box-title pull-right">[Batch]</h3>
      </div>
      <!-- /.box-header -->
      <!-- form start -->
      <form class="form-horizontal">
        <div class="box-body">
          <div class="form-group">
            <label class="col-sm-2 control-label">Egresados</label>
            <div class="col-sm-10 col-md-7">
              <input class="form-control" type="text" name="estudiantes" placeholder="Códigos de Egresados UC"
                     [disabled]="processing" [(ngModel)]="estudiantes" (ngModelChange)="getStudentsArray()">
            </div>
          </div>
          <div class="form-group" *ngIf="students != undefined && students.length > 0">
            <div class="col-sm-offset-2 col-sm-10 col-md-7">
              <span class="badge bg-teal hand" (click)="showStudentsList()">Códigos ingresados
                <span class="badge bg-teal-active" *ngIf="students != undefined">{{ students.length }}</span>
              </span>
            </div>
            <div class="col-sm-offset-2 col-sm-10 col-md-7" *ngIf="isShowStudentsList">
              <span *ngFor="let student of students">
                <span class="badge bg-gray"><i class="fa fa-user"></i> {{ student }}</span>&nbsp;
              </span>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10 col-md-7">
              <button type="submit" class="btn btn-info" (click)="getGraduates()"
                      [disabled]="!isAllSelected() || (isSearching && graduates == undefined) || processing">
                <i class="fa fa-search"></i> Buscar Estudiantes
              </button>
              <button type="button" class="btn btn-default" (click)="clean()"
                      [disabled]="!isAnySelected() || (isSearching && graduates == undefined) || processing">
                <i class="fa fa-trash-o"></i> Limpiar
              </button>
            </div>
          </div>
        </div>
        <!-- /.box-body -->
      </form>
    </div>
    <!-- /.box -->
  </div>
  <!-- /.column (main) -->

    <div class="col-md-12" *ngIf="isSearching && graduates == undefined">
        <loading></loading>
    </div>

  <!-- students column -->
  <div class="col-md-12">
    <!-- general form elements -->
    <div class="box" [ngClass]="{ 'box-success': graduates.length, 'box-warning': !graduates.length }"
         *ngIf="isSearching && graduates != undefined">
      <div class="box-header with-border">
        <h3 class="box-title">Resultados de Búsqueda</h3>
        <div class="box-tools pull-right" *ngIf="tuqpa.length || isAnyStudent">
          <div class="has-feedback">
            <button class="btn btn-default btn-sm" type="button" name="todos" (click)="selectAll()"
                    [disabled]="processing">
              Seleccionar todos
            </button>
            <button class="btn btn-info btn-sm" type="button" name="constancia" (click)="getProofOfEnrollment()"
                    [disabled]="processing">
              Generar Constancia
            </button>
          </div>
        </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
          <thead>
          <tr>
            <th>#</th>
            <th></th>
            <th>Código</th>
            <th>Nombre</th>
            <th>Período egreso</th>
            <th>Programa</th>
            <th>Constancia</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngIf="graduates.length == 0">
            <td colspan="8" class="warning text-center text-warning">No se encontraron resultados</td>
          </tr>
          <tr *ngFor="let e of graduates; let i = index" [attr.data-index]="i"
              [ngClass]="{ 'info': e.is_selected, 'success': e.payment_status == 1 && e.download,
              'warning': e.payment_status == 2 && !e.is_selected,
              'text-warning': e.academic_status == -4,
              'text-danger': e.school_id == '0' && e.academic_status != -4 }">
            <td>{{ i + 1 }}</td>
            <td (click)="setStudentsToProcess(e)">
              <i class="fa fa-check-square-o" *ngIf="e.is_selected"></i>
              <i class="fa fa-square-o" *ngIf="!e.is_selected"></i>
            </td>
            <td>{{ e.student_id }}</td>
            <td>{{ e.student_name }}</td>
            <td>
              <span *ngIf="e.academic_status == 4">{{ e.graduation_period }}</span>
              <span *ngIf="e.academic_status == -4" class="label label-warning">no egresado</span>
              <span *ngIf="e.academic_status == 0" class="label label-danger">no encontrado</span>
            </td>
            <td>
              <span *ngIf="e.school_id != '0'" title="{{ e.school_name }}" class="help" data-toggle="tooltip"
                    data-placement="top">
                {{ e.school_id }}
              </span>
            </td>
            <td>
              <i class="fa fa-cog"
                 *ngIf="e.is_selected && !e.download && e.school_id != '0' && e.doc_url == null && e.payment_status != 2 && e.payment_status != 3 && e.other_period == null && !processing && !e.processingError"></i>
              <i class="fa fa-cog fa-spin fa-fw" *ngIf="processing && e.is_selected"></i>
              <i class="fa fa-exclamation text-red" *ngIf="e.processingError" title="{{ errorMsg }}"></i>
              <button class="btn btn-danger btn-xs" type="button" name="button" disabled
                      *ngIf="(!e.is_selected && e.school_id == '0') || (e.is_selected && e.school_id == '0') || (e.is_selected && e.payment_status == 3)">
                No Disponible
              </button>
              <button class="btn btn-warning btn-xs" type="button" name="button" disabled
                      *ngIf="e.is_selected && e.payment_status == 2">
                Pendiente Pago
              </button>
              <span *ngIf="e.other_period && e.other_period_description">
                <button class="btn btn-xs bg-orange-active" (click)="getSingleProofOfEnrollment(e)">
                  <i class="fa fa-arrow-circle-left" *ngIf="e.other_period_description == 'prev'"></i>
                  {{e.other_period}}
                  <i class="fa fa-arrow-circle-right" *ngIf="e.other_period_description == 'next'"></i>
                </button>
              </span>
              <span *ngIf="e.download && !e.processing">
                <a class="label label-info" title="Ver PDF" target="_blank" href="{{ e.doc_url }}"
                   data-toggle="tooltip" data-placement="top">
                  <i class="fa fa-eye"></i>
                </a>
              </span>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
