<div class="row">
  <!-- main column -->
  <div class="col-md-12">
    <!-- Horizontal Form -->
    <div class="box box-info">
      <div class="box-header with-border">
        <h3 class="box-title">
          Constancia de Matrícula - PRONABEC &nbsp;
          <span class="pull-right badge bg-orange help" data-toggle="tooltip" data-placement="right"
                title="NO genera deuda. Solo verifica que el código sea PRONABEC">
            gratuito <i class="fa fa-question-circle-o"></i>
          </span>
        </h3>
        <h3 class="box-title pull-right">[Batch]</h3>
      </div>
      <!-- /.box-header -->
      <!-- form start -->
      <form class="form-horizontal">
        <div class="box-body">
          <div class="form-group">
            <label class="col-sm-2 control-label">Estudiantes PRONABEC</label>
            <div class="col-sm-10 col-md-7">
              <input class="form-control" type="text" name="estudiantes"
                     placeholder="Códigos de Estudiantes PRONABEC"
                     [(ngModel)]="estudiantes" (ngModelChange)="getStudentsArray()"
                     [disabled]="isSearching || processing">
            </div>
          </div>
          <div class="form-group" *ngIf="students != undefined && students.length > 0">
            <div class="col-sm-offset-2 col-sm-10 col-md-7">
              <span class="badge bg-teal hand" (click)="showStudentsList()">Códigos ingresados
                <span class="badge bg-teal-active" *ngIf="students != undefined">
                  {{ students.length }}
                </span>
              </span>
            </div>
            <div class="col-sm-offset-2 col-sm-10 col-md-7" *ngIf="isShowStudentsList">
              <span *ngFor="let student of students">
                <span class="badge bg-gray"><i class="fa fa-user"></i> {{ student }}</span>&nbsp;
              </span>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10 col-md-7">
              <button type="submit" class="btn btn-info" (click)="getPronabec()"
                      [disabled]="!isAllSelected() || (isSearching && pronabec == undefined) || processing">
                <i class="fa fa-search"></i> Buscar Estudiantes
              </button>
              <button type="button" class="btn btn-default" (click)="clean()"
                      [disabled]="!isAnySelected() || (isSearching && pronabec == undefined)">
                <i class="fa fa-trash-o"></i> Limpiar
              </button>
            </div>
          </div>
        </div>
        <!-- /.box-body -->
      </form>
    </div>
    <!-- /.box -->
  </div>
  <!-- /.column (main) -->

  <div class="col-md-12" *ngIf="showSearchResult">
    <div class="box" [ngClass]="{ 'box-danger': !existPeriodo }">
      <div class="box-header with-border">
        <h3 class="box-title">Período Académico de Matrícula</h3>
        <h3 class="box-title pull-right"></h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body form-horizontal">
        <div class="form-group" [ngClass]="{ 'has-error': !existPeriodo }">
          <label class="col-sm-2 control-label">Período</label>
          <div class="col-sm-10 col-md-7">
            <select class="form-control" [(ngModel)]="periodo" (ngModelChange)="newPeriod()"
                    [disabled]="isSearching || processing" name="periodo">
              <option *ngFor="let period of periods" value="{{ period }}">{{ period }}</option>
            </select>
          </div>
        </div>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
  <!-- /.col -->

  <div class="col-md-12" *ngIf="isSearching && !pronabec.length">
    <loading></loading>
  </div>

  <!-- students column -->
  <div class="col-md-12" *ngIf="showSearchResult">
    <!-- general form elements -->
    <div class="box" [ngClass]="{ 'box-success': pronabec.length, 'box-warning': !pronabec.length }">
      <div class="box-header with-border">
        <h3 class="box-title">Resultados de Búsqueda</h3>
        <div class="box-tools pull-right" *ngIf="tuqpa.length || isAnyStudent">
          <div class="has-feedback">
            <button class="btn btn-default btn-sm" type="button" name="todos" [disabled]="processing"
                    (click)="selectAll()">
              Seleccionar todos
            </button>
            <button class="btn btn-info btn-sm" *ngIf="periodo != undefined" type="button" name="constancia"
                    (click)="getProofOfEnrollment()" [disabled]="!existPeriodo || processing">
              Generar Constancia
            </button>
          </div>
        </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
          <thead>
          <tr>
            <th>#</th>
            <th></th>
            <th>Código</th>
            <th>Nombre</th>
            <th>PRONABEC</th>
            <th>Programa</th>
            <th>Constancia</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngIf="pronabec == undefined">
            <td colspan="8" class="warning text-center text-warning">No se encontraron resultados</td>
          </tr>
          <tr *ngFor="let e of pronabec; let i = index" [attr.data-index]="i" (click)="setStudentsToProcess(e)"
              [ngClass]="{ 'info': e.isSelected, 'success': e.payment_status == 1 && e.download,
                        'warning': e.payment_status == 2 && !e.isSelected,
                        'text-warning': e.academicStatus == -4,
                        'text-danger': e.schoolId == '0' && e.academicStatus != -4 }">
            <td>{{ i + 1 }}</td>
            <td>
              <i class="fa fa-check-square-o" *ngIf="e.isSelected"></i>
              <i class="fa fa-square-o" *ngIf="!e.isSelected"></i>
            </td>
            <td>{{ e.studentId }}</td>
            <td>{{ e.studentName }}</td>
            <td>
              <span *ngIf="!e.isPronabec" class="label label-warning">
                <i class="fa fa-exclamation"></i> NO PRONABEC
              </span>
              <span *ngIf="e.isPronabec" class="label label-success">
                <i class="fa fa-check"></i> PRONABEC
              </span>
            </td>
            <td>
              <span *ngIf="e.schoolId != '0'" title="{{ e.schoolName }}" class="help" data-toggle="tooltip"
                    data-placement="top">
                {{ e.schoolId }}
              </span>
            </td>
            <td>
              <i class="fa fa-cog"
                 *ngIf="e.isSelected && !e.download && e.schoolId != '0' && e.docUrl == null && e.isPronabec && !e.processing">
              </i>
              <i class="fa fa-cog fa-spin fa-fw" *ngIf="e.isSelected && e.processing && e.schoolId != '0'">
              </i>
              <button class="btn btn-danger btn-xs" type="button" name="button" disabled *ngIf="!e.isPronabec">
                No Disponible
              </button>
              <span *ngIf="e.download">
                <a class="label label-default" title="Ver PDF" target="_blank" href="{{ e.docUrl }}">
                  <i class="fa fa-eye"></i>
                </a>&nbsp;
                <a class="label label-info" title="Descargar PDF" target="_blank" href="{{e.docUrl}}"
                   download="{{ e.saveAs }}.pdf">
                  <i class="fa fa-cloud-download"></i>
                </a>
              </span>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <!-- /.box-body -->
      <div class="overlay" *ngIf="processing">
        <i class="fa fa-refresh fa-spin"></i>
      </div>
      <!--end loading-- >
    </div>
    <!-- /.box -->
  </div>
  <!--/.col (students) -->
</div>
<!-- /.row -->
