<div class="row" *ngIf="student">
  <div class="col-lg-12 visible-xs" *ngIf="student.profiles.length > 1">
    <div class="box-group" id="accordion">
      <div class="bg-aqua-active">
        <div class="box-header p-0 border-bottom">
          <h4 class="text-white hand pl" (click)="showMenuProfiles = !showMenuProfiles">
            <i class="fa fa-cog"></i> Cambiar de perfil
          </h4>
        </div>
        <div class="panel mb-0" *ngIf="showMenuProfiles">
          <ul class="list-group mb-0">
            <li class="list-group-item hand flat bg-aqua-dark"
                *ngFor="let profile of student.profiles"
                [ngClass]="(profile.program.id == student.profile.program.id)?'hidden':''"
                (click)="changeProfile(profile)">
              {{profile.program.name}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-12">
    <div class="box box-widget widget-user">

      <!-- Start change profile button -->
      <div class="hidden-xs pull-right" *ngIf="student.profiles.length > 1">

        <div class="btn-group">
          <button class="btn btn-lg btn-info dropdown-toggle flat border bg-aqua-active" type="button"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-refresh"></i> Cambiar perfil
          </button>
          <ul class="dropdown-menu pull-right p-0">
            <li class="hand" *ngFor="let profile of student.profiles"
                [ngClass]="(profile.program.id == student.profile.program.id)?'hidden':''"
                (click)="changeProfile(profile)">
              <a class="pb pt">{{profile.program.name}}</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- End change profile button -->

      <div class="widget-user-header bg-aqua-active flat clearfix">
        <div class="col-xs-4 visible-xs">
          <img class="img-circle img-profile-s" [src]="'api/personal/photo/'+student.person_id" alt="User Avatar">
        </div>
        <div class="col-xs-8 col-sm-12">
          <h3 class="widget-user-username">{{ student.last_name }} {{ student.first_name }}</h3>
          <h5 class="widget-user-desc">Código: {{ student.id }}</h5>
        </div>
      </div>

      <!-- Start avatar -->
      <div class="widget-user-image hidden-xs pb-4">
        <img class="img-circle" [src]="'api/personal/photo/'+student.person_id" alt="User Avatar">
        <br/>
      </div>
      <!-- End avatar -->

      <div class="box-footer mt-5 pv pb-0 hidden-xs">
        <div class="col-lg-4 pv visible-lg" *ngFor="let view of views">
          <button type="button" class="btn btn-block flat btn-lg"
                  [ngClass]="(view.active)?'bg-aqua-active':'btn-default'"
                  (click)="changeView(view.component)">{{view.name}}</button>
        </div>
      </div>

      <!-- Start list of actions -->
      <div class="box-group hidden-lg p-0 border-top">
        <div class="box-header p-0 border-bottom">
          <h4 class="hand pl" (click)="showMenuViews = !showMenuViews">
            <i class="fa fa-cog"></i> Cambiar de Vista
          </h4>
        </div>
        <div class="panel" *ngIf="showMenuViews">
          <ul class="list-group mb-0">
            <li class="list-group-item hand flat" *ngFor="let view of views"
                [ngClass]="(view.active)?'bg-aqua-active':''" (click)="changeView(view.component)">{{view.name}}</li>
          </ul>
        </div>
      </div>
      <!-- End list of actions -->
    </div>
  </div>
  <div class="col-lg-12" *ngIf="views[0].active">
    <student-compliance *ngIf="student != null && student.profile.status > configFile.STATE_POSTULANT"
                        [profile]="student.profile" [studentComplianceEnabled]="true"
                        [academicSummaryEnabled]="true"></student-compliance>
  </div>
  <div class="col-lg-12" *ngIf="views[1].active">
    <tracing [profile]="student.profile"></tracing>
  </div>
  <div class="col-lg-12" *ngIf="views[2].active">
    <orientation-curriculum></orientation-curriculum>
  </div>
</div>
