<svg class="d-block {{imageClass}}" [attr.viewBox]="path.viewBox" focusable="true" aria-hidden="true" role="img"
  xmlns="http://www.w3.org/2000/svg" [ngClass]="{'text-red pulse':path.name == 'not-found'}"
  [attr.data-icon-name]="path.name" [attr.width]="width" height="100%">
  <path fill="currentColor" [attr.d]="path.d" stroke-width="6" stroke="currentColor" fill-opacity="0"></path>
</svg>
