<svg class="svg-icon {{iconClass}}" [attr.viewBox]="path.viewBox" focusable="false" aria-hidden="true" role="img"
  xmlns="http://www.w3.org/2000/svg" [ngClass]="{'text-red pulse':path.name == 'not-found'}"
  [attr.data-icon-name]="path.name">

  <path *ngIf="circle && iconStyle!='solid'" [attr.d]="pathCircle.d" [attr.stroke-width]="strokeWidth"
    [attr.stroke]="stroke" [attr.fill]="fill" [attr.fill-opacity]="fillOpacity" [attr.stroke-linecap]="strokeLinecap">
  </path>
  <path *ngIf="circle && iconStyle=='solid'" [attr.d]="pathCircle.d" stroke-width="20" stroke="currentColor"
    [attr.fill]="fill" [attr.fill-opacity]="fillOpacity" [attr.stroke-linecap]="strokeLinecap"></path>

  <path [attr.d]="path.d" [attr.stroke-width]="strokeWidth" [attr.stroke]="stroke" [attr.fill]="fill"
    [attr.fill-opacity]="fillOpacity" [attr.stroke-linecap]="strokeLinecap"></path>
  <path *ngIf="circle && iconStyle=='solid'" [attr.d]="path.d" stroke-width="10" stroke="white" fill="white"
    [attr.fill-opacity]="fillOpacity" [attr.stroke-linecap]="strokeLinecap"></path>

</svg>
