<div *ngIf="setting === undefined && loading">
  <loading></loading>
</div>

<div class="box box-info" *ngIf="setting !== undefined && !loading">
  <div class="box-header with-border">
    <h3 class="box-title"><i class="fa fa-cogs"></i> Configuración: Nivel de Idioma CAIE</h3>
  </div>
  <!-- /.box-header -->

  <div class="box-body">
    <!-- form start -->
    <form class="form-horizontal" #searchForm="ngForm">
      <div class="form-group">
        <label class="col-sm-2 control-label"></label>
        <div class="col-sm-10 col-md-7">
          Nivel de Idioma que será impreso en la Constancia de Idioma Extranjero
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label" for="languageLevelName">Nivel de Idioma CIC</label>
        <div class="col-sm-10 col-md-7">
          <span class="form-control" *ngIf="!edit">{{ setting.name }}</span>
          <select class="form-control" [(ngModel)]="setting.name" name="langLevelName" id="languageLevelName"
                  *ngIf="edit">
            <option *ngFor="let languageLevelName of config.CIC_CAIE_LANGUAGE_LEVEL" value="{{languageLevelName}}">
              {{languageLevelName}}
            </option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10 col-md-7">
          <button type="button" class="btn btn-info" (click)="mod()" *ngIf="!edit">Editar</button>
          <span class="text-green" *ngIf="successMsg"><i class="fa fa-check"></i> Guardado con éxito</span>
          <span class="text-red" *ngIf="failMsg"><i class="fa fa-times"></i> Error al guardar</span>
          <button type="submit" class="btn btn-info" (click)="save()" *ngIf="edit" [disabled]="!edit">
            <i class="fa fa-save"></i> Guardar
          </button>
          <button type="button" class="btn btn-warning" (click)="mod()" *ngIf="edit" [disabled]="!edit">
            <i class="fa fa-ban"></i> Cancelar
          </button>
        </div>
      </div>
    </form>
  </div>
  <!-- /.box-body -->
  <!-- Loading -->
  <div class="overlay" *ngIf="processing">
    <i class="fa fa-refresh fa-spin"></i>
  </div>
  <!-- end loading -->
</div>
<!-- /.box -->
