<div class="cauform" ng-init="step4.init()">
  <div class="row title">
    <span class="pull-right">
      <button class="btn btn-primary" ng-show="mode == 'read'" ng-click="mode = 'write'"> Editar</button>
      <button class="btn btn-default" ng-show="mode == 'write'" ng-click="step4.cancel()"> Cancelar</button>
    </span>
    <div class="col-sm-8">
      <span style="font-size:1.2em" ng-class="steps[3].percent=='100'?'text-success':'text-danger'">[ {{steps[3].percent}} <small style="font-size:0.6em">% </small>] </span>
      Datos laborales del estudiante
    </div>
  </div>
  <form name="step4Frm">
    <!-- Trabaja Si/No -->
    <div class="row form-group">
      <div class="col-sm-3">
        <label for="has">
          <span ng-show="mode == 'write'" class="text-danger">(*)</span>
          ¿Actualmente se encuentra trabajando?
        </label>
      </div>
      <div class="col-sm-5">
        <cd-yes-no mode="mode" value="laboral.has"></cd-yes-no>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <!-- Tipo de Trabajo -->
    <div class="row form-group" ng-if="laboral.has == '1' ">
      <div class="col-sm-3">
        <label for="name">
          <span ng-show="mode == 'write'" class="text-danger">(*)</span>
          ¿Su categoría laboral es?
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong ng-show="laboral.category_dep == '1'">Dependiente</strong> <br>
          <strong ng-show="laboral.category_ind == '1'">Independiente</strong> <br>
          <strong ng-show="laboral.category_cj == '1'">Cesante o Jubilado</strong>
        </div>
        <div ng-show="mode == 'write'">
          <div ng-if="profile.department == 'UREG' ">
            <select name="category" ng-model="laboral.category" class="form-control" ng-change="step4.chCatgory(laboral.category)" cd-show-help required>
              <option value="1">Dependiente</option>
              <option value="2">Independiente</option>
              <option value="3">Cesante o Jubilado</option>
            </select>
            <span class="text-danger" ng-show="mode == 'write' && step4Frm.category.$error.required">Este Campo es Requerido.</span>
          </div>
          <div ng-if="profile.department != 'UREG' " name="category" cd-show-help>
            <label>Dependiente <cd-yes-no mode="mode" value="laboral.category_dep"></cd-yes-no></label><br>
            <label>Independiente <cd-yes-no mode="mode" value="laboral.category_ind"></cd-yes-no></label><br>
            <label>Cesante o Jubilado <cd-yes-no mode="mode" value="laboral.category_cj"></cd-yes-no></label>
          </div>
          <!-- en caso de no ser PGR pase es seleccion multiple -->
        </div>
      </div>
      <div class="col-sm-4">
        <div class="help-message hidden" name="category">
          <div class="help-message-arrow"></div>
          <div class="help-message-content">
              Categoria Laboral: <br>
              <strong>Dependiente</strong> Persona natural que preste servicios bajo dependencia de otra persona natural o jurídica. La prestación de su servicio debe ser remunerado. <br>
              <strong>Independiente</strong> Persona que en el ejercicio de la actividad que realiza, no depende otra persona natural o jurídica.<br>
              <strong>Cesante o jubilado</strong> Persona que cesa sus labores y recibe una prestación económica de por vida.<br>
          </div>
        </div>
      </div>
    </div>
    <!-- Datos Dependiente -->
    <div class="row form-group" ng-if="laboral.has == '1' && laboral.category_dep == '1'">
      <div class="col-sm-3">
        <label for="dep_company">
          <span ng-show="mode == 'write'" class="text-danger">(*)</span>
          <span ng-show="profile.department != 'UREG'">(Dependiente)</span>
          Razón Social de la empresa/ institución donde labora:
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong>{{laboral.dep_company}}</strong>
        </div>
        <div ng-show="mode == 'write'">
          <input type="text" name="dep_company" ng-model="laboral.dep_company" class="form-control" cd-show-help required>
          <span class="text-danger" ng-show="mode == 'write' && step4Frm.dep_company.$error.required">Este Campo es Requerido.</span>
        </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <div class="row form-group" ng-if="laboral.has == '1' && laboral.category_dep == '1'">
      <div class="col-sm-3">
        <label for="dep_type">
          <span ng-show="mode == 'write'" for="dep_type" class="text-danger">(*)</span>
          <span ng-show="profile.department != 'UREG'">(Dependiente)</span>
          La empresa/institución donde labora es:
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong ng-show="laboral.dep_type == '1' ">Pública</strong>
          <strong ng-show="laboral.dep_type == '2' ">Privada</strong>
        </div>
        <div ng-show="mode == 'write'">
          <select name="dep_type" ng-model="laboral.dep_type" class="form-control" cd-show-help required>
            <option value="1">Pública</option>
            <option value="2">Privada</option>
          </select>
          <span class="text-danger" ng-show="mode == 'write' && step4Frm.dep_type.$error.required">Este Campo es Requerido.</span>
        </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <div class="row form-group" ng-if="laboral.has == '1' && laboral.category_dep == '1'">
      <div class="col-sm-3">
        <label for="dep_activity">
          <span ng-show="mode == 'write'" for="dep_activity" class="text-danger">(*)</span>
          <span ng-show="profile.department != 'UREG'">(Dependiente)</span>
          La actividad de la empresa/ institución donde labora es:
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong ng-show="laboral.dep_activity == '1' ">Agricultura, ganadería, caza y silvicultura</strong>
          <strong ng-show="laboral.dep_activity == '2' ">Pesca y acuicultura</strong>
          <strong ng-show="laboral.dep_activity == '3' ">Extracción de petróleo, gas, minerales y servicios conexos</strong>
          <strong ng-show="laboral.dep_activity == '4' ">Manufactura</strong>
          <strong ng-show="laboral.dep_activity == '5' ">Electricidad, gas y agua</strong>
          <strong ng-show="laboral.dep_activity == '6' ">Construcción</strong>
          <strong ng-show="laboral.dep_activity == '7' ">Comercio, mantenimiento y reparación de vehículos automotores y motocicletas</strong>
          <strong ng-show="laboral.dep_activity == '8' ">Transporte, almacenamiento, correo y mensajería</strong>
          <strong ng-show="laboral.dep_activity == '9' ">Alojamiento y restaurantes</strong>
          <strong ng-show="laboral.dep_activity == '10'">Telecomunicaciones y otros servicios de información</strong>
          <strong ng-show="laboral.dep_activity == '11'">Servicios financieros, seguros y pensiones</strong>
          <strong ng-show="laboral.dep_activity == '12'">Servicios prestados a empresas</strong>
          <strong ng-show="laboral.dep_activity == '13'">Administración pública y defensa</strong>
          <strong ng-show="laboral.dep_activity == '14'">Otros servicios</strong>
        </div>
        <div ng-show="mode == 'write'">
          <select name="dep_activity" ng-model="laboral.dep_activity" class="form-control" cd-show-help required>
            <option value="1">Agricultura, ganadería, caza y silvicultura</option>
            <option value="2">Pesca y acuicultura</option>
            <option value="3">Extracción de petróleo, gas, minerales y servicios conexos</option>
            <option value="4">Manufactura</option>
            <option value="5">Electricidad, gas y agua</option>
            <option value="6">Construcción</option>
            <option value="7">Comercio, mantenimiento y reparación de vehículos automotores y motocicletas</option>
            <option value="8">Transporte, almacenamiento, correo y mensajería</option>
            <option value="9">Alojamiento y restaurantes</option>
            <option value="10">Telecomunicaciones y otros servicios de información</option>
            <option value="11">Servicios financieros, seguros y pensiones</option>
            <option value="12">Servicios prestados a empresas</option>
            <option value="13">Administración pública y defensa</option>
            <option value="14">Otros servicios</option>
          </select>
          <span class="text-danger" ng-show="mode == 'write' && step4Frm.dep_activity.$error.required">Este Campo es Requerido.</span>
        </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <div class="row form-group" ng-if="laboral.has == '1' && laboral.category_dep == '1'">
      <div class="col-sm-3">
        <label for="dep_service_time">
          <span ng-show="mode == 'write'" class="text-danger">(*)</span>
          <span ng-show="profile.department != 'UREG'">(Dependiente)</span>
          ¿Desde qué año se encuentra trabajando?
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong>{{laboral.dep_service_time}}</strong>
        </div>
        <div ng-show="mode == 'write'">
          <input type="number" name="dep_service_time" ng-model="laboral.dep_service_time" class="form-control" cd-show-help min="1950" max="{{current_year}}" step="1" required>
          <span class="text-danger" ng-show="mode == 'write' && step4Frm.dep_service_time.$error.required">Este Campo es Requerido.</span>
          <span class="text-danger" ng-show="mode == 'write' && step4Frm.dep_service_time.$error.min">Pruebe una fecha mas reciente.</span>
          <span class="text-danger" ng-show="mode == 'write' && step4Frm.dep_service_time.$error.max">No puedes poner un numero  muy alto.</span>
          <span class="text-danger" ng-show="mode == 'write' && step4Frm.dep_service_time.$error.number">Debe ser un numero entero.</span>

        </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <div class="row form-group" ng-if="laboral.has == '1' && laboral.category_dep == '1'">
      <div class="col-sm-3">
        <label for="dep_position">
          <span ng-show="mode == 'write'" class="text-danger">(*)</span>
          <span ng-show="profile.department != 'UREG'">(Dependiente)</span>
          Mencione el cargo que ocupa:
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong>{{laboral.dep_position}}</strong>
        </div>
        <div ng-show="mode == 'write'">
          <input type="text" name="dep_position" ng-model="laboral.dep_position" class="form-control" cd-show-help required>
          <span class="text-danger" ng-show="mode == 'write' && step4Frm.dep_position.$error.required">Este Campo es Requerido.</span>
          </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <!-- Datos de Independiente -->
    <div class="row form-group" ng-if="laboral.has == '1' && laboral.category_ind == '1'">
      <div class="col-sm-3">
        <label for="ind_actual_work">
          <span ng-show="mode == 'write'" class="text-danger">(*)</span>
          <span ng-show="profile.department != 'UREG'">(Independiente)</span>
          ¿Su ocupación actual es?
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong>{{laboral.ind_actual_work}}</strong>
        </div>
        <div ng-show="mode == 'write'">
          <input type="text" name="ind_actual_work" ng-model="laboral.ind_actual_work" class="form-control" cd-show-help required>
          <span class="text-danger" ng-show="mode == 'write' && step4Frm.ind_actual_work.$error.required">Este Campo es Requerido.</span>
        </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <div class="row form-group" ng-if="laboral.has == '1' && laboral.category_ind == '1'">
      <div class="col-sm-3">
        <label for="ind_activity">
          <span ng-show="mode == 'write'" class="text-danger">(*)</span>
          <span ng-show="profile.department != 'UREG'">(Independiente)</span>
          Actividad económica que realiza:
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong>{{laboral.ind_activity}}</strong>
        </div>
        <div ng-show="mode == 'write'">
          <input type="text" name="ind_activity" ng-model="laboral.ind_activity" class="form-control" cd-show-help required>
          <span class="text-danger" ng-show="mode == 'write' && step4Frm.ind_activity.$error.required">Este Campo es Requerido.</span>
        </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <div class="row form-group" ng-if="laboral.has == '1' && laboral.category_ind == '1'">
      <div class="col-sm-3">
        <label for="ind_has_ruc">
          <span ng-show="mode == 'write'" class="text-danger">(*)</span>
          <span ng-show="profile.department != 'UREG'">(Independiente)</span>
          ¿Tiene RUC?
        </label>
      </div>
      <div class="col-sm-5">
        <cd-yes-no mode="mode" value="laboral.ind_has_ruc" cd-show-help ></cd-yes-no>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <div class="row form-group" ng-if="laboral.has == '1' && laboral.category_ind == '1' && laboral.ind_has_ruc == '1'">
      <div class="col-sm-3">
        <label for="ind_ruc">
          <span ng-show="mode == 'write'" class="text-danger">(*)</span>
          <span ng-show="profile.department != 'UREG'">(Independiente)</span>
          ¿Numero de RUC?
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong>{{laboral.ind_ruc}}</strong>
        </div>
        <div ng-show="mode == 'write'">
          <input type="text" name="ind_ruc" ng-model="laboral.ind_ruc" class="form-control" cd-show-help ng-pattern="/^[0-9]{11,11}$/" required>
          <span class="text-danger" ng-show="mode == 'write' && step4Frm.ind_ruc.$error.required">Este Campo es Requerido.</span>
          <span class="text-danger" ng-show="mode == 'write' && step4Frm.ind_ruc.$error.pattern">El ruc esta formado por 11 numeros Enteros.</span>
        </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <div class="row form-group" ng-if="laboral.has == '1' && laboral.category_ind == '1'">
      <div class="col-sm-3">
        <label for="ind_workers">
          <span ng-show="mode == 'write'" class="text-danger">(*)</span>
          <span ng-show="profile.department != 'UREG'">(Independiente)</span>
          ¿Con cuántos trabajadores cuenta su empresa?
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong>{{laboral.ind_workers}}</strong>
        </div>
        <div ng-show="mode == 'write'">
          <input type="number" name="ind_workers" ng-model="laboral.ind_workers" class="form-control" cd-show-help min="1" max="5000" required>
          <span class="text-danger" ng-show="mode == 'write' && step4Frm.ind_workers.$error.required">Este Campo es Requerido.</span>
          <span class="text-danger" ng-show="mode == 'write' && step4Frm.ind_workers.$error.max">No puedes poner un numero mayor a 5000.</span>
          <span class="text-danger" ng-show="mode == 'write' && step4Frm.ind_workers.$error.number">Debe ser un numero entero.</span>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="help-message hidden" name="ind_workers">
          <div class="help-message-arrow"></div>
          <div class="help-message-content">
              Si Ud es el unico trabajador ingrese 1.
          </div>
        </div>
      </div>
    </div>
    <!-- Datos de Cesante Jubilado -->
    <div class="row form-group" ng-if="laboral.has == '1' && laboral.category_cj == '1'">
      <div class="col-sm-3">
        <label for="cj_company">
          <span ng-show="mode == 'write'" class="text-danger">(*)</span>
          Como cesante o jubilado, mencione la Razón Social de la empresa/ institución donde laboró:
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong>{{laboral.cj_company}}</strong>
        </div>
        <div ng-show="mode == 'write'">
          <input type="text" name="cj_company" ng-model="laboral.cj_company" class="form-control" cd-show-help required>
          <span class="text-danger" ng-show="mode == 'write' && step4Frm.cj_company.$error.required">Este Campo es Requerido.</span>
        </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <div class="row form-group" ng-if="laboral.has == '1' && laboral.category_cj == '1'">
      <div class="col-sm-3">
        <label for="cj_service_time">
          <span ng-show="mode == 'write'" class="text-danger">(*)</span>
          ¿Año de cese?:
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong>{{laboral.cj_service_time}}</strong>
        </div>
        <div ng-show="mode == 'write'">
          <input type="number" name="cj_service_time" ng-model="laboral.cj_service_time" class="form-control" cd-show-help min="1950" max="{{current_year}}" step="1" required>
          <span class="text-danger" ng-show="mode == 'write' && step4Frm.cj_service_time.$error.required">Este Campo es Requerido.</span>
          <span class="text-danger" ng-show="mode == 'write' && step4Frm.cj_service_time.$error.min">Pruebe con una fecha mas reciente.</span>
          <span class="text-danger" ng-show="mode == 'write' && step4Frm.cj_service_time.$error.max">No puedes poner un año demaciado alto.</span>
          <span class="text-danger" ng-show="mode == 'write' && step4Frm.cj_service_time.$error.number">Debe ser un numero entero.</span>
        </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <!-- AE Complementario -->
    <div class="row form-group">
      <div class="col-sm-3">
        <label for="has_complementary">
          <span ng-show="mode == 'write'" class="text-danger">(*)</span>
          ¿Realiza usted (el estudiante) otra actividad económica complementaria?
        </label>
      </div>
      <div class="col-sm-5">
        <cd-yes-no mode="mode" value="laboral.has_complementary" cd-show-help ></cd-yes-no>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <div class="row form-group" ng-if="laboral.has_complementary == '1' ">
      <div class="col-sm-3">
        <label for="com_name">
          <span ng-show="mode == 'write'" class="text-danger">(*)</span>
          Indique la actividad complementaria:
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong>{{laboral.com_name}}</strong>
        </div>
        <div ng-show="mode == 'write'">
          <input type="text" name="com_name" ng-model="laboral.com_name" class="form-control" cd-show-help required>
          <span class="text-danger" ng-show="mode == 'write' && step4Frm.com_name.$error.required">Este Campo es Requerido.</span>
        </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>

    <!-- Submit button -->
    <div class="row" ng-show="mode == 'write'">
      <div class="col-sm-8 text-right">
        <input ng-disabled="step4Frm.$invalid" type="submit" value="Guardar" class="btn btn-primary" ng-disabled="step4Frm.$invalid" ng-click="step4.save(laboral)" dis-btn>
      </div>
    </div>
  </form>
</div>
