<div class="cauform" ng-init="step3.init()">
  <div class="row title">
    <span class="pull-right">
      <button class="btn btn-primary" ng-show="mode == 'read'" ng-click="mode = 'write'"> Editar</button>
      <button class="btn btn-default" ng-show="mode == 'write'" ng-click="step3.cancel()"> Cancelar</button>
    </span>
    <div class="col-sm-8">
      <span style="font-size:1.2em" ng-class="steps[2].percent=='100'?'text-success':'text-danger'">[ {{steps[2].percent}} <small style="font-size:0.6em">% </small>] </span>
      Datos académicos del estudiante
    </div>
  </div>
  <form name="step3Frm">
    <!-- colegio-->
    <div class="row form-group" ng-if="profile.modality=='PGR'">
      <div class="col-sm-3">
        <label for="school_name">
          <span ng-show="mode == 'write'" class="text-danger">(*)</span>
          Nombre del Colegio:
        </label>
      </div>
      <div class="col-sm-5">
        <div>
          <strong>{{academic.school_name}}</strong>
        </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <!-- colegio ubigeo  -->
    <div ng-if="profile.modality=='PGR'">
      <div class="row form-group">
        <div class="col-sm-3">
          <label for="origin_departamento">
            <span ng-show="mode == 'write'" class="text-danger">(*)</span>
            Departamento:
          </label>
        </div>
        <div class="col-sm-5">
          <cd-ubigeo-departamento
            ubigeo="academic.school_ubigeo"
            mode="'read'"
            name="origin_departamento"
            cd-show-help
            required>
          </cd-ubigeo-departamento>
          <span class="text-danger" ng-show="mode == 'write' && step3Frm.origin_departamento.$error.required">Este Campo es Requerido.</span>      </div>
        <div class="col-sm-4">
          <div class="help-message hidden" name="origin_departamento">
            <div class="help-message-arrow"></div>
            <div class="help-message-content">
              Departamento: <br>
              No olvides que debes escribir tu <strong>apellido paterno</strong> tal como
              esta escrito en tu <strong>DNI</strong>
            </div>
          </div>
        </div>
      </div>
      <div class="row form-group" >
        <div class="col-sm-3">
          <label for="origin_provincia">
            <span ng-show="mode == 'write'" class="text-danger">(*)</span>
            Provincia:
          </label>
        </div>
        <div class="col-sm-5">
          <cd-ubigeo-provincia
              ubigeo="academic.school_ubigeo"
              mode="'read'"
              name="origin_provincia"
              required>
          </cd-ubigeo-provincia>
          <span class="text-danger" ng-show="mode == 'write' && step3Frm.origin_provincia.$error.required">Este Campo es Requerido.</span>      </div>
        <div class="col-sm-4">
          <div class="help-message hidden" name="origin_provincia">
            <div class="help-message-arrow"></div>
            <div class="help-message-content">
              Departamento: <br>
              No olvides que debes escribir tu <strong>apellido paterno</strong> tal como
              esta escrito en tu <strong>DNI</strong>
            </div>
          </div>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-sm-3">
          <label for="origin_distrito">
            <span ng-show="mode == 'write'" class="text-danger">(*)</span>
            Distrito:
          </label>
        </div>
        <div class="col-sm-5">
          <cd-ubigeo-distrito
              ubigeo="academic.school_ubigeo"
              mode="'read'"
              name="origin_distrito"
              required>
          </cd-ubigeo-distrito>
          <span class="text-danger" ng-show="mode == 'write' && step3Frm.origin_distrito.$error.required">Este Campo es Requerido.</span>      </div>
        <div class="col-sm-4">
          <div class="help-message hidden" name="origin_distrito">
            <div class="help-message-arrow"></div>
            <div class="help-message-content">
              Departamento: <br>
              No olvides que debes escribir tu <strong>apellido paterno</strong> tal como
              esta escrito en tu <strong>DNI</strong>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- colegio tipo  -->
    <div class="row form-group"  ng-if="profile.modality=='PGR'">
      <div class="col-sm-3">
        <label for="school_type">
          <span ng-show="mode == 'write'" class="text-danger">(*)</span>
          Tipo de Colegio:
        </label>
      </div>
      <div class="col-sm-5">
        <div>
          <strong>{{academic.school_type}}</strong>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="help-message hidden" name="school_type">
          <div class="help-message-arrow"></div>
          <div class="help-message-content">
            Estado Civil: <br>
            nn <br>
          </div>
        </div>
      </div>
    </div>
    <!---  pension school  -->
    <div class="row form-group"  ng-if="academic.school_type=='Privado'">
      <div class="col-sm-3">
        <label >
          <span ng-show="mode == 'write'" class="text-danger">(*)</span>
          ¿Cuál fue el monto de su última pensión de colegio?
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong>{{academic.school_pension}}</strong>
        </div>
        <div ng-show="mode == 'write'">
          <input type="number" step="1" min="10" name="college_pension" ng-model="academic.school_pension" class="form-control" cd-show-help="school_pension" required>
          <span class="text-danger" ng-show="mode == 'write' && step3Frm.college_pension.$error.required">Este Campo es Requerido.</span>
          <span class="text-danger" ng-show="mode == 'write' && step3Frm.college_pension.$error.min">Valor mínimo 10.</span>
        </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <!--   año final secundaria: -->
    <div class="row form-group">
      <div class="col-sm-3">
        <label for="end_year">
          <span ng-show="mode == 'write'" class="text-danger">(*)</span>
          Año en que terminó 5to año de secundaria:
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong>{{academic.end_year}}</strong>
        </div>
        <div ng-show="mode == 'write'">
          <input type="number" max="{{current_year}}" min="1950" name="end_year" ng-model="academic.end_year" class="form-control" cd-show-help="end_year" required>
          <span class="text-danger" ng-show="mode == 'write' && step3Frm.end_year.$error.required">Este Campo es Requerido.</span>
          <span class="text-danger" ng-show="mode == 'write' && step3Frm.end_year.$error.min">No es un año valido.</span>
          <span class="text-danger" ng-show="mode == 'write' && step3Frm.end_year.$error.max">No es un año valido.</span>
          <span class="text-danger" ng-show="mode == 'write' && step3Frm.end_year.$error.number">No es un año valido.</span>
        </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <!-- Estudios alcazados -->
    <div class="row form-group">
      <div class="col-sm-3">
        <label for="last_grade">
          <span ng-show="mode == 'write'" class="text-danger">(*)</span>
          Máximo grado de estudios alcanzado:
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong ng-show="academic.last_grade == '1' " >Educación secundaria</strong>
          <strong ng-show="academic.last_grade == '2' " >Educación técnica (instituto superior, etc)</strong>
          <strong ng-show="academic.last_grade == '3' " >Educación superior pedagógica</strong>
          <strong ng-show="academic.last_grade == '4' " >Educación universitaria</strong>
          <strong ng-show="academic.last_grade == '5' " >Educación universitaria de postgrado</strong>
          <strong ng-show="academic.last_grade == '6' " >Fuerzas armadas y policiales</strong>
        </div>
        <div ng-show="mode == 'write'">
          <select ng-model="academic.last_grade" class="form-control" cd-show-help="last_grade" required>
            <option value="1" >Educación secundaria</option>
            <option value="2" >Educación técnica (instituto superior, etc)</option>
            <option value="3" >Educación superior pedagógica</option>
            <option value="4" >Educación universitaria</option>
            <option value="5" >Educación universitaria de postgrado</option>
            <option value="6" >Fuerzas armadas y policiales</option>
          </select>
          <span class="text-danger" ng-show="mode == 'write' && step3Frm.last_grade.$error.required">Este Campo es Requerido.</span>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="help-message hidden" name="last_grade">
          <div class="help-message-arrow"></div>
          <div class="help-message-content">
            Apellido Materno: <br>
            No olvides que debes escribir tu <strong>apellido materno</strong> tal como
            esta escrito en tu <strong>DNI</strong>
          </div>
        </div>
      </div>
    </div>
    <!-- college name -->
    <div class="row form-group"  ng-if="academic.last_grade >= 2 && academic.last_grade <=5">
      <div class="col-sm-3">
        <label for="college_name">
          <span ng-show="mode == 'write'" class="text-danger">(*)</span>
          Nombre de la institución donde realizó su máximo grado alcanzado:
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong>{{academic.college_name}}</strong>
        </div>
        <div ng-show="mode == 'write'">
          <input type="text" name="college_name" ng-model="academic.college_name" class="form-control" cd-show-help="college_name" required>
          <span class="text-danger" ng-show="mode == 'write' && step3Frm.college_name.$error.required">Este Campo es Requerido.</span>
        </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <!--college mode -->
    <div class="row form-group"  ng-if="academic.last_grade >= 2 && academic.last_grade <=5">
      <div class="col-sm-3">
        <label for="college_mode">
          <span ng-show="mode == 'write'" class="text-danger">(*)</span>
          El tipo de la Institución es:
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong ng-show="academic.college_mode == '1' ">Público</strong>
          <strong ng-show="academic.college_mode == '2' ">Privado</strong>
        </div>
        <div ng-show="mode == 'write'">
          <select  ng-model="academic.college_mode" class="form-control" cd-show-help="college_mode" required>
            <option value="1">Público</option>
            <option value="2">Privado</option>
          </select>
          <span class="text-danger" ng-show="mode == 'write' && step3Frm.college_mode.$error.required">Este Campo es Requerido.</span>
        </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <!--monto -->
    <div class="row form-group"  ng-if="academic.last_grade >= 2 && academic.last_grade <=5 && academic.college_mode==2">
      <div class="col-sm-3">
        <label for="college_mode">
          <span ng-show="mode == 'write'" class="text-danger">(*)</span>
          ¿Cuál fue el monto de su última pensión?
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong>{{academic.college_pension}}</strong>
        </div>
        <div ng-show="mode == 'write'">
          <input type="number" step="1" min="100" name="college_pension" ng-model="academic.college_pension" class="form-control" cd-show-help="college_pension" required>
          <span class="text-danger" ng-show="mode == 'write' && step3Frm.college_pension.$error.required">Este Campo es Requerido.</span>
          <span class="text-danger" ng-show="mode == 'write' && step3Frm.college_pension.$error.min">Valor mínimo 100.</span>
        </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>

    <!--carrera mencion -->
    <div class="row form-group"  ng-if="academic.last_grade >= 2 && academic.last_grade <=5">
      <div class="col-sm-3">
        <label for="college_career">
          <span ng-show="mode == 'write'" class="text-danger">(*)</span>
          Indique la Carrera o mención que estudió:
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong>{{academic.college_career}}</strong>
        </div>
        <div ng-show="mode == 'write'">
          <input type="text" name="college_career" ng-model="academic.college_career" class="form-control" cd-show-help="college_career" required>
          <span class="text-danger" ng-show="mode == 'write' && step3Frm.college_career.$error.required">Este Campo es Requerido.</span>
        </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <!--ciclos -->
    <div class="row form-group"  ng-if="academic.last_grade >= 2 && academic.last_grade <=5">
      <div class="col-sm-3">
        <label for="college_duration">
          <span ng-show="mode == 'write'" class="text-danger">(*)</span>
          Indique el número de ciclos que estudió:
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong>{{academic.college_duration}}</strong>
        </div>
        <div ng-show="mode == 'write'">
          <input type="number" min="1"  step="1" name="college_duration" ng-model="academic.college_duration" class="form-control" cd-show-help="college_duration" required>
          <span class="text-danger" ng-show="mode == 'write' && step3Frm.college_duration.$error.required">Este Campo es Requerido.</span>
          <span class="text-danger" ng-show="mode == 'write' && step3Frm.college_duration.$error.required">El valor minimo es 1.</span>
          <span class="text-danger" ng-show="mode == 'write' && step3Frm.college_duration.$error.number">Solo numeros enteros.</span>
        </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <!-- accesos  -->
    <div class="row form-group" ng-if="profile.modality == 'PGR'">
      <div class="col-sm-3">
        <label for="first_in_college">
          <span ng-show="mode == 'write'" class="text-danger">(*)</span>
          ¿En su familia(conformada por padre, madre y hermanos), es usted, el primero que accede a educación universitaria?:
        </label>
      </div>
      <div class="col-sm-5">
        <cd-yes-no mode="mode" value="academic.first_in_college" cd-show-help ></cd-yes-no>
      </div>
      <div class="col-sm-4">
      </div>
    </div>

    <div class="row"  ng-show="mode == 'write'">
      <div class="col-sm-8 text-right">
        <input ng-disabled="step3Frm.$invalid" type="submit" value="Guardar" class="btn btn-primary" ng-click="step3.save(academic)" dis-btn>
      </div>
    </div>
  </form>
</div>
