<div class="cauform" ng-init="init()">
  <div class="row title">
    <span class="pull-right">
      <button class="btn btn-default" ng-show="mode == 'read'" ng-click="goBack()"> Regresar</button>
      <button class="btn btn-primary" ng-show="mode == 'read'" ng-click="mode = 'write'" id="aportant-btn-edit"> Editar</button>
      <button class="btn btn-default" ng-show="mode == 'write'" ng-click="cancel()"> Cancelar</button>
    </span>
    <div class="col-sm-8">Datos de aportantes de la economía familiar </div>
  </div>
  <form name="step6Frm">
    <!-- message -->
    <div class="row form-group">
      <div class="col-sm-12">
        <p>1. Haga clic en EDITAR.</p>
        <p>2. Rellene la informacion solicitada.</p>
        <p>3. Haga clic en GUARDAR.</p>
        <p>4. Para volver al formulario de familiares, haga clic en REGRESAR.</p>
      </div>
    </div>
    <!-- who -->
    <div class="row form-group">
      <div class="col-sm-3">
        <label for="who">
          <span ng-if="mode == 'write'" class="text-danger">(*)</span>
          Parentesco:
        </label>
      </div>
      <div class="col-sm-5" ng-switch="aportant.relation">
        <div ng-if="mode == 'read' || aportant.relation != 'O'">
          <strong ng-if="aportant.other_relation">{{aportant.other_relation}}</strong>
          <div  ng-switch="aportant.relation" ng-show="!aportant.other_relation">
            <strong ng-switch-when="P"> Padre</strong>
            <strong ng-switch-when="M"> Madre</strong>
            <strong ng-switch-when="C"> Cónyuge</strong>
            <strong ng-switch-when="H"> Hermano(a)</strong>
            <strong ng-switch-when="I"> Hijo(a)</strong>
            <strong ng-switch-when="O"> Otro Familiar</strong>
          </div>
        </div>
        <div ng-if="mode == 'write' &&  aportant.relation == 'O'">
          <input type="text" ng-model="aportant.other_relation" class="form-control" ng-pattern="/^([A-Za-zñÑ\s])+$/" required>
          <span class="text-danger" ng-show="mode == 'write' && aportantFrm.father_name.$error.required">Este Campo es Requerido.</span>
          <span class="text-danger" ng-show="mode == 'write' && aportantFrm.mother_name.$error.pattern">Error parentesco.</span>
        </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <!-- Economic Type -->
    <div class="row form-group">
      <div class="col-sm-3">
        <label for="who">
          <span ng-show="mode == 'write'" class="text-danger">(*)</span>
          Situación economica familiar:
        </label>
      </div>
      <div class="col-sm-5" ng-switch="aportant.economic_type">
        <span ng-switch-when="A"> <strong> Aporta</strong>  a la economia familiar </span>
        <span ng-switch-when="D"> <strong> Depende</strong> de la economia familiar </span>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <div class="row title">
      <strong>Datos Personales</strong>
    </div>
    <!-- Documento de Identidad -->
    <div class="row form-group">
      <div class="col-sm-3">
        <label for="document">
          <span ng-show="mode == 'write'" class="text-danger">(*)</span>
          Documento de Identidad:
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong ng-show="aportant.document_type=='DNI'">DNI</strong>
          <strong ng-show="aportant.document_type=='CE'">CARNÉ DE EXTRANJERÍA</strong>
          <strong ng-show="aportant.document_type=='CEPass'">PASAPORTE</strong>
          {{aportant.document_number}}
        </div>
        <div ng-show="mode == 'write'">
          <radiogroup class="col-xs-5 nopadding">
                <div class='radio'>
            <label ><input type="radio" name="document_type" value="DNI" ng-model="aportant.document_type" cd-show-help ng-required="!aportant.document_type"> DNI</label>
              </div>
            <div class='radio'>
            <label ><input type="radio" name="document_type" value="CE" ng-model="aportant.document_type" cd-show-help  ng-required="!aportant.document_type"> CARNÉ DE EXTRANJERÍA</label> <br>
              </div>
            <div class='radio'>
            <label ><input type="radio" name="document_type" value="CEPass" ng-model="aportant.document_type" cd-show-help  ng-required="!aportant.document_type"> PASAPORTE</label>
              </div>
          </radiogroup>
          <div class="col-xs-7 nopadding">
            <label for="document_number">Número</label>
            <input class="form-control" type="text" name="document_number" ng-model="aportant.document_number" cd-show-help minlenght="8" maxlength="11" ng-pattern="/^[0-9]{8,11}$/" required>
            <span class="text-danger" ng-show="mode == 'write' && step1Frm.document_number.$error.required">Este Campo es Requerido.</span>
            <span class="text-danger" ng-show="mode == 'write' && step6Frm.ind_ruc.$error.pattern">El DNI esta formado por 8 numeros <br>El ruc esta formado por 11 numeros Enteros.</span>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="help-message hidden" name="document_type">
          <div class="help-message-arrow"></div>
          <div class="help-message-content">
              <strong>Tipo de Documento de Identidad:</strong> <br>
              Si eres <strong>Peruano</strong> seguramente cuentas con un <strong>DNI</strong>(Documento Nacional de Identificación) <br>
              Si eres <strong>Extranjero</strong> seguramente cuentas con un <strong>CE</strong>(Carnet de Extranjeria) <br>
          </div>
        </div>
      </div>
    </div>
    <!-- nombres -->
    <div class="row form-group">
      <div class="col-sm-3">
        <label for="father_name">
          <span ng-show="mode == 'write'" class="text-danger">(*)</span>
          Apellido Paterno:
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong >{{aportant.father_name}}</strong>
        </div>
        <div ng-show="mode == 'write'">
          <input type="test" name="father_name" ng-model="aportant.father_name" class="form-control" ng-pattern="/^([A-Za-zñÑ\s])+$/" required>
          <span class="text-danger" ng-show="mode == 'write' && dependentFrm.father_name.$error.required">Este Campo es Requerido.</span>
          <span class="text-danger" ng-show="mode == 'write' && dependentFrm.father_name.$error.pattern">Enombe nombre .</span>
        </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-sm-3">
        <label for="mother_name">
          <span ng-show="mode == 'write'" class="text-danger">(*)</span>
          Apellido materno:
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong >{{aportant.mother_name}}</strong>
        </div>
        <div ng-show="mode == 'write'">
          <input type="test" name="mother_name" ng-model="aportant.mother_name" class="form-control" cd-show-help  ng-pattern="/^([A-Za-zñÑ\s])+$/" required>
          <span class="text-danger" ng-show="mode == 'write' && dependentFrm.mother_name.$error.required">Este Campo es Requerido.</span>
          <span class="text-danger" ng-show="mode == 'write' && dependentFrm.mother_name.$error.pattern">Enombe nombre .</span>
        </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-sm-3">
        <label for="first_name">
          <span ng-show="mode == 'write'" class="text-danger">(*)</span>
          Nombres:
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong >{{aportant.first_name}}</strong>
        </div>
        <div ng-show="mode == 'write'">
          <input type="test" name="first_name" ng-model="aportant.first_name" class="form-control" cd-show-help  ng-pattern="/^([A-Za-zñÑ\s])+$/" required>
          <span class="text-danger" ng-show="mode == 'write' && dependentFrm.first_name.$error.required">Este Campo es Requerido.</span>
          <span class="text-danger" ng-show="mode == 'write' && dependentFrm.first_name.$error.pattern">Enombe nombre .</span>
        </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <!-- INICIO - Responsable Cuotas -->
    <div class="row title">
      <div class="col-xs-12 text-center">
        <strong>Responsable de Pensión</strong>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-sm-3">
          <label for="conti_pension">
              <span ng-show="mode == 'write'" class="text-danger">(*)</span>
              ¿Es responsable del pago de las cuotas de enseñanza?
          </label>
      </div>
      <div class="col-sm-5">
          <cd-yes-no mode="mode" value="aportant.conti_pension"></cd-yes-no>
      </div>
      <div class="col-sm-4">
          <div class="help-message hidden" name="conti_pension">
              <div class="help-message-arrow"></div>
              <div class="help-message-content">
                  Apellido Paterno:
                  <br>
                  No olvides que debes escribir tu
                  <strong>apellido paterno</strong>
                  tal como esta escrito en tu
                  <strong>DNI</strong>
              </div>
          </div>
      </div>
    </div>
    <!-- FIN - Responsable Cuotas -->
    <!-- INICIO - Máximo Grado de Estudios -->
    <div class="row title">
      <div class="col-xs-12 text-center">
        <strong>Datos Academicos</strong>
      </div>
    </div>
    <div class="row form-group">
        <div class="col-sm-3">
            <label for="last_grade">
                <span ng-show="mode == 'write'" class="text-danger">(*)</span>
                Máximo Grado de Estudios Alcanzado:
            </label>
        </div>
        <div class="col-sm-5">
            <div ng-show="mode == 'read'">
                <strong>{{aportant.last_grade}}</strong>
            </div>
            <div ng-show="mode == 'write'">
                <select ng-model="aportant.last_grade" class="form-control" cd-show-help="last_grade" required>

                  <option value="Sin estudios">Sin estudios</option>
                  <option value="Educación inicial">Educación inicial</option>
                  <option value="Educación primaria">Educación primaria</option>
                  <option value="Educación secundaria">Educación secundaria</option>
                  <option value="Educación técnica (instituto superior, etc)">Educación técnica (instituto superior, etc)</option>
                  <option value="Educación superior pedagógica">Educación superior pedagógica</option>
                  <option value="Educación universitaria">Educación universitaria</option>
                  <option value="Educación universitaria de postgrado">Educación universitaria de postgrado</option>
                  <option value="Fuerzas armadas y policiales">Fuerzas armadas y policiales</option>

                </select>
                <span class="text-danger" ng-show="mode == 'write' && step6Frm.last_grade.$error.required">Este Campo es Requerido.</span>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="help-message hidden" name="last_grade">
                <div class="help-message-arrow"></div>
                <div class="help-message-content">
                    Apellido Paterno:
                    <br>
                    No olvides que debes escribir tu
                    <strong>apellido paterno</strong>
                    tal como esta escrito en tu
                    <strong>DNI</strong>
                </div>
            </div>
        </div>
    </div>
    <!-- FIN - Máximo Grado de Estudios -->
    <!-- INICIO - Lugar de Residencia -->
    <!-- Ubigeo de origen -->
    <div class="row title">
      <div class="col-xs-12 text-center">
        <strong>Lugar de residencia</strong>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-sm-3">
        <label for="birth_country">
          <span ng-show="mode == 'write'" class="text-danger">(*)</span>
          País:
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'" ng-if="aportant.birth_country">
          <strong ng-repeat="country in countries | filter:{id:aportant.birth_country}:true">{{country.nombre}}</strong>
        </div>
        <div ng-show="mode == 'write'">
          <select ng-show="mode == 'write'"
                  class="form-control"
                  name="country"
                  ng-model="aportant.birth_country"
                  cd-show-help
                  required>
            <option value="170"> PE-Perú </option>
            <option ng-repeat="country in countries"
                    ng-selected="country.id == step6Frm.country"
                    value="{{country.id}}"> {{country.codigo}}-{{country.nombre}}</option>
          </select>
          <span class="text-danger" ng-show="mode == 'write' && step6Frm.birth_country.$error.required">Este Campo es Requerido.</span>
        </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <div class="row form-group" ng-if="aportant.birth_country == '170'">
      <div class="col-sm-3">
        <label for="origin_departamento">
          <span ng-show="mode == 'write'" class="text-danger">(*)</span>
          Departamento:
        </label>
      </div>
      <div class="col-sm-5">
        <cd-ubigeo-departamento
          ubigeo="aportant.ubigeo"
          mode="mode"
          name="origin_departamento"
          cd-show-help
          required>
        </cd-ubigeo-departamento>
        <span class="text-danger" ng-show="mode == 'write' && step6Frm.origin_departamento.$error.required">Este Campo es Requerido.</span>      </div>
      <div class="col-sm-4">
        <div class="help-message hidden" name="origin_departamento">
          <div class="help-message-arrow"></div>
          <div class="help-message-content">
            Departamento: <br>
            No olvides que debes escribir tu <strong>apellido paterno</strong> tal como
            esta escrito en tu <strong>DNI</strong>
          </div>
        </div>
      </div>
    </div>
    <div class="row form-group" ng-if="aportant.birth_country == '170'">
      <div class="col-sm-3">
        <label for="origin_provincia">
          <span ng-show="mode == 'write'" class="text-danger">(*)</span>
          Provincia:
        </label>
      </div>
      <div class="col-sm-5">
        <cd-ubigeo-provincia
            ubigeo="aportant.ubigeo"
            mode="mode"
            name="origin_provincia"
            required>
        </cd-ubigeo-provincia>
        <span class="text-danger" ng-show="mode == 'write' && step6Frm.origin_provincia.$error.required">Este Campo es Requerido.</span>      </div>
      <div class="col-sm-4">
        <div class="help-message hidden" name="origin_provincia">
          <div class="help-message-arrow"></div>
          <div class="help-message-content">
            Departamento: <br>
            No olvides que debes escribir tu <strong>apellido paterno</strong> tal como
            esta escrito en tu <strong>DNI</strong>
          </div>
        </div>
      </div>
    </div>
    <div class="row form-group" ng-if="aportant.birth_country == '170'">
      <div class="col-sm-3">
        <label for="origin_distrito">
          <span ng-show="mode == 'write'" class="text-danger">(*)</span>
          Distrito:
        </label>
      </div>
      <div class="col-sm-5">
        <cd-ubigeo-distrito
            ubigeo="aportant.ubigeo"
            mode="mode"
            name="origin_distrito"
            required>
        </cd-ubigeo-distrito>
        <span class="text-danger" ng-show="mode == 'write' && step6Frm.origin_distrito.$error.required">Este Campo es Requerido.</span>      </div>
      <div class="col-sm-4">
        <div class="help-message hidden" name="origin_distrito">
          <div class="help-message-arrow"></div>
          <div class="help-message-content">
            Departamento: <br>
            No olvides que debes escribir tu <strong>apellido paterno</strong> tal como
            esta escrito en tu <strong>DNI</strong>
          </div>
        </div>
      </div>
    </div>
    <!-- Direccion -->
    <div class="row form-group">
      <div class="col-sm-3">
        <label for="origin_address">
          <span ng-show="mode == 'write'" class="text-danger">(*)</span>
          Dirección:
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong>{{aportant.origin_address}}</strong>
        </div>
        <div ng-show="mode == 'write'">
          <textarea name="origin_address" ng-model="aportant.origin_address" class="form-control" cd-show-help required></textarea>
          <span class="text-danger" ng-show="mode == 'write' && step6Frm.origin_address.$error.required">Este Campo es Requerido.</span>
        </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-sm-3">
        <label for="referency">
          <span ng-show="mode == 'write'" class="text-danger">(*)</span>
          Referencia de vivienda:
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong>{{aportant.referency}}</strong>
        </div>
        <div ng-show="mode == 'write'">
          <textarea name="referency" ng-model="aportant.referency" class="form-control" cd-show-help required></textarea>
          <span class="text-danger" ng-show="mode == 'write' && step6Frm.referency.$error.required">Este Campo es Requerido.</span>
        </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <!-- FIN - Lugar de Residencia -->
    <!-- INICIO - Medio de Contacto -->
    <div class="row title">
      <div class="col-xs-12 text-center">
        <strong>Datos de contacto</strong>
      </div>
    </div>
    <!-- telefonos -->
    <div class="row form-group">
      <div class="col-sm-3">
        <label for="local_phone">
          Teléfono fijo:
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong>{{aportant.local_phone}}</strong>
        </div>
        <div ng-show="mode == 'write'">
          <input type="text" name="local_phone" ng-model="aportant.local_phone" class="form-control" ng-pattern="/^[0-9]{6,15}$/">
          <span class="text-danger" ng-show="mode == 'write' && step6Frm.local_phone.$error.required">Este Campo es Requerido. <br></span>
          <span class="text-danger" ng-show="mode == 'write' && step6Frm.local_phone.$error.pattern">Solo numeros de 6 a 15 caracteres.</span>
        </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <!--
    <div class="row form-group">
      <div class="col-sm-3">
        <label for="reference_phone">
          <span ng-show="mode == 'write'" class="text-danger">(*)</span>
          Celular de referencia:
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong>{{aportant.reference_phone}}</strong>
        </div>
        <div ng-show="mode == 'write'">
          <input type="text" name="reference_phone" ng-model="aportant.reference_phone" class="form-control" ng-pattern="/^[0-9]{6,15}$/" required>
          <span class="text-danger" ng-show="mode == 'write' && step6Frm.reference_phone.$error.required">Este Campo es Requerido. <br></span>
          <span class="text-danger" ng-show="mode == 'write' && step6Frm.reference_phone.$error.pattern">Solo numeros de 6 a 15 caracteres.</span>
        </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-sm-3">
        <label for="reference_person">
          <span ng-show="mode == 'write'" class="text-danger">(*)</span>
          Persona (Celular de Referencia):
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong>{{aportant.reference_person}}</strong>
        </div>
        <div ng-show="mode == 'write'">
          <input type="text" name="reference_person" ng-model="aportant.reference_person" class="form-control" cd-show-help required>
          <span class="text-danger" ng-show="mode == 'write' && step6Frm.reference_aportant.$error.required">Este Campo es Requerido.</span>
        </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    -->
    <!-- celulares -->
    <div class="row form-group">
      <div class="col-sm-3">
        <label for="celphone">
          <span ng-show="mode == 'write'" class="text-danger">(*)</span>
          Celular #1:
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong>{{aportant.celphone}}</strong>
        </div>
        <div ng-show="mode == 'write'">
          <input type="text" name="celphone" ng-model="aportant.celphone" class="form-control" ng-pattern="/^([#|*]|[0-9])[0-9]{5,20}$/" required>
          <span class="text-danger" ng-show="mode == 'write' && step6Frm.celphone.$error.required">Este Campo es Requerido. <br> </span>
          <span class="text-danger" ng-show="mode == 'write' && step6Frm.celphone.$error.pattern">Debe ser un numero de celular valido.</span>
        </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-sm-3">
        <label for="celphone2">
          Celular #2:
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong>{{aportant.celphone2}}</strong>
        </div>
        <div ng-show="mode == 'write'">
          <input type="text" name="celphone2" ng-model="aportant.celphone2" class="form-control" ng-pattern="/^([#|*]|[0-9])[0-9]{5,20}$/">
          <span class="text-danger" ng-show="mode == 'write' && step6Frm.celphone2.$error.required">Este Campo es Requerido. <br> </span>
          <span class="text-danger" ng-show="mode == 'write' && step6Frm.celphone2.$error.pattern">Debe ser un numero de celular valido.</span>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="help-message hidden" name="celphone2">
          <div class="help-message-arrow"></div>
          <div class="help-message-content">
          </div>
        </div>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-sm-3">
        <label for="celphone3">
          Celular #3:
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong>{{aportant.celphone3}}</strong>
        </div>
        <div ng-show="mode == 'write'">
          <input type="text" name="celphone3" ng-model="aportant.celphone3" class="form-control" ng-pattern="/^([#|*]|[0-9])[0-9]{5,20}$/">
          <span class="text-danger" ng-show="mode == 'write' && step6Frm.celphone3.$error.required">Este Campo es Requerido. <br></span>
          <span class="text-danger" ng-show="mode == 'write' && step6Frm.celphone3.$error.pattern">Debe ser un numero de celular valido.</span>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="help-message hidden" name="celphone3">
          <div class="help-message-arrow"></div>
          <div class="help-message-content">
          </div>
        </div>
      </div>
    </div>
    <!-- Email -->
    <div class="row form-group">
      <div class="col-sm-3">
        <label for="email">
          <span ng-show="mode == 'write'" class="text-danger">(*)</span>
          Correo Electrónico:
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong>{{aportant.email}}</strong>
        </div>
        <div ng-show="mode == 'write'">
          <input type="email" name="email" ng-model="aportant.email" class="form-control">
          <span class="text-danger" ng-show="mode == 'write' && step6Frm.email.$error.email">Debe ser un correo electronico valida.</span>
          <!-- <span class="text-danger" ng-show="mode == 'write' && step6Frm.email.$error.required">Este campo es obligatorio.</span> -->
        </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-sm-3">
        <label for="email2">
          Correo Electrónico #2:
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong>{{aportant.email2}}</strong>
        </div>
        <div ng-show="mode == 'write'">
          <input type="email" name="email2" ng-model="aportant.email2" class="form-control">
          <span class="text-danger" ng-show="mode == 'write' && step6Frm.email2.$error.required">Este Campo es Requerido. <br></span>
          <span class="text-danger" ng-show="mode == 'write' && step6Frm.email2.$error.email">Debe ser un correo electronico valida.</span>
        </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <!-- FIN - Medio de Contacto -->
    <!-- INICIO - Datos Laborales -->
    <div class="row title">
      <div class="col-xs-12 text-center">
        <strong>Datos Laborales</strong>
      </div>
    </div>
    <!--
    <div class="row form-group">
      <div class="col-sm-3">
        <label for="has">
          <span ng-show="mode == 'write'" class="text-danger">(*)</span>
          ¿Actualmente se encuentra trabajando?
        </label>
      </div>
      <div class="col-sm-5">
        <cd-yes-no mode="mode" value="aportant.has_work"></cd-yes-no>
      </div>
      <div class="col-sm-4">
      </div>
    </div> -->
    <!-- Tipo de Trabajo -->
    <div class="row form-group">
      <div class="col-sm-3">
        <label for="name">
          <span ng-show="mode == 'write'" class="text-danger">(*)</span>
          ¿Su categoría laboral es?
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong ng-show="aportant.category_dep == '1'">Dependiente</strong> <br>
          <strong ng-show="aportant.category_ind == '1'">Independiente</strong> <br>
          <strong ng-show="aportant.category_cj == '1'">Cesante o Jubilado</strong>
        </div>
        <div ng-show="mode == 'write'">
          <select name="category" ng-model="aportant.category" class="form-control" ng-change="chCatgory(aportant.category)" cd-show-help required>
            <option value="1">Dependiente</option>
            <option value="2">Independiente</option>
            <option value="3">Cesante o Jubilado</option>
          </select>
          <span class="text-danger" ng-show="mode == 'write' && step6Frm.category.$error.required">Este Campo es Requerido.</span>
          <!-- en caso de no ser PGR pase es seleccion multiple -->
        </div>
      </div>
      <div class="col-sm-4">
        <div class="help-message hidden" name="category">
          <div class="help-message-arrow"></div>
          <div class="help-message-content">
              Categoria Laboral: <br>
              <strong>Dependiente</strong> Trabaja para una empresa y esta en planilla <br> <strong>Independiente</strong> Por recibos por honoratios<br>
              <strong>Cesante o jubilado</strong> Recibe una pension por un trabajo de toda la vida<br>
          </div>
        </div>
      </div>
    </div>
    <!-- Datos Dependiente -->
    <div class="row form-group" ng-if="aportant.category_dep == '1'">
      <div class="col-sm-3">
        <label for="dep_company">
          <span ng-show="mode == 'write'" class="text-danger">(*)</span>
          Razón Social de la empresa/ institución donde labora:
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong>{{aportant.dep_company}}</strong>
        </div>
        <div ng-show="mode == 'write'">
          <input type="text" name="dep_company" ng-model="aportant.dep_company" class="form-control" cd-show-help required>
          <span class="text-danger" ng-show="mode == 'write' && step6Frm.dep_company.$error.required">Este Campo es Requerido.</span>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="help-message hidden" name="dep_company">
          <div class="help-message-arrow"></div>
          <div class="help-message-content">
              Razón Social: <br>
              Nombre legal de la empresa en la que trabaja
          </div>
        </div>
      </div>
    </div>
    <div class="row form-group" ng-if="aportant.category_dep == '1'">
      <div class="col-sm-3">
        <label for="dep_type">
          <span ng-show="mode == 'write'" for="dep_type" class="text-danger">(*)</span>
          La empresa/institución donde labora es:
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong ng-show="aportant.dep_type == '1' ">Pública</strong>
          <strong ng-show="aportant.dep_type == '2' ">Privada</strong>
        </div>
        <div ng-show="mode == 'write'">
          <select name="dep_type" ng-model="aportant.dep_type" class="form-control" cd-show-help required>
            <option value="1">Pública</option>
            <option value="2">Privada</option>
          </select>
          <span class="text-danger" ng-show="mode == 'write' && step6Frm.dep_type.$error.required">Este Campo es Requerido.</span>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="help-message hidden" name="dep_type">
          <div class="help-message-arrow"></div>
          <div class="help-message-content">
            Tipo de Institución: <br>
            <strong>Publica</strong> Pertenece al estado <br>
            <strong>Privada</strong>Independiente del estado <br>
          </div>
        </div>
      </div>
    </div>
    <div class="row form-group" ng-if="aportant.category_dep == '1'">
      <div class="col-sm-3">
        <label for="dep_activity">
          <span ng-show="mode == 'write'" for="dep_activity" class="text-danger">(*)</span>
          La actividad de la empresa/institución donde labora es:
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong ng-show="aportant.dep_activity == '1' ">Agricultura, ganadería, caza y silvicultura</strong>
          <strong ng-show="aportant.dep_activity == '2' ">Pesca y acuicultura</strong>
          <strong ng-show="aportant.dep_activity == '3' ">Extracción de petróleo, gas, minerales y servicios conexos</strong>
          <strong ng-show="aportant.dep_activity == '4' ">Manufactura</strong>
          <strong ng-show="aportant.dep_activity == '5' ">Electricidad, gas y agua</strong>
          <strong ng-show="aportant.dep_activity == '6' ">Construcción</strong>
          <strong ng-show="aportant.dep_activity == '7' ">Comercio, mantenimiento y reparación de vehículos automotores y motocicletas</strong>
          <strong ng-show="aportant.dep_activity == '8' ">Transporte, almacenamiento, correo y mensajería</strong>
          <strong ng-show="aportant.dep_activity == '9' ">Alojamiento y restaurantes</strong>
          <strong ng-show="aportant.dep_activity == '10'">Telecomunicaciones y otros servicios de información</strong>
          <strong ng-show="aportant.dep_activity == '11'">Servicios financieros, seguros y pensiones</strong>
          <strong ng-show="aportant.dep_activity == '12'">Servicios prestados a empresas</strong>
          <strong ng-show="aportant.dep_activity == '13'">Administración pública y defensa</strong>
          <strong ng-show="aportant.dep_activity == '14'">Otros servicios</strong>
        </div>
        <div ng-show="mode == 'write'">
          <select name="dep_activity" ng-model="aportant.dep_activity" class="form-control" cd-show-help required>
            <option value="1">Agricultura, ganadería, caza y silvicultura</option>
            <option value="2">Pesca y acuicultura</option>
            <option value="3">Extracción de petróleo, gas, minerales y servicios conexos</option>
            <option value="4">Manufactura</option>
            <option value="5">Electricidad, gas y agua</option>
            <option value="6">Construcción</option>
            <option value="7">Comercio, mantenimiento y reparación de vehículos automotores y motocicletas</option>
            <option value="8">Transporte, almacenamiento, correo y mensajería</option>
            <option value="9">Alojamiento y restaurantes</option>
            <option value="10">Telecomunicaciones y otros servicios de información</option>
            <option value="11">Servicios financieros, seguros y pensiones</option>
            <option value="12">Servicios prestados a empresas</option>
            <option value="13">Administración pública y defensa</option>
            <option value="14">Otros servicios</option>
          </select>
          <span class="text-danger" ng-show="mode == 'write' && step4Frm.dep_activity.$error.required">Este Campo es Requerido.</span>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="help-message hidden" name="dep_activity">
          <div class="help-message-arrow"></div>
          <div class="help-message-content">
            Tipo de Institución: <br>
            <strong>Publica</strong> Pertenece al estado <br>
            <strong>Privada</strong>Independiente del estado <br>
          </div>
        </div>
      </div>
    </div>
    <div class="row form-group" ng-if="aportant.category_dep == '1'">
      <div class="col-sm-3">
        <label for="dep_service_time">
          <span ng-show="mode == 'write'" class="text-danger">(*)</span>
          ¿Su tiempo de servicio (años) es?
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong>{{aportant.dep_service_time}} años.</strong>
        </div>
        <div ng-show="mode == 'write'">
          <input type="number" name="dep_service_time" ng-model="aportant.dep_service_time" class="form-control" cd-show-help min="1" max="99" required>
          <span class="text-danger" ng-show="mode == 'write' && step6Frm.dep_service_time.$error.required">Este Campo es Requerido.</span>
          <span class="text-danger" ng-show="mode == 'write' && step6Frm.dep_service_time.$error.min">Por lo menos 1.</span>
          <span class="text-danger" ng-show="mode == 'write' && step6Frm.dep_service_time.$error.max">No puedes poner un numero mayor a 99.</span>
          <span class="text-danger" ng-show="mode == 'write' && step6Frm.dep_service_time.$error.number">Debe ser un numero entero.</span>

        </div>
      </div>
      <div class="col-sm-4">
        <div class="help-message hidden" name="dep_service_time">
          <div class="help-message-arrow"></div>
          <div class="help-message-content">
              EL TIEMPO DE SERVICIOS ES LA CANTIDAD DE AÑOS QUE LLEVA EN EL TRABAJO, SI TIENE MENOS DE UN AÑO ESCRIBA 1
          </div>
        </div>
      </div>
    </div>
    <div class="row form-group" ng-if="aportant.category_dep == '1'">
      <div class="col-sm-3">
        <label for="dep_position">
          <span ng-show="mode == 'write'" class="text-danger">(*)</span>
          Mencione el cargo que ocupa:
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong>{{aportant.dep_position}}</strong>
        </div>
        <div ng-show="mode == 'write'">
          <input type="text" name="dep_position" ng-model="aportant.dep_position" class="form-control" cd-show-help required>
          <span class="text-danger" ng-show="mode == 'write' && step6Frm.dep_position.$error.required">Este Campo es Requerido.</span>
          </div>
      </div>
      <div class="col-sm-4">
        <div class="help-message hidden" name="dep_position">
          <div class="help-message-arrow"></div>
          <div class="help-message-content">
              Cargo: <br>
              Cargo Actual que ocupa en el centro laboral<br>
          </div>
        </div>
      </div>
    </div>
    <!-- Datos de Independiente -->
    <div class="row form-group" ng-if="aportant.category_ind == '1'">
      <div class="col-sm-3">
        <label for="ind_actual_work">
          <span ng-show="mode == 'write'" class="text-danger">(*)</span>
          ¿Su ocupación actual es?
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong>{{aportant.ind_actual_work}}</strong>
        </div>
        <div ng-show="mode == 'write'">
          <input type="text" name="ind_actual_work" ng-model="aportant.ind_actual_work" class="form-control" cd-show-help required>
          <span class="text-danger" ng-show="mode == 'write' && step6Frm.ind_actual_work.$error.required">Este Campo es Requerido.</span>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="help-message hidden" name="ind_actual_work">
          <div class="help-message-arrow"></div>
          <div class="help-message-content">
              Ocupacion Actual: <br>
              Nombre de la labor que realiza mayormente <br>
          </div>
        </div>
      </div>
    </div>
    <div class="row form-group" ng-if="aportant.category_ind == '1'">
      <div class="col-sm-3">
        <label for="ind_activity">
          <span ng-show="mode == 'write'" class="text-danger">(*)</span>
          Actividad económica que realiza:
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong>{{aportant.ind_activity}}</strong>
        </div>
        <div ng-show="mode == 'write'">
          <input type="text" name="ind_activity" ng-model="aportant.ind_activity" class="form-control" cd-show-help required>
          <span class="text-danger" ng-show="mode == 'write' && step6Frm.ind_activity.$error.required">Este Campo es Requerido.</span>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="help-message hidden" name="ind_activity">
          <div class="help-message-arrow"></div>
          <div class="help-message-content">
              Actividad Economica: <br>
              La Actividad economica en la cual se desenvuelve la mayor parte del tiempo<br>
          </div>
        </div>
      </div>
    </div>
    <div class="row form-group" ng-if="aportant.category_ind == '1'">
      <div class="col-sm-3">
        <label for="ind_has_ruc">
          <span ng-show="mode == 'write'" class="text-danger">(*)</span>
          ¿Tiene RUC?
        </label>
      </div>
      <div class="col-sm-5">
        <cd-yes-no mode="mode" value="aportant.ind_has_ruc" cd-show-help ></cd-yes-no>
      </div>
      <div class="col-sm-4">
        <div class="help-message hidden" name="ind_has_ruc">
          <div class="help-message-arrow"></div>
          <div class="help-message-content">
              Tiene RUC: <br>
              Cuenta con RUC
          </div>
        </div>
      </div>
    </div>
    <div class="row form-group" ng-if="aportant.category_ind == '1' && aportant.ind_has_ruc == '1'">
      <div class="col-sm-3">
        <label for="ind_ruc">
          <span ng-show="mode == 'write'" class="text-danger">(*)</span>
          ¿Numero de RUC?
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong>{{aportant.ind_ruc}}</strong>
        </div>
        <div ng-show="mode == 'write'">
          <input type="text" name="ind_ruc" ng-model="aportant.ind_ruc" class="form-control" cd-show-help ng-pattern="/^[0-9]{11,11}$/" required>
          <span class="text-danger" ng-show="mode == 'write' && step6Frm.ind_ruc.$error.required">Este Campo es Requerido.</span>
          <span class="text-danger" ng-show="mode == 'write' && step6Frm.ind_ruc.$error.pattern">El ruc esta formado por 11 numeros Enteros.</span>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="help-message hidden" name="ind_ruc">
          <div class="help-message-arrow"></div>
          <div class="help-message-content">
              Numero de RUC: <br>
              El numero de RUC<br>
          </div>
        </div>
      </div>
    </div>
    <div class="row form-group" ng-if="aportant.category_ind == '1'">
      <div class="col-sm-3">
        <label for="ind_workers">
          <span ng-show="mode == 'write'" class="text-danger">(*)</span>
          ¿Con cuántos trabajadores cuenta en su empresa?
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong>{{aportant.ind_workers}}</strong>
        </div>
        <div ng-show="mode == 'write'">
          <input type="number" name="ind_workers" ng-model="aportant.ind_workers" class="form-control" cd-show-help min="1" max="5000" required>
          <span class="text-danger" ng-show="mode == 'write' && step6Frm.ind_workers.$error.required">Este Campo es Requerido.</span>
          <span class="text-danger" ng-show="mode == 'write' && step6Frm.ind_workers.$error.min">Por lo menos 1.</span>
          <span class="text-danger" ng-show="mode == 'write' && step6Frm.ind_workers.$error.max">No puedes poner un numero mayor a 5000.</span>
          <span class="text-danger" ng-show="mode == 'write' && step6Frm.ind_workers.$error.number">Debe ser un numero entero.</span>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="help-message hidden" name="ind_workers">
          <div class="help-message-arrow"></div>
          <div class="help-message-content">
              Numero de Trabajadores: <br>
              Numero de Trabajadores en tu empresa<br>
          </div>
        </div>
      </div>
    </div>
    <!-- Datos de Cesante Jubilado -->
    <div class="row form-group" ng-if="aportant.category_cj == '1'">
      <div class="col-sm-3">
        <label for="cj_company">
          <span ng-show="mode == 'write'" class="text-danger">(*)</span>
          Como cesante o jubilado, mencione la Razón Social de la empresa/ institución donde laboró:
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong>{{aportant.cj_company}}</strong>
        </div>
        <div ng-show="mode == 'write'">
          <input type="text" name="cj_company" ng-model="aportant.cj_company" class="form-control" cd-show-help required>
          <span class="text-danger" ng-show="mode == 'write' && step6Frm.cj_company.$error.required">Este Campo es Requerido.</span>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="help-message hidden" name="cj_company">
          <div class="help-message-arrow"></div>
          <div class="help-message-content">
              Cesante o jubilado: <br>
              Si eres <strong>Cesante</strong> seguramente cuentas con ... <br>
              Si eres <strong>Jubilado</strong> seguramente cuentas con ... <br>
          </div>
        </div>
      </div>
    </div>
    <div class="row form-group" ng-if="aportant.category_cj == '1'">
      <div class="col-sm-3">
        <label for="cj_service_time">
          <span ng-show="mode == 'write'" class="text-danger">(*)</span>
          ¿Su tiempo de servicio (años) fue?
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong>{{aportant.cj_service_time}}</strong>
        </div>
        <div ng-show="mode == 'write'">
          <input type="number" name="cj_service_time" ng-model="aportant.cj_service_time" class="form-control" cd-show-help min="1" max="99" required>
          <span class="text-danger" ng-show="mode == 'write' && step6Frm.cj_service_time.$error.required">Este Campo es Requerido.</span>
          <span class="text-danger" ng-show="mode == 'write' && step6Frm.cj_service_time.$error.min">Por lo menos 1.</span>
          <span class="text-danger" ng-show="mode == 'write' && step6Frm.cj_service_time.$error.max">No puedes poner un numero mayor a 99.</span>
          <span class="text-danger" ng-show="mode == 'write' && step6Frm.cj_service_time.$error.number">Debe ser un numero entero.</span>

        </div>
      </div>
      <div class="col-sm-4">
        <div class="help-message hidden" name="cj_service_time">
          <div class="help-message-arrow"></div>
          <div class="help-message-content">
              EL TIEMPO DE SERVICIOS ES LA CANTIDAD DE AÑOS QUE LLEVA EN EL TRABAJO, SI TIENE MENOS DE UN AÑO ESCRIBA 1
          </div>
        </div>
      </div>
    </div>
    <!-- AE Complementario -->
    <div class="row form-group">
      <div class="col-sm-3">
        <label for="has_complementary">
          <span ng-show="mode == 'write'" class="text-danger">(*)</span>
          ¿Realiza (el familiar) otra actividad económica complementaria?
        </label>
      </div>
      <div class="col-sm-5">
        <cd-yes-no mode="mode" value="aportant.has_work_complementary" cd-show-help ></cd-yes-no>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <div class="row form-group" ng-if="aportant.has_work_complementary == '1' ">
      <div class="col-sm-3">
        <label for="com_name">
          <span ng-show="mode == 'write'" class="text-danger">(*)</span>
          Indique la actividad complementaria:
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong>{{aportant.com_name}}</strong>
        </div>
        <div ng-show="mode == 'write'">
          <input type="text" name="com_name" ng-model="aportant.com_name" class="form-control" cd-show-help required>
          <span class="text-danger" ng-show="mode == 'write' && step6Frm.com_name.$error.required">Este Campo es Requerido.</span>
        </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>

    <!-- FIN - Datos Laborales -->
    <!-- Submit button -->
    <div class="row" ng-show="mode == 'read'">
      <div class="col-sm-8 text-right">
        <button class="btn btn-default" ng-show="mode == 'read'" ng-click="goBack()"> Regresar</button>
      </div>
    </div>

    <div class="row" ng-show="mode == 'write'">
      <div class="col-sm-8 text-right">
        <input ng-disabled="step6Frm.$invalid" type="submit" value="Guardar" class="btn btn-primary" ng-click="save(aportant)" dis-btn>
      </div>
    </div>
  </form>

</div>
