
<div class="" ng-init="step5.init()">
  <div class="cauform">
    <div class="row title">
      <span class="pull-right">
        <button class="btn btn-primary" ng-show="mode == 'read'" ng-click="mode = 'write'"> Editar</button>
        <button class="btn btn-default" ng-show="mode == 'write'" ng-click="step5.cancel()"> Cancelar</button>
      </span>
      <div class="col-sm-8">
        <span style="font-size:1.2em" ng-class="steps[4].percent=='100'?'text-success':'text-danger'">[ {{steps[4].percent}} <small style="font-size:0.6em">% </small>] </span>
        Datos Familiares del estudiante
      </div>
    </div>
    <form name="step5Frm">
      <!-- vive -->
      <div class="row form-group" ng-if="profile.modality == 'PGR'">
        <div class="col-sm-3">
          <label for="parents">
            <span ng-show="mode == 'write'" class="text-danger">(*)</span>
            ¿Sus padres están vivos?:
          </label>
        </div>
        <div class="col-sm-5">
          <p>
            <strong> Padre: </strong>
            <cd-yes-no mode="mode" value="familiar.father" cd-show-help></cd-yes-no>
          </p>
          <p>
            <strong> Madre: </strong>
            <cd-yes-no mode="mode" value="familiar.mother" cd-show-help></cd-yes-no>
          </p>
        </div>
        <div class="col-sm-4">
        </div>
      </div>
      <!-- datos civiles -->
      <div class="row form-group"  ng-if="profile.modality == 'PGR'  && !(familiar.father == '0' && familiar.mother ==  '0')">
        <div class="col-sm-3">
          <label for="parent_status">
            <span ng-show="mode == 'write'" class="text-danger">(*)</span>
            Estado Civil de los Padres:
          </label>
        </div>
        <div class="col-sm-5">
          <div ng-show="mode == 'read'">
            <strong ng-if="familiar.parent_status == '1' ">Solteros</strong>
            <strong ng-if="familiar.parent_status == '2' ">Casados</strong>
            <strong ng-if="familiar.parent_status == '3' ">Divorciados</strong>
            <strong ng-if="familiar.parent_status == '4' ">Viudo(a)</strong>
            <strong ng-if="familiar.parent_status == '5' ">Separados</strong>
            <strong ng-if="familiar.parent_status == '6' ">Convivientes</strong>
          </div>
          <div ng-show="mode == 'write'">
            <select name="parent_status" ng-model="familiar.parent_status" class="form-control" cd-show-help required>
              <option value="1">Solteros</option>
              <option value="2">Casados</option>
              <option value="3">Divorciados</option>
              <option value="4">Viudo(a)</option>
              <option value="5">Separados</option>
              <option value="6">Convivientes</option>
            </select>
            <span class="text-danger" ng-show="mode == 'write' && step5Frm.parent_status.$error.required">Este Campo es Requerido.</span>
          </div>
        </div>
        <div class="col-sm-4">
        </div>
      </div>
      <div class="row form-group" ng-if="profile.modality == 'PGR'">
        <div class="col-sm-3"  ng-if="profile.modality == 'PGR'">
          <label for="head_family">
            <span ng-show="mode == 'write'" class="text-danger">(*)</span>
            Su familia ¿a quién considera como Jefe del hogar?
          </label>
        </div>
        <div class="col-sm-5">
          <div ng-show="mode == 'read'">
            <strong ng-show=" familiar.head_family == '1' ">Padre</strong>
            <strong ng-show=" familiar.head_family == '2' ">Madre</strong>
            <strong ng-show=" familiar.head_family == '3' ">El estudiante </strong>
            <strong ng-show=" familiar.head_family == '4' ">Cónyuge</strong>
            <strong ng-show=" familiar.head_family == '5' ">Hermano(s)</strong>
            <strong ng-show=" familiar.head_family == '6' ">Otro familiar</strong>
          </div>
          <div ng-show="mode == 'write'">
            <select name="head_family" ng-model="familiar.head_family" class="form-control" cd-show-help required>
              <option value="1" ng-disabled="familiar.father == '0'">Padre</option>
              <option value="2" ng-disabled="familiar.mother == '0'">Madre</option>
              <option value="3">El estudiante </option>
              <option value="4">Cónyuge</option>
              <option value="5">Hermano(s)</option>
              <option value="6">Otro familiar</option>
            </select>
            <span class="text-danger" ng-show="mode == 'write' && step5Frm.head_family.$error.required">Este Campo es Requerido.</span>
          </div>
        </div>
        <div class="col-sm-4">
        </div>
      </div>
      <div class="row form-group" ng-if="profile.modality == 'PGR' && familiar.head_family == '6'">
        <div class="col-sm-3">
          <label for="head_family_other">
            <span ng-show="mode == 'write'" class="text-danger">(*)</span>
            ¿A quien concidera como jefe del hogar?:
          </label>
        </div>
        <div class="col-sm-5">
          <div ng-show="mode == 'read'">
            <strong>{{familiar.head_family_other}}</strong>
          </div>
          <div ng-show="mode == 'write'">
            <input type="text" name="head_family_other" ng-model="familiar.head_family_other" class="form-control" cd-show-help required>
            <span class="text-danger" ng-show="mode == 'write' && step5Frm.head_family_other.$error.required">Este Campo es Requerido.</span>
          </div>
        </div>
        <div class="col-sm-4">
        </div>
      </div>
      <div class="row form-group">
        <div class="col-sm-3">
          <label for="lives_with">
            <span ng-show="mode == 'write'" class="text-danger">(*)</span>
            ¿Actualmente vive con?
          </label>
        </div>
        <div class="col-sm-5">
          <div ng-show="mode == 'read'">
            <div class="col-lg-6 col-md-12" ng-repeat="item in familiar.lives_with">
              <strong> <i class="fa fa-check-square-o"></i> {{item}} </strong>
            </div>
          </div>
          <div ng-show="mode == 'write'">
            <div class="col-lg-6 col-md-12" ng-repeat="item in lives_with_list track by $index">
              <label><input type="checkbox" name="lives_with[$index]" ng-true-value="'{{item}}'" ng-false-value="'0'" ng-model="lives_with[$index]" ng-click="step5.checkLivesWith($index,item)"> {{item}}</label><br>
            </div>
            <span class="text-danger" ng-show="mode == 'write' && step5Frm.lives_with.$error.required">Este Campo es Requerido.</span>
          </div>
        </div>
        <div class="col-sm-4">
        </div>
      </div>
      <!-- Economico -->
      <div class="row form-group"  ng-if="profile.modality == 'PGR'">
        <div class="col-sm-3">
          <label for="economic_status">
            <span ng-show="mode == 'write'" class="text-danger">(*)</span>
            ¿Económicamente Ud es?
          </label>
        </div>
        <div class="col-sm-5">
          <div ng-show="mode == 'read'">
            <strong ng-if="familiar.economic_status == '1' ">Dependiente</strong>
            <strong ng-if="familiar.economic_status == '2' ">Independiente</strong>
          </div>
          <div ng-show="mode == 'write'">
            <select name="economic_status" ng-model="familiar.economic_status" class="form-control" cd-show-help required>
              <option value="1">Dependiente</option>
              <option value="2">Independiente</option>
            </select>
            <span class="text-danger" ng-show="mode == 'write' && step5Frm.economic_status.$error.required">Este Campo es Requerido.</span>
          </div>
        </div>
        <div class="col-sm-4">
        </div>
      </div>
      <div class="row form-group" ng-if="profile.modality != 'PGR' || familiar.economic_status == '2' ">
        <div class="col-sm-3">
          <label for="independet_support">
            <span ng-show="mode == 'write'" class="text-danger">(*)</span>
            ¿Algún familiar o apoderado aporta a su economía?
          </label>
        </div>
        <div class="col-sm-5">
          <cd-yes-no mode="mode" value="familiar.independet_support" cd-show-help></cd-yes-no>
        </div>
        <div class="col-sm-4">
        </div>
      </div>
      <div class="row form-group">
        <div class="col-sm-3">
          <label for="dependent_support">
            <span ng-show="mode == 'write'" class="text-danger">(*)</span>
            ¿Algún familiar depende de  la economia familiar?
          </label>
        </div>
        <div class="col-sm-5">
          <cd-yes-no mode="mode" value="familiar.dependent_support" cd-show-help></cd-yes-no>
        </div>
        <div class="col-sm-4">
        </div>
      </div>
      <!-- Detalle de familiares -->
      <!-- Submit button -->
      <div class="row" ng-show="mode == 'write'">
        <div class="col-sm-8 text-right">
          <input ng-disabled="step5Frm.$invalid" type="submit" value="Guardar" class="btn btn-primary" ng-click="step5.save(familiar)" dis-btn>
        </div>
      </div>
    </form>
  </div>
  <hr>
  <div  class="cauform">
    <div class="row title">
      <div class="col-xs-12 text-center">
        <strong>Composición familiar del estudiante </strong>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12" ng-show="familiar.independet_support == '1' || familiar.dependent_support ==  '1' || familiar.economic_status == '1'">
        <span class="text-danger">(*)REGISTRE A SUS FAMILIARES</span>
      </div>
    </div>
    <!-- Add Familiar -->
    <div class="row" ng-show="mode == 'read'">
      <div class="col-xs-12 col-sm-12">
        <strong> Agregar Familiar</strong>
      </div>
      <div class="col-xs-12 col-sm-6">
        <p><strong>1. Seleccione la relación familiar </strong></p>
        <p><strong>2. Seleccione la situación económica </strong></p>
        <p><strong>3. Haga click en añadir </strong></p>
        <p><strong>4. Le aparecerá un formulario para ingresar detalles sobre su familiar (Rellénelo) </strong></p>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="from-group">
          <label for="familiy">Relación familiar:</label>
          <select class="form-control" name="familiy" ng-model="family_new.relation">
            <option value="P" ng-disabled="familiar.father ==  '0' || step5.hasFamily('P') ">Padre</option>
            <option value="M" ng-disabled="familiar.mother ==  '0' || step5.hasFamily('M') ">Madre</option>
            <option value="C" ng-disabled="step5.hasFamily('C')">Cónyuge</option>
            <option value="H">Hermano</option>
            <option value="I">Hijo</option>
            <option value="O">Otros</option>
          </select>
          <label for="family_situation">Situación Economica:</label>
          <select class="form-control" name="family_situation"ng-model="family_new.situation">
            <option value="D">Dependiente</option>
            <option value="A">Aportante</option>
          </select>
          <br>
          <div class="text-right">
            <button class="btn btn-primary" name="button" ng-click="step5.addFamily(family_new)">Añadir</button>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
      </div>
    </div>
    <!-- Padre, Madre -->
    <div class="row">
      <div class="col-sm-6 col-xs-12" ng-if="familiar.father == '1'">
        <header>
          <strong>Padre</strong>
        </header>
        <article class="person-card row"  ng-repeat="familiar in step5.relations | filter:{relation: 'P'}:true ">
          <div class="col-sm-8">
            <div> <strong>ID:</strong> {{familiar.person_id || '-----'}} </div>
            <div> <strong>Tipo:</strong>
              <span ng-show="familiar.economic_type ==  'A' " class="label label-primary">Aportante</span>
              <span ng-show="familiar.economic_type ==  'D' " class="label label-success">Dependiente</span>
            </div>
            <div> <strong>DNI/CE:</strong>{{familiar.document_number || '00000000'}}</div>
            <div> <strong>Nombres:</strong>{{familiar.father_name || 'No asgignado'}} {{familiar.mother_name}}, {{familiar.first_name}}</div>
          </div>
          <div class="col-sm-4">
            <div class="text-right">
              <a ng-if="familiar.economic_type ==  'D'" ui-sref="socRecord.dependent({familyid:familiar.person_id, relation:familiar.relation})" class="btn btn-big btn-default" name="button">
                <i class="fa fa-eye"></i>
              </a>
              <a ng-if="familiar.economic_type ==  'A'" ui-sref="socRecord.contributor({familyid:familiar.person_id, relation:familiar.relation})" class="btn btn-big btn-default" name="button">
                <i class="fa fa-eye"></i>
              </a>
              <!-- boton de eliminacion -->
              <remconfirm binding-action="step5.remFamily(familiar)" msg="¿Esta Seguro?"></remconfirm>
            </div>
          </div>
        </article>
      </div>
      <div class="col-sm-6 col-xs-12" ng-if="familiar.mother == '1'">
        <header>
          <strong>Madre</strong>
        </header>
        <article class="person-card row"  ng-repeat="familiar in step5.relations | filter:{relation: 'M'}:true ">
          <div class="col-sm-8">
            <div> <strong>ID:</strong> {{familiar.person_id || '-----'}} </div>
            <div> <strong>Tipo:</strong>
              <span ng-show="familiar.economic_type ==  'A' " class="label label-primary">Aportante</span>
              <span ng-show="familiar.economic_type ==  'D' " class="label label-success">Dependiente</span>
            </div>
            <div> <strong>DNI/CE:</strong>{{familiar.document_number || '00000000'}}</div>
            <div> <strong>Nombres:</strong>{{familiar.father_name || 'No asgignado'}} {{familiar.mother_name}}, {{familiar.first_name}}</div>
          </div>
          <div class="col-sm-4">
            <div class="text-right">
              <a ng-if="familiar.economic_type ==  'D'" ui-sref="socRecord.dependent({familyid:familiar.person_id, relation:familiar.relation})" class="btn btn-big btn-default" name="button">
                <i class="fa fa-eye"></i>
              </a>
              <a ng-if="familiar.economic_type ==  'A'" ui-sref="socRecord.contributor({familyid:familiar.person_id, relation:familiar.relation})" class="btn btn-big btn-default" name="button">
                <i class="fa fa-eye"></i>
              </a>
              <!-- boton de eliminacion -->
              <remconfirm binding-action="step5.remFamily(familiar)" msg="¿Esta Seguro?"></remconfirm>
            </div>

          </div>
        </article>
      </div>
    </div>
    <!-- Hermanos, hijos -->
    <div class="row">
      <div class="col-sm-6 col-xs-12" ng-init="nn=0">
        <header><strong>Hermanos(as)</strong></header>
        <article class="person-card row"  ng-repeat="familiar in step5.relations | filter:{relation: 'H'}:true ">
          <div class="col-sm-8">
            <div> <strong>ID:</strong> {{familiar.person_id || '-----'}} </div>
            <div> <strong>Tipo:</strong>
              <span ng-show="familiar.economic_type ==  'A' " class="label label-primary">Aportante</span>
              <span ng-show="familiar.economic_type ==  'D' " class="label label-success">Dependiente</span>
            </div>
            <div> <strong>DNI/CE:</strong>{{familiar.document_number || '00000000'}}</div>
            <div> <strong>Nombres:</strong>{{familiar.father_name || 'No asgignado'}} {{familiar.mother_name}}, {{familiar.first_name}}</div>
          </div>
          <div class="col-sm-4">
            <div class="text-right">
              <a ng-if="familiar.economic_type ==  'D'" ui-sref="socRecord.dependent({familyid:familiar.person_id, relation:familiar.relation})" class="btn btn-big btn-default" name="button">
                <i class="fa fa-eye"></i>
              </a>
              <a ng-if="familiar.economic_type ==  'A'" ui-sref="socRecord.contributor({familyid:familiar.person_id, relation:familiar.relation})" class="btn btn-big btn-default" name="button">
                <i class="fa fa-eye"></i>
              </a>
              <!-- boton de eliminacion -->
              <remconfirm binding-action="step5.remFamily(familiar)" msg="¿Esta Seguro?"></remconfirm>
            </div>
          </div>
        </article>
      </div>
      <div class="col-sm-6 col-xs-12" ng-init="nn=0">
        <header><strong>Hijos(as)</strong></header>
        <article class="person-card row"  ng-repeat="familiar in step5.relations | filter:{relation: 'I'}:true ">
          <div class="col-sm-8">
            <div> <strong>ID:</strong> {{familiar.person_id || '-----'}} </div>
            <div> <strong>Tipo:</strong>
              <span ng-show="familiar.economic_type ==  'A' " class="label label-primary">Aportante</span>
              <span ng-show="familiar.economic_type ==  'D' " class="label label-success">Dependiente</span>
            </div>
            <div> <strong>DNI/CE:</strong>{{familiar.document_number || '00000000'}}</div>
            <div> <strong>Nombres:</strong>{{familiar.father_name || 'No asgignado'}} {{familiar.mother_name}}, {{familiar.first_name}}</div>
          </div>
          <div class="col-sm-4">
            <div class="text-right">
              <a ng-if="familiar.economic_type ==  'D'" ui-sref="socRecord.dependent({familyid:familiar.person_id, relation:familiar.relation})" class="btn btn-big btn-default" name="button">
                <i class="fa fa-eye"></i>
              </a>
              <a ng-if="familiar.economic_type ==  'A'" ui-sref="socRecord.contributor({familyid:familiar.person_id, relation:familiar.relation})" class="btn btn-big btn-default" name="button">
                <i class="fa fa-eye"></i>
              </a>
              <!-- boton de eliminacion -->
              <remconfirm binding-action="step5.remFamily(familiar)" msg="¿Esta Seguro?"></remconfirm>
            </div>
          </div>
        </article>
      </div>
    </div>
    <!-- Conyuge, otros -->
    <div class="row">
      <div class="col-sm-6 col-xs-12" ng-init="nn=0">
        <header><strong>Cónyuge</strong></header>
        <article class="person-card row"  ng-repeat="familiar in step5.relations | filter:{relation: 'C'}:true ">
          <div class="col-sm-8">
            <div> <strong>ID:</strong> {{familiar.person_id || '-----'}} </div>
            <div> <strong>Tipo:</strong>
              <span ng-show="familiar.economic_type ==  'A' " class="label label-primary">Aportante</span>
              <span ng-show="familiar.economic_type ==  'D' " class="label label-success">Dependiente</span>
            </div>
            <div> <strong>DNI/CE:</strong>{{familiar.document_number || '00000000'}}</div>
            <div> <strong>Nombres:</strong>{{familiar.father_name || 'No asgignado'}} {{familiar.mother_name}}, {{familiar.first_name}}</div>
          </div>
          <div class="col-sm-4">
            <div class="text-right">
              <a ng-if="familiar.economic_type ==  'D'" ui-sref="socRecord.dependent({familyid:familiar.person_id, relation:familiar.relation})" class="btn btn-big btn-default" name="button">
                <i class="fa fa-eye"></i>
              </a>
              <a ng-if="familiar.economic_type ==  'A'" ui-sref="socRecord.contributor({familyid:familiar.person_id, relation:familiar.relation})" class="btn btn-big btn-default" name="button">
                <i class="fa fa-eye"></i>
              </a>
              <!-- boton de eliminacion -->
              <remconfirm binding-action="step5.remFamily(familiar)" msg="¿Esta Seguro?"></remconfirm>
            </div>
          </div>
        </article>
      </div>
      <div class="col-sm-6 col-xs-12" ng-init="nn=0">
        <header><strong>Otros Familiares</strong></header>
        <article class="person-card row"  ng-repeat="familiar in step5.relations | filter:{relation: 'O'}:true ">
          <div class="col-sm-8">
            <div> <strong>ID:</strong> {{familiar.person_id || '-----'}} </div>
            <div> <strong>Tipo:</strong>
              <span ng-show="familiar.economic_type ==  'A' " class="label label-primary">Aportante</span>
              <span ng-show="familiar.economic_type ==  'D' " class="label label-success">Dependiente</span>
            </div>
            <div> <strong>DNI/CE:</strong>{{familiar.document_number || '00000000'}}</div>
            <div> <strong>Nombres:</strong>{{familiar.father_name || 'No asgignado'}} {{familiar.mother_name}}, {{familiar.first_name}}</div>
          </div>
          <div class="col-sm-4">
            <div class="text-right">
              <a ng-if="familiar.economic_type ==  'D'" ui-sref="socRecord.dependent({familyid:familiar.person_id, relation:familiar.relation})" class="btn btn-big btn-default" name="button">
                <i class="fa fa-eye"></i>
              </a>
              <a ng-if="familiar.economic_type ==  'A'" ui-sref="socRecord.contributor({familyid:familiar.person_id, relation:familiar.relation})" class="btn btn-big btn-default" name="button">
                <i class="fa fa-eye"></i>
              </a>
              <!-- boton de eliminacion -->
              <remconfirm binding-action="step5.remFamily(familiar)" msg="¿Esta Seguro?"></remconfirm>
            </div>

          </div>
        </article>
      </div>
    </div>
  </div>
</div>
