<div class="cauform" ng-init="step2.init()">
  <div class="row title">
    <span class="pull-right">
      <button class="btn btn-primary" ng-show="mode == 'read'" ng-click="mode = 'write'"> Editar</button>
      <button class="btn btn-default" ng-show="mode == 'write'" ng-click="step2.cancel()"> Cancelar</button>
    </span>
    <div class="col-sm-8">
      <span style="font-size:1.2em" ng-class="steps[1].percent=='100'?'text-success':'text-danger'">[ {{steps[1].percent}} <small style="font-size:0.6em">% </small>] </span>
      Datos del lugar de residencia actual del estudiante
    </div>
  </div>
  <form name="step2Frm">
    <!-- Ubigeo de origen -->
    <div class="row form-group" ng-if="profile.modality == 'VIR' ">
      <div class="col-sm-3">
        <label for="origin_country">
          <span ng-show="mode == 'write'" class="text-danger">(*)</span>
          País:
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'" ng-if="ubication.origin_country">
          <strong ng-repeat="country in countries | filter:{id:ubication.origin_country}:true">{{country.nombre}}</strong>
        </div>
        <div ng-show="mode == 'write'">
          <select ng-show="mode == 'write'"
                  class="form-control"
                  name="origin_country"
                  ng-model="ubication.origin_country"
                  required>
            <option value="170"> PE-Perú </option>
            <option ng-repeat="country in countries"
                    ng-selected="country.id == step2Frm.origin_country"
                    value="{{country.id}}"> {{country.codigo}}-{{country.nombre}}</option>
          </select>
          <span class="text-danger" ng-show="mode == 'write' && step2Frm.origin_country.$error.required">Este Campo es Requerido.</span>
        </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <div class="row form-group" ng-if="ubication.origin_country == '170'">
      <div class="col-sm-3">
        <label for="origin_departamento">
          <span ng-show="mode == 'write'" class="text-danger">(*)</span>
          Departamento: {{step2Frm.origin_ubigeo}}
        </label>
      </div>
      <div class="col-sm-5">
        <cd-ubigeo-departamento
          ubigeo="ubication.origin_ubigeo"
          mode="mode"
          name="origin_departamento"
          required>
        </cd-ubigeo-departamento>
        <span class="text-danger" ng-show="mode == 'write' && step2Frm.origin_departamento.$error.required">Este Campo es Requerido.</span>      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <div class="row form-group" ng-if="ubication.origin_country == '170'">
      <div class="col-sm-3">
        <label for="origin_provincia">
          <span ng-show="mode == 'write'" class="text-danger">(*)</span>
          Provincia:
        </label>
      </div>
      <div class="col-sm-5">
        <cd-ubigeo-provincia
            ubigeo="ubication.origin_ubigeo"
            mode="mode"
            name="origin_provincia"
            required>
        </cd-ubigeo-provincia>
        <span class="text-danger" ng-show="mode == 'write' && step2Frm.origin_provincia.$error.required">Este Campo es Requerido.</span>      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <div class="row form-group" ng-if="ubication.origin_country == '170'">
      <div class="col-sm-3">
        <label for="origin_distrito">
          <span ng-show="mode == 'write'" class="text-danger">(*)</span>
          Distrito:
        </label>
      </div>
      <div class="col-sm-5">
        <cd-ubigeo-distrito
            ubigeo="ubication.origin_ubigeo"
            mode="mode"
            name="origin_distrito"
            required>
        </cd-ubigeo-distrito>
        <span class="text-danger" ng-show="mode == 'write' && step2Frm.origin_distrito.$error.required">Este Campo es Requerido.</span>      </div>
      <div class="col-sm-4">
        <div class="help-message hidden" name="origin_distrito">
          <div class="help-message-arrow"></div>
          <div class="help-message-content">
            Departamento: <br>
            No olvides que debes escribir tu <strong>apellido paterno</strong> tal como
            esta escrito en tu <strong>DNI</strong>
          </div>
        </div>
      </div>
    </div>
    <!-- Direccion -->
    <div class="row form-group">
      <div class="col-sm-3">
        <label for="origin_address">
          <span ng-show="mode == 'write'" class="text-danger">(*)</span>
          Dirección:
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong>{{ubication.origin_address}}</strong>
        </div>
        <div ng-show="mode == 'write'">
          <textarea name="origin_address" ng-model="ubication.origin_address" class="form-control" required></textarea>
          <span class="text-danger" ng-show="mode == 'write' && step2Frm.origin_address.$error.required">Este Campo es Requerido.</span>
        </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-sm-3">
        <label for="referency">
          <span ng-show="mode == 'write'" class="text-danger">(*)</span>
          Referencia de vivienda:
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong>{{ubication.referency}}</strong>
        </div>
        <div ng-show="mode == 'write'">
          <textarea name="referency" ng-model="ubication.referency" class="form-control" required></textarea>
          <span class="text-danger" ng-show="mode == 'write' && step2Frm.referency.$error.required">Este Campo es Requerido.</span>
        </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <!-- telefonos -->
    <div class="row form-group">
      <div class="col-sm-3">
        <label for="local_phone">
          Teléfono fijo:
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong>{{ubication.local_phone}}</strong>
        </div>
        <div ng-show="mode == 'write'">
          <input type="text" name="local_phone" ng-model="ubication.local_phone" class="form-control" ng-pattern="/^[0-9]{6,15}$/">
          <span class="text-danger" ng-show="mode == 'write' && step2Frm.local_phone.$error.required">Este Campo es Requerido. <br></span>
          <span class="text-danger" ng-show="mode == 'write' && step2Frm.local_phone.$error.pattern">Solo numeros de 6 a 15 caracteres.</span>
        </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-sm-3">
        <label for="reference_phone">
          <span ng-show="mode == 'write'" class="text-danger">(*)</span>
          Celular de referencia:
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong>{{ubication.reference_phone}}</strong>
        </div>
        <div ng-show="mode == 'write'">
          <input type="text" name="reference_phone" ng-model="ubication.reference_phone" class="form-control" ng-pattern="/^([#|*]|[0-9])[0-9]{5,20}$/" required>
          <span class="text-danger" ng-show="mode == 'write' && step2Frm.reference_phone.$error.required">Este Campo es Requerido. <br></span>
          <span class="text-danger" ng-show="mode == 'write' && step2Frm.reference_phone.$error.pattern">Solo numeros de 5 a 20 caracteres.</span>
        </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-sm-3">
        <label for="reference_person">
          <span ng-show="mode == 'write'" class="text-danger">(*)</span>
          Persona (Celular de Referencia):
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong>{{ubication.reference_person}}</strong>
        </div>
        <div ng-show="mode == 'write'">
          <input type="text" name="reference_person" ng-model="ubication.reference_person" class="form-control" cd-show-help required>
          <span class="text-danger" ng-show="mode == 'write' && step2Frm.reference_person.$error.required">Este Campo es Requerido.</span>
        </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <!-- celulares -->
    <div class="row form-group">
      <div class="col-sm-3">
        <label for="celphone">
          <span ng-show="mode == 'write'" class="text-danger">(*)</span>
          Celular del estudiante:
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong>{{ubication.celphone}}</strong>
        </div>
        <div ng-show="mode == 'write'">
          <input type="text" name="celphone" ng-model="ubication.celphone" class="form-control" ng-pattern="/^([#|*]|[0-9])[0-9]{5,20}$/" required>
          <span class="text-danger" ng-show="mode == 'write' && step2Frm.celphone.$error.required">Este Campo es Requerido. <br> </span>
          <span class="text-danger" ng-show="mode == 'write' && step2Frm.celphone.$error.pattern">Debe ser un numero de celular valido.</span>
        </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-sm-3">
        <label for="celphone2">
          Celular #2:
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong>{{ubication.celphone2}}</strong>
        </div>
        <div ng-show="mode == 'write'">
          <input type="text" name="celphone2" ng-model="ubication.celphone2" class="form-control" ng-pattern="/^([#|*]|[0-9])[0-9]{5,20}$/">
          <span class="text-danger" ng-show="mode == 'write' && step2Frm.celphone2.$error.required">Este Campo es Requerido. <br> </span>
          <span class="text-danger" ng-show="mode == 'write' && step2Frm.celphone2.$error.pattern">Debe ser un numero de celular valido.</span>
        </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-sm-3">
        <label for="celphone3">
          Celular #3:
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong>{{ubication.celphone3}}</strong>
        </div>
        <div ng-show="mode == 'write'">
          <input type="text" name="celphone3" ng-model="ubication.celphone3" class="form-control" ng-pattern="/^([#|*]|[0-9])[0-9]{5,20}$/">
          <span class="text-danger" ng-show="mode == 'write' && step2Frm.celphone3.$error.required">Este Campo es Requerido. <br></span>
          <span class="text-danger" ng-show="mode == 'write' && step2Frm.celphone3.$error.pattern">Debe ser un numero de celular valido.</span>
        </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <!-- Email -->
    <div class="row form-group">
      <div class="col-sm-3">
        <label for="email">
          <span ng-show="mode == 'write'" class="text-danger">(*)</span>
          Correo Electrónico:
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong>{{ubication.email}}</strong>
        </div>
        <div ng-show="mode == 'write'">
          <input type="email" name="email" ng-model="ubication.email" class="form-control" disabled>
          <span class="text-danger" ng-show="mode == 'write' && step2Frm.email.$error.required">Este Campo es Requerido. <br></span>
          <span class="text-danger" ng-show="mode == 'write' && step2Frm.email.$error.email">Debe ser un correo electronico valida.</span>
        </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-sm-3">
        <label for="email2">
          Correo Electrónico #2:
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong>{{ubication.email2}}</strong>
        </div>
        <div ng-show="mode == 'write'">
          <input type="email" name="email2" ng-model="ubication.email2" class="form-control">
          <span class="text-danger" ng-show="mode == 'write' && step2Frm.email2.$error.required">Este Campo es Requerido. <br></span>
          <span class="text-danger" ng-show="mode == 'write' && step2Frm.email2.$error.email">Debe ser un correo electronico valida.</span>
        </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-sm-3">
        <label for="email3">
          Correo Electrónico #3:
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong>{{ubication.email3}}</strong>
        </div>
        <div ng-show="mode == 'write'">
          <input type="email" name="email3" ng-model="ubication.email3" class="form-control">
          <span class="text-danger" ng-show="mode == 'write' && step2Frm.email3.$error.required">Este Campo es Requerido. <br></span>
          <span class="text-danger" ng-show="mode == 'write' && step2Frm.email3.$error.email">Debe ser un correo electronico valida.</span>
        </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <!-- Ubigeo Recurrente -->
    <div class="row form-group" ng-if="profile.modality !=  'PGR'">
      <div class="col-sm-3">
        <label for="has_recurrent">
          <span ng-show="mode == 'write'" class="text-danger">(*)</span>
          ¿Se encuentra mayor tiempo fuera de su lugar de residencia mencionada? (por trabajo, estudios u otros motivos)
        </label>
      </div>
      <div class="col-sm-5">
        <cd-yes-no mode="mode" value="ubication.has_recurrent" cd-show-help ></cd-yes-no>
      </div>
      <div class="col-sm-4">
      </div>
    </div>

    <div class="row form-group" ng-if="ubication.has_recurrent == '1' && profile.modality=='VIR' ">
      <div class="col-sm-3">
        <label for="recurrent_country">
          <span ng-show="mode == 'write'" class="text-danger">(*)</span>
          País:
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'" ng-if="ubication.recurrent_country">
          <strong ng-repeat="country in countries | filter:{id:ubication.recurrent_country}:true">{{country.nombre}}</strong>
        </div>
        <div ng-show="mode == 'write'">
          <select ng-show="mode == 'write'"
                  class="form-control"
                  name="recurrent_country"
                  ng-model="ubication.recurrent_country"
                  cd-show-help
                  required>
            <option value="170"> PE-Perú </option>
            <option ng-repeat="country in countries"
                    ng-selected="country.id == step2Frm.recurrent_country"
                    value="{{country.id}}"> {{country.codigo}}-{{country.nombre}}</option>
          </select>
          <span class="text-danger" ng-show="mode == 'write' && step2Frm.recurrent_country.$error.required">Este Campo es Requerido.</span>
        </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <div class="row form-group" ng-if="ubication.recurrent_country == '170' && ubication.has_recurrent == '1' ">
      <div class="col-sm-3">
        <label for="recurrent_departamento">
          <span ng-show="mode == 'write'" class="text-danger">(*)</span>
          Departamento: {{step2Frm.recurrent_ubigeo}}
        </label>
      </div>
      <div class="col-sm-5">
        <cd-ubigeo-departamento
          ubigeo="ubication.recurrent_ubigeo"
          mode="mode"
          name="recurrent_departamento"
          cd-show-help
          required>
        </cd-ubigeo-departamento>
        <span class="text-danger" ng-show="mode == 'write' && step2Frm.recurrent_departamento.$error.required">Este Campo es Requerido.</span>      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <div class="row form-group" ng-if="ubication.recurrent_country == '170' && ubication.has_recurrent == '1' ">
      <div class="col-sm-3">
        <label for="recurrent_provincia">
          <span ng-show="mode == 'write'" class="text-danger">(*)</span>
          Provincia:
        </label>
      </div>
      <div class="col-sm-5">
        <cd-ubigeo-provincia
            ubigeo="ubication.recurrent_ubigeo"
            mode="mode"
            name="recurrent_provincia"
            required>
        </cd-ubigeo-provincia>
        <span class="text-danger" ng-show="mode == 'write' && step2Frm.recurrent_provincia.$error.required">Este Campo es Requerido.</span>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <div class="row form-group" ng-if="ubication.recurrent_country == '170' && ubication.has_recurrent == '1' ">
      <div class="col-sm-3">
        <label for="recurrent_distrito">
          <span ng-show="mode == 'write'" class="text-danger">(*)</span>
          Distrito:
        </label>
      </div>
      <div class="col-sm-5">
        <cd-ubigeo-distrito
            ubigeo="ubication.recurrent_ubigeo"
            mode="mode"
            name="recurrent_distrito"
            required>
        </cd-ubigeo-distrito>
        <span class="text-danger" ng-show="mode == 'write' && step2Frm.recurrent_distrito.$error.required">Este Campo es Requerido.</span>      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <!-- Direccion Recurrente -->
    <div class="row form-group" ng-if="ubication.has_recurrent == '1' ">
      <div class="col-sm-3">
        <label for="recurrent_address">
          <span ng-show="mode == 'write'" class="text-danger">(*)</span>
          Dirección:
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong>{{ubication.recurrent_address}}</strong>
        </div>
        <div ng-show="mode == 'write'">
          <input type="text" name="recurrent_address" ng-model="ubication.recurrent_address" class="form-control" cd-show-help required>
          <span class="text-danger" ng-show="mode == 'write' && step2Frm.recurrent_address.$error.required">Este Campo es Requerido.</span>
        </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <div class="row form-group" ng-if="ubication.has_recurrent == '1' ">
      <div class="col-sm-3">
        <label for="recurrent_referency">
          <span ng-show="mode == 'write'" class="text-danger">(*)</span>
          Referencia de vivienda:
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong>{{ubication.recurrent_referency}}</strong>
        </div>
        <div ng-show="mode == 'write'">
          <input type="text" name="recurrent_referency" ng-model="ubication.recurrent_referency" class="form-control" cd-show-help required>
          <span class="text-danger" ng-show="mode == 'write' && step2Frm.recurrent_referency.$error.required">Este Campo es Requerido.</span>
        </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <!-- Submit button -->
    <div class="row" ng-show="mode == 'write'">
      <div class="col-sm-8 text-right">
        <input ng-disabled="step2Frm.$invalid" type="submit" value="Guardar" class="btn btn-primary" ng-click="step2.save(ubication)" dis-btn>
      </div>
    </div>
  </form>
</div>
