<div class="cauform" ng-init="step11.init()">
  <div class="row title">
    <span class="pull-right">
      <button class="btn btn-primary" ng-show="mode == 'read'" ng-click="mode = 'write'"> Editar</button>
      <button class="btn btn-default" ng-show="mode == 'write'" ng-click="step11.cancel()"> Cancelar</button>
    </span>
    <div class="col-sm-8">
      <span style="font-size:1.2em" ng-class="steps[8].percent=='100'?'text-success':'text-danger'">[ {{steps[8].percent}} <small style="font-size:0.6em">% </small>] </span>
      Comodidades y servicios del hogar
    </div>
  </div>
  <form name="step11Frm">
    <!-- Appliances -->
    <div class="row form-group">
      <div class="col-sm-3">
        <label for="appliances">
          <span ng-show="mode == 'write'" class="text-danger">(*)</span>
          Tenencia de artefactos en su hogar:
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <div class="col-lg-6 col-md-12" ng-repeat="appliance in comodity.appliances track by $index">
            <strong> <i class="fa fa-check-square-o"></i> {{appliance}} </strong>
          </div>
        </div>
        <div ng-show="mode == 'write'">
          <div class="col-lg-6 col-md-12" ng-repeat="item in appliances_list">
            <label><input type="checkbox" name="item" ng-true-value="'{{item}}'" ng-false-value="'0'" ng-model="appliances[$index]"> {{item}}</label>
          </div>
          <div class="col-xs-12 text-danger" ng-show="step11.countAppliances() <= 0">
            Seleccione los artefactos que posee.
          </div>
        </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-sm-3">
        <label for="service">
          <span ng-show="mode == 'write'" class="text-danger">(*)</span>
          Servicios con los que cuenta el hogar:
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <div class="col-lg-6 col-md-12" ng-repeat="service in comodity.services">
            <strong> <i class="fa fa-check-square-o"></i> {{service}} </strong>
          </div>
        </div>
        <div ng-show="mode == 'write'">
          <div class="col-lg-6 col-md-12" ng-repeat="item in services_list track by $index">
            <label><input type="checkbox" name="services[$index]" ng-true-value="'{{item}}'" ng-false-value="'0'" ng-model="services[$index]" ng-checked="step11.inServices(item)"> {{item}}</label><br>
          </div>
          <div class="col-xs-12 text-danger" ng-show="step11.countServices() <= 0">
            Seleccione los servicios con los que cuenta.
          </div>
        </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <!-- Submit button -->
    <div class="row" ng-show="mode == 'write'">
      <div class="col-sm-8 text-right">
        <input ng-disabled="step11Frm.$invalid || step11.countServices() == 0 || step11.countAppliances() == 0" type="submit" value="Guardar" class="btn btn-primary" ng-click="step11.save(comodity)" dis-btn>
      </div>
    </div>
  </form>
</div>
