<div class="cauform" ng-init="step8.init()">
  <div class="row title">
    <span class="pull-right">
      <button class="btn btn-primary" ng-show="mode == 'read'" ng-click="mode = 'write'"> Editar</button>
      <button class="btn btn-default" ng-show="mode == 'write'" ng-click="step8.cancel()"> Cancelar</button>
    </span>
    <div class="col-sm-8">
      <span style="font-size:1.2em" ng-class="steps[5].percent=='100'?'text-success':'text-danger'">[ {{steps[5].percent}} <small style="font-size:0.6em">% </small>] </span>
      Ingresos mensuales familiares
    </div>
  </div>
  <form name="step8Frm">
    <div class="row">
      <div class="col-xs-12">
        <span class="text-danger" ng-show="mode == 'write' && step8.total(income) <= 0">Rellene los ingesos MENSUALES familiares.</span>
      </div>
    </div>
    <!-- Ingresos 1 -->
    <div class="row form-group">
      <div class="col-sm-3">
        <label for="student">
          Aporte del estudiante:
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong>S/. {{income.student || '0'}}.00</strong>
        </div>
        <div ng-show="mode == 'write'">
          <input type="number" ng-pattern="/^[0-9]+[0-9]$/" step="1" min="100" max="90000" name="student" ng-model="income.student" class="form-control">
          <span class="text-danger" ng-show="mode == 'write' && step8Frm.student.$error.min">el valor mínimo para el aporte del estudiante: es 100.</span>
          <span class="text-danger" ng-show="mode == 'write' && step8Frm.student.$error.number">el valor debe ser tipo numero entero (sin decimales).</span>
          <span class="text-danger" ng-show="mode == 'write' && step8Frm.student.$error.pattern">el valor debe ser tipo numero entero (sin decimales).</span>
        </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-sm-3">
        <label for="father">
          Padre del estudiante:
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong>S/. {{income.father || '0'}}.00</strong>
        </div>
        <div ng-show="mode == 'write'">
          <input type="number" ng-pattern="/^[0-9]+[0-9]$/" step="1" min="100" max="90000" name="father" ng-model="income.father" class="form-control">
          <span class="text-danger" ng-show="mode == 'write' && step8Frm.father.$error.min">el valor mínimo para ingreso por el padre del estudiante: es 100.</span>
          <span class="text-danger" ng-show="mode == 'write' && step8Frm.father.$error.number">el valor debe ser tipo numero entero (sin decimales).</span>
          <span class="text-danger" ng-show="mode == 'write' && step8Frm.father.$error.pattern">el valor debe ser tipo numero entero (sin decimales).</span>
        </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-sm-3">
        <label for="mother">
          Madre del estudiante:
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong>S/. {{income.mother || '0'}}.00</strong>
        </div>
        <div ng-show="mode == 'write'">
          <input type="number" ng-pattern="/^[0-9]+[0-9]$/" step="1" min="100" max="90000" name="mother" ng-model="income.mother" class="form-control">
          <span class="text-danger" ng-show="mode == 'write' && step8Frm.mother.$error.min">el valor mínimo para ingreso por la madre del estudiante: es 100.</span>
          <span class="text-danger" ng-show="mode == 'write' && step8Frm.mother.$error.number">el valor debe ser tipo numero entero (sin decimales).</span>
          <span class="text-danger" ng-show="mode == 'write' && step8Frm.mother.$error.pattern">el valor debe ser tipo numero entero (sin decimales).</span>
        </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-sm-3">
        <label for="spouse">
          Cónyuge del estudiante:
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong>S/. {{income.spouse || '0'}}.00</strong>
        </div>
        <div ng-show="mode == 'write'">
          <input type="number" ng-pattern="/^[0-9]+[0-9]$/" step="1" min="100" max="90000" name="spouse" ng-model="income.spouse" class="form-control">
          <span class="text-danger" ng-show="mode == 'write' && step8Frm.spouse.$error.min">el valor mínimo para ingreso por el/la cónyuge del estudiante: es 100.</span>
          <span class="text-danger" ng-show="mode == 'write' && step8Frm.spouse.$error.number">el valor debe ser tipo numero entero (sin decimales).</span>
          <span class="text-danger" ng-show="mode == 'write' && step8Frm.spouse.$error.pattern">el valor debe ser tipo numero entero (sin decimales).</span>
        </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-sm-3">
        <label for="other_fam">
          Otro familiar:
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong>S/. {{income.other_fam || '0'}}.00</strong>
        </div>
        <div ng-show="mode == 'write'">
          <input type="number" ng-pattern="/^[0-9]+[0-9]$/" step="1" min="100" max="90000" name="other_fam" ng-model="income.other_fam" class="form-control">
          <span class="text-danger" ng-show="mode == 'write' && step8Frm.other_fam.$error.min">el valor mínimo para ingreso por otro familiar: es 100.</span>
          <span class="text-danger" ng-show="mode == 'write' && step8Frm.other_fam.$error.number">el valor debe ser tipo numero entero (sin decimales).</span>
          <span class="text-danger" ng-show="mode == 'write' && step8Frm.other_fam.$error.pattern">el valor debe ser tipo numero entero (sin decimales).</span>
        </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-sm-3">
        <label for="cj_father">
          Jubilación/cesantía (padre):
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong>S/. {{income.cj_father || '0'}}.00</strong>
        </div>
        <div ng-show="mode == 'write'">
          <input type="number" ng-pattern="/^[0-9]+[0-9]$/" step="1" min="100" max="90000" name="cj_father" ng-model="income.cj_father" class="form-control">
          <span class="text-danger" ng-show="mode == 'write' && step8Frm.cj_father.$error.min">el valor mínimo para ingreso por pensión por jubilación/cesantía del padre: es 100.</span>
          <span class="text-danger" ng-show="mode == 'write' && step8Frm.cj_father.$error.number">el valor debe ser tipo numero entero (sin decimales).</span>
          <span class="text-danger" ng-show="mode == 'write' && step8Frm.cj_father.$error.pattern">el valor debe ser tipo numero entero (sin decimales).</span>
        </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-sm-3">
        <label for="cj_mother">
          Jubilación/cesantía (madre):
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong>S/. {{income.cj_mother || '0'}}.00</strong>
        </div>
        <div ng-show="mode == 'write'">
          <input type="number" ng-pattern="/^[0-9]+[0-9]$/" step="1" min="100" max="90000" name="cj_mother" ng-model="income.cj_mother" class="form-control">
          <span class="text-danger" ng-show="mode == 'write' && step8Frm.cj_mother.$error.min">el valor mínimo para ingreso por pensión por jubilación/cesantía de la madre: es 100.</span>
          <span class="text-danger" ng-show="mode == 'write' && step8Frm.cj_mother.$error.number">el valor debe ser tipo numero entero (sin decimales).</span>
          <span class="text-danger" ng-show="mode == 'write' && step8Frm.cj_mother.$error.pattern">el valor debe ser tipo numero entero (sin decimales).</span>
        </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <!-- Ingresos 2 -->
    <div class="row form-group">
      <div class="col-sm-3">
        <label for="widowhood">
          Ingreso por pensión de viudez u orfandad:
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong>S/. {{income.widowhood || '0'}}.00</strong>
        </div>
        <div ng-show="mode == 'write'">
          <input type="number" ng-pattern="/^[0-9]+[0-9]$/" step="1" min="100" max="90000" name="widowhood" ng-model="income.widowhood" class="form-control">
          <span class="text-danger" ng-show="mode == 'write' && step8Frm.widowhood.$error.min">el valor mínimo para ingreso por pensión por viudez u orfandad: es 100.</span>
          <span class="text-danger" ng-show="mode == 'write' && step8Frm.widowhood.$error.number">el valor debe ser tipo numero entero (sin decimales).</span>
          <span class="text-danger" ng-show="mode == 'write' && step8Frm.widowhood.$error.pattern">el valor debe ser tipo numero entero (sin decimales).</span>
        </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-sm-3">
        <label for="food">
          Ingreso por pensión de alimentos:
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong>S/. {{income.food || '0'}}.00</strong>
        </div>
        <div ng-show="mode == 'write'">
          <input type="number" ng-pattern="/^[0-9]+[0-9]$/" step="1" min="100" max="90000" name="food" ng-model="income.food" class="form-control" cd-show-help="food">
          <span class="text-danger" ng-show="mode == 'write' && step8Frm.food.$error.min">el valor mínimo para ingreso por pensión por alimentos: es 100.</span>
          <span class="text-danger" ng-show="mode == 'write' && step8Frm.food.$error.number">el valor debe ser tipo numero entero (sin decimales).</span>
          <span class="text-danger" ng-show="mode == 'write' && step8Frm.food.$error.pattern">el valor debe ser tipo numero entero (sin decimales).</span>
        </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-sm-3">
        <label for="house_rent">
          Ingreso por alquiler de inmueble:
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong>S/. {{income.house_rent || '0'}}.00</strong>
        </div>
        <div ng-show="mode == 'write'">
          <input type="number" ng-pattern="/^[0-9]+[0-9]$/" step="1" min="10" max="90000" name="house_rent" ng-model="income.house_rent" class="form-control">
          <span class="text-danger" ng-show="mode == 'write' && step8Frm.house_rent.$error.min">el valor mínimo para ingreso por alquiler de inmueble: es 10.</span>
          <span class="text-danger" ng-show="mode == 'write' && step8Frm.house_rent.$error.number">el valor debe ser
            <span class="text-danger" ng-show="mode == 'write' && step8Frmpattern_rent.$error.number">el valor debe ser tipo numero entero (sintipo numero entero (sin decimales).</span>
        </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-sm-3">
        <label for="car_rent">
          Ingreso por renta (Alquiler de Vehículo):
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong>S/. {{income.car_rent || '0'}}.00</strong>
        </div>
        <div ng-show="mode == 'write'">
          <input type="number" ng-pattern="/^[0-9]+[0-9]$/" step="1" min="10" max="90000" name="car_rent" ng-model="income.car_rent" class="form-control">
          <span class="text-danger" ng-show="mode == 'write' && step8Frm.car_rent.$error.min">el valor mínimo para ingreso por renta (alquiler de vehículo): es 10.</span>
          <span class="text-danger" ng-show="mode == 'write' && step8Frm.car_rent.$error.number">el valor debe ser tipo numero entero (sin decimales).</span>
          <span class="text-danger" ng-show="mode == 'write' && step8Frm.car_rent.$error.pattern">el valor debe ser tipo numero entero (sin decimales).</span>
        </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-sm-3">
        <label for="other">
          Otros ingresos:
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong>S/. {{income.other || '0'}}.00</strong>
        </div>
        <div ng-show="mode == 'write'">
          <input type="number" ng-pattern="/^[0-9]+[0-9]$/" step="1" min="10" max="10000" name="other" ng-model="income.other" class="form-control">
          <span class="text-danger" ng-show="mode == 'write' && step8Frm.other.$error.required">el valor mínimo para otros ingresos: es 10.</span>
          <span class="text-danger" ng-show="mode == 'write' && step8Frm.other.$error.number">el valor debe ser tipo numero entero (sin decimales).</span>
          <span class="text-danger" ng-show="mode == 'write' && step8Frm.other.$error.pattern">el valor debe ser tipo numero entero (sin decimales).</span>
        </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <!-- Total -->
    <div class="row form-group">
      <div class="col-sm-3">
        <label for="total">
          Total:
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong class="text-danger"> S/. {{step8.total(income) || '0'}}.00</strong>
        </div>
        <div ng-show="mode == 'write'">
          <input type="number" min="10" step="1" name="total" ng-model="f8total" class="form-control" value="{{step8.total(income)}}" disabled>
        </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <!-- Submit button -->
    <div class="row" ng-show="mode == 'write'">
      <div class="col-sm-8 text-right">
        <input ng-disabled="step8Frm.$invalid || step8.total(income) <= 0" type="submit" value="Guardar" class="btn btn-primary" ng-click="step8.save(income)" dis-btn>
      </div>
    </div>
  </form>
</div>
