<div class="cauform" ng-init="step9.init()">
  <div class="row title">
    <span class="pull-right">
      <button class="btn btn-primary" ng-show="mode == 'read'" ng-click="mode = 'write'"> Editar</button>
      <button class="btn btn-default" ng-show="mode == 'write'" ng-click="step9.cancel()"> Cancelar</button>
    </span>
    <div class="col-sm-8">
      <span style="font-size:1.2em" ng-class="steps[6].percent=='100'?'text-success':'text-danger'">[ {{steps[6].percent}} <small style="font-size:0.6em">% </small>] </span>
      Egresos mensuales familiares
    </div>
  </div>
  <form name="step9Frm">
    <div class="row form-group">
      <div class="col-sm-3">
        <label for="food">
          <span ng-show="mode == 'write'" class="text-danger">(*)</span>
          Alimentación familiar:
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong>S/. {{expenses.food  || '0'}}.00</strong>
        </div>
        <div ng-show="mode == 'write'">
          <input type="number" step="1" min="10" max="90000" name="food" ng-model="expenses.food" class="form-control" required>
          <span class="text-danger" ng-show="mode == 'write' && step9Frm.food.$error.required">Este Campo es Requerido.</span>
          <span class="text-danger" ng-show="mode == 'write' && step9Frm.food.$error.number">Este Campo es entero.</span>
        </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-sm-3">
        <label for="home">
          Alquiler de vivienda:
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong>S/. {{expenses.home  || '0'}}.00</strong>
        </div>
        <div ng-show="mode == 'write'">
          <input type="number" step="1" min="10" max="90000" name="home" ng-model="expenses.home" class="form-control" >
        </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-sm-3">
        <label for="services">
          <span ng-show="mode == 'write'" class="text-danger">(*)</span>
          Servicios (Agua, Luz, Teléfono, Celular, Cable):
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong>S/. {{expenses.services  || '0'}}.00</strong>
        </div>
        <div ng-show="mode == 'write'">
          <input type="number" step="1" min="10" max="90000" name="services" ng-model="expenses.services" class="form-control" required>
          <span class="text-danger" ng-show="mode == 'write' && step9Frm.services.$error.required">Este Campo es Requerido.</span>
        </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-sm-3">
        <label for="gas">
          Gas u otro combustible de cocina:
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong>S/. {{expenses.gas  || '0'}}.00</strong>
        </div>
        <div ng-show="mode == 'write'">
          <input type="number" step="1" min="10" max="90000" name="gas" ng-model="expenses.gas" class="form-control">
          <span class="text-danger" ng-show="mode == 'write' && step9Frm.gas.$error.required">Este Campo es Requerido.</span>
        </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-sm-3">
        <label for="conti">
          <span ng-show="mode == 'write'" class="text-danger">(*)</span>
          Cuota del estudiante en la universidad Continental:
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong>S/. {{expenses.conti  || '0'}}.00</strong>
        </div>
        <div ng-show="mode == 'write'">
          <input type="number" step="1" min="10" max="90000" name="conti" ng-model="expenses.conti" class="form-control" required>
          <span class="text-danger" ng-show="mode == 'write' && step9Frm.conti.$error.required">Este Campo es Requerido.</span>
        </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-sm-3">
        <label for="brothers">
          Pensiones de enseñanza de los hermanos del estudiante (Cuando el estudiante es dependiente):
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong>S/. {{expenses.brothers  || '0'}}.00</strong>
        </div>
        <div ng-show="mode == 'write'">
          <input type="number" step="1" min="10" max="90000" name="brothers" ng-model="expenses.brothers" class="form-control" >
        </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-sm-3">
        <label for="sons">
          Pensiones de enseñanza de hijos del estudiante:
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong>S/. {{expenses.sons  || '0'}}.00</strong>
        </div>
        <div ng-show="mode == 'write'">
          <input type="number" step="1" min="10" max="90000" name="sons" ng-model="expenses.sons" class="form-control" >
        </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-sm-3">
        <label for="materials">
          <span ng-show="mode == 'write'" class="text-danger">(*)</span>
          Materiales de estudios (De todos los que estudian):
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong>S/. {{expenses.materials  || '0'}}.00</strong>
        </div>
        <div ng-show="mode == 'write'">
          <input type="number" step="1" min="10" max="90000" name="materials" ng-model="expenses.materials" class="form-control" required>
          <span class="text-danger" ng-show="mode == 'write' && step9Frm.materials.$error.required">Este Campo es Requerido.</span>
        </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-sm-3">
        <label for="housekeeper">
          Empleada del hogar:
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong>S/. {{expenses.housekeeper  || '0'}}.00</strong>
        </div>
        <div ng-show="mode == 'write'">
          <input type="number" step="1" min="10" max="90000" name="housekeeper" ng-model="expenses.housekeeper" class="form-control" >
        </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-sm-3">
        <label for="movility">
          Movilidad general (combustibles, pasajes):
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong>S/. {{expenses.movility  || '0'}}.00</strong>
        </div>
        <div ng-show="mode == 'write'">
          <input type="number" step="1" min="10" max="90000" name="movility" ng-model="expenses.movility" class="form-control">
        </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-sm-3">
        <label for="clothing">
          Vestido:
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong>S/. {{expenses.clothing  || '0'}}.00</strong>
        </div>
        <div ng-show="mode == 'write'">
          <input type="number" step="1" min="10" max="90000" name="clothing" ng-model="expenses.clothing" class="form-control" >
        </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-sm-3">
        <label for="salud">
          Salud (Seguros, atenciones, medicinas):
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong>S/. {{expenses.salud  || '0'}}.00</strong>
        </div>
        <div ng-show="mode == 'write'">
          <input type="number" step="1" min="10" max="90000" name="salud" ng-model="expenses.salud" class="form-control" >
        </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-sm-3">
        <label for="bank">
          Deudas bancarias:
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong>S/. {{expenses.bank  || '0'}}.00</strong>
        </div>
        <div ng-show="mode == 'write'">
          <input type="number" step="1" min="10" max="90000" name="bank" ng-model="expenses.bank" class="form-control" >
        </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-sm-3">
        <label for="other">
          Otros egresos:
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong>S/. {{expenses.other  || '0'}}.00</strong>
        </div>
        <div ng-show="mode == 'write'">
          <input type="number" step="1" min="10" max="90000" name="other" ng-model="expenses.other" class="form-control" >
        </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <!-- TOTAL -->
    <div class="row form-group">
      <div class="col-sm-3">
        <label for="total">
          Total:
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong class="text-danger"> S/. {{step9.total(expenses) || '0'}}.00</strong>
        </div>
        <div ng-show="mode == 'write'">
          <input type="number" name="total" class="form-control" value="{{step9.total(expenses)}}" disabled>
        </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <div class="row text-danger">
      <div class="col-xs-12"  ng-show="total_income <=  step9.total(expenses)">
        Verifique, hay una inconsistencia: su egreso(S/. {{step9.total(expenses) || '0'}}.00) es superior a su ingreso(S/{{total_income}}.00).
      </div>
    </div>
    <!-- Submit button -->
    <div class="row" ng-show="mode == 'write'">
      <div class="col-sm-8 text-right">
        <input ng-disabled="step9Frm.$invalid || total_income <=  step9.total(expenses)" type="submit" value="Guardar" class="btn btn-primary" ng-click="step9.save(expenses)" dis-btn>
      </div>
    </div>
  </form>
</div>
