<div class="cauform" ng-init="step10.init()">
  <div class="row title">
    <span class="pull-right">
      <button class="btn btn-primary" ng-show="mode == 'read'" ng-click="mode = 'write'"> Editar</button>
      <button class="btn btn-default" ng-show="mode == 'write'" ng-click="step10.cancel()"> Cancelar</button>
    </span>
    <div class="col-sm-8">
      <span style="font-size:1.2em" ng-class="steps[7].percent=='100'?'text-success':'text-danger'">[ {{steps[7].percent}} <small style="font-size:0.6em">% </small>] </span>
      Datos de vivienda actual del estudiante
    </div>
  </div>
  <form name="step11Frm">
    <!-- vivienda -->
    <div class="row form-group">
      <div class="col-sm-3">
        <label for="home_type">
          <span ng-show="mode == 'write'" class="text-danger">(*)</span>
          Tipo de tenencia de vivienda del estudiante:
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong ng-show=" home.home_type == '1' ">Propia</strong>
          <strong ng-show=" home.home_type == '2' ">Alquilada</strong>
          <strong ng-show=" home.home_type == '3' ">Guardianía</strong>
          <strong ng-show=" home.home_type == '4' ">Alquiler venta o con préstamo hipotecario</strong>
          <strong ng-show=" home.home_type == '5' ">Alojados en casa de familiares u otros</strong>
          <strong ng-show=" home.home_type == '6' ">Invasión u ocupación precaria</strong>
          <strong ng-show=" home.home_type == '7' ">En calidad de uso</strong>
        </div>
        <div ng-show="mode == 'write'">
          <select name="home_type" ng-model="home.home_type" class="form-control" cd-show-help="home_type" required>
            <option value="1">Propia</option>
            <option value="2">Alquilada</option>
            <option value="3">Guardianía</option>
            <option value="4">Alquiler venta o con préstamo hipotecario</option>
            <option value="5">Alojados en casa de familiares u otros</option>
            <option value="6">Invasión u ocupación precaria</option>
            <option value="7">En calidad de uso</option>
          </select>
          <span class="text-danger" ng-show="mode == 'write' && step1Frm.home_type.$error.required">Este Campo es Requerido.</span>
        </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-sm-3">
        <label for="home_status">
          <span ng-show="mode == 'write'" class="text-danger">(*)</span>
          Tipo de  vivienda:
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong ng-show=" home.home_status == '1' ">Casa independiente</strong>
          <strong ng-show=" home.home_status == '2' ">Casa multifamiliar</strong>
          <strong ng-show=" home.home_status == '3' ">Departamento</strong>
          <strong ng-show=" home.home_status == '4' ">Cuarto</strong>
        </div>
        <div ng-show="mode == 'write'">
          <select name="home_status" ng-model="home.home_status" class="form-control" cd-show-help="home_status" required>
            <option value="1">Casa independiente</option>
            <option value="2">Casa multifamiliar</option>
            <option value="3">Departamento</option>
            <option value="4">Cuarto</option>
          </select>
          <span class="text-danger" ng-show="mode == 'write' && step1Frm.home_status.$error.required">Este Campo es Requerido.</span>
        </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-sm-3">
        <label for="wall_material">
          <span ng-show="mode == 'write'" class="text-danger">(*)</span>
          Tipo de material de las paredes:
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong ng-show=" home.wall_material == '1' ">Noble revestido</strong>
          <strong ng-show=" home.wall_material == '2' ">Noble sin revestir</strong>
          <strong ng-show=" home.wall_material == '3' ">Rústico</strong>
          <strong ng-show=" home.wall_material == '4' ">Mixto</strong>
        </div>
        <div ng-show="mode == 'write'">
          <select name="wall_material" ng-model="home.wall_material" class="form-control" cd-show-help="wall_material" required>
            <option value="1">Noble revestido</option>
            <option value="2">Noble sin revestir</option>
            <option value="3">Rústico</option>
            <option value="4">Mixto</option>
          </select>
          <span class="text-danger" ng-show="mode == 'write' && step1Frm.wall_material.$error.required">Este Campo es Requerido.</span>
        </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-sm-3">
        <label for="roof_material">
          <span ng-show="mode == 'write'" class="text-danger">(*)</span>
          Tipo de material de techos:
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong ng-show=" home.roof_material == '1' ">Concreto</strong>
          <strong ng-show=" home.roof_material == '2' ">Madera - Techo aligerado</strong>
          <strong ng-show=" home.roof_material == '3' ">Calamina</strong>
          <strong ng-show=" home.roof_material == '4' ">Teja</strong>
        </div>
        <div ng-show="mode == 'write'">
          <select name="roof_material" ng-model="home.roof_material" class="form-control" cd-show-help="roof_material" required>
            <option value="1">Concreto</option>
            <option value="2">Madera - Techo aligerado</option>
            <option value="3">Calamina</option>
            <option value="4">Teja</option>
          </select>
          <span class="text-danger" ng-show="mode == 'write' && step1Frm.roof_material.$error.required">Este Campo es Requerido.</span>
        </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-sm-3">
        <label for="floor_material">
          <span ng-show="mode == 'write'" class="text-danger">(*)</span>
          Tipo de material de los pisos:
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong ng-show=" home.floor_material == '1' ">Cemento</strong>
          <strong ng-show=" home.floor_material == '2' ">Mayólica</strong>
          <strong ng-show=" home.floor_material == '3' ">Vinílico</strong>
          <strong ng-show=" home.floor_material == '4' ">Parket</strong>
          <strong ng-show=" home.floor_material == '5' ">Madera</strong>
          <strong ng-show=" home.floor_material == '6' ">Tierra</strong>
        </div>
        <div ng-show="mode == 'write'">
          <select name="floor_material" ng-model="home.floor_material" class="form-control" cd-show-help="floor_material" required>
            <option value="1">Cemento</option>
            <option value="2">Mayólica</option>
            <option value="3">Vinílico</option>
            <option value="4">Parket</option>
            <option value="5">Madera</option>
            <option value="6">Tierra</option>
          </select>
          <span class="text-danger" ng-show="mode == 'write' && step1Frm.floor_material.$error.required">Este Campo es Requerido.</span>
        </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <!-- Submit button -->
    <div class="row" ng-show="mode == 'write'">
      <div class="col-sm-8 text-right">
        <input ng-disabled="step11Frm.$invalid" type="submit" value="Guardar" class="btn btn-primary" ng-click="step10.save(home)" dis-btn>
      </div>
    </div>
  </form>
</div>
