  <div class="cauform" ng-init="step12.init();">
  <div class="row title">
    <span class="pull-right">
      <button class="btn btn-default" ng-show="mode == 'write'" ng-click="step12.cancel()"> Cancelar</button>
      <button class="btn btn-primary" ng-show="mode == 'read'" ng-click="mode = 'write'"> Editar</button>

    </span>
    <div class="col-sm-8">
      <span style="font-size:1.2em" ng-class="steps[9].percent=='100'?'text-success':'text-danger'">[ {{steps[9].percent}} <small style="font-size:0.6em">% </small>] </span>
      Salud familiar
    </div>
  </div>
  <form name="step12Frm">
    <!-- Hospital -->
    <div class="row form-group">
      <div class="col-sm-3">
        <label for="hospital">
          <span ng-show="mode == 'write'" class="text-danger">(*)</span>
          ¿Dónde se atiende algún miembro de la familia en caso de emergencias?
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong ng-show="health.hospital == '1'">Hospitales</strong>
          <strong ng-show="health.hospital == '2'">ESSALUD</strong>
          <strong ng-show="health.hospital == '3'">Clínicas</strong>
          <strong ng-show="health.hospital == '4'">Seguro Privado</strong>
          <strong ng-show="health.hospital == '5'">Otros</strong>
        </div>
        <div ng-show="mode == 'write'">
          <select name="hospital" ng-model="health.hospital" class="form-control" cd-show-help="hospital" required>
            <option value="1">Hospitales</option>
            <option value="2">ESSALUD</option>
            <option value="3">Clínicas</option>
            <option value="4">Seguro Privado</option>
            <option value="5">Otros</option>
          </select>
          <span class="text-danger" ng-show="mode == 'write' && step12Frm.hospital.$error.required">Este Campo es Requerido.</span>
        </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <div class="row form-group" ng-if="health.hospital == '5'">
      <div class="col-sm-3">
        <label for="other">
          <span ng-show="mode == 'write'" class="text-danger">(*)</span>
          ¿En que otro lugar se atiende?
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong> {{health.other}}</strong>
        </div>
        <div ng-show="mode == 'write'">
          <input type="text" name="other" ng-model="health.other" class="form-control" cd-show-help="other" required>
          <span class="text-danger" ng-show="mode == 'write' && step12Frm.other.$error.required">Este Campo es Requerido.</span>
        </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <!-- Discapacidad del estudiante -->
    <div class="row form-group">
      <div class="col-sm-3">
        <label for="disability">
          <span ng-show="mode == 'write'" class="text-danger">(*)</span>
          ¿El estudiante padece alguna discapacidad?
        </label>
      </div>
      <div class="col-sm-5">
          <cd-yes-no mode="mode" value="health.disability" cd-show-help="disability"></cd-yes-no>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <div class="row form-group" ng-if="health.disability == '1'">
      <div class="col-sm-3">
        <label for="disability_type">
          <span ng-show="mode == 'write'" class="text-danger">(*)</span>
          Tipo de discapacidad
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong ng-show="health.disability_type == '1'">Discapacidad Motriz</strong>
          <strong ng-show="health.disability_type == '2'">Discapacidad Auditiva</strong>
          <strong ng-show="health.disability_type == '3'">Discapacidad Visual</strong>
        </div>
        <div ng-show="mode == 'write'">
          <select name="disability_type" ng-model="health.disability_type" class="form-control" cd-show-help="disability_type" required>
            <option value="1">Discapacidad Motriz</option>
            <option value="1">Discapacidad Auditiva</option>
            <option value="1">Discapacidad Visual</option>
          </select>
          <span class="text-danger" ng-show="mode == 'write' && step12Frm.disability_type.$error.required">Este Campo es Requerido.</span>
        </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <!-- Enfermeda del estudiante -->
    <div class="row form-group">
      <div class="col-sm-3">
        <label for="has_disease">
          <span ng-show="mode == 'write'" class="text-danger">(*)</span>
          ¿El estudiante padece de una alguna enfermedad física o psicológica por el cual recibe tratamiento?
        </label>
      </div>
      <div class="col-sm-5">
          <cd-yes-no mode="mode" value="health.has_disease"></cd-yes-no>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <div class="row form-group" ng-if="health.has_disease == '1'">
      <div class="col-sm-3">
        <label for="disease">
          <span ng-show="mode == 'write'" class="text-danger">(*)</span>
          ¿Que enfermedad?
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong>{{health.disease}}</strong>
        </div>
        <div ng-show="mode == 'write'">
          <input type="text" name="disease" ng-model="health.disease" class="form-control" required>
          <span class="text-danger" ng-show="mode == 'write' && step12Frm.disease.$error.required">Este Campo es Requerido.</span>
        </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <!-- Submit button -->
    <div class="row" ng-show="mode == 'write'">
      <div class="col-sm-8 text-right">
        <input ng-disabled="step12Frm.$invalid" type="submit" value="Guardar" class="btn btn-primary" ng-click="step12.save(health)" dis-btn>
      </div>
    </div>
  </form>

  <div class="row title">
    <div class="col-xs-12">
      Familiares con alguna discapacidad o enfermedad
    </div>
  </div>
  <div class="row form-group">
    <div class="col-sm-3">
      <strong> familiar(es) con discapacidad o enfermedad</strong>
    </div>
    <div class="col-sm-5">
      lista de familiares :
      <p ng-repeat="fam in health.familiar_disease">
        <span class="pull-right">
          <remconfirm binding-action="step12.remFam(fam)" msg="¿Esta Seguro?"></remconfirm>
        </span>
        <strong>{{step12.infoFam(fam)  | uppercase}}</strong> <br>
        <strong>Enfermedad:</strong> {{fam.disease}}
        <!-- {{fam.father_name || 'No asgignado'}} {{fam.mother_name}}, {{fam.first_name}} -->
        <br>
      </p>
    </div>
    <div class="col-sm-4">
    </div>
  </div>
  <div class="row form-group">
    <div class="col-sm-3">
      <label for="familiar_disease_list">
        Agregar familiar con discapacidad o enfermedad
      </label>
    </div>
    <div class="col-sm-5">
      <form name="addFamDisFrm">
        <!-- Lista -->
        <label for="familiar_add">Familiar</label>
        <select class="form-control" name="familiar_add" ng-model="familiar_add.person_id" required>
          <option ng-repeat="fam in familiars" value="{{fam.person_id}}">{{fam.father_name || 'No asgignado'}} {{fam.mother_name}}, {{fam.first_name}}</option>
        </select>
        <label for="familiar_add">Enfermedad o discapacidad:</label>
        <input type="text" name="disease_add" class="form-control" ng-model="familiar_add.disease" required>
        <div class="text-right">
          <br>
          <button type="button" class="btn btn-primary" ng-disabled="addFamDisFrm.$invalid" ng-click="step12.addFam(familiar_add)" dis-btn>Agregar</button>
        </div>
      </form>
    </div>
    <div class="col-sm-4">
    </div>
  </div>

</div>
