<div class="cauform" ng-init="step1.init()">
  <div class="row title">
    <span class="pull-right">
      <button class="btn btn-primary" ng-show="mode == 'read'" ng-click="mode = 'write'"> Editar</button>
      <button class="btn btn-default" ng-show="mode == 'write'" ng-click="step1.cancel()"> Cancelar</button>
    </span>
    <div class="col-sm-8">
      <span style="font-size:1.2em" ng-class="steps[0].percent=='100'?'text-success':'text-danger'">[ {{steps[0].percent}} <small style="font-size:0.6em">% </small>] </span>
      Datos de Identificación
    </div>
  </div>
  <form name="step1Frm">
    <!-- Datos Personales -->
    <div class="row form-group">
      <div class="col-sm-3">
        <label for="document">
          Documento de Identidad:
        </label>
      </div>
      <div class="col-sm-5">

          <strong ng-show="person.document_type=='DNI'">DNI</strong>
          <strong ng-show="person.document_type=='CE'">CARNÉ DE EXTRANJERÍA</strong>
          <strong ng-show="person.document_type=='CEPass'">PASAPORTE</strong>
          {{person.document_number}}
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-sm-3">
        <label for="father_name">
          Apellido Paterno:
        </label>
      </div>
      <div class="col-sm-5">
          <strong>{{person.fathers_last_name | uppercase}}</strong>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-sm-3">
        <label for="mother_name">
          Apellido Materno:
        </label>
      </div>
      <div class="col-sm-5">
        <strong>{{person.mothers_last_name | uppercase}}</strong>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-sm-3">
        <label for="first_name">
          Nombres:
        </label>
      </div>
      <div class="col-sm-5">
        <strong>{{person.first_name | uppercase}}</strong>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <!-- datos de nacimiento -->
    <div class="row form-group">
      <div class="col-sm-3">
        <label for="birth_date">
          Fecha de Nacimiento:
        </label>
      </div>
      <div class="col-sm-5">
        <strong>{{person.birthdate | date:'dd/MM/yyyy'}}</strong>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <!-- Datos Civiles -->
    <div class="row form-group">
      <div class="col-sm-3">
        <label for="other">
          <span ng-show="mode == 'write'" class="text-danger">(*)</span>
          Género:
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong ng-show="person.gender=='1'">Masculino</strong>
          <strong ng-show="person.gender=='0'">Femenino</strong>
        </div>
        <div ng-show="mode == 'write'">
          <select name="gender" ng-model="person.gender" class="form-control" required>
            <option value="1"><i class="fa fa-mars"></i> Masculino</option>
            <option value="0"><i class="fa fa-venus"></i> Femenino</option>
          </select>
          <span class="text-danger" ng-show="mode == 'write' && step1Frm.gender.$error.required">Este Campo es Requerido.</span>
        </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-sm-3">
        <label for="other">
          <span ng-show="mode == 'write'" class="text-danger">(*)</span>
          Estado civil:
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'">
          <strong ng-show="person.marital_status == 'S'">Soltero</strong>
          <strong ng-show="person.marital_status == 'C'">Casado</strong>
          <strong ng-show="person.marital_status == 'D'">Divorciado</strong>
          <strong ng-show="person.marital_status == 'V'">Viudo</strong>
          <strong ng-show="person.marital_status == 'E'">Separado</strong>
          <strong ng-show="person.marital_status == 'O'">Conviviente</strong>
        </div>
        <div ng-show="mode == 'write'">
          <select name="marital_status" ng-model="person.marital_status" class="form-control" required>
            <option value="S">Soltero</option>
            <option value="C">Casado</option>
            <option value="D">Divorciado</option>
            <option value="V">Viudo</option>
            <option value="E">Separado</option>
            <option value="O">Conviviente</option>
          </select>
          <span class="text-danger" ng-show="mode == 'write' && step1Frm.marital_status.$error.required">Este Campo es Requerido.</span>
        </div>
      </div>
      <div class="col-sm-4">

      </div>
    </div>
    <!-- lugar de nacimiento -->
    <!-- Ubigeo de origen -->
    <div class="row title">
      <div class="col-xs-12 text-center">
        <strong>Lugar de Nacimiento</strong>
      </div>
    </div>
    <div class="row form-group" ng-if="profile.modality != 'PGR' ">
      <div class="col-sm-3">
        <label for="birth_country">
          <span ng-show="mode == 'write'" class="text-danger">(*)</span>
          País:
        </label>
      </div>
      <div class="col-sm-5">
        <div ng-show="mode == 'read'" ng-if="person.country">
          <strong ng-repeat="country in countries | filter:{id:person.country}:true">{{country.nombre}}</strong>
        </div>
        <div ng-show="mode == 'write'">
          <select ng-show="mode == 'write'"
                  class="form-control"
                  name="country"
                  ng-model="person.country"
                  cd-show-help
                  required>
            <option value="170"> PE-Perú </option>
            <option ng-repeat="country in countries"
                    ng-selected="country.id == step2Frm.country"
                    value="{{country.id}}"> {{country.codigo}}-{{country.nombre}}</option>
          </select>
          <span class="text-danger" ng-show="mode == 'write' && step2Frm.country.$error.required">Este Campo es Requerido.</span>
        </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <div class="row form-group" ng-if="person.country == '170'">
      <div class="col-sm-3">
        <label for="origin_departamento">
          <span ng-show="mode == 'write'" class="text-danger">(*)</span>
          Departamento: {{step2Frm.ubigeo}}
        </label>
      </div>
      <div class="col-sm-5">
        <cd-ubigeo-departamento
          ubigeo="person.ubigeo"
          mode="mode"
          name="origin_departamento"
          cd-show-help
          required>
        </cd-ubigeo-departamento>
        <span class="text-danger" ng-show="mode == 'write' && step2Frm.origin_departamento.$error.required">Este Campo es Requerido.</span>      </div>
      <div class="col-sm-4">
        <div class="help-message hidden" name="origin_departamento">
          <div class="help-message-arrow"></div>
          <div class="help-message-content">
            Departamento: <br>
            No olvides que debes escribir tu <strong>apellido paterno</strong> tal como
            esta escrito en tu <strong>DNI</strong>
          </div>
        </div>
      </div>
    </div>
    <div class="row form-group" ng-if="person.country == '170'">
      <div class="col-sm-3">
        <label for="origin_provincia">
          <span ng-show="mode == 'write'" class="text-danger">(*)</span>
          Provincia:
        </label>
      </div>
      <div class="col-sm-5">
        <cd-ubigeo-provincia
            ubigeo="person.ubigeo"
            mode="mode"
            name="origin_provincia"
            required>
        </cd-ubigeo-provincia>
        <span class="text-danger" ng-show="mode == 'write' && step2Frm.origin_provincia.$error.required">Este Campo es Requerido.</span>      </div>
      <div class="col-sm-4">
        <div class="help-message hidden" name="origin_provincia">
          <div class="help-message-arrow"></div>
          <div class="help-message-content">
            Departamento: <br>
            No olvides que debes escribir tu <strong>apellido paterno</strong> tal como
            esta escrito en tu <strong>DNI</strong>
          </div>
        </div>
      </div>
    </div>
    <div class="row form-group" ng-if="person.country == '170'">
      <div class="col-sm-3">
        <label for="origin_distrito">
          <span ng-show="mode == 'write'" class="text-danger">(*)</span>
          Distrito:
        </label>
      </div>
      <div class="col-sm-5">
        <cd-ubigeo-distrito
            ubigeo="person.ubigeo"
            mode="mode"
            name="origin_distrito"
            required>
        </cd-ubigeo-distrito>
        <span class="text-danger" ng-show="mode == 'write' && step2Frm.origin_distrito.$error.required">Este Campo es Requerido.</span>      </div>
      <div class="col-sm-4">
        <div class="help-message hidden" name="origin_distrito">
          <div class="help-message-arrow"></div>
          <div class="help-message-content">
            Departamento: <br>
            No olvides que debes escribir tu <strong>apellido paterno</strong> tal como
            esta escrito en tu <strong>DNI</strong>
          </div>
        </div>
      </div>
    </div>
    <!-- Submit button -->
    <div class="row" ng-show="mode == 'write'">
      <div class="col-sm-8 text-right">
        <input ng-disabled="step1Frm.$invalid" type="submit" value="Guardar" class="btn btn-primary" ng-click="step1.save(person)" dis-btn>
      </div>
    </div>
  </form>
</div>
