<div class="row">
  <div class="col-md-12" *ngIf="loading && !processing">
    <loading [text]="'Cargando categorías de incidentes . . .'"></loading>
  </div>

  <div class="col-xs-12"
       *ngIf="registerPrincipalCategory || registerSecondaryCategory || updatePrincipalCategory || updateSecondaryCategory">
    <div class="box box-info" *ngIf="incidentCategory !== undefined && incidentCategory !== null">
      <div class="box-header with-border">
        <h3 class="box-title" *ngIf="!incidentCategory.edit">Registro de nueva categoría de incidente</h3>
        <h3 class="box-title" *ngIf="incidentCategory.edit">Actualización de categoría de incidente</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <form class="form-horizontal" #incidentCategoryForm="ngForm">
          <div class="form-group">
            <label for="name" class="col-sm-2 control-label">Nombre</label>
            <div class="col-sm-10 col-md-7">
              <input type="text" class="form-control" id="name" name="name" required="required"
                     placeholder="Nombre" [(ngModel)]="incidentCategory.name" #nombre="ngModel">
            </div>
          </div>
          <div class="form-group" *ngIf="registerSecondaryCategory || updateSecondaryCategory">
            <label for="parentCategory" class="col-sm-2 control-label">Categoría principal</label>
            <div class="col-sm-10 col-md-7">
              <select class="form-control" [(ngModel)]="incidentCategory.parentId"
                      id="parentCategory" name="parentCategory" [disabled]="!principalCategories.length || processing">
                <option *ngFor="let category of principalCategories" value="{{ category.id }}">
                  {{ getParentCategoryInfo(category.id).name }}
                </option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="description" class="col-sm-2 control-label">Descripción</label>
            <div class="col-sm-10 col-md-7">
              <textarea name="description" id="description" rows="3" required="required" class="form-control"
                        minlength="6" maxlength="300" placeholder="Descripción"
                        [(ngModel)]="incidentCategory.description" #descripcion="ngModel"></textarea>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-info" [disabled]="!incidentCategoryForm.valid"
                      (click)="save(incidentCategory)" *ngIf="!incidentCategory.edit">
                <i class="fa fa-save"></i> Guardar
              </button>
              <button type="submit" class="btn btn-info" [disabled]="!incidentCategoryForm.valid"
                      (click)="update(incidentCategory)" *ngIf="incidentCategory.edit">
                <i class="fa fa-save"></i> Actualizar
              </button>
              <button type="submit" class="btn btn-default" (click)="cancel(incidentCategory)">
                <i class="fa fa-trash"></i> Cancelar
              </button>
            </div>
          </div>
        </form>
      </div>
      <!-- /.box-body -->
      <div class="overlay" *ngIf="processing">
        <i class="fa fa-refresh fa-spin"></i>
      </div>
      <!-- end loading -->
    </div>
    <!-- /.box -->
  </div>

  <div class="col-xs-12" *ngIf="!loading">
    <div class="nav-tabs-custom">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#categoria-0" data-toggle="tab">Categoría principal</a></li>
        <li><a href="#categoria-1" data-toggle="tab">Categoría secundaria</a></li>
      </ul>
      <div class="tab-content">
        <!-- category-0 -->
        <div class="tab-pane active" id="categoria-0">
          <section id="cat-0">
            <h4 class="page-header">Lista de categorías principales
              <div class="box-tools pull-right">
                <div class="has-feedback" [hidden]="true">
                  <input type="text" class="form-control input-sm" placeholder="Buscar" [(ngModel)]="filter">
                  <span class="fa fa-search form-control-feedback"></span>
                </div>
                <div class="has-feedback">
                  <button type="button" class="btn btn-default btn-sm" (click)="registerMode(0)"
                          *ngIf="!registerPrincipalCategory">
                    <i class="fa fa-plus"></i> nuevo
                  </button>
                  <button type="button" class="btn btn-default btn-sm" (click)="close()"
                          *ngIf="registerPrincipalCategory">
                    <i class="fa fa-times"></i> cancelar
                  </button>
                </div>
              </div>
            </h4>
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <thead>
                <tr>
                  <th></th>
                  <th>Nombre</th>
                  <th>Descripción</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngIf="principalCategories.length === 0">
                  <td colspan="4" class="bg-warning text-center">
                    No se encontraron categorías de incidentes registrados.
                  </td>
                </tr>
                <tr *ngFor="let category of principalCategories" [ngClass]="{'warning': category.edit}">
                  <td></td>
                  <td>{{ category.name }}</td>
                  <td>{{ category.description }}</td>
                  <td>
                    <button type="button" class="btn btn-primary btn-xs" (click)="updateMode(0, category)">
                      <i class="fa fa-pencil"></i>
                    </button>
                    <button type="button" class="btn btn-warning btn-xs" *ngIf="category.edit"
                            (click)="cancel(category)">
                      <i class="fa fa-times"></i>
                    </button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </section>
        </div>
        <!-- /#category-0 -->

        <!-- category-1-->
        <div class="tab-pane" id="categoria-1">
          <section id="cat-1">
            <h4 class="page-header">Lista de categorías secundarias
              <div class="box-tools pull-right">
                <div class="has-feedback" [hidden]="true">
                  <input type="text" class="form-control input-sm" placeholder="Buscar" [(ngModel)]="filter">
                  <span class="fa fa-search form-control-feedback"></span>
                </div>
                <div class="has-feedback">
                  <button type="button" class="btn btn-default btn-sm" (click)="registerMode(1)"
                          *ngIf="!registerSecondaryCategory">
                    <i class="fa fa-plus"></i> nuevo
                  </button>
                  <button type="button" class="btn btn-default btn-sm" (click)="close()"
                          *ngIf="registerSecondaryCategory">
                    <i class="fa fa-times"></i> cancelar
                  </button>
                </div>
              </div>
            </h4>
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <thead>
                <tr>
                  <th></th>
                  <th>Nombre</th>
                  <th>Descripción</th>
                  <th>Categoría principal</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngIf="secondaryCategories.length === 0">
                  <td colspan="5" class="bg-warning text-center">
                    No se encontraron categorías de incidentes registrados.
                  </td>
                </tr>
                <tr *ngFor="let category of secondaryCategories" [ngClass]="{'warning': category.edit}">
                  <td></td>
                  <td>{{ category.name }}</td>
                  <td>{{ category.description }}</td>
                  <td>{{ getParentCategoryInfo(category.parentId).name }}</td>
                  <td>
                    <button type="button" class="btn btn-primary btn-xs" (click)="updateMode(1, category)">
                      <i class="fa fa-pencil"></i>
                    </button>
                    <button type="button" class="btn btn-warning btn-xs" *ngIf="category.edit"
                            (click)="cancel(category)">
                      <i class="fa fa-times"></i>
                    </button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </section>
        </div>
        <!-- /#category-1 -->

      </div>
      <!-- /.tab-content -->
    </div>
    <!-- /.nav-tabs-custom -->
  </div>
  <!-- /.col -->
</div>
<!-- /.row -->
