<div class="table-responsive">


  <table class="table ui-headers-table table-bordered font-x-xs table-equal">
    <thead>
      <tr>
        <th class="text-center col-sm-1">#</th>
        <th class="text-center col-sm-3">Nombre de Asignatura</th>
        <th class="text-center col-sm-1">Tipo</th>
        <th class="text-center col-sm-1">Cred</th>
        <th class="text-center hidden ui-show-nota">Nota</th>
        <th class="text-center bg-info"><span class="text-primary glyphicon glyphicon-log-in"></span></th>
        <th class="text-center col-sm-1">#</th>
        <th class="text-center col-sm-3">Nombre de Asignatura</th>
        <th class="text-center col-sm-1">Tipo</th>
        <th class="text-center col-sm-1">Cred</th>
        <th class="text-center"><br></th>
      </tr>
    </thead>
    <tbody class="scrollContent" ng-repeat="ciclo in ciclos">
      {{#each tabla_equivalencias}}
        <tr class="ciclo-{{@@key}}" data-type="header">
          <th class="text-center" colspan="12">
            <span class="header-{{@@key}}">{{@@key}} Ciclo</span>
          </th>
        </tr>
        {{#each this}}
          {{#each this._equivalencias}}
            {{#if @@first}}
              <tr
                {{#compare this.nota_int 'SN'}}
                  class="ciclo-{{@@key}}"
                  data-collection="cursos"
                  {{#if this.asignaturaEqui_id}}
                    data-action="matricular"
                  {{else}}
                  {{/if}}
                  data-id-asignatura="{{this.asignaturaEqui_id}}"
                  data-id-asignaturaEqui="{{this.asignatura_id}}"
                  {{#compare this.escuela_asignatura_id "D01" }}
                    data-tipo="actividad"
                  {{/compare}}
                {{else}}
                  class="ciclo-{{@@key}}"
                  data-collection="cursos"
                  data-action="validados"
                  data-id-asignatura="{{this.asignatura_id}}"
                  data-id-asignaturaEqui="{{this.asignaturaEqui_id}}"
                {{/compare}}
              >
                <td>{{this.asignatura_id}}</td>
                <td class="text-capitalize">{{this.asignatura_id_str}}</td>
                <td>{{this.tipo_str}}</td>
                <td>
                  {{#compare this.nCreditos_int 0}}
                    <br>
                  {{else}}
                    {{this.nCreditos_int}}
                  {{/compare}}
                </td>
                <td class="text-center text-info hidden ui-show-nota">
                  {{#compare this.nota_int "SN"}}
                    <br>
                  {{else}}
                    <strong>
                      {{this.nota_int}}
                    </strong>
                  {{/compare}}
                </td>
                <td class="borderless bg-info" style="vertical-align:middle;" rowspan="{{../rowspan}}">
                  {{#if this.asignatura_id}}
                    {{#if this.asignaturaEqui_id}}
                      <span class="glyphicon text-primary glyphicon-arrow-right"></span>
                    {{else}}
                      <br>
                    {{/if}}
                  {{else}}
                    {{#if this.asignaturaEqui_id}}
                      <br>
                    {{else}}
                      <br>
                    {{/if}}
                  {{/if}}
                </td>
                <td class="text-center" style="vertical-align:middle;" rowspan="{{../rowspan}}">
                  {{this.asignaturaEqui_id}}
                </td>
                <td class="text-justify" style="vertical-align:middle;" rowspan="{{../rowspan}}">
                  {{this.asignaturaEqui_id_str}}
                </td>
                <td class="text-center" style="vertical-align:middle;" rowspan="{{../rowspan}}">
                  {{this.tipoEqui_str}}
                </td>
                <td class="text-center" style="vertical-align:middle;" rowspan="{{../rowspan}}">
                  {{#compare this.ncreditosEqui_int 0}}
                    <br>
                  {{else}}
                    {{this.ncreditosEqui_int}}
                  {{/compare}}
                </td>
                {{#if this.asignaturaEqui_id}}
                  <td class="text-center" style="vertical-align: text-middle;" rowspan="{{../rowspan}}">
                    <input
                      type="checkbox"
                      class="hidden ui-select-asignatura-a-validar"
                      name="cursos-a-validar[]"
                      {{#compare this.nota_int "SN"}}
                        {{#if this.asignaturaEqui_id}}
                          data-label="{{this.asignaturaEqui_id_str}}"
                          data-action="matricular"
                          data-plan="{{planEstudioEqui_id}}"
                          data-creditos="{{this.ncreditosEqui_int}}"
                          data-tipo="{{this.tipoEqui_str}}"
                          title="Matricular {{this.asignaturaEqui_id}} | {{this.asignaturaEqui_id_str}}"
                          value="{{this.asignaturaEqui_id}}"
                        {{/if}}
                      {{else}}
                        {{#if this.asignaturaEqui_id}}
                          data-label="{{this.asignaturaEqui_id_str}}"
                          data-history="{{this.asignaturaEqui_id}}"
                          data-equivalente="{{this.asignatura_id}}"
                          data-creditos="{{this.ncreditos}}"
                          data-tipo="{{this.tipoEqui_str}}"
                          data-plan="{{planEstudio_id}}"
                          title="Validar {{this.asignaturaEqui_id}} | {{this.asignaturaEqui_id_str}}"
                          value="{{this.asignaturaEqui_id}}"
                          data-action="validados"
                        {{else}}
                          data-label="{{this.asignatura_id_str}}"
                          data-history="{{this.asignatura_id}}"
                          data-equivalente="{{this.asignaturaEqui_id}}"
                          data-creditos="{{this.ncreditos}}"
                          data-tipo="{{this.tipo_str}}"
                          data-plan="{{planEstudio_id}}"
                          title="Validar {{this.asignatura_id}} | {{this.asignatura_id_str}}"
                          value="{{this.asignatura_id}}"
                        {{/if}}
                      {{/compare}}
                      data-escuela-asignatura-id="{{this.escuela_asignatura_id}}"
                    checked/>
                  </td>
                {{else}}
                  <td class="text-center" rowspan="">
                    <input
                      type="checkbox"
                      class="ui-select-asignatura-a-validar"
                      name="cursos-a-validar[]"
                      {{#compare this.nota_int "SN"}}
                        {{#if this.asignaturaEqui_id}}
                          data-label="{{this.asignaturaEqui_id_str}}"
                          data-action="matricular"
                          data-plan="{{planEstudioEqui_id}}"
                          data-creditos="{{this.ncreditosEqui_int}}"
                          data-tipo="{{this.tipoEqui_str}}"
                          title="Matricular {{this.asignaturaEqui_id}} | {{this.asignaturaEqui_id_str}}"
                          value="{{this.asignaturaEqui_id}}"
                        {{/if}}
                      {{else}}
                        {{#if this.asignatura_id}}
                          data-label="{{this.asignaturaEqui_id_str}}"
                          data-history="{{this.asignaturaEqui_id}}"
                          data-equivalente="{{this.asignatura_id}}"
                          data-creditos="{{this.ncreditosEqui_int}}"
                          data-tipo="{{this.tipoEqui_str}}"
                          data-plan="{{planEstudio_id}}"
                          title="Validar {{this.asignaturaEqui_id}} | {{this.asignaturaEqui_id_str}}"
                          value="{{this.asignaturaEqui_id}}"
                          data-action="validados"
                        {{else}}
                          data-label="{{this.asignatura_id_str}}"
                          data-history="{{this.asignatura_id}}"
                          data-equivalente="{{this.asignaturaEqui_id}}"
                          data-creditos="{{this.nCreditos_int}}"
                          data-tipo="{{this.tipo_str}}"
                          data-plan="{{planEstudio_id}}"
                          title="Validar {{this.asignatura_id}} | {{this.asignatura_id_str}}"
                          value="{{this.asignatura_id}}"
                        {{/if}}
                      {{/compare}}
                      data-escuela-asignatura-id="{{this.escuela_asignatura_id}}"
                    checked/>
                  </td>
                {{/if}}
              </tr>
            {{else}}
              <tr
                {{#compare this.nota_int 'SN'}}
                  class="ciclo-{{@@key}}"
                  data-collection="cursos"
                  {{#if this.asignaturaEqui_id}}
                    data-action="matricular"
                  {{else}}
                  {{/if}}
                  data-id-asignatura="{{this.asignaturaEqui_id}}"
                  data-id-asignaturaEqui="{{this.asignatura_id}}"
                  {{#compare this.escuela_asignatura_id "D01" }}
                    data-tipo="actividad"
                  {{/compare}}
                {{else}}
                  class="ciclo-{{@@key}}"
                  data-collection="cursos"
                  data-action="validados"
                  data-id-asignatura="{{this.asignatura_id}}"
                  data-id-asignaturaEqui="{{this.asignaturaEqui_id}}"
                {{/compare}}
              >
                <td>{{this.asignatura_id}}</td>
                <td>{{this.asignatura_id_str}}</td>
                <td>{{this.tipo_str}}</td>
                <td>
                  {{#compare this.nCreditos_int 0}}
                    <br>
                  {{else}}
                    {{this.nCreditos_int}}
                  {{/compare}}
                </td>
                <td class="text-center text-info hidden ui-show-nota">
                  {{#compare this.nota_int "SN"}}
                    <br>
                  {{else}}
                    <strong>
                      {{this.nota_int}}
                    </strong>
                  {{/compare}}
                </td>
              </tr>
            {{/if}}
          {{/each}}
        {{/each}}
      {{/each}}
    </tbody>
  </table>
</div>
