﻿<div class="panel" ng-init="init()">
  <header class="panel-heading">
    Simulación de Validación de Asignatura.
  </header>
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-12">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Código de alumno" ng-model="code">
          <span class="input-group-btn">
            <button class="btn btn-primary" type="button" ng-click="searchStudent(code)">
              <i class="fa fa-search"></i> Buscar.
            </button>
          </span>
        </div><!-- /input-group -->
      </div>
      <div class="clearfix">
      </div>
      <hr>
    </div>
    <div class="row" ng-show="alumno">
      <di class="col-sm-12">
        <span class="pull-right">
          <a href="{{url_base}}backoffice/convalidaciones/simular/{{alumno.id}}" class="btn btn-primary"> ver simulación</a>
        </span>
        {{alumno.get_fullname_str}} (<strong> {{alumno.id}}</strong>)
      </di>
    </div>

    <!-- TABS
    <div class="row">
      <div class="col-md-2 col-sm-3 col-xs-4">
        <ul class="list-group">
          <li class="list-group-item active" ng-repeat-start="profile in profiles">
            <strong> Perfil del Estudiante.</strong>
          </li>
          <li class="list-group-item">
            <strong> Plan:</strong> <br> {{profile.study_plan.id}}
            <br> {{profile.study_plan.name}}
          </li>
          <li class="list-group-item">
            <strong> Facultad:</strong> <br> {{profile.academic_school.id}}  ({{profile.academic_school.faculty_id}})
          </li>
          <li class="list-group-item">
            <strong> Codigo: {{sumCredits(academic_progress)}}</strong> <br>
          </li>
          <li class="list-group-item" ng-repeat-end>
            <strong> Codigo:</strong> <br>
            <br>
          </li>
        </ul>
      </div>
      <div class="col-md-10 col-sm-9">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Tabla de Validación </a></li>
          <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Validacion de asignaturas</a></li>
          <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Exportar</a></li>
        </ul>
      --><!-- Tab panes --><!--
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="home">
            <div class="table-responsive">
              <table class="table table-bordered font-x-xs table-equal">
                <thead>
                  <tr>
                    <th># </th>
                    <th>Nombre de Asignatura </th>
                    <th>Tipo </th>
                    <th>Cred </th>
                    <th class="bg-info"> <span class="glyphicon text-primary glyphicon-arrow-right"></span> </th>
                    <th># </th>
                    <th>Nombre de Asignatura </th>
                    <th>Tipo </th>
                    <th>Cred </th>
                    <th> N </th>
                  </tr>
                </thead>
                <tbody ng-repeat="ciclo in ciclos">
                  <tr>
                    <th colspan="10" class="text-center"> {{ciclo}} Ciclo</th>
                  </tr>
                  <tr ng-repeat="table in equivalency_table | filter:{cicloEqui_int:ciclo}:true"
                      ng-show="table.asignaturaEqui_id">
                    <td>{{table.asignatura_id}}</td>
                    <td>{{table.asignatura_id_str}}</td>
                    <td>{{table.tipoEqui_str}} </td>
                    <td>{{table.ncreditosEqui_int}} </td>
                    <td class="bg-info"> <span class="glyphicon text-primary glyphicon-arrow-right"></span> </td>
                    <td>{{table.asignaturaEqui_id}} </td>
                    <td>{{table.asignaturaEqui_id_str}} </td>
                    <td>{{table.tipoEqui_str}} </td>
                    <td>{{table.ncreditosEqui_int}} </td>
                    <td> [] </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- Nav tabs --><!--

    </div>
    END TABS -->
  </div>
  <footer class="panel-footer"></footer>
</div>
