<div class="card inherit" *ngIf="dataImput">
  <div class="header bg-primary rounded-top">
    <h4 class="title">{{ (dataImput.type=='new')? 'Nuevo registro':'Edición de registro'}}:</h4>
  </div>
  <div class="body">
    <form *ngIf="dataImput && dataImput.data" (ngSubmit)="submitForm()" #dataForm="ngForm">
      <div class="row">
        <div class="form-group col-md-4">
          <label for="term">Período:</label>
          <input type="text" class="form-control" name="term" #term required [(ngModel)]="dataImput.data.term"
            (ngModelChange)="verifyChangue('term')" [disabled]="substituteExam || dataImput.type=='edit'">
        </div>
        <div class="form-group col-md-4">
          <label for="campus">Campus:</label>
          <select class="form-control" name="campus" #campus required [(ngModel)]="dataImput.data.campus_id"
            (ngModelChange)="verifyChangue('campus_id')" [disabled]="substituteExam || dataImput.type=='edit'">
            <option value="{{campus.id}}" *ngFor="let campus of campuses">{{campus.name}}</option>
          </select>
        </div>
        <div class="form-group col-md-4">
          <label for="department">Modalidad:</label>
          <select class="form-control" name="department" #department required [(ngModel)]="dataImput.data.department"
            (ngModelChange)="verifyChangue('department')" [disabled]="substituteExam || dataImput.type=='edit'">
            <option value="UREG">UC-PRESENCIAL</option>
            <option value="UPGT">UC-SEMI PRESENCIAL (GT)</option>
            <option value="UVIR">UC-SEMI PRESENCIAL (EV)</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-lg-3 col-md-6" *ngIf="!substituteExam">
          <p>Período</p>
          <div class="form-group">
            <label for="start_date">Inicio:</label>
            <p-calendar name="start_date" #start_date [locale]="es" [showIcon]="true"
              [(ngModel)]="dataImput.data.start_date" required [disabled]="substituteExam"
              (ngModelChange)="verifyChangue('start_date')"></p-calendar>
          </div>
          <div class="form-group">
            <label for="end_date">Fin:</label>
            <p-calendar name="end_date" #end_date [locale]="es" [showIcon]="true" [(ngModel)]="dataImput.data.end_date"
              required [disabled]="substituteExam" (ngModelChange)="verifyChangue('end_date')"></p-calendar>
          </div>
        </div>
        <div class="form-group col-lg-3 col-md-6" *ngIf="!substituteExam">
          <p>Clases</p>
          <div class="form-group">
            <label for="start_classes_date">Inicio:</label>
            <p-calendar name="start_classes_date" #start_classes_date [locale]="es" [showIcon]="true"
              [(ngModel)]="dataImput.data.start_classes_date" required [disabled]="substituteExam"
              (ngModelChange)="verifyChangue('start_classes_date')"></p-calendar>
          </div>
          <div class="form-group">
            <label for="end_classes_date">Fin:</label>
            <p-calendar name="end_classes_date" #end_classes_date [locale]="es" [showIcon]="true"
              [(ngModel)]="dataImput.data.end_classes_date" required [disabled]="substituteExam"
              (ngModelChange)="verifyChangue('end_classes_date')"></p-calendar>
          </div>
        </div>
        <div class="form-group col-lg-3 col-md-6" *ngIf="!substituteExam">
          <p>Matrícula</p>
          <div class="form-group">
            <label for="start_enroll_date">Inicio:</label>
            <p-calendar name="start_enroll_date" #start_enroll_date [locale]="es" [showIcon]="true"
              [(ngModel)]="dataImput.data.start_enroll_date" required [disabled]="substituteExam"
              (ngModelChange)="verifyChangue('start_enroll_date')"></p-calendar>
          </div>
          <div class="form-group">
            <label for="end_enroll_date">Fin:</label>
            <p-calendar name="end_enroll_date" #end_enroll_date [locale]="es" [showIcon]="true"
              [(ngModel)]="dataImput.data.end_enroll_date" required [disabled]="substituteExam"
              (ngModelChange)="verifyChangue('end_enroll_date')"></p-calendar>
          </div>
        </div>
        <div class="form-group col-lg-3 col-md-6">
          <p>Examen Sustitutorio</p>
          <div class="form-group">
            <label for="start_substitute_exam_date">Inicio:</label>
            <p-calendar name="start_substitute_exam_date" #start_substitute_exam_date [locale]="es" [showIcon]="true"
              [(ngModel)]="dataImput.data.start_substitute_exam_date" required [disabled]="!substituteExam"
              (ngModelChange)="verifyChangue('start_substitute_exam_date')"></p-calendar>
          </div>
          <div class="form-group">
            <label for="end_substitute_exam_date">Fin:</label>
            <p-calendar name="end_substitute_exam_date" #end_substitute_exam_date [locale]="es"
              [(ngModel)]="dataImput.data.end_substitute_exam_date" required [disabled]="!substituteExam"
              (ngModelChange)="verifyChangue('end_substitute_exam_date')"></p-calendar>
          </div>
        </div>
      </div>
      <div class="p text-right">
        <button class="btn bg-primary" [disabled]="!dataForm.form.valid || !change && dataImput.state!='error'">
          <i class="fa fa-save"></i> {{(dataImput.type=='new')? 'Guardar':'Actualizar'}}
        </button>
        <button class="btn bg-danger"
          (click)="eventForm({view: !dataImput.view, type: dataImput.type, data: backupPeriod, state: 'canceled'})">
          <i class="fa fa-close"></i> Cancelar
        </button>
      </div>
    </form>
  </div>
</div>