<div class="card card-primary">
  <div class="header">
    <h3 class="title" id="top-component">Administración de fechas por períodos 
      <button *ngIf="formPeriodDate && !substituteExam"
        class="btn btn-sm bg-primary"
        (click)="changeViewFormDate({view: true, type: 'new', data: {}, state: 'pending'}, -1)"><i class="fa fa-plus"></i> Nuevo</button></h3>
  </div>
  <div class="body">
    <loading *ngIf="loading"></loading>

    <form-period-date *ngIf="formPeriodDate && formPeriodDate.view"
      [dataImput]="formPeriodDate" [campuses]="campuses" [substituteExam]="substituteExam"
      (dataOutput)="updateDataReturn($event)"></form-period-date>

    <div *ngIf="!loading" class="card p">
      <div class="form-group col-md-4">
        <label for="departmentSelected">Modalidad</label>
        <select class="form-control" name="departmentSelected" [(ngModel)]="departmentSelected">
          <option value="">Todos</option>
          <option value="UREG">UC-PRESENCIAL</option>
          <option value="UPGT">UC-SEMI PRESENCIAL (GT)</option>
          <option value="UVIR">UC-SEMI PRESENCIAL (EV)</option>
        </select>
      </div>
      <div class="form-group col-md-4">
        <label for="campusSelected">Campus</label>
        <select class="form-control" name="campusSelected" [(ngModel)]="campusSelected">
          <option value="">Todos</option>
          <option *ngFor="let campus of campuses" value="{{campus.id}}">{{ campus.name }}</option>
        </select>
      </div>
      <div class="form-group col-md-4">
        <label for="periodSelected">Período </label>
        <select class="form-control" name="periodSelected" [(ngModel)]="periodSelected">
          <option value="">Todos</option>
          <option *ngFor="let period of periods" value="{{period}}">{{ period }}</option>
        </select>
      </div>
    </div>
    
    <div *ngIf="!loading" class="table-responsive table-material">
      <table class="table">
        <thead class="bg-primary">
          <tr>
            <th class="text-center">Modalidad</th>
            <th class="text-center">Período</th>
            <th class="text-center">Campus</th>
            <th class="text-right" *ngIf="!substituteExam">Inicio/Fin Período</th>
            <th class="text-right" *ngIf="!substituteExam">Inicio/Fin Constancias</th>
            <th class="text-right" *ngIf="!substituteExam">Inicio/Fin Matricula</th>
            <th class="text-right">Inicio/Fin Ex. Sustitutorio</th>
            <th class="text-center">Opción</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of terms; let i = index" [hidden]="!termFilter(item.department, item.campus_id, item.term)" [ngClass]="{'bg-primary-disabled text-black': (position == i)}">
            <td class="va-middle text-center">{{ item.department }}</td>
            <td class="va-middle text-center">{{ item.term }}</td>
            <td class="va-middle text-center">{{ getCampusName(item.campus_id) }}</td>
            <td class="text-right" *ngIf="!substituteExam">
              Inicio: <strong>{{ item.start_date | date: 'dd/MM/yyyy' }}</strong><br>
              Fin: <strong>{{ item.end_date | date: 'dd/MM/yyyy' }}</strong>
            </td>
            <td class="text-right" *ngIf="!substituteExam">
              Inicio: <strong>{{ item.start_classes_date | date: 'dd/MM/yyyy' }}</strong><br>
              Fin: <strong>{{ item.end_classes_date | date: 'dd/MM/yyyy' }}</strong>
            </td>
            <td class="text-right" *ngIf="!substituteExam">
              Inicio: <strong>{{ item.start_enroll_date | date: 'dd/MM/yyyy' }}</strong><br>
              Fin: <strong>{{ item.end_enroll_date | date: 'dd/MM/yyyy' }}</strong>
            </td>
            <td class="text-right">
              Inicio: 
                <strong *ngIf="item.start_substitute_exam_date == null">--/--/--</strong>
                <strong *ngIf="item.start_substitute_exam_date != null">{{ item.start_substitute_exam_date | date: 'dd/MM/yyyy' }}</strong><br>
              Fin: 
                <strong *ngIf="item.end_substitute_exam_date == null">--/--/--</strong>
                <strong *ngIf="item.end_substitute_exam_date != null">{{ item.end_substitute_exam_date | date: 'dd/MM/yyyy' }}</strong>
            </td>
            <td class="va-middle text-center">
              <button class="btn btn-sm bg-primary" *ngIf="position == -1 || position == i"
                (click)="changeViewFormDate({view: true, type: 'edit', data: item, state: 'pending'}, i)">
                <i class="fa fa-pencil"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
 
</div>
