            <header class="panel-heading">
                <strong>Resultados</strong>
                <strong class="pull-right"></strong>
            </header>
            <section class="panel-body" id="resultados">
                <div class="row">
                    <div class="col-sm-12 table-responsive">
                        <table class="table table-hover" ng-if="isConstanciaBatch && isConstAcredIdiomExtBatch">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>C&oacute;digo</th>
                                    <th>Estudiante</th>
                                    <th>Modalidad</th>
                                    <th>Ciclo</th>
                                    <th>Fecha &Uacute;ltimo Ciclo</th>
                                    <th>Estado Constancia</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="constanciaAIEBatch in constanciasAIEBatch" ng-if="existSearchResult">
                                    <td>{{ $index + 1 }}</td>
                                    <td>{{constanciaAIEBatch.IDAlumno}}</td>
                                    <td>{{constanciaAIEBatch.NomCompleto}}</td>
                                    <td>{{constanciaAIEBatch.NombreModalidad}}</td>
                                    <td>{{constanciaAIEBatch.ultimoCiclo}}</td>
                                    <td>{{constanciaAIEBatch.FechaInicioStr}}</td>
                                    <td>
                                        <a ng-if="constanciaAIEBatch.CC==0" class="btn btn-warning btn-xs hand">
                                            <i class="fa fa-exclamation-triangle"></i>
                                            Pendiente de Pago
                                        </a>
                                        <a ng-if="constanciaAIEBatch.CC==1" class="btn btn-success btn-xs hand" ng-click="procesarConstanciaIndividualBatch(constanciaAIEBatch)" title="Generar Constancia">
                                            <i class="fa fa-check"></i>
                                            Disponible
                                        </a>
                                        <a ng-if="constanciaAIEBatch.viewBotones && constanciaAIEBatch.CC==1 && constanciaAIEBatch.rutaArchivo!=null" ng-href="{{constanciaAIEBatch.rutaArchivo}}" class="btn btn-info btn-xs hand" title="Ver" target="_blank">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                        <a
                                            ng-if="constanciaAIEBatch.viewBotones && constanciaAIEBatch.CC==1 && constanciaAIEBatch.rutaArchivo!=null"
                                            ng-href="{{constanciaAIEBatch.rutaArchivo}}"
                                            class="btn btn-primary btn-xs hand"
                                            title="Descargar"
                                            target="_blank"
                                            download="constancia-acreditacion-idioma-extranjero-{{constanciaAIEBatch.IDAlumno}}.pdf">
                                            <i class="fa fa-download"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr ng-if="!existSearchResult">
                                    <td colspan="7" class="text-center danger text-danger">
                                        <strong>{{msgError}}</strong>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
