            <header class="panel-heading">
                <strong>Resultados</strong>
                <strong class="pull-right">
                    <small ng-if="isConstancia && isConstAcredIdiomExt" ng-repeat="constanciaAIE in constanciasAIET | limitTo:1">
                        Periodo Egreso:
                        {{constanciaAIE.periodoEgresoAlumno}}
                        - Idioma:
                        {{constanciaAIE.NomEsc}}
                    </small>
                </strong>
            </header>
            <section class="panel-body" id="resultados">
                <div class="row">
                    <div class="col-sm-12 table-responsive">
                        <table class="table table-hover" ng-if="isConstancia && isConstanciaMatricula">
                            <thead>
                                <tr>
                                  <th>#</th>
                                  <th>C&oacute;digo</th>
                                  <th>Estudiante</th>
                                  <th>Modalidad</th>
                                  <th>Ciclo</th>
                                </tr>
                            </thead>
                            <tbody>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="7" class="text-left">
                                        <a class="btn btn-info btn-block hand" ng-click="cargarMas()">Cargar M&aacute;s</a>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                        <table class="table table-hover" ng-if="isConstancia && isConstAcredIdiomExt">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>C&oacute;digo</th>
                                    <th>Estudiante</th>
                                    <th>Modalidad</th>
                                    <th>Ciclo</th>
                                    <th>Fecha &Uacute;ltimo Ciclo</th>
                                    <th>Estado Constancia</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="constanciaAIE in constanciasAIET | limitTo:showLimit" ng-if="existSearchResult">
                                    <td>{{ $index + 1 }}</td>
                                    <td>{{constanciaAIE.IDAlumno}}</td>
                                    <td>{{constanciaAIE.NomCompleto}}</td>
                                    <td>{{constanciaAIE.NombreModalidad}}</td>
                                    <td>{{constanciaAIE.ultimoCiclo}}</td>
                                    <td>{{constanciaAIE.FechaInicioStr}}</td>
                                    <td>
                                        <a ng-if="constanciaAIE.CC==0" class="btn btn-warning btn-xs hand">
                                            <i class="fa fa-exclamation-triangle"></i>
                                            Pendiente de Pago
                                        </a>
                                        <a ng-if="constanciaAIE.CC==1" class="btn btn-success btn-xs hand" ng-click="procesarConstanciaIndividual(constanciaAIE)" title="Generar Constancia">
                                            <i class="fa fa-check"></i>
                                            Disponible
                                        </a>
                                        <a ng-if="constanciaAIE.viewBotones && constanciaAIE.CC==1 && constanciaAIE.rutaArchivo!=null" ng-href="{{constanciaAIE.rutaArchivo}}" class="btn btn-info btn-xs hand" title="Ver" target="_blank">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                        <a
                                            ng-if="constanciaAIE.viewBotones && constanciaAIE.CC==1 && constanciaAIE.rutaArchivo!=null"
                                            ng-href="{{constanciaAIE.rutaArchivo}}"
                                            class="btn btn-primary btn-xs hand"
                                            title="Descargar"
                                            target="_blank"
                                            download="constancia-acreditacion-idioma-extranjero-{{constanciaAIE.IDAlumno}}.pdf">
                                            <i class="fa fa-download"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr ng-if="!existSearchResult">
                                    <td colspan="7" class="text-center danger text-danger">
                                        <strong>{{msgError}}</strong>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot ng-if="existSearchResult && isConstAcredIdiomExt && showMoreButton">
                                <tr>
                                    <td colspan="7" class="text-left">
                                        <a class="btn btn-info btn-block hand" ng-click="cargarMas()">Cargar M&aacute;s</a>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </section>
            <footer class="panel-footer" ng-if="existSearchResult">
                <label>
                    <small class="text-muted">Se cargaron
                        {{showLimit}}
                        registros de un total de
                        {{nResultadosT}}</small>
                </label>
            </footer>
