<div>
    <section *ngIf="!show" class="box box-warning">
      <header class="box-header with-border">
        <i class="fa fa-info-circle"></i>
        <h3 class="box-title">Mensaje</h3>
      </header>
      <article class="box-body">
        <div class="callout callout-warning">
          <h4>{{ noDataMsg || 'No se encontró ningún registro para este período académico'}}</h4>
        </div>
      </article>
    </section>
    <section *ngIf="show" class="box box-primary">
      <header class="box-header with-border">
        <i class="fa fa-file-text"></i>
        <h3 class="box-title">{{ title || 'Horario de asignaturas' }}</h3>
      </header>
      <article class="box-body" *ngIf="loading">
        <loading></loading>
      </article> 
      <article class="box-body" *ngIf="!loading">
        <div class="content-schedule loading">
          <div class="timeline-schedule">
            <ul class="hours">
              <li *ngFor="let hour of arrayHours"><span>{{hour}}</span></li>
            </ul>
          </div>
          <div class="week">
            <ul class="weekdays">
              <li class="weekday" *ngFor="let item of schedule">
                <div class="name-day bg-green"><span>{{item.day}}</span></div>
                <ul class="courses" *ngIf="item.courses.length != 0" [ngStyle]="{'height': heightDay}">
                  <li class="course" *ngFor="let course of item.courses"
                    [ngStyle]="{'height': course.height, 'top': course.top}">
                    <p [attr.data-toggle]="'tooltip'" [attr.data-placement]="'top'"
                        [attr.data-original-title]="course.name+' - '+course.classroom+' - '+course.teacher+'-'+course.module">
                      <span class="course-times">{{course.start}} - {{course.end}}</span>
                      <span class="course-times">Aula - {{course.classroom}}</span>
                      <em class="course-name"><b>{{ course.name | upperCase }}</b></em>
                      <em class="course-name text-capitalize">{{ course.teacher | titleCase }}</em>
                    </p>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </article>
    </section>
  </div>
  