<div *ngIf="profile != null && requirements != null">
  <div class="card card-primary">
    <div class="header">
      <h3 class="title">
        <i class="fa fa-institution"></i> <abbr title="Escuela académico profesional">EAP</abbr>:
        {{profile.program.name || ''}}
      </h3>
    </div>
    <div class="body text-center p-0 pt">
      <div class="col-md-4">
        <div class="card">
          <h4 class="title text-primary">{{profile.college.name | capitalizeCase}}</h4>
          <h5 class="text-secondary">Facultad</h5>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <h4 class="title text-secondary">{{config.getDepartmentName(profile.department) | capitalizeCase}}</h4>
          <h5 class="text-secondary">Modalidad</h5>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <h4 class="title text-secondary">{{profile.campus.name | titleCase}}</h4>
          <h5 class="text-secondary">Campus</h5>
        </div>
      </div>
      <div *ngIf="academicSummaryEnabled && !loadingRequirements && !displayBlock && !errorRequirements">
        <div class="col-md-4">
          <div class="card">
            <h4 class="title text-secondary">{{requirements.actualCycle}}
              / {{requirements.totalCycles}}</h4>
            <h5 class="text-secondary">Período</h5>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <h4 class="title text-secondary">{{requirements.actualCredits}}
              / {{requirements.totalCredits}}</h4>
            <h5 class="text-secondary">Créditos</h5>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <h4 class="title"
                [ngClass]="{'text-primary': (requirements.studentPga>10), 'text-red': (requirements.studentPga<=10)}">
              {{requirements.studentPga | number : '1.2-2'}}
            </h4>
            <h5 class="text-secondary">Promedio acumulado</h5>
          </div>
        </div>
      </div>
      <div *ngIf="errorRequirements">
        <p class="text-orange">{{errorMessage}} <span class="text-primary hand" (click)="showDetail(true)">Volver a intentarlo</span>
        </p>
      </div>
      <div *ngIf="academicSummaryEnabled && loadingRequirements && displayBlock" class="col-md-12">
        <loading [size]="'small'" [text]="'Consultando datos...'"></loading>
      </div>
      <div *ngIf="studentComplianceEnabled && loadingRequirements && !displayBlock" class="col-md-12 text-center">
        <p class="text-primary hand" (click)="showDetail(true)"><i class="fa fa-angle-down"></i> Ver más</p>
      </div>
      <div *ngIf="!loadingRequirements && !displayBlock && !errorRequirements" class="col-md-12 text-center">
        <p class="text-primary hand" (click)="showDetail(false)"><i class="fa fa-angle-up"></i> Ver menos</p>
      </div>
    </div>
  </div>

  <div *ngIf="!loadingRequirements && !displayBlock && !errorRequirements" class="card">
    <p-growl [(value)]="complianceMessage" [baseZIndex]="1000" [life]="15000"></p-growl>
    <div class="wizard">
      <div class="wizard-inner">
        <ul class="nav nav-tabs scrollViewX text-center" role="tablist">
          <li role="presentation" class="scrollViewItem"
              [ngClass]="{'success': config.STATE_POSTULANT <= requirements.studentState, 'active':  config.STATE_POSTULANT == requirements.studentState}">
            <a class="round-box" href="#postulant" data-toggle="tab" title="Postulante">
              <h2 class="title">Ingresante</h2>
              <div class="round-tab text-secondary">
                <i class="fc-entering fc-64"></i>
              </div>
            </a>
          </li>
          <li role="presentation" class="scrollViewItem"
              [ngClass]="{'success': config.STATE_STUDENT <= requirements.studentState, 'active':  config.STATE_STUDENT == requirements.studentState}">
            <a class="round-box" href="#student" data-toggle="tab" title="Estudiante">
              <h2 class="title">Estudiante</h2>
              <div class="round-tab text-secondary">
                <i class="fc-student fc-64"></i>
              </div>
            </a>
          </li>
          <li role="presentation" class="scrollViewItem"
              [ngClass]="{'success': config.STATE_GRADUATE <= requirements.studentState, 'active':  config.STATE_GRADUATE == requirements.studentState}">
            <a class="round-box" href="#graduated" data-toggle="tab" title="Egresado">
              <h2 class="title">Egresado</h2>
              <div class="round-tab text-secondary">
                <i class="fc-graduated fc-64"></i>
              </div>
            </a>
          </li>
          <li role="presentation" class="scrollViewItem"
              [ngClass]="{'success': config.STATE_BACHELOR <= requirements.studentState, 'active':  config.STATE_BACHELOR == requirements.studentState}">
            <a class="round-box" href="#bachelor" data-toggle="tab" title="Bachiller">
              <h2 class="title">Bachiller</h2>
              <div class="round-tab text-secondary">
                <i class="fc-bachelor fc-64"></i>
              </div>
            </a>
          </li>
          <li role="presentation" class="scrollViewItem"
              [ngClass]="{'success': config.STATE_DEGREE <= requirements.studentState, 'active':  config.STATE_DEGREE == requirements.studentState}">
            <a class="round-box" href="#Titled" data-toggle="tab" title="Titulado">
              <h2 class="title">Titulado</h2>
              <div class="round-tab text-secondary">
                <i class="fc-degree fc-64"></i>
              </div>
            </a>
          </li>
          <div class="clearfix"></div>
        </ul>
      </div>
      <div class="tab-content">
        <div class="tab-pane" role="tabpanel" id="postulant"
             [ngClass]="{'active':  config.STATE_POSTULANT == requirements.studentState}">
          <h3 class="pl">{{requirements.postulantRequirements.title}}</h3>
          <ul class="list-group list-group-unbordered"
              *ngIf="requirements.postulantRequirements != null && requirements.postulantRequirements.data.length > 0">
            <li class="list-group-item clearfix" *ngFor="let requirement of requirements.postulantRequirements.data">
              <span class="text-secondary text-bold">{{requirement.name}}</span>
              <span class="badge bg-green" *ngIf="requirement.status">Entregado</span>
              <span class="badge bg-red" *ngIf="!requirement.status">Falta</span>
            </li>
          </ul>
        </div>
        <div class="tab-pane" role="tabpanel" id="student"
             [ngClass]="{'active':  config.STATE_STUDENT == requirements.studentState}">
          <h3 class="pl">{{requirements.studentRequirements.title}}</h3>
          <ul class="list-group list-group-unbordered"
              *ngIf="requirements.studentRequirements != null && requirements.studentRequirements.data.length > 0">
            <li class="list-group-item clearfix" *ngFor="let requirement of requirements.studentRequirements.data">
              <span class="text-secondary text-bold">{{requirement.name}}</span>
              <span *ngIf="requirement.loading" class="badge">
                <i class="fa fa-spinner fa-pulse fa-fw"></i> cargando...
              </span>
              <span class="badge bg-green" *ngIf="!requirement.loading && requirement.status">Completo</span>
              <span class="badge bg-red" *ngIf="!requirement.loading&& !requirement.status">Incompleto
                <i *ngIf="requirement != null" class="fa fa-exclamation-triangle" aria-hidden="true"
                   data-toggle="tooltip" data-placement="left"
                   title="{{requirement.msg}}"></i>
              </span>
            </li>
          </ul>
        </div>
        <div class="tab-pane" role="tabpanel" id="graduated"
             [ngClass]="{'active':  config.STATE_GRADUATE == requirements.studentState}">
          <h3 class="pl">{{requirements.graduatedRequirements.title}}</h3>
          <ul class="list-group list-group-unbordered"
              *ngIf="requirements.graduatedRequirements != null && requirements.graduatedRequirements.data.length > 0">
            <li class="list-group-item clearfix" *ngFor="let requirement of requirements.graduatedRequirements.data">
              <span class="text-secondary text-bold">{{requirement.name}}</span>
              <span class="badge bg-green" *ngIf="requirement.status">Completo</span>
              <span class="badge bg-red" *ngIf="!requirement.status">Incompleto
                <i *ngIf="requirement != null" class="fa fa-exclamation-triangle" aria-hidden="true"
                   data-toggle="tooltip" data-placement="left"
                   title="{{requirement.msg}}"></i>
              </span>
            </li>
          </ul>
        </div>
        <div class="tab-pane" role="tabpanel" id="bachelor"
             [ngClass]="{'active':  config.STATE_BACHELOR == requirements.studentState}">
          <h3 class="pl">{{requirements.bachelorRequirements.title}}</h3>
          <ul class="list-group list-group-unbordered"
              *ngIf="requirements.bachelorRequirements != null && requirements.bachelorRequirements.data.length > 0">
            <li class="list-group-item clearfix" *ngFor="let requirement of requirements.bachelorRequirements.data">
              <span class="text-secondary text-bold">{{requirement.name}}</span>
              <span class="badge bg-green" *ngIf="requirement.status">Completo</span>
              <span class="badge bg-red" *ngIf="!requirement.status">Incompleto
                <i *ngIf="requirement != null" class="fa fa-exclamation-triangle" aria-hidden="true"
                   data-toggle="tooltip" data-placement="left"
                   title="{{requirement.msg}}"></i>
              </span>
            </li>
          </ul>
        </div>
        <div class="tab-pane" role="tabpanel" id="Titled"
             [ngClass]="{'active': config.STATE_DEGREE == requirements.studentState}">
          <h3 class="pl">{{requirements.titledRequirements.title}}</h3>
          <ul class="list-group list-group-unbordered"
              *ngIf="requirements.titledRequirements != null && requirements.titledRequirements.data.length > 0">
            <li class="list-group-item clearfix" *ngFor="let requirement of requirements.titledRequirements.data">
              <span class="text-secondary text-bold">{{requirement.name}}</span>
              <span class="badge bg-green" *ngIf="requirement.status">Completo</span>
              <span class="badge bg-red" *ngIf="!requirement.status">Incompleto
                <i *ngIf="requirement != null" class="fa fa-exclamation-triangle" aria-hidden="true"
                   data-toggle="tooltip" data-placement="left"
                   title="{{requirement.msg}}"></i>
              </span>
            </li>
          </ul>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div *ngIf="loadingRequirements && displayBlock" class="card">
    <loading [size]="'small'" [text]="'Consultando datos...'"></loading>
  </div>
</div>
