<div class="row">
  <div class="col-xs-12">
    <div class="alert alert-warning alert-dismissible">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4><i class="icon fa fa-warning"></i> Atención!</h4>
      Para continuar navegando por la aplicación deberás de aceptar los siguientes términos y condiciones.
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="box box-warning">
      <div class="box-header">
        <h3 class="box-title">Términos y Condiciones</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
          <tbody>
          <tr>
            <th></th>
            <th>Descripción</th>
            <th>Ruta</th>
          </tr>
          <tr *ngFor="let term of terms">
            <td></td>
            <td>{{ term.name }}</td>
            <td><a href="{{ term.url }}" target="_blank">{{ getSlice(term.url, 69) }} <i class="fa fa-external-link"></i></a></td>
          </tr>
          </tbody>
        </table>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
</div>
