<div class="row">
    <div class="col-sm-12">
        <section class="panel">
            <header class="panel-heading">
                <strong>Administraci&oacute;n de Constancias</strong>
            </header>
            <div class="panel-body" id="adm_const">
                <div class="row">
                    <div class="col-sm-12">
                        <ul class="nav nav-tabs">
                            <li class="{{estadoAdmConst}} hand">
                                <a ng-click="admConst()">
                                    <span>Administración de Constancias</span>
                                </a>
                            </li>
                            <li class="{{estadoAdmConstBatch}} hand">
                                <a ng-click="admConstBatch()">
                                    <span>Administración de Constancias por Lotes</span>
                                </a>
                            </li>
                            <li class="{{estadoReportes}} hand">
                                <a ng-click="reportes()">
                                    <span>Reportes</span>
                                </a>
                            </li>
                        </ul>
                        <!-- INICIO - TAB ADMINISTRACIÓN DE CONSTANCIAS -->
                        <div class="panel-body" ng-if="activoAdmConst">
                            <form class="form-horizontal">
                                <div class="form-group form-group-lg" style="padding-top:1em;">
                                    <label class="col-sm-3 control-label">Tipo de Documento</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" ng-model="tipoDocumento" ng-change="seleccionTipoDoc(tipoDocumento)">
                                            <option ng-repeat="doc in documentos.disponibles" value="{{doc.id}}">{{doc.name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                            <!-- INICIO - CONSTANCIA DE MATRÍCULA -->
                            <div class="row" ng-if="isConstancia && isConstanciaMatricula" style="padding-top:2em;">
                                <div class="col-sm-6 form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">Periodo CIC</div>
                                        <select class="form-control" ng-model="periodoA">
                                            <option ng-repeat="periodo in periodos" value="{{periodo.periodo_id}}">{{periodo.periodo_id}}</option>
                                        </select>
                                    </div>
                                    <p class="texto-ayuda">* Periodos CIC</p>
                                </div>
                                <div class="col-sm-6 form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">Programas CIC</div>
                                        <select class="form-control" ng-model="periodoA">
                                            <option ng-repeat="periodo in periodos" value="{{periodo.periodo_id}}">{{periodo.periodo_id}}</option>
                                        </select>
                                    </div>
                                    <p class="texto-ayuda">* Programas CIC</p>
                                </div>
                                <div class="col-sm-6 form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">Idioma</div>
                                        <select class="form-control" ng-model="idiomaEscuelaId" ng-change="seleccionTipoIdioma(idiomaEscuelaId)">
                                            <option ng-repeat="idioma in idiomas" value="{{idioma.id_escuela}}">{{idioma.nombre_escuela}}</option>
                                        </select>
                                    </div>
                                    <p class="texto-ayuda">* Idiomas CIC</p>
                                </div>
                                <div class="col-sm-6 form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">Nivel</div>
                                        <select class="form-control" ng-model="nivelI" ng-options="nivel.id_nivel as nivel.nivel_idioma group by nivel.modalidad_cic for nivel in niveles"></select>
                                    </div>
                                    <p class="texto-ayuda">* Niveles de Idiomas CIC</p>
                                </div>
                                <div class="col-sm-12 text-right">
                                    <button type="button" name="button" class="btn btn-primary" ng-if="isConstanciaMatricula" ng-click="constMatricula()" ng-disabled="!(periodoA && idiomaEscuelaId && nivelI)">
                                        Buscar Constancia Matrícula
                                    </button>
                                </div>
                            </div>
                            <!-- FIN - CONSTANCIA DE MATRÍCULA -->
                            <!-- INICIO - CONSTANCIA DE ACREDITACIÓN DE IDIOMA EXTRANJERO -->
                            <div class="row" ng-if="isConstancia && isConstAcredIdiomExt" style="padding-top:2em;">
                                <div class="col-sm-6 form-group">
                                    <div class="input-group">
                                        <label class="input-group-addon" data-toggle="tooltip" title="Periodo académico de egreso de la universidad">Periodo Egreso</label>
                                        <select class="form-control" ng-model="periodoEgreso" ng-change="seleccionReset()">
                                            <option ng-repeat="periodo in periodosE" value="{{periodo.periodo_id}}">{{periodo.periodo_id}}</option>
                                        </select>
                                    </div>
                                    <p class="texto-ayuda">
                                        * Periodo académico de egreso de la universidad
                                    </p>
                                </div>
                                <div class="col-sm-6 form-group">
                                    <div class="input-group">
                                        <label class="input-group-addon" data-toggle="tooltip" title="Idioma cursado por el estudiante">Idioma</label>
                                        <select class="form-control" ng-model="idiomaEscuelaId" ng-change="seleccionReset()">
                                            <option ng-repeat="idioma in idiomas" value="{{idioma.id_escuela}}">{{idioma.nombre_escuela}}</option>
                                        </select>
                                    </div>
                                    <p class="texto-ayuda">
                                        * Idioma cursado por el estudiante
                                    </p>
                                </div>
                                <div class="col-sm-12 text-right">
                                    <button type="button" name="button" class="btn btn-primary" ng-if="isConstAcredIdiomExt" ng-click="searchConstAcredIdiomExt(periodoEgreso, idiomaEscuelaId)" ng-disabled="!(periodoEgreso && idiomaEscuelaId)">
                                        Buscar Acreditación Idiomas
                                    </button>
                                </div>
                            </div>
                            <!-- FIN - CONSTANCIA DE ACREDITACIÓN DE IDIOMA EXTRANJERO -->
                            <!-- INICIO - CERTIFICADO DE ESTUDIO / DIPLOMA -->
                            <div class="row" ng-if="isCertDip" style="padding-top:2em;">
                                <div class="col-sm-4 form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">Idioma</div>
                                        <select class="form-control" ng-model="idiomaEscuelaId">
                                            <option ng-repeat="idioma in idiomas" value="{{idioma.id_escuela}}">{{idioma.nombre_escuela}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-8 form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">Estudiante</div>
                                        <input type="text" class="form-control" placeholder="Estudiante" ng-model="buscaEstudiante">
                                    </div>
                                </div>
                                <div class="col-sm-4 form-group"></div>
                                <div class="col-sm-2 form-group">
                                    <div class="input-group">
                                        <input type="radio" name="tipobusqueda" value="codigo" id="codigo" checked="checked">
                                        <small>
                                            <label for="codigo" style="font-weight: normal;">Código</label>
                                        </small>
                                    </div>
                                </div>
                                <div class="col-sm-2 form-group">
                                    <div class="input-group">
                                        <input type="radio" name="tipobusqueda" value="dni" id="dni">
                                        <small>
                                            <label for="dni" style="font-weight: normal;">DNI</label>
                                        </small>
                                    </div>
                                </div>
                                <div class="col-sm-4 form-group">
                                    <div class="input-group">
                                        <input type="radio" name="tipobusqueda" value="nombres" id="nombres">
                                        <small>
                                            <label for="nombres" style="font-weight: normal;">Apellidos y Nombres</label>
                                        </small>
                                    </div>
                                </div>
                                <div class="col-sm-12 text-right">
                                    <button type="button" name="button" class="btn btn-primary" ng-if="isCertiEstudio" ng-click="certEstudios()" ng-disabled="!(idiomaEscuelaId && buscaEstudiante)">
                                        Buscar Certificado Estudio
                                    </button>
                                    <button type="button" name="button" class="btn btn-primary" ng-if="isDiploma" ng-click="diploma()" ng-disabled="!(idiomaEscuelaId && buscaEstudiante)">
                                        Buscar Diploma
                                    </button>
                                </div>
                            </div>
                            <!-- FIN - CERTIFICADO DE ESTUDIO / DIPLOMA -->
                        </div>
                        <!-- FIN - TAB ADMINISTRACIÓN DE CONSTANCIAS -->
                        <!-- INICIO - TAB ADMINISTRACIÓN DE CONSTANCIAS POR LOTE -->
                        <div class="panel-body" ng-if="activoAdmConstBatch">
                            <form class="form-horizontal">
                                <div class="form-group form-group-lg" style="padding-top:1em;">
                                    <label class="col-sm-3 control-label">Tipo de Documento</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" ng-model="tipoDocumentoBatch" ng-change="seleccionTipoDocBatch(tipoDocumentoBatch)">
                                            <option ng-repeat="doc in documentosBatch.disponibles" value="{{doc.id}}">{{doc.name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                            <!-- INICIO - CONSTANCIA DE ACREDITACIÓN DE IDIOMA EXTRANJERO -->
                            <div class="row" ng-if="isConstAcredIdiomExtBatch">
                                <div class="col-sm-12 form-group">
                                    <div class="input-group" style="padding-top:2em;">
                                        <label class="input-group-addon" data-toggle="tooltip" title="Códigos de Estudiantes a Procesar">Estudiantes</label>
                                        <input type="text" ng-model="codigos" name="codigos" ng-change="changeStudentArray(codigos)" placeholder="Códigos de Estudiantes a Procesar" class="form-control">
                                        <span class="input-group-btn"><button type="button" name="button" class="btn btn-primary" ng-click="searchConstAcredIdiomExtBatch(codigos)"  ng-disabled="!codigos">Buscar</button></span>
                                    </div>
                                    <p class="texto-ayuda">
                                        * Códigos de Estudiantes
                                    </p>
                                    <div cd-list-student-id class='cd-list-student-id' ng-show="codigos">
                                    </div>
                                </div>
                            </div>
                            <!-- FIN - CONSTANCIA DE ACREDITACIÓN DE IDIOMA EXTRANJERO -->
                        </div>
                        <!-- FIN - TAB ADMINISTRACIÓN DE CONSTANCIAS POR LOTE -->
                        <!-- INICIO - TAB REPORTES -->
                        <div class="panel-body" ng-if="activoReportes">
                            <form class="form-horizontal">
                                <div class="form-group form-group-lg" style="padding-top:1em;">
                                    <label class="col-sm-3 control-label">Tipo de Reporte</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" ng-model="tipoReporte" ng-change="seleccionTipoRep(tipoReporte)">
                                            <option ng-repeat="doc in documentos.reportes" value="{{doc.id}}">{{doc.name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                            <!-- INICIO - Matriculados -->
                            <div class="row" ng-if="isMatriculados">
                                <div class="col-sm-12">
                                    <div class="bg-success text-center text-success" style="padding: 0.5em;" ng-if="isRepMatriUC">
                                      <b><i class="fa fa-check-square-o"></i> Reporte Generado</b>
                                    </div>
                                    <div class="col-sm-12 bs-callout bs-callout-info" ng-if="!isRepMatriUC">
                                        <h4>Reporte: Estudiantes UC - CIC</h4>
                                        Lista de Estudiantes de la Universidad Continental Matriculados y NO Matriculados en el Centro de Idiomas
                                        <div class="col-sm-12" style="padding-top:1em;">
                                            <button type="button" class="btn btn-info btn-block" ng-click="getMatriculadosUCIC()"><i class="fa fa-list"></i> Generar Reporte</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6" ng-if="isRepMatriUC">
                                    <div class="col-sm-12 bs-callout bs-callout-success">
                                        <h4>Reporte Matriculados</h4>
                                        Lista de estudiantes de la UC que actualmente se encuentran matriculados en algun idioma del CIC.
                                        <div class="col-sm-12" style="padding-top:1em;">
                                            <button type="button" class="btn btn-success col-sm-5" ng-click="getRepMatriculadosUCIC()">
                                                <i class="fa fa-file-excel-o"></i> Exportar a Excel
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6" ng-if="isRepMatriUC">
                                    <div class="col-sm-12 bs-callout bs-callout-warning">
                                        <h4>Reporte No Matriculados</h4>
                                        Lista de estudiantes de la UC que actualmente <strong>NO</strong> se encuentran matriculados en ningún idioma del CIC.
                                        <div class="col-sm-12" style="padding-top:1em;">
                                            <button type="button" class="btn btn-warning col-sm-5" ng-click="getRepNoMatriculadosUCIC()">
                                                <i class="fa fa-file-excel-o"></i> Exportar a Excel
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- FIN - Matriculados -->
                            <!-- INICIO - Matriculados Global -->
                            <div class="row" ng-if="isMatriculadosDG" style="padding-top:2em;">
                                <div class="col-sm-4 form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">Sede</div>
                                        <select class="form-control" ng-model="sedeU">
                                            <option ng-repeat="sede in sedes" value="{{sede.id_sede}}">{{sede.nombre_sede}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-4 form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">Modalidad</div>
                                        <select class="form-control" ng-model="tipoModalidad">
                                            <option ng-repeat="modalidad in modalidadesP" value="{{modalidad.IdModalidad}}">{{modalidad.NombreModalidad}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-4 form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">Facultad</div>
                                        <select class="form-control" ng-model="tipoFacultad" ng-change="seleccionTipoFacultad(tipoFacultad)">
                                            <option ng-repeat="facultad in facultades" value="{{facultad.idfacultad}}">{{facultad.nomfacultad}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-4 form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">Estado</div>
                                        <select class="form-control" ng-model="tipoEstado">
                                            <option>Matriculado</option>
                                            <option>Egresado</option>
                                            <option>No Concluido</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-4 form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">Periodo CIC</div>
                                        <select class="form-control" ng-model="periodoA">
                                            <option ng-repeat="periodo in periodos" value="{{periodo.periodo_id}}">{{periodo.periodo_id}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-4 form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">Carrera</div>
                                        <select class="form-control" ng-model="tipoEscuela">
                                            <option ng-repeat="escuela in escuelas" value="{{escuela.IDEscuela}}">{{escuela.NomEsc}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-12 text-right">
                                    <button type="button" name="button" class="btn btn-primary" ng-disabled="!(sedeU && tipoModalidad && tipoFacultad && tipoEstado && periodoA && tipoEscuela)">
                                        Buscar Matriculados
                                    </button>
                                </div>
                            </div>
                            <!-- FIN - Matriculados Global -->
                            <!-- INICIO - Emisión Constancias -->
                            <div class="row" ng-if="isEmisionConst" style="padding-top:2em;">
                                <div class="col-sm-4 form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">Idioma</div>
                                        <select class="form-control" ng-model="idiomaEscuelaId">
                                            <option ng-repeat="idioma in idiomas" value="{{idioma.id_escuela}}">{{idioma.nombre_escuela}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-4 form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">Periodo CIC</div>
                                        <select class="form-control" ng-model="periodoA">
                                            <option ng-repeat="periodo in periodos" value="{{periodo.periodo_id}}">{{periodo.periodo_id}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-4 form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">Modalidad</div>
                                        <select class="form-control" ng-model="tipoModalidad" ng-change="seleccionTipoRep(tipoReporte)">
                                            <option ng-repeat="modalidad in modalidadesP" value="{{modalidad.IdModalidad}}">{{modalidad.NombreModalidad}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-12 text-right">
                                    <button type="button" name="button" class="btn btn-primary" ng-disabled="!(idiomaEscuelaId && periodoA && tipoModalidad)">
                                        Buscar Emisión Constancias
                                    </button>
                                </div>
                            </div>
                            <!-- FIN - Emisión Constancias -->
                        </div>
                        <!-- FIN - TAB REPORTES -->
                    </div>
                </div>
            </div>
        </section>
        <section class="panel" ng-if="buscando">
            <div const-acred-idiom-ext-directive ng-if="isConstancia && isConstAcredIdiomExt">
            </div>
            <div const-acred-idiom-ext-batch-directive ng-if="isConstanciaBatch && isConstAcredIdiomExtBatch">
            </div>
        </section>
    </div>
</div>
