<div ng-init="see=false;">
    <button class="btn " type="button" ng-click="see=!see">
        Códigos Ingresados
        <span class="badge">{{estudiantes.length}}</span>
    </button>
    <br>
    <div ng-show="see">
        <p>
            <span ng-repeat="student_id in estudiantes" class="label label-primary">
                <span class="fa fa-user" aria-hidden="true"></span>
                {{student_id}}
            </span>
        </p >
    </div>
</div>
