<loading *ngIf="loading" [text]="'Cargando submodulos'"></loading>

<div class="row" *ngIf="!loading && submodule.menu && errorMessage == undefined">
  <div class="col-md-6 col-xs-12" *ngFor="let menu of submodule.menu">
    <a class="card card-clickable card-submodule" [ngClass]="menu.cardStyle"
      *ngIf="!menu.externalLink && (menu.uri === 'proyectos-uc' || menu.uri === 'categorias')"
      [routerLink]="['/frontdesk/'+ linkRoute +'/' + menu.uri]">
      <div class="card-image" [ngClass]="menu.cardIcoStyle">
        <i [ngClass]="[menu.icon]"></i>
      </div>
      <div class="card-content">
        <h3 class="card-title">{{menu.name}}</h3>
        <p class="info">Más información
          <i class="fa fa-arrow-circle-right text-blue"></i>
        </p>
      </div>
    </a>
    <a class="card card-clickable card-submodule" [ngClass]="menu.cardStyle"
      *ngIf="!menu.externalLink && !(menu.uri === 'proyectos-uc' || menu.uri === 'categorias')"
      [href]="'../frontdesk/' + linkRoute +'/' + menu.uri">
      <div class="card-image" [ngClass]="menu.cardIcoStyle">
        <i [ngClass]="[menu.icon]"></i>
      </div>
      <div class="card-content">
        <h3 class="card-title">{{menu.name}}</h3>
        <p class="info">Más información
          <i class="fa fa-arrow-circle-right text-blue"></i>
        </p>
      </div>
    </a>
    <a class="card card-clickable card-submodule" [ngClass]="menu.cardStyle"
      *ngIf="menu.externalLink && (menu.uri === 'pry/frontdesk/vida-academica/proyectos-uc')"
      [routerLink]="['/frontdesk/vida-academica/proyectos-uc']">
      <div class="card-image" [ngClass]="menu.cardIcoStyle">
        <i [ngClass]="[menu.icon]"></i>
      </div>
      <div class="card-content">
        <h3 class="card-title">{{menu.name}}</h3>
        <p class="info">Más información
          <i class="fa fa-external-link-square text-blue"></i>
        </p>
      </div>
    </a>
    <a class="card card-clickable card-submodule" [ngClass]="menu.cardStyle"
      *ngIf="menu.externalLink && !(menu.uri === 'pry/frontdesk/vida-academica/proyectos-uc')" href="{{ menu.uri }}"
      target="_blank">
      <div class="card-image" [ngClass]="menu.cardIcoStyle">
        <i [ngClass]="[menu.icon]"></i>
      </div>
      <div class="card-content">
        <h3 class="card-title">{{menu.name}}</h3>
        <p class="info">Más información
          <i class="fa fa-external-link-square text-blue"></i>
        </p>
      </div>
    </a>
  </div>
  <div class="clearfix"></div>
  <div class="col-md-12" *ngIf="showMessage">
    <div class="message-student text-left float-inherit m-auto border-info col-md-12">
      <div class="ico bg-info"><i class="fa fa-2x fa-info"></i></div>
      <h4 class="title mt-0 mb pl text-bold border-info border-bottom-3">¡Importante!</h4>
      <ul class="list-unstyled">
        <li class="text-black">Nuestra Universidad cuenta con un modelo educativo <strong
            class="text-primary">multimodal</strong>, que permite a los estudiantes movilizarse de una modalidad a otra.
        </li>
        <li class="text-black">
          <p>La modalidad que te corresponde al culminar tus estudios, y que será consignada en tu diploma de grado y título
            profesional, se determinará de acuerdo a los porcentajes presenciales que hayas cursado, bajo los siguientes
            parámetros:
        </li>
        <li>
          <h4 class="ml text-bold text-primary">Modalidad presencial: De 80% a 100% de créditos en estudios presenciales.
          </h4>
        </li>
        <li>
          <h4 class="ml text-bold text-primary">Modalidad semipresencial: De 50% a menos de 80% de créditos en estudios
            presenciales.</h4>
        </li>
        <li>
          <div class="alert-student alert-student-primary mb-0">
            <h4 class="m-0"><i class="fa fa-info-circle"></i> Ten en cuenta esta información y asegúrate de cumplir con los porcentajes requeridos de acuerdo
              a
              tus objetivos
              académicos. Puedes revisar la información completa en el Art. N° 37 de nuestro <strong>Reglamento
                Académico</strong>.</h4>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<div *ngIf="!loading && errorMessage" class="callout callout-warning">
  <h4><i class="icon fa fa-warning"></i> Alerta!</h4>
  <p>{{errorMessage}}</p>
</div>
