﻿@*<ul class="sidebar-menu">
    @*<li class="header">MENU PRINCIPAL</li>
    <li class="">
        <a href="@Url.Content("~/backoffice")"><i class="fa fa-home"></i> 
            <span>Inicio</span></a>
    </li>*@
    <sidebar-menu></sidebar-menu>

    @*@foreach (var menu in ViewBag.menus) { 
    <li class="treeview">
        <a href="@Url.Content("~/")backoffice/@menu.uri">
            <i class="@menu.icon"></i>
            <span> @menu.name</span> 
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            @foreach (var smenu in menu.smenus) {
                if (smenu.position == "all" || smenu.position == "side")
                {
                    <li>
                        <a href="@Url.Content("~/")backoffice/@menu.uri/@smenu.uri">
                            <i class="@smenu.icon"></i>
                            <span>  @smenu.name</span> @*[@smenu.id]
                        </a>
                    </li>
                }
            }
        </ul>
    </li>
    }*@ 
    <!-- end viewbag menus -->
@*</ul>*@