﻿<ul class="sidebar-menu">
    <li class="header">MENU PRINCIPAL</li>
    <li class="">
        <a href="@Url.Content("~/frontdesk")">
            <i class="fa fa-home"></i>
            <span>Inicio</span>
        </a>
    </li>
    @foreach (var menu in ViewBag.menus)
    {
        if (menu.smenus.Count > 0)
        {
        <li class="treeview">
            <a href="@Url.Content("~/")frontdesk/@menu.uri">
                <i class="@menu.icon"></i>
                <span> @menu.name</span> @*[@menu.id]*@
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                @foreach (var smenu in menu.smenus)
                {
                    <li>
                        <a href="@Url.Content("~/")frontdesk/@menu.uri/@smenu.uri">
                            <i class="@smenu.icon"></i>
                            <span>  @smenu.name</span> @*[@smenu.id]*@
                        </a>
                    </li>
                }
            </ul>
        </li>
        }
        else
        {
        <li>
            <a href="@Url.Content("~/")frontdesk/@menu.uri">
                <i class="@menu.icon"></i>
                <span> @menu.name</span> @*[@menu.id]*@
            </a>
        </li>
        }
    }
    <!-- end viewbag menus -->
</ul>