﻿@using _app = ACTools.Constants.AppConstants;

<a class="dropdown-toggle hand" data-toggle="dropdown">
    <img src="@Url.Content("~/api/personal/photo/" + @ViewBag.person.person_id)" class="user-image" alt="User Image">
    <span class="hidden-xs">(Apoderado) @ViewBag.person.first_name</span>
</a>
<ul class="dropdown-menu border">
    <!-- User image -->
    <li class="user-header">
        <img src="@Url.Content("~/api/personal/photo/" + @ViewBag.person.person_id)" class="img-circle" alt="User Image">
        <p>
            @ViewBag.person.last_name, @ViewBag.person.first_name  <br />
            
        </p>
    </li>
    <li class="user-footer">
        @if (ViewBag.person.type.Contains(_app.TYPE_STUDENT))
        {
            <div class="pull-left">
                <a href="@Url.Content("~/parent/select-profile")" class="btn btn-info btn-flat">
                    @*FIXME :
                        si tiene perfil de estudiante y padre -> Opcion cambiar de perfil
                        si no, no*@
                    <span class="fa fa-repeat"></span> <small>Cambiar de perfil</small>
                </a>
            </div>
        }

        <div class="pull-right">
            <a href="@Url.Content("~/salir")" class="btn btn-danger btn-flat"><span class="fa fa-sign-out"></span> Salir</a>
        </div>
    </li>
</ul>
