﻿@using _app = ACTools.Constants.AppConstants;

<a class="dropdown-toggle hand" data-toggle="dropdown">
    @* General *@
    @if (ViewBag.executive == null)
            {
        <img src="@Url.Content("~/api/personal/photo/" + @ViewBag.person.person_id)" class="user-image" alt="User Image">
        <span class="hidden-xs">@ViewBag.person.first_name</span>
    }
    @* Vista de estudiante desde backoffice *@
    else
    {
        <img src="@Url.Content("~/api/personal/photo/" + @ViewBag.executive.person_id)" class="user-image" alt="User Image">
        <span class="hidden-xs">(ADM)@ViewBag.executive.first_name</span>
    }
</a>
<ul class="dropdown-menu border">
    <!-- User image -->
    <li class="user-header">
        @if (ViewBag.executive == null)
        {
            <img src="@Url.Content("~/api/personal/photo/" + @ViewBag.person.person_id)" class="img-circle" alt="User Image">
                <p class="personal-description">
                    @ViewBag.person.last_name, @ViewBag.person.first_name  <br /> @ViewBag.profile.college.name
                    <small>@ViewBag.profile.program.name</small>
                </p>
        }
        @* Vista de estudiante desde backoffice *@
        else
        {
            <img src="@Url.Content("~/api/personal/photo/" + @ViewBag.executive.person_id)" class="img-circle" alt="User Image">
            <p>
                @ViewBag.executive.last_name, @ViewBag.executive.first_name  <br />
                @ViewBag.executive.campus.name
            </p>
        }

    </li>
    <li class="user-footer">
        @* Vista de estudiante desde backoffice *@
        @if (ViewBag.executive != null)
        {
            <div class="pull-left">
                <a href="@Url.Content("~/go/backoffice/")" class="btn btn-info btn-flat">
                    <span class="fa fa-repeat"></span> BackOffice
                </a>
            </div>
        }
        else
        {
            @* Auth estudiante *@
            <div class="pull-left">
                <a href="@Url.Content("~/frontdesk/set-profile")" class="btn btn-info btn-flat">
                    <i class="fa fa-repeat"></i> Cambiar Perfil
                </a>
            </div>
        }
        <div class="pull-right">
            <a href="@Url.Content("~/salir")" class="btn btn-danger btn-flat"><span class="fa fa-sign-out"></span> Salir</a>
        </div>
    </li>
</ul>