﻿<a class="dropdown-toggle hand" data-toggle="dropdown">
    <img src="@Url.Content("~/api/personal/photo/" + @ViewBag.person.person_id)" class="user-image" alt="User Image">
    <span class="hidden-xs">(ADM) @ViewBag.person.first_name</span>
</a>
<ul class="dropdown-menu border">
    <!-- User image -->
    <li class="user-header">
            <img src="@Url.Content("~/api/personal/photo/" + @ViewBag.person.person_id)" class="img-circle" alt="User Image">
            <p>
                @ViewBag.person.last_name, @ViewBag.person.first_name  <br />
                @ViewBag.person.campus.name
            </p>
    </li>
    <li class="user-footer">
       
        <div class="pull-left">
            <a href="@Url.Content("~/backoffice/set-profile")" class="btn btn-info btn-flat">
                <span class="fa fa-repeat"></span> <small>Cambiar Campus</small>
            </a>
        </div>
   
        <div class="pull-right">
            <a href="@Url.Content("~/salir")" class="btn btn-danger btn-flat"><span class="fa fa-sign-out"></span> Salir</a>
        </div>
    </li>
</ul>
