﻿
<!-- Angular Libs (deprecated) -->

<!-- core libs -->

<!-- Libs -->

<script type="text/javascript" src="@Url.Content("~/Content/deprecated/lib/underscore-min.js")"></script>
<!-- ngProgres -->
<script type="text/javascript" src="@Url.Content("~/Content/deprecated/lib/nprogress/nprogress.js")"></script>
<!-- Bootstrap -->

<!-- alasql libs  -->
<script type="text/javascript" src="@Url.Content("~/Content/deprecated/lib/alasql/alasql.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/deprecated/lib/alasql/console/xlsx.core.min.js")"></script>
<!-- Angular libs  -->
<script type="text/javascript" src="@Url.Content("~/Content/deprecated/lib/angular.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/deprecated/lib/angular/angular-locale_es-pe.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/deprecated/lib/angular/angular-resource.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/deprecated/lib/angular/angular-ui-router.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/deprecated/lib/angular/angular-messages.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/deprecated/lib/angular/ng-load.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/deprecated/lib/angular/angular-input-modified.js")"></script>
<!-- Bootstrap angular -->
<script type="text/javascript" src="@Url.Content("~/Content/deprecated/lib/bootstrap/ui-bootstrap-tpls-0.14.3.min.js")"></script>
<!-- OcLAzyLoad libs -->
<script type="text/javascript" src="@Url.Content("~/Content/deprecated/lib/ocLazyLoad.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/deprecated/lib/require.js")"></script>
<!-- Google Auth -->
<script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>


<!-- Modules Libs -->

<!-- Centro de Atencion APP -->
<script type="text/javascript" src="@Url.Content("~/Content/deprecated/app/main/app.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/deprecated/app/main/app.controllers.js")"></script>
<!-- Shared Directives -->
<script type="text/javascript" src="@Url.Content("~/Content/deprecated/app/shared/ui/ui.module.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/deprecated/app/shared/ui/remconfirm.directive.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/deprecated/app/shared/ui/datelabel.directive.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/deprecated/app/shared/ui/disable.button.directive.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/deprecated/app/shared/ui/yesno.directive.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/deprecated/app/shared/ui/ubigeo.directive.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/deprecated/app/shared/ui/showhelp.directive.js")"></script>
<!-- Shared Services-->
<script type="text/javascript" src="@Url.Content("~/Content/deprecated/app/shared/services/services.module.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/deprecated/app/shared/services/person.service.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/deprecated/app/shared/services/request.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/deprecated/app/shared/services/request.state.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/deprecated/app/shared/services/office.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/deprecated/app/shared/services/document.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/deprecated/app/shared/services/student.service.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/deprecated/app/shared/services/country.service.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/deprecated/app/shared/services/ubigeo.service.js")"></script>
<!-- Extra custom libraries -->

@foreach (var js in ViewBag.js_list)
{
    <script src="@Url.Content("~/Content/deprecated/app/")@js" type="text/javascript"></script>
}

@*<script type="text/javascript" src="@Url.Content("~/Content/deprecated/app/frontdesk/buw/config/routes.js")"></script>*@

<script type="text/javascript">
      window.app_base = '@Url.Content("~/Content/deprecated/app/")@(ViewBag.app)/';
      window.url_base = '@Url.Content("~/")';
    //  //fix para un error en CAUModile en la base principal
    //angular.module('CAUModule', ['ServicesModule', 'uiModule']);
    //angular.module('BUWModule', ['ServicesModule', 'uiModule']);

    //angular.module('BUWModule')
    //.controller('demoCtrl', ['$scope', function ($scope) {
    //    console.log('pre');
    //    $scope.init = function () {
    //        console.log('on');
    //        $scope.key = 'value';
    //    };
    //}])
</script>