﻿<!-- Sidebar user panel  -->
<div class="user-panel">
    <div class="pull-left image">
        <img src="@Url.Content("~/api/personal/photo/" + @ViewBag.person.person_id)" class="img-circle" alt="User Image">
    </div>
    <div class="pull-left info">
        <p>@ViewBag.person.first_name</p>
        <a class="text-teal" href="@Url.Content("~/frontdesk/set-profile")">
            <i class="fa fa-street-view text-aqua"></i> @ViewBag.profile.status_name - @ViewBag.profile.campus.code
        </a>
    </div>
    <div class="clearfix"></div>
    <!-- Datos del alumno-->
    <div class="student-abstract" style="color: white">
        <p><strong>[@ViewBag.profile.levl] [@ViewBag.profile.department]</strong> </p>
        <p>@ViewBag.profile.program.name</p>
        <p> @ViewBag.profile.college.name </p>
        <p><a href="@Url.Content("~/frontdesk/set-profile")" class="text-orange">Cambiar perfil del estudiante</a></p>
    </div>
</div>
<!-- Menu para Alumnos -->
@RenderPage("~/Views/Partials/FrontdeskMenu.cshtml")
<!-- Sidebar header for executive -->