﻿<!-- Sidebar user panel  -->
<div class="user-panel">
    <div class="pull-left image">
        <img src="@Url.Content("~/api/personal/photo/" + @ViewBag.person.person_id)" class="img-circle" alt="User Image">
    </div>
    <div class="pull-left info">
        <p>@ViewBag.person.first_name</p>
        <a class="text-teal" href="@Url.Content("~/backoffice/set-profile")">
            <i class="fa fa-street-view text-aqua"></i> @ViewBag.person.campus.name
        </a>
    </div>
</div>
<!-- Menu para Administrativos -->
@RenderPage("~/Views/Partials/BackofficeMenu.cshtml")