﻿<!-- Sidebar user panel  -->
<div class="user-panel">
    <div class="pull-left image">
        <img src="@Url.Content("~/api/personal/photo/" + @ViewBag.student.person_id)" class="img-circle" alt="User Image">
    </div>
    <div class="pull-left info">
        <p>@ViewBag.student.first_name</p>
        <a class="text-teal" href="@Url.Content("~/frontdesk/set-profile")">
            <i class="fa fa-street-view text-aqua"></i> @ViewBag.student.profile.status_name -@ViewBag.student.profile.campus.code
        </a>
    </div>
    <div class="clearfix"></div>
    <!-- Datos del alumno-->
    <div class="student-abstract text-white">
        <p><strong>[@ViewBag.student.profile.levl] [@ViewBag.student.profile.department]</strong> </p>
        <p>@ViewBag.student.profile.program.name</p>
        <p> @ViewBag.student.profile.college.name </p>
        <p><a href="@Url.Content("~/parent/select-student")" class="text-orange">Cambiar de estudiante</a></p>
        
    </div>
</div>
<!-- Menu para Alumnos -->
<pt-menu></pt-menu>
<!-- Sidebar header for executive -->