﻿@using _app = ACTools.Constants.AppConstants;

@if (ViewBag.person.type.Contains(_app.TYPE_STUDENT))
{
    <view-notifications [type]="1" class="nav navbar-nav pull-left"></view-notifications>
}
<ul class="nav navbar-nav">
    <li class="dropdown user user-menu">

        @if (ViewBag.person.type.Contains(_app.TYPE_EXECUTIVE))
        {
            @RenderPage("~/Views/Partials/headExecutive.cshtml")
        }
        else if (ViewBag.person.type.Contains(_app.TYPE_PARENT))
        {
            @RenderPage("~/Views/Partials/headParent.cshtml")
        }
        else if (ViewBag.person.type.Contains(_app.TYPE_STUDENT))
        {
            @RenderPage("~/Views/Partials/headStudent.cshtml")
        }
    </li>
    <li class="dropdown notifications-menu">
        <a href="#" class="dropdown-toggle text-white" data-toggle="dropdown">
            <i class="fa fa-ellipsis-v"></i>
            <span class="label label-warning"></span>
        </a>
        <ul class="dropdown-menu border">
            <li class="header">Otros Servicios</li>
            <li class="list-group-item-link">
                <a href="https://estudiantes.ucontinental.edu.pe/" target="_blank" class="text-secondary bg-white"><i class="fa fa-university text-light-blue"></i> Portal del Estudiante</a>
            </li>
            <li class="list-group-item-link">
                <a href="https://estudiantesavp.ucontinental.edu.pe" target="_blank" class="text-secondary bg-white"><i class="fa fa-laptop text-green"></i> Aula Virtual Presencial</a>
            </li>
            <li class="list-group-item-link">
                <a href="https://aulavirtual.continental.edu.pe/" target="_blank" class="text-secondary bg-white"><i class="fa fa-laptop text-green"></i> Aula Virtual Semipresencial</a>
            </li>
            <li class="list-group-item-link">
                <a href="https://mail.google.com/a/continental.edu.pe" target="_blank" class="text-secondary bg-white"><i class="fa fa-envelope-o text-red"></i> Correo institucional</a>
            </li>
        </ul>
    </li>
</ul>
