<div class="box box-warning">
  <div *ngIf="loading">
    <loading [text]="'EN LA CONTI HABÍA UN POLLITO...'"></loading>
  </div>
  <header class="box-header with-border">
    <i class="fa fa-file-text"></i>
    <h3 class="box-title">Registro de incidente</h3>
  </header>
  <!-- /.box-header -->
  <section class="box-body" *ngIf="incidentSave != null">
    <form class="form-horizontal" (ngSubmit)="save()" #newIncidentForm="ngForm">
      <div class="form-group" [ngClass]="{'has-error': title.invalid}">
        <label for="title" class="col-sm-2 control-label">Título
          <small *ngIf="title.invalid" class="text-red form-extra-small">
            <br/>Ingresa titulo del incidente
          </small>
        </label>
        <div class="col-sm-10 col-md-7">
          <input type="text" class="form-control" name="title" id="title" placeholder="Título" required minlength="20"
                 [(ngModel)]="incidentSave.title" #title=ngModel>
        </div>
      </div>
      <div class="form-group" [ngClass]="{'has-error': type.invalid}">
        <label class="col-sm-2 control-label" for="type">
          Tipo
          <small *ngIf="type.invalid" class="text-red form-extra-small">
            <br/>Selecciones el tipo de incidente
          </small>
        </label>
        <div class="col-sm-10 col-md-7">
          <select name="type" id="type" class="form-control" required [(ngModel)]="incidentSave.typeId" #type="ngModel">
            <option *ngFor="let type of incidentTypes" value="{{type.id}}"> {{type.name}} </option>
          </select>
        </div>
      </div>
      <div class="form-group" [ngClass]="{'has-error': description.invalid}">
        <label class="col-sm-2 control-label" for="description">Descripción
          <small *ngIf="description.invalid" class="text-red form-extra-small">
            <br/>Ingresa la descripción del incidente
          </small>
        </label>
        <div class="col-sm-10 col-md-7">
        <textarea class="form-control mt" rows="3" name="description" id="description"
                  placeholder="Descripción del incidente..." required minlength="40" maxlength="1000"
                  [(ngModel)]="incidentSave.description" #description="ngModel"></textarea>
          <small class="help-block text-gray-disabled">
            mín. 40 caracteres
            <span class="pull-right" *ngIf="incidentSave.description !== undefined">
              {{ incidentSave.description.length }} / 1000
            </span>
          </small>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10 col-md-7">
          <div class="callout callout-warning" *ngIf="msgError != null && msgError.length > 0">
            <h4><i class="fa fa-ban"></i> Error!</h4>
            <p>{{msgError}}</p>
          </div>

          <div class="callout callout-success" *ngIf="saved">
            <h4><i class="fa fa-check"></i> Se guardó satisfactoriamente!</h4>
          </div>

          <div class="callout callout-warning" *ngIf="msgError != null && msgError.length > 0">
            <h4><i class="fa fa-ban"></i> Error!</h4>
            <p>{{msgError}}</p>
          </div>
          <button type="submit" class="btn btn-info" [disabled]="newIncidentForm.invalid || processing || !validateSave()">
            <i class="fa fa-save"></i> Guardar
          </button>
          <button type="button" class="btn btn-default" onclick="window.history.go(-1);">
            <i class="fa fa-trash"></i> Cancelar
          </button>
        </div>
      </div>
    </form>
  </section>
  <!-- /.box-body -->
  <div class="overlay" *ngIf="processing">
    <i class="fa fa-refresh fa-spin"></i>
  </div>
  <!-- end loading -->
</div>
