<section class="box-body" *ngIf="claim.status == backofficeConfigService.OEA_STATUS_NOTE_CLAIM_CAS">
  <div class="card">
    <div class="header bg-info">
      <h3 class="title">Derivar docente</h3>
    </div>
    <div class="body">
      <div class="col-md-12">
        <!-- tipo-->
        <div class="form-group">
          <label class="col-sm-2 control-label">Asignar</label>
          <div class="col-sm-10">
            <select name="" id="" class="form-control" [(ngModel)]="claim.type">
              <option *ngFor="let type of backofficeConfigService.OEA_TYPES_NOTE_CLAIM" value="{{type.id}}">
                {{type.name}}
              </option>
            </select>
          </div>
        </div>
        <!-- Fin tipo-->
        <!-- Comentario-->
        <div class="form-group">
          <label class="col-sm-2 control-label">Comentario</label>
          <div class="col-sm-10">
            <textarea class="form-control mt ng-pristine ng-valid ng-touched" maxlength="200" name="Comentario"
              placeholder="Comentario..." rows="3" [(ngModel)]="claim.comment"></textarea>
          </div>
        </div>
        <!-- Fin Comentario-->
        <!-- Comentario-->
        <div class="form-group">
          <div class="col-sm-12">
            <button type="submit" class="btn btn-primary" [disabled]="!validateBtnSave()"
              (click)="saveDerivationTeacher()">Derivar a docente</button>
          </div>
        </div>
        <!-- Fin Comentario-->
      </div>
    </div>
  </div>
</section>