<section class="box-body">
    <div class="card">
      <div class="header bg-info">
        <h3 class="title">Finalizar reclamo</h3>
      </div>
      <div class="body">
        <div class="col-md-12">
          <!-- Comentario-->
          <div class="form-group clearfix">
            <label class="col-sm-2 control-label">Comentario</label>
            <div class="col-sm-10">
              <textarea class="form-control mt ng-pristine ng-valid ng-touched" maxlength="200" name="Comentario"
                placeholder="Comentario..." rows="3" [(ngModel)]="claim.comment"></textarea>
            </div>
          </div>
          <!-- Fin Comentario-->
          <!-- Botones-->
            <div class="form-group">
              <div class="col-sm-12">
                <button type="submit" class="btn btn-primary" (click)="save()" [disabled]="!validateBtnSave()">Finalizar Reclamo</button>
              </div>
            </div>
            <!-- Fin Botones-->
        </div>
      </div>
    </div>
  </section>