<!--Listar y buscar Reclamos-->
<div class="row" *ngIf="claimSelected == null">
  <!--Tipos de reclamo-->
  <div class="col-md-3">
    <div class="box box-solid">
      <div class="overlay" *ngIf="loading === true">
        <i class="fa fa-refresh fa-spin"></i>
      </div>

      <div class="box-header with-border">
        <h3 class="box-title">Reclamo de Notas</h3>
        <div class="box-tools">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
          </button>
        </div>
      </div>
      <!--Opcion-->
      <div class="box-body no-padding">
        <ul class="nav nav-pills nav-stacked" (click)="selectedList(1)">
          <li>
            <a><i class="fa fa-hourglass"></i> Pendientes
              <span class="label label-primary pull-right" *ngIf="listPending != null">{{listPending.length}}</span>
            </a>
          </li>
        </ul>
        <ul class="nav nav-pills nav-stacked" *ngIf="isRAU()" (click)="selectedList(2)">
          <li>
            <a><i class="fa fa-hourglass-end"></i> Por finalizar
              <span class="label label-primary pull-right"
                *ngIf="listToFinalize != null">{{listToFinalize.length}}</span>
            </a>
          </li>
        </ul>
      </div>
      <!--Fin Opcion-->

    </div>
  </div>
  <!--Fin Tipos de reclamo-->

  <!--Lista de reclamos-->
  <div class="col-md-9">
    <div class="box box-default">
      <div class="overlay" *ngIf="loading">
        <i class="fa fa-refresh fa-spin"></i>
      </div>
      <header class="box-header with-border">
        <h3 class="box-title"><i class="fa fa-file-text"></i> Reclamos</h3>
        <!--Input de filtro-->
        <div class="box-tools pull-right">
          <div class="has-feedback">
            <input type="text" class="form-control input-sm" name="NoteClaimFilter" [(ngModel)]="filter"
              placeholder="Filtrar">
            <span class="glyphicon glyphicon-search form-control-feedback"></span>
          </div>
        </div>
        <!--Fin Input de filtro-->
      </header>

      <section class="box-body no-padding" *ngIf="listSelected != null">
        <div class="table-responsive">
          <table class="table table-hover table-striped">
            <thead>
              <tr>
                <th>Año</th>
                <th>Número</th>
                <th>Tipo</th>
                <th>Estudiante</th>
                <th>Asignatura</th>
                <th>Motivo</th>
                <th>Fecha</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let claim of listSelected" (click)="selectedClaim(claim)">
                <td>{{claim.year}}</td>
                <td>{{backofficeConfigService.completeStringWithCaracter(claim.noteClaimNumber, '0', 6)}}</td>
                <td>{{claim.type}}</td>
                <td>{{claim.studentData.full_name}}</td>
                <td>{{claim.subject.subjetName}}</td>
                <td>{{claim.reason}}</td>
                <td>{{claim.dateCreated | date: 'dd/MM/yyyy hh:mm'}}</td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
    </div>
  </div>
  <!--Fin Lista de reclamos-->
</div>
<!--Fin Listar y buscar Reclamos-->

<div class="box box-default" *ngIf="claimSelected != null">
  <!--Cabecera-->
  <div class="overlay" *ngIf="loading">
    <i class="fa fa-refresh fa-spin"></i>
  </div>
  <header class="box-header with-border">
    <h3 class="box-title"><i class="fa fa-file-text"></i> Datos del reclamo</h3>
    <button class="btn btn-info pull-right hidden-print" (click)="claimSelected = null;"><i class="fa fa-reply"></i>
      Volver</button>
    <button class="btn bg-secondary pull-right mr hidden-print" onclick="window.print()"><i class="fa fa-print"></i>
      Imprimir</button>
  </header>
  <!--Fin Cabecera-->
  <!--Reclamo-->
  <oea-view-note-claim [claimId]="claimSelected.id" [getFlow]="false" (endChargue)="chargueDetailsClaim($event)">
  </oea-view-note-claim>
  <!--Fin Reclamo-->

  <!--Opciones para modificar y derivar a docente-->
  <oea-derive-teacher-note-claim *ngIf="derivateToTeacher()" [claim]="claimSelected" class="hidden-print"
    (returnInfo)="getInfoChild($event)"></oea-derive-teacher-note-claim>
  <!--Fin Opciones para modificar y derivar a docente-->

  <!--Opciones para aceptar o no el reporte del docente-->
  <oea-note-claim-validate-report *ngIf="validateReport()" [claim]="claimSelected" class="hidden-print"
    (returnInfo)="getInfoChild($event)">
  </oea-note-claim-validate-report>
  <!--Fin Opciones para aceptar o no el reporte del docente-->

  <!--Opciones para finalizar el reclamo-->
  <oea-note-claim-finalize-report *ngIf="validateFinalize()" [claim]="claimSelected" class="hidden-print"
    (returnInfo)="getInfoChild($event)"></oea-note-claim-finalize-report>
  <!--Fin Opciones para finalizar el reclamo-->
</div>