<!--Listar y buscar Reclamos-->
<div class="row" *ngIf="claimSelected == null">
  <!--Tipos de reclamo-->
  <div class="col-md-3">
    <div class="box box-solid">
      <div class="overlay" *ngIf="loading === true">
        <i class="fa fa-refresh fa-spin"></i>
      </div>

      <div class="box-header with-border">
        <h3 class="box-title">Reclamo de Notas</h3>
        <div class="box-tools">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
          </button>
        </div>
      </div>

      <div class="box-body no-padding">
        <ul class="nav nav-pills nav-stacked">
          <li class="active">
            <a><i class="fa fa-hourglass"></i> Pendientes
              <span class="label label-primary pull-right"
                *ngIf="listNoteClaims != null">{{listNoteClaims.length}}</span>
              <span class="label label-default pull-right" *ngIf="listNoteClaims == null">-</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!--Fin Tipos de reclamo-->

  <!--Lista de reclamos-->
  <div class="col-md-9">
    <div class="box box-default">
      <div class="overlay" *ngIf="loading">
        <i class="fa fa-refresh fa-spin"></i>
      </div>

      <header class="box-header with-border">
        <h3 class="box-title"><i class="fa fa-file-text"></i> Reclamos por procesar</h3>
        <!--Input de filtro-->
        <div class="box-tools pull-right">
          <div class="has-feedback">
            <input type="text" class="form-control input-sm" name="NoteClaimFilter" [(ngModel)]="filter"
              placeholder="Filtrar">
            <span class="glyphicon glyphicon-search form-control-feedback"></span>
          </div>
        </div>
        <!--Fin Input de filtro-->
      </header>

      <section class="box-body no-padding" *ngIf="listNoteClaims != null">
        <div class="table-responsive">
          <table class="table table-hover table-striped">
            <thead>
              <tr>
                <th>Año</th>
                <th>Número</th>
                <th>Tipo</th>
                <th>Estudiante</th>
                <th>Asignatura</th>
                <th>Motivo</th>
                <th>Fecha</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let claim of listNoteClaims" (click)="selectedClaim(claim)">
                <td>{{claim.year}}</td>
                <td>{{backofficeConfigService.completeStringWithCaracter(claim.noteClaimNumber, '0', 6)}}</td>
                <td>{{claim.type}}</td>
                <td>{{claim.studentData.full_name}}</td>
                <td>{{claim.subject.subjetName}}</td>
                <td>{{claim.reason}}</td>
                <td>{{claim.dateCreated | date: 'dd/MM/yyyy hh:mm'}}</td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
    </div>
  </div>
  <!--Fin Lista de reclamos-->
</div>
<!--Fin Listar y buscar Reclamos-->

<div class="box box-default" *ngIf="claimSelected != null">
  <!--Cabecera-->
  <div class="overlay" *ngIf="loading">
    <i class="fa fa-refresh fa-spin"></i>
  </div>
  <header class="box-header with-border">
    <h3 class="box-title"><i class="fa fa-file-text"></i> Datos del reclamo</h3>
    <button class="btn btn-info pull-right hidden-print" (click)="claimSelected = null;"><i class="fa fa-reply"></i> Volver</button>
    <button class="btn bg-secondary pull-right mr hidden-print" onclick="window.print()"><i class="fa fa-print"></i>
      Imprimir</button>
  </header>
  <!--Fin Cabecera-->

  <!--Reclamo-->
  <oea-view-note-claim [claimId]="claimSelected.id" [getFlow]="false" (endChargue)="chargueDetailsClaim($event)">
  </oea-view-note-claim>
  <!--Fin Reclamo-->

  <!--Opciones para reporte docente-->
  <section class="box-body hidden-print"
    *ngIf="claimSelected.status == backofficeConfigService.OEA_STATUS_NOTE_CLAIM_TEACHER && reportTeacher != null">
    <div class="card" style="overflow: inherit;">
      <div class="header bg-info">
        <h3 class="title">Informe docente</h3>
      </div>
      <div class="box-body form-horizontal">
        <!-- Procede?-->
        <div class="form-group">
          <label class="col-sm-2 control-label">¿Procede cambio de nota?</label>
          <div class="col-sm-10 ">
            <div class="form-check-inline">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" [value]="true" name="optradio"
                  [(ngModel)]="reportTeacher.proceeds">Si
              </label>
            </div>
            <div class="form-check-inline">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" [value]="false" name="optradio"
                  [(ngModel)]="reportTeacher.proceeds">No
              </label>
            </div>
          </div>
        </div>
        <!-- Fin Procede?-->
        <!-- Fundamento-->
        <div class="form-group">
          <label class="col-sm-2 control-label">Fundamento</label>
          <div class="col-sm-10">
            <textarea class="form-control mt ng-pristine ng-valid ng-touched" maxlength="200" name="Comentario"
              placeholder="Comentario..." rows="3" [(ngModel)]="reportTeacher.reason"></textarea>
          </div>
        </div>
        <!-- Fin Fundamento-->
        <!-- Nota Correcta-->
        <div class="form-group" *ngIf="reportTeacher.proceeds">
          <label class="col-sm-2 control-label">¿Nota Correcta?
            <br> <small class="text-red form-extra-small">de 0 - 20</small>
          </label>

          <div class="col-sm-10">
            <input type="number" class="form-control" [(ngModel)]="reportTeacher.scoreCorrect">
          </div>
        </div>
        <!-- Fin Nota Correcta-->
        <!--Fecha de cambio de nota-->
        <div class="form-group" *ngIf="reportTeacher.proceeds">
          <label class="col-sm-2 control-label">Fecha y hora que cambiara nota
            <br> <small class="text-red form-extra-small">Mínimo dos días de la fecha actual</small>
          </label>

          <div class="col-sm-10">
            <p-calendar [locale]="es" showTime="true" hourFormat="24" [showIcon]="true" dateFormat="dd/mm/yy" required
              [minDate]="minDate" [(ngModel)]="dateChange" name="dateChange">
            </p-calendar>
          </div>
        </div>
        <!-- Fin Fecha de cambio de nota-->

        <!--Evidencias digitales-->
        <div class="form-group">
          <label class="col-sm-2 control-label">Subir evidencias<br />
            <small class="text-red" *ngIf="!validateSave()">Adjunte evidencias. </small>
          </label>
          <div class="col-sm-10">
            <button class="btn btn-sm btn-primary" name="button" type="button" (click)="files.push(null)"> <i
                class="fa fa-plus"></i> Agregar</button>
            <br><br>
            <div *ngFor="let fl of files; let i = index" [attr.data-index]="i" class="row">
              <input type="file" (change)="assignFile($event, i)" class="col-sm-2" style="color:transparent;"
                accept=".xlsx,.xls,image/*,.doc, .docx,.ppt, .pptx,.txt,.pdf,.zip,.rar,.7z">
              <div class="col-sm-4" *ngIf="fl != null">{{fl.name}}</div>
              <div class="col-sm-6" *ngIf="fl == null">No se ha seleccionado ningún archivo</div>
              <div class="col-sm-2">
                <button class="btn btn-sm btn-danger" name="button" type="button" (click)="files.splice(i, 1);"> <i
                    class="fa fa-times"></i></button>
              </div>
              <br><br>
            </div>
            <br>
          </div>
        </div>
        <!--Fin Evidencias digitales-->

        <!-- Comentario-->
        <div class="form-group">
          <div class="col-sm-12">
            <button type="submit" class="btn btn-primary" [disabled]="!validateSave()" (click)="save()">Enviar
              informe</button>
          </div>
        </div>
        <!-- Fin Comentario-->
        <div class="callout callout-warning" *ngIf="msgError != null">
          <h4><i class="fa fa-ban"></i> Error!</h4>
          <p>{{msgError}}</p>
        </div>

      </div>
    </div>
  </section>
  <!--Fin Opciones para reporte docente-->
</div>

<section class="box-body form-horizontal" *ngIf="msgError != null && claimSelected == null">
  <div class="callout callout-warning">
    <h4><i class="fa fa-ban"></i> Error!</h4>
    <p>{{msgError}}</p>
  </div>
</section>