<section class="box-body"
      *ngIf="claim.status == backofficeConfigService.OEA_STATUS_NOTE_CLAIM_INVOLVED_AREA && claim.reportTeacher != null">
      <div class="card">
        <div class="header bg-info">
          <h3 class="title">Revisión de informe</h3>
        </div>

        <div class="body">
          <div class="col-md-12">
            <!-- Comentario-->
            <div class="form-group clearfix">
              <label class="col-sm-2 control-label">Comentario</label>
              <div class="col-sm-10">
                <textarea class="form-control mt ng-pristine ng-valid ng-touched" maxlength="200" name="Comentario"
                  placeholder="Comentario..." rows="3" [(ngModel)]="claim.reportTeacher.comment"></textarea>
              </div>
            </div>
            <br>
            <!-- Fin Comentario-->
            <!-- Botones-->
            <div class="form-group">
              <div class="col-sm-12">
                <button type="submit" class="btn btn-primary" (click)="save(true)" [disabled]="!validateBtnSave()">Aceptar informe</button>
                <button type="submit" class="btn btn-danger" (click)="save(false)" [disabled]="!validateBtnSave()">Rechazar informe</button>
              </div>
            </div>
            <!-- Fin Botones-->
          </div>
        </div>
      </div>
    </section>