<req-debts-message [student]="student"></req-debts-message>
<!-- loading -->
<loading *ngIf="documentStatus === 'pre'"></loading>

<div class="box box-warning" *ngIf="documentStatus === 'on'">
  <div class="overlay" *ngIf="loading">
    <i class="fa fa-refresh fa-spin"></i>
  </div>
  <!--Cabecera-->
  <header class="box-header with-border">
    <i class="fa fa-file-text"></i>
    <h3 class="box-title">Creación de solicitud: {{document.name}}</h3>
  </header>

  <!--Mensajes de validacion de documento-->
  <section class="box-body form-horizontal" *ngIf="!document.is_valid">
    <div class="callout callout-danger">
      <h4><i class="fa fa-ban"></i> Error!</h4>
      <p>{{document.stack_error}}</p>
    </div>
  </section>

  <!--Inputs-->
  <section class="box-body form-horizontal" *ngIf="document.is_valid">
    <!--Descripción del documento-->
    <div class="document-description">
      <blockquote>
        Es el documento que acredita que el estudiante culminó sus estudios completos
        (plan de estudios y actividades extracurriculares: prácticas preprofesionales,
        idiomas y proyección social).
        <button class="btn btn-warning btn-xs" (click)="seeDetails=!seeDetails"><i class="fa fa-eye"></i> ver
          detalles</button>
        <button class="btn btn-success btn-xs" (click)="seeDemo=!seeDemo"><i class="fa fa-file"></i> ver
          ejemplo</button>
      </blockquote>
      <div class="row" class="card card-default" *ngIf="seeDetails">
        <div class="col-sm-6">
          <h4>Requisitos</h4>
          <ul>
            <li>Presentar una solicitud (considerar en la sumilla: Constancia de egresado).
            <a href="https://ucontinental.edu.pe/cau/" target="_blank" class="badge bg-primary">Descarga</a> tu solicitud virtual.</li>
            <li>Recibo de pago por constancia de egresado.</li>
          </ul>
          <small>* El pago se efectúa en caja de la Universidad Continental.</small>
        </div>
        <div class="col-sm-6">
          <h4>Consideraciones</h4>
          <ul>
            <li>Presenta la solicitud en los módulos del Centro de Atención y Soluciones.</li>
            <li>La entrega de la constancia de egresado se puede realizar de forma virtual (correo electrónico institucional) o en los módulos del Centro de Atención y Soluciones.</li>
            <li>Para la entrega del documento en los módulos, debes presentar tu DNI, caso contrario una copia simple del DNI del interesado con una carta poder simple.</li>
            <li>El documento será tramitado en tres días hábiles, aproximadamente.</li>
          </ul>
        </div>
        <div class="clearfix"></div>
      </div>
      <div *ngIf="seeDemo" class="text-center">
        <div class="card card-default d-inline-block">
          <img class="img-responsive" [src]="configService._BASE_URI+'Content/static/images/docs/duplicateProofGraduate.jpg'"
            alt="doc">
          <br>
          <button (click)="seeDemo = false" class="btn bg-secondary text-white"><i class="fa fa-times"></i>
            Cerrar</button>
        </div>
      </div>
    </div>
    <!-- Solicito .. -->
    <div class="form-group">
      <label class="col-sm-2 control-label">Solicito</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" value="{{document.name}}" disabled>
      </div>
    </div>

    <!-- options-->
    <div class="form-group">
      <label class="col-sm-2 control-label">
        <i class="fa fa-exclamation-triangle"></i>
        Detalles
      </label>
      <div class="col-sm-10">
        <p> Rellena detalladamente lo que requieres de esta solicitud, y esta será evaluada por el área pertinente.</p>
      </div>
    </div>

    <!-- Monto a pagar-->
    <div class="form-group" *ngIf="type!=2">
      <label class="col-sm-2 control-label">Monto a pagar</label>
      <div class="col-sm-10 text-green form-amount">
        S/ {{document.cost.amount + 1 | number:'2.2-2'}} <br>
        <small> El monto será cargado solo si se acepta la solicitud.</small>
      </div>
    </div>

    <!-- Descripción -->
    <div class="form-group">
      <label class="col-sm-2 control-label">Por el siguiente motivo<br />
        <small *ngIf="description ===  '' || !description" class="text-red form-extra-small">Ingresa motivo de
          solicitud</small>
      </label>
      <div class="col-sm-10">
        <textarea class="form-control mt" rows="3" placeholder="Motivo de la solicitud..." [(ngModel)]="description"
          name="description"></textarea>
      </div>
    </div>

    <!-- mensaje final -->
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        Solicito derivar a quien corresponda.
      </div>
    </div>

    <!-- mensaje de error -->
    <div class="form-group" *ngIf="errorMessage">
      <div class="col-sm-offset-2 col-sm-10">
        <div class="alert alert-danger alert-dismissible">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <h4>
            <i class="icon fa fa-ban"></i> Error!</h4>
            {{errorMessage}}
        </div>
      </div>
    </div>


  </section>

  <!--buttons-->
  <footer class="box-footer text-right">
    <button type="submit" class="btn bg-primary" (click)="createDocument($event)" [disabled]="description ===  '' || !description">Generar solicitud</button>
    <button type="submit" class="btn btn-default">Cancelar</button>
  </footer>


</div>
<div *ngIf="documentStatus === 'post'">
  <abstract-request [student]="student" [document]="document.name" [request]="request" [description]="description">
  </abstract-request>
</div>
