<div class="row pb visible-lg">
  <div class="col-md-6 col-lg-3 text-center">
    <a href="https://estudiantesavp.ucontinental.edu.pe" target="_blank"
       class="d-block text-secondary text-green-h text-bold">
      <i class="fa fa-laptop fa-3x"></i>
      <span class="pl d-inline-block text-left">Aula Virtual <br>Presencial</span>
    </a>
  </div>
  <div class="col-md-6 col-lg-3 text-center">
    <a href="https://aulavirtual.continental.edu.pe/" target="_blank"
       class="d-block text-secondary text-green-h text-bold">
      <i class="fa fa-laptop fa-3x"></i>
      <span class="pl d-inline-block text-left">Aula Virtual <br>Semipresencial</span>
    </a>
  </div>
  <div class="col-md-6 col-lg-3 text-center">
    <a href="https://mail.google.com/a/continental.edu.pe" target="_blank"
       class="d-block text-secondary text-red-h text-bold">
      <i class="fa fa-envelope-o fa-3x"></i>
      <span class="pl d-inline-block text-left">Correo <br>Institucional</span>
    </a>
  </div>
  <div class="col-md-6 col-lg-3 text-center">
    <a href="https://estudiantes.ucontinental.edu.pe/" target="_blank"
       class="d-block text-secondary text-blue-h text-bold">
      <i class="fa fa-university fa-3x"></i>
      <span class="pl d-inline-block text-left">Portal del Estudiante <br>Home</span>
    </a>
  </div>
</div>

<view-notifications [type]="2"></view-notifications>

<div class="row" *ngIf="student">

  <div class="col-md-6 col-lg-4" *ngIf="student.profile.status < configFile.STATE_GRADUATE">
    <a href="../frontdesk/matricula" class="card card-clickable card-module" data-toggle="tooltip" data-placement="top"
       data-original-title="Matrícula">
      <div class="card-module-body">
        <h2 class="title">Matrícula</h2>
        <p class="description">Realiza tu matrícula.</p>
      </div>
      <div class="card-module-ico bg-primary">
        <i class="fc-inquest"></i>
      </div>
      <div class="card-module-footer">
        <h4 class="more-info">
          <i class="fa fa-arrow-circle-right fa-lg"></i>
          <small>Más información</small>
        </h4>
      </div>
    </a>
  </div>

  <div class="col-md-6" [ngClass]="{'col-lg-4': student.profile.status < configFile.STATE_GRADUATE}">
    <a [routerLink]="['vida-academica']" class="card card-clickable card-module" data-toggle="tooltip"
       data-placement="top" data-original-title="Vida académica">
      <div class="card-module-body">
        <h2 class="title">Vida académica</h2>
        <p class="description">Revisa tu estado en la universidad.</p>
      </div>
      <div class="card-module-ico bg-violet">
        <i class="fc-university"></i>
      </div>
      <div class="card-module-footer">
        <h4 class="more-info">
          <i class="fa fa-arrow-circle-right fa-lg"></i>
          <small>Más información</small>
        </h4>
      </div>
    </a>
  </div>

  <div
      [ngClass]="{'col-md-12 col-lg-4': student.profile.status < configFile.STATE_GRADUATE, 'col-md-6':student.profile.status >= configFile.STATE_GRADUATE}"
      *ngIf="student.profile.status > configFile.STATE_POSTULANT">
    <a [routerLink]="['tramite']" class="card card-clickable card-module" data-toggle="tooltip" data-placement="top"
       data-original-title="Trámites">
      <div class="card-module-body">
        <h2 class="title">Trámites</h2>
        <p class="description">Gestiona tus solicitudes.</p>
      </div>
      <div class="card-module-ico bg-orange">
        <i class="fc-request"></i>
      </div>
      <div class="card-module-footer">
        <h4 class="more-info">
          <i class="fa fa-arrow-circle-right fa-lg"></i>
          <small>Más información</small>
        </h4>
      </div>
    </a>
  </div>

</div>

<loading *ngIf="student == null" text="Cargando menús..."></loading>

<student-compliance *ngIf="student != null && student.profile.status > configFile.STATE_POSTULANT"
                    [studentComplianceEnabled]="studentComplianceEnabled"
                    [academicSummaryEnabled]="academicSummaryEnabled"></student-compliance>
