<ul class="sidebar-menu">
  <li class="header">Menú principal</li>
  <li class="active"><a [routerLink]="['frontdesk']"><i class="fa fa-home"></i> <span>Inicio</span></a></li>
  <li class="treeview" *ngFor="let menu of menus">
    <a [routerLink]="['frontdesk/'+menu.uri]" *ngIf="!menu.externalLink">
      <i class="{{menu.icon}}"></i> <span>{{menu.name}}</span><!--  [routerLink]="[menu.uri]" -->
      <span class="pull-right-container">
        <i class="fa fa-angle-left pull-right"></i>
      </span>
    </a>
    <a href="{{ menu.uri }}" target="_blank" *ngIf="menu.externalLink">
      <i class="{{menu.icon}}"></i> <span>{{menu.name}}</span>
      <span class="pull-right-container">
        <i class="fa fa-angle-left pull-right"></i>
      </span>
    </a>
    <ul class="treeview-menu">
      <li *ngFor="let smenu of menu.smenus">
        <a [routerLink]="['frontdesk/'+menu.uri+'/'+smenu.uri]"
          *ngIf="!smenu.externalLink && (menu.uri === 'proyectos-uc' || menu.uri === 'categorias')">
          <i class="{{smenu.icon}}"></i> {{smenu.name}}
        </a>
        <a [href]="'../frontdesk/'+menu.uri+'/'+smenu.uri"
          *ngIf="!smenu.externalLink && (!(menu.uri === 'proyectos-uc' || menu.uri === 'categorias') || menu.uri === 'caja' || menu.uri === 'matricula')">
          <i class="{{smenu.icon}}"></i> {{smenu.name}}
        </a>
        <a href="{{ smenu.uri }}" target="_blank"
          *ngIf="smenu.externalLink && smenu.uri !== 'pry/frontdesk/vida-academica/proyectos-uc'">
          <i class="{{smenu.icon}}"></i> {{smenu.name}}
        </a>
        <a [routerLink]="['frontdesk/vida-academica/proyectos-uc']"
          *ngIf="smenu.externalLink && smenu.uri === 'pry/frontdesk/vida-academica/proyectos-uc'">
          <i class="{{smenu.icon}}"></i> {{smenu.name}}
        </a>
      </li>
    </ul>
  </li>
  <li class="header"></li>
  <li><a [routerLink]="['frontdesk/faq']"><i class="fa fa-question-circle-o text-yellow"></i>
    <span>Preguntas frecuentes</span></a></li>
  <li><a [routerLink]="['frontdesk/wifi']"><i class="fa fa-wifi text-info"></i> <span>Wi-Fi</span></a></li>
</ul>
