<!--
/*
  * view for the stadistic center
  * controller: 'consolidatedCtrl'
  * @author Wanshi R.C.
  * @date 26/05/2016
*/
-->
<section class="panel" ng-init="init()">
  <header class="panel-heading">
    <strong> Egresados</strong>
  </header>
  <div class="panel-body">

    <!----------------------------------------------------------------------------->
    <form class="">
      <div class="form-group">
        <label for="egresoYear">Año de egreso:</label>
        <select class="form-control"  id="egresoYear" ng-model="search_option_last_period" ng-options="period.id  for period in periods_list track by period.id">
        </select>
        <div ng-repeat="(key,value) in search_options" style="display:inline-block;margin-right:10px;margin-top:10px;background-color:#eee;padding:10px">
          <p>{{value.name}}</p>
          <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-sm" ng-class="value.v?'btn-primary':'btn-default'" ng-click="changeSearchOption(key,'v')">
              <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-sm"  ng-class="value.x?'btn-primary':'btn-default'" ng-click="changeSearchOption(key,'x')">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </button>
          </div>
        </div>
        <span class="btn btn-primary" ng-click="searchEgresados()">Buscar</span>
        <button ng-show="students.length" class="btn btn-success btn-lg"  ng-click="table2excel()">Descargar</button>
      </div>
    </form>

    <!----------------------------------------------------------------------------->
    <div class="well">
      <div ng-switch="result">
        <p ng-switch-when="-1" class="text-danger">Hubo un error al recibir los datos. Presione F5.</p>
        <p ng-switch-when="0">Buscando...</p>
        <p ng-switch-when="1">Se encontraron {{cant_results}} registro(s).</p>
        <p ng-switch-default>Esperando datos para la busqueda.</p>
      </div>
    </div>
    <div class="table-responsive">
    <table ng-show="students.length " class="table table-striped table-bordered table-hover" id="table-consolidated" >
      <tr>
        <th>Código</th>
        <th>DNI</th>
        <th>Alumno</th>
        <th>Carrera</th>
        <th>Semestre de ingreso</th>
        <th>Semestre de egreso (Real)</th>
        <th>Semestre de egreso</th>
        <th>Bachiller</th>
        <th>Título</th>
        <th>Proyección</th>
        <th>Idioma</th>
        <th>Práctica</th>

      </tr>
      <tr ng-repeat="student in students" >
        <td class="text-uppercase">{{student.student_id}}</td>
        <td class="text-uppercase">{{student.dni}}</td>
        <td class="text-uppercase">{{student.student_name}}</td>
        <td class="text-uppercase">{{student.school_name}}
          <!-- <span ng-show="student.faculty_id">{{student.faculty_id}}</span> {{student.escuela}}
          <span ng-show="student.school_name">{{student.school_name}}</span> -->
        </td>
        <td class="text-uppercase">{{student.first_semester}}</td>
        <td class="text-uppercase">{{student.last_semester}}</td>
        <td class="text-uppercase">{{student.last_semester | SemesterSunedu}}</td>
        <td class="text-uppercase">
          <span class="hidden">{{student.bachiller}}</span>
          <span ng-show="student.bachiller=='1'"  class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          <span ng-show="student.bachiller!='1'"class="glyphicon glyphicon-remove  " aria-hidden="true"></span>
        </td>
        <td class="text-uppercase">
          <span class="hidden">{{student.degree}}</span>
          <span ng-show="student.degree=='1'"  class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          <span ng-show="student.degree!='1'"  class="glyphicon glyphicon-remove  " aria-hidden="true"></span>
        </td>
        <td>
          <span class="hidden">{{student.social_projection}}</span>
          <span ng-show="student.social_projection=='1'"  class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          <span ng-show="student.social_projection!='1'"  class="glyphicon glyphicon-remove  " aria-hidden="true"></span>
        </td>
        <td>
          <span class="hidden">{{student.language}}</span>
          <span ng-show="student.language=='1'"  class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          <span ng-show="student.language!='1'"  class="glyphicon glyphicon-remove  " aria-hidden="true"></span>
        </td>
        <td>
          <span class="hidden">{{student.practice}}</span>
          <span ng-show="student.practice=='1'" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          <span ng-show="student.practice!='1'" class="glyphicon glyphicon-remove  " aria-hidden="true"></span>
        </td>

      </tr>
    </table>
  </div>
  </div>

  <footer class="panel-footer"></footer>
</section>
