<div class="container-fluid">
  <div class="box box-info">
    <div class="overlay" *ngIf="load === true">
      <i class="fa fa-refresh fa-spin"></i>
    </div>
    <header class="box-header with-border">
      <div>
        <div class="box-tools pull-right" style = "z-index: 1;">
          <a (click)="returnDetailsPage()" class="btn btn-sm btn-default" >
            <i class="fa fa-arrow-left"></i> Regresar</a>
        </div>
      </div>
      <div class="clearfix"></div>
    </header>
    <div class="box-body">
        <h1 class="text-center">Desestimar Reclamo o Queja</h1>

        <div *ngIf="page_claims_book === null || state != config.LDR_STATE_PAGE_PENDING" >
          <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
              Solo se puede desestimar reclamos en estado pendiente.
          </div>
          <input class="form-control btn btn-info " type="button" value="Regresar" (click) = "returnDetailsPage()"/>
        </div>
        <div *ngIf="page_claims_book != null && state === config.LDR_STATE_PAGE_PENDING">
          <fieldset>
            <div class="form-group">
              <label for="unidad">Nota desestimación <span class="text-danger">*</span></label>
              <textarea class="form-control" placeholder="Nota de desestimación" [(ngModel)]="note_dissmised" required  rows="8" cols="80" required></textarea>
            </div>
          </fieldset>
          <div class="alert alert-danger" role="alert" *ngIf="msg_error.length > 0">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
              {{msg_error}}
          </div>
          <section class="">
            <div class="row">
              <div class = "col-md-4"></div>
              <div class = "col-md-2"><button type="button" class="form-control btn btn-info" (click)="dismissedPage()">Desestimar</button><br><br></div>
              <div class = "col-md-2"><button type="button" class="form-control btn btn-info" (click)="returnDetailsPage()">Cancelar</button><br><br></div>
              <div class = "col-md-4"></div>
            </div>
          </section>
        </div>

    </div>
  </div>
</div>
