<div class="box box-default">
  <div class="overlay" *ngIf="load === true">
    <i class="fa fa-refresh fa-spin"></i>
  </div>
  <header class="box-header with-border">
    <div>
      <div class="box-tools pull-right" style = "z-index: 1;">
        <a (click)="returnListPages()" class="btn btn-sm btn-default">
          <i class="fa fa-arrow-left"></i> Regresar</a>
      </div>
      <div class="clearfix"></div>
    </div>

  </header>
<!--================================================detalle======================================================-->
  <ldr-claims-details [page_id]="page_id" (getState)="setStatePage($event)"></ldr-claims-details>
<!--=================================================================================================================-->
<!--================================================Anotaciones======================================================-->
<header class="box-header with-border">
  <h3 class="box-title"><i class="fa fa-file-text"></i> Observaciónes</h3>
</header>
<div class="box-body form" style="display: flex;align-items: center;">
  <div class="col-md-11">

    <div class="form-group">
      <label for="archivo">Persona de quien se estan quejando<span class="text-danger">*</span></label>
      <p-autoComplete [(ngModel)]="collaborator" [suggestions]="list_collaborators" field="nombre" (completeMethod)="filterCollaborators($event)" [dropdown]="false"
          placeholder="Nombres y Apellidos" [minLength]="3" [forceSelection]="false" [required]="true"  inputStyleClass="form-control" styleClass="span100">
          <ng-template let-value pTemplate="item">
            <div class="ui-helper-clearfix" style="border-bottom:1px solid #D5D5D5">
              <img [src]="'api/personal/photo/'+value.employee_pidm" style="width:32px" class="pull-left" alt="xcv"/>
              <div class="p">{{value.nombre}}</div>
            </div>
          </ng-template>
      </p-autoComplete>
    </div>

    <div class="form-group">
      <label for="archivo">¿Se pudo haber evitado?<span class="text-danger">*</span></label><br>
      <p-inputSwitch [(ngModel)]="avoid_state" onLabel="Si" offLabel="No"></p-inputSwitch>
    </div>
    <div class="form-group">
      <label for="archivo">¿Por que?<span class="text-danger">*</span></label><br>
      <textarea [(ngModel)]="description_avoid" class="form-control" name="description_well" maxlength="1000" cols="40" rows="2"
       placeholder="¿Cúal fue el servicio / producto y en qué oficina se encuentra?" required></textarea>
    </div>

  </div>


  <div class="col-md-1 center">
    <button type="button" class="btn btn-primary" (click)="saveObservations()">Guardar</button>
  </div>

</div>
<!--=================================================================================================================-->
<!--================================================Derivación======================================================-->
  <ldr-claims-derivates [page_id]="page_id" [state]="state"></ldr-claims-derivates>
<!--=================================================================================================================-->

<!--================================================Respuesta======================================================-->
  <ldr-answer-claim-book *ngIf="state === config.LDR_STATE_PAGE_RESOLVED || state === config.LDR_STATE_PAGE_FINALIZED" [page_id]="page_id" (getAnswers)="setAnswer($event)"></ldr-answer-claim-book>
<!--=================================================================================================================-->

  <div class="alert alert-danger" role="alert" *ngIf="msg_error.length > 0">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
      {{msg_error}}
  </div>
<!--================================================acciones======================================================-->
  <section class="box-body box-comments" *ngIf="state === config.LDR_STATE_PAGE_PENDING"> <!--PENDIENTES-->
    <div class="box-comment">
      <div class="comment-text row">
        <div class = "col-md-3"></div>
        <div class = "col-md-2"><button type="button" class="form-control btn btn-info" (click)="createDerivation(page_id)">Derivar</button><br><br></div>
        <div class = "col-md-2"><button type="button" class="form-control btn btn-info" (click)="dismissedPage(page_id)">Desestimar</button><br><br></div>
        <div class = "col-md-2"><button type="button" class="form-control btn btn-info" (click)="gotoPageAnswer(page_id)">Responder</button><br><br></div>
        <div class = "col-md-3"></div>
      </div>
    </div>
  </section>
  <section class="box-body box-comments" *ngIf="state === config.LDR_STATE_PAGE_DERIVATED"><!--DERIVADOS-->
    <div class="box-comment">
      <div class="comment-text row">
        <div class = "col-md-3"></div>
        <div class = "col-md-6"><button type="button" class="form-control btn btn-info" (click)="createDerivation(page_id)">Derivar</button><br><br></div>
        <div class = "col-md-3"></div>
      </div>
    </div>
  </section>
  <section class="box-body box-comments" *ngIf="state === config.LDR_STATE_FILE_RESOLVED && answer_id != null"><!--RESUELTOS-->
    <div class="box-comment">
      <div class="comment-text row">
        <div class = "col-md-3"></div>
        <div class = "col-md-3"><button type="button" class="form-control btn btn-info" (click)="acceptAnswerPage()">Aceptar</button><br><br></div>
        <div class = "col-md-3"><button type="button" class="form-control btn btn-info" (click)="rejectAnswerPage()">Rechazar</button><br><br></div>
        <div class = "col-md-3"></div>
      </div>
    </div>
  </section>
<!--==============================================================================================================-->
</div>
