<div class="container-fluid">
  <div class="box box-info">
    <div class="overlay" *ngIf="load === true">
      <i class="fa fa-refresh fa-spin"></i>
    </div>
    <div class="box-body text-center"  *ngIf="saved === true">
      <p>Se Guardó Correctamente</p>
      <button class="btn btn-info" type="button" name="button" (click) = "newPage()">Registrar Nuevo Registro</button>
    </div>
    <div class="box-body"  *ngIf="saved === false">
      <h1 class="text-center">Libro de Reclamaciones</h1>
      <form class="form" (ngSubmit)="addclaims(pageForms, $event)" #pageForms="ngForm" ngNativeValidate>
        <fieldset>
          <div class="form-group">
            <label for="unidad">Unidad</label>
            <select  class="form-control" name="unidad" id="unity_bussines" [(ngModel)]="page_claims_book.page_bussines_unity" required="" >
              <option *ngFor="let bussines of list_unity_bussines" [value]="bussines.idUnidadNegocio">{{bussines.nombre}}</option>
            </select>
          </div>

          <div class="form-group">
            <label for="archivo">Archivo<span class="text-danger">*</span></label>
            <ldr-upload-files #uploader [required]="true" [(isValid)]="file_validate"></ldr-upload-files>
          </div>

          <div class="form-group row">
            <div class="col-sm-6">
              <label for="serie">Número de Hoja<span class="text-danger">*</span></label>
              <input class="form-control col-sm-6" name='number' type="number" id="numeration" placeholder="N° Número" [(ngModel)]="page_claims_book.page_numeration" autofocus required/>
            </div>
            <div class="col-sm-6">
              <label for="full_name">Fecha Registro<span class="text-danger">*</span></label>
              <p-calendar [(ngModel)]="page_claims_book.page_date_create" [locale]="es" dateFormat="dd/mm/yy" [monthNavigator]="true"
                                        [yearNavigator]="true" yearRange="1986:{{wata}}" name="fechaCons"
                                        #fechaCons="ngModel" showButtonBar="true" readonlyInput="true" required
                                        inputStyleClass="form-control" styleClass="span100"
                                        >
              </p-calendar>
            </div>
          </div>
        </fieldset>
        <br>
        <fieldset>
          <legend>1. IDENTIFICACIÓN DEL CONSUMIDOR RECLAMANTE</legend>
            <div class="form-group row">
              <div class="col-sm-6">
                <label for="full_name">Nombres <span class="text-danger">*</span></label>
                <input name='Nombres' type="text" class="form-control" id="first_name" placeholder="Nombres" [(ngModel)]="page_claims_book.page_first_name" required/>
              </div>
              <div class="col-sm-6">
                <label for="full_name">Apellidos <span class="text-danger">*</span></label>
                <input name='apellidos' type="text" class="form-control" id="last_name" placeholder="Apellidos" [(ngModel)]="page_claims_book.page_last_name" required/>
              </div>
            </div>

            <div class="form-group">
              <label for="home">Domicilio <span class="text-danger">*</span></label>
              <input name='domicilio' type="text" class="form-control" id="home" placeholder="Domicilio" [(ngModel)]="page_claims_book.page_home" required/>
            </div>

            <div class="form-group row">
              <div class="col-sm-6">
                <label for="id">DNI/CE <span class="text-danger">*</span></label>
                <input  name="identificacion" type="text" class="form-control" id="identification" placeholder="DNI o CE" [(ngModel)]="page_claims_book.page_identification" required/>
              </div>
              <div class="col-sm-6">
                <label for="phone">Teléfono <span class="text-danger">*</span></label>
                <input name="telefono" type="number" class="form-control" id="phone" placeholder="Teléfono" [(ngModel)]="page_claims_book.page_phone" required/>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-6">
                <label for="email">E-Mail</label>
                <input name="email" type="email" class="form-control" id="email" placeholder="E-Mail" [(ngModel)]="page_claims_book.page_email"/>
              </div>
              <div class="col-sm-6">
                <label for="legal_guardian">Padre o Madre</label>
                <input  name="apoderado"  type="text" class="form-control" id="legal_guardian" placeholder="Padre o madre" [(ngModel)]="page_claims_book.page_legal_guardian" />
              </div>
            </div>
        </fieldset>
        <br>
        <fieldset>
          <legend>2. IDENTIFICACIÓN DEL BIEN CONTRATADO</legend>
          <div class="form-group row">
           <div class="col-md-6">
             <label>
               <input type="radio" id="well_service" value="Servicio"  name="type_well" checked="checked" [(ngModel)]="page_claims_book.page_type_well" required/>Servicio
             </label>
           </div>
           <div class="col-md-6">
             <label>
               <input type="radio" id="well_product" value="Producto" name="type_well" [(ngModel)]="page_claims_book.page_type_well"/>Producto</label>
           </div>
          </div>

          <div class="form-group">
            <label for="description">Descripción <span class="text-danger">*</span></label>
            <textarea  class="form-control" name="description_well" cols="40" rows="2"
             placeholder="¿Cúal fue el servicio / producto y en qué oficina se encuentra?" [(ngModel)]="page_claims_book.page_description_well" required></textarea>
          </div>
        </fieldset>

        <fieldset>
          <legend>3. DETALLE DE LA RECLAMACIÓN</legend>
            <div class="form-group">
              <div class="col-md-6">
                <label>
                  <input type="radio" name="type_claim" id="claim01" value="Reclamo" [(ngModel)]="page_claims_book.page_type_claim" required/>Reclamo <span class="text-danger">*</span><sup>1</sup>
                </label>
              </div>
              <div class="col-md-6">
                <label>
                  <input type="radio" name="type_claim" id="claim02" value="Queja" [(ngModel)]="page_claims_book.page_type_claim"> Queja <span class="text-danger">*</span><sup>2</sup>
                </label>
              </div>
            </div>

            <div class="form-group">
              <label for="detail">Detalle <span class="text-danger">*</span></label>
              <textarea  id = "description_claim" class="form-control" name="detalles" cols="40" rows="2"
              placeholder="Detalla la fecha, hora, lugar y cuéntanos lo sucedido" [(ngModel)]="page_claims_book.page_description_claim" required></textarea>
            </div>
        </fieldset>


        <div class="row">
          <div class="col-md-6">
            <span>1.- RECLAMO: Disconformidad relacionada a los productos o servicios.</span>
          </div>
          <div class="col-md-6">
            <span>2.- QUEJA: Disconformidad no relacionada a los productos o servicios; o, malestar o descontento respecto a la atención al público.</span>
          </div>
        </div>
        <hr>
        <div class="alert alert-danger" role="alert" *ngIf="msg_error.length > 0">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span>
            {{msg_error}}
        </div>
        <input class="form-control btn btn-info " type="submit" value="Guardar"/>
      </form>
    </div>
  </div>
</div>
